[2015-09-15 19:26] codeincarnate commented on #5321
This thread has died down, but I wanted to hop in because it's crucial that Ghost gets this right.  I'm going to talk about why, and then outline an approach that Ghost can take to avoid this.

I've implemented search on many Drupal based sites and it's easy to mess up.  Way back, Drupal devs decided to implement a search solution on top of MySql and it was plagued with problems.  The search resul

[2015-09-15 21:17] codeincarnate commented on #5321
An update to my last comment, I have a _super, super_ basic implementation [here](https://github.com/codeincarnate/Ghost/tree/search-basic).  This doesn't have pluggable backends or anything, just some indexing and the ability to pass in queries at the moment.

[2015-09-15 21:45] CWSpear commented on #5321
@codeincarnate looks like that's a private repo (or maybe just a bad link?) as I got a 404 when trying to visit it.

[2015-09-15 21:47] codeincarnate commented on #5321
@CWSpear Missing an "s" at the end, fixed now!

[2015-09-15 21:53] novaugust commented on #5833
Thanks for pointing that out Connor. I'm pretty confident the removal was an accident, and am looking into it :)

------------

The `.featured` class is still being appropriately applied to the `<li>` representing the post, looks like the css referencing it got cleared out though.

[2015-09-16 12:03] prosenjit-itobuz opened #5842 "Tag descriptions placeholder"
Add placeholder as "content limit 200" or other text. User have to know that this input field has content limit

[2015-09-16 22:18] flpms commented on #5107
I've a problem that I think is related to this issue. When I try install a clone version wich was forked from Ghost, and Ghost itself, I receive a list of troubles. I'll detail more:

My enviroment is a

* Digital Ocean VPS Linux 14.04
* node -v 10.40
* npm -v 1.4.28
* grunt -v 0.1.13

I run the commands for clone and install grunt, after that I run the commands to `npm install` I receive some war

[2015-09-17 02:30] ndaidong commented on #5821
Confirmed. Updating package.json "sqlite3" version from "^3.0.8" to  "^3.1.0" solves installation issue.

![Failed while installing Ghost with Node.js 4.0.0](http://i.imgur.com/gPbh6fL.png)

[2015-09-17 09:32] ErisDS commented on #5107
@flpms This issue only happens if you were upgrading from before we switched over to using ember-cli properly. Warnings can almost always be ignored, your trouble is starting here:

This usually means that the process ran out of memory. Ghost itself doesn't use much memory, but unfortunately the tools used during the install like npm can use a lot. The problem is discussed with solutions here: htt

[2015-09-17 12:03] ErisDS commented on #5808
I've raised a PR which fixes the validation being too strict - just a note that this does need to be fixed at the API level, I'm not sure if that's clear from the issue :)

[2015-09-17 14:12] flpms commented on #5107
Thanks for support @ErisDS was very helpful.

[2015-09-17 18:39] ErisDS opened #5845 "Tag Management UI Updates"
Following on from Zelda, there are a number of improvements and changes surrounding tag management that would be great to do:

### In Settings / Tags:

- [x] Use routes for the tag settings screen. This should work such that each tag has a navigable URL e.g. ghost/settings/tags/getting-started and when navigating to that URL the tag settings menu is already open displaying that post. (#5969)
- [x]

[2015-09-17 18:40] ErisDS commented on #5842
This field should have the countdown indicator as other long form fields do. I've added this as an item in #5845

[2015-09-17 18:40] #5842 closed

[2015-09-17 22:03] feluraschi opened #5846 "Add ZenHub to readme?"
Hey, I'm on the ZenHub.io team. I noticed this repo uses ZenHub task boards to organize issues.

To help contributors know to check the task boards for current priorities, what do you think about adding the ZenHub badge to your ReadMe (or adding a mention to your contributor guidelines)? I'm happy to create a PR. A lot of people don't know ZenHub is free for open-source users :smile:

Thoughts?

[2015-09-18 02:20] novaugust commented on #5845
I'd like to add `<site>/tag/foo` should have a redirect on `<site>/tag/foo/edit` to the new route on the settings screen you're talking about :D

[2015-09-18 02:23] envygeeks opened #5847 "Dependencies out of date."
Ghost still seems to request a very outdated version of node that no longer uses the current semantic version scheme (4.1.0) which results in a warning upon install and SQLite3 is broken on 4.1.0 which can result in a bad build on Alpine Linux.

[2015-09-18 02:32] novaugust commented on #5847
NodeJS 4.0.0 was released ten days ago. I wouldn't quite go so far as to say that makes 0.12 "very outdated"

Anyhoo, this is a duplicate of #5821. Please do a search before creating an issue to avoid creating duplicates. Thanks!

[2015-09-18 02:32] #5847 closed

[2015-09-18 02:35] envygeeks commented on #5847
If it's not the latest version it's very outdated.  Rapid development is rapid, slow development is slow.

[2015-09-18 07:42] ErisDS commented on #5846
Hi @feluraschi, I'm afraid we're not actually using it. I tested out the new version for about 10minutes the other day and have it installed, but we haven't used it properly in over a year.  Worth noting, I scoured the site the other day looking for info on whether it was free for OSS and couldn't find that info :wink:

[2015-09-18 07:42] #5846 closed

[2015-09-18 09:05] JohnONolan commented on #5838
Thanks for the feedback

[2015-09-18 09:05] #5838 closed

[2015-09-18 09:22] JohnONolan commented on #5809
@agh thanks for reporting this. The marketplace is a massive project which requires far more than just thew few things listed here. If you want to go through an compile all the dead links for some cleanup, by all means, but beyond that I'm afraid we're not going to track this in the ghost repo as we don't have resources to work on it at the moment.

[2015-09-18 09:22] #5809 closed

[2015-09-18 09:23] JohnONolan commented on #5804
@kevinansfield it's up to you how to fix this, but it doesn't sound to me like an inherent problem with flexbox. It sounds to me like the editor producing unreliable output so it needs an additional wrapping element to "cushion" it against its flexbox container.

[2015-09-18 09:24] #5816 closed

[2015-09-18 09:26] JohnONolan commented on #5833
This was removed intentionally as the featured-post UI was largely very unhelpful clutter (it's not a feature which is used very much atm). Will be reviewing this again in future to come up with a more comprehensive approach.

[2015-09-18 09:26] #5833 closed

[2015-09-18 09:33] kevinansfield commented on #5804
I've tried that, the problem I've been running into is that everything is % based but the way the browser model works with the current setup is that % width can be influenced by certain children elements without fixed widths which then blows everything out. FF and IE naturally treat this slightly differently to WebKit/Blink and will wilfully ignore % widths/max-widths and calculate based on childr

[2015-09-18 09:59] JohnONolan commented on #5804
what about just making the entire editor a table? or at least divs styled with display:table ? then wouldn't need to define widths, right?

[2015-09-18 10:04] kevinansfield commented on #5804
I'll try all the options again, it's possible I missed the magic incantation that stopped children's widths leaking up the tree.

[2015-09-18 10:08] JohnONolan commented on #5804
or we just forget the `<pre>` bug until the next iteration of the editor
it's hard to guard against invalid HTML with on the fly rendering

[2015-09-18 10:10] schuer commented on #5804
Hotfix: add `width: 1px` to the first section in main.
Successfully tested in FF 42dev, Chrome 45 and IE 11.

<img width="608" alt="screenshot 2015-09-18 12 08 32" src="https://cloud.githubusercontent.com/assets/1297466/9957130/00118184-5dfe-11e5-85c7-ef8dd0972478.png">

[2015-09-18 10:15] kevinansfield commented on #5804
@JohnONolan I think the large images issue is definitely a higher priority, the fix for that is ready as per #5820 although I think IE10 may still have issues.

@schuer Thanks, I'll look into that, do you have any info on why that hotfix works? I generally like to understand what's happening under the hood for layout issues so that we can avoid hacks where possible or at least know what may trip u

[2015-09-18 10:20] schuer commented on #5804
@kevinansfield I can’t explain. It’s just a sort of shrinking flex elements and forcing the browser to recalculate stuff.

[2015-09-18 10:51] kevinansfield commented on #5804
@shuer There's some precedent for the 1px fix here http://stackoverflow.com/questions/8405167/css3-box-flex-box-size-differs-depending-on-inner-content

As per the last answer there I think it essentially boils down to flexing being applied _after_ preferred sizes of the boxes have been calculated (matches the behaviour I've been seeing) and because we were using % widths everywhere the browser do

[2015-09-18 11:03] JohnONolan commented on #5804
sounds good to me, final call is yours @kevinansfield

[2015-09-18 12:23] #5810 closed

[2015-09-18 12:40] #5815 closed

[2015-09-18 12:48] ErisDS commented on #5845
:+1:

[2015-09-18 15:09] acburdine commented on #5845
On that same thread, since authors are also a first-class resource, would it be a good idea to also allow `<site>/author/foo/edit`?

[2015-09-18 17:15] ErisDS commented on #4439
Hi @gazpachu, #5496 is already merged and so is included whenever you check out one of the get helper PRs. If you want to play with the more advanced filter features then I recommend checking out #5608, rather than #5619.

The tag field for adding tags to posts is now under the post settings menu, but you'll need the latest copy of the PRs as it was missing entirely for a while.

I have updated bo

[2015-09-18 17:20] ErisDS commented on #5832
ping @cbanowsky :wink:

There's a bit discussion around a similar issue to this over here: https://github.com/TryGhost/Ghost/issues/5804 Hopefully we've captured the problem and have a fix coming, but without your repro steps we can't be sure. Would be great to hear back from you about this.

[2015-09-18 17:58] ChrisRus commented on #5821
Trying to install the 0.7.0 tagged release on Node v.4.1.0 on CentOS7 DigitalOcean droplet. npm process keeps getting killed leaving no logfile behind. This DO's smallest droplet size I'm attempting to configure. Has anyone else seen this? What are the memory requirements to npm install Ghost?

[2015-09-18 18:09] ChrisRus opened #5849 "Installation/runtime memory requirements?"
I'm trying to set up Ghost from sources on a small 512MB Centos7 x64 droplet on DigitalOcean.

However, I cannot execute npm install because seemingly I run out of memory and Linux kills npn. I believe I've got a swapfile configured on this VPS.

Is this expected? Just what is the minimum configuration required to install/configure/run a baseline Ghost instance?

[code]

Thanks.

P.S. Quick update

[2015-09-18 18:23] cbanowsky commented on #5832
I was running Canary Chrome, since then installed Ubuntu to avoid the
headache of Windows.  I have yet to reproduce and will work on doing so.

On 09/18/2015 10:20 AM, Hannah Wolfe wrote:

[2015-09-18 18:39] ChrisRus commented on #5821
Note that after patching package.json to sqlite3 ^3.1.0 it is also necessary to update the required node version constraint in package.json to eliminate the runtime error on npm start.

[2015-09-18 18:40] sebgie commented on #5849
Closing as duplicate of #5107.

[2015-09-18 18:40] #5849 closed

[2015-09-18 19:41] jgillich commented on #2459
I was not able to reproduce this by creating a `post.hbs~`. So either it got fixed or I'm doing something wrong?

[2015-09-20 08:38] ArekSredzki opened #5850 "meta_description fails inside next_post block helper (async helpers cannot be nested)"
The meta_description helper will fail in an ugly manner if used in the nextPrev block helper.
Being able to use it here is very useful, as one can then select what text is used to promote other articles.
However, if one tries to use it here then an async error occurs which creates multiple ugly problems on the page.

Here's the error:

[code]

[2015-09-20 18:34] gergelyke commented on #5321
@ErisDS any update on this?

[2015-09-21 08:22] RussellUresti commented on #5107
I had a similar issue with 0.6.4 today. I was getting `ENOENT, no such file or directory 'node_modules/ember-cli-ic-ajax/node_modules/'`. Tried emptying out `core/client/node_modules` a few times but got nothing.

I solved the problem by going into `core/client/node_modules/ember-cli-ic-ajax` and doing an `npm install` there, as the `ic-ajax` dependency listed never seemed to get installed. Ran `g

[2015-09-21 13:42] kevinansfield opened #5852 "Bug: Unsaved navigation setting changes are persisted across session"
### Issue Summary

Changes to navigation settings aren't rolled back when navigating away from the navigation settings screen.

### Steps to Reproduce

1. Navigate to navigation settings page
2. Change a label or url
3. Navigate to any other page
4. Navigate back to navigation settings page
5. You'll see that your previous changes are still visible even though you hadn't clicked save

This is pote

[2015-09-21 15:38] kevinansfield opened #5854 "Bug: Pressing enter whilst editing meta title reloads app"
### Issue Summary

When typing in the post meta data title field in post settings, if you press the `enter` key a normal form submission forces the app to reload.

### Steps to Reproduce

1. Navigate to the post meta data settings view
2. Focus the Meta Title input
3. Press `enter`

The enter key event here should be captured and discarded so behaviour is consistent with main post settings menu.

[2015-09-21 16:47] davethemaker commented on #5821
Updating package.json "sqlite3" version to "^3.1.0", and keeping "node": "~0.10.0 || ~0.12.0", I still get the following error:
ERROR: Unsupported version of Node
Ghost needs Node version ~0.10.0 || ~0.12.0 you are using version 4.0.0

Please go to http://nodejs.org to get a supported version

[2015-09-21 17:31] codeincarnate commented on #5321
@ErisDS would love to have some feedback.  My business partner is getting married this weekend, but after that I'm going to have more time to really take a crack at this.

[2015-09-22 03:07] dolonfly opened #5855 "i found some err in "Ghost/core/client/app/html/themes.html""
the stylesheet location you use a absolutely path:
file:///Users/John/Sites/Ghost/core/built/assets/vendor.css
and
file:///Users/John/Sites/Ghost/core/built/assets/ghost.css

[2015-09-22 07:45] n4nagappan commented on #5107
Thanks @ErisDS

[2015-09-22 08:14] ErisDS commented on #5855
Those files are used as the basis to build out other pages in Ember - the asset paths don't need to be correct :wink:

[2015-09-22 08:14] #5855 closed

[2015-09-22 08:17] ErisDS commented on #5821
Sqlite3 is ready, but what hasn't yet been fully tested (or at least no one has yet reported on) is whether the build tool suite and all the dev dependencies are ready yet.

[2015-09-22 08:44] toblerone1963 commented on #5812
Hi,

I may have find a solution.

First I thought using [this technique](http://knolleary.net/2014/01/26/changing-ghost-permalinks-without-breaking-everything/), a bit long and crafty.

But a better solution seems to use [this middleware](https://github.com/saulshanabrook/custom-redirects) to automatically redirect slug starting with new forbidden characters to the new slug.

Sorry, I don't have t

[2015-09-22 10:34] cdupoiron commented on #5837
+1 for the fix :)

[2015-09-22 11:16] karonator opened #5856 "Bug: cyrillic posts trouble after update"
Hi all.
I'm from russia, and I used ghost for my personal blog about ios developement.
Ghost was installed on my own server (debian) and all was cool.

After upgrade to 0.7.0 all my posts (russian characters) were shown like questions.
I opened the database (mysql) and see all my posts in russian, so there was all good in database after update.

Then I tried to copy the text and create the new cyr

[2015-09-22 12:13] mwakerman commented on #5841
Also relevant #5839
@kevinansfield @ErisDS - I was having an issue where my blog is served both secure and unsecure but I want to be able to choose if a nav link sends a user to a https or a http endpoint. There was a bug here which I think I've fixed but it would also not be possible if the DB only stored the relative path.

[2015-09-22 12:31] kevinansfield commented on #5841
@mwakerman I'm curious as to your requirement, could you explain the use case please?

With the changes in #5839, any URLs where the host matches will be stored as relative so that HTTP/HTTPS is determined by the current protocol. This makes sense to me because if a page should be served via HTTPS then that should be enforced higher up the chain with a redirect because simply relying on links to s

[2015-09-22 12:48] mwakerman commented on #5841
@kevinansfield, I agree, the link should use the same protocol as the current page. My fear (should've thought a bit more) was that storing the relative would take people to the unsecured endpoint even from a secured page.

[2015-09-22 12:51] karonator commented on #5856
* Ghost Version: 0.7.0
* Client OS: Mac OS X 10.10.5
* Server OS: Debian 8.2 (Wheezy)
* Node Version: v0.10.22
* Browser: Chrome 45.0.2454.93
* Database: MySQL

[2015-09-22 13:28] cwonrails commented on #5821
@ErisDS I just made an asciicinema of a successful install with node v4.1.0:

<a href="https://asciinema.org/a/26668" target="_blank"><img src="https://asciinema.org/a/26668.png" /></a>

[2015-09-22 17:42] benheb opened #5860 "Upgrading to 0.7.0 leading to 404ing posts"
Hello – I'm wondering if something fundamental changed about how posts are retrieved from the db in 0.7.0? I did the update locally, and everything works great, except when I click to go to an individual post page. The new admin UI works, the homepage list of posts work, /tag works, etc.

However, when I visit /month/day/year/:post I get a 404.

In my configuration, I changed the sqlite3 db "setti

[2015-09-22 19:13] ErisDS commented on #5860
Hi @benheb I'm sorry to hear you're having trouble. I'm not able to reproduce the issue you're describing - I set my permalink setting to `/blog/:year/:month/:day/:slug/` my url in config.js is `http://localhost:2368` and navigating around the blog is working as expected. I even tried reproducing with a post that has the same month & day as shown in your example and am still not getting a 404.

Th

[2015-09-22 19:13] #5860 closed

[2015-09-22 19:23] ErisDS commented on #5856
@karonator Did you upgrade anything else at the same time as Ghost? E.g. Node, Debian, or MySQL?

Where did you see this? In the admin panel or the front of your blog?

What happens if you create a post without copying text?

[2015-09-22 22:45] karonator commented on #5856
Nope =(

In the panel and in the pages

I recorded the video for you, look please: https://youtu.be/_9uh03dbiOM

[2015-09-22 23:20] psvet commented on #5599
@ErisDS — if this is still necessary, I'd like to take it on myself!

[2015-09-23 13:07] ErisDS commented on #5599
@psvet For sure it's still needed :+1:

[2015-09-23 13:20] gsantome opened #5861 "Ghost listener SIGINT"
Hello, I'm using ghost like npm module but I just notice ghost is removing all the listeners for SIGINT and SIGTERM so I need to listen that events too from process... Could some one explain why Ghost remove the listeners and how to solve this?

Thanks

[2015-09-23 13:23] ErisDS commented on #5861
Hi @gsantomesorry to hear you're having trouble. If you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. This is a bug tracker for ongoing development of the Ghost software, and we're not able to do support here!

[2015-09-23 13:23] #5861 closed

[2015-09-23 13:27] acburdine commented on #5373
of note: https://github.com/nodejs/node-v0.x-archive/issues/5108

[2015-09-23 13:49] ErisDS commented on #5856
Due to an incompatibility issue with the knex & MySQL dependencies that Ghost has used since creation I would expect the contents of your MySQL database would likely be double-encoded. This would make them unreadable to you, but still work when fetched and saved in Ghost because the double-encoding is handled in both directions.

In the video, I only see a problem inside the database - which is ex

[2015-09-23 14:24] cdupoiron commented on #5837
Hi again,
I tried to change 'secret' field in clients table in database to be 'not_available' for both admin and frontend but I can't login anymore either. What could i do to fix it? I just received an 401 unauthorized.

[2015-09-23 14:32] leotm commented on #5665
My mistake was grabbing http://nodejs.org/dist/node-latest.tar.gz which was v4.1.1, rather than from https://nodejs.org/dist/latest-v0.12.x/.

[2015-09-23 14:33] ErisDS commented on #5837
One of 3 things:

- change your secret to a valid 12 digit hex string
- apply the patch linked to the original issue #5815 - patch: #5818
- wait for us to release a new version of Ghost and then upgrade again (coming soon).

If you need further support, please drop by our [slack](https://ghost.org/slack) team.

[2015-09-23 15:11] kevinansfield commented on #5841
@ErisDS #5843 should be good to go once tests have confirmed my wonky rebase hasn't broken anything. I've limited it to only Ember changes as it turned into a pretty epic PR and thought the server bits may be best kept separate.

It covers everything in the list apart from the `{{url}}` and `{{current}}` helpers and probably the HTTP vs HTTPS item as I'm assuming that's a server-side issue?

Not s

[2015-09-23 15:31] ErisDS commented on #5841
A large majority of the bugs with `{{url}}` and `{{current}}` and also HTTP/HTTPS were caused by the issue with absolute URLs being stored instead of relative. As soon as we're back to relative URLs then the helpers can figure out what to do next :) Any remaining issues I'll try to patch once this is merged in.

The "alternative scheme, protocol-relative or plain anchor URLs" working properly was

[2015-09-23 15:34] kevinansfield commented on #5841
Those broken URLs pass validation and are handled properly in the admin, it's in the `{{navigation}}` helper where they break. I made a change in `server/config/url.js` that fixes it but I'm not sure what other ramifications that will have, I'll push as a new PR.

[2015-09-23 15:41] ErisDS commented on #5841
Oh that's great - as long as it's all fixed in the UI that's fantastic. If you've got a PR for the url functions that are causing the other side of the problem then cool throw it up :)

[2015-09-23 16:25] #5808 closed

[2015-09-24 01:46] sethbrasile commented on #5321
@codeincarnate if you get into this, feel free to throw some tasks my way if you'd like.

[2015-09-24 04:02] NelsonScott opened #5868 "Editor Preview Is Hidden with Open <pre> Tag"
Took me a little while to figure out why the preview was hidden while editing one of my posts, turns out it was because of an unclosed pre tag.

Reproduce:
On a Mac, Google Chrome
Start editing, then write a pre tag but don't close it.  The preview on the right side will oddly disappear.

[2015-09-24 07:48] ErisDS commented on #5868
Hi @NelsonScott, thanks for raising this - the issue was already discovered & discussed over in https://github.com/TryGhost/Ghost/issues/5804#issuecomment-139917580 - and there is an open PR with a fix #5857 - it would be great if you could test that fix works for you.

[2015-09-24 10:54] ErisDS commented on #5856
Another question: In Chrome, can you try going to the menu at the top and choosing View > Encoding and making sure it's set to UTF-8?

[2015-09-24 11:23] karonator commented on #5856
I not remember, smth like 0.6.4 I think...

Tested in icognito window and in Apple Safari - same story =(

Well, the problem is in the ghost-database magic. For example, I can't use old database (utf8 encoded) with all my old posts (((
I'm afraid that if I will use ghost now, it will save posts good but there will be wrong data in database, and in one day when you will fox thos issue,  I'll need t

[2015-09-24 12:00] ErisDS commented on #5856
@karonator - I don't think access to your server is going to help, as it is not yet clear what has happened or if there is an issue - we're talking about it in #dev in Slack if you'd like to come and help us understand fully.

[2015-09-24 13:05] ericrange opened #5869 "Ghost.org Download Url"
Hey why is the ghost download page reachable under:

[https://ghost.org/download+"*></](https://ghost.org/download+"*></)

?

[2015-09-24 13:13] sebgie commented on #5869
Hey, it works for me ... maybe use https://ghost.org/download/ if the special characters cause problems ;-).

[2015-09-24 13:13] #5869 closed

[2015-09-24 13:29] ericrange commented on #5869
i just was wondering that the site appears even though the special characters in the url?
why is there no 404?

[2015-09-24 13:36] sebgie commented on #5869
I see, I'll raise this issue internally :+1:.

[2015-09-24 17:30] #5812 closed

[2015-09-24 17:31] ErisDS commented on #5812
closed by c0b5de6 / #5866

[2015-09-24 23:05] codeincarnate commented on #5321
@sethbrasile That's a very generous offer and I'll definitely do so. Hoping to get some feedback from @ErisDS before taking a deep dive into this.

[2015-09-25 07:23] ErisDS commented on #5821
I'm tracking this: https://github.com/strongloop/express/issues/2754

[2015-09-25 07:28] ErisDS opened #5872 "Client secrets are not set correctly for new blogs"
When creating a brand new blog with 0.7.0, the client secrets are set to `not_available`. They should be a random 12-digit hex string.

Migrations from previous versions end up with correct secrets.

I've tested this on SQLite3 a few times.

### Steps to Reproduce

1. clear your existing DB - either by dropping tables or deleting the *.db file
2. start Ghost
3. look at the client table

### Techni

[2015-09-25 08:08] #5804 closed

[2015-09-25 10:00] sebgie opened #5873 "Bug: SSL redirects"
### Issue Summary

Automatic SSL redirects show wrong behaviour under certain circumstanced (see examples).

### Steps to Reproduce

config.js:
- `forceAdminSSL: true`
- `url: http://domain.com/blog/`

Visit: `http://domain.com/blog/ghost`
Redirect: `https://domain.com/blog/blog/ghost`
Expected: `https://domain.com/blog/ghost`

config.js:
- `forceAdminSSL: true`
- `url: http://domain.com/`

Visit:

[2015-09-25 19:07] #5873 closed

[2015-09-25 20:57] psvet commented on #5599
@ErisDS, a few questions:

I have the basic `409 Conflict` working by checking `updated_at`, but so far not checking which information has changed. For that implementation, which attributes do you want to be checked? The priority is probably the actual post text, but what about other editable content (`status`, `title`, `slug`, etc.)? And in the case of multiple conflicting attributes, how detaile

[2015-09-25 22:23] ErisDS commented on #5321
@codeincarnate thanks for the enormous writeup, and apologies for taking a while to digest it.

It seems to me that, providing that we can have a non-binary/in-memory dependency as the default, this approach looks like it may be a great solution.

Having a node-pre-gyp wrapper for the binary version is very desirable, even if it's not the default. I would recommend that we avoid having another def

[2015-09-26 01:54] NelsonScott commented on #5868
That solved it, thanks!

[2015-09-26 01:54] #5868 closed

[2015-09-26 04:00] jberkus opened #5878 "Postgres is fully supported; update docs?"
Currently the Config doc has the following to say:

Ghost works fine with PostgreSQL, 100% of functionality works, and all tests pass.  I run two sites on Ghost/Postgres, so I'll notice pretty quickly if it breaks.  Can we update the documentation?

[2015-09-26 04:30] adamcavendish opened #5879 "Post's Date Editor is terrible to use"
It does not have a date selector widget, and raw typing is also very badly interactive.

[2015-09-26 05:22] biyanpasau opened #5880 "Bug: Tag Cover Image Doesn't Save"
Ghost 0.7 Localhost - Cover image upload form on "Tags" page doesnt seem to work. Tried uploading one but it didn't save. I have checked the content folder and yes, the image is in there, it just did save on front-end.

[2015-09-26 08:38] ErisDS commented on #5879
We are aware of an issue with the date input and are working on a fix.

[2015-09-26 08:38] #5879 closed

[2015-09-26 09:02] ErisDS commented on #5878
This was discussed very recently in [slack](https://ghost.slack.com/archives/dev/p1441702359000075), and the docs were updated to clarify our position as a result of that discussion, just a few weeks ago.

No member of the core team, or aspect of Ghost's infrastructure depends on postgres in production, meaning it is not tested or even understood to the same level. This is particularly a problem g

[2015-09-26 09:07] ErisDS commented on #5880
Hi @biyanpasau, sorry to hear you're having trouble. I'm afraid I'm not able to reproduce this issue.

Please can you update your bug report to use the [bug report template](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#bugs) in our [contributing guidelines](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md) - being sure to include any other relevant details like if you

[2015-09-26 14:03] sodbileg commented on #4439
Hello. How is this going? I'm currently developing a theme for Envato Ghost Theme Contest and would like to know the status.

[2015-09-27 01:13] garethbult commented on #4588
I'm using 0.7, and I've deleted a page .. yet it's still appearing in the sitemap index and Google is reporting it as a 404 .. anyone know how I stop it from appearing in sitemap-pages.xml?

[2015-09-27 05:00] tonyeung opened #5882 "the gravatar placeholder still shows up if the image has transparency"
I'm not sure if this is the case on the hosted version, but the self hosted version shows my gravatar superimposed on top of the placeholder image.
![capture](https://cloud.githubusercontent.com/assets/1285514/10121300/b7dfb2b0-64aa-11e5-8892-ad85d69183b3.PNG)

[2015-09-27 05:00] tonyeung commented on #5882
might be related to this issue: https://github.com/TryGhost/Ghost/issues/5797

[2015-09-27 06:20] YY030913 opened #5883 "when i use forever start,the process not start and this log"
[31mERROR: Cannot find the configuration for the current NODE_ENV: production forever start index.js[0m

error: Forever detected script exited with code: 0

[2015-09-27 09:35] ErisDS commented on #5883
Hi @YY030913, sorry to hear you're having trouble, sounds like your config.js file is missing. If you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. This is a bug tracker for ongoing development of the Ghost software, and we're not able to do support here!

[2015-09-27 09:35] #5883 closed

[2015-09-27 10:38] YY030913 commented on #5883
oh no,i fix it,i use
set NODE_ENV=production
clear the NODE_ENV var,then the forever start index.js success
pre is
set NODE_ENV=production forever start index.js
but i still unknow what happened when i set NODE_ENV=production forever start index.js

[2015-09-27 12:37] ErisDS commented on #5841
Notes from the PR that was merged:

I think the current helper probably needs to be addressed slightly differently - I've been looking at how to make some changes to how the theme side of things work so that this is more consistent as part of fixing #5162.

[2015-09-27 12:50] ErisDS commented on #5801
This was fixed by #5843 / 5208970

[2015-09-27 12:50] #5801 closed

[2015-09-27 12:50] #5872 closed

[2015-09-27 13:03] #5854 closed

[2015-09-27 14:09] ErisDS opened #5884 "Validation Regression: Green icons on signin"
The `hasValidation` fix either regressed or never quite worked properly for signin:

![](http://puu.sh/kq05s.png)

It's still working OK on setup, haven't checked signup.

Icons should be grey until validation has happened, in which case they should go green or red depending on the outcome.

Update: wait, I'm seeing this on signin too now :(

[2015-09-27 17:28] javorszky opened #5885 "grunt test will not stop if no file is provided"
Running `grunt test` without adding a filename will cause Grunt to print that no tests are provided, but then try to run the test file anyway. It will run into an undefined error where the path to the test file can not be resolved since it's missing.

Ghost: https://github.com/TryGhost/Ghost/commit/769d6bfe13ec319e2e14e1f9fa4573aeddfe5b69
OS: Mac OSX
node: 0.12.2
npm: 2.7.4

[2015-09-27 17:28] javorszky commented on #5885
PR incoming

[2015-09-27 18:37] ErisDS opened #5887 "Serve 404s for static files more gracefully"
Currently, Ghost doesn't do the greatest job of handling static files that don't exist.

If a file isn't found at a location, the `serveStatic` middleware in express calls `next()` to pass the request through to the next middleware. The noticeable result from this, is that the slashes middleware will 301 the filename to have a slash on the end, the uncapitalise middleware will lowercase the filena

[2015-09-27 18:53] ErisDS commented on #5887
P.S. I have an incoming PR for this :grin:

[2015-09-27 20:38] djensen47 opened #5889 "Remove the word "sexy" from the UI"
I cringe every time I read this. It is unprofessional and it is borderline if not completely sexist.

I don't want to upload a _sexy_ logo, I just want to upload **my** logo. The phrase works just fine without the unnecessary adjective:

[2015-09-27 20:43] djensen47 commented on #5889
http://notapattern.net/2014/10/14/ways-men-in-tech-are-unintentionally-sexist/

From #5:

[2015-09-27 21:21] JohnONolan commented on #5889
If you think "sexy" is "sexist" then I'm pretty certain you don't understand the meaning of either one of those words. Further reading: http://www.theatlantic.com/magazine/archive/2015/09/the-coddling-of-the-american-mind/399356/

[2015-09-27 21:21] #5889 closed

[2015-09-27 21:29] djensen47 commented on #5889
Why is it such a big deal to remove this word?

[2015-09-27 21:31] JohnONolan commented on #5889
There's no way you read what I linked to in the space of 8 minutes – which explains precisely the answer to that question. So if you don't respect my time, why should I respect yours?

[2015-09-27 21:45] Techwraith commented on #5889
We, I have read the article. You're entitled to your opinion on this, but your reaction to this change makes me wonder what the goal of Ghost is.

Is Ghost trying to be a simple publishing platform that allows everyone to share their stories with the world? Or is Ghost trying to be a simple publishing platform that allows some people to share their stories with the world?

Making interfaces more i

[2015-09-27 22:02] djensen47 commented on #5889
I did read the article.

I think it is possible for us to have a polite and productive conversation about this. But I would prefer that we leave out the ad hominem, adversarial tone.

I didn't want to start an argument, all I really wanted to do was remove a word from the UI. For that matter, _any_ adjective in that phrase is extraneous. Even "Display an awesome logo for your publication" should s

[2015-09-27 22:21] JohnONolan commented on #5889
While I completely respect your opinion, I don't agree with either your premise or your conclusions – which is fine – we don't always have to agree.

[2015-09-27 23:16] djensen47 commented on #5889
Would it be possible to hear from the top/lead contributor @ErisDS on this? #justcurious

[2015-09-27 23:29] Murilirum commented on #5889
For what it's worth, I completely disagree that this should be removed.

I got a good chuckle, and while Ghost is very much a professionally used
platform, there actually isn't a clear cut definition for what
'professional' entails. If you have ever worked for the back-end of an
extremely large company, you'd realize that they comments, methods and
array names typically have something quirky (such

[2015-09-28 04:47] rhester72 commented on #5889
To be frank, this is at least the second instance where I've seen the Ghost group present the product (and by extension, themselves) as rather unprofessional.  That isn't intended to offend as much as it is to inform - to give you an outsider's perspective on how things can come across.

I get the desire to seem 'edgy'.  I lived through the .com boom and bust, and I understand the desire to stand

[2015-09-28 05:02] MrSchism commented on #5889
Frankly, I think the use of the adjective adds a sort of quirkiness to the platform.  Many newer platforms are being descriptive and make the platform seem more human in dialog.  I'm going to agree that the term "sexy" is not sexist.  In fact, if you look at the [Merriam Webster definition][1] you'll see that it doesn't have to mean anything sexual.

For what it's worth, if you think this is bad,

[2015-09-28 07:50] smasher164 commented on #1405
I'm having trouble with browser caching of my assets. Because browsers don't cache files with a query string `?v=`, I think a possible fix would be to rev the file names differently. Instead of `mylogo.gif?v=1.2`, we should use `mylogo.1.2.gif`. This provides both the advantage of cache busting, as well as proxy caching of assets.

Looking through the helpers/ directory, `Ghost/core/server/helpers

[2015-09-28 09:41] yanntech opened #5891 "Unable to upgrade ghost with postgresql"
Hi,

I'm unable to upgrade ghost from 0.6.4 to 0.7.
My ghost config: ghost 0.6.4 with official docker image and PostgreSQL.

My error message in debug mode (debug: true in databases):

[code]

Regards

[2015-09-28 21:33] schuer commented on #5835
That is expected behaviour, caused by the grey image wrapper. What’s so bad about it?

[2015-09-28 22:02] mikeyakimenko opened #5893 "Manage loop. Get first post, and start loop from second.."
Hello. I want create my own design, but don't know how.

by first, i want create on index page 1st post full text, and 5 next posts titles only and archive url. Also live example: http://macgera.name/

But i did't find in documentation how do this. Can i do something like foreach posts[1] or foreach posts[2:6] ?

[2015-09-28 22:58] jberkus commented on #5878
Well, what can I do?  I'm happy to look at GH issues and answer questions, but I don't generally log into Slack on a daily basis, so I can't promise to field questions there.

[2015-09-29 08:00] kevinansfield commented on #5659
Can this one be closed now? I haven't seen any of the console errors lately other than the `rootElement` one which we know is caused by running the ember tests at the same time.

[2015-09-29 08:37] halfdan commented on #5893
Hi @macgera
The theme docs show how to do this: http://support.ghost.org/ghost-built-helpers/#@first-&-@last

We use Github for tracking issues and cannot provide support here. For future support please head over to our Slack community: https://ghost.org/slack/

[2015-09-29 08:44] ekollof opened #5895 "Image upload in new post does not work."
When uploading an image to a new post, the waiting cat appears, but no image does. The image does arrive on the server. I'm running Ghost 0.7.1 on FreeBSD 10.2 with MariaDB as a backend. The browser is Chrome.

Screencast of problem in action here:

https://drive.google.com/file/d/0B5MzsgMZ9IeFaFhHNDl1NF9HVVU/view

[2015-09-29 10:14] halfdan commented on #5895
@ekollof Hi there, for support please check out our Slack community: http://ghost.org/slack.

In your case I'm guessing that Ghost does not have write permission to the `content/images/` folder - you may want to check permissions on the folder.

[2015-09-29 10:17] ekollof commented on #5895
Permissions are fine. I can get to the images from the browser by using the full url. The image upload does not seem to insert the image path into the image tag after uploading.

[2015-09-29 14:11] willthefirst opened #5898 "{{#if featured}} does not render post that is both featured and a static page"
I'm trying to display a featured post that also happens to be a static page:

![2015-09-29 at 10 07 am](https://cloud.githubusercontent.com/assets/1113314/10166423/eedd1aee-6691-11e5-9650-1fa80290d64a.png)

and using the following code in `index.hbs`:

    {{#foreach posts}}
        {{#if featured}}
            {{content}}
        {{/if}}
    {{/foreach}}

Nothing gets rendered, but as soon as I u

[2015-09-29 14:28] willthefirst commented on #5898
I've learned that `#foreach posts` does not search through static pages. I'll try to find another way.

[2015-09-29 14:28] #5898 closed

[2015-09-29 20:24] #5893 closed

[2015-09-29 20:24] ErisDS commented on #5659
:+1:

[2015-09-29 20:24] #5659 closed

[2015-09-29 20:33] ErisDS commented on #5895
Hi @ekollof, I'm sorry to hear you're having trouble. The issue you're describing is not a bug in Ghost, but is rather likely caused by some detail of your quite specialised env. If you need help debugging the issue, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. This is a bug tracker for ongoing development of the Ghost software, and we're not able to do

[2015-09-29 20:33] #5895 closed

[2015-09-29 21:05] #5885 closed

[2015-09-29 21:10] ErisDS commented on #5878
That would be great :) The more the merrier always.

[2015-09-29 21:12] jberkus commented on #5878
Feh, looks like logging into Slack is a PITA because of conflicting Slack accounts I have with clients.  I don't suppose you could open up the Slack-to-IRC gateway?

Regardless, searching issues now ...

[2015-09-29 21:15] ErisDS commented on #5878
I use slack with multiple teams - once you have them logged in it should be straightforward to switch between them. We would love to turn on the IRC gateway, but slack doesn't allow us to do that with guest accounts - dropping them an email and adding your voice to the list of many people who have asked for that may be a good idea.

[2015-09-29 21:23] jberkus commented on #5321
PostgreSQL Expert, JS neophyte here, just putting in:

For Postgres, at least, full text search can be added in ways which are invisible to the user, and which work fine with backup/restore.  Further, if you only support simple boolean operations (i.e. AND/OR words) and don't support more complex operators, it's trivially easy to write a library which would convert user-obvious syntax into the syn

[2015-09-29 21:28] jberkus commented on #5321
The main reason to support SQL-based FTS would be in order to support large websites with several GB of text to search.  Does anyone even use Ghost for that?

[2015-09-29 21:40] jberkus commented on #5878
The problem isn't multiple teams, it's multiple *accounts*.  That's unsupported, except via the IRC gateway.

[2015-09-29 22:00] codeincarnate commented on #5321
@jberkus Awesome run down in terms of Postgres.  For the most part, many people are likely to be running Ghost on a small blog and there's probably not going to be more than 100mb of text or so and even that is probably an over-estimation.

From the perspective of ghost, it can run on top of MySql, Postgres, or Sqlite.  In terms of search, MySql is likely the one to hold it back.  More than that h

[2015-09-29 22:12] jberkus commented on #5321
Yeah, seems like a good approach. If you make it pluggable, I might write the PostgreSQL backend.

[2015-09-29 22:16] jberkus commented on #5891
See dicussion on related PR.  There's an easy fix for this, but we need to figure out if we want the easy fix.

[2015-09-29 22:16] jberkus commented on #5878
Anyway, in the meantime, please tag me on any PostgreSQL issues which I might miss.

[2015-09-29 22:21] codeincarnate commented on #5321
@ErisDS thanks for the feedback!

I'm going to look into the image storage and how all that works.  For reference, where is the code that implements that?

As far as levi vs search-index, I suppose I don't have a strong pull towards one or the other.  I'd mostly be interested in testing both and see how they fare both in terms of performance and in terms of search accuracy.  They're quite similar,

[2015-09-29 22:45] CWSpear commented on #5321
I believe there's been talk of dropping Postgres support, by the way.

Also, I don't think it's been discussed, and it may not be viable for this use-case, but I think it's definitely worth mentioning: there are search-as-a-service options available, such as [Algolia](https://www.algolia.com/). While some obvious cons, a major pro would be that (if you had an account), it'd work out of the box on

[2015-09-29 22:48] jberkus commented on #5321
@CWSpear

Yes, that's why I got involved.

[2015-09-29 22:48] CWSpear commented on #5321
I mean dropping Postgres altogether. No (official) support for Postgres anything for Ghost.

[2015-09-29 22:50] jberkus commented on #5878
Oh, I suppose this isn't open for the time being.

[2015-09-29 22:50] #5878 closed

[2015-09-29 22:50] jberkus commented on #5321
Yes, I know, see #5878.

[2015-09-29 23:23] smandell opened #5901 "Font Smoothing flickers when auto-savings on OS X and Safari"
OS: OS X 10.10
Browser: Safari

When editing or composing a new post, whenever an auto-save draft is triggered the font-smoothing goes away and all the text appears thinner (see screenshot). This causes the text to flicker every time that a draft is saved. It's a very distracting experience.

(the flicker happens at the end of the gift, maybe 15-20 seconds in).
![ghost_draft_bug](https://cloud.git

[2015-09-30 09:19] halfdan commented on #5321
@CWSpear The discussion is about dropping **official** support and leaving it up to the community to keep psql supported.

[2015-09-30 13:57] novaugust opened #5903 "Clear "saving failed" notifications on reauthentication"
### Issue Summary

Leaving a tab open until your session expires will cause your next save to fail (duh!), throwing up an error message and asking you to reauthenticate.
After having done so, the "saving failed" error messages stick around. It would sure be nice if they were cleared out after a successful login.

<img width="1476" alt="screen shot 2015-09-30 at 07 53 02" src="https://cloud.githubu

[2015-09-30 15:26] CWSpear commented on #5321
Alright, just making sure we were all aware =)

[2015-09-30 15:54] jberkus commented on #5321
<--- the community (plus, y'know, some other folks)

[2015-09-30 23:19] azat-co opened #5904 "Question: is there an online course plugin?"
If not, how hard is it to hack one together similar to CoursePress for WP?

[2015-10-01 01:01] novaugust commented on #5904
Hey @azat-co, we use GitHub issues for tracking development (features, bugs) on Ghost. Your question is more suited to our [slack community](https://ghost.org/slack/). Please use it for any future questions!

I can go ahead and answer this easy enough though: Ghost doesn't support plugins at this time (beyond a rudimentary prototype, anyways) and so no, there is no online course plugin

[2015-10-01 01:01] #5904 closed

[2015-10-01 08:37] delgermurun commented on #5286
Looks like this issue's checklist haven't updated quite a while or has it done already?

[2015-10-01 13:15] ErisDS opened #5905 "Pages or posts called `/author/` throw an error"
Yep, so, that happens!

Most of the possible 'special' urls in Ghost, like `/tag/` were set as  [reserve urls](https://github.com/TryGhost/Ghost/blob/0.7.1/core/server/config/index.js#L215), except we put `user` and `users` in instead of `author` or `authors` in that list.

This means that it's not possible to create a page or post called 'tag' but it **is** possible to create one called 'author'.

[2015-10-01 14:02] Kikobeats opened #5906 "configurable template"
I didn't find a way to do it and I think that could be powerful for develop more complete themes.

Imagine that you have a structure of your posts in a common file called `post.hb` but, instead of stay here, you have a file called `grid.hbs`

For visualize your posts need a `post.hbs` file, so let's create one and load the template structure as:

[code]

Now, in another part of your theme (for exa

[2015-10-01 17:25] lcamacho commented on #5901
I can't reproduce this bug on master

[2015-10-01 17:46] lcamacho commented on #5822
This is a problem with the regexp that showdown-ghost uses, @ErisDS are you going to change to showdownjs in the near future?

[2015-10-01 20:56] joelgriffith commented on #5829
Root case: https://github.com/simplabs/ember-cli-simple-auth/issues/38

[2015-10-01 22:54] dbhowell commented on #5901
This is because the save button spinner is using a transform in the animation. Adding "-webkit-transform: translate3d(0,0,0)" to the rendered-markdown will stop the flickering, however it will also change the appearance of the rendered text to the lighter weight. Googling "safari translate3d text flicker" will return a lot of results around this.

[2015-10-02 02:34] djensen47 commented on #5345
One thing I would like to see is support for non-standard locales especially for [pseudolocalization](https://en.wikipedia.org/wiki/Pseudolocalization). Another use case could be modifying the helper text in the UI. An enterprise might want to deploy Ghost internally and use slightly different instructions/terms.

[2015-10-02 03:23] bohanyang opened #5908 "Blog cover display of setting page is too large on the IE11 Windows Phone 8.1"

[2015-10-02 05:18] k-j-kleist commented on #2459
I had forgotten about this issue, and was recently almost driven mad by the behavior of Ghost.

I was editing  `.../my-theme/partials/loop.hbs` but the rendered page was not modified, although I run Ghost in development mode. And yes, I cleared my browser cache. And I restarted Ghost, to no avail. As if the handlebars engine would cache the partial in some odd filesystem directory.

Guess which ed

[2015-10-02 14:27] Deborah-Digges commented on #4175
@sgoodwin @javorszky Is someone working on this right now?

[2015-10-02 14:42] kevinansfield commented on #5908
Hi @bohanyang, can you provide a screenshot please? Also let us know your Ghost version and any other details that may be relevant. Thanks.

[2015-10-02 15:57] k-j-kleist opened #5910 "[docs] Themes docs lack information about {{id}}"
The theming documentation at http://themes.ghost.org is excellent. However, it does not cover the `{{id}}` helper, which renders the numeric id of a posting.

In line with `http://themes.ghost.org/docs/title`, it could be made available at `http://themes.ghost.org/docs/id`.

[2015-10-02 16:11] novaugust commented on #5910
There isn't actually an `{{id}}` helper. You're actually just accessing the data directly, presumably with a `{{#with post}}` block. Check the first line here on [post attributes](http://themes.ghost.org/docs/post-context#section-post-object-attributes)

[2015-10-02 16:11] #5910 closed

[2015-10-02 16:11] ErisDS commented on #5910
Hi @k-j-kleist, thank you for the feedback! The reason there is no documentation for the `{{id}}` under helpers, is that it isn't a 'helper' but rather just a piece of data - an attribute. Helpers are like functions that execute some logic, data attributes are more like variables they just output data directly - there are many of them, but they each belong to an object - `{{id}}` exists for posts,

[2015-10-02 16:13] k-j-kleist commented on #5910
Wow, that was quick. Thanks!

[2015-10-02 16:29] mike182uk commented on #5321
Hey guys, just thought i'd chime with something i had been playing about with: https://github.com/mike182uk/Ghost/pull/1 (raised a PR on my own fork, just to make it easier to see what is going on and what changes i've made).

I have basically taken the same approach discussed above with having pluggable backends (strategies). My example shows how posts can be searched using Lunr as a strategy.

Y

[2015-10-02 18:58] azat-co commented on #5904
no plugins? WAT? ;-(

[2015-10-02 20:02] codeincarnate commented on #5321
@mike182uk cool!  I've taken a look at the code and it's broadly similar to what I've been doing.  I'm not sure how good of an idea it is to call it a strategy, and there is definitely more that needs to be done in terms of loading the index on startup for instance.  I'll look at it more in depth over the weekend.

[2015-10-03 13:10] Ba5nanas commented on #4439
i need offset of post

[2015-10-03 22:36] nevi-me opened #5911 "Cannot find module node-v44-win32-x64\node_sqlite3.node"
When running Ghost I get an error about a node_sqlite3 module not found

### Issue Summary

I've been getting an error on Windows 8 & 10 since Ghost@0.5.x about a node_sqlite3 module not found. I am using Ghost as middleware on Express.js. I've tried looking at solutions on the net, but it hasn't worked. I upgraded to Ghost@latest[0.7.1] to see if problem goes away, but it still persists.

### Ste

[2015-10-04 01:04] oddjobz opened #5913 "Bug: deleted entries not removed from sitemap"
### Issue Summary

When I delete entries (or make posts static) these URL's cease to work (as expected) but are still included in the sitemap.

### Steps to Reproduce

1. Create a page
2. View sitemap
3. Delete the page
4. View sitemap - page index is still visible
5. Attempt to click on link and visit page results in 404

1. Create port
2. View sitemap
3. Convert post to static page
4. View sitem

[2015-10-04 07:27] ErisDS commented on #5911
Hi @nevi-mesorry to hear you're having trouble installing Ghost. This is an environment issue, where `npm install` is not completing successfully, which can happen for a number of reasons. If you'd like help working through debugging errors from your `npm install`, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. This is a bug tracker for ongoing development

[2015-10-04 07:27] #5911 closed

[2015-10-04 10:52] delgermurun commented on #4577
I sent PR on it #5909

[2015-10-04 11:30] Patagonicus opened #5914 "redirect loop when password protecting blog at example.com/private/"
I've set up an instance of Ghost behind nginx as a reverse proxy. Ghost can be reached under `example.com/private/` (so the admin interface is at `example.com/private/ghost/`). The nginx config looks like this:

        location ~ ^/private(/.*)?$ {
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header Host $http_host;
                proxy_pass http://127.0.0.1

[2015-10-04 13:44] nevi-me commented on #5911
Thanks @ErisDS, I traced the error back to sqlite, and though it downloads a binary and stores it under  `ghost\node_modules\sqlite3\lib\binding\node-v14-win32-x64\node_sqlite3.node`, a lookup to where the binary is returns `ghost\node_modules\sqlite3\lib\binding\node-v44-win32-x64\node_sqlite3.node`. Difference being the v14 vs. v44. Would it also help if I post a bug on mapbox/node-sqlite3?

[2015-10-04 15:37] Faber73 opened #5915 "Permalinks problem"
Hello to everyone,
I've customized the permalinks of my blog, like "/:id/:slug.html", manually on DB and I've set "false" the slashes in the middleware.

Now all working fine, except the admin panel link. Admin working if I going manually to set the full link, like "/ghost/signin/", but not if i wrote simple "/ghost/". In the logs I find a redirect ping-pong :

[code]

how to fix it ?

thank you i

[2015-10-04 18:36] jberkus commented on #5321
What will the search queries look like?

[2015-10-04 18:39] jberkus commented on #586
SQLite's transactional DDL supports multistatement DDL, if that's what you're asking.

[2015-10-05 02:47] ThienNguyenMinh commented on #4439
Hi,
I am deverloper. I am really looking forward to this feature.

[2015-10-05 08:28] mike182uk commented on #5321
@jberkus with the approach i've taken, the main query is altered to use `WHERE uuid IN (<uuid>, <uuid>, <uuid>)`. This means that an external system (i.e lunr, solr, algolia) would return the UUIDs of documents that matched the query, then these are passed through to the query that retrieves the data from the db

@codeincarnate I called them strategies as its the [strategy pattern](https://en.wiki

[2015-10-05 11:00] dschwertfeger commented on #5597
I ran into the same issue today.

I'm using Ghost as an npm module in an existing Express app. In my Express app I use `multer`.

I noticed that the `file` event was never fired, so I never got into the `busboy.on('file', function onFile(fieldname, file, filename, encoding, mimetype) { … }` code path which would create the `uploadimage` object as you describe.

Mounting the `ghost` middleware befo

[2015-10-05 11:04] ErisDS opened #5917 "Editor scroll jumps when adding / removing images"
The current Ghost editor has an issue where the right preview pane jumps around annoyingly when adding or removing images.

The issue only occurs when the right pane is being scrolled independently of the left pane.

### Steps to Reproduce

1. Open a post that is longer than the editor, E.g. the welcome to Ghost or you've been upgraded posts.
2. Scroll the right pane only, to a point where there i

[2015-10-05 13:20] flip111 opened #5918 "Editor scroll, panes not in sync"
When having a lot of url's in markdown, the html in the right pane does not line up anymore with what you are writing in the left pane (markdown).

[2015-10-05 13:28] javorszky commented on #5918
Hi @flip111, and welcome to Ghost's github repo.

Is the behaviour similar to this one? https://github.com/TryGhost/Ghost/issues/5917

If yes, I'd close this. If not, can you expand a bit on how to reproduce your issue? There's a template you can use to report bugs over at the [contributing.md](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#bugs) of the project :)

[2015-10-05 13:51] flip111 commented on #5918
It's not similar because the scrollbar does not jump around. Here is some markdown you can use

[code]

notice that `Lorem ipsum dolor sit amet` is much lower placed in the left pane than it is in the right pane

[2015-10-05 13:56] javorszky commented on #5918
Yes, it would be, because the left pane is displaying extra information (the actual link) that is not visible on the right hand side, since it's inside the non-rendering html attribute.

Because of that I don't think we can line up all sections perfectly.

On the flipside if you insert an image the left pane is only going to be one line:

[code]
Whereas in the right pane it will be expanded. If th

[2015-10-05 14:33] DanielTamkin commented on #4439
@ThienNguyenMinh :+1:

[2015-10-05 17:26] flip111 commented on #5918
If you can't line up the sections, perhaps you want to close the issue?

[2015-10-05 21:07] jberkus commented on #5321
@mike182uk I meant "what does the search query text look like"?  Rather than the follow-up query.

[2015-10-05 22:21] javorszky commented on #5918
I can't. I don't have the necessary privileges for it. You can however.

[2015-10-05 22:58] jberkus commented on #5321
I'm thinking in terms of how I would write a search plugin, so I'm curious what the search syntax looks like.

[2015-10-06 08:20] toblerone1963 opened #5919 "Highlight non-breaking spaces in editor"
Hi,

It could be a good idea to highlight non-breaking spaces when you edit a post. It's very useful in french, especially for angle quotes and numbers (we write 35&nbsp;000 and not 35.000).

I may have found [a solution on stackoverflow](http://stackoverflow.com/questions/29730535/highlight-non-breaking-spaces-in-html-page-or-wordpress-editor).

Thanks for all

[2015-10-06 12:49] mike182uk commented on #5321
@jberkus ah i'm not sure, i don't think its been mentioned here. My implementation just takes a string from the query string (`http://<base_url>/ghost/api/v0.1/posts/?search=<query>`)

@codeincarnate I've added an indexer to my implementation now if you want to check it out. This means that it will be up to the indexer to know how to index models. In the case of my Lunr.js example, when the `index

[2015-10-06 13:20] #4577 closed

[2015-10-06 15:35] ErisDS commented on #5911
@nevi-me That is strange, but absolutely please raise that bug on mapbox/node-sqlite3 - feel free to post a link back here but it's not something we can fix :)

[2015-10-06 15:46] #5918 closed

[2015-10-06 15:59] kevinansfield commented on #5903
@ErisDS it seems like it might be useful to have a "key" of some description for notifications/alerts so that we can have a more fine-grained method of clearing alerts as right now it's all or nothing unless we check for the message text.

For example on sign-in attempts and successful sign-in we could clear only the sign-in related alerts and not worry that we're also wiping out alerts generated

[2015-10-06 16:04] ErisDS commented on #5903
Yep, sounds good to me - this was a zelda audit item that never go it's own issue - any duplicate alerts are not supposed to stack, but rather replace the last one. I couldn't find out the right Ember Array incantation to do that :wink:

[2015-10-06 16:08] ErisDS commented on #5597
@dschwertfeger when you say 'the same issue' do you mean that you got an object with `mimetype` instead of `type`? If not, then the issue is not the same.

I do not know why this issue is occurring - the OP has not updated with any more details as this doesn't make any sense given the code.

With regards to your issue with needing to mount multer after Ghost, I imagine you'd need to be sure you mo

[2015-10-06 16:08] #5597 closed

[2015-10-06 16:14] ErisDS commented on #5915
Hi @Faber73 - I've replied to you in #help on [slack](https://ghost.org/slack) which is a better place to discuss this as it isn't a bug in Ghost but rather a side-effect of changes you have made.

[2015-10-06 16:14] #5915 closed

[2015-10-06 16:18] ErisDS commented on #5914
This sounds like it is probably caused by the fact that `/private/` is a special route in Ghost itself. Somewhere there is probably a check for `/private/` that isn't taking the subdirectory into account properly. A PR with a fix would be very much appreciated.

[2015-10-06 16:20] ErisDS commented on #5913
@oddjobz Thanks for the bug report, this is expected to work & seems like a regression to me.

A bug fix, including a broken test case, would be great here.

[2015-10-06 16:22] ErisDS commented on #5919
Hi @toblerone1963,

We're going to be overhauling the editor soon, so I recommend adding this over on our [wishlist](http://ideas.ghost.org). We use this list to help determine what goes into the roadmap and how to prioritise features. This is not something we would fix in the existing editor as it would likely be lost in the overhaul.

Note: You can also access the wishlist any time from inside t

[2015-10-06 16:22] #5919 closed

[2015-10-06 16:45] jberkus commented on #5321
Right, I'm asking: what goes in place of the placeholder <search_query>?  What does that look like?

[2015-10-06 16:54] dschwertfeger commented on #5597
Exactly. I got an object with `mimetype` instead of `type` because I didn't get into the code path that rebuilds the object with the `type` attribute.

From what I remember, it looked like the `'file'` event busboy is listening for in the code that you pointed out is not fired.

Sure, I can do that.

[2015-10-06 17:33] ErisDS commented on #5321
@codeincarnate code for storage modules lives here: https://github.com/TryGhost/Ghost/tree/master/core/server/storage. Issues that are worth reading for some context inc #4600 & #2852 - I like the idea of trying out both levi and search-index to see which is best.

@mike182uk awesome that you have a similar implementation, I have taken a very quick look and it seems like all the pieces are pluggin

[2015-10-06 17:37] ErisDS commented on #5162
`{{> "navigation"}}` is incorrect. To use the navigation helper, you need to call `{{navigation}}`. You do not need to specify a `navigation.hbs` partial unless you want to change the default output, in which case you should base your partial on the default one in Ghost: https://github.com/TryGhost/Ghost/blob/master/core/server/helpers/tpl/navigation.hbs

[2015-10-06 17:40] ErisDS commented on #4175
No one is working on this just yet, feel free to pick it up.

[2015-10-06 17:48] ErisDS commented on #5597
@dschwertfeger right, thanks for explaining - that makes much more sense. I think it's pretty expected that mounting multiple middlewares for file uploading would cause a conflict and there's not much we could do in Ghost to prevent that. Adding some thing to the documentation to explain this is probably the best outcome?

[2015-10-06 22:43] olsio commented on #2459
I found the root cause in the express-hbs dependency. The caching layer is loading partials as *.* which can cause the application of a partial twice overriding the expected version.

Fix submitted:
https://github.com/barc/express-hbs/pull/88/files

[2015-10-07 01:29] delgermurun commented on #5914
@ErisDS found bug [core/server/config/urls#50](https://github.com/TryGhost/Ghost/blob/master/core/server/config/url.js#L50).

But what is the reason behind this code? Can we delete it?

[2015-10-07 09:55] #5630 closed

[2015-10-07 11:46] #5917 closed

[2015-10-07 13:05] Deborah-Digges commented on #4175
Are there any dependencies for this issue that are still in the pipeline?

[2015-10-07 15:44] olsio commented on #5913
@ErisDS While looking into this I found that you by accident disabled all but one test for the post model.

https://github.com/TryGhost/Ghost/commit/0462607296f2a1a5b3ac3a3d98eb254e5fdfd605#diff-64e60e2e79e27d0a8c66873904f62de2

When I re-enable the test it is failing one tests. I hope to raise a PR soon to fix both issues.

[2015-10-07 16:09] camilodelvasto opened #5924 "Animated text is not being rendered properly"
On Chrome (and possibly Safari too) the animated text and other H2/H3 elements are not being properly rendered on the default theme (Casper). We fixed this for our site using:
`html { -webkit-font-smoothing: antialiased; }`
I suggest adding this line to Casper.

[2015-10-07 16:13] kevinansfield commented on #5924
@camilodelvasto would you mind opening this on the [Casper](https://github.com/TryGhost/Casper/issues) repo? The Ghost repo is for core dev. Thanks!

[2015-10-07 16:13] #5924 closed

[2015-10-07 16:17] kevinansfield commented on #5901
I believe this has been fixed in Safari 9 as I'm unable to reproduce it.

[2015-10-07 16:18] camilodelvasto commented on #5924
@kevinansfield sure, silly me.

[2015-10-07 16:20] smandell commented on #5901
Same!
On Wed, Oct 7, 2015 at 10:18 AM Kevin Ansfield <notifications@github.com>
wrote:

[2015-10-07 16:36] ErisDS commented on #5913
derp :flushed: thanks!

[2015-10-07 16:46] #5852 closed

[2015-10-07 16:48] ErisDS commented on #5901
In that case, I'm gonna close the issue. No need to add a workaround for a browser bug that's already fixed by the vendor :wink:

[2015-10-07 16:48] #5901 closed

[2015-10-07 17:34] ErisDS commented on #4175
The issue mentioned as required, #4176 - but this can be worked on in tandem.

[2015-10-07 18:51] jberkus commented on #5321
The GQL thing is cool, I hadn't seen that.

However, it doesn't define a syntax for full-text searches.  Personally, I like to keep things simple, so I'd vote for a syntax which accepts:

     "brunch breakfast eggs"

which would be equivalent to:

     "brunch and breakfast and eggs"

REST searches would use this syntax:

     "brunch&breakfast&eggs"

Also support basic OR searches:

     "brunch

[2015-10-08 03:39] hnq90 opened #5925 "Couldn't display uploaded image"
I faced this error after I upgrade my ghost blog from 0.6 to 0.7.

Actually, the image was uploaded successfully:
![selection_033](https://cloud.githubusercontent.com/assets/1875666/10357097/b062a23e-6da8-11e5-8d5a-288d3155360f.png)
But it couldn't display because of javascript error:
![selection_031](https://cloud.githubusercontent.com/assets/1875666/10357111/d7778826-6da8-11e5-89ff-6d5fa800d45e.

[2015-10-08 06:09] sirlancelot commented on #1433
Would it be possible to just read the themes when the settings page is loaded?

[2015-10-08 07:54] #5891 closed

[2015-10-08 07:55] ErisDS commented on #5895
This was due to CloudFlare's rocketloader. The troubleshooting guide has been updated accordingly: http://support.ghost.org/troubleshooting/#i-can’t-upload-images

[2015-10-08 07:59] ErisDS commented on #5925
This looks like a duplicate of #5895 & is explained in the troubleshooting guide: http://support.ghost.org/troubleshooting/#i-can’t-upload-images (you need to disable CloudFlare's Rocket Loader)

[2015-10-08 07:59] #5925 closed

[2015-10-08 08:02] ErisDS commented on #1433
@sirlancelot not currently, we'd need an API endpoint to do this and that has a bunch of other prerequisites including permissions, file storage abstraction etc. Improving theme management in Ghost is something we're working towards though.

[2015-10-08 08:18] ErisDS commented on #1405
To the best of my knowledge, all modern browsers do cache files with a query string. Some network-level caches do not. Modifying the filename instead of adding a query string is a non-trivial change that would require a significant reworking of file lookup.

[2015-10-08 08:22] ErisDS commented on #5856
After a further discussion in slack it was determined that this was due to the double encoding issue I explained above. At present it is expected that the DB is unreadable as the chars there are double-encoded. Creating & retrieving posts works as expected.

[2015-10-08 08:22] #5856 closed

[2015-10-08 08:33] hnq90 commented on #5925
@ErisDS Thank you.

[2015-10-08 09:28] karonator commented on #5856
Thank you!

[2015-10-08 09:39] vvo commented on #1405
:100: to what @ErisDS, browser do cache query strings. Still, not using query string is safer when behing proxies/CDNs etc.

[2015-10-08 10:58] vdemedes opened #5926 "Storage abstraction"
After reading discussions and issues related to file storage abstraction (#4600, #2852), I decided to put up a proposal to solve current issues.

# Goals

1. Standard API for file storage adapters to implement
2. Simple adapter installation and configuration
3. Store any type of data in a file storage (images, backups, themes, apps)

# Issues with the current implementation

- Storage adapters are

[2015-10-08 13:11] Deborah-Digges commented on #4175
Awesome! I'm a little new to the codebase, so could you give me just a few pointers to get started ?

[2015-10-08 14:11] ErisDS commented on #4175
@Deborah-Digges I recommend swinging by the #dev channel in the Ghost [slack](https://ghost.org/slack) team - that's where contribs hang out - it's much easier to do this sort of thing in chat form :)

[2015-10-08 14:23] Deborah-Digges commented on #4175
sure @ErisDS - I'll swing by and ask around. Thank you :)!

[2015-10-08 15:31] ErisDS commented on #5093
I've been mentally flip-flopping on this particular change for a while.

Without it, there are some limitations to how the API can be paginated. The case of wanting a different number of items in the first set  to the second set, E.g. homepage shows 1 post, subsequent pages show 20 posts, doesn't work because if you change limit between page 1 and page 2 you'll either miss out or duplicate some it

[2015-10-08 15:40] kevinansfield commented on #5093
All seems like sound reasoning :+1: My main concern is about the public API - if we're definitely intending to add `page[offset]` and `page[limit]` at some point would it make sense to switch from `page=1` to `page[number]=1` now?

[2015-10-08 16:57] ErisDS commented on #5906
@Kikobeats This is an interesting idea :+1:

In order to determine whether this idea has traction with other theme developers, I recommend raising it on our [wishlist](http://ideas.ghost.org) rather than here on GitHub. We use that list to prioritise work, so if it got a lot of votes we could look at reopening this issue and implementing the feature.

Note: It would need to be implemented in [expr

[2015-10-08 16:57] #5906 closed

[2015-10-08 16:58] ErisDS commented on #306
Closing this issue in favour of #5321 which has plenty of discussion & traction. Having 2 issues is just confusing at this point.

[2015-10-08 16:58] #306 closed

[2015-10-08 16:59] ErisDS commented on #1063
We're planning to remove casper.js now as soon as possible, so this won't be necessary.

[2015-10-08 16:59] #1063 closed

[2015-10-08 17:00] ErisDS commented on #1260
Closing this as it has no traction at the moment. Long term I'm sure we'll revisit some form of upgrade tool.

[2015-10-08 17:00] #1260 closed

[2015-10-08 17:04] ErisDS commented on #1631
Short term, custom permalinks are working well if you configure them via the database. Long term we'll revisit adding the UI to settings again, or via some other method when it becomes more of a priority issue.

[2015-10-08 17:04] #1631 closed

[2015-10-08 17:05] ErisDS commented on #1833
Significant progress has been made on this, and there are currently no obvious areas which need looking at (there may be some - but none jump to mind). I think the remainder of this will be naturally improved as and when we need it. Closing as complete.

[2015-10-08 17:05] #1833 closed

[2015-10-08 17:09] ErisDS commented on #3350
We're going to radically overhaul how we do testing, don't think this issue is needed anymore.

[2015-10-08 17:09] #3350 closed

[2015-10-08 17:13] ErisDS commented on #5832
I'm going to assume this was fixed along with #5804. If that's incorrect please post reproduction steps and we'll reopen.

[2015-10-08 17:13] #5832 closed

[2015-10-08 17:20] ErisDS commented on #5286
The tasks to split the middleware up are complete, the code coverage could still be improved:

![](http://puu.sh/kD2jI.png)

However, I think it's good enough now that this can be closed. Test coverage improving PRs are always very welcome.

[2015-10-08 17:20] #5286 closed

[2015-10-08 17:26] ErisDS commented on #4019
I think we can close this now. He remaining uploader component is probably going to be redesigned to suit different workflows better before it gets rebuilt :)

[2015-10-08 17:26] #4019 closed

[2015-10-08 17:58] dnascimento commented on #4439
+1 waiting looking forward to this feature. @ErisDS I agree with your syntax. I'm looking for:
{{#get "tags" limit="all" order="alpha"}}
Please, let me know if further testing is needed. Since you are working on it, do you have any updated branch with that feature? I can test and give feedback.

[2015-10-08 19:16] ErisDS commented on #5822
Yep, working on it

[2015-10-09 00:59] carlosrymer commented on #5107
If you are still having this problem, make sure NODE_ENV is not set. If it's set to "production," then npm install will skip installing anything because the package file only has devDependencies.

[2015-10-09 04:11] program247365 commented on #5356
Wanted to dive in and help out on a 'beginner' issue. Spent some time on this, and using these files:

Index.js:

[code]

package.json
[code]
Structure:
[code]

I get:

[code]

I'm willing to dig deeper, if someone can give me some pointers.

Or if there are other more important bugs/issues that a first-timer to the project can help out with, please direct me to those. I can and want to do both cl

[2015-10-09 13:52] ErisDS commented on #1463
Going to close this for now, we can add a keyboard shortcut menu in future, should it become more useful or gain traction due to increasing numbers of shortcuts.

[2015-10-09 13:52] #1463 closed

[2015-10-09 13:56] #5573 closed

[2015-10-09 14:03] ErisDS commented on #4484
Closing along with #1631 (https://github.com/TryGhost/Ghost/issues/1631#issuecomment-146625068) - we will revisit this in future in line with demand / priority.

[2015-10-09 14:03] #4484 closed

[2015-10-09 14:08] ErisDS commented on #2455
Closing as done for now.

[2015-10-09 14:08] #2455 closed

[2015-10-09 14:09] ErisDS commented on #332
Going to close this for now with the label `later` to reopen when CSP becomes more widely supported.

[2015-10-09 14:09] #332 closed

[2015-10-09 14:11] olsio commented on #4866
I tried to replicate the problem by build master from scratch and renaming casper to foo.

[code]
Is this issue still relevant or can it be closed?

[2015-10-09 14:14] alecho commented on #4866
Does that server stay up indefinitely?

[2015-10-09 14:18] ErisDS commented on #586
This issue has never gotten traction, going to close it for now. If anyone has ideas for specific changes that would be great.

[2015-10-09 14:18] #586 closed

[2015-10-09 14:21] ErisDS commented on #1265
Closing all the timezone related issues with the label `later` this is stalled. Will reopen when we're ready to attack this with a plan.

[2015-10-09 14:21] #1265 closed

[2015-10-09 14:21] ErisDS commented on #2361
Closing all the timezone related issues with the label `later` this is stalled. Will reopen when we're ready to attack this with a plan.

[2015-10-09 14:21] #2361 closed

[2015-10-09 14:21] ErisDS commented on #2360
Closing all the timezone related issues with the label `later` this is stalled. Will reopen when we're ready to attack this with a plan.

[2015-10-09 14:21] #2360 closed

[2015-10-09 14:21] ErisDS commented on #2359
Closing all the timezone related issues with the label `later` this is stalled. Will reopen when we're ready to attack this with a plan.

[2015-10-09 14:21] #2359 closed

[2015-10-09 14:24] ErisDS commented on #3584
Is this still an issue post-zelda?

[2015-10-09 14:26] ErisDS commented on #2815
I believe this issue was resolved some time ago.

[2015-10-09 14:26] #2815 closed

[2015-10-09 14:28] ErisDS commented on #2482
Closing this as it's massively out of date.

[2015-10-09 14:28] #2482 closed

[2015-10-09 14:28] kevinansfield commented on #3584
There's nothing that's being animated using jquery now as far as I'm aware. If we run into deeper animation requirements (maybe once settings panes are route-driven?) then liquid-fire is a good solution.

[2015-10-09 14:29] olsio commented on #4866
Yes, had it running for 20 minutes without problems.

[code]

[2015-10-09 14:37] ErisDS commented on #5501
Going to close this in favour of just removing the casper.js tests in their entirety. @kevinansfield is working on a plan for how to do this and what we should replace it with.

[2015-10-09 14:37] #5501 closed

[2015-10-09 14:44] ErisDS commented on #4866
I am still able to reproduce the issue:

- install Ghost fresh with a fresh DB
- rename casper folder and in package.json
- start ghost

You get the following:

![](http://puu.sh/kE2RR.png)

The idea in this issue is, I think, to fallback to the first available (alphabetically I suppose) theme found in the theme folder, if casper is not available on first run.

[2015-10-09 14:48] ErisDS commented on #5880
Closing this for now, will reopen if more info is provided.

[2015-10-09 14:48] #5880 closed

[2015-10-09 14:49] alecho commented on #4866
@ErisDS Yes. Something needs to show so that another theme can be selected, if desired. My original expectation when I only had one theme in the folder was that the theme would be automatically selected.

[2015-10-09 14:50] ErisDS commented on #5835
Closing this as it is the expected behaviour. The image upload interface will be revisited very soon as part of a bigger overhaul, and so I don't think there's any short term need to look at changing the behaviour here.

[2015-10-09 14:50] #5835 closed

[2015-10-09 14:52] ErisDS commented on #5746
No reproduction case has been found for this, suggesting it's specific to the environment of this blog. I'm going to close this for now and we can reopen if more people experience the issue or if some idea of how to reproduce outside of this blog is found.

[2015-10-09 14:52] #5746 closed

[2015-10-09 15:15] ErisDS commented on #3584
Cool, then I'm gonna close it for now.

[2015-10-09 15:15] #3584 closed

[2015-10-09 15:17] ErisDS commented on #5717
The code injection fields use CodeMirror, which until recently, didn't really work on mobile at all.

As of version 5.0 it is supposed to support mobile and iOS, so I'm not sure if this is a limitation or something to do with our implementation. I tried upgrading to the latest version 5.7.0 and that didn't help.

Please can someone investigate whether this is always the case for CodeMirror or whet

[2015-10-09 15:19] ErisDS commented on #5908
There is a bug report template in our [contribution guidelines](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#bugs) which shows the details we need in order to be able to follow up on and fix a bug.

There's not enough info here to really do anything, so I'm going to close the issue for now. Will reopen when details are provided.

[2015-10-09 15:19] #5908 closed

[2015-10-09 15:26] ErisDS commented on #5777
The post date input is currently very buggy:
* [ ] Clicking in and typing moves the cursor to the end.
* [ ] It also changes underneath you a lot without warning - as reported here, the validation doesn't reliably tell you what it's doing.
* [ ] I've also seen the date revert back to now, rather than the previous date, after a (failed?) interaction.

As well as fixing the bugs, improving the UX he

[2015-10-09 15:28] ErisDS commented on #5882
A PR which fixes this would be welcome, although I'm not sure how easy it will be as the functionality depends on layering one image on top of the other.

[2015-10-09 15:30] ErisDS commented on #5650
As the remaining part of this issue relates to modals, and is tricky because of their current implementation, I think this can be closed in favour of #5798 - once the refactor is done this issue can be opened again

[2015-10-09 15:30] #5650 closed

[2015-10-09 15:31] ErisDS commented on #5798
Note: once the refactor is complete it should be possible to revisit #5650

[2015-10-09 15:35] ErisDS commented on #5489
The remaining part of this issue is looking to improve test coverage for the mail lib. There are some existing tests which are skipped, and some missing coverage:
![](http://puu.sh/kE5jh.png)

[2015-10-09 15:37] ErisDS commented on #5779
To improve the UX here we need to better handle the way emails are sent. We don't need to wait for them to be sent before transitioning, however that may mean the notifications are not shown at the right time.

We may need to revisit how and when notifications are pulled from the server, and how they are handled in order to resolve this fully?

[2015-10-09 15:46] ErisDS commented on #5330
Going to close this as the current plan is to remove the casper.js tests in favour of something else. @kevinansfield is working on the plan for this.

[2015-10-09 15:46] #5330 closed

[2015-10-09 15:48] ErisDS commented on #5280
This issue was resolved by the UI changes in Ghost 0.7.

[2015-10-09 15:48] #5280 closed

[2015-10-09 15:53] ErisDS commented on #1392
Going to close this as it didn't get any traction. We can reopen and revisit in future if there's more demand or need.

[2015-10-09 15:53] #1392 closed

[2015-10-09 15:54] ErisDS commented on #5343
Going to close this as complete. The remaining work - to add tags to the search, is tracked by #5845.

[2015-10-09 15:54] #5343 closed

[2015-10-09 15:58] ErisDS commented on #5229
Hi @iloabn I'm sorry this got ignored it slipped through my net!
Did you manage to find a resolution? I have a feeling that unreliable network is the most likely cause unless you found issues with your upgrade? Either way this is likely to be an environment specific issue, and unless we can tie down the cause such that we can improve the error message to be clearer there isn't much to do here. Clo

[2015-10-09 15:58] #5229 closed

[2015-10-09 16:03] ErisDS commented on #4828
Closing this as its effectively a bug in facebook rather than in Ghost - other social platforms are able to navigate the 301 redirects.

[2015-10-09 16:03] #4828 closed

[2015-10-09 16:40] ErisDS commented on #4824
Closing as this got no traction - we can revisit changing the migration system when we need to for some reason.

[2015-10-09 16:40] #4824 closed

[2015-10-09 16:43] ErisDS commented on #3009
We're going to be revisiting all of the image uploading UX somewhere in the near future, so closing these two issues (#3009, #3517) in favour of an overhaul.

[2015-10-09 16:43] #3009 closed

[2015-10-09 16:43] ErisDS commented on #3517
We're going to be revisiting all of the image uploading UX somewhere in the near future, so closing these two issues (#3009, #3517) in favour of an overhaul.

[2015-10-09 16:43] #3517 closed

[2015-10-09 16:46] ErisDS commented on #2125
Closing in favour of #5588 don't really need issues to remind us to write documentation :grin:

[2015-10-09 16:46] #2125 closed

[2015-10-09 16:51] ErisDS commented on #5093
I had the same thought, and figured that making this change now 'just in case' we make another change later doesn't really make sense. If we were 100% that this is what we were going to do then I'd be in favour, but as it doesn't match what any other params look like it seems weird.

Also, in future if we do go down this road, we can output deprecation warnings for `page` whilst still supporting b

[2015-10-09 16:52] kevinansfield commented on #5093
👍

[2015-10-09 16:55] ErisDS commented on #4350
Closing this as there was no consensus on what to do: https://github.com/TryGhost/Ghost/pull/4440#issuecomment-84379109

[2015-10-09 16:55] #4350 closed

[2015-10-09 17:02] ErisDS commented on #601
I'm gonna suggest having this issue sat here in our repo for 2 years isn't really achieving anything. #4134 describes what we need to do and the equally ancient Modifying columns #46](https://github.com/tgriesser/knex/issues/46) in knex tracks the need to add new features to knex. When crunch time comes we'll need to either add the features to knex or write individual statement for each DB type th

[2015-10-09 17:02] #601 closed

[2015-10-09 17:10] ErisDS commented on #3910
Labelling all the open permissions related issues (there are several) with both `permissions` and `later` as I'm working on a spec to solve the immediate issues as well as a long term plan, which will replace all of these issues.

[2015-10-09 17:10] #3910 closed

[2015-10-09 17:11] ErisDS commented on #3283
Labelling all the open permissions related issues (there are several) with both `permissions` and `later` as I'm working on a spec to solve the immediate issues as well as a long term plan, which will replace all of these issues.

[2015-10-09 17:11] #3283 closed

[2015-10-09 17:11] ErisDS commented on #3911
Labelling all the open permissions related issues (there are several) with both `permissions` and `later` as I'm working on a spec to solve the immediate issues as well as a long term plan, which will replace all of these issues.

[2015-10-09 17:11] #3911 closed

[2015-10-09 17:12] ErisDS commented on #3369
Labelling all the open permissions related issues (there are several) with both `permissions` and `later` as I'm working on a spec to solve the immediate issues as well as a long term plan, which will replace all of these issues.

[2015-10-09 17:12] #3369 closed

[2015-10-09 17:12] ErisDS commented on #2740
Labelling all the open permissions related issues (there are several) with both `permissions` and `later` as I'm working on a spec to solve the immediate issues as well as a long term plan, which will replace all of these issues.

[2015-10-09 17:12] #2740 closed

[2015-10-09 17:15] ErisDS commented on #4176
Labelling all the open permissions related issues (there are several) with both `permissions` and `later` as I'm working on a spec to solve the immediate issues as well as a long term plan, which will replace all of these issues.

Note: I am aware this is required for OAuth #4004, I am working on a solution that will allow us to resolve this in the short term - at the moment there is no way forwar

[2015-10-09 17:19] ErisDS commented on #4396
I'm gonna close this now as feedback has dried up. I'm working on cleaning up the issue list, using the tags `beginner`, `fix wanted` and `in progress` to try to make it easier to find stuff that can be worked on and closing all the issues which have been around and stuck for ages.

We have since moved our community from IRC to slack and there you can find both a #dev channel for discussing core d

[2015-10-09 17:19] #4396 closed

[2015-10-09 17:23] ErisDS commented on #4507
Another issue to be closed as we're moving away from casper tests.

[2015-10-09 17:23] #4507 closed

[2015-10-09 17:24] ErisDS commented on #4483
Again, closing these casper.js related issues as we're planning to move away from it entirely.

[2015-10-09 17:24] #4483 closed

[2015-10-09 17:25] #5093 closed

[2015-10-09 17:29] program247365 commented on #5882
@tonyeung I'm trying to re-create this on ghost@0.7.1.

Can you provide some more information?
* Can you attach the image you used, so we can try?
* What browser is this happening?
* What version of Ghost are you on?

[2015-10-09 17:34] ErisDS commented on #2204
Log helper is working & error messaging is reasonably clear, I think the plans around #4319 will be the best way to improve this moving forward.

[2015-10-09 17:34] #2204 closed

[2015-10-09 17:36] ErisDS commented on #2695
I think this issue was a bit of pre-optimisation - something to deal with when we encounter it :+1:

[2015-10-09 17:36] #2695 closed

[2015-10-09 17:44] ErisDS commented on #4556
This is still an issue in Ghost 0.7.1 - it'd be great to look at resolving it, perhaps along with #5777 and #5062. @kevinansfield is it perhaps worth putting together a plan for an overhaul of the PSM?

[2015-10-09 17:46] ErisDS commented on #5787
I think the only 3rd party asset linked in Ghost is jQuery and that has effectively been removed. Therefore I don't think this is really relevant to Ghost?

[2015-10-09 17:46] #5787 closed

[2015-10-09 17:49] ErisDS commented on #5850
This is, at the moment, an expected behaviour of the way the various helpers in Ghost work. The next and previous helpers are asynchronous and so are the meta_title and meta_description helpers.

Asynchronous helpers cannot be nested inside each other.

I realise this provides a real limitation, but it is non-trivial to fix. There are ongoing attempts to look at this inside of express-hbs where th

[2015-10-09 17:58] tonyeung commented on #5882
I'll get the info to you guys over the weekend.

[2015-10-09 18:05] ErisDS commented on #4010
This issue and it's sibling #3964 are now a year old and in that time we have completely rebuilt the UI. I've had a go with voiceover myself and fixed a few issues with skip links, but this isn't my strong suit.

It would be great to have a fresh audit done, and PRs with improvements would also be welcome, but as these particular two issues are now quite out-of-date I'm going to close them.

[2015-10-09 18:05] #4010 closed

[2015-10-09 18:05] ErisDS commented on #3964
This issue and it's sibling #4010 are now a year old and in that time we have completely rebuilt the UI. I've had a go with voiceover myself and fixed a few issues with skip links, but this isn't my strong suit.

It would be great to have a fresh audit done, and PRs with improvements would also be welcome, but as these particular two issues are now quite out-of-date I'm going to close them.

[2015-10-09 18:05] #3964 closed

[2015-10-09 18:19] ErisDS commented on #5356
Hi there @program247365, sorry to send you off on a wild goose chase with this! Since it was raised, much of Ghost has changed and apps (which are not yet officially supported) no longer have permissions to access the API. That means requests through the api proxy fail with these big unhelpful errors.

I'm going to close this for now with the `later` label that all the apps issues have, so that we

[2015-10-09 18:19] #5356 closed

[2015-10-09 19:27] program247365 commented on #5882
Thanks!

[2015-10-09 19:29] program247365 commented on #5356
Gotcha. No problem at all. Just looking to start contributing. Thanks for updating it. I'll keep an eye on the beginner label filter.

Thanks!

[2015-10-10 12:25] bohanyang commented on #5908
Thanks. I've found that the issue was solved in 0.7.1.

[2015-10-10 14:09] ErisDS commented on #5006
This didn't get traction, and I think the upcoming editor overhaul will solve this in a different way, meaning it's probably not worth doing just now.

[2015-10-10 14:09] #5006 closed

[2015-10-10 15:50] bohanyang opened #5933 "Tag setting page displays abnormally"
IEMobile 11
Windows Phone 8.1
Small screen. Only 4 inch, 480x800.

![ss](http://cdn.penbeat.cn/o_y4zDABdg.png)

[2015-10-10 15:59] bohanyang commented on #5933
Not only the tag setting page.
![ss2](http://cdn.penbeat.cn/o_GN3vmNeV.png)

[2015-10-11 16:24] #5373 closed

[2015-10-12 04:32] galori commented on #5060
@ErisDS Is there any alternative, recommended way to control or curate what is displayed on an index page? Wether you call it an excerpt, summary or a standfirst.

For example, is there a way to add a standfirst field that is populated separately and is displayed instead of an excerpt?

FWIW from my experience, in many larger organizations (publications), there is a need for tighter curation and c

[2015-10-12 05:00] program247365 commented on #5717
So I've found the following:

* Tap and hold, will make the field become active
* Tap twice, will fire FastClick.js, and then make the field become active
* Tap once, and it will enter the code block below for codemirror.js, and never enter the 'single tap' if statement, it skips all of them, and moves to finishTouch() then no more stepping through after that function:

https://github.com/codemirr

[2015-10-12 08:35] #5905 closed

[2015-10-12 08:37] #5379 closed

[2015-10-12 10:27] Yannovitch commented on #5345
Is this the thread where I can suggest that not only should our Ghost blog be localized, but it should be able to support multilanguage blog as well ?
What I would like to see is an option where I can write some content in one language (for example my mothertongue, french), and have a little flag on the blog post which link to the same blog post in an other language ( for example, english, as it's

[2015-10-12 10:29] Yannovitch commented on #5345
And how do you plan to support the URL, actually ?
With a prefix added to the content ? like blog.com/fr/content , blog.com/en/content ?
Or directly with the translated URL ? like blog.com/contenu for the french version and blog.com/content for the english one ?

[2015-10-12 10:36] kevinansfield commented on #5717
`touch.start` should be a large number here as `new Date` will also be a large number (try running `(new Date) - 0` in the console).

I'm not sure but there may also be some issues with checking it in the console as re-evaluating `new Date - touch.start < 300` will almost always give you a new number that will evaluate to false as it's been more than 300ms since `touch.start`.

If however that is

[2015-10-12 14:18] ErisDS commented on #5345
Hi @Yannovitch this issue is only to do with translating the admin panel. You can vote on or suggest other features on our [wishlist](http://ideas.ghost.org).

[2015-10-12 14:43] #5913 closed

[2015-10-12 17:27] #5492 closed

[2015-10-12 18:09] ErisDS commented on #827
The discussion and movement on this issue has tailed off, largely because it has been very hard to get a full understanding of what we need to change and why. I believe this is also in part because the underlying goal of the issue is effectively solved, even if it's not perfect, and that there's therefore a lot less traction on this idea than there was previously.

There is definitely a great deal

[2015-10-12 18:09] #827 closed

[2015-10-12 18:25] ErisDS commented on #5060
Hi @galori, appreciate your feedback. As I have attempted to explain in the issue here - the problem with the concept custom excerpts is that everyone wants or means something different when they think about how it might work. That makes it difficult to implement a 'one size fits all' solution.  We have a [wishlist](http://ideas.ghost.org) where feature requests can be posted and voted on - both a

[2015-10-12 18:43] ErisDS commented on #4731
Whilst I am in agreement that there needs to be improvement around how we handle config in Ghost, i think @esatterwhite hit an important nail on the head here:

The real, underlying problem is more to do with how config & Ghost itself is initialised / booted up i.e. #2182, and that solving those problems should help us to move towards being able to use something like nconf in a manageable way.

[2015-10-12 19:12] ErisDS commented on #5071
@Gargol sorry for the ridiculously slow response here. I don't think cleanup is something that really needs to be thought in the short term, as it would take a long time to get to even 20 ids.

[2015-10-12 19:48] ErisDS commented on #5599
@psvet looks like you've updated your PR since that comment - sorry for the slow reply. I think the key thing to check is always the markdown content which is edited and we definitely shouldn't count the `updated_at`key - but you seem to have quite a smart version implemented ;)

[2015-10-12 20:24] ErisDS commented on #5914
@delgermurun  The code in question is there to ensure that routes which are generated by various parts of the Ghost application don't end up with the subdirectory appended twice. I'm afraid removing it would break more use cases than it fixes.

@Patagonicus it seems to me that using the route `/private/` with a blog which is also password protected ends up with quite an ugly URL, anyone visiting t

[2015-10-12 23:27] dlecina opened #5939 "<pre> and <code> replaced within code blocks by {gfm-js-extract-pre-1}"
Writing a code block containing the following:

[code]

Will produce:

[code]

![Screenshot](https://cloud.githubusercontent.com/assets/1137825/10441489/9e020400-7149-11e5-9149-4603cda1b810.png)

[2015-10-13 09:25] #5800 closed

[2015-10-13 18:28] #5884 closed

[2015-10-13 18:38] ErisDS opened #5941 "Move Public API access behind a labs flag"
The first version of the API which is officially accessible will be considered extremely 'beta' and likely to change in subsequent versions without deprecation notices or other warnings.

To ensure that anyone making use of the API is aware of this likely breakage, we want to put access behind a labs flag. This means that anyone using the API has knowingly decided to use the API in its current sta

[2015-10-13 19:33] ErisDS commented on #4184
This was completed by d215983 / #5706

[2015-10-13 19:33] #4184 closed

[2015-10-13 19:39] ErisDS commented on #5939
Good find, thanks for the report.

[2015-10-13 20:17] ErisDS opened #5942 "Helpers for accessing the API from themes"
With the changes coming in #5848 it will be possible to make ajax requests to the Ghost API from inside a theme. The API urls will need to be absolute\* and to include a client id & secret in order to work correctly.

This means that building a URL will look something like:

`<protocol>://<full-path-to-blog>/<api-path-inc-version>/<endpoint>?<query-params>&client_id=<client_id>&client_secret=<clie

[2015-10-13 20:23] ErisDS opened #5943 "Post-filter parameter cleanup & changes"
Issue https://github.com/TryGhost/Ghost/issues/5463 describes the current state of the API (pre-filter parameter) and how this will be much improved with the addition of the filter parameter.

Once the filter parameter (#5604) itself has been merged, we will need to refactor all the parts of Ghost which depend on the old style API, such as the frontend controller and the admin UI model layer, so t

[2015-10-14 02:55] edsadr commented on #5821
@ErisDS this looks like we are just waiting for express confirmation of their dependencies to be Node V4 compatible, there is not so far any problem detected with them and they are just waiting to check their dev dependencies, I have been testing Ghost with Node V4 for a week already, in dev and prod envs and so far everything looks really good I even did profiling for it with great results, also

[2015-10-14 09:59] darklow commented on #5335
For dokku: http://lightweight.no/ghost-deployed-with-dokku/

[2015-10-14 11:11] Manc opened #5945 "MySQL connection not set to UTF-8?"
I believe, Ghost does not set the connection to `utf8` when connecting to the MySQL server, which results in UTF-8 characters being displayed as "?" or similar characters, if the MySQL server itself is not configured to use UTF-8 as default. I am not 100% sure if this is an issue with Ghost or something else, but I've got the feeling that it is a Ghost problem.

I have converted my Ghost database

[2015-10-14 12:10] kevinansfield commented on #5845
@ErisDS, @JohnONolan: Is the desired behaviour here that nothing on the main screen changes whilst typing in a settings field until that field is saved?

[2015-10-14 16:19] ErisDS opened #5947 "'Revoke' user invite requests not working on `/team/`"
When attempting to revoke an invite to a user on the team page, nothing happens.

It seems that the `status=all` part of the request is missing in the call to the users API endpoint. As the users API will only return `active` users by default, the user will not be found, and a 404 is returned instead.

### Steps to Reproduce

1. On `/team/`, invite a user to your blog
2. Hit the 'revoke' button, n

[2015-10-14 16:24] #5903 closed

[2015-10-15 08:43] ErisDS commented on #5945
Since the first version of Ghost we have included `charset: 'utf8'` in the configuration. This is used by bookshelf/knex to handle encoding data sent to the database. However, unfortunately the version of the mysql binding library that was available at that time simply ignored this setting and used whatever the database was set to.

This has put us in a position where, unless your database was set

[2015-10-15 09:59] kevinansfield opened #5951 "Ember Simple Auth 1.0 upgrade"
ESA 1.0 is now pretty much code-complete and is only waiting on documentation to be finished before release. ESA is currently our main (only?) blocker for upgrading to Ember 2.x, as such I would like to get the upgrade moving forward in a PR so that we can find any blockers/implications/issues early on.

Discussion around 1.0 can be found in the pull request at https://github.com/simplabs/ember-si

[2015-10-15 10:01] kevinansfield commented on #5951
@acburdine I know you expressed interest in working on this before, are you still up for that?

[2015-10-15 11:04] acburdine commented on #5951
Sure! I should have some time later today to work on it.

[2015-10-15 11:51] kevinansfield commented on #5947
I've submitted a quick-fix in #5953 but I think the API behaviour is wrong in this case - _querying by ID_ should by default query all available records (based on permissions, but that's not ready yet).

If there's a use case where you want to restrict the the query-able record set then that should be indicated by specifying a modifier such as `status=invited`.

For _index queries_ I think the cur

[2015-10-15 12:34] oswaldoacauan commented on #4439
:+1:

[2015-10-15 14:21] #4439 closed

[2015-10-15 20:48] marktheis opened #5957 "query parameters in a custom handlebars helper."
I'm trying to make a custom handlebars helper that serves specific content based on the query parameters in the url: `ghostblog.com/page?query=something.`

[code]
the relativeUrl strips it out and the query string is nowhere else in the response.

I would appreciate if there is anyone that knows how to get the query string or knows an alternative method to this.

[2015-10-16 00:15] tonyeung commented on #5882
http://www.gravatar.com/avatar/28bcf6437597e1049ce63f2623a93a9e?s=90&d=blank
chrome 46.0.2490.71m
ghost 0.7.0
doesn't happen on profile or team, http://localhost/ghost/setup/two/

[2015-10-16 02:27] program247365 commented on #5882
@tonyeung Did you upload the photo, or did it just appear when you entered your email address?

When I uploaded it:

![screen shot 2015-10-15 at 10 26 28 pm](https://cloud.githubusercontent.com/assets/13910/10532400/e4afed7e-738b-11e5-9a19-5881d58ae63d.png)

[2015-10-16 02:34] tonyeung commented on #5882
Appeared when the email was entered.

On Thu, Oct 15, 2015 at 9:28 PM, Kevin Ridgway < notifications@github.com [notifications@github.com] > wrote:
@tonyeung [https://github.com/tonyeung] Did you upload the photo, or did it just appear when you entered your email
address?

When I uploaded it:

screen shot 2015-10-15 at 10 26 28 pm
[https://cloud.githubusercontent.com/assets/13910/10532400/e4afed7e

[2015-10-16 02:36] program247365 commented on #5882
Got it! I was able to recreate. Working on a fix now...

[2015-10-16 07:33] kevinansfield commented on #5882
There are some additional complexities to take into account for anyone who wishes to tackle this, please see my notes here https://github.com/TryGhost/Ghost/pull/5958#issuecomment-148637278

[2015-10-16 08:24] ErisDS commented on #5957
Hi @marktheis - we have a #themes channel in our [slack](https://ghost.org/slack) community for exactly this sort of question :wink:. Ghost doesn't support registering custom helpers, so if you're hacking core to add one, then this isn't a bug or issue with the Ghost software itself.

If you're trying to change part of your template based on query parameters, then I would classify that as dynamic

[2015-10-16 08:24] #5957 closed

[2015-10-16 08:47] ErisDS commented on #5947
I fully agree with the assessment here, it's another subtle detail of how different requests need to behave very differently.

I've added the permissions label here so it's tracked as part of the new permissions spec. There is an additional complexity here in determining when we should return 403 or 404 - as 403 gives away that a resource exists?

[2015-10-16 08:48] marktheis commented on #5957
Sorry. It's of course not a bug.
I somehow skipped over your slack channel. I'll take a look over there :blush:

[2015-10-16 09:04] kevinansfield commented on #5947
Does giving away that a resource exists matter as long as it's only accessible with the correct permissions? I'd err on the side of sticking to the HTTP spec, a client would be able to provide a more relevant error message if it received a 403, plus the client already expected something at that location anyway and would need to be successfully authenticated else it would be a 401?

[2015-10-16 09:43] sebgie commented on #5947
Ok, that's an interesting question.

That would be a very sensible change in my opinion. The current `status=all` came from the initial implementation and it would probably be easier to understand if we would apply a filter to limit the result rather than having a filter to show all results?

In my opinion this depends on the resources the authenticated user is allowed to see. If the user is allow

[2015-10-16 10:32] maxbook commented on #4004
Hi @ErisDS, what is the status of this ? How i can help you ?

[2015-10-16 10:34] maxbook commented on #4004
@vickychijwani if you work on android app it's so cool ! And If you want we can work together , I was thinking of doing a iOS app.

[2015-10-17 13:12] kaiserhase opened #5966 "If statements in Handlebars"
I want to add an if statement to check if the navigation label equals a certain ...label... Is this possible? (The idea is if it equals a specific static post in the navigation, it would add a dropdown menu).

I assumed something like {{#if navigation.label === "value"}} would work, but that's more of javascript logic than handlebars.

[2015-10-17 14:24] acburdine commented on #5939
@ErisDS I found where this is occurring, and it's a bug in showdown-ghost. `<pre>` and `<code>` blocks are parsed before code fence blocks, leading to this error. Should I submit a PR in your showdown fork or no?

[Bug area](https://github.com/ErisDS/showdown/blob/master/src/showdown.js#L272-L282) (at least as far as I was able to tell)

[2015-10-17 14:25] ErisDS commented on #5939
Sorry @acburdine I should have assigned this to myself - there's no point submitting fixes to my branch as I'm working on switching back to normal showdown ;)

[2015-10-17 15:23] kaiserhase commented on #5966
This is what i have right now to do what I want:

'{{#foreach navigation}}
        <script>if ("{{label}}" === "+learn tech") {document.write("<li class=\"nav-item\" role=\"presentation\"><a class=\"nav-link\" href=\"{{url absolute="true"}}\">{{label}}</a></li>");} else {document.write("<li class=\"nav-item\" role=\"presentation\"><a class=\"nav-link\" href=\"{{url absolute="true"}}\">{{label}}</a

[2015-10-17 16:30] iloabn commented on #5229
Thanks for taking the time to respond @ErisDS !
I agree with you, it's most probably because unreliable network.

Thanks for the response!

[2015-10-18 12:50] blehMgowano commented on #5966
can i see into this one

[2015-10-18 13:13] halfdan commented on #5966
What is your use case for this? Handlebars very intentionally comes without
if helpers.
On Oct 18, 2015 2:50 PM, "BlehDes" <notifications@github.com> wrote:

[2015-10-18 13:40] kaiserhase commented on #5966
![snippet](https://cloud.githubusercontent.com/assets/10073651/10564283/01b25f50-757c-11e5-8597-1d0f944fff81.JPG)

I attached a jpg with the code. It essentially allows me to shiv a sub-menu into the Ghost populated navigation. Since Ghost doesn't do it natively (or archiving, listing of blogs, etc except RSS), I had to find a way to get it to work.

It works live www.builtbygoat.com (albeit the C

[2015-10-18 13:42] kaiserhase commented on #5966
It isn't a pretty solution. I was hoping for a better alternative. I haven't really played with handlebars as much yet, just the few snippets Ghost uses.

[2015-10-18 14:07] topaxi commented on #5966
I'm not sure where to register helpers in Ghost, but in Handlebars this can be solved with a `eq` helper like this:

[code]

And then in your template with Handlebars use subexpressions:

[code]

[2015-10-18 14:26] kaiserhase commented on #5966
Good call topaxi.

We would have to add to ghost/core/server/helpers/ to create this kind of functionality. Aka, get it into the repo (or every time we'd upgrade, we'd have to redo it).

Lemme see how to go about fiddling with the helpers.

[2015-10-18 14:34] kaiserhase commented on #5966
Yeah, looks like the only real thing would be to add a helper that would allow you to do:

{{#foreach navigation}}
    {{#if (eq a b)}}
        subnav
    {{/if}}
{{/foreach}}

[2015-10-18 15:35] ErisDS commented on #5966
Hi @kaiserhase, this sort of logic is, as you have discovered, not possible with handlebars. The Ghost theme documentation is here: http://themes.ghost.org and the handlebars documentation is here: http://handlebarsjs.com/

In the short term your best bet is to use JavaScript, the way you have done. Ghost's navigation menu exists to serve the majority of use cases for blogs - which is a very simpl

[2015-10-18 15:35] #5966 closed

[2015-10-18 15:44] kaiserhase commented on #5966
*sigh*

[2015-10-18 17:56] cwonrails commented on #5821
@ErisDS What holdups remain for Ghost running node 4 now that the sqlite3 dep update has been [merged] (https://github.com/TryGhost/Ghost/commit/c2008aad4204caebc604d30b74176ccaa6a05e90)?

After updating [these lines](https://github.com/TryGhost/Ghost/blob/master/package.json#L24-L26) in package.json to [this](https://github.com/cwonrails/Ghost-Node-4/blob/master/package.json#L24-L26), the only pr

[2015-10-18 18:06] ErisDS commented on #5615
# Count handling
- [ ] Change `post_count` include on Tag endpoint to be `posts.count`
- [ ] Add `tags.count` to Posts endpoint and `posts.count` to Users endpoint

I'm currently looking at how to implement counts across the posts / tags / users endpoints, and so I wanted to clarify a proposal for what they look like.

Inline or 'included' counts are counts which are requested in addition to other

[2015-10-18 18:07] edsadr commented on #5821
@cwonrails you dont need to comment those line, just update the engines section in the package.json

[2015-10-18 18:23] ErisDS commented on #5151
I think we need to start adding treatment of pages as a first-class citizen in the API:

`api.pages.browse({slug: 'about'})` and `{{#get "pages" slug="about"}}`

With this change, there is an opportunity to completely remove the ability to retrieve pages via the posts endpoint (and get rid of the `staticPages` parameter that makes me cringe every time I see it 😖!). This would mean it is no longer

[2015-10-19 05:10] k-j-kleist commented on #5245
Image uploading has failed for me several times for no obvious reason. After restarting Ghost, the same image has always uploaded fine.

Relevant info from stdout:

`"POST /ghost/api/v0.1/uploads/ HTTP/1.1" - - "http://EXAMPLE.COM/ghost/editor/" "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:41.0) Gecko/20100101 Firefox/41.0"

Error Something went wrong uploading the file { [Error: ENOENT, open '/tmp/mLe

[2015-10-19 09:05] ErisDS commented on #5604
I put this [in slack](https://ghost.slack.com/archives/dev/p1445244974001856), but going to put it here too as it's a design change in the API:

For the old style requests, we include in the response some data under `meta.filter` which represents the object we filtered by, so `posts.browse({tag: 'getting-started'})` would include `meta.filter.tags`containing an array with the getting started tag o

[2015-10-19 09:34] maxbook opened #5968 "Performance : increase requests per second."
Hi, firstly i use ghost on new project and is incredible, good work !
however, i have observed that it works in single thread , so out of curiosity I moved to a node worker (TCP connexions with node/express is ok for multithreading) and launch it on multi thread (8 exactly), and WOOOH, 7 time more requests per second, longest request 133% faster...

Here copy of my siege test on ghost with 4 core

[2015-10-19 09:40] #5951 closed

[2015-10-19 10:29] kevinansfield commented on #5151
I agree with the split in the api endpoints as I think outside of the current admin content screen you'll always be filtering by one or the other. The only time I can think where you want to retrieve both would be search but then that would have it's own endpoint.

Personally I'd lean towards adding a separate Pages item to the nav menu as it would make a clear distinction between posts/pages and

[2015-10-19 11:52] JohnONolan commented on #5151
Essentially that pages are rarely used, so it's questionable how much UI real estate they deserve to redundantly take up. Typically an about/contact/whatever page is set up, and then nothing changes for long, long time.

[2015-10-19 17:25] tomekr commented on #5632
:+1:

@vilic Have you found a decent workaround for this in the meantime?

[2015-10-19 21:56] iainjp commented on #5018
Hi! I'm currently working on a fix for this just now. Should be with you as an MR shortly :smile:

[2015-10-20 01:43] vilic commented on #5632
@tomekr sadly no.

[2015-10-20 07:03] ErisDS commented on #5018
:+1:

[2015-10-20 11:42] Patagonicus commented on #5914
@ErisDS That domain is hosting two blogs, one public, one private (i.e. for just a small number of people), calling it `/private/` seemed to be the logical choice. I've since renamed it to `/secret/` which is working fine (except for a bug with the theme we wanted to use, but I still have to track that down as I can't reproduce it).

I think *something* should be done about this, but it doesn't ne

[2015-10-20 12:29] delgermurun opened #5973 "Export content is not working"
Here is server log:
[code]

Commit: 5d7ca080c9938ad55f87d57825dd5727f381f141
OS: Ubuntu 15.04 64bit
Browser: Chrome

[2015-10-20 12:32] vdemedes commented on #5602
The comma-space separator between rules, and the space separator
    between property and direction are required.

I think it would be better, if we did not force spaces between rules. This will cause errors among developers, because they normally don't expect, that a lack of space in url can cause an error. I think we should accept both types of inputs, with and without spaces. And not being stri

[2015-10-20 12:46] acburdine commented on #5973
Good catch! I must have missed that one (:sheep:ish :grin:)

[2015-10-20 13:11] #5973 closed

[2015-10-20 13:22] vdemedes commented on #5942
There's a PR (#4181) for removing authentication on public endpoints, so I think there is no need to include `client_id` and `client_secret` query parameters in this helper anymore?

I also suggest including these improvements:

1. Accept an object of query parameters as a second argument
2. Automatically handle missing leading/trailing slashes in the url

[code]

[2015-10-20 13:41] vdemedes commented on #1433
At the moment, I see 3 solutions:

1. Use [chokidar](https://npmjs.org/package/chokidar) to watch `content/themes/active_theme` folder to change (as suggested by @szelpe). Chokidar is proven to be reliable and easy on system resources. Whenever a change occurs in an active theme directory (not just in `content/themes`), Ghost reloads and recompiles template files.
2. Use cache for theme files with

[2015-10-20 13:59] vdemedes commented on #5779
There is an endless spin, because requests are not closed, even after the failed attempt to send an email. It took ~77 seconds for each request to close. So there is an issue with error handling, because `ETIMEDOUT` error causes the request to close.

Perhaps we should check if email is configured before even trying to send?

[2015-10-20 14:30] vdemedes commented on #5779
I think the immediate transition after clicking "Invite" button to admin panel is a preferable default, since we will see notifications for failed emails anyway:

<img width="471" alt="screen shot 2015-10-20 at 4 29 42 pm" src="https://cloud.githubusercontent.com/assets/697676/10610381/d4d213c2-7747-11e5-858b-90ceffd9d3ea.png">

[2015-10-20 16:24] ErisDS opened #5976 "Public API v1 Sprint Epic"
## Public API

We've been talking for a very long time about making our JSON API publicly accessible via OAuth (See the [OAuth Epic](https://github.com/TryGhost/Ghost/issues/4004)).

The plan is to make this a reality in the next release but in a limited way: The read-only public endpoints will be made available to themes via the `{{#get}}` helper and also to public clients, but without a UI for r

[2015-10-20 16:27] ErisDS commented on #5503
Closing in favour of #5976 which is tracking on going work

[2015-10-20 16:27] #5503 closed

[2015-10-20 16:38] lazzarello opened #5977 "grunt init in stable branch from git fails on module 'lodash-node/modern/objects/assign'"
The following is the output after running `grunt init`. I don't know much about this project's workflow. I'm going to try the archived release but I thought this would be a decent report since searching for keyword "lodash" gives zero results for open bugs.

[code]

[code]

Last three commits from my repo

[code]

[2015-10-20 16:45] acburdine commented on #5942
I can pick this one up if no one's got it

[2015-10-20 17:22] ErisDS commented on #5942
@vdemedes The PR removes user authentication from the public endpoints, and replaces it with client authentication. This means that rather than needing to exchange an email & password for a token, a client gets an id and a secret that they supply instead. This is 100% required, otherwise the ajax requests won't work :wink:

@acburdine Yep by all means pick it up but you might want to wait until th

[2015-10-20 17:38] ErisDS commented on #5977
Hi @lazzarello, sorry to hear you're having trouble.

This sounds very much like `npm install` didn't complete successfully for you - note that in Ghost, `npm install` runs twice - once when you run it in the root dir, and once as part of `grunt init`. Looks like at least one of these didn't work (very common esp on older versions of npm) and you're missing a dependency as a result. It's not a bug

[2015-10-20 17:38] #5977 closed

[2015-10-20 18:15] ErisDS commented on #5968
Hi @maxbook, mebbe I'm wrong but it kinda feels like you hit enter before you finished here?! I'm not sure what sort of response or outcome you were looking for?

Clearly the speed increase is impressive, however you're likely to encounter bugs with things which are stored in memory, like settings & sitemaps.

Perhaps you'd like to look at resolving those issues somehow?

[2015-10-20 18:35] cwonrails commented on #5779
+1 for @vdemedes comment

[2015-10-21 06:01] olsio commented on #2459
I tried to get a fix into the express-hbs module but this would break the current accepted behavior of partials being any kind of file.

To be at least aware I added a new validation check for partials that resolve to the same name. Ghost will give a warning when it finds such a conflict.

[2015-10-21 06:24] olsio commented on #5968
I think the standard setup of nginx handling the multi threading part and node just occasionally delivering a new cache version is preferable to a multi threaded node application. A blog is more on the static content side of web apps and can be cached very nicely.

[2015-10-21 07:13] blehMgowano commented on #5966
I was considering replacing the if statements with case statements, I was
once in that kind of situation

On Sun, Oct 18, 2015 at 6:45 PM, Brett <notifications@github.com> wrote:

[2015-10-21 08:14] lialun opened #5982 "Error: Ghost caught a processing error in the middleware layer."
I just make a theme: https://github.com/lialun/EverBlog.
It is run perfect in develpment mode "npm start", but in production mode "npm start --production", a series of issues arise:
after start ,if the first request is open the main page, like "localhost:2368", after that,all the open blog post request will have a blank response:
![image](http://ghost-blog.b0.upaiyun.com/resp1.jpg)
![image](http:/

[2015-10-21 11:28] vdemedes commented on #5508
I'd like to pick this one up and finish the parts, that are unchecked.

I think a refactoring to `pipeline` utility itself would also be a bonus (as a separate PR). At the moment, it is very confusing to figure out how it works by looking at its implementation. I'd also like to write tests for the `pipeline` util, because `grep` could not find any in `core/test`, so I assume they don't exist.

[2015-10-21 12:05] ErisDS commented on #5821
As @halfdan pointed out - there are also memory issues with node 4 that will heavily impact many Ghost users on small VPS setups: https://github.com/nodejs/node/issues/3370

We will need to have very specific documentation for Node 4 to help mitigate this. Upgrading to support the newer version is non-trivial IMO and we will probably only support LTS versions of Node.

[2015-10-21 16:39] #5840 closed

[2015-10-21 17:30] #5601 closed

[2015-10-21 17:56] dbalders opened #5986 "Bug: When Editing Post, Tab Shows Hidden Menu"
### Issue Summary

When you are inside a post and have the content area in focus and hit tab, it shows a hidden menu.

![tab](https://cloud.githubusercontent.com/assets/4715098/10645341/1fb8cc38-77e2-11e5-986a-291a73af8718.gif)

### Steps to Reproduce

1. Open or create a post
2. Click in the content area
3. Press Tab

### Technical details:

* Ghost Version: 0.7.1
* Client OS: Mac OS X 10.10.3
*

[2015-10-22 03:59] adam-beck commented on #5986
This might be an accessibility thing? If you try doing this on Github itself you will get the same sort of hidden menu.

[2015-10-22 09:36] bohdanafanasyev opened #5987 "Ghost install issue (sqlite3)"
Greetings, I've tried to install from .zip file and while running in terminal npm install --production I get following response:

Node version 4.1.2
npm 2.14.4

Can you please suggest how to resolve this problem?

[code]

[2015-10-22 09:40] ErisDS commented on #5987
Ghost does not support node v4, please use 0.10 or 0.12.

[2015-10-22 09:40] #5987 closed

[2015-10-22 09:44] ErisDS commented on #5986
It's the skip-link so that users with screen readers don't have to hear the menu read out every time they navigate to a new page. It might be better to tweak the CSS so it doesn't push the content down though.

[2015-10-22 10:27] bohdanafanasyev commented on #5987
Thank you, Eris! :)

[2015-10-22 10:51] vdemedes commented on #5779
In my opinion, these 2 improvements combined could solve this:

1. Introduce a 4-6 second timeout to `send()` mail method
2. Immediately transition to dashboard after invitation step

[2015-10-22 13:03] vdemedes commented on #5602
Should transformed order object contain the model name prefix?
[code]
vs:
[code]

`defaultOrderOptions()` in Post model returns attributes without this prefix:
<img width="538" alt="screen shot 2015-10-22 at 3 03 20 pm" src="https://cloud.githubusercontent.com/assets/697676/10665813/1099e0c4-78ce-11e5-81d6-6f0dab244d86.png">

[2015-10-22 13:09] lialun commented on #5982
I find how to solve it,blog.hbs can't reference index.hbs

[2015-10-22 13:09] #5982 closed

[2015-10-22 16:27] #5933 closed

[2015-10-22 18:48] Anfa-am opened #5992 "Build failing, Move all dependencies to dynamic versions"
The dependencies are outdated, would these updates break some codes?

"blueimp-md5": "1.1.0" to "blueimp-md5": ">1.1.0"

Should I make a pull request?

[2015-10-22 19:39] #4181 closed

[2015-10-22 19:42] ErisDS commented on #5942
Another thought I had on this when I was testing #5848 is that at some point, it would also be useful to also expose our url-building utils.

This got me to thinking, do we really want to be including heaps of JS for every theme, as for most it'll be unnecessary overhead, much like jQuery was.

So, what are potential solutions for optionally including it?

1. Have a flag that you add via code inje

[2015-10-22 19:58] acburdine commented on #5942
why not both 2 & 3? I was thinking about how to implement this exactly and short of hardcoding the actual JS into a string and then appending it to the `{{ghost_foot}}` helper, the only other way was including a file via /shared/ or some other publicly accessible file endpoint. Although, it might be confusing to have both available.

Also, I wouldn't think the JS would be _that_ complex for this,

[2015-10-23 07:33] maxbook commented on #5968
Hi, thank for your answers, my post is just a ascertainment, @ErisDS it's true that I do not know where to post it ^^, i'm ok for nginx, it offers the best performance to provide cache (although after several tests the difference is not so impressive). But I do not use nginx everywhere, and perhaps some users are like me, in this case, the multithreading maybe is a good option ;)

[2015-10-23 07:58] ErisDS opened #5993 "Get helper improvements"
Having played with the get helper some more since it got merged, there are some details which need addressing as well as some updates needed to make it work nicely with the filter parameter.

I've kept everything in one issue because I hope that'll help to make it all make sense - the blockParams and data naming stuff is highly confusing.
## 1. Bugfix: Data is getting merged

The data fetched by t

[2015-10-23 10:19] ErisDS commented on #5602
Yes I think it needs to so that it will play nicely with joins?

[2015-10-23 10:31] vdemedes commented on #5602
Ok, then `orderDefaultOptions()` will need to be updated to insert a table prefix.

[2015-10-23 10:32] ErisDS commented on #5602
Note: There are one or two 'hard' problems here when it comes to ordering by counts. Counts aren't implemented yet and so the open PR can be merged without support for that, but I'm just thinking out loud about what the solution might look like.

There is one, cheeky line of ordering code in the stuff I added to make filters work: https://github.com/TryGhost/Ghost/blob/master/core/server/models/ba

[2015-10-23 10:33] vdemedes commented on #5942
I think option 3 is the best one, because it leaves the choice to theme developer whether to include it or not. If we go with option 3, option 2 becomes obsolete, since developers can just use script tag to include the helper. Plus, it won't add a new parameter to `ghost_foot`, which means less pain the the future with backwards compatibility.

[2015-10-23 10:42] ErisDS commented on #5942
I agree it would make sense to have a script loaded via `/shared/` using a param in `{{ghost_foot}}` rather than inlining JS, but I'm not sure that getting theme developers to include it directly provides any benefits in terms of either backwards compatibility or future proofing:

If we encourage users to include a script directly, we have to keep that script around indefinitely. We can't move, re

[2015-10-23 10:52] vdemedes commented on #5942
@ErisDS You are right, I was thinking from the angle of implementation & usage simplicity, which turned out wrong. With possible situations you pointed out, `include` parameter makes sense.

Also, I'd change `ajax_helpers` to `api_helpers`, seems easier to memorize, imo.

[2015-10-23 12:15] sebgie commented on #5942
I'm leaning towards option 3 as it sounds like a first step in the direction of a Ghost-Client-SDK. The script would need to be dynamic since we want to use values that aren't known during the build process (config.url and client_secret). The script would also need to be customized for different clients. We could do that using query params (`/api.js?client-id=ghost-frontend`) which would be simila

[2015-10-23 12:25] kevinansfield commented on #5942
This sounds like a different direction to most JS SDK libraries which expect those values to be passed in during an initialisation step? I'd definitely advise against outputting credentials in any files that have the possibility of being shared.

[2015-10-23 12:46] sebgie commented on #5942
@kevinansfield making config.url and client_id easily usable by a developer is the goal of this issue. These values don't grant any special permissions at the moment and need to be shared with the client side JavaScript (similar to Google Maps API). Can you think of a way to share these values with a client without exposing them to every visitor to the site?

[2015-10-23 12:58] acburdine commented on #5942
imo client_id is fine to share, but client_secret isn't. @sebgie you mentioned client_secret earlier, which may be where the objection came from

[2015-10-23 12:58] kevinansfield commented on #5942
@sebgie Ah, I don't remember seeing too many JS SDKs that work that way. In any case if used in a browser your API key is always publicly available to every visitor to the site, you can try to restrict unauthorised usage by limiting to specific referrers but that's really simple to spoof.

[2015-10-23 13:34] sebgie commented on #5942
@acburdine: `client_secret` is probably a bad name for the value. It comes from the RFC but the value is not secret and doesn't grant any permissions. Maybe `client_key` would be better.

The main purpose of having `client_secret` is to prevent random access (bots, ...) and being able to change it if you need to. Another reason is to have a differentiation between Ghost installs. `client_id` is th

[2015-10-23 15:07] ErisDS commented on #5942
Is `client_secret` being a misnomer something we ought to fix? Should it be `client_key` or `client_token`? Also, is providing the client_id strictly necessary> Is that's another point to think about maybe?

As I understand this, the `client_id` and `client_secret` together make up the 'api key' that you can use to access the Ghost API. There is nothing private about either of these two pieces of

[2015-10-23 15:50] sebgie commented on #5942
It is called `client_secret` because of the specification. Right now we don't treat it as as secret (for clients that can't keep secrets anyway) but it is possible that we will have use cases in the future where it will be secret (for clients that can keep secrets). So if we change the name now it could be confusing in the future? One way out of this problem would be hashing to generate a `client_

[2015-10-23 15:55] kevinansfield commented on #5942
What about the use case where they want to access the public API from their main website (e.g., pull in latest posts) but not necessarily use it from within the blog itself?

[2015-10-23 22:36] sirugh commented on #5986
This is certainly for a11y, however it is probably not supposed to occur after tabbing from the content.

First, I'd make sure it's supposed to be the next focusable element after the element that is currently focused. If that functionality is expected, then the next step is to maybe update the CSS as @ErisDS suggested.

[2015-10-24 07:06] devilankur18 opened #5998 "Express error: request entity too large"
I created a new post with too much content, and express started throwing errors.
[code]

I inspect in to it and its related to express data post limit. I have to change the file `core/server/middleware/index.js` to make it work
[code]

Is there a better way to set limit via config.js ??

[2015-10-24 12:16] anonrig commented on #5992
It is not recommended to use tildas, because a module that doesn't bump its versions using semver may broke the build process. Individual bumps should be done with proper tests for outdated dependencies.

[2015-10-25 02:51] kaustavha opened #6002 "Support for nodejs 4.0.0 and up"
So I tried, struggled and failed to install the default ghost binary from the ../lastest-ghost.zip link on a server where I just installed nodejs.
Turns out node-sqlite3 v3.0.8 doesn't compile on node 4+ i had.
[But 3.1.0 does.](https://github.com/mapbox/node-sqlite3/blob/master/CHANGELOG.md#310)
Which the latest on master has as a dependency instead of 3.0.8.
So I cloned and compiled. Seems to wo

[2015-10-25 10:03] balintant commented on #5803
@jakedahn, I simply exported the data, replaced with a fresh Ghost instance and restored the data. Or I think I did something like that. (Who remembers that far?)

[2015-10-25 11:15] eaardal opened #6003 "Ghost not starting when re-starting Azure web site"
I installed Ghost from the Marketplace in Azure and the installation itself works fine, but when I restarted the web app in Azure it's not able to start Ghost up again. All requests return 500.1002 from IIS. I replicated this by making another site the same way and stopped it, then started it in azure. Same result.

![ghosterror](https://cloud.githubusercontent.com/assets/2316274/10715288/b4d987ee

[2015-10-25 15:51] ErisDS commented on #6002
Please use search before raising new issues. Closing as a duplicate of #5821

[2015-10-25 15:51] #6002 closed

[2015-10-25 15:54] ErisDS commented on #6003
Hi @eaardalsorry to hear you're having trouble. For help with Azure you'd need to contact their support. For questions about Ghost or if you need help and support, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. This is a bug tracker for ongoing development of the Ghost software, and we're not able to do support here!

[2015-10-25 15:54] #6003 closed

[2015-10-25 16:33] ErisDS commented on #5992
I'm not sure what you're referring to by 'build failing' - our travis build is OK and building Ghost is also working ok as far as I am aware. If you need help & support getting Ghost running please reach out in the #help channel of our Slack community.

You can also use the zip files provided which contain pre-built versions of the software.

[2015-10-25 16:33] #5992 closed

[2015-10-25 16:37] ErisDS commented on #5998
Hi @devilankur18, sorry to hear you're having trouble. I've not heard of people encountering this before, except in cases where their nginx/apache configuration, browser or ISP was limiting the size of the request.

I don't think that the code you suggested is the correct solution to the problem, as the limit for bodyparser defaults to `100mb` according to their documentation: https://github.com/e

[2015-10-25 18:59] anonrig commented on #5998
Hello @devilankur18

@ErisDS is correct. You don't have to change your bodyparser limit.

I believe that the problem is based on `nginx` part of the server. You can increase the maximum body size from your .conf file. I suggest adding the following:

[code]

[2015-10-26 10:02] vdemedes commented on #5602
@ErisDS Turns out bookshelf is prefixing attributes with table names automatically. This happened when I added table prefixes:

<img width="438" alt="screen shot 2015-10-26 at 11 02 23 am" src="https://cloud.githubusercontent.com/assets/697676/10726131/13c5a124-7bd1-11e5-8ad2-1d30f9a9bae2.png">

[2015-10-26 11:49] ErisDS commented on #5602
I was just about to reply and say, I think this was done by the order-handling code in the pagination plugin and it probably needs updating to only add the table prefix if it is not already present.

[2015-10-26 11:52] JohnONolan opened #6006 "Bug: Content management items"
Two minor bugs on content mgmt at the moment:
1. When you delete a post, expected behaviour is that the next post below the current one will be selected. (Same as an email inbox) – Currently, the very first/most-recent post is selected at the top of the list when a post is deleted.
2. ~~Deleting a bunch of posts in a row breaks loading, leaves a big empty gap with no way to load in any new posts (

[2015-10-26 11:57] JohnONolan commented on #6006
RE point 2, I'm beginning to wonder if it would make more sense to have a "load more posts" button, as is becoming a common UX trend (cc @kevinansfield ) – Our infinite-scroll implementation has always been quite nasty.

[2015-10-26 12:49] vdemedes opened #6008 "Allow ordering by columns in outside tables via JOIN"
This issue is related to #5602 and #5989.

### Issue

So, while implementing support for ordering by rows from outside tables (when using `join`), I discovered an issue with the way Bookshelf fetches records. It does not use `join`, but uses extra `select` query to fetch additional rows from other tables and then merges them into the final result.

For example, I want to fetch posts and include au

[2015-10-26 13:12] ErisDS opened #6009 "API Cross-table count handling e.g. returning posts.count for tags"
This was originally a comment on #5615, but is large and complex enough to warrant it's own issue. This is heavily related to #6008.

There are two changes that are currently proposed in #5615:

- [ ] Change `post_count` include on Tag endpoint to be `posts.count`
- [ ] Add `tags.count` to Posts endpoint and `posts.count` to Users endpoint

I'm currently looking at how to implement counts across t

[2015-10-26 13:16] ErisDS commented on #4180
@sebgie is there anything left to do here?

[2015-10-26 14:03] sebgie commented on #6008
I have not tried it out yet, but this SO question shows a possible approach to sorting related models.  http://stackoverflow.com/questions/22568153/order-bookshelf-js-fetch-by-related-column-value

[2015-10-26 14:05] sebgie commented on #4180
No, all done, additional verification steps will get a new issue :).

[2015-10-26 14:05] #4180 closed

[2015-10-26 14:40] ErisDS commented on #6008
Link to the discussion that lead to us breaking this issue out from #5602: https://ghost.slack.com/archives/dev/p1445860844002641

[2015-10-26 14:50] IamRafy commented on #5821
Tried changing the sqlite version after changing node version from package.json file and still the same problem .

[2015-10-26 16:49] cwonrails commented on #5821
@IamRafy You have to also update the "node version" section of package.json for it work.

[2015-10-26 17:19] cwonrails commented on #5821
@IamRafy My fork works if you want to check it out.

[2015-10-26 18:11] kevinansfield commented on #5845
This has been partially revisited in that the "scratch" properties are now self contained within the `gh-tag-settings-form` form component which leaves the controller clean as it only has to deal with `setProperty` actions that are raised from the component. `setProperty` and the resulting save of tag models are currently only triggered on blur.

Was there something else that needed to be addresse

[2015-10-27 07:28] nightsh commented on #5777
How about using [this beauty](https://www.npmjs.com/package/ember-pikaday-with-time)? I can give it a shot, but I'd like a green light from anyone more familiar with the project or previous attempts.

[2015-10-27 07:54] fitgeekpaul opened #6013 "Ghost wont show the installed Theme and cant post any posts pls HELP"
Hi,

I have installed ghost on the a2hosting.com servers by using their ghost platform.
Logging in on the ghost cms went fine on www.jonathanklaassen.com .
and uploaded the bought theme to through Filezilla in the themes map.
Logged into the Ghost template and changed the template.
Checked the site again... I am not seeing the new template at all.
And when i want to post a new item i dont even see

[2015-10-27 08:37] vdemedes opened #6014 "Bug: Error when creating a post without title"
### Issue Summary

When using Ghost API and sending a post without title to `/ghost/api/v0.1/posts`, it crashes with the following error:

<img width="442" alt="screen shot 2015-10-27 at 9 19 00 am" src="https://cloud.githubusercontent.com/assets/697676/10752690/cad990cc-7c8b-11e5-9c1b-aa219a132156.png">

### Steps to Reproduce

1. Get an access token for the API
  - Go to your blog's dashboard (`

[2015-10-27 08:53] vdemedes commented on #5993
Regarding `posts or post?`, I think this behavior would be expected:

[code]

So, basically, taking into account singular/plural form of a resource (post, posts) and returning results accordingly. This also eliminates some extra code for singular post rendering, like `{{#foreach posts}}{{/foreach}}` and `as |post|`.

[2015-10-27 09:18] vdemedes commented on #6013
Issue resolved in Slack's #help - https://ghost.slack.com/archives/help/p1445936037001701.

[2015-10-27 09:18] #6013 closed

[2015-10-27 09:55] vdemedes commented on #5942
As for automatically outputting client_id and client_token/client_secret in some dynamic javascript file, I agree with @kevinansfield, this is not a good practice and I haven't seen anything like this implemented in the wild. This approach wouldn't protect against bots, as they could request that file and parse the credentials from there.

When it comes to client-side, there's not much you can do

[2015-10-27 11:41] #6014 closed

[2015-10-28 04:44] srrvnn commented on #5779
this seems to have been fixed. i finished the setup with multiple emails in step three and was immediately transitioned to the dashboard page.

also, in an attempt to reset so that i can setup again when i go to /ghost, i ran `grunt cleanDatabase`. that fails with :

[code]

how can i setup `dbConfig.knex`, and what am i missing?

[2015-10-28 10:02] kevinansfield commented on #5151
Copying relevant discussions from Slack...

Main issues of splitting posts/pages into separate resources from the ember side:
- toggling the model type could be tricky, not sure how to handle that with ember data yet
- (future issue?) tag objects returning relations will need to specify both post_ids and page_ids
- if we’re keeping the same UI without splitting pages and posts into their own areas

[2015-10-28 10:11] kevinansfield opened #6018 "Standardise on camelCase property names in the client"
Currently we have client-side model definitions that define underscored_properties such as the following from the Tag model:

[code]

This breaks Ember conventions and has led to some confusing situations such as the following taken from the tag validator:

[code]

Wherein we have both `metaTitle` and `meta_title` and the need to remember which is used where both inside the validator and when inte

[2015-10-28 11:09] vdemedes commented on #6008
@sebgie Thanks for the link, I'll try that.

[2015-10-28 11:15] vdemedes commented on #5942
We could take a step further and provide ultimate compatibility for API endpoints between Ghost versions:

[code]

The idea is provide something like rails url helpers, which ensure that API endpoint changes don't break the whole codebase, which is perfect.

I believe this contributes to smoother API changes and stability across releases. With implemented Stripe-like versioned API in Ghost, we wil

[2015-10-28 14:40] vdemedes commented on #5821
Here's the summarized information on node v4.x support - https://gist.github.com/vdemedes/618cadc9e191d2519008. Please, let me know if I missed something!

[2015-10-28 18:59] nickfoerster opened #6022 "Ellipsis after post excerpt"
More of a feature request than an issue. I noticed with themes that use post excerpts on the front page are ended abruptly without any use of punctuation. I suggest an option to place an ellipsis [...] before the closing </p> tag to remind readers that there is a continuance.

If there is a feasible hack for this, I'd definitely like to know. Thanks!

[2015-10-28 21:38] halfdan commented on #6022
@nickfoerster Yes, the simple hack is `{{excerpt}}[..]`. Just add the [...] to your theme after the excerpt helper.

[2015-10-29 08:23] JohnONolan commented on #6022
You can see this in action on the Casper theme, where there's a "read more" link rather than an ellipses. But either works! https://github.com/TryGhost/Casper/blob/master/partials/loop.hbs#L13 :)

[2015-10-29 08:23] #6022 closed

[2015-10-29 13:17] adamcooke commented on #6022
Wouldn't it be nice if the {{excerpt}} helper added the `...` only if truncation has occurred?

[2015-10-29 13:24] vadimdemedes opened #6023 "Growing latency on high-traffic blogs"
**TL;DR**

On increased amount of requests (requests per second, next "RPS") Ghost starts to consume a growing amount of memory, latency dramatically increases and requests start to hang.
### Tests

I used [loadtest](https://github.com/alexfernandez/loadtest) tool for load-testing instead of ab or wrk, because it allows to set desired RPS and produces continuous output along with completed request

[2015-10-29 15:52] kevinansfield commented on #6023
@vdemedes are you able to also show overall CPU/memory usage and IOWait alongside the memory graphs? This behaviour seems pretty typical to every server app I've worked with before - as the RPS increases the whole system is constrained and once you reach a critical point latency increases on everything.

200 RPS is crazy high to be pushing through to express on a single machine, the proper solutio

[2015-10-29 16:03] vdemedes commented on #6023
@kevinansfield I could report these values, but this requires sending stats to statsd, so this will need some work. Unfortunately, I won't be able to do this by the end of the week.

200 RPS is indeed high, but same thing happens with 100 RPS. It works perfectly though with 50 RPS. Plus, 200 RPS is not a lot for Node.js apps.

Absolutely, varnish/cloudflare/etc in front of the Ghost app would solv

[2015-10-30 07:18] alirz23 opened #6026 "demo login"
you guys have a demo up on http://demo.ghost.io but no credentials how does one login to the admin I tried to install it on my local machine took 2 hours to setup the whole thing

[2015-10-30 11:01] ErisDS commented on #6026
Hi @alirz23, demo.ghost.io is a demo of what a Ghost blog looks like. If you want to try it out you can go to ghost.org, sign up and try our Ghost for 14 days - there are no card details required.

[2015-10-30 11:01] #6026 closed

[2015-10-30 12:38] reinoudk commented on #5998
I was able to reproduce this running Ghost without nginx.

### Issue Summary
Cannot create posts larger than 100kB. This is due to the default bodyParser limit of ```100kb```.

### Steps to Reproduce
1. click on New Post
2. Copy (75kB) content of https://gist.github.com/reinoudk/4c1c8e63d2970c0d2275#file-75kb-txt to content
3. click on SAVE DRAFT
4. Copy (150kB) content of https://gist.github.com/

[2015-10-30 19:17] gam-phon commented on #5618
Created the idea. Every one pass to this issue please vote for it. Thanks
http://ideas.ghost.org/forums/285309-wishlist/suggestions/10481094-table-of-content-toc

[2015-10-31 07:08] sethbrasile commented on #5926
@vdemedes I disagree with your points about a complicated installation. Take a look at my Cloudinary storage module: https://github.com/sethbrasile/ghost-cloudinary-store

Installation:

1. Run npm install ghost-cloudinary-store --save

2. Create file `content/storage/ghost-cloudinary-store/index.js`

3. Put `module.exports = require('ghost-cloudinary-store');` into this file

4. Follow the instru

[2015-10-31 11:26] devilankur18 commented on #5998
@ErisDS I also thought that my nginx was causing the problem, but as I started debugging,  it as not nginx. Nginx has no error logs, and the max-post size was already 100mb there.

Here is the post which was causing the problem in creation. Everything got fixed after I have added added 2 lines of code mentioned above.

http://blog.smugglr.co/2015/10/23/we-made-it-open-season-and-got-100s-of-agenci

[2015-11-02 09:20] epicmiller commented on #5821
Any way to publish a canary or beta build with the 4.x changes for those of us consuming ghost as a node module?

[2015-11-02 13:20] ErisDS commented on #5968
Ok in that case, I'm going to close this.

I don't recommend scaling Ghost this way due - you'll likely run into issues as explained above, instead I'd recommend scaling Ghost by placing CloudFlare, Varnish or any other cache in front of it.

With regards to improving the rps, perhaps there are some indicators in #6023 that show ways we could improve Ghost in order to optimise performance.

[2015-11-02 13:20] #5968 closed

[2015-11-02 13:57] ErisDS commented on #5942
I'm not sure whether it makes sense to support the full set of BREAD api methods as shown by @vdemedes, or whether it makes more sense to have a single utility for talking to the API treating it as a URL builder, more like the get helper:

`ghost.api.url('posts', {limit: 5});`

The difficulty with supporting the full BREAD 'api' as it were, is that it looks the same as the code that would usually

[2015-11-02 15:44] ErisDS commented on #6023
I agree that this is a case where, putting a cache in front of Ghost is far more expected than throwing >50rps at it.

However, it looks to me like this is hinting at some interesting structural concerns with the way we depend on bookshelf and knex that are likely to become more apparent as we open up the API.

We have talked before about having a caching layer inside the API, and improving the ca

[2015-11-02 16:15] #5941 closed

[2015-11-02 17:47] ErisDS commented on #5777
@nightsh there's no screenshot at that URL which makes it hard to determine whether it's going to work - but I'd recommend doing a bare-minimum spike with that component? That is, get it minimally wired up to appear in place and perhaps record a quick screencast of how the interactions work. It would also be good to further document from that spike what can or cannot be changed / adjusted. It woul

[2015-11-02 18:14] #5797 closed

[2015-11-02 18:20] ErisDS commented on #5845
I only wrote that bullet point because you had said something about wanting to change those things, I had nothing in particular.

I think we can count this issue as complete?

[2015-11-02 18:21] cobbspur opened #6034 "Bug: Sessions and authentication"
### Issue Summary
I have had difficulties recently setting up ghost/logging in to ghost/creating exports which I think are all inter-related hence raising them in one issue initially.

One issue is setting up a new blog after deleting database results in errors.

The second issue seems to be that if I log out I cannot log back in again - access is denied. Using the password reset can sometimes ena

[2015-11-02 19:48] kevinansfield commented on #6034
I've seen something like this recently when deleting/recreating databases. Deleting the auth info from local storage fixes it so that definitely points to an issue with either the changes in ember-simple-auth (most likely) or changes in how we handle invalid sessions.

I'll have a play and see if I can find anything that may be causing the behaviour in ESA.

[2015-11-02 19:55] acburdine commented on #6034
I think it may have to do with the oauth-prefilter instance initializer. That was the only reasonable way I could think to implement that behavior when I upgraded it, but I think it may cause issues on setup if the blog is deleted. I will also look into this.

[2015-11-02 19:58] kevinansfield commented on #5845
Ok cool, that can definitely be marked as complete then.

[2015-11-02 19:59] ErisDS commented on #6034
Hitting the export button is the easiest reproduction case atm I think

[2015-11-02 19:59] #5845 closed

[2015-11-02 22:39] acburdine commented on #6034
Based on the initial looking into this I did, I think the export button error and the log in/create blog error are, while both related to Ember-Simple-Auth, not the same problem.

The login/signup error: When Ember is loaded, Ember Simple Auth calls the oauth2 authenticator's restore method in order to verify that the user is still logged in. The issue stems from the fact that the restore method o

[2015-11-03 10:03] adamkdean opened #6035 "Better workflow support (publishing permissions)"
Now, I may be missing something in which case please tell me and close this issue, but I think that Ghost could benefit from better workflow support with regards to publishing permissions.

I want to allow authors to write posts and put them into a state where they are ready to be published but must be approved and published by an editor/admin user, not unlike the way a pull request works. As I un

[2015-11-03 10:32] nightsh commented on #5777
I can also create a public instance on a demo server, then let you guys take a look at the thing yourselves. A demo is worth a thousand screencasts :sunglasses:

If it works, it'd be anyway better than a partially broken text input. Right?

[2015-11-03 11:07] kevinansfield commented on #5777
@ErisDS There's a demo at http://dio-el-claire.github.io/PikadayTime/. I can't find the conversation now but I vaguely remember that when the date input has been discussed previously it was said that we wanted to stay away from pop-up calendar components? /cc @JohnONolan

[2015-11-03 11:14] ErisDS commented on #6035
Hi @adamkdean,

You can vote for this feature on our [wishlist](http://ideas.ghost.org/forums/285309-wishlist/suggestions/7193351-contributor-author-account) or add your own feature request there if you feel your idea is significantly different.

This idea is one that we are very much looking into, however the existing permissions system in Ghost doesn't support the level of granularity that would

[2015-11-03 11:14] #6035 closed

[2015-11-03 11:45] adamkdean commented on #6035
Thanks for the feedback and the information. I wasn't aware of the wishlist but I'll do that.

[2015-11-03 14:21] kevinansfield commented on #6034
The issue here is that your access token is still around in local storage from the previous install so when loading ghost again it thinks you're logged in so tries to load normally but the server returns a 401 as your access_token no longer exists.

One workaround is to always redirect to `/signin` when we get a 401 error but this opens up edge cases where we may not want to redirect, e.g. You're

[2015-11-03 14:50] kevinansfield commented on #5777
https://github.com/minutebase/ember-time-field - Literally just released 😁 Haven't had a chance to fully dig in yet but this was my original thinking for the date input UI where individual parts are clickable and can navigated/changed with left/right/up/down key presses.

This addon isn't an exact fit for our needs as it's time-only rather than date but it's another avenue to pursue.

[2015-11-03 15:01] cwonrails commented on #6034
I can try to replicate locally. What is your node and npm version?

[2015-11-03 15:34] kevinansfield opened #6039 "Convert casper tests to ember acceptance tests"
Now that the casperjs tests have been switched off and quickly breaking as they are no longer being maintained we should aim to replicate the high-level tests in Ember.js.

Ember acceptance tests are a lot easier to reason about than the casperjs tests as they offer a number of [helpers](http://guides.emberjs.com/v2.1.0/testing/acceptance/#toc_test-helpers) with knowledge of Ember's run loop and o

[2015-11-03 18:06] ErisDS opened #6040 "Regression: Export throws 'access denied'"
Exports are currently broken - they appear to do nothing, but are throwing 401 errors behind the scenes

### Steps to Reproduce

1. Login to your Ghost admin
2. Go to the 'labs' page
3. Hit 'export'
4. Nothing happens
5. Terminal / server console shows 'Access denied' error

This has happened quite recently and may be related to #5972

### Technical details:

* Ghost Version: master (latest commit

[2015-11-03 18:08] acburdine commented on #6040
I can look at this. Shouldn't be too difficult of a fix.

[2015-11-04 07:14] channprj commented on #6040
Same thing happened to me.
[code]

[2015-11-04 10:23] bangbang93 opened #6043 "after setup can not login"
in page "/ghost/setup/two/"
I setup with email&password&etc
after that I got a 401 error

here is log
[code]
and  error
[code]

I used clipboard ,so I can't input wrong password.And I had use email to reset password.According to log ,the reset was successfully but I still can't login .

I'm using MySQL for database

[2015-11-04 10:25] kevinansfield commented on #6043
Hi @bangbang93, which version of Ghost are you using?

[2015-11-04 10:28] bangbang93 commented on #6043
0.7.1
latest master branch ,I cloned seval hours ago

[2015-11-04 10:29] ErisDS commented on #6039
Putting my hand up for the content screen section - I really want to do at least one part of this so that I can fully get my head around the tools we're using 😊

[2015-11-04 10:31] kevinansfield commented on #6043
Ok, this issue may be related to #6034 which I'll be looking into today.

Do you have anything in local storage? It's accessible under the Resources tab in Web Inspector.

[2015-11-04 10:33] bangbang93 commented on #6043
{ghost:session: "{"authenticated":{}}"}

only this
no cookies or session storage

[2015-11-04 10:44] bangbang93 commented on #6034
from #6043
node v4.2.2
npm v2.14.7

same as Incognito mode,forever loading spinner
in users table I got an user record

[code]

[2015-11-04 12:02] JohnONolan commented on #5777
@kevinansfield I don't have anything against calendar pickers - I think we just never found one that didn't suck?

[2015-11-04 14:19] ErisDS commented on #5777
From what I remember, we've gone without a calendar because:
- The jQueryUI one (that was the best thing available) was too heavy.
- Alternatives were clunky or ugly / hard to configure
- The native one is sucky, not configurable enough, and it was too hard to implement a sensible fallback (see #4472)
- Pikaday has looked good for a while, but only supported dates.

So we've been stuck where we'd

[2015-11-04 14:23] nightsh commented on #5777
@ErisDS @JohnONolan I have found [this one](http://xdsoft.net/jqplugins/datetimepicker/), any thoughts? I can try it if you think it's worth it.

[2015-11-04 14:32] JohnONolan commented on #5777
I really like the one Baremetrics use https://ghost.baremetrics.com

[2015-11-04 14:45] nightsh commented on #5777
But that doesn't have a time picker. I'll try to integrate the date+time one into a fresh install, see how it works.

[2015-11-04 17:11] ErisDS commented on #5942
@acburdine I've done a PR for the first part of this - adding the meta tags - see #6045

That should give you a framework to look at adding a url helper, if that's something you've got time for.

Doing this made me realise that the script should probably be injected in `{{ghost_head}}` rather than `{{ghost_foot}}`? Makes sense to do it [here](https://github.com/TryGhost/Ghost/pull/6045/files#diff-

[2015-11-05 06:02] eklavyamirani commented on #5169
Hi! This looks like it is up for grabs. Can I take this one up? :)

[2015-11-05 09:54] cobbspur commented on #6034
Okay so this seems to be my mistake. Other than the export issue which is its own separate issue now.

Locally without realising it, I have been using an old shortcut 127.0.0.1:2368/ghost but this is mapped to localhost in my hosts file. Using localhost:2368/ghost I do not experience any of these problems.

[2015-11-05 09:59] kevinansfield commented on #6034
Ah okay, I thought it was strange that I couldn't reproduce exactly. You have managed to highlight a number of areas where our handling of authorisation has regressed however so I'm adding tests for those and working on fixes :smile:

Are we good to close this issue in favour of the separate export and redirect/re-auth modal issues that I'll be opening?

[2015-11-05 10:00] cobbspur commented on #6034
Yeah I believe so, the export one has already been raised

[2015-11-05 10:07] kevinansfield opened #6047 "Regression: Not redirected to sign-in with invalid session"
Steps to reproduce:

1. Sign-in to your current dev install
2. Delete your database
3. Re-start the dev server
4. Try to navigate through the app

Expected result: You are redirected to `/signin`

Actual result: You are shown the "Error" page and the console contains the `401 unauthorised` response error followed by 1 or more `Adapter operation failed` errors.

[2015-11-05 10:14] kevinansfield opened #6048 "Regression: No re-auth modal when saving editor with invalid session"
Steps to reproduce:

1. Create/edit a post and ensure it's saved
2. In web inspector find your `ghost:session`in the Local Storage section under the Resources tab and edit your `access_token` string
3. Change the post body and click save

Expected result: You are shown the re-authenticate modal from which you're are able to sign-in and continue

Actual result: You are shown an error alert: "Saving

[2015-11-05 10:16] kevinansfield commented on #6034
Closing in favour of #6040, #6047, and #6048.

[2015-11-05 10:16] #6034 closed

[2015-11-05 10:20] kevinansfield commented on #6048
I have a failing test in place for this. It appears that ember-simple-auth no longer raises the `authorizationFailed` action so we need to find the correct way to hook into this state with ESA 1.0.

[2015-11-05 12:26] kevinansfield commented on #6048
I think the solution to this is going to be further reaching than I first thought. The core problem is this:

- In `ValidationEngine` we override `.save` to handle validation (which is fine) but we also capture any errors raised and use `getRequestErrorMessage` (from `utils/ajax.js`) to replace the original error object with a string.
- Anywhere we use the `.save().catch()` pattern to do custom er

[2015-11-05 12:27] kevinansfield commented on #6047
The fix for this should fall out of the work outlined in https://github.com/TryGhost/Ghost/issues/6048#issuecomment-154045037

[2015-11-05 15:00] kevinansfield opened #6050 "Improve 422 validation error responses"
Our current validation error format (not sure if this is consistent across the app?) looks like this:

[code]

This has a couple of issues when attempting to consume on the client side:
- It's necessary to extract the invalid property name from the message string
- The message is not suitable for display within in-line validations

Due to the above issues we don't currently have anything in our Em

[2015-11-05 15:24] jgillich commented on #5632
Unless I'm wrong, this is https://github.com/showdownjs/showdown/issues/208 and there's an easy solution.

[2015-11-05 23:14] epicmiller commented on #5821
@ErisDS: Bump :)

[2015-11-06 05:28] ndaidong commented on #5821
I can't wait more because I use Ghost for many projects. So this is my solution:

https://github.com/re-clone/Ghost

[2015-11-06 05:33] epicmiller commented on #5821
Unfortunately I'm using ghost as a node module in part of a larger express app that is deployed automatically to a cluster, so I don't have the luxary of manually installing the latest sqlite3 on each machine :) Fine solution for smaller projects though.

[2015-11-06 08:22] ErisDS commented on #5821
Please read this: https://gist.github.com/vdemedes/618cadc9e191d2519008

Ghost will be adding official support for Node LTS versions as part of our standard release cycle.

I'd love to see a PR adding node 4.2.0 to the travis build - this is more than a simple text change as the startup checks will need to be overridden in some way when in test mode.

Additionally, I'd love to see a PR adding a pr

[2015-11-06 21:32] edsadr commented on #5821
Ok..  I will work on a PR this Monday..  @ErisDS

[2015-11-07 16:37] 2moveit opened #6054 "Feature request: Post image attribution"
It would be great to have a function to add attribution informations for the post image in the settings of the blog post. So you can add the attribution of an image that is for example under the Creative Common License easily. The attribution then might be displayed as an overlay in the image on the site.

[2015-11-07 16:51] beane commented on #5829
I can confirm this - seeing it in production on
- Ghost Version: 0.7.1
- Ghost Branch: stable
- Ghost Commit: f91f3edaf2a8bb7becdf74258d71e2bce4d2226e
- Client OS: Mac OS X 10.11.1 El Capitan
- Server OS: Ubuntu 14.04
- Nginx Version: Nginx v 1.8.0 reverse proxying to node
- Node Versions: 0.10.40 and 0.12.7
- Browser: Safari 9.01

Definitely looks like an issue in Ember code:

![ember_console_iss

[2015-11-07 20:46] acburdine commented on #6054
Hey @2moveit! Thanks for contributing! However, we ask that feature requests be submitted via http://ideas.ghost.org/ . That way, others can up vote your idea if they agree.

The github issue tracker is for actual issues with the software :)

[2015-11-07 22:04] 2moveit commented on #6054
Ahh, sorry. Thought it will be just a flag. But good to know, will do it there. Thx.

[2015-11-08 11:40] #6054 closed

[2015-11-08 13:11] ErisDS commented on #5829
Ghost's login mechanism leverages localStorage. Safari's private browsing mode disables localStorage and so it disables Ghost's login functionality. Ghost is therefore currently incompatible with Safari's localStorage.

Building in a fallback is being worked on by [ember simple auth](https://github.com/simplabs/ember-cli-simple-auth/issues/38) and so this issue will hopefully disappear once we upg

[2015-11-08 22:01] mdausmann opened #6055 "No support for legacy Blogger or WP routes"
I can convert my blog from blogger with the various tools however one it is imported, I can't find any way to support my legacy URL format. e.g.

http://www.michaeldausmann.com/2014/09/how-to-not-learn-coffee-script-in-90.html

I have deployed a ghost instance with a horrible kluge to hard code my legacy routes but this is hardly a great solution.

https://gist.github.com/mdausmann/02c4993d11a8776

[2015-11-08 22:53] acburdine commented on #6055
The problem seems to be in the tools used to convert from Blogger to Ghost. In theory, if the 'slug' attribute of the post is set correctly in Ghost, then those routes could in theory work without the workaround you have set. (See http://support.ghost.org/post-settings-overview/) for info on how to set the post slug.

My issue with supporting something like legacy blogging routes from other bloggi

[2015-11-08 23:50] jgillich commented on #6055
These redirects can be done by a proxy in front of ghost, like nginx or haproxy, no need to hack the core.

@acburdine You can change the slug, but permalinks are fixed to `yyyy/mm/dd` and can't be changed.

[2015-11-08 23:59] acburdine commented on #6055
@jgillich yeah I get that, but the permalink structure doesn't seem to be the issue here (at least based on the gist) - also, that's technically configurable in the database.

I agree that a nginx proxy can also be used, but IMO fixing this issue in the blogger-to-ghost conversion tool (if there is one) is the better way to fix this.

[2015-11-09 00:48] jgillich opened #6056 "Ghost CI"
A long time ago we [talked](https://github.com/TryGhost/Ghost/issues/1603) about running tests on multiple operating systems using Docker and Jenkins. Today, Travis offers support for docker natively so I though I'd give it a try.

Here are the results:
https://github.com/jgillich/Ghost-CI
https://travis-ci.org/jgillich/Ghost-CI

* Runs tests on 6 different Linux distributions
* Supports multiple

[2015-11-09 01:11] acburdine commented on #6055
I realized that it isn't possible to set the '.html' endings for a post slug in the post itself, however, you _can_ change the permalinks setting in the database itself. By default it is set to `/:slug/` but it works if you change the value to `/:year/:month/:slug.html/` it should support the same format as the legacy Blogger format. The only downside is that all of your posts from then on would h

[2015-11-09 01:40] jgillich commented on #6055
That is true. Can I maybe help with #1631 or do you want a different UI for that @ErisDS?

[2015-11-09 02:44] jgillich commented on #5821
IMO, Ghost should not refuse to run on newer node versions. There are already several Linux distros shipping newer versions (opensuse 4.x, arch 5.x) and new major releases seem to happen quickly now.

[2015-11-09 09:18] mdausmann commented on #6055
@acburdine Agree, the conversion tool is the best place for this type of thing if the core supports it but from your comments it doesn't look like it is supported fully.

FYI, the tool I used to do the conversion is https://www.npmjs.com/package/blogger2ghost It was pretty easy and worked well.  I don't much like the permalinks setting idea as I don't' really want to keep the year/month/post forma

[2015-11-09 14:46] cwonrails commented on #5821
@jgillich +1

[2015-11-09 14:48] cwonrails commented on #6056
This is really cool! Thanks for your work here :)

[2015-11-09 22:37] edsadr commented on #5821
well .. I would say :+1: @jgillich ..  but Ghost prefers to be really conservative about it... so... better to have at least  LTS support than nothing...

[2015-11-09 22:50] jgillich commented on #5821
FWIW, the tests succeed on both 4 and 5.

@edsadr I'm not saying we should really encourage the latest node. Warn users, make them confirm that they know what they're doing. If something breaks, great, they will report it and we get to fix things early. The longer we wait, the more users will be affected by potential bugs.

[2015-11-10 07:33] JohnWestlund commented on #5632
@jgillich I cant get the work around you posted to work on http://showdownjs.github.io but not in Ghost. The best I've been able to manage is:
<pre>1. item one
[code]
2. item two</pre>

Which creates a what looks like a code block broken in half over two lines:
![capturemd](https://cloud.githubusercontent.com/assets/5503935/11056810/4f8cfaa8-873a-11e5-9637-ab27501a1969.PNG)

[2015-11-10 12:02] kevinansfield commented on #5632
@JohnWestlund I believe the workaround doesn't used "fenced" code blocks, rather relies on the indentation to indicate a code block. e.g.:

![screen shot 2015-11-10 at 12 00 47](https://cloud.githubusercontent.com/assets/415/11061967/d8797676-87a2-11e5-9927-aa894b908d57.png)

[2015-11-10 15:02] edsadr commented on #5821
@ErisDS would be nice if we can discuss ... I am really trying to help, but better if you provide more details, as I said this was the initial one, there was some comments inside asking and I would work on it after your feedback... but just closing it without explaining better... is just feel a bit rude

[2015-11-10 17:55] ErisDS opened #6062 "Sprint Epic - 10th Nov - refactoring & cleanup"
Wrap up Public API Sprint Epic: #5976 (5 items)

Other Blockers for release:

- [x] Regression: Export throws 'access denied' #6040
- [x] Regression: No re-auth modal when saving editor with invalid session #6048
- [x] Regression: Not redirected to sign-in with invalid session #6047

----

This sprint:

- [ ] modal refactor #5798 @kevinansfield
- [ ] acceptance tests - add outline files for each s

[2015-11-10 19:18] ErisDS commented on #5821
@edsadr As I explained, the work that is needed is *not* a simple text change. You opened a PR with text-only version changes - the same as previous PRs that I have also closed.

[2015-11-11 01:30] OKNoah commented on #5911
I am having the same issue with NVM version 0.10.33.

[2015-11-11 05:28] nevi-me commented on #5911
@OKNoah you have to remove the modules and rebuild from scratch. Gyp will use the version of Node that it finds, and will either build or download the appropriate binaries.

[2015-11-11 06:18] juanpaulo opened #6066 "Filter contents by tag in admin panel"
Sort of related to #5321.

In Content tab (admin panel), show tag names in each content to visually categorize contents by tag. This will be useful as the number of contents grow.
As an enhancement, it would be great if clicking on the tag name filters the contents with the same tag.

[2015-11-11 11:14] rodrigogoncalves commented on #2003
@ErisDS, do you know why logins take so long in a Raspberry Pi + Raspian? I am running into this issue and I am having a hard time debugging its causes.

[2015-11-11 11:33] ErisDS commented on #5614
This issue is a catch-all for the work of checking and fixing any issues with permissions now that public api access is possible.

At the moment, two of the checks listed in the original issue are definitely failing:

- ensure that the rules remain in place when making requests across relations, e.g. tag.posts or tag.posts_count
- ensure that the rules remain in place when the filter parameter is

[2015-11-11 11:38] ErisDS commented on #2003
@rodrigogoncalves see https://github.com/TryGhost/Ghost/issues/1207 :)

[2015-11-11 13:53] ErisDS commented on #6055
Hey @mdausmann, I definitely recommend moving those redirects to nginx - it will be much more performant and that is the expected way to do redirects with Ghost.

A few notes on what has been said:

- Ghost provides, by default, what is considered the best url format for SEO purposes. It is recommended that if you're migrating that you move your urls and add 301 redirects for the old content to ge

[2015-11-11 13:53] #6055 closed

[2015-11-11 13:55] ErisDS commented on #6066
Hi @juanpaulo,

To request a feature for Ghost you can add your idea (or vote on a similar one) over on our [wishlist](http://ideas.ghost.org). We use this list to help determine what goes into the roadmap and how to prioritise features. You can also access the wishlist any time from inside the Ghost admin:
![](http://puu.sh/jXKwm.png).

[2015-11-11 13:55] #6066 closed

[2015-11-12 08:38] fwb7014 opened #6069 "Mark code not handle perfectly"
I found the below code not  handle perfectly when i post a blog.

[MenuItem("Tools/删除场景没用的MeshCollider和Animation")]
	static public void Remove()
	{
	  //获取当前场景里的所有游戏对象
		GameObject []rootObjects = (GameObject[])UnityEngine.Object.FindObjectsOfType(typeof(GameObject));
		//遍历游戏对象
		foreach(GameObject go in rootObjects)
		{
		  //如果发现Render的shader是Diffuse并且颜色是白色，那么将它的shader修改成Mobile/Diffuse
			if(go

[2015-11-12 17:04] #6047 closed

[2015-11-12 17:04] #6048 closed

[2015-11-12 20:30] heidiv commented on #4989
My ghost installation is located at example.com/writing and I'd like to link to "Home" at example.com in the navigation but am unable to as /writing always gets appended. Not sure if this is a bug or a limitation? Thanks!

[2015-11-12 21:14] jgillich commented on #6069
We can't really help you with so little information, please read https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#reporting-an-issue.

[2015-11-13 07:26] mcsekar commented on #5850
I am facing the same issue mentioned above.
    ERROR: Can't set headers after they are sent.
 registerAsyncThemeHelper: ghost_head

 Error: Can't set headers after they are sent.
    at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:335:11)
    at ServerResponse.header (C:\Ghost\ghost-0.7.1\node_modules\express\lib\response.js:700:10)
    at ServerResponse.send (C:\Ghost\ghost-0.7.1\

[2015-11-13 07:27] mcsekar opened #6073 "ERROR: Can't set headers after they are sent. in Ghost theme"
ERROR: Can't set headers after they are sent.
registerAsyncThemeHelper: ghost_head

Error: Can't set headers after they are sent.
at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:335:11)
at ServerResponse.header (C:\Ghost\ghost-0.7.1\node_modules\express\lib\response.js:700:10)
at ServerResponse.send (C:\Ghost\ghost-0.7.1\node_modules\express\lib\response.js:154:12)
at fn (C:\Ghost\g

[2015-11-13 09:03] gchandrasa commented on #5632
@kevinansfield yes, the indentation work but how do you use syntax highlight without fenced code blocks

[code]

[2015-11-13 09:06] ErisDS commented on #6073
Hi @mcsekarsorry to hear you're having trouble. If you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/. There is a #themes channel there where you can get help with your theme. Please post as much information as you can about your theme and the problem you are having and someone will help when they are able. GitHub is a bug tracker for ongoing devel

[2015-11-13 09:06] #6073 closed

[2015-11-13 11:05] Kikobeats commented on #5519
@blackxored I have the same issue under Ghost@0.7 using twemoji (and MySQL as well)

[2015-11-13 13:25] kevinkucharczyk opened #6075 "i18n: Harvesting client-side strings"
This is part of the i18n project described in #5345. I'd love to see some progress on this :smile:

Harvesting server side strings is already in progress (see issue #5617), but we also need to start isolating strings inside the Ember app. This should be done using the [ember-intl](http://formatjs.io/ember/) addon.

This is a big job, as we have lots of templates and .js files that have English str

[2015-11-13 13:41] kevinansfield commented on #6075
Thanks @kevinkucharczyk! I'm definitely up for starting work on this sooner rather than later as we're only going to gather more strings to translate as time goes by.

As you say the first step is to get `ember-intl` set up - this is something I'd like to do once #5970, #6020 and a forthcoming `ember-cli` upgrade are merged and confirmed working. There is also on-going work on the client-side acce

[2015-11-13 14:02] kevinkucharczyk commented on #6075
#6050 is an interesting one. I kinda like the idea of providing an i18n key to the client, which would look up its own translations.

However, we are also translating the API messages themselves (in #5617), so I'm worried that this might lead to duplicate strings - they'd exist in both the client and server translation jsons and we would always need to be sure to update both files whenever we chan

[2015-11-13 14:11] kevinansfield commented on #6075
Yeah, it's an interesting one - my initial thoughts on #6050 were that the API should be language-agnostic otherwise for every API request we also have to pass which language we expect back. However, if that is the case we would then expect any other clients of the API to use the default english response, provide their own translations, or offer some way for clients to retrieve language packs from

[2015-11-13 14:32] kevinkucharczyk commented on #6075
We could add an `Accept-Language` header to all requests by modifying the Adapter in Ember. The server could use that to determine which translation it should send back and fall back to english if no header is provided.

[2015-11-14 12:12] juanpaulo commented on #6066
I see, thanks!

[2015-11-15 04:13] devurandom opened #6077 "NodeJS 5.0 support"
When will the current version of NodeJS (5.0) be supported?

[2015-11-15 04:16] jgillich commented on #6077
See #5821.

[2015-11-15 08:24] #6077 closed

[2015-11-15 18:53] devurandom opened #6079 "npm WARN EPEERINVALID grunt-mocha-istanbul@2.4.0 requires a peer of istanbul@0.x.x but none was installed."
When I run `npm install`, I get the following warning:
[code]

I am using latest Git with NodeJS 5.0.0 and following patch:
[code]

The former is required, because certain dependencies of Ember 1.13.8 do not compile against the V8 version included in NodeJS 5.0.0. The latter simply adds NodeJS 5.0.0 as an allowed NodeJS version.

[2015-11-15 18:58] jgillich commented on #6079
`npm install istanbul -g` should make it go away. See https://docs.npmjs.com/files/package.json#peerdependencies

[2015-11-15 19:20] devurandom commented on #6079
So this is not an issue of Ghost, but an unnecessarily alarming message by NPM?

[2015-11-15 19:24] jgillich commented on #6079
Yep it's just a warning, you can ignore it if you don't want to generate the coverage report.

[2015-11-15 20:01] nknapp commented on #5636
Thanks for pointing me to the wishlist. Took me a while to take care of it, but I have now added a feature request there. By now, I have also read the contributing guidelines, which I should probably have done before raising. Nice document btw (the guidelines).

[2015-11-15 20:35] devurandom commented on #5821
Seems to work here after following patch:
[code]

The former is required, because certain dependencies of Ember 1.13.8 do not compile against the V8 version included in NodeJS 5.0.0. The latter simply adds NodeJS 5.0.0 as an allowed NodeJS version.

[2015-11-15 20:36] devurandom commented on #6079
Ok. I've added the patch to #5821 and will close this.

[2015-11-15 20:36] #6079 closed

[2015-11-16 09:00] #6040 closed

[2015-11-16 14:11] Fredric opened #6081 "Error: terminating connection due to administrator command"
Hi. I recently added a ghost CMS installation to heroku and my server crashes several times a day with this error. Its the postgres module and it seems to drop connection initiated from the database side.

Could these kind of errors be catched and not throw an exception?. (Try catch) ?

    2015-11-16T13:31:39.528996+00:00 app[web.1]: events.js:72
    2015-11-16T13:31:39.529393+00:00 app[web.1]:

[2015-11-16 18:51] sethbrasile commented on #5926
`¯\_(ツ)_/¯` Did I kill the conversation?

[2015-11-17 01:37] fwb7014 commented on #5998
@devilankur18  You are right,it works for me.

[2015-11-17 07:26] #5998 closed

[2015-11-17 11:55] ErisDS commented on #4989
@heidiv this sounds like a bug very much related to this issue, thanks

[2015-11-17 13:30] flip111 opened #6085 "Custom markdown"
It would be nice if the user can define his own custom markdown, either blog wide or specific per post. I find myself writing a blog where i want to color things red and blue in the middle of the text, and having to use `<font color="red">foo</font> <font color="blue">bar</font>` all the time. It would be nice if i define my own custom markdown, some thing like `red*foo* blue*bar*`

[2015-11-17 14:09] ErisDS commented on #6085
Hi @flip111,

To request a feature for Ghost you can add your idea (or vote on a similar one) over on our [wishlist](http://ideas.ghost.org). We use this list to help determine what goes into the roadmap and how to prioritise features. You can also access the wishlist any time from inside the Ghost admin:
![](http://puu.sh/jXKwm.png)

[2015-11-17 14:09] #6085 closed

[2015-11-17 14:46] clay584 opened #6086 "Feature Request: Add a button to download currently installed theme"
It would be nice to be able to download the currently installed theme files in a zip file, so when changing/updating themes you can download the current one as a backup.

[2015-11-17 14:56] sebgie commented on #6086
Closing as feature request. I can see that you already found our [wishlist](http://ideas.ghost.org).

[2015-11-17 14:56] #6086 closed

[2015-11-17 14:58] ErisDS commented on #6081
Sorry to hear you're having trouble. Going to close this as you found our #help channel on slack. This is a bug tracker for ongoing development of the Ghost software, and we're not able to do support here!

[2015-11-17 14:58] #6081 closed

[2015-11-18 16:56] kevinansfield opened #6089 "Checkbox labels can be cut off on mobile"
I noticed new Public API labs flag description is cut off on mobile (screenshot 1). Checkbox labels have `white-space: nowrap` which means that it's necessary to keep labels short in case they overrun screen edges at mobile sizes.

I'm assuming this is because letting them wrap means that the wrapped text appears directly under the checkbox (screenshot 2)

What is the desired display of checkboxes

[2015-11-18 18:27] kevinkucharczyk commented on #6089
In my opinion the left edge of the wrapped label should be aligned.

[2015-11-19 10:42] JohnONolan commented on #6089
Forgot about this. It's set to not wrap cause there's no easy way to make the indentation work properly. Perhaps "For full instructions ... " should be in a <p> beneath this checkbox - for now

[2015-11-19 12:03] ackepenek opened #6093 "share on linkedin"
I am using 0.7.1 version of Ghost. There are facebook, twitter and gplus sharing button. But I can not see linkedin sharing button.

![image](https://cloud.githubusercontent.com/assets/1234305/11270282/3b8dc4a4-8ec6-11e5-97ff-3cc73dd02505.png)

[2015-11-19 12:31] ErisDS commented on #6093
Hi @ackepeneksorry to hear you're having trouble. The screen shot you've included here shows Ghost's custom theme [Casper](https://github.com/TryGhost/Casper). Ghost themes are 100% customisable so you can make it show whatever you like. You can find a guide and the full documentation on our [support site](http://support.ghost.org/ghost-themes-overview/).

If you have further questions about Ghost

[2015-11-19 12:31] #6093 closed

[2015-11-19 13:41] kevinkucharczyk commented on #6089
Removing the `white-space: nowrap;` rule and adding `overflow: auto;` to the `p` (inside the checkbox label) tag seems to work well (on Chrome at least):

![screenshot-localhost 2368 2015-11-19 14-37-56](https://cloud.githubusercontent.com/assets/3127419/11272189/60676f46-8ecb-11e5-9c4d-7331eac0f8be.png)

[2015-11-19 16:13] kevinansfield opened #6094 "Accessing unknown tag shows 500 instead of 404"
Steps to reproduce:

1. Visit http://localhost:2368/ghost/settings/tags/unknown/ (making sure you don't already have a tag with the slug `unknown` :wink: )
2. You are shown the 500 error screen

Expected result:

- 404 response from the API is handled gracefully
- You are shown the 404 "not found" screen

![screen shot 2015-11-19 at 16 08 29](https://cloud.githubusercontent.com/assets/415/11276039

[2015-11-19 17:28] kevinansfield opened #6095 "Implement custom adapter to retrieve users via slug endpoint"
The [user route](https://github.com/TryGhost/Ghost/blob/master/core/client/app/routes/team/user.js#L10) currently loads all users then manually filters in order to pick out a user by their slug. As well as being inefficient, not being able to query a single user record via a slug increases complexity in other areas such as the [delete-user modal](https://github.com/TryGhost/Ghost/blob/master/core/

[2015-11-19 17:35] acburdine commented on #6094
@kevinansfield of note: this happens with editor routes as well

[2015-11-19 17:36] kevinansfield commented on #6094
@acburdine Good point, I had tried it with the content screen which also exhibits weird behaviour (no error, just shows an existing post and doesn't redirect) but missed the `/editor/x` route

[2015-11-19 17:37] acburdine commented on #6094
I can pick this one up. The team route is the only one that works correctly at the moment.

[2015-11-19 17:39] kevinansfield commented on #6094
Yeah, that's because it loads the user in a really roundabout way (see #6095) so doesn't hit the problem. We should definitely be handling 404s in a generic manner.

You _should_ be able to use the `error` action on the `application` route.

[2015-11-19 17:40] acburdine commented on #6094
Ok. I can take care of both of those then.

[2015-11-19 17:51] kevinansfield commented on #6095
The `delete-user` modal has been changed in the forthcoming #6088 so it's probably best to hold off until that has landed.

[2015-11-19 17:53] lazzarello opened #6096 "commit 55564e3 has dependency that is too new for node.js"
I just cloned the git repo and I'm building against master.

`grunt init` results in this exception

[code]

Which is caused by the use of the `const` keyword in the "boom" library. This keyword is used all over the place, as the the `'use strict'` declaration. This results in ghost not building on OS X 10.11.1 and node v0.10.13

Do I have to upgrade node? V8? Not sure how deep I should go down th

[2015-11-19 18:09] ErisDS commented on #6096
Have you got one of those modules installed globally? I cannot reproduce the issue on OSX 10.10.4 & node v0.10.13. I do recommend updating to the latest node in 0.10, 0.10.40 to take advantage of security patches, but otherwise 0.10 is fine.

[2015-11-19 18:18] ErisDS commented on #6096
Ignore that, I have managed to reproduce this and track down what's wrong, looking for a fix.

[2015-11-19 18:50] ErisDS commented on #6096
Not sure if a fix is going to be possible. Have raised this against [request](https://github.com/request/request/issues/1921) and [hawk](https://github.com/hueniverse/hawk/issues/157).

I think it's possibly more to do with the very old version of npm than of node, but updating to >0.10.25 should fix it, and 0.10.40 is best (again, there are security patches).

[2015-11-19 19:11] lazzarello commented on #6096
I figured it would be an upstream thing. I might just try s/const /var /g on that file and see if I get lucky  :)

Thanks for your help. It does look like there's a low level change in the JavaScript language that ads some new types, namely the `const` data type.

[2015-11-19 19:18] lazzarello commented on #6096
OH boy, now I have to figure out version pinning in homebrew. I just did `brew install node

[2015-11-19 19:46] dufia opened #6097 "Unable to access Ghost over wifi network"
Usually when I develop something responsive, I connect my phone to the wifi and simply access it via ip address like http://192.168.0.8:3000/. Super easy.

I start ghost:

Ghost is running in development...
Listening on 127.0.0.1:2368
Url configured as: http://localhost:2368

http://127.0.0.1:2368/ nothing
Tried http://192.168.0.8:2368/ nothing

Any idea? Thanks!

[2015-11-19 19:55] lazzarello commented on #6096
Okay, I realize this isn't really a *ghost issue* in terms of the application source code but it's a build pipeline thing so I'm gonna keep talking.

I'm using homebrew for package management. I had to install a "tap" of an older version of node, like so

[code]

ALL BETTER.

So the moral of this story is the node.js version requirement for ghost is **strict**. Though the inclusion of the `'use st

[2015-11-19 19:55] #6096 closed

[2015-11-19 20:47] ErisDS commented on #6097
Hi @dufiasorry to hear you're having trouble. If you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the GitHub bug tracker.

[2015-11-19 20:47] #6097 closed

[2015-11-19 23:03] aludvigsen commented on #3801
How far away are the i18n support for Ghost?

[2015-11-20 09:51] ErisDS commented on #6096
The issue in the dependency tree has been fixed.

[2015-11-20 10:41] keithamus opened #6102 "Trying to load admin, crashes with blank screen (RegExp sticky)"
### Issue Summary

When I try to visit my ghost blog admin (https://keithamus.ghost.io/ghost/) from Chrome 48 I get a blank page. The console reports a stack trace.

### Steps to reproduce

1. Visit https://keithamus.ghost.io/ghost/ in Chrome 48

### Technical details

[code]

Cleared cache a few times but no dice.

Chrome 48.0.2560.0 dev (64-bit)
Mac OSX 10.11.1

Firefox 44.0a2 works fine.

[2015-11-20 11:13] ErisDS commented on #6102
Hi @keithamus. This sounds to me like a Chrome 48 bug rather than something we can resolve?  I am unable to reproduce on Chrome 46 (stable) or Chrome 49 (canary). Ghost only officially provides support for the latest (stable) and one previous version in each major version.

The only other thing I can think of is if you have some content in a post causing errors. Very unlikely, but worth checking i

[2015-11-20 11:21] kevinansfield commented on #6102
I've likewise been unable to reproduce with 46 (stable), 47 (beta), or 49 (canary). Chrome 48 doesn't seem to be available on any of the official channels right now.

[2015-11-20 11:22] ErisDS opened #6103 "Bookshelf & Knex upgrade"
Bookshelf & knex did not get upgraded at the start of this release cycle. This was because there was a reasonable amount of work to do, and I got carried away with other work before I completed it. I very much regret this, as several of the filter, include, etc features I've been building into our model layer would have been simpler had I had access to the newer features.

I did try out upgrading

[2015-11-20 11:40] keithamus commented on #6102
Chrome 48 is the dev channel btw. I'm also able to reproduce on Chrome Canary 49 in guest most (incognito+no extensions).

<img width="961" alt="screen shot 2015-11-20 at 11 40 16" src="https://cloud.githubusercontent.com/assets/118266/11299071/85ca8db2-8f7b-11e5-83d7-0ec6c9fe57cc.PNG">

[2015-11-20 11:45] keithamus commented on #6102
FYI the offending line is calling the code `RegExp.prototype.sticky` which throws the error. Try pasting that into a Chrome console, e.g. canary, and you get the same eror.

[2015-11-20 11:47] kevinansfield commented on #6102
It sounds like this may be something to do with your particular setup because `Version 49.0.2569.0 canary (64-bit)` in incognito with no extensions is working fine here on OS X 10.11.1.

![screen shot 2015-11-20 at 11 46 54](https://cloud.githubusercontent.com/assets/415/11299179/6c2fff80-8f7c-11e5-8252-f778ce9ada03.png)

[2015-11-20 11:51] keithamus commented on #6102
I looked a little further and I have `Enable Experimental JavaScript` enabled which seems to be causing the issue.

I'll close this, enjoy the rest of your day!

[2015-11-20 11:54] #5942 closed

[2015-11-20 12:10] ErisDS commented on #6009
We had a discussion about this in [slack](https://ghost.org/slack): https://ghost.slack.com/archives/dev/p1447845080000412

@kevinansfield suggested that we use `count.posts` instead of `posts.count`, which is similar to the instragram API. Instagram uses `counts` rather than `count` which, is probably more correct, but `count.posts` reads more easily E.g. `{{#get tags include="count.posts" order=

[2015-11-20 13:20] ErisDS commented on #6009
Yesterday, I spent the day trying to make it possible to support filtering by `count.posts`,
e.g. `{{#get tags filter="count.posts:>=1"}}` - get tags that have at least one post.

I wanted to document why this is non trivial to get all this crazy stuff out of  my brain, an in depth explanation lives below. The TLDR; is MySQL does not permit using aggregates in where clauses.

---

### Why filter +

[2015-11-20 14:55] ErisDS opened #6104 "Bug: Alphabetical ordering is not consistent between DBs"
Take the following strings:  'photo', 'Audio', 'Video'.
Note that the first one is not capitalised, but the other two are.

When ordering by names in SQL this can be done in either a case sensitive or case insensitive way:

Case sensitive order is:
- Audio
- Video
- photo

This is used by MySQL and Postgres by default

Case insensitive order is:
- Audio
- photo
- Video

This is used by Sqlite3 by

[2015-11-20 16:37] ErisDS opened #6106 "Revisit origin validation"
A large part of the work to get public API access to be available, involved implementing client authentication. The Ghost admin panel is a client, and is allowed to authenticate to the API via its very own client credentials.

As a layer of security,  client authentication includes origin validation. This means that we check that requests to the API come from a permitted url. These are the urls de

[2015-11-21 00:50] lazzarello opened #6111 "File upload by type"
I would like to upload files to my blog. It appears the only method to upload files is through the markdown tag `![]()` and the drag + drop or URL copy + paste event. When I try and upload a file which is not a raster or vector image, but a different type of file, I get an error that "The image type you uploaded is not supported. Please use .PNG, .JPG, .GIF, .SVG" but the file I'm uploading is not

[2015-11-21 01:06] acburdine commented on #6111
At the moment, yes. If you're looking to put a file in and access it from a theme, you should just be able to put the file in the theme folder and reference it via the 'asset' helper.

[2015-11-21 11:52] joepie91 opened #6112 "Recommendation for insecure installation guide"
Since there doesn't seem to be a repository for the documentation, and I don't currently have the time to figure out how to work with readme.io, I'm filing the issue here.

The [deployment documentation](http://docs.ghost.org/pl/installation/deploy/) currently suggests [this guide](http://0v.org/installing-ghost-on-ubuntu-nginx-and-mysql/), amongst a few others - however, following said guide will

[2015-11-21 16:04] chengcheng222e commented on #5050
@ErisDS  Thanks for your. I've fixed the problem too.

[2015-11-21 17:09] lazzarello commented on #6111
I was thinking more of something like a file of source code from an application to be delivered as the mime type application/octet-stream

My goal is to distribute files through my own hosting provider, not a cloud service. I feel old fashioned.

[2015-11-21 17:12] acburdine commented on #6111
Currently because of the way Ghost works, you would have to modify core in order to support any type of uploading/downloading.

[2015-11-21 17:14] lazzarello commented on #6111
Interesting. Not impossible (I work as a software engineer) though I'm just tryna blog for now. I'll check out the source. Thanks! Leaving this open if I make some progress.

[2015-11-21 17:48] killswitch commented on #6112
# Update November, 21 2015

[2015-11-22 17:25] ErisDS commented on #6111
Hi @lazzarello - Ghost intentionally works this way. If you want to upload files other than images, these should be added to a CDN or you could run your own file service which is tailored & optimised for serving files. I believe it is beyond the scope of Ghost to be a file service, but you can also add/vote for this feature on the [wishlist](http://ideas.ghost.org).

[2015-11-22 17:25] #6111 closed

[2015-11-23 03:10] Alucardology commented on #4439
I'm just wondering when this feature will be available?
Thanks in advance.

[2015-11-23 08:46] JohnWestlund opened #6114 "Changing Post date Resets to Current Time Every Minute"
I've only tested this in Chrome [Mac Version 46.0.2490.86 (64-bit)]. But if you start typing in a post's date field the time gets switched to 'now', and if you happen to cross over into the next menu while still updating it resets to that time.

[2015-11-23 09:14] kevinansfield commented on #6114
Thanks for reporting. Closing this as the bug is already being tracked in #5777

[2015-11-23 09:14] #6114 closed

[2015-11-23 09:28] ErisDS commented on #4439
It is coming in Beta in the next release. That's the only thing I can say for certain :wink:

[2015-11-23 09:35] gpestana commented on #6106
I could take a look at this issue.

[2015-11-23 11:18] ErisDS commented on #6106
@gpestana really appreciate the offer of help - however as this is the last remaining piece needed before a release it is already being worked on as a matter of priority :)

[2015-11-23 13:28] gpestana commented on #6106
Sure, no problems. I see that there's many other things where I could give a hand :)

[2015-11-23 14:52] #6095 closed

[2015-11-23 16:04] DanielTamkin commented on #4439
I'm So damn excited for this feature @ErisDS !