[2015-11-24 01:29] globetour opened #6120 "Bug:ghost start fail with big mysql (out off memory)"
### ghost start fail with big mysql (out off memory)

### Steps to Reproduce

1. I use ghost with mysql,if the mysql database have small article,it is start right.
2. but i have 250,000 articles in mysql,then i run npm start,it tips "out off memory" after a long time .
3.i think ghost check something when start,and it is not necssary.

### Technical details

* Ghost Version: master - latest commit

[2015-11-24 02:33] globetour commented on #6120
it is display the erro from debug:
sql: 'update `settings` set `created_at` = ?, `created_by` = ?, `id` = ?, `key` = ?, `type` = ?, `updated_at` = ?, `updated_by` = ?, `uuid` = ?, `value` = ? where `id` = ?' }

[2015-11-24 02:35] globetour commented on #6120
[root@VM_87_97_centos hsdhwcom_news]# npm start --production -d
npm info it worked if it ends with ok
npm info using npm@1.4.28
npm info using node@v0.10.40
npm info prestart ghost@0.7.1
npm info start ghost@0.7.1

{ __cid: '__cid1',
  sql: 'select * from information_schema.tables where table_schema = ? and table_name = ?',
  output: [Function],
  bindings: [ 'hsdhwcom_news', 'settings' ] }
{ __ci

[2015-11-24 05:20] Allu2 opened #6121 "Navigation settings prevent using https for links in same domain while ghost site is in http."
### Issue Summary:
Navigation settings prevent using https for links in same domain while setup is in http
[Image of the problem page http://puu.sh/lwHUh/fb3b4f8c37.png](http://puu.sh/lwHUh/fb3b4f8c37.png)

### What I tried:
I tried adding the World Map navigation link, but when ever I'd press save it replaces the https part with http making the link broken.

### What was expected:
Ghost should've

[2015-11-24 09:53] kevinansfield commented on #6121
@Allu2 the issue is that navigation urls to the same domain as the blog are always saved in a relative format (eg. you enter `https://koodaacraft.org/map/` but it will be saved as `/map/`) so that whichever protocol is being used on the site is respected.

The UI however will show the full url as we had a number of people confused about relative vs absolute urls. If you change your `url` setting i

[2015-11-24 10:14] #5821 closed

[2015-11-24 10:42] jgillich commented on #5821
Yay :thumbsup:

@ErisDS `npm-check-engines` is now on npm.

[2015-11-24 11:20] jgillich commented on #6120
*250 000* articles? I don't think Ghost is designed for that. Increasing your server's RAM might help, but why do you have so many articles?

[2015-11-24 18:03] kevinansfield commented on #6104
May not help but at least for postgres it sounds like the default collation is OS-dependent? http://dba.stackexchange.com/questions/106964/why-is-my-postgresql-order-by-case-insensitive

[2015-11-24 18:14] kevinansfield commented on #6104
One workaround I've seen before is to add a virtual column to the select (e.g. `SELECT posts.*, LOWER(name) AS ci_name`) so that it's always possible to order by `name` or `ci_name`.

I've seen the `ci_x` columns implemented both through the select as above and as an actual column that's populated either through database triggers or by the applications data layer.

One downside is that postgres fr

[2015-11-24 19:15] boennemann opened #6124 "Use gender neutral or abstract default user image"
Hey all,

I noticed that the default image that is used for every new user is showing a man, or at least has characteristics like a broad back and a short hairstyle, that are usually associated with men.

![](https://raw.githubusercontent.com/TryGhost/Ghost/a7a14fac228466acbc3f4a876753ab7f8830d7e3/core/shared/img/user-image.png)

I think that software shouldn't make these assumptions about what a

[2015-11-25 07:32] callahad opened #6125 "[Proposal] Move to CommonMark via Markdown-it instead of Showdown"
## Ghost wanted a spec. CommonMark is it.

If markup is one of Ghost's core competencies, then that markup must be rigorously specified. Markdown is notoriously ambiguous and poorly defined. Without a well-defined spec, other tools can't reliably integrate with Ghost. The [Ghost wiki](https://github.com/TryGhost/Ghost/wiki/Future-of-Markdown) explicitly calls out the need for a spec, stating that

[2015-11-25 14:45] hwhelchel commented on #6104
Postgres has an extension called `citext` which provides a case insensitive string type.

Benefits:
* Don't have to remember to call `LOWER()`
* Easier to create indexes for. One doesn't have to create functional indexes using `LOWER()`
* Allows a primary key to be case insensitive

Limitations:
* Not as efficient as `text` but more efficient than `LOWER()`
* `citext` behavior is a function of the

[2015-11-25 21:04] jgillich commented on #6056
I've [rewritten this](https://github.com/jgillich/chimera) to be a simple executable that is configured through a dotfile. @ErisDS if you are interested, let me know. If not, that's fine too. :wink:

[2015-11-26 00:43] nightfox commented on #5172
@ErisDS Would it be okay if I pick this issue up?

[2015-11-26 00:55] nightfox commented on #5172
@ErisDS is the Tour feature scrapped/put on the back burner?

[2015-11-26 01:20] ErisDS commented on #6106
Reopening this as I've found another case for which it is broken. To reproduce:

- do a default production install: grab the zip, npm install --production, npm start --production
- go to setup, fill out the form, press enter

You'll get an endless spinner, with no error message.
In the console, we get our new, nicely formatted error message, but in the UI - just a spinner and nothing else.

The ai

[2015-11-26 07:06] kevinansfield commented on #6106
What seems a little strange is that the setup request works but it's the post-setup authentication that fails. It seems to me that if we're going to restrict access to the configured domain that we should also carry that restriction over to the setup until #2240 is in place?

I'll look into what options there are on the client - do we want to show an alert asking the user to configure their URL or

[2015-11-26 07:11] ErisDS commented on #6106
Long term (although probably more like Mid term) the url config will be moved into the setup process. If we have write access to config.js, we'll write it, if we don't, we'll show sensible info to help the user sort it out.

Short term just from the client side perspective, we need to make it so that an error message appears under the form, exactly the same as on signin.

That + fixing up serversi

[2015-11-26 15:51] ErisDS commented on #6124
@boennemann Totally :+1: on this, just need to come up with a plan for the replacement. I started looking to see if there was a node module that would generate us a random (but not gross) background colour + 2 letters (i.e. initials) or something similar as you may have seen elsewhere. This is the closest I've found so far: https://github.com/MatthewCallis/avatar

Also whilst we're at it, it'd be

[2015-11-26 16:23] nuclearpengy commented on #6124
Background colour with initials sounds like a cool idea. :)

[2015-11-26 16:32] #6106 closed

[2015-11-26 17:35] adamcavendish opened #6132 "How to serve files using ghost in my blog?"
How to serve files using ghost in my blog? I'd like to share a file in one of my posts.

[2015-11-27 03:52] ErisDS commented on #6132
@adamcavendish please see my comment on #6111. If you have more questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the bug tracker.

[2015-11-27 03:52] #6132 closed

[2015-11-27 12:02] robcalcroft opened #6134 "Blog content deleted after reboot"
I did some maintenance to my server, kernal upgrade, reboot and i noticed my Ghost blog content is now gone when i rebooted the node server :fearful:

[2015-11-27 12:30] ErisDS commented on #6134
It sounds like you restarted Ghost in the wrong environment, see http://support.ghost.org/config#about-environment.

If you need further help, please drop by the #help channel in [slack](https://ghost.org/slack/), GitHub ishuge software bugs/issues.

[2015-11-27 12:30] #6134 closed

[2015-11-27 14:04] robcalcroft commented on #6134
Thats it! thanks :smile:

[2015-11-28 12:05] globetour commented on #6120
yes,i have very much articles...

[2015-11-28 12:11] globetour opened #6135 "how add force index to tags article list pages sql"
my tags article list pages is slowly because i have 250,000 posts,
so i want to add force index to the sql like that:
select * from XX force index(AAA) on B=C where.......
but i found that the ghost tags page sql like that(\core\server\models\base\utils.js):
        if (filterObjects.tags) {
            itemCollection
                .query('join', 'posts_tags', 'posts_tags.post_id', '=', 'posts.i

[2015-11-28 12:20] ErisDS commented on #6120
Hi @globetour, GitHub is an issue tracker - it is not the place to get personal support. If you need help with your install of Ghost, please come by the #help channel in [slack](https://ghost.org/slack).

Going to close this and your other issue as they seem to be very related & both very specific to your situation. In this case, [disabling the update check](http://support.ghost.org/config/#update

[2015-11-28 12:20] #6120 closed

[2015-11-28 12:21] ErisDS commented on #6135
Closing as explained here: https://github.com/TryGhost/Ghost/issues/6120#issuecomment-160288424

[2015-11-28 12:21] #6135 closed

[2015-11-28 16:13] CraigyDavi commented on #4989
@heidiv Yes I'm having the same issue as you are. My blog is at `example.com/blog/` and I want to link to `example.com/projects/` but unfortunately the limitations mean it gets set to `example.com/blog/projects` instead.

[2015-11-29 02:33] jpwynn commented on #5321
I'd like to make a Modest Proposal (in the Jonathan Swift tradition), acting on the assumption there's still no meaningful progress on this issue. It is just so unbelievably bad to not have **any** search, not even a dumb keyword lookup, that you might consider something like the following:

* settle for simple case-insensitive keywords like 'heroku' to find all posts that include heroku in either

[2015-11-29 04:58] jberkus commented on #5321
FWIW, "ILIKE" should be database-independent, at least for the two supported and one quasi-supported database.

[2015-11-29 08:38] Jonasyao opened #6137 "Uncaught TypeError: Cannot read property 'map' of undefined issue"
when I was changing the admin profile image, I see the following error in chrome console.

Ember.Mixin.create.serializeHasMany	@	vendor.min.js?v=a093de001e:24

[2015-11-29 11:46] ErisDS commented on #6137
Hi @Jonasyao, I'm sorry to hear you're having problems but there's not enough information here for us to reproduce the problem. Please can you update this bug report with details about your environment? There is a [bug report template](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#bugs) in our [contributing guidelines](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md)

[2015-11-29 14:11] cwonrails commented on #6124
@boennemann @ErisDS What do you think of Jamie Watson for the placeholder name/email?

[2015-11-29 16:44] littleStudent opened #6138 "Access Denied from url"
I just upgraded ghost from 0.7.0 to 0.7.2. The blog is running, but i can not access the admin panel because of the following error:
`Access Denied from url: www.myURL.com. Please use the url configured in config.js.`
I did not change any of the settings, neither did the domain change.

in config.js the following url is configured: `url: 'http://myURL.com'

Am I missing something?

[2015-11-29 17:38] ErisDS commented on #6138
The URL you login from must exactly match that in your config.js file as of 0.7.2. `www.` is a subdomain and is not the same as the root domain. The error message is documented & explained here: http://support.ghost.org/config/#url.

Please update your config.js file (or log in from the correct URL).

[2015-11-29 17:38] #6138 closed

[2015-11-29 17:50] littleStudent commented on #6138
perfect thx!
changing config.js to `url: "http://www.myURL.com"` fixed this.

[2015-11-29 18:20] online commented on #4439
Hi!

Someone seen theme that supports the new query `{{#get}}` to display all tags in the sidebar or elsewhere? I use a standard theme Casper.

[2015-11-29 19:40] dbalders commented on #4439
@online the beta version of the get helper just came out so i doubt any themes already have it running. You can however check out how to do it yourself here (http://themes.ghost.org/v0.7.2/docs/get#section-make-a-tag-cloud) or here (https://www.ghostforbeginners.com/how-to-add-a-tag-menu-to-your-blog/)

[2015-11-29 20:02] online commented on #4439
@dbalders thank you, this is just what I need! :wink:

[2015-11-30 00:36] superlou commented on #6125
Would this make it possible to disable markdown formatting based on custom delimiters, e.g., LaTeX script inside "$"s or "$$"s?

[2015-11-30 02:04] ErisDS commented on #6104
This is an interesting idea, Bookshelf has some support for calculated columns. The trick would be only adding the column when an `order by` was requested (else you need duplicates for all alpha columns). Should be doable.

@hwhelchel Do you have any idea how to turn on that postgres extension within our bookshelf/knex/pg layers? Converting collations in MySQL is something we need to do in order t

[2015-11-30 02:14] ErisDS commented on #5821
@jgillich nice :) @boennemann might this (npm-check-engines) be something to include in greenkeeper?

[2015-11-30 03:40] viruzx opened #6139 "{{ghost_head}} and {{meta_title}} issues"
Ghost head and meta title are outputted weirdly into my HTML.

I have nothing special in ghost head and meta title should be KNYZ Labs but instead it's `__aSyNcId_&lt;_bYzx_PJd__` and `__aSyNcId_&lt;_bWSQWKuW__` respectively.

[2015-11-30 04:29] ErisDS commented on #6139
@viruzx Have you enabled the new beta features? Please, either file a full bug report or use slack If you just need help, otherwise it is very hard to help.

[2015-11-30 04:51] viruzx commented on #6139
@ErisDS I don't have time for a full bug report ATM and as for slack someone already seemed to have a similar issue with tags outputting gibberish.

[2015-11-30 04:57] #6139 closed

[2015-11-30 13:18] JonathanPerkins opened #6140 "Theme with no package.json warning for .git directory"
Ghost 0.7.2 now emits the following warning at startup:

   Warning: Found a theme with no package.json file
     Theme name: .git
   This will be required in future. Please see http://docs.ghost.org/themes/

Ghost should ignore a content/themes/.git directory if present.

[2015-11-30 13:25] sebgie commented on #6140
Hey @JonathanPerkins that's a good catch!

Would you mind providing a bit more details about your environment by using our [bug template](https://github.com/TryGhost/Ghost/issues/new?title=Bug%3A&body=%23%23%23%20Issue%20Summary%0A%0A%23%23%23%20Steps%20to%20Reproduce%0A%0A1.%20This%20is%20the%20first%20step%0A%0AThis%20is%20a%20bug%20because...%0A%0A%23%23%23%20Technical%20details%0A%0A*%20Ghost%

[2015-11-30 13:34] JonathanPerkins commented on #6140
Sorry, hadn't spotted the bug template!

### Issue Summary

### Steps to Reproduce

1. This is the first step

This is a bug because...

### Technical details

* Ghost Version: 0.7.2 release
* Client OS: Mac OS X 10.11.1
* Server OS: Mac OS X 10.11.1
* Node Version: 4.2.2
* Browser: Safari
* Database: Sqlite 3.1.1

This is on my test setup, I have just have one of my own themes and casper, so the

[2015-11-30 14:04] shj00007 opened #6141 "The 'init script' didn't work for me"
I have set the 'init script' from http://support.ghost.org/deploying-ghost/#init-script, but it didn't work.And I try to use 'sudo service ghost status' to show the status, it show me like below image:
<img width="566" alt="screen shot 2015-11-30 at 10 03 41 pm" src="https://cloud.githubusercontent.com/assets/3121841/11473595/41d0f7d2-97ae-11e5-98ab-35d740822667.png">

[2015-11-30 14:25] ErisDS commented on #6141
Can you please update this to include some information about your environment and how you got here? It's very hard to help without full details. There is a [bug report template](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#bugs) in our [contributing guidelines](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md) that should give you a good idea what sorts of info to inc

[2015-11-30 14:25] ishandutta2007 opened #6142 "Ghost with contentful"
Is there any customized version of Ghost app using using contentful-management.js APIs
Or do people use  https://github.com/sdepold/contentful-ghost-importer to copy data to contentful.

[2015-11-30 14:26] ErisDS commented on #6142
Hi @Ishandutta2007, if you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the GitHub bug tracker.

[2015-11-30 14:26] #6142 closed

[2015-11-30 14:35] ErisDS commented on #5172
There is no css/html for this feature at present and this particular issue requires other issues to be done first. It is kind of on hold just because the html/css is needed first.

[2015-11-30 15:19] mike182uk commented on #5321
I've been away and not had chance to look at this recently. `0.7.2` made some changes that has required me to change my implementation slightly. I have changed how i am filtering posts to use the new filter functionality - basically you still pass a search query along the query string when making the http request, but this now gets converted into a filter. If there is already an existing filter, i

[2015-11-30 15:44] shj00007 commented on #6141
@ErisDS Thanks

Steps to Reproduce
1、I was installed the Ghost in my server and it operating normally by manual start
2、And I was set the 'init script' from http://support.ghost.org/deploying-ghost/#init-script step by step, but it didn't work.
3、I try to type command 'sudo service ghost status' to show the status, it show me like below image:
<img width="566" alt="screen shot 2015-11-30 at 10 03

[2015-11-30 15:54] shj00007 commented on #6141
@ErisDS And here is my ghost script config

#! /bin/sh
### BEGIN INIT INFO
# Provides:          ghost
# Required-Start:    $network $syslog
# Required-Stop:     $network $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Ghost Blogging Platform
# Description:       Ghost: Just a blogging platform
### END INIT INFO

# Do NOT "set -e"

# PATH should only include /us

[2015-11-30 15:56] shj00007 commented on #6141
@ErisDS Here is the 'init script' config
    #! /bin/sh
    ### BEGIN INIT INFO
    # Provides:          ghost
    # Required-Start:    $network $syslog
    # Required-Stop:     $network $syslog
    # Default-Start:     2 3 4 5
    # Default-Stop:      0 1 6
    # Short-Description: Ghost Blogging Platform
    # Description:       Ghost: Just a blogging platform
    ### END INIT INFO

    # Do NOT

[2015-11-30 18:45] zinyando commented on #4177
Hi all, @ErisDS and @taras have been talking over email about me taking on this feature. I am going to start to dig deeper and maybe start working on this feature.

@JohnONolan is the Sketch3 file above the final design?

[2015-11-30 21:40] trendsetter37 commented on #4989
@davisonio I am encountering the same as well. We have ```example.com/blog/``` hosting ghost but would like to use ```example.com/``` and ```example.com/events```. However, ghosts automatically appends the base url which is unwanted.

[2015-12-01 00:38] hwhelchel commented on #6104
@ErisDS this would be done at the knex layer using the `raw` api

https://github.com/tgriesser/knex/issues/208

Hmm yes postgres citext would works in 9.1+. I'll have to take a look at the Ghost db layer to understand more what the challenges are.

You might also find this issue on knex with multiple databases relevant: https://github.com/tgriesser/knex/issues/778

[2015-12-01 03:50] garyc40 opened #6146 "Cannot upload user profile cover"
This happens on Safari and Chrome.

### Steps to Reproduce

1. Go to Admin -> Team -> Click on a team member.
2. Click on Change Cover
3. Upload a file

The file appears to be uploaded but nothing happens on the front-end. There's an error message in dev console:
Uncaught TypeError: this.complete is not a function

Screen cap:
![upload](https://cloud.githubusercontent.com/assets/52500/11491932/fe9

[2015-12-01 06:31] ErisDS commented on #6146
@garyc40 Thank you for taking the time to write an awesome bug report :+1:

[2015-12-01 08:41] ErisDS opened #6149 "Look @ optimising the Ghost .zip & .js file size"
The very first release of Ghost was 1.7MB. Since then, we were slowly growing, up to 2.4MB in 0.6.4. However, the three 0.7.x releases have increased significantly faster, at 2.7, 2.7 & 3.2 MB respectively.

Almost all of this extra weight seems to be coming from vendor.js, although ghost.js is also growing.

Here's a table showing those main files and how they've changed over the last 4 versions.

[2015-12-01 09:16] kevinansfield commented on #6149
Ember 2.2 should reduce this a bit. I'm also looking to replace selectize which is a big jquery plugin with ember-power-select which is much smaller.

I'll have a review of other plugins too.

[2015-12-01 09:45] ErisDS opened #6150 "Minify `ghost.url.api()` in production"
In 0.7.2 we added the [`ghost.url.api()`](http://themes.ghost.org/docs/ghost-url-api) utility so that it is possible to build api urls. This gets included via `{{ghost_head}}` for people who enable **Public API** in labs.

It is only a tiny bit of JavaScript [see here](https://github.com/TryGhost/Ghost/blob/0.7.2/core/shared/ghost-url.js), but we should minify it for production mode/environments.

[2015-12-01 10:13] ErisDS commented on #4989
Thanks for providing more examples. The validation & url handling logic in the navigation UI does need revisiting, providing examples is really helpful as we can start to add a bunch of test cases that need to work, and then figure out how to solve them.

[2015-12-01 10:15] ErisDS commented on #6121
Hi @Allu2 really appreciate the in depth bug report here. Can you explain why you have a single page of your Ghost blog that needs to be served via HTTPS and not the rest of it? Not sure I fully understand the use case here.

[2015-12-01 10:19] halfdan commented on #6150
That link is not accessable.

[2015-12-01 10:31] kevinansfield commented on #6149
@ErisDS which size unit are you using and which method are you using to obtain them? I've just run `grunt release` locally on master as I wanted to get a before/after with the ember 2.2 PR but I'm seeing the following in the built files (sizes in `bytes` as listed by `ls -l`):

|   ghost.js   | ghost.min.js |   vendor.js  | vendor.min.js |
| ------------:| ------------:| ------------:| -----------

[2015-12-01 10:41] ErisDS commented on #6149
Lol I was being a moron and using `du` to list out recursive sizes and forgot to switch to a sensible unit. Updated to use bytes from `ls`

[2015-12-01 10:43] ErisDS commented on #6150
No idea what happened there... updated

[2015-12-01 10:53] kevinansfield commented on #6149
Hmm, the jump from Ember 1.13.x to 2.2.x didn't result in as big a drop as I was expecting:

| version   |   ghost.js   | ghost.min.js |   vendor.js  | vendor.min.js |
| --------- | ------------:| ------------:| ------------:| -------------:|
| master    |   1,135,877  |    587,941   |   6,120,964  |    1,485,973  |
| ember 2.2 |   1,159,226  |    599,591   |   5,852,743  |    1,425,220  |

[2015-12-01 13:08] #6146 closed

[2015-12-01 14:52] ErisDS commented on #4177
Hi @zinyando, and welcome 😊
The design here is by no means final, it's more of a mockup, but for what we need from this feature it should be possible to use the standard list & form html & css that exists already in the code base, and we can do the final design as a last-pass.

As I mentioned to @taras, this needs a much clearer, slightly paired-back spec for a first version . There's also not an

[2015-12-01 15:15] ErisDS commented on #6069
Going to close this as there was no followup. Will reopen if/when more info is provided.

[2015-12-01 15:15] #6069 closed

[2015-12-01 15:18] #5976 closed

[2015-12-01 17:21] mike182uk commented on #5321
I've done abit more work on my PoC (https://github.com/mike182uk/Ghost/pull/1) and added a strategy for using [search-index](https://www.npmjs.com/package/search-index) instead of lunr (search-index is the one that uses leveldb). `npm install` installed everything necessary to get this working. If you want to test this out, once you have pulled in my latest changes, in `config.js` change `search.s

[2015-12-01 20:20] framerate opened #6156 "Fresh Install fails on grunt init"
Following the new readme, grunt init gets me:

[code]

[2015-12-01 20:35] kevinansfield commented on #6156
Hi @framerate, it sounds like you'll need to clear your existing bower cache first. Try `grunt clean` followed by `npm install` and then `grunt init`.

I'm closing this as Github is for tracking bugs and product development issues rather than help requests. We have a #help channel on our [https://ghost.org/slack/](slack team) for support, if you're still having issues please pop by! :smile:

[2015-12-01 20:35] #6156 closed

[2015-12-01 21:14] framerate commented on #6156
No problem @kevinansfield

I might go as far that this *is* a bug. If so, I see two fixes:

- Update the readme to include the options listed above (unless I missed them)
- change grunt init script to include cleaning caches?

I'm a pretty heavy node user so I would imagine I'm the key demographic for installing via README, so one of these might be in the best interest?

Let me know your feels, I

[2015-12-01 21:58] kevinansfield commented on #6156
@framerate sorry, I missed the fact that you said "fresh install" - I've only seen that error appear when I already have something in my `core/client/bower_components` directory which is what `grunt init` clears (along with the two `node_modules` directories). I've just tried to reproduce with a fresh install and have been unable to force the error.

`grunt clean` definitely shouldn't be part of t

[2015-12-01 22:16] framerate commented on #6156
Yeah it's odd. This is on a fresh micro-instance on AWS if that helps.

I did the steps you suggested and got a different error about ember during grunt init, but I think this one is due to AWS and not you guys:

[code]

[2015-12-01 22:30] kevinansfield commented on #6156
Yeah that error message points to memory issues (the WARN lines can be ignored), `npm` is notoriously memory hungry when installing but I'm not sure about `bower`.

I know with the cheapest digital ocean servers we recommend setting up a swap partition to avoid memory errors - it may be something that's needed for AWS micro instances too: https://www.digitalocean.com/community/tutorials/how-to-add

[2015-12-01 22:50] sdaitzman opened #6157 "npm install ghost@0.7.2 fails on Ubuntu 14.04"
I use Ghost on a server running Ubuntu 14.04, node@v0.10.25, npm@3.5.0.

`$ npm install ghost@latest` fails, while `$ npm install ghost@0.7.1` works as expected (but with many warnings. I've tried installing `ghost@latest` with node v4.2.2 using NVM but this did not work either.

Here's the part of `npm-debug.log` that says what is failing:
[code]

If you want the rest of `npm-debug.log`, please l

[2015-12-01 23:27] ErisDS commented on #6157
Please can you gist the full output from the commandline as well as the npm-debug.log. The piece you posted says which line failed but is missing any indication as to why.

[2015-12-01 23:37] sdaitzman commented on #6157
Here's me installing ghost@latest, `$ cat npm-debug.log`, then trying again but with 0.7.1 https://gist.github.com/sdaitzman/738b138415f9a2c8cd2b

[2015-12-02 01:19] sdaitzman commented on #6157
That log is everything in one place, which I've now realized is a jumbled mess :sob:

If it's more helpful I can gist the commandline output and `npm-debug.log` separately?

[2015-12-02 03:24] ErisDS commented on #6157
I've got enough info now, thanks. I can reproduce the issue, and have found a similar issue on the [npm repo here](https://github.com/npm/npm/issues/10565).

The issue is not reproducible with npm@3.4, so I'd recommend downgrading and using a previous version to get Ghost installed for now. As far as I can tell, this is an issue with npm and not Ghost.

[2015-12-02 03:34] Allu2 commented on #6121
@ErisDS  I hope this helps to clarify the scenario ^^

Originally I had website for a Minecraft server using Octopress as the blogging platform and Apach2 to serve it.

I had set up the Apache to work with https and serve the site only using it.

The old system had setup for viewing the Minecraft servers live world map rendered by dynmap plugin at https://koodaacraft.org/map/ so users could see th

[2015-12-02 03:57] ErisDS opened #6158 "Support 'and' in many-to-many tags relationship"
There is currently a limitation on using 'and' when trying to posts by specific tag slugs.

Using OR will work: `{{#get "posts" filter="tag:quick-guide,tag:spa"}}`
So will IN: `{{#get "posts" filter="tag:[quick-guide,spa]"}}`

However, and will not work `{{#get "posts" filter="tag:quick-guide+tag:spa"}}`

The reason it will not work, is that tags are only ever joined into posts once, meaning there

[2015-12-02 04:07] #6140 closed

[2015-12-02 04:15] ErisDS commented on #6121
Hi @allu2, I think this is a very special case and that fixing it would likely cause problems for other much more common cases. I'd like to close this for now as something we can't fix, but I'll happily revisit if we find more people running into this.

[2015-12-02 04:15] #6121 closed

[2015-12-02 20:38] vislamov commented on #6158
Also this type of query doesn't work, should be related:

`{{#get "posts" filter="tag:quick-guide+tag:-platform" debug="true"}}`

The result includes all documents tagged with `quick-guide` along with those tagged with `platform` tag, which should be omitted.

QUERY:
`select * from "posts" left outer join "posts_tags" on "posts_tags"."post_id" = "posts"."id" left outer join "tags" on "posts_tags".

[2015-12-02 22:06] ErisDS commented on #6158
Yeah it's exactly the same query, just with a not, no AND query across multiple tags will work because tags only exist once in the row.

[2015-12-03 03:47] cartove opened #6163 "Arabic titles are made using grave accents '`' in url slugs"
giving an article an Arabic title containing chars that doesn't exist in English replaces it with '`' grave accent.. which make issues with nginx and requires extra configurations. and for Arabic speaker, it doesn't make any sense to use them.

[2015-12-03 07:51] tyranni opened #6164 "is it possible to use {{content characters="x"}} counting from other than the first character?"
Hello ghosts :)
I'm working on a template to post some upcoming music events. The event's date should have an other style then the rest of the content. My idea is to allways start the post content with the date in a specific format (ie 8 characters -> 03.12.15). In the template I use {{excerpt characters="8"}} and style it as I like.
Now I'd like to get the rest of the post and style it in another

[2015-12-03 08:44] halfdan commented on #6163
Can you give a specific example of a text that shows this behaviour?

[2015-12-03 10:51] halfdan commented on #6164
Hi @tyranni,
is there any reason you can't use the `published_at` field that every post has?

We use Github only for tracking bugs with Ghost and have a separate help channel in our Slack: https://ghost.org/slack/

[2015-12-03 11:05] tyranni commented on #6164
Hi @halfdan ,
Oh yes, there is ;). The music event's dates are mostly in the future and not at the date the post is published ;).
Thanks for the Slack-hint ;). I'll try to get some help there.
Thanks again and sunny greetings :)!

[2015-12-03 11:45] ErisDS opened #6165 "Feature: Internal Tags - Tags for Structure & Workflow"
We've made pretty huge progress in terms of all the new tag features that were outlined in [Tags 101](https://github.com/TryGhost/Ghost/wiki/Tags-101), as well as massively overhauling all of the UIs related to tags.

One feature we've not looked at adding yet, is adding two levels of 'Visibility' so that we can have a concept of hidden tags. This feature has been referred to as 'private' tags, ho

[2015-12-03 11:52] kevinansfield commented on #6165
Do we also want to show the "system" labels in the posts list as a quick identifier? Using github's issue list as an example it's easy to see at a glance which posts have which status/tag:

<img width="355" alt="screen shot 2015-12-03 at 11 50 50" src="https://cloud.githubusercontent.com/assets/415/11559889/4d055f82-99b4-11e5-9fe3-02558bd3a05a.png">

[2015-12-03 11:56] ErisDS commented on #6165
I really like that idea :+1:

[2015-12-03 11:59] ErisDS commented on #6164
If you want to request this as a feature, you can do so on the [wishlist](http://ideas.ghost.org) 😉

[2015-12-03 11:59] #6164 closed

[2015-12-03 12:45] cartove commented on #6163
I made few things actually with the latest release of ghost

this title For ghost this is a test post :
 عشان جوست.. ده بوست تجربة : http://manegm.com/%60shn-jwst-dh-bwst-tjrb/
I discovered this too in tags,
http://manegm.com/tag/%60syrmkh/
looks like it replaces the letter Ain ' ع' with '`'.

If Arabic Ain is doing this probably Hebrew Ayin 'ע' has the same issue.

I reviewed the whole Arabic Alp

[2015-12-03 13:50] ErisDS commented on #6163
This is likely a bug in https://github.com/FGRibreau/node-unidecode. We are also starting to get a lot of requests to not do transliteration in slugs. This whole area needs revisiting by someone with good knowledge of what the best practices are.

E.g. should Ghost transliterate by default, but have an option to disable it by default? Or should it transliterate for all punctuation chars but not al

[2015-12-03 15:20] ErisDS commented on #6141
I don't really know what's going on - but it sounds like it could be related to https://github.com/TryGhost/Ghost-Config/issues/22 and the init script not being compatible with debian 8/Jessie

[2015-12-03 23:21] cartove commented on #6163
I think yes @ErisDS  you're right the bug is from node-unidecode, I even saw few forks trying to work around this issue in the repo.

I am speaking about Arabic and possibly Hebrew as they're very similar, First of all the transliteration isn't readable, for example يلعب means to play in transliteration it's yl'b but it should be yalaab or as we do when we're don't have Arabic support yal3ab, so a

[2015-12-04 03:32] thakerng opened #6169 "Ghost haven't support on NodeJS 5.x yet"
I got an installation error
``Ghost needs Node version ~0.10.0 || ~0.12.0 || ~4.2.0 you are using version 5.1.0``

[2015-12-04 07:55] ErisDS commented on #6169
The error message would have said this:

[code]

Please read the linked document http://support.ghost.org/supported-node-versions/

[2015-12-04 07:55] #6169 closed

[2015-12-04 09:34] ErisDS commented on #6056
I think this is really cool, but I'm struggling to think of how we can use it. We've been trying to optimise our builds for a while because they take too long and get in the way of development. Also worth noting, we're thinking of pushing towards having a single 'standard' install, which would likely be Ubuntu LTS, with much clearer documentation etc that centres around that one single platform.

[2015-12-04 10:20] #6094 closed

[2015-12-04 12:20] kevinansfield opened #6170 "Convert "feature" controller to a service"
We are currently using this [feature controller](https://github.com/TryGhost/Ghost/blob/master/core/client/app/controllers/feature.js) to provide access to various feature/labs flags throughout the app. Our use of feature flags has been limited so far so we haven't run into many issues but increased use of labs settings will mean more and more areas will have logic involving feature flags.

There

[2015-12-04 12:45] jgillich commented on #6056
About the standard install, maybe you could do it via Docker image, [like Discourse](https://github.com/discourse/discourse/blob/master/docs/INSTALL-cloud.md#install-discourse)? It's their default installation method, and I think it's pretty great.

Nightly builds sounds like a good idea, but I'm not sure how to do the push. Do we
* add a after_success hook that checks the date of the last commit

[2015-12-04 15:10] ErisDS commented on #6056
We've thought about that, quite a bit, and the conclusion was it isn't any more user-friendly. Docker is dev friendly, but quite confusing to a large group. It's still a possibility though.

As for how to do nightlies then either:

This.. if we can find something, maybe https://nightli.es/ ??

Otherwise

Prob this?

[2015-12-04 15:11] ErisDS commented on #6163
Happy to see a PR for a fix either here or on unidecode :+1:

[2015-12-04 16:01] kevinansfield opened #6171 "Select component raises error on change"
Steps to reproduce:

1. Log in as an admin
2. Load a user page for a non-admin user
3. Use the select box to change the user role
4. Click save
4. Reload page

Expected result: User now has their new role

Actual result: Upon selecting a new role with the select box, the following error is generated and the subsequent save does not update the role:

![screen shot 2015-12-04 at 16 00 39](https://cl

[2015-12-04 16:02] jgillich commented on #6056
Nightlie.es looks good. There's also [Travis Cron](http://traviscron.pythonanywhere.com/).

I've set up the [repo](https://github.com/jgillich/Ghost-Nightly) and it will let it run for a few days to make sure things are reliable before transferring it. About distros, you probably don't want any more than [these](https://github.com/jgillich/Ghost-CI/blob/master/config.js#L2), right?  :)

[2015-12-04 16:03] kevinansfield commented on #6171
This was probably introduced when switching to `es6` syntax, should be quite a simple fix.

[2015-12-04 16:16] jgillich commented on #6056
https://travis-ci.org/jgillich/Ghost-Nightly/jobs/94897638#L6643

And my last comment said something about reliable testing. :grinning:

[2015-12-04 16:52] chris-yoon90 commented on #6171
Hi Kevin,

I also see the same error when I try to select different themes in the admin panel.

Thanks,
Chris

[2015-12-04 16:53] kevinansfield commented on #6171
Yeah, it's an issue in our select component. I'll change the title to be more generic. Thanks for the additional report :smile:

[2015-12-05 03:04] cartove commented on #6163
I made a quick fix and a pull request to fix only this case in unidecode , but I am still not very satisfied, after taking a look at the Arabic unicode data on the project, I found many mistakes that makes it unreadable, I'll take a look later. but this should fix this issue for now, waiting for someone with write access to merge it to the main repo.

https://github.com/FGRibreau/node-unidecode/pu

[2015-12-06 09:47] FGRibreau commented on #6163
@cartove hello! I am the maintainer of unidecode, I will happily merge any PR related to Arabic unicode :)

[2015-12-06 15:35] martinop opened #6175 "Get all tags and show in index ."
How i can get all tags createds without repeat, and show in index.hbs?
I try with:
{{#foreach tags}}
{{#if tags}}
{{tags separator=" | "}}
{{/if}}
{{/foreach}}
but dont show nothing.

I read and i think that i want can work with Get helper, but I have the version 0.7.1

[2015-12-06 15:37] ErisDS commented on #6175
Hi @martinop - you are correct, you need the get helper. For questions about Ghost or if you need help, please head on over to slack - https://ghost.org/slack/. GitHub is our bug tracker and we are not able to do support here.

[2015-12-06 15:37] #6175 closed

[2015-12-06 15:41] martinop commented on #6175
Thanks and sorry.

[2015-12-06 21:09] acburdine commented on #6170
This sounds like a good idea. I can take a crack at implementing it over the next couple of days (in between writing acceptance tests :stuck_out_tongue:)

[2015-12-06 21:18] acburdine commented on #6150
@ErisDS I had a couple of optimization fixes for this script as well. I'll try to get something like this implemented soon.

[2015-12-06 21:20] ErisDS commented on #6150
@acburdine cool :+1:

[2015-12-06 22:40] Alucardology opened #6176 "There is no user with that email address."
I logged into example.com/ghost/ and put my email address and password in, it returned me with "There is no user with that email address."

By checking the SQLite3 database, I'm certain that the email address and password I have entered is correct, and it says the user is "active." I was logged in yesterday before I went to sleep, and I did nothing to my blog and my server before I encountered thi

[2015-12-06 23:08] theasoko opened #6177 "Can't embed code for contest gallery in blog post"
I'm trying to embed javascript code from the Woobox platform into a blog post to use it as a host for my photo contest gallery. Ghost doesn't recognize or implement the code. This is what it looks like:

<div id='woobox-root'></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//wo

[2015-12-07 08:04] ErisDS commented on #6177
Hi @theasoko, I see you found our #help channel in [slack](https://ghost.org/slack). That is the correct place for getting support for your blog :+1:

[2015-12-07 08:04] #6177 closed

[2015-12-07 10:40] #6171 closed

[2015-12-07 13:57] ErisDS commented on #4182
This is already complete

[2015-12-07 13:57] #4182 closed

[2015-12-07 16:59] ErisDS commented on #5321
@mike182uk this all sounds amazing - what I can't quite determine from a very quick grok of the code (I need to sit and look at it properly and will try to do that sooner rather than later) is what this gives us in terms of API. Can you provide a quick usage example for the kind of searches that can be done? Thanks!

[2015-12-07 17:05] mspanc opened #6180 "Tags with non-latin characters are not recognized"
Tags with non-latin characters seem not to be recognized by Ghost.

While this works:

https://wojciechkozmic.herokuapp.com/tag/obwod-luganski/

this gives 404 Not Found:

https://wojciechkozmic.herokuapp.com/tag/chark%C3%B3w/

ghost 0.7.0

[2015-12-07 17:07] ErisDS commented on #6180
Tags should not have non-latin characters in their slugs, the same as posts, these should be transliterated. Can you please update this bug report to contain the full steps of how you managed to get into this state? There is a bug report template in our [contributing guidelines](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#bugs) that will give you an idea what to include.

[2015-12-07 17:19] mspanc commented on #6180
Surprisingly I am unable to reproduce this - it transliterates this correctly for me, and it's another user who made this. Closing for now.

[2015-12-07 17:19] #6180 closed

[2015-12-07 17:20] ErisDS commented on #4175
This issue is now very much needed - if anyone fancies having a stab. Would be happy to accept partial PRs for one or another endpoint. Being able to browse, edit and add new clients would be great.

[2015-12-07 17:39] ErisDS commented on #4177
@zinyando below is the spec for a first version. Probably need to play it a bit fast and loose with the finer details, but the core functionality should be correct.

----

## Client management v1

Whenever **Public API** is enabled in labs, we need to show a new settings screen called 'connections' in the left hand Ghost menu. There is an `icon-connections` already present.

![](http://puu.sh/lMOX

[2015-12-07 18:08] ErisDS commented on #6050
I think we need to use something along the lines of the JSONAPI format. That's sort of where we were going but the spec didn't exist when we created what we have.

Validation errors are kind of a special case, and they do warrant some extra love.

Kind of neat that JSONAPI spec'd both 'parameter' and 'pointer' - not sure how easy implementing pointer will be, but we can definitely at least provide

[2015-12-07 18:23] mike182uk commented on #5321
Hey @ErisDS

At the moment i have only added the ability to be able to search posts. You search via a phrase (or keyword). This is done by appending an extra query string param on to the posts retrieval api call:
[code]

The fields that are used for the search are configureable via the config. In my PoC i have set `title`, `meta_title` and `description` as searchable fields. So if i had the follow

[2015-12-07 20:43] JoshWillik opened #6183 "Blog showing gibberish HTML"
# Problem

Ghost outputs scrambled strings into the page sent to the browser.

Here is an example of the output HTML.

[code]

# When

I first noticed this problem when trying to make a theme that showcases the posts of 3 authors side by side. ( JoshWillik/bard-theme )

It happens way more often on my 3 author theme, but this problem still pops up from time to time on the Casper 1.1.7

[2015-12-07 22:20] ErisDS commented on #6183
Hi @JoshWillik, this is a duplicate of https://github.com/TryGhost/Ghost/issues/5850. Looks to me like your bard theme is using the beta features, these are expected to be buggy :wink:

[2015-12-07 22:20] #6183 closed

[2015-12-08 01:20] JoshWillik commented on #6183
Ah, I didn't see this one.
I expected it to be buggy, so this is the bug report :wink:

Glad to see you guys are aware of it.

[2015-12-08 02:36] jgillich commented on #6157
Looks like a npm bug, but maybe we should just bundle semver? Calling npm from npm is a bit weird anyway.

[2015-12-08 04:32] delgermurun commented on #4175
If no one is working on it, I want to give a shot.

Thanks. /cc @ErisDS

[2015-12-08 07:46] ErisDS commented on #6183
Very aware, it's even documented in the get helper docs 😉

—
Sent from Mailbox

On Tue, Dec 8, 2015 at 1:21 AM, Josh Vanderwillik
<notifications@github.com> wrote:

[2015-12-08 10:51] ErisDS commented on #6157
I'm not sure what you mean by 'bundle semver'? Looking at the repo, it really seems npm is overwhelmed with support issues at the moment. The technical jump between npm 2 and npm 3 is huge and I think it's pretty much to be expected that you might run into bugs if you use the very latest version.

For now, I recommend downgrading to npm 3.4. I'm going to close this as we can't influence npm, but I

[2015-12-08 10:51] #6157 closed

[2015-12-08 10:53] ErisDS commented on #6176
Hi @Alucardology this really sounds like a support issue, rather than a bug in the software. My best guess would be that an app or server restart happened and switched the mode / env of your blog from production to development. If you need more help, please use the #help channel on [slack](https://ghost.org/slack).

I'll reopen this if it is found that there is a reproducible bug.

[2015-12-08 10:53] #6176 closed

[2015-12-08 10:57] ErisDS commented on #6163
@cartove as someone who is both comfortable on GitHub and understands the arabic language, you're invaluable to projects like node-unidecode ;) Please go through and fix as many issues as you can :+1: - Ghost and other projects will benefit enormously. For now I can fix this particular bug by upgrading to the latest version of unidecode which includes the fix you added.

[2015-12-08 11:04] jgillich commented on #6157
I meant include it as a submodule so the preinstall hook becomes less fragile. semver is just a single file with no deps.

[2015-12-08 11:22] ErisDS commented on #6043
@kevinansfield should this be resolved now?

[2015-12-08 11:25] #6163 closed

[2015-12-08 11:26] kevinansfield commented on #6043
@ErisDS I believe so, I'm not aware of any other issues in this area. Maybe worth closing unless we get any further reports?

[2015-12-08 11:28] ErisDS commented on #6043
Cool, closing as fixed. Will reopen if there's evidence to the contrary :wink:

[2015-12-08 11:28] #6043 closed

[2015-12-08 11:29] ErisDS commented on #6157
I don't think that's necessary. It's a bug with npm, they should fix it, we shouldn't be adding workarounds IMO.

[2015-12-08 11:46] kevinansfield commented on #5777
There's a related issue with date parsing too (once #6184 has been merged):

1. Start a new post and open the PSM
2. Change the month part of value from `MM` to `MMM`, e.g. `Dec` -> `December`
3. You're shown a validation error despite there being no apparent change in date `Published Date cannot currently be in the future.`

Looking into the date parsing, the string `08 December 15 @ 11:33` is pa

[2015-12-08 12:51] ErisDS opened #6186 "Improve SEO & structured data generation"
For more context see the frontend refactor epic: #5091

----

At the moment, the generation of SEO data (like the meta title and description), and structured data e.g. the og and twitter meta tags, and schema.org/JSON LD data is all buried deep within the theme helpers `meta_title`, `meta_description` and `ghost_head`.

The data that is output depends on a number of factors, such as whether the st

[2015-12-08 12:57] ErisDS commented on #5091
^ As you can see from the long list of linked commits. I continue to make slow but steady progress on moving this towards reality.

I have many of the pieces for channels in place, and a PR almost ready to land for dynamic routing

The splitting out of structured data is a project that could be worked on separately, so I've raised an issue for it #6186

I also need to start playing with how to mov

[2015-12-08 14:57] JoshWillik commented on #6183
Ah, so it is. I guess that's what I get for not fully reading the docs.

Sorry to have wasted your time!

On Tue, Dec 8, 2015 at 2:47 AM, Hannah Wolfe <notifications@github.com>
wrote:

[2015-12-08 17:07] kevinansfield opened #6190 "Filter content list by tag"
I've been working on a spike of the filtering functionality of #6165 but it's shown that there are a number of issues that conflate to make this more than a small job.

My current thinking of how this will all eventually come together:
- [ ] Use query params to filter content list, e.g. `http://localhost:2368/ghost/?filter=tags:getting-started` (limited to `tags:` for now)
  - [ ] Initial model lo

[2015-12-08 17:52] ErisDS opened #6191 "Sprint Epic 8th Dec - 12th January"
For 0.7.3 (to land asap):

- [x] `{{tags}}` and `{{foreach}}` helper improvements (#6205)
- [x] Publish date bug fix (#6184)
- [x] Reduce no. async helpers to reduce the no. cases that cause `aSyNcId`'s to be output (#5850)
- [x] Editor bug where certain chars can't be typed (#6192)
- [x] PR review

Post 0.7.3:

- [x] Data migration for hidden -> hashtag (#6165)
- [ ] Addition of client permission

[2015-12-08 17:58] ErisDS commented on #6062
Closing this as I think it has served its purpose for the time being :)

[2015-12-08 19:00] ErisDS commented on #6190
I think clicking a tag in the content screen might also be a good way to trigger a filtered list?

My ideal v1 is just having a way to get to the filtered list and a way to get back out again. Could be click tag in list -> filtered, click 'content' button again -> unfiltered? It's going to be behind a flag for now :grin:

[2015-12-08 21:25] kevinansfield commented on #6190
:+1: I have that more-or-less working already but it needs some work to pull the posts loading and pagination from the route down into the controller in order to smooth over the rough edges. I'll see what I can do with that tomorrow, I'm hoping the existing pagination mixin can be repurposed easily enough.

My only concern is somehow indicating that the posts list is filtered - unless the URL chan

[2015-12-09 00:11] delgermurun commented on #6062
@ErisDS you haven't closed it yet :).

[2015-12-09 02:08] ErisDS commented on #6062
Doh

[2015-12-09 02:08] #6062 closed

[2015-12-09 04:13] delgermurun commented on #4175
I've just started working on it. Prepared tools and starting dive into code.

[2015-12-09 09:13] ErisDS commented on #6190
I think the URL changing might be enough, would be good to see it in action.

Alternatively perhaps there's a way to indicate that there is a removable filter in the content title block:
![](http://puu.sh/lOXd0.png)

It depends really on how it feels with no indicator & also how hard it would be to hack in the filter into the autocomplete bar. I'm not sure what the challenges there are.

I'm think

[2015-12-09 11:22] shuron opened #6192 "Strange editing behavior: Some key not working"
At some point of editing some Keys stop to work...
E.g [o], [Enter] all types of arrows...
Is there some interference with Keyboard-shortcuts? I tried different PC's and browsers. Same result... :(
Very strange.

[2015-12-09 11:30] kevinansfield commented on #6192
Hey @shuron, on which version of ghost are you seeing this issue? There's a known issue with 0.7.2 but we're currently unable to reproduce on master.

Do you have any concrete steps to reproduce the issue? The one we currently know of:

1. Go to the tags management screen
2. Click on the "new post" link in the sidebar
3. Click in the editor and start typing - you should be unable to type the main

[2015-12-09 11:47] B1aZer commented on #6192
This happened to me yesterday as well on OSX and Firefox 42. The 'c' key was not working so I switched to Chrome.

But today I'm not able to reproduce it using your steps.
Ghost 0.7.2

[2015-12-09 12:33] #5850 closed

[2015-12-09 16:51] StefanIvanciuc opened #6193 "Images are not working after migration."
I'm trying to migrate a blog from `mydomain.com` to `mydomain.com/blog` but the images paths are broken, they point to `/content/images` instead of `/blog/content/images` even if I add `subdir` option in config.js -> paths. Also the usage of absolute="true" when posting the image does not change anything.

I've tracked the cause of this and here is where I'm at:

[code]

Also if I comment out the

[2015-12-09 16:57] ErisDS commented on #6193
When you upload an image, Ghost writes a relative path for your image to the database image or markdown fields. You have changed what the correct relative path is,  any links you created would also be broken in the same way. Ghost does not know that you have changed this and it does not doctor the text content of posts in any way.

Going through and fixing this is a necessary part of migrating bet

[2015-12-09 16:57] #6193 closed

[2015-12-09 17:43] deiucanta commented on #6193
@ErisDS For the markdown image URL it's expected to rewrite the URLs manually but what about the featured images/thumbnail? Those are broken as well.

[2015-12-09 17:53] kevinansfield commented on #6192
@shuron 0.7.1 fixed the issue that was present in 0.7.0.

There's been a regression in 0.7.2 related to the tags screen.

[2015-12-09 17:57] deiucanta commented on #6193
The URL is relative to the hostname as it starts with a slash. Without the slash it should work even if you're on a subdir but it won't work if you're on a inner-page (because the slug is considered as well).

The featured images can easily be solved by prefixing the path with the base URL - making them absolute but just for that render.

On the other hand, I wonder if the urls in the markdown can

[2015-12-09 17:59] shuron commented on #6192
Ok, i'll try to update this soon (today or tomorrow.)

[2015-12-09 18:03] cobbspur commented on #6193
@deiucanta @erisds No I do not have a tool exclusively for this. There would be little point as in a case like this you only need to add the subdirectory section of the relative path so you would export your posts via labs. Open the file in a text editor and do a global replace of /content/images/ with /subdir/content/images/ and re-import

[2015-12-09 18:39] kevinansfield commented on #6192
@acburdine did you get very far with your investigations into this?

I think it probably has something to do with these lines https://github.com/TryGhost/Ghost/blob/master/core/client/app/components/gh-tag-settings-form.js#L94-L100. I'm going to have a look into this tomorrow morning as they are also messing with the modals refactor, it's a bit of a tricky one as we want the navigation/selection s

[2015-12-09 20:21] acburdine commented on #6192
@kevinansfield I messed around with it for a bit and couldn't get the issue to replicate on master. My thought is that the Ember 2.x upgrade could have changed how focusIn/focusOut works with route transitions and that means the focusOut call in tags-settings actually gets called all of the time.

Either that or #6078 .

I can add something to the text-input mixin to change scope on focus/blur, bu

[2015-12-10 04:48] elboulangero opened #6194 "No way to remove post background image if the height is too small"
Hi,

while playing around with Ghost, I tried to set a very thin background image for my post. The problem is that the preview is very thin, too thin to have the trash button displayed. So I can't delete the image without the trash button.

See the attached screenshot.
![screenshot_2015-12-10_11-44-36](https://cloud.githubusercontent.com/assets/1942580/11707198/9d8bd646-9f33-11e5-8f6a-b674a1758adb

[2015-12-10 05:54] wakaouzool opened #6196 "Bug:Number Listing"
### Issue Summary
When we implement to local site, we create a post, and the right side of page will automatically update what we type into the left side area. The number listing is synchronise when we type 1. 2. 3., and the right side area will show 1. 2. 3. , but when we changed to 1. 2. 3. or 4. 2. 5. , the right side area still show 1. 2. 3., and it doesn't change even we upload the post.
###

[2015-12-10 08:54] deiucanta commented on #6193
@cobbspur makes sense

@ErisDS any thoughts on using the meta tag for the base href?

[2015-12-10 09:16] ErisDS commented on #6196
Hi @wakaouzool, thanks for the detailed report. This is not a bug, it is expected behaviour.

The markdown for a numbered list (when you type 1., 2. etc) translates your list items into the HTML for an ordered list. HTML then outputs a number for each item, starting at 1 and incrementing each time. For most use cases this is not only expected but desired behaviour, as it means you don't have to wo

[2015-12-10 09:16] #6196 closed

[2015-12-10 09:22] ErisDS commented on #6193
@deiucanta That won't work because you'll get double subdirectories for all future uploads and any other items where the subdirectory is accounted for.

This is a one-time migration issue, you need to fix your bad data, as @cobbspur described, and then everything will work fine.

[2015-12-10 09:48] iolo opened #6197 "failed to import schema with mysql utf8mb4 charset encoding."
it looks like `email` column of `users` table and `token` column of `accesstokens` and `refreshtokens` table.

by the [MySQL official document](https://dev.mysql.com/doc/refman/5.6/en/charset-unicode-upgrading.html),  indexed varchar should be 191 or smaller number of characters.

see also: http://stackoverflow.com/questions/20123824/how-can-i-alter-an-indexed-varchar255-from-utf8-to-utf8mb4-and-s

[2015-12-10 10:00] iolo commented on #6197
I've just noticed, my patch causes another problem

[code]

I need more digging :'(

[2015-12-10 10:15] iolo commented on #6197
another dirty patch here:
[code]

I guess, we need more elegant patch to close this issue.

[2015-12-10 11:03] kevinansfield opened #6198 "No indication of image loading when switching tags on slow connection"
Whilst proxying through `ngrok` to an iPhone I've noticed some odd behaviour with tag images appearing sticky. Steps to reproduce:

1. Create a number of tags with cover images
2. Ensure you're on a slow connection or artificially crippled network, clear your cache and refresh the admin page
3. Load the tags management screen
4. Browse through the tags without giving the cover images time to start

[2015-12-10 12:04] kevinansfield commented on #6192
Ok, I've tracked down the 0.7.2 issue and @acburdine is correct, the fix was in #6078, specifically ensuring `_super` is called in the `deactivate` hooks for [tag settings routes](https://github.com/TryGhost/Ghost/pull/6078/files#diff-33) so that the shortcuts are removed when leaving those routes.

I also have another PR ready to go that should further improve the shortcuts handling in the tag se

[2015-12-10 12:29] ErisDS opened #6201 "Don't use redirects where 404s would be more suitable"
In our pagination systems we try to do smart redirects, so if you hit a page < 1, you get page 1, and if you hit a page beyond the available pages, you get the last page.

These are what Google refers to as 'soft 404s', the page doesn't exist, but the server responds with a non 404 response code. In this case, it's an uncachable 302 redirect, followed by a 200.

This is a case of, seemed like a go

[2015-12-10 12:33] kevinansfield commented on #6192
Closing for now as I've not been able to find any reproducible cases on master since #6078 landed. Will re-open if any further issues are reported.

[2015-12-10 12:33] #6192 closed

[2015-12-10 13:45] winterflags commented on #6125
Markdown table support would be fantastic.

[2015-12-10 17:00] #6201 closed

[2015-12-10 17:21] #6150 closed

[2015-12-10 18:07] ErisDS opened #6205 "Add `limit`, `from` and `to` attributes for `{{tags}}` and `{{#foreach}}` helpers"
Both the `{{#foreach}}` and `{{tags}}` helpers are used to loop through collections of data in Ghost themes.

`{{#foreach}}` allows for looping over any collection and executing a template block for each item in the collection. `{{tags}}` automatically loops through a tag collection if there is one in the current scope / context, and outputs a link for each tag in a comma separated list.

Both of

[2015-12-10 21:02] twanlass commented on #6205
@ErisDS this is looking good. Agreed on the 1 based index as well (just document this!).

Thoughts on how you could grab the last X items of a resource? Negative indexes?
`{{#foreach "posts" from="-1" to="-5"}}`

Something else?

[2015-12-10 21:24] ErisDS commented on #6205
@twanlass That's an interesting question. Negative indexes make sense, I think?

[2015-12-10 22:58] GregBrant opened #6206 "Ghost incorrectly renders carriage returns in an HTML `<table>` as `<br/>` elements."
I think I've found a bug in Ghost whereby it's rendering carriage returns in an html `<table>` as `<br>` elements, directly before the table.

The following snippet of markdown:

    This is a paragraph.

    <table>
    <tr>
    <th>Table Head</th>
    </tr>
    <tr>
    <td>Table Cell</td>
    </tr>
    <table>

    This is another paragraph.

... should result in the following HTML:

    <p>Thi

[2015-12-10 22:59] GregBrant commented on #6206
![ghost-table-render-issue](https://cloud.githubusercontent.com/assets/724976/11731209/9db0851e-9f91-11e5-842d-8b927d380efd.png)

Here's a screen grab of the Chrome DOM inspector.

[2015-12-10 23:33] acburdine commented on #6206
Hi @GregBrant, thanks for contributing :smile: . Unfortunately this appears to be a bug in Ghost's markdown parser [showdown](https://github.com/erisds/showdown). There are currently a number of standing issues regarding the parser, which will hopefully be addressed soon.

[2015-12-11 16:57] christiansakai opened #6208 "Ghost as npm module, doesn't render anything"
I am trying to use Ghost in my app. My app lives on `http://localhost:9000` and I want the blog url to be `http://localhost:9000/blog`. In my ghost.config.js I put the development configuration. I put the content path on `/blog`

server.js
[code]

ghost.config.js
[code]

When I start my parent express app, going to `http://localhost:9000/blog` only gives me 200 logging in the terminal but doesn't

[2015-12-11 17:24] christiansakai commented on #6208
When I console.log(blogApp.get('views')) this is what I get
`/Users/christiansakai/Desktop/myapp/views`

Because this is what my default app views settings are.

Is there a way to override this in Ghost? maybe by passing it to the config?

[2015-12-11 19:46] twanlass commented on #6205
Yea, just an easy way to get posts from the end as well. Granted there's not a huge use case I'm sure so it may not be needed. I think w/ the new get helper and filtering you can do just about anything now :-D

[2015-12-11 20:05] vislamov commented on #5993
Re: `Addition: Get helper path support for filters`

It also would be nice to support `and` in the query:

E.g. `{{#get "posts" filter="tags:[{{post.tags}}]+tag:new-tag-value+id:-{{post.id}}"}}` wich will grab non-current post with the same tags `and` a new tag.

[2015-12-11 21:05] christiansakai commented on #6208
Apparently the maximum string length that I can call res.send is 1023, more than that it wont work. I have no idea why

[2015-12-11 23:36] tomob opened #6209 "[OS X] Unable to type letter 'Ż' in editor"
On keyboard mapping for Polish language on OS X, the letter Ż is typed with alt-shift-z. Ghost's editor captures this combination for some reason.

The bug occurs in text fields in Post Settings. It **does not** occur in the tab editor.

Behavior tried in Firefox, Chrome and Safari.

[2015-12-12 02:52] acburdine commented on #6209
@tomob if you are using ghost 0.7.2, this is a known regression and a fix will be included in the next release.

[2015-12-12 09:42] tomob commented on #6209
Actually I use 0.7.1. If the fix is on the way, I'll close the issue, since a simple workaround is possible (copy-paste).

Thank you.

[2015-12-12 09:42] #6209 closed

[2015-12-13 13:47] matitalatina commented on #6075
I started this job.
This is my first contribution so fell free to warn me if I'm doing it wrong ;).
https://github.com/matitalatina/Ghost/tree/i18n-client

[2015-12-13 15:37] ErisDS commented on #6208
Hi @christiansakai, sorry to hear you're having trouble. As mentioned in the readme & contrib guide, if you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the GitHub bug tracker.

[2015-12-13 15:37] #6208 closed

[2015-12-13 21:57] yusf commented on #3801
@aludvigsen The task is marked as stalled in the Trello roadmap.

[2015-12-14 09:35] ErisDS commented on #5993
@vislamov and support is documented by #6158

[2015-12-14 13:00] uppfinnarn opened #6211 "Excessive RAM usage?"
I was looking through the process monitor on one of our servers, and noticed Ghost was taking a whooping 250MB RAM. This seems… rather excessive for something like Ghost, and a whole lot more than what I remember of previous versions.

I checked my personal blog (which barely gets any traffic), and it's taking ~103MB (running on a rather outdated Ghost install, because I kinda forgot it existed -

[2015-12-14 13:08] rwboyer commented on #6211
I've found that this is pretty much the norm for a while now... at least since 6.0 from my perspective. On average they seem to level out around 320MB per instance for moderate traffic sites (>500 <1000 sessions/day) I've not really looked at it hard but there's most likely some sort of node/library/whatever memory leaks as is the case for most node apps somewhere. It doesn't seem to be devastatin

[2015-12-14 13:20] ErisDS commented on #6211
About a month ago, some quite significant testing was done on Ghost to try to see if there was a memory leak. As far as that testing was able to distinguish, there is no discernible leak (cc @acburdine do you have the scripts that were used for that?).

That doesn't mean that the memory usage isn't quite high, just that it is stable.

High memory usage can be accounted by a few things. Ghost store

[2015-12-14 16:38] halfdan commented on #6211
You may want to take a look at this article: https://blog.risingstack.com/finding-a-memory-leak-in-node-js/

TL;DR; The GC doesn't run often on newer versions - node.js tries to use 1.5GB of memory and the GC is rarely triggered before this threshold is reached. Lower the memory to force the GC to run more often.

[2015-12-14 17:36] kevinansfield opened #6215 "Unable to directly load a post that's not in the first page"
Steps to reproduce:
1. Ensure you have enough posts to require infinite scrolling on the content list (> 15)
2. Scroll to the bottom of the content list and select a post that is only shown after infinite scroll has loaded more (eg. http://localhost:2368/ghost/1/)
3. Reload the page or visit the URL for the selected post manually
4. You should see that the selected/visible post is the first post i

[2015-12-14 17:42] ErisDS commented on #6215
Part of me thinks this might be a known limitation? @novaugust might remember or be quicker at finding the related issues, I remember this went back and forth a bit.

[2015-12-14 17:57] novaugust commented on #6215
I definitely remember an issue that devolved into a huge debate and ended up going nowhere ;) I'll go fishing

[2015-12-14 17:59] kevinansfield commented on #6215
Yeah, it's a limitation of how our pagination currently works. I'll see if I can dig up some old code where I had to solve this for loading the middle of a long message stream into an infinite scroll area.

[2015-12-14 18:13] novaugust commented on #6215
I really couldn't dig anything up, but I'd swear we ran into this before.
At the very least, it should be possible to query for exactly the post on the route and add it to the store so that it can be viewed, but beats me if that'll screw up later pagination (don't think so?)

[2015-12-14 18:19] kevinansfield commented on #6215
Yeah, I think querying and adding it to the list should work. For the few times it will occur, having additional entries load in above the bottom post shouldn't be much of an issue - however if we want to auto-scroll so that the selected post is visible in the list then it will keep looping until all pages before that post have loaded.

[2015-12-14 19:47] cwonrails commented on #6211
What tests are you all using for RAM usage? Ghost is using ~121MB on my VPN at the moment.

[2015-12-15 04:45] tomByrer opened #6218 "can't install on Win7, nodev4.2.3, npm2.14.10"
### System

Win7-64, Node installed with [nodist](https://github.com/marcelklehr/nodist) (nvm clone for windows)

### CLI output:

[code]

### npm-debug.log

[code]

[2015-12-15 10:00] Hell0wor1d opened #6219 "Always show me an error: Access Denied from url:xxx.com, Please use the url configured in config.js."
Hi There,

Is there anybody can help me figure out this error?  Since I upgraded to the latest version, I have been unable to access the background. Just tested with `http://localhost:2368/ghost`, It works well; however, always failed with domain name `http://xxx.com/ghost`.

Before and after the ghost upgrade, the configuration file without any changes. Attached both ghost and nginx configuration

[2015-12-15 10:33] fabienwang opened #6221 "Author page: image tag is incorrect, it takes the cover image."
Hello, i have an issue since few months on author page.
I can't get author image & cover,
the author image is always the same as the cover image while i use both tags.

![author_page](https://cloud.githubusercontent.com/assets/8741873/11808204/45718f88-a31f-11e5-882e-ff56d7bd7bb8.jpg)

please have a look at the Ghost-Flat theme, specifically the part: https://github.com/fabienwang/Ghost-Flat/blob/

[2015-12-15 12:37] kevinansfield opened #6224 "URL field displayed twice for image upload with fileStorage:false"
Steps to reproduce:

1. Change your `config.js` so that you have `fileStorage: false`
2. Click to edit the blog logo/cover image
3. Add and save an image if you don't already have one
4. Click to edit the image again if needed then click the delete icon
5. Click to focus the URL input
6. The URL input will be be duplicated

This only happens after deleting an existing image, there is no duplicatio

[2015-12-15 13:09] #6089 closed

[2015-12-15 13:17] ErisDS commented on #6221
Hi @fabienwang, this is a pretty impressive catch.

There is some code in the `{{ghost_head}}` helper which overwrites `image` with `cover`. It's only supposed to have an effect locally for the meta data, but because objects in JS are passed by reference this ends up overwriting the real data.

You may have noticed this doesn't affect Casper, and indeed it would not affect the majority of themes.

[2015-12-15 13:33] desiredpersona opened #6226 "Bug: Setting up Ghost admin user"
I just installed Ghost 0.7.2 locally on my mac.

When going through the install at `127.0.0.1:2368/ghost` on step 3 i decided to click the back button to change the blog title.

Then when i tried to go from step 2 page to step 3 page i got the error "You are not logged in" when i clicked the green button "Last Step: Invite Your Team"

<img width="818" alt="screen shot 2015-12-15 at 13 11 49 error"

[2015-12-15 13:54] #6194 closed

[2015-12-15 14:00] brightbits commented on #6103
Really need this, with a non-perfect PG connection, current version of `knex` just crashes the whole app any time a connection dies, instead of closing it and reconnecting. This is now handled nicely in `0.8.6`

[2015-12-15 14:13] #6221 closed

[2015-12-15 14:48] fabienwang commented on #6221
Damn you're fast. Thanks @ErisDS

[2015-12-15 15:17] sp90 commented on #5986
@ErisDS I think you can set the tabindex="-1" then it shouldn't be tabable

Mozilla desciption: "a negative value means that the element should be focusable, but should not be reachable via sequential keyboard navigation;" reference link: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2015-12-15 15:18] ErisDS commented on #5986
@sp90 pretty sure that defeats the object of it being an accessibility link?

[2015-12-15 15:19] ErisDS commented on #6221
No problem, don't leave it months next time :wink:  Don't forget you can always drop a note in the #themes channel in slack as well if you're having trouble.

[2015-12-15 15:21] sp90 commented on #5986
@ErisDS then what is the wanted behavior?

[2015-12-15 15:27] kevinansfield commented on #5986
It would be possible to capture the <kbd>tab</kbd> key when the editor has focus but is that desired? I don't see much point for inserting a `\t` character as it will be treated as normal whitespace by the markdown parser and may break users' expected keyboard navigation behaviour.

[2015-12-15 15:39] kevinansfield commented on #5986
Github no longer has the same issue that was pointed out above, their css for the accessibility link is now the following:

[code]

[2015-12-15 20:20] ErisDS opened #6229 "Password reset doesn't complete"
The password reset form isn't completing it's job of resetting your password and logging you in with your new password.

Filling out the form and hitting submit seems to send the data to the `submit()` function on the controller, but it gets stuck somewhere after. There doesn't seem to be an ajax call, and there's no redirect.

[2015-12-15 20:35] ErisDS commented on #6229
Seems to me that the call to `validate()` is not working somehow. There are no errors and that code doesn't get executed.

The only thing I could spot so far were double parenthesis here: https://github.com/TryGhost/Ghost/blob/master/core/client/app/controllers/reset.js#L40

Stumped :/

[2015-12-15 20:54] ErisDS commented on #6215
This is the closes thing I could find to a conversation about this: https://github.com/TryGhost/Ghost/pull/4346

[2015-12-15 20:54] ErisDS commented on #5986
Sounds like a good solution :+1:

[2015-12-15 22:08] kevinansfield commented on #6229
Yeah, it was a bit of a strange one. We were swallowing errors in the `.catch` which is always helpful when trying to debug :grimacing:

Inspecting the error raised showed that the validation engine was failing with the error `model.get is undefined` which also seemed very strange until realising that we were actually depending on that route not having a `model` - something that I broke when durin

[2015-12-16 00:55] Hell0wor1d commented on #6219
No one answer, just close.

[2015-12-16 00:55] #6219 closed

[2015-12-16 04:19] Hell0wor1d commented on #6219
Made a stupid mistake. Just forgot set `NODE_ENV=production`
Mental breakdown...:-(

[2015-12-16 08:54] #6229 closed

[2015-12-16 09:19] ErisDS commented on #6229
I swear I tried logging out the error in all sorts of ways inc arguments, this.get('errors') etc but I never once saw an error message. That was half my bafflement.

I got as far as realising that the only thing it was getting for the model was the `token` in the validation engine validate method, but I had no powers to discern why. Very glad one of us knows this stuff :grin:

[2015-12-16 12:35] kevinansfield opened #6232 "Improve keyboard shortcut handling"
As we depend more and more on components and create additional/more involved screens it's become obvious that our current setup for shortcut handling has a number of pitfalls, namely:
1. It's necessary to enable/disable or change keymaster scope manually whenever an input has focus to avoid triggering global shortcuts when typing
2. The current setup's premise is that only routes have shortcuts me

[2015-12-16 13:37] Jameskmonger commented on #6226
+1, can reproduce in a clean install

[2015-12-16 13:46] Jameskmonger commented on #6226
The `NoPermissionError` is being thrown in `core/server/api/authentication.js` in `updateSetup(object, options)`

[2015-12-16 16:33] mwo44 commented on #6139
It seems that this bug appear when a {{post_class}} shortcode is used in home.hbs template.

[2015-12-16 17:43] marcelklehr opened #6233 "Editor unusable in firefox (hangs and collapses unexpectedly; sometimes viewport jumps)"
Hey, I just upgraded my ghost installation and intended to continue work on my new post, when I discovered that the editor is pretty much unusable. At least in firefox. I tried chrome and everything seems to work fine. Instead of discribing what happens I'll just show you:

![unusable-ghost-editor](https://cloud.githubusercontent.com/assets/986878/11848812/e6d40ada-a424-11e5-82a0-c3b85598a92f.gif)

[2015-12-16 18:39] kevinkucharczyk commented on #6224
A similar thing happens (under the same conditions, meaning `fileStorage: false`) in the post image editor:

![ghost](https://cloud.githubusercontent.com/assets/3127419/11850259/7db1b86a-a42c-11e5-932d-8a7ed48851bf.gif)

I think I have a fix ready - will open a PR soon. The problem seems to be some uploader init calls being called multiple times.

[2015-12-16 18:52] kevinansfield commented on #6233
Which version of Firefox are you using? I've just tested with version 41 and 0.7.3 and have been unable to reproduce.

[2015-12-16 19:23] marcelklehr commented on #6233
Firefox 42. I'm using ghost 0.7.2, though. Will update asap and try to
reproduce.

[2015-12-16 20:41] ErisDS commented on #6205
Limit has shipped in 0.7.3, but whilst writing documentation, it occurred to me that my implementation did not account for making `{{@last}}` work when using `{{#foreach}}` and `limit`. Whoops. That'll need resolving when this gets tackled.

[2015-12-17 00:47] Foutchy opened #6235 "Bug: forgot password"
### Issue Summary
Reset password form is not working (enable to submit) - Clean install

### Steps to Reproduce

1. This is the first step
Filling the form ghost/reset after clicking the link received by email
Clicking reset password button

### Technical details

* Ghost Version: master - 55045ae (0.7.2)
* Client OS: OSX 10.11.2
* Server OS:  Ubuntu 14
* Node Version: 4.2.0
* Browser:  Chrome Ver

[2015-12-17 00:59] Foutchy opened #6236 "Bug: Enable to change user right"
### Issue Summary
Change user from Editor to admin isn't working

### Steps to Reproduce

1. Change any user from Editor to admin.

Work around, edit database table.

### Technical details

* Ghost Version: master - 55045ae (0.7.2)
* Client OS: OSX 10.11.2
* Server OS:  Ubuntu 14
* Node Version: 4.2.0
* Browser:  Chrome Version 47.0.2526.80 (64-bit)
* Database:  Postgres

[2015-12-17 01:30] novaugust commented on #6235
Hey @Foutchy, this is a known (and fixed) issue #6229. Thanks for the detailed report

[2015-12-17 01:30] #6235 closed

[2015-12-17 01:31] novaugust commented on #6236
Duplicate of #6171 - already fixed, hopefully out soon

[2015-12-17 01:31] #6236 closed

[2015-12-17 08:39] ErisDS commented on #6236
Please upgrade to 0.7.3, which was released yesterday 😉

[2015-12-17 08:40] ErisDS commented on #6139
This is fixed in 0.7.3

[2015-12-17 18:00] vale981 opened #6238 "Can't log in."
Maybe i'm doing something wrong, but i cant log into Ghost.
The ghost/api/v0.1/authentication/token POST request allways resets connection.

Edit: SSL is causing it. (Works without)
Edit: Works if i curl the request...

[2015-12-17 19:00] mwo44 commented on #6139
Nope, have just updated the Ghost and the issue with {{post_class}} still occurs, sorry.

[2015-12-17 19:05] #6238 closed

[2015-12-17 19:38] ErisDS commented on #6139
Yeah - discovered a further issue, there's already a commit in master to fix it.

[2015-12-17 19:39] mwo44 commented on #6139
You rock!

[2015-12-18 04:13] frankxin opened #6239 "Bug: About new restful API"
### Issue Summary
ok ， I try our new API , And I found there is some wrong when i use ajax twice continually

### Steps to Reproduce

1. This is my code
[code]
2. The first request is right , and the second one return with an error
![image](https://cloud.githubusercontent.com/assets/6349036/11889059/767627b2-a57f-11e5-8ecc-4762dd70941a.png)
![image](https://cloud.githubusercontent.com/assets/63490

[2015-12-18 05:25] chripf commented on #6239
Have the same issue - tried doing a re-init before using the helper again, but this does not help.

[2015-12-18 08:27] frankxin commented on #6239
@chripf  Thank you for your reply . I totally agree with your method . And I think i can change the ghost-url.js for my project . Because in one context , if you want to get user after get posts , it would be wrong , the url will be like this `//www.frankxin.com/ghost/api/v0.1/posts/users` . So I want to check if this kind of API is by designed or it's a mistake.

[2015-12-18 09:06] halfdan commented on #6239
Confirmed, I'm working on a fix.

[2015-12-18 14:50] iosifnicolae2 commented on #6208
You must put 404 and 505 errors route after initialization of ghost.
Example: ghost().then(function(){
    app.use(ghostServer.config.paths.subdir, ghostServer.rootApp);
    ghostServer.start(app);
}).then(function(){
 app.use(function(req, res, next) {
      var err = new Error('Not Found');
      err.status = 404;
      next(err);
  });
     ...
});

[2015-12-18 14:56] christiansakai commented on #6208
@iosifnicolae2 thanks for the reply. I know what the issue was. It boiled down to my parent app has a `connect-livereload` in its middleware.  Once I turned that off, everything works just fine.

[2015-12-18 16:57] #6224 closed

[2015-12-19 09:26] ErisDS commented on #6239
This will be closed automatically when the fix is merged.

[2015-12-19 10:05] bohanyang opened #6245 "Redirect Loop appears when visit /ghost/ on HTTPS port other than 443"
Config.js:
 - url: http://example.com
 - urlSSL: https://example.com:12222
 - forceAdminSSL: true

Visiting http://example.com/ghost/ will redirect me to https://example.com:12222/ghost/

And then https://example.com:12222/ghost/ will redirect me to https://example.com:12222/ghost/

That's the LOOP...

[2015-12-19 10:09] ErisDS commented on #6245
Hi @bohanyang, sorry to hear you're having trouble. This sounds like a duplicate of #2796 (there's lots of info on that issue), please make sure you have setup your webserver configuration correctly: http://support.ghost.org/setup-ssl-self-hosted-ghost/.

If you need more help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support

[2015-12-19 10:09] #6245 closed

[2015-12-19 10:10] ErisDS commented on #6233
Can you also please try testing with any addons disabled?

[2015-12-19 11:01] bohanyang commented on #6245
Nginx: `proxy_set_header       X-Forwarded-Proto $scheme;`

[2015-12-19 12:14] tunylund opened #6246 "Hardcoded environments prevent customization"
Hi,

As a feature the https://github.com/TryGhost/Ghost/blob/master/config.example.js-file seems to support named environments as in:

[code]

Unfortunately the codebase seems to be riddled with hardcoded environment configurations: https://github.com/TryGhost/Ghost/blob/0.7.3/core/server/errors/index.js#L124
(As a result no error logging will occur if the environment-name differs from the default

[2015-12-19 14:40] fengkaijia opened #6247 "500/422 error on tags started with number and hyphen"
After 0.7.1 (which worked), when accessing the page of a tag begin with number and a hyphen, whatever the tag exist or not, for example: https://example.com/tag/2016-election/ a 500 (or 422 using the Ghost demo) error is returned:

[code]

When there's no hyphen, everything worked. For example https://example.com/tag/24hour/ And after remove the number and hyphen part, everything works again.

[2015-12-19 15:19] ErisDS commented on #6247
@fengkaijia, thanks for the clear bug report. I've seen this error a couple of times and not known what was causing it, the only way I could reproduce was with badly formatted API calls. Now I know the cause I should be able to get it fixed up pretty quickly.

[2015-12-19 15:23] bogdangoie opened #6248 "Issue uploading images"
Hello,

I installed Ghost latest release and have problems with uploading images. Sometimes it works sometimes it doesn't for some weird reason.

Ghost is running on an Amazon Elastic Beanstalk instance and the content folder is mounted on an S3 bucket. What happens is when I upload same picture sometimes I get the dancing cat forever and sometimes the file uploads fine. Those times when the cat s

[2015-12-19 17:17] novaugust opened #6249 "Repeated 401s on the editor report back as Server Not Available, rather than offering another login"
### Issue Summary
The password reauth that pops up on the editor after a session expires only gives you one chance to get it right. If you typo your password, rather than coming up again with "Password invalid, give it another go", Ghost just gives up and shows a "Server unavailable" error on the repeated 401s

### Repro

1. go to ze editor
2. kill your session
3. hit save
4. enter an incorrect pa

[2015-12-19 17:18] kevinansfield commented on #6249
I believe this has been mostly fixed in #6088

[2015-12-19 19:56] pimka opened #6250 "Non-latin characters"
Hello!
I use Ghost as an npm module.
I want to create post with non-latin characters. It's looks good when I open the post page.
But when I go to db (MySQL), there are weird symbols in the title, markdown and html fields.
Because of this, i can't show this data nowhere except Ghost app. For example, I want to show last n posts on the main page of my site.
DB is in utf8 encoding, charset  : 'utf8'

[2015-12-19 22:33] bogdangoie commented on #6248
Ok, found the issue. I was using s3fs and for some reason didn't work as expected..just sometimes.

I just tried [Ghost-S3 package](https://github.com/DangChien/ghost-s3/tree/patch-1) (with new S3 url format- needed to install this other branch which was not merged into master as of now) and now image uploads load fine.

[2015-12-19 22:33] #6248 closed

[2015-12-20 03:47] coderfi commented on #5587
Any progress? At first glance, seems to still be a problem in Ghost v0.7.3

[2015-12-20 12:13] uppfinnarn commented on #6211
Interestingly, just upgrading to Node 4.2 and Ghost 0.7.3 seems to have dropped the exact same setup down to ~80MB, and I can gain about 20-30MB on top of that with `--optimize_for_size` if I want to.

I don't know what Node 4.x did to make this happen, but I like it.

[2015-12-20 14:30] #6239 closed

[2015-12-20 15:59] ErisDS commented on #6250
Please read this issue, which describes what is occurring: https://github.com/TryGhost/Ghost/issues/5945.

[2015-12-20 15:59] #6250 closed

[2015-12-20 16:26] ErisDS commented on #6247
I've got a PR in for a quick fix. The underlying issue is the same as this: https://github.com/TryGhost/GQL/issues/3 and is going to require a bit of a redesign of GQL's lexer, I think

[2015-12-20 17:15] pimka commented on #6250
Thank you.

[2015-12-20 22:53] mwo44 opened #6252 "{{#has tag='value'}} not working"
Hi,
I'm running Ghost 0.7.3 and I've tried to add a custom menu based on tags, however the helper #has doesn't seem to be working as described in themes.ghost.org/docs/has
{{#has tag='value'}}custom code here{{/has}}
I've tried the above snipped within #post both in the page.hbs and post.hbs templates with no success.

[2015-12-20 23:21] kevinansfield opened #6253 "Setup/two fails with fileStorage:false config"
Steps to reproduce:

1. Change your `config.js` so that you have `fileStorage: false`
2. Delete (or rename) your dev database then start/restart the ghost server
3. Start the setup process
4. Fill in and submit step 2
5. You should see an infinite spinner and the error `Uncaught TypeError: Cannot read property 'blueimp-fileupload' of undefined` originating from `gh-profile-image`'s `willDestroyEle

[2015-12-20 23:35] kevinansfield commented on #6253
@ErisDS I have a quick-fix for this but wanted to check what the desired behaviour is for the `gh-profile-image` component when `fileStorage:false` is set. It seems that at the moment there's no way to set the image if you have fileStorage disabled, is that right or a separate issue?

[2015-12-21 10:06] ErisDS commented on #6253
@kevinansfield when `fileStorage:false` is set, it should only be possible to set a URL not upload an image. So the gravatar part should work but there shouldn't be an option to upload your own, I think.

[2015-12-21 11:14] #6226 closed

[2015-12-21 15:55] ZengineAlex opened #6256 "Redirect from non-www to www"
Hey guys,

I'm pretty new in working with Ghost and Node.js apps in general.

Is there an easy way to set a redirect from the non-www url to the www-url ?

Thanks a lot!

[2015-12-21 16:35] sebgie commented on #6256
Hi @ZengineAlex,

it would be best to add the redirect to your proxy server (Nginx/Apache). It is recommended to use a proxy server for running Ghost and therefore a simple redirect in your configuration would solve that for you.

If you need more help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community

[2015-12-21 16:35] #6256 closed

[2015-12-21 18:53] ErisDS commented on #6252
Hi @mwo44, sorry to hear you're having trouble. As mentioned in the readme & contrib guide, if you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the GitHub bug tracker.

[2015-12-21 18:53] #6252 closed

[2015-12-21 19:03] ErisDS commented on #6246
No plan to change this as it's never been questioned before & I'm not sure what the use case would be. The concept of development and production modes are pretty standardised. Feel free to raise feature request on our [wishlist](http://ideas.ghost.org).

[2015-12-21 19:03] #6246 closed

[2015-12-21 19:07] tunylund commented on #6246
Sure. Thanks for the reply!

[2015-12-21 19:20] #6247 closed

[2015-12-21 22:42] vislamov opened #6257 "Missing post tags when searching content via Ghost admin"
### Issue Summary:

Tags are missing when searching content, which leads to a problem when re-saving the post. Tags need to be re-created each time.

### Steps to Reproduce:

- Go to admin `/ghost`
- Search for the post, e.g. node

![image](https://cloud.githubusercontent.com/assets/5131554/11943061/cd3e2ffa-a7ef-11e5-85c1-3419f4b5d2e9.png)

- Click on the post
- Open tags section, all tags are mi

[2015-12-21 23:35] alexellis opened #6258 "Fully updated - gives poor performance with Raspberry PI 2"
I've noticed a huge slow-down with the latest version of Ghost and Node 4.x

A fully updated version of Ghost blog running on node-v4.2.3-linux-armv7l with ghost-0.7.3 t took almost an hour to process npm install --production. After this Apache Bench only gave me quite a poor throughput vs Node 0.12 and previous version of ghost. Details below.

Both systems are otherwise fully updated running on

[2015-12-22 00:29] acburdine commented on #6257
Hi @vislamov!

What version of Ghost are you using? I just tried to reproduce this on master and wasn't able to get what you are seeing.

[2015-12-22 00:37] acburdine commented on #6258
@alexellis as to the npm install, that can depend on what version of npm you are using. Npm has taken a larger and larger amount of memory with each subsequent version. As to the node/ghost version difference, it might be helpful to have results of testing with ghost 0.7.3 with node 0.12, just to see if it's a Ghost issue or a node issue :smile:

There's also issue #6211 which seems to show someth

[2015-12-22 07:48] jeremywu0127 commented on #6219
@Hell0wor1d hi, I met the same question , how to set the NODE_ENV ?

[2015-12-22 07:53] Hell0wor1d commented on #6219
@jeremywu0127 refer http://docs.ghost.org/pl/usage/configuration/

Using Environments
------------

In order to set Ghost to run under a different environment, you need to use an environment variable. For example if you normally start Ghost with node index.js you would use:
[code]
Or if you normally use forever:
[code]
Or if you're used to using npm start you could use the slightly easier to remem

[2015-12-22 08:08] jeremywu0127 commented on #6219
@Hell0wor1d aha, it works ! Thx

[2015-12-22 08:50] Hell0wor1d commented on #6219
@jeremywu0127 不客气。

[2015-12-22 09:02] ErisDS commented on #6257
@vislamov here is a [bug report template](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#bugs) in our [contributing guidelines](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md) that shows the info that it's useful to include with a bug report.

[2015-12-22 14:02] ErisDS commented on #6257
I was able to reproduce this on 0.7.3 quite easily.

I believe it only happens for posts not yet loaded on the content screen, so posts older than the first 15 you see there.

[2015-12-22 14:11] ErisDS commented on #6258
Just wanted to reiterate what @acburdine says here. `npm install` being slow is an issue to raise with npm, rather than Ghost - we have zero control over how npm works.

As for the change in performance you're seeing, we'd ideally need to see a benchmark from 0.6.2 and node v0.12 compared with Ghost 0.7.3 on node v0.12 and then again with Ghost 0.7.3 and node v4.2 upgraded separately.

Testing bot

[2015-12-22 14:28] ErisDS commented on #6257
Update: I reproduced it a couple of times and am now not able to again.

[2015-12-22 15:23] acburdine commented on #6257
@ErisDS I can try and work on a fix. I have some idea as to what's causing this.

[2015-12-22 15:25] acburdine commented on #6211
@ErisDS in terms of the scripts that were used for testing, I don't have those unfortunately :disappointed: . I built the script that created test data in a Ghost blog, but @vdemedes was the one who had all of the Docker setup/memory testing scripts.

[2015-12-22 15:37] kevinansfield commented on #6257
I've just been having a look into this too but haven't been able to find anything yet.

The search itself shouldn't be causing any problems as it doesn't touch the store at all, it simply passes an ID to the edit route as do all other transitions/links to the edit route. The edit route itself should always hit the API as it's using `store.query` which to me suggests it's one of three things:

1. T

[2015-12-22 15:39] ErisDS commented on #6211
No worries, I have them, I was wondering if you had them all setup :wink:

[2015-12-22 16:15] sysforensics commented on #5860
Was there a solution to this?  Having the same issue.  Went from 0.6.4 -> 0.7.0 and now getting 404s.  If I revert to 0.6.4 it works fine.

[2015-12-22 16:20] brightbits commented on #6233
the whole backend hangs randomly for me, in chrome and safari, safari has no add-ons. Seems to be worst when I use the search feature to find a post

[2015-12-22 16:43] benheb commented on #5860
@sysforensics did you configure custom permalinks as I did? I can't remember exactly... but the I _think_ resolution might have been that my original permalink was `/blog/:year/:month/:day/:slug` but when updating to 0.7.0 it needed a trailing slash, otherwise it 404'd: `/blog/:year/:month/:day/:slug/`. If that doesn't help you maybe I can look a little closer and try to remember if there was some

[2015-12-22 17:41] vislamov commented on #6257
@acburdine just updated tech details, it happens on both my dev env (Mac/SQLite) and production (AWS/Ubuntu 14/MySQL). And once  search is performed I can't reproduce it anymore on the same post at least for some time. The only posts I can reproduce it are the ones I haven't opened for a while.

[2015-12-22 18:43] sysforensics commented on #5860
I have some custom permalinks as a result of porting issues.  I also have a lot of rewrites in the nginx sites-enabled because porting issues.  A lot of my posts are linked to in books, other blogs, etc. with the full .html path so I need to keep it and decided to use rewrites.  Likewise, I had to create the custom dates because of porting.

Example: rewrite /2015/05/blah-blah.html http://www.doma

[2015-12-23 09:32] alexellis commented on #6258
NPM aside (being a one-shot process) I still want to understand how performance has taken a hit.

These two sets of results are taken from the same 'production server' running Arch Linux. In this example the first system has a populated SQLite DB and the second is an 'empty' database on a fresh installation.

On a separate, fully updated Arch Linux Raspberry PI 2 I am getting worse performance wit

[2015-12-23 11:02] alexbagirov opened #6259 "Ctrl+S doesn't work on the latest Chrome"
Hi!

It seems that Ctrl+S combination doesn't save the article and opens Chrome save page dialogue.
It still works on Firefox but not on Chrome. Any solution?

Alex

[2015-12-23 11:34] ErisDS commented on #6259
Hi @alexbagirov, this issue is not reproducible from the info you have provided, please could you update to include all the relevant details? There is a [bug report template](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#bugs) in our [contributing guidelines](https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md) that should give you a good idea what sorts of info to includ

[2015-12-23 13:09] alexbagirov commented on #6259
Hi @ErisDS. Sure. Here's what I have. Let's go through the template :smiley:

### Issue Summary

When using **Ctrl+S** hotkey in Chrome, Ghost doesn't save the article but opens savepage window.

### Steps to Reproduce
Open your editor in latest Chrome and hit **Ctrl+S**.

### Technical Details

* Ghost Version: 0.7.4 (the same for all downto 0.7.0)
* Client OS: Windows 10
* Browser: Google Chrome

[2015-12-23 19:35] amilajack opened #6260 "Pinned Posts Feature?"

[2015-12-23 19:43] ErisDS commented on #6260
https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md

[2015-12-23 19:43] #6260 closed

[2015-12-24 17:06] krokofant commented on #4439
I've looked a bit through the roadmap and I'm still wondering when the get helper will be able to get static pages. I want to be able to get a page via the slug of the page just like you can with regular posts.

Any insights? :)

[2015-12-24 20:06] alicoding opened #6262 "Error: Cannot find module './lib/main' when try to upgrade to latest Ghost version"
[code]

I'm using node version `4.2.0` and followed digitalocean guide for upgrade.

[2015-12-24 22:25] alicoding commented on #6262
Went through the upgrade guide again and it's now working.

[2015-12-24 22:25] #6262 closed

[2015-12-25 12:53] petrosagg opened #6263 "Bug: npm-shrinkwrap.json contains devDependencies"
### Issue Summary

### Steps to Reproduce

1. checkout the stable branch
2. run `npm install --production`

npm will ignore the `--production` flag and install the modules specified in `npm-shrinkwrap.json` which include `devDependencies`. By default `npm shrinkwrap` excludes `devDependencies`[1] unless `--dev` is set.

Since the stable branch is intended for production use these dependencies shou

[2015-12-25 13:19] xorander00 opened #6264 "Database Options"
I was looking into supported databases, and was led to this page:
http://support.ghost.org/config/#database

Looks like SQLite or MySQL are the primary options, while PostgreSQL is a distant 3rd option.  Recently, I've been exploring the usage of PostgreSQL for most (if not all) data storage.  It supports relational very well, along with document (JSON/JSONB).  Key-Value (HSTORE) storage can be do

[2015-12-26 00:20] blfr opened #6265 "Breakage after reinstalling node modules"
I was running a Ghost blog and it had a minor issue with sending email through Mailgun. I tried troubleshooting, deleted the node_modules directory, and reinstalled with `npm install --production`. After this, the blog became completely unusable. Every page except the post listing returns an error.

    TypeError: [post.hbs] Expected a SourceNode, string, or an array of SourceNodes and strings. Go

[2015-12-26 11:03] ErisDS commented on #6263
Hi @petrosagg, did you try running Ghost from the stable branch?

The stable branch contains source code, which needs to be built in order to run. The dev dependencies like grunt are needed to complete those build tasks - therefore they are required and should not be excluded.

If you want a version of Ghost that comes pre-built for production and doesn't need the dev dependencies, then both the n

[2015-12-26 11:03] #6263 closed

[2015-12-26 11:23] ErisDS commented on #6264
Hi @xorander00, I'm really not sure what to say here. I see you only recently signed up on GitHub and this issue is the first one you've raised. I'm honestly not sure if you're new to open source or if this is some sort of Christmas Day prank?!

You're proposing a re-write of an enormous part of our codebase, and dropping support for the two main databases used with only a single sentence of reaso

[2015-12-26 11:23] #6264 closed

[2015-12-26 11:29] Kikobeats commented on #5906
done! :-)

[2015-12-26 11:52] xorander00 commented on #6264
No, not a prank.  I don't use Github, as I self-host GitLab for my own projects.

This wasn't really meant to be a proposal for a group effort or a feature request from current contributors.  Sorry if it came off that way.  I just wanted to gauge feedback and see if there's any interest in something like this.  I also wanted to see if there's any active discussion in regards to this topic that I m

[2015-12-26 11:56] halfdan commented on #6264
@xorander00 I think it's a great idea to improve database/feature support for Ghost - but instead of working on integrating a completely new framework (which the core devs then would have to maintain/support/fix issues for) it would be preferable if you directed your work at improving knex.js (which we already know and use). This way both knex.js and Ghost benefit.

[2015-12-26 12:33] petrosagg commented on #6263
@ErisDS hm I see what you mean. I missed this because I was trying to re-install node_modules in a previously built folder. Thanks for the quick response

[2015-12-27 07:18] 0xCD opened #6266 "Blog title in admin panel as decimal number"
### Issue Summary
Blog title in admin panel interpreted as a number, if a prefix is "0x"
### Steps to Reproduce
1. Change the name of the blog to "0xCD" (205 in decimal) for example
2. Refresh the page

### Screenshot
![ghost](https://cloud.githubusercontent.com/assets/16162622/12009267/6128e818-acb4-11e5-928f-6097b6bb7b96.png)

[2015-12-27 10:23] halfdan commented on #6266
Hi @0xCD,
what version are you on? I just tried to reproduce this on master but failed to do so.

[2015-12-27 10:24] johnny94 commented on #6205
Hello, I am new to this project. I think I can help to add these attributes to the helpers. May I take this?

[2015-12-27 10:55] 0xCD commented on #6266
@halfdan, tired with 0.7.4 latest release on OS X and Windows with Node.js v4.2.4.

[2015-12-27 23:28] justinboden opened #6267 "Stubborn Navigation Menu"
I'm unable to rearrange the order of menu items in the navigation sidebar.

### Steps to Reproduce

1. Create a new menu item in Navigation settings and approve it to make it draggable
2. Drag the item to a fresh position, say second-from-top
3. Hit save. After the refresh, the item is back in its initial position

First noticed the issue in 0.7.4.

[2015-12-27 23:56] acburdine commented on #6267
@justinboden I can confirm this, thanks for reporting! Will work on a fix later today.

[2015-12-27 23:58] acburdine commented on #6266
@halfdan @0xCD I can reproduce it. It doesn't happen right after you change the blog title, you have to refresh the page. Probably due to some sanitation errors.

[2015-12-28 00:17] acburdine commented on #6266
Figured out what is causing this, and am somewhat at a loss as to how to fix it. Or rather, I know how to fix it, but I'm not sure if there's a better way.

The cause: A while back there was a bug where the ghost-admin client secret (used for admin OAuth) was being interpreted as infinity. To fix it, the admin checks config values to see if they are numbers (which infinity is not). Unfortunately h

[2015-12-28 09:25] #6267 closed

[2015-12-28 17:06] PunKeel commented on #3801
:+1: Would love this :(

[2015-12-28 20:42] hwdsl2 opened #6270 "Mixed content issue for HTTP rel="next" links in Firefox"
### Issue Summary:

Firefox treats HTTP rel="next" links as "mixed content", blocks those and displays a yellow triangle on the green padlock in front of the URL.

### Steps to Reproduce:

1. In Firefox, visit https://hannah.wf/
2. Notice that there is a yellow triangle on the green padlock due to mixed content.
3. Press Shift+F5 to open developer tools. Click on "Console". The following is shown:

[2015-12-29 03:01] Nolski opened #6271 "Import JSON from old ghost blog failed"
I seem to be unable to import a json blog from an old Ghost blog that I had laying around. When uploading the json file all I get is a prompt saying that the import failed and a message displaying `validator is not defined`.

I'm running the blog inside of a [sandstorm](https://sandstorm.io) instance and it is version 0.5.8

[2015-12-29 07:04] cerealco opened #6272 "Curly brackets not being filtered in Post URL"
I noticed the generated Post URL didn't filter out the curly braces, as seen below;
"ghost-post-slug-{{allows}}-curly-braces".

[2015-12-29 23:30] brightbits opened #6274 "Javascript freezing the browser"
I have a weird problem - when I play around in the back end, the javascript becomes unresponsive and I can’t do anything

it got t the point that when I was updating a few articles, I had to use the quick search in 1 browser, get the edit url, open that url in a different browser, edit the article, then close the tab and start again.

Can anyone suggest a solution or the best way I can track it do

[2015-12-30 01:50] nuclearpengy commented on #6274
I noticed admin was freezing up today, I'm on Ghost(Pro) so I'm running the latest stable release.

[2015-12-30 13:06] brightbits commented on #6274
thanks for the info @nuclearpengy nice to know its not just me :)

[2015-12-30 15:37] toblerone1963 opened #6275 "#get helper and API can't filter two-words tags"
Hi,

I tried to get a list of posts with a specific tag in two words using those methods:

`{{#get "posts" filter: "tag:Getting Started"}}`

and

`$.get(ghost.url.api('posts', {filter: 'tag:Getting Started}))`

Neither works.

Cheers

[2015-12-30 15:58] kevinansfield commented on #6275
Hi @toblerone1963,

When referencing tags (or other items) using the `filter` parameter you need to use the `slug` rather than the `name` as slug is the unique reference and has a format that is API and URL compatible. For example if you have not changed the "Getting Started" tag from the default dummy data then you could use `{{#get "posts" filter="tag:getting-started"}}`.

If you need more help,

[2015-12-30 15:58] #6275 closed

[2015-12-30 16:02] toblerone1963 commented on #6275
Yeah ! It's working ! Many thanks

Cosme Buxin
06 95 39 68 85

2015-12-30 16:58 GMT+01:00 Kevin Ansfield <notifications@github.com>:

[2015-12-31 01:37] huguangju opened #6276 "buildAboutPage task fail"
Run `grunt init`, when running "buildAboutPage" task, throw a error message:
[code]

* Ghost Version: master (latest commit: 000d3a100f3e830e6b9dde993e23151748e15ac9)
* Client OS: Mac OS X 10.10.5
* Server OS: Mac OS X 10.10.5
* Node Version: 0.10.41
* Browser: Chrome 47.0.2526.106 (64-bit)
* Database: SQLite

[2015-12-31 06:57] istek commented on #6274
my ghost's admin was freezing up. i found when i try to search something ,it would be freezing up.

[2015-12-31 08:53] blfr commented on #6265
I recovered from backup, even upgraded to 0.7.4 without removing existing node_modules, and it works (sans email).

I cannot however install a fresh 0.7.4 Ghost. It starts but fails as soon as it receives the first request with

    Segmentation fault (core dumped)

and creates this log.

    0 info it worked if it ends with ok
    1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start', '--produ

[2015-12-31 18:57] uppfinnarn opened #6277 "Images with "//"-URLs don't show in the editor"
For example, the following two show up properly:

[code]

This does not:

[code]

It works fine on the actual page, just not in the editor; it shows the default placeholder, likely due to not recognizing it as a valid URL.

[2016-01-01 02:59] anderskitson opened #6279 "Installing ghost locally. Node version Error."
I am using nvm for my node version manager, I read here http://support.ghost.org/supported-node-versions/ that the 0.10.40 is the reccomended version. Installed that and set it nvm to that version `nvm install 0.10.40` & `nvm use 0.10.40`

I cloned the git repository and grunt cli installs fine `npm install -g grunt-cli`
When I try to install ghost with `npm install`
<code>

Anderss-MacBook-Pro-2:

[2016-01-01 19:00] brightbits commented on #6274
that was where I noticed the majority of freezing coming from - using the search box

[2016-01-02 22:06] mixonic commented on #5060
For those who want manual control over excerpts, the wishlist item can be found here:

* http://ideas.ghost.org/forums/285309-wishlist/suggestions/7237838-custom-excerpt-for-articles

[2016-01-03 00:58] horner commented on #5717
FYI, I found your post while burning two days on this same bug.  What finally fixed it for me was removing the call to blur in fastclick.  It has been in a pull request for over a year.  See: https://github.com/ftlabs/fastclick/pull/350

[2016-01-03 04:29] nicekiwi commented on #5695
This is still an issue in v0.7.4. Following the instructions form the README, the quick-start does not work.

[2016-01-03 06:01] JohnChance opened #6280 "ERROR: Cannot find module '.../node_modules/sqlite3/lib/binding/node-v14-linux-x64/node_sqlite3.node'"
When I restarted my VPS and tried to start Ghost with 'npm start --production', I got this error. I tried remove node_modules and reinstall them, but didn't fix it. I can only find node-v11-linux-x64 but not node-v14-linux-x64.

Any suggestion?

[2016-01-03 14:10] Faber73 opened #6281 "[BUG] Navigation order cannot set in 0.7.4"
After the last upgrade cannot change the Navigation order. When I going to Save it, will reload the old order.

[2016-01-03 14:13] kevinansfield commented on #6281
Closing as a duplicate of #6267. If you are experiencing this issue on master please comment on that issue so that we can track it in one place :smile:

[2016-01-03 14:13] #6281 closed

[2016-01-03 14:32] Faber73 commented on #6267
Applied this modification, no change, not fixed to me.

[2016-01-03 18:49] Faber73 commented on #6274
Freezing too sometimes, after searchbox use

[2016-01-03 21:13] Kikobeats commented on #5898
I have the same issue.

The point is, this is a expected behavior? and if is expected, what strategy use to resolve it?

@willthefirst are you discover something?

[2016-01-03 21:48] willthefirst commented on #5898
@Kikobeats: I worked around it by filtering for posts with a specific tag (in my case, "homepage"), where I know that I should only ever have one post with that tag. In `index.hbs`

    {{#is "home"}}
      {{#foreach posts}}
        {{#has tag="homepage"}}
          {{content}}
        {{/has}}
      {{/foreach}}

[2016-01-03 23:07] Kikobeats commented on #5898
In mi case I discover that I was using a different HTML tag for `{{post_class}}` helper in `post.hbs` and `page.hbs`, so is fixed :-)

[2016-01-04 00:26] liquid opened #6282 "Remove explicit runtime dependency on sqlite3"
I am installing Ghost in a production environment where I'm planning on using Postgresql. However when I'm running npm install, it fails due to a few things (I don't want to get into those in detail but it basically prevents me from deploying Ghost).

I understand that sqlite3 is the preferred default to get up-to-speed quickly but I'd like to see whether we could remove an explicit dependency on

[2016-01-04 09:16] Faber73 opened #6283 "[Improve] Sitemap : differentiate update frequency for posts/pages/tags/authors"
core/server/data/xml/sitemap/base-generator.js support one frequency settings for all types. For a good optimization need to set hours for last 24h posts, daily for oldest posts, daily for tags, weekly for all another.

thank you

[2016-01-04 10:00] kevinansfield commented on #6274
Hey guys, this definitely sounds like it's an issue for some people so would you mind providing a bit more info about your setups and what the exact symptoms you experience are? We have a [template](https://github.com/TryGhost/Ghost/issues/new?title=Bug%3A&body=%23%23%23%20Issue%20Summary%0A%0A%23%23%23%20Steps%20to%20Reproduce%0A%0A1.%20This%20is%20the%20first%20step%0A%0AThis%20is%20a%20bug%20be

[2016-01-04 10:03] ErisDS commented on #6259
@alexbagirov Can you test this out in an incognito window without any extensions enabled? I've checked this out on a Win 7 machine with the exact same Chrome version, and cannot reproduce. It may be a Windows 10 specific thing but it would be good to rule out other causes first.

Can anyone with Win 10 reproduce this?

[2016-01-04 10:10] ErisDS commented on #6276
Hi @huguangju is this consistently reproducible? I am unable to reproduce.

The error message means there was no response from the GitHub API, so it was probably a temporary issue or perhaps a permanent issue with your particular network. You can copy the `core/client/app/templates/-contributors.hbs` from the 0.7.4 zip file in order to bypass the issue.

Going to close this for now as a network is

[2016-01-04 10:10] #6276 closed

[2016-01-04 10:12] Faber73 commented on #6274
Kevin, it's looking like the search engine start to search from the first char, and if your blog is full of posts, going to freeze for a X time.

Maybe start to search after thirt char can be a good solution.

[2016-01-04 10:21] ErisDS commented on #5898
With the new `{{#get}}` helper, you can do:

[code]

The `{{#foreach}}` helper only loops through the data that is available, so once the post gets old enough to not be shown on page 1, you'll no longer see the post if you use `{{#foreach}}` + `{{#has}}`.

The `{{#get}}` helper does a query to fetch the exact data you want, and then you can loop over it using the `{{#foreach}}` helper.

In the exa

[2016-01-04 10:22] brightbits commented on #6274
I think we have about 137 posts

[2016-01-04 10:30] Faber73 commented on #6274
Me over 400 at this moment. But search a single char it's always a bad job.

[2016-01-04 10:33] ErisDS commented on #6282
Hi @liquid, sorry to hear you're having trouble. I've read your post on the [sqlite3](https://github.com/mapbox/node-sqlite3/issues/584) repo & seen some comments in slack as well.

The reason the sqlite3 dependency is not optional (where the mysql & postgres deps are) is that sqlite3 is the no-config-required default. For the majority of installs, the user installs Ghost, gets an sqlite3 binary c

[2016-01-04 10:35] ErisDS commented on #6283
Hi @Faber73 can you provide some explanation of why your suggestion makes sense? What is this based on? Do you have reference material?

[2016-01-04 10:37] ErisDS commented on #6280
Hi @JohnChance, sorry to hear you're having trouble. As mentioned in the readme & contrib guide, if you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the GitHub bug tracker.

[2016-01-04 10:37] #6280 closed

[2016-01-04 10:38] ErisDS commented on #6279
Hi @anderskitson, sorry to hear you're having trouble. As mentioned in the readme & contrib guide, if you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the GitHub bug tracker.

[2016-01-04 10:38] #6279 closed

[2016-01-04 10:40] ErisDS commented on #5695
@nicekiwi, if you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel (with plenty of details about the problem you're running into). There you can get help & support from the Ghost community.

[2016-01-04 10:58] ErisDS commented on #5695
@nicekiwi saying "I have the same problem" as a bug fixed 6 months ago with no details gives us nothing to go on, and you're pinging everyone on this ticket. Come into slack and tell us what's wrong and we'll help.

[2016-01-04 10:59] ErisDS commented on #6277
Hi @uppfinnarn, this is a known issue. Closing in favour of #5625.

[2016-01-04 10:59] #6277 closed

[2016-01-04 11:05] Faber73 opened #6284 "[Suggest] Admin - Filter Content Section Pages/Posts"
In Admin Section, separate posts from pages. When your blog coming to be big, not simple to find old static pages for upgrade.

[2016-01-04 11:26] Faber73 commented on #6283
I don't have documentation about it except many experience in journal and news website, where need to have a fast search engines index.

When you set last 24h to update hours you will have spiders that come to check update often. If you set all items weekly, you must to send your sitemap manually every time.

If you check the most wordpress sitemap plugins, you will look that they optimize the sit

[2016-01-04 11:54] liquid commented on #6282
Dear Hannah,

Thank you for the response. I appreciate the thorough explanation. Would you be able to elaborate on this part please?

Am I right in thinking that this would only add another `npm install sqlite3` command to the install process or there's a much more complicated issue that isn't immediately obvious to me?

Cheers,

-- Attila

[2016-01-04 12:32] kevinansfield commented on #6267
@Faber73 I've double checked and the issue is definitely fixed on master. How did you apply the change?

[2016-01-04 12:34] kevinansfield commented on #6274
I've located the main culprit and implemented a fix in #6285 - it would be great if any of you are able to test against that PR using a copy of your production data.

[2016-01-04 12:41] Faber73 commented on #6274
Tested right now. Working great. No freeze anymore ;-)

Thank you !

[2016-01-04 12:41] ErisDS commented on #6282
This is exactly the problem. An extra step in the install process is a huge change, not to be taken lightly. Not only does it add a step, it's a step that you have to know about - running just `npm install` is common knowledge for node, this step would have to be documented. Additionally, every existing install guide would be incorrect, causing frustration and lots of people needing support.

[2016-01-04 12:56] ErisDS commented on #6284
Hi @Faber73, to request a feature for Ghost you can add your idea (or vote on a similar one like [this one](http://ideas.ghost.org/forums/285309-wishlist/suggestions/7205951-static-pages-get-mixed-into-blog-posts-in-admin-me)) over on our [wishlist](http://ideas.ghost.org). We use this list to help determine what goes into the roadmap and how to prioritise features. There is also already a 'filter

[2016-01-04 12:56] #6284 closed

[2016-01-04 12:58] kevinansfield commented on #6274
@Faber73 would you mind detailing the process you've used to test that PR branch and exactly what issue you are seeing and which interactions cause it whilst you test?

I'm currently testing against a blog with 273 posts and 49 tags and have been unable to reproduce the freezing behaviour with the mentioned fix in place but it's possible I'm still not testing against enough data or we're looking a

[2016-01-04 12:59] ErisDS commented on #6271
Hi @Nolski, sorry to hear you're having trouble. As mentioned in the readme & contrib guide, if you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the GitHub bug tracker. In the meantime, I recommend upgrading your blog to

[2016-01-04 12:59] #6271 closed

[2016-01-04 13:20] Faber73 commented on #6274
I've add your modification manually and lunch the grunt after it, restart cache services (I used nginx with varnish), close browser, open back, clean all data, open only the ghost admin interface, going on "Content" try to do a search, working fine. Try again with another search and working great (before start to freeze from the second search). Change page, going on General, come back to Content c

[2016-01-04 13:31] kevinansfield commented on #6274
Which grunt task are you running? From the description of the problem you are seeing it sounds as though the change isn't being picked up.

[2016-01-04 13:34] Faber73 commented on #6274
I working on my ghost code sometimes, I use it in development enviroment.

`
grunt --development
Running "shell:ember:dev" (shell) task
DEPRECATION: Node v0.10.41 is no longer supported by Ember CLI. Please update to a more recent version of Node
undefined
version: 1.13.13
BuildingBuilding.Building..Building...BuildingBuilt project successfully. Stored in "dist/".

Done, without errors.
`

[2016-01-04 13:38] ErisDS commented on #6257
@acburdine did you get anywhere with this? You said you had an idea what it was but didn't elaborate :wink:.

@kevinansfield I reproduced this a couple of times, and then couldn't anymore. Is there anything we can do to try to sure up the code without reproduction?

[2016-01-04 13:38] kevinansfield commented on #6274
To run Ghost in development the command is `grunt dev` which will build and launch the server in development mode. The `--development` flag will be ignored as it's not tied to anything, instead the `default` grunt task will be run which just builds the development JS files.

It sounds as though you may be building the dev files but using the production files when going through nginx. How are you b

[2016-01-04 13:42] Faber73 commented on #6274
Oh mhhh maybe you right. I start ghost with a init.d script and I see now that have a "production" enviroment set into it.

Let me to set it right and test again.

[2016-01-04 13:45] Faber73 commented on #6274
Yeah ! My fault. Working great, sorry

[2016-01-04 13:45] Faber73 commented on #6267
Like the other, my fault. Sorry.

[2016-01-04 13:50] kevinansfield commented on #6257
Not really, I've been through the relevant code paths and haven't been able to spot anything that may be causing it. Even a sometimes-reproducible case would be very useful, I've not managed to observe the behaviour at all locally so haven't been able to inspect the various object/component states yet.

[2016-01-04 13:52] kevinansfield commented on #6274
No problem, glad the fix is working for you now :smile:

[2016-01-04 13:54] ErisDS commented on #6283
I do understand, however we don't generally make changes to things like this without proper research & reference material to use to base the changes upon, I'm sure there's room for improvement. If you have time to put something together, that'd be great, but otherwise I recommend putting it on the wishlist as something someone else could investigate improving.

Gonna close this for now, will reope

[2016-01-04 13:54] #6283 closed

[2016-01-04 14:20] Faber73 commented on #6284
I don't have this menu in my ghost !

Interesting place this whishlist :+1:

[2016-01-04 14:23] Faber73 commented on #6283
Yes, I understand. But in anycase have the opportunity to change the freq for type it's a right think :-)

[2016-01-04 14:45] brightbits commented on #6274
This did not fix my issue unfortunately. Even without touching the search box, I can cause it to freeze, by just playing around, no specific action I can see that is starting it. Jumping around articles in the editor is doing it too.

[2016-01-04 14:48] ErisDS commented on #6274
@brightbits could you use something like [licecap](http://www.cockos.com/licecap/) to make a quick screencast showing what you're seeing? Sounds like it may be a second, separate issue and any help you can provide in tracking it down would be awesome :+1:

[2016-01-04 15:03] kevinansfield commented on #6274
I've found a reproducible case when you have a lot of posts loaded in the infinite scroll list. With ~270 posts loaded, navigating between posts in the content list causes a noticeable freeze - I'm looking into what's causing that.

If the content list has a lot of loaded articles going back to the content screen from another screen also causes a momentary freeze. I think this is a rendering issue

[2016-01-04 15:13] brightbits commented on #6274
@ErisDS I just spent a while trying to keep causing it some more, click around randomly and stuff.. it does seem to happen either directly after touching auto complete, or at some point after while clicking on other things.. I'm starting to become confident its all related to it.

[2016-01-04 15:53] ErisDS commented on #6137
This is possibly a CloudFlare or nginx file size configuration issue. Closing for now, will reopen if a non-config reproduction case is found.

[2016-01-04 15:53] #6137 closed

[2016-01-04 16:09] AlexKVal commented on #6259
`Windows 10 Pro`
`ghost@0.7.4`
`Chrome 47.0.2526.106 m`
`Ctrl`+`S` works fine. As it should. It saves posts.
:sparkle:

[2016-01-04 16:56] howsonwhocodes opened #6287 "Export fails to reimport when a database view is present"
Hi,

I have discovered a issue where if you have created a database view (I made one to write my meta data in bulk). When you export your ghost blog, the view is included in the json export. This then fails to reimport into either a sqllite3 or MySQL database. The error is "Cannot read property 'uuid' of undefined"

Steps to reproduce:

1) Create a view in your MySQL database (here is the one I us

[2016-01-04 17:07] ErisDS commented on #6287
Can you please provide an example JSON file showing the structure that gets created? You can strip out the sensitive info, thanks :+1:

[2016-01-04 18:07] Faber73 commented on #6283
Dirty, but better of nothing :-)

[code]

[2016-01-04 18:13] howsonwhocodes commented on #6287
Hi Hannah,

Here you go, with a test database:
[code]
Thanks,

Tom.

[2016-01-04 18:26] nuclearpengy commented on #6274
@kevinansfield that sounds exactly like what was happening to me. I was reviewing some older posts. My workflow was basically, scroll right down to the bottom(oldest) of the list, open post, implement change, save, go back to content screen, scroll down to second oldest post and repeat the cycle.

[2016-01-04 22:25] howsonwhocodes commented on #6270
@hwdsl2 - a work around is to set the blog url to https://www.example.com in config.js - if you use nginx and get stuck in a loop add proxy_set_header X-Forwarded-Proto $scheme; to your location configuration.

[2016-01-05 00:22] hwdsl2 commented on #6270
@howsonwhocodes Thanks for the workaround.

[2016-01-05 05:20] jtwebman commented on #6270
@ErisDS The other way to go instead of forcing would be to always use relative paths for links to pages. It looks like most pages do just not the <head> tags and links as well as the <header> logo link and the rss feed link in the footer. I'll take a look and see if I can't fix this.

[2016-01-05 07:42] jtwebman commented on #6270
@ErisDS Actually it looks like there is already a way to fix this. In you config file you need to set:
[code]
This was the line that told me this: [core->cerver->config->url.js Line 21](https://github.com/TryGhost/Ghost/blob/master/core/server/config/url.js#L21)

[2016-01-05 08:35] ErisDS commented on #6266
Hi @acburdine everything you've said made sense, I think it's worth rewriting the code in the [config service](https://github.com/TryGhost/Ghost/blob/3d6856614f019f8fc66248751a15d48f8c1a0b73/core/client/app/services/config.js#L9-L9) to have an explicit type set for each key.

[2016-01-05 08:50] ErisDS commented on #6287
@howsonwhocodes Thanks for that, should be pretty easy to get fixed up for the next version.

[2016-01-05 08:51] JohnONolan commented on #4957
Will come back to this at some point

[2016-01-05 08:51] #4957 closed

[2016-01-05 08:53] JohnONolan commented on #5635
Can revisit later

[2016-01-05 08:53] #5635 closed

[2016-01-05 08:55] #6282 closed

[2016-01-05 09:07] ErisDS commented on #6270
`urlSSL` is used when you want to have a different URL for your SSL requests, e.g. secure.hannah.wf, it's pretty much only used for Heroku I think, which requires a different domain for secure requests.

If you set `url` to be http, then we treat this as the 'default'. Both http & https will work, but canonical urls are generated using http. In the case of the rel next/previous links, these are no

[2016-01-05 09:29] ErisDS commented on #6265
Hi @blfr, I saw you pop up in slack, and then here - I replied to you in slack and didn't hear back from you. We keep GitHub just for bugs/issues with the software and this is very likely an issue with your environment.

I'm not able to do anything beyond googling for the error codes that you've pasted here, as ARM is a bit off the beaten path, you'd need to debug where the segmentation violation

[2016-01-05 09:29] #6265 closed

[2016-01-05 09:39] jtwebman commented on #6270
@ErisDS  From what I found everything goes through the config.urlFor call which eventually calls getBaseUrl function. I can make it work the way you described. So if urlSSL is not set then I will take off the http and add https if the user came in secure.

As a side note Ghost does do a bunch of manual url manipulation what is the process of adding new dependencies? [urijs](https://www.npmjs.com/p

[2016-01-05 09:57] howsonwhocodes commented on #6270
@jtwebman your method seems to work best for me and delivers the ability to server over http which is the best of both. Longer term there is a bug fix to be made but its a great work around

[2016-01-05 10:30] guillaumew opened #6288 "Blog post completely lost after editing it"
- In a first tab create a new article.
- In a second tab view the list of articles (admin view).
- Write and publish the article on the first tab.
- Edit the article of the second tab (you don't even have to save or anything)

The whole article has been erased with no mean to restore it.

[2016-01-05 10:38] ErisDS commented on #6288
Hi @guillaumew, firstly, I realise this is a very, very frustrating issue.

I am not sure I 100% follow the steps you're describing. If you are on the content view which shows the list of posts, and open a post, it should open with the latest content that was saved on the server. There was an old bug where this didn't happen but this was fixed several versions ago. What version of Ghost are you on

[2016-01-05 10:45] guillaumew commented on #6288
We're using Ghost v0.6.4.
I see we're not up to date. We'll update.

Thanks for your quick answer.

[2016-01-05 10:45] #6288 closed

[2016-01-05 11:33] ErisDS commented on #6270
When it comes to adding dependencies, the process starts by making a case for adding one, either in the issue or as part of the PR write-up.

The main two things to consider are, what benefit does it provide and why the particular dependency you suggest and not another one?
For quality, we look at whether there are alternatives, checking that the dep is MIT licensed and then looking for regular co

[2016-01-05 12:08] ErisDS opened #6289 "{{ghost_head}} throwing errors when used in errors.hbs"
The errors.hbs template which can be provided with a Ghost theme is used to render both 404 and 500 errors. As this file can be used to render server-side error information, it *should* not extend a layout file using all the fancy helpers from the default.hbs template because if the error affects any of those systems, the error page won't be able to render. For this reason, the error template [pro

[2016-01-05 12:10] ErisDS commented on #6233
@brightbits the issue you described was definitely different as we know from #6274 :+1:

@marcelklehr did you manage to reproduce the error on 0.7.4 without any addons enabled?

[2016-01-05 12:13] ErisDS commented on #6211
@uppfinnarn I'm going to close this based on your last comment. There are things which can affect the RAM usage inside of Ghost as I mentioned, but it seems you found a way to get your blog running in a sensible amount of RAM.

[2016-01-05 12:13] #6211 closed

[2016-01-05 12:22] ErisDS commented on #6258
@alexellis The formatting of the results in that last reply is a bit confusing. It would be great if you could take a look and clarify it a little so it's possible to tell for sure what the results are saying.

From what you've said, it sounds like the results showed a performance decrease between node v0.12 and node v4.2, but it's not 100% clear to me. If the performance issue is happening when y

[2016-01-05 12:30] ErisDS commented on #6257
@vislamov are you able to reproduce this on Ghost 0.7.4? I did originally but am no longer able to reproduce at all.

[2016-01-05 12:37] ErisDS commented on #6257
I've tried a couple of quirky things to try to reproduce this including searching from the labs page after loading that page directly, and searching from the tag page after loading that page directly.

I'm testing using a copy of the data from the Ghost blog. I've added a new tag 'kerouac' to the first post (ghost 0.3 - kerouac). This means I have a single tag which pulls up a tag and a post which

[2016-01-05 12:40] ErisDS commented on #6141
I'm going to close this as it's actually an issue with Ghost-Config and I think it's already tracked by TryGhost/Ghost-Config#22

[2016-01-05 12:40] #6141 closed

[2016-01-05 12:43] ErisDS commented on #5829
@kevinansfield is this something we can or have fixed by way of upgrading ember simple auth?

[2016-01-05 12:45] kevinansfield commented on #5829
We haven't fixed it yet but it should be possible by switching to the `AdaptiveStore`, I'll put a PR together

[2016-01-05 12:46] alexellis commented on #6258
@ErisDS This is the standard output from ApacheBench which shows a good estimate of performance in the **Requests per second** column and to a lesser extent: **Transfer rate** column. Please focus on this part of the result. I have also trimmed the other input to help you read it.

As a recap on results:

Node 0.12.7  with Ghost 0.7.3 vs Ghost 0.6.x - results are equivalent, 0.7.3 may even be quic

[2016-01-05 12:57] ErisDS commented on #6258
My confusion was largely around the sectioning and the fundamental meaning of the results not being 100% clear  E.g I think this is meant to say "Ghost 0.7.3 on Node 4.2.3?":

---

When it comes to trying to debug the performance drop, there are a couple of relatively straight forward tests I would recommend:

- Try Ghost 0.7.4 (latest) on Node 4.2 with both sqlite3 and mysql. This could help to i

[2016-01-05 12:57] halfdan commented on #6258
@alexellis I think the confusing part was that you wrote `0.12 with Ghost 4.2.3` and then that you are changing the two variables you are testing - the Ghost version and the node version. Where are you running Apache Bench from (on the RPi or a separate computer?). It is also confusing that the response length changes from 8100 bytes to almost half - 4334 bytes.

To get somewhere with this discuss

[2016-01-05 13:08] ErisDS opened #6290 "Tag & Author RSS feeds still available in private mode"
When a blog is in private mode, all of the RSS feeds should be disabled.

At present, the main `/rss/` route is disabled, and is correctly showing a 404.
However the tag and author RSS feeds are both still working.

E.g. if you have a tag 'getting-started' and navigate to `/tag/getting-started/rss/` this is expected to 404 but is currently displaying the RSS feed.

[2016-01-05 13:25] halfdan commented on #6290
Dibbedidibs

[2016-01-05 13:48] alexellis commented on #6258
https://news.ycombinator.com/item?id=9309459

I'll update 0.12 to say Node 0.12.

The tiny express app is also worth doing.

Alex

On Tue, Jan 5, 2016 at 12:58 PM, Fabian Becker <notifications@github.com>
wrote:

--
Regards,

Alex Ellis

[2016-01-05 14:26] ErisDS commented on #6290
Assigned but fair warning - I want this in the next release ;)

[2016-01-05 14:26] vislamov commented on #6257
@ErisDS yes, I was able to this morning:

![image](https://cloud.githubusercontent.com/assets/5131554/12117311/dda43c0a-b374-11e5-8919-f005dfdedbac.png)

Opened /ghost and searched for "android", clicked on post and got this:

![image](https://cloud.githubusercontent.com/assets/5131554/12117333/037c3d7e-b375-11e5-9eac-0101b3e20f68.png)

Opened new tab did the same thing and got this:

![image](htt

[2016-01-05 14:30] vislamov commented on #6257
Also when I'm trying to leave the page with **missing tags** Ghost thinks that it has been edited:

![image](https://cloud.githubusercontent.com/assets/5131554/12117445/aeec90aa-b375-11e5-9494-4e5186067283.png)

[2016-01-05 14:36] kevinansfield commented on #6257
@vislamov thanks, that last bit of detail points to there being an issue with the tags input component rather than something lower level. Possibly a race condition somewhere, still difficult to diagnose without being able to replicate locally but at least we're narrowing the potential candidates! :+1:

[2016-01-05 14:44] vislamov commented on #6257
Also if it helps, the "Stay/Leave" popup appears only when I'm clicking on links like "New Post" or "Content". If I continue search and select different search result, it let's me to switch to it, In this case I don't see the popup.

[2016-01-05 14:55] vislamov commented on #6257
I can reproduce now on my local box, what can I look into to give you more info?

[2016-01-05 15:11] acburdine commented on #6266
@ErisDS thinking about this too -> would it be perhaps cleaner to specify in the server helper that generates the config meta tags something akin to a type (e.g. say `<meta name='env-blogTitle' content='...' data-type='string'>`

[2016-01-05 15:15] PunKeel commented on #6258
:+1: :-/

[2016-01-05 15:20] ErisDS commented on #6257
@vislamov are the posts which it happens to in the top 15 - the ones that are shown without scrolling when you're on the content page?

[2016-01-05 16:49] ErisDS opened #6292 "Tag sitemap.xml doesn't include images"
I think this is actually a throwback to the fact that the sitemap was added before tags had the ability to have images added to them.

They now do (and have done for some time) so the sitemap code needs updating to include the image for tags.

I think there is also an opportunity here to simplify the `createUrlNodeFromDatum` method which exists in the base generator plus the post, page and user ge

[2016-01-05 16:49] ErisDS commented on #6292
cc @jgable this might be an excellent opportunity to get your name back on the contrib list if you fancy it :wink:

[2016-01-05 17:01] ErisDS commented on #6266
Also sounds like a good solution :)

[2016-01-05 17:13] jgable commented on #6292
I am amazed how much of my code you guys still tolerate in the code base. I
should make it a new year's resolution to start committing again. Actually,
I should sit down and ask myself why I stopped, but that's another story
entirely.

I'd actually love to take this small thing on if nobody else snatches it up.

On Tue, Jan 5, 2016 at 8:49 AM Hannah Wolfe <notifications@github.com>
wrote:

[2016-01-05 17:17] ErisDS commented on #6292
Oh we could _tolerate_ a lot, lot more :wink: :grin: :doughnut:

[2016-01-05 17:18] halfdan commented on #6290
@ErisDS You'll have a PR tomorrow :)

[2016-01-05 18:01] novaugust commented on #6290
@halfdan I want this *yesterday* :straight_ruler:

[2016-01-05 18:09] vislamov commented on #6257
@ErisDS yes I can reproduce for the post that shown in the top 15.

To reproduce I have to find posts that can trigger this behavior. In my case on my local box I found two posts: "Java Enterprise" and "Vanilla JavaScript", both shown in top 15. I search for "java" and first click on "Java Enterprise" post. Then I search for "java" again and click on "Vanilla JavaScript" which is missing tags and

[2016-01-05 18:10] jtwebman commented on #6270
I am close but I need to write a few tests as well as find how the navigation is getting urls as it doesn't seem to be switching to https. @ErisDS would it be ok to change navigation bar to use relative urls?

Here is my branch so far: https://github.com/jtwebman/Ghost/tree/bug_mixed_content_firefox

[2016-01-05 18:12] vislamov commented on #6257
Tags for "Java Enterprise" post:

![image](https://cloud.githubusercontent.com/assets/5131554/12123220/866e216a-b394-11e5-85a9-d20badfd7717.png)

Tags for "Vanilla JavaScript" post:

![image](https://cloud.githubusercontent.com/assets/5131554/12123251/bcec60b2-b394-11e5-9f70-ff6eed15ce44.png)

When tags missing for "Vanilla JavaScript" post I see only one tag:

![image](https://cloud.githubusercon

[2016-01-05 18:14] ErisDS commented on #6270
Not sure what you mean here?

[2016-01-05 18:24] ErisDS commented on #6257
Ooooy! I can now reliably reproduce it as well.

I have a tag 'node' I have 2 posts with titles which also match for the search 'node'.
It always happens on the second search, when I search from the editor, when I'm already on a post which matched for the search.

[2016-01-05 18:27] jtwebman commented on #6270
@ErisDS If a theme uses the navigation helper for handlebars to create a navigation bar like the default one created in the casper navigation bar:

[code]

The url values are absolute links. We should look to see if they are site urls and one ether switch them to https if they come in on ssl or remove the http://localhost:2368 and make the relative links like / and /rss/.

I am not sure this would

[2016-01-05 18:29] vislamov commented on #6257
Yes!

[2016-01-05 18:30] ErisDS commented on #6257
Proper repro steps:

I have a tag `node`
I have a post called `Node.js` with the tags `node`, `quick-guide`, `platform` `sdk` (as per the example)
I have a second post called `Magnodetude` with the tags `nodetude`, `Another tag` and `quick-guide`

Note, only Node.js has the node tag, but both have the tag `quick-guide`.
Both posts are published (if they aren't published, the tags disappear forever

[2016-01-05 18:32] halfdan commented on #6290
@novaugust This isn't Star Trek. OTOH if I get up early enough I might be able to submit it early in the morning which will be yesterday for you. I win.

[2016-01-05 18:36] ErisDS commented on #6270
Those urls are all stored as relative paths in the database. They are output as absolute urls because that's what is defined in the [default template](https://github.com/TryGhost/Ghost/blob/6d42df029a2ca67b6fc390ea08625e5135fa100d/core/server/helpers/tpl/navigation.hbs).

The `{{url}}` helper, with absolute set to true, calls `config.urlFor` [here](https://github.com/TryGhost/Ghost/blob/6f457768a2

[2016-01-05 19:26] jtwebman commented on #6270
@ErisDS Actually I think the way Ghost is doing the navigation helper that the url is switched from the helper to just a property just like the {{label}}. [here](https://github.com/TryGhost/Ghost/blob/master/core/server/helpers/navigation.js#L52)

When I did a console.log on the url helper those navigation urls never go through it. Also my branch fixed the url helper as it is calling the config.ur

[2016-01-05 21:29] lordmetroid commented on #5821
Jan 05 22:25:30 gorilla npm[16766]: ERROR: Unsupported version of Node
Jan 05 22:25:30 gorilla npm[16766]: Ghost needs Node version ~5.0 you are using version 5.3.0

[2016-01-05 21:33] lordmetroid opened #6295 "Support of newer versions of Node.js 5"
Using ghost-0.7.1-3 on an updated Archlinux as of Jan 2016-01-05:

Jan 05 22:25:30 gorilla npm[16766]: ERROR: Unsupported version of Node
Jan 05 22:25:30 gorilla npm[16766]: Ghost needs Node version ~5.0 you are using version 5.3.0

[2016-01-05 21:33] jgillich commented on #5821
@lordmetroid `GHOST_NODE_VERSION_CHECK=false`

[2016-01-06 02:13] Ferrari commented on #6295
I guess Ghost will focus on LTS only!?
https://github.com/TryGhost/Ghost/issues/5821#issuecomment-149870041

[2016-01-06 06:34] jtwebman commented on #6270
@ErisDS You were correct in it was still calling the helper it was just passing the nav data and missing the secure. I updated the navigation helper to include the context.secure from the page. Thanks for the help! The PR above fixes all link issues besides if the theme uses {{@blog.url}} as that is directly tied to the config.url.

[2016-01-06 07:53] jtwebman commented on #6186
@ErisDS I can start on this one.

[2016-01-06 10:03] ErisDS commented on #6186
Cool :+1:

It's one of the major blockers for [channels](https://github.com/TryGhost/Ghost/wiki/Channels-101), I have a branch lying around that I work on every time I have 5mins which has dynamic channels working with the exception that the contexts & meta data are all still hard coded. Getting this done would be a boon.

[2016-01-06 10:07] ErisDS commented on #6295
This is a duplicate of #6169 and more. Please read the full error message it links you to a document http://support.ghost.org/supported-node-versions/. Searching GitHub or Googling would also have found this.

[2016-01-06 10:07] #6295 closed

[2016-01-06 15:33] kevinansfield commented on #4989
I may be mistaken but I think all of the issues mentioned in this discussion have now been resolved and have tests to avoid regressions. Are we ok to close this in favour of new issues for any specific bugs that pop up?

[2016-01-07 07:58] kildareflare commented on #5107
I had a similar issue with shell:ember:dev failing as it could not locate path for ember.
I resolved by doing an npm cache clean, then running grunt init on master (not stable) then switching to stable to run grunt prod.

[2016-01-07 11:13] ErisDS opened #6301 "Database schema & fixtures migration v005"
Several of the new features we want to add require us to make changes to the schema & fixtures, so we're going to need to setup a new data migration.

Doing this for Ghost is not as easy as we'd like, but then again, we don't do it very often atm, so optimising this process isn't high priority. Still, for this migration, we need to make some changes and improvements to the system as well as the mi

[2016-01-07 11:14] ErisDS commented on #6301
If anyone is interested in taking a look at one of those last three code changes which don't have a separate issue and would like some clarification, let me know and I can write up some more details rather than notes that probably only make sense to me :wink:

[2016-01-07 11:20] kevinansfield commented on #6301
Would naming this `is_private` be better to avoid any conflicts with reserved keywords? If it's just `private` then anyone working with the API with certain programming languages may need to work around it.

[2016-01-07 11:28] ErisDS commented on #6301
@kevinansfield Good point well made, this is why we didn't call hashtags 'private' too...

[2016-01-07 11:54] alexbagirov commented on #6259
@ErisDS I've just checked it. Works fine in incognito :disappointed:

[2016-01-07 12:43] ErisDS commented on #6259
@alexbagirov Thanks for getting back to us. I recommend going through your extensions disabling one-by-one to identify which one it is as it would be great to know.

[2016-01-07 13:44] halfdan commented on #6290
@ErisDS Well, this turns out to be much more fun than I thought. In addition to author / tag rss feed still being available, current implementation prevents viewing any post that starts with rss or sitemap (which are protected keywords - but `/sitemap-xml-is-great` is not).

[2016-01-07 13:54] vegasbrianc opened #6303 "Unable to reorder new menus"
## Issue Summary
After a new menu is created under the navigation screen, users are unable to reorder this new menu above menus that already exist.

## Steps to reproduce
1. Create 3 menus and save your changes
2. Create 1 additional menu
3. Try to move this menu above the initial 3 menus

## Expected result
A user should be able to reorder new or existing menus into any order

## Technical Detail

[2016-01-07 13:56] ErisDS commented on #6290
Nice find :cookie: :)

[2016-01-07 14:25] halfdan commented on #6303
Hi @vegasbrianc,
thanks for your report! Unfortunately this is a duplicate of #6281 and ##6267. This is fixed on current master and will be in the next released (currently scheduled for next week).

[2016-01-07 14:50] vegasbrianc commented on #6303
Doh. i thought I searched through everything but I guess not well enough. Thanks for the clarification.

[2016-01-07 14:50] #6303 closed

[2016-01-07 16:02] darrenhaken opened #6305 "Use config file when using Ghost as npm module"
Can anyone tell me how I provide a config.js to Ghost when using it as an NPM module?

I've tried creating a config.js in the root of the project but it doesn't seem to be taking it.

[2016-01-07 16:03] ErisDS commented on #6305
I've seen you posting in slack, please be patient.

[2016-01-07 16:03] #6305 closed

[2016-01-07 20:51] philipithomas opened #6306 "Allow access of private blog RSS with password"
**Motivating Problem**: We have a private blog for our company that is password-protected. I'd like to have new posts go to our slack channel using Zapier.

**Current behavior**: `blog.com/rss` 404s on a private blog

**Proposed behavior**: `blog.com/rss` 404s; `blog.com/rss?password=abc123` succeeds.

There are some obvious security issues, including that the plaintext password would show up in H

[2016-01-07 21:31] ErisDS commented on #4989
Yep cool 👍

[2016-01-07 21:31] #4989 closed

[2016-01-07 21:34] nuclearpengy commented on #6306
I don't think this approach is ideal.

Consider this: Parsing a user's password into a URL will show in their history and can be subject to a whole bunch of other issues if they're on a work computer that logs browser history or on a shared computer such as an internet cafe.

I feel secure blogs should be secure, whether it's being used by a whistle blower, journalist or a family who doesn't want

[2016-01-07 22:56] philipithomas commented on #6306
@nuclearpengy That thread is interesting, but it's not at the application layer. We're using  Ghost Pro and wish to avoid setting up a server for this

[2016-01-07 23:07] nuclearpengy commented on #6306
Ah ok. Yeah, I'm on Ghost pro too. :)

[2016-01-07 23:10] nuclearpengy commented on #6306
This issue is related: #6290

[2016-01-08 10:50] halfdan commented on #6306
More realistically, I think, Zapier should at some point in the future integrate with the Ghost API (once stable) and import from there. This way Ghost admins can authorise Zapier to read posts from the API without ever giving away the password in plain text.

I disagree here. Password protected blogs should protect the user content and not leak it so easily.

[2016-01-08 11:20] ErisDS commented on #6306
I'm totally onboard with the frustration of the underlying problem here, but not with the solution. Your problem statement is:

And then your feature request is for RSS to work if you provide the password in the url.. sure it's one solution, but it's far from the best IMO! RSS isn't something that can easily be secured, HTTP basic auth has the same problems as your proposal. So let's move away fro

[2016-01-08 11:20] #6306 closed

[2016-01-08 15:11] #6272 closed

[2016-01-08 15:34] kevinansfield commented on #4556
Just had a quick look at this. I think short-term solution is to capture <kbd>Ctrl-S</kbd> in those inputs and perform the necessary actions. If we call those actions on the main `save` action then any resulting validation errors will be hidden if the PSM isn't visible when they are called which isn't a good user experience.

Long-term I think both the current PSM concept and the `scratch` values/

[2016-01-08 15:38] ErisDS commented on #4556
This sounds sane to me. I agree that the PSM is a bit of a mix-and-match for how it works and needs to be unified / overhauled to work in a consistent way.

The short term fix also sounds like a good plan, I run into this one quite often, but not sure if it's just cos I'm a cmd+s-aholic

[2016-01-08 15:49] kevinansfield commented on #5713
I've been unable to reproduce this on 0.7.4 on an iPhone 6s running iOS 9.2. Are you able to replicate the issue?

It's only the PSM that would exhibit this behaviour now that the tags screen has changed so anyone testing would need to open a long post in order to have "background" that's scrollable. When I tested I'm still able to scroll the main screen behind the PSM but only if I touch the extr

[2016-01-08 15:54] #6253 closed

[2016-01-08 17:21] #6274 closed

[2016-01-08 18:40] smscotten commented on #6125
At the risk of making a "me too" post, I'd like to speak to the larger point. While there are specific features  (tables) holding up my migration to Ghost from a Drupal blog where my posts are already in Markdown, it's really the larger scope that matters here. Markdown may be best when there isn't a universal standard, but having a featureset somewhat consistent with the authoring tools out there

[2016-01-08 21:44] pedro380085 commented on #6279
This is a really bad idea after all, a lot of knowledge gets lost in Slack.

[2016-01-08 21:47] anderskitson commented on #6279
@pedro380085 @ErisDS I agree this is a bad Idea. I feel stack-overflow or Github issues is way easier to maintain, no one even acknowledged my issue on slack. I just ended up downloading the ghost zip directly from the site https://ghost.org/download/ instead of cloning the Github repository and it is working locally now.

[2016-01-08 21:48] pedro380085 commented on #6279
My solution was to use `npm install --production`, I missed the options at first.

[2016-01-08 21:51] anderskitson commented on #6279
@pedro380085 Yes i think that is the correct solution, I didn't realize I was supposed to install production and then run in development mode my by just running `npm start` after.

[2016-01-09 13:00] #5829 closed

[2016-01-09 13:28] #6292 closed

[2016-01-09 16:32] #6257 closed

[2016-01-09 16:34] ErisDS commented on #6289
Closed by #6298

[2016-01-09 16:34] #6289 closed

[2016-01-09 16:35] ErisDS commented on #6259
Going to close this in the meantime, as it's unlikely we can fix it.

[2016-01-09 16:35] #6259 closed

[2016-01-09 16:36] ErisDS opened #6308 "Get ghost_head and ghost_foot to ignore / remove handlebars comments"
I've noticed a bunch of times that people copy snippets which include handlebars comments into the `ghost_foot` and `ghost_head` blocks in code injection.

The code injection blocks are currently treated as HTML, and simply included inline.

We could add some magic to strip out / ignore handlebars comments quite easily

Alternatively we could treat ghost_head and ghost_foot as templates and attemp

[2016-01-09 16:51] ErisDS opened #6309 "Support 'not' in many-to-many relationship (post tags)"
This is heavily related to #6158, but also different 😣

---

There is currently a limitation on using 'not' when trying to posts by specific tag slugs.

Get all posts which have a given tag works: `{{#get "posts" filter="tag:quick-guide"}}`
Get all posts which DON'T have a given tag does not work: `{{#get "posts" filter="tag:-quick-guide"}}`

This bug only occurs if the posts which have the offend

[2016-01-10 08:58] bannychen1983 opened #6310 "url can not update automatically"
when i edit post title the url should be updated but i found it not
my version is 0.6 and casper 1.25

[2016-01-10 13:38] mariusz opened #6311 "Can't log in to fresh instance"
After installing Ghost on a brand new Debian server (through Nginx proxy, as a service running as `ghost`), I'm getting following when trying to log in:

    [Error] Failed to load resource: the server responded with a status of 401 (Unauthorized) (token, line 0) http://[my blog]/ghost/api/v0.1/authentication/token

Any ideas how to fix it? I'm guessing something doesn't get passed through Nginx b

[2016-01-10 14:14] kevinansfield commented on #6310
Closing as a duplicate of #5062

[2016-01-10 14:14] #6310 closed

[2016-01-11 04:32] jtwebman commented on #6311
Can you get to it without using Nginx? Also any chance I can see you Nginx config file?

[2016-01-11 06:38] paragasu opened #6312 "Access denied from url when trying to access admin using google chrome"
Access denied from url when trying to access admin using google chrome.

### Issue summary
login via /ghost/signin using google chrome Version 47.0.2526.80 (64-bit) will give error

    Access Denied from url: blog.myblog.com. Please use the url configured in config.js.

No problem if login using firefox.

### Step to reproduce
1. Download latest stable v0.7.4 from ghost.org/download .
2. Start th

[2016-01-11 08:04] cdvillard opened #6313 "Ember not recognized, and "JavaScript files have not been built.""
I'll preface this with the fact that I'm new to Node and npm, and this is the most I've delved into using these tools. That said, I'm using Node 4.2.4 and I've followed the steps in Getting Started, but with no success in starting Ghost. Whether I run 'grunt init', 'grunt prod', 'grunt dev', or use the '--force' option with any of them, I'm always returned this specific error at this specific step

[2016-01-11 09:06] ErisDS commented on #6312
Hi @paragasu the error you're reporting should have had a lot more information underneath it, including an explanation and a link to the documentation explaining what's wrong. They should read:

`You have attempted to access your Ghost admin panel from a url that does not appear in config.js.
For information on how to fix this, please read http://support.ghost.org/config/#url.`

Do you not see tha

[2016-01-11 09:11] ErisDS commented on #6313
Hi @cdvillard, I'm pretty sure I've seen you on slack already, which is the place to get help & support with your env :+1:  I saw you posted about having install trouble, so I recommend posting the full steps & output from your install process in a gist there, as it's likely the install failed and is why ember isn't installed properly for you.

[2016-01-11 09:11] #6313 closed

[2016-01-11 09:20] ErisDS commented on #6311
Hi, @mariusz :)

Our recommended nginx config is here: http://support.ghost.org/basic-nginx-config/. There's not much that can be done to help without seeing a lot of config and as mentioned in the readme & contrib guide, if you have questions about Ghost or need help, we ask that you use slack - https://ghost.org/slack/ - and post in the #help channel.

I recommend posting your nginx config file

[2016-01-11 09:20] #6311 closed

[2016-01-11 09:20] #6312 closed

[2016-01-11 09:35] halfdan commented on #6301
@ErisDS I'd be interested to know more about those last 3 items (first two sound most appealing)

[2016-01-11 10:35] ErisDS opened #6315 "'Are you sure you want to leave this page' message appearing unneccessarily"
There is an easy to reproduce case in which the 'Are you sure you want to leave this page?' message which indicates you have unsaved changes is appearing and should not be.

### Steps to Reproduce

1. Go to the Ghost admin
2. Hit 'New Post'
3. Do nothing, except open the post settings menu
4. Hit 'Content'
5. Get the message

No typing has occurred and no settings have been manually changed, so as

[2016-01-11 10:47] kevinansfield commented on #6315
Interesting. To extend on the reproduction steps a little, the first time you go through the above steps you won't see the modal but on subsequent tries you will see it.

[2016-01-11 14:04] #6290 closed

[2016-01-11 17:51] ErisDS opened #6318 "Minor usability improvements for editor screen"
At the bottom of the editor screen in the Ghost admin panel, there are 2 sections with the titles `Markdown` and `Preview`:

![](http://puu.sh/mrPde.png)

These are effectively the names of the sections above - the left pane is where you type markdown, and the right pane is a preview of how the markdown will look.

Recently, we carried out some user testing and found new users clicked on those tit

[2016-01-11 17:56] kevinansfield commented on #6318
One thing to be aware of here is that at mobile screen sizes that text is clickable and used to toggle screens so we may want to look at adding a different way to provide the help/open preview links in that situation:

![screen shot 2016-01-11 at 17 53 15](https://cloud.githubusercontent.com/assets/415/12241628/3646a50c-b88c-11e5-89ed-268330c5806c.png)
![screen shot 2016-01-11 at 17 54 03](https:/

[2016-01-11 17:57] ErisDS commented on #6318
I think in mobile view they should stay the same as they are now, and only have these actions if we're in full view?

Makes it much trickier to do though I guess?

[2016-01-11 18:00] kevinansfield commented on #6318
No, that should be pretty simple, the desktop and mobile elements are both separate in the HTML so behaviour can be attached to each individually. :+1: for keeping the mobile view as-is for now then.

[2016-01-11 18:01] JohnONolan commented on #6318
yup they should be the same - on mobile those labels trigger tab changes, can't add a second action to them or it'll break everything:tm:

[2016-01-11 18:01] ErisDS commented on #6318
:+1:

[2016-01-11 18:14] halfdan commented on #6308
So apart from rooting for my PR, here's my reasoning for voting to remove those comments:

- Code Injection is in the user domain while handlebars is mainly used by the theme dev.
- Code Injection was introduced to avoid requiring the average user to have to manually edit (and understand) theme files
- Advanced logic like conditionally change what is in the head (e.g. based on the availability of

[2016-01-12 02:53] paragasu commented on #6312
Hi ErisDs,

Well, at first i suspect the error related to the config file.
The weird part is **i can login normally without problem if i use Firefox browser**.
If the config file is not good, i should not be able to login in Firefox.

The issue currently **only appear on my google chrome browser**. It is tested on two computer so far (the other computer running on the latest ubuntu linux).

The er

[2016-01-12 06:53] claudiutraistaru opened #6323 "Add number of views per post"
This requires a new views(or any other name) field in database and the action to update views every time a single post page is rendered (I managed to add the view in database and on post creation as 0, but I cannot find how to update number of views when the post page is rendered).
This is useful to create a "Most popular posts" top which is a must for a blogging and publishing platform.

Thank yo

[2016-01-12 07:10] bannychen1983 opened #6324 "compared with wordpress is the ghost has better seo performance?"

[2016-01-12 07:23] JohnONolan commented on #6324
Ghost has almost all the features of Yoost's WordPress SEO plugin built in by default

[2016-01-12 07:23] #6324 closed

[2016-01-12 07:58] kashev commented on #6323
https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md

[2016-01-12 09:23] ErisDS commented on #6323
Hi @claudiutraistaru,

To request a feature for Ghost you can add your idea (or vote on a similar one [like this](http://ideas.ghost.org/forums/285309-wishlist/suggestions/7181786-post-analytics)) over on our [wishlist](http://ideas.ghost.org). We use this list to help determine what goes into the roadmap and how to prioritise features. You can also access the wishlist any time from inside the Gho

[2016-01-12 09:23] #6323 closed

[2016-01-12 09:39] #6315 closed

[2016-01-12 09:49] #6318 closed

[2016-01-12 15:23] JuanCaicedo opened #6326 "Multiple ghost instances interfere with each other's authentication (v0.7.4)"
My company runs two separate instances of ghost, served under the same domain by nginx. After upgrading to v0.7.4 from v0.6, we noticed a strange behavior where if you open both blogs, each in a separate tab but in the same browser, it's impossible to log in to both. You stay logged in for a second, but then get immediately logged out.

After taking a look, we were able to find that ghost remember

[2016-01-12 15:25] halfdan commented on #6326
Hola Juan,
thanks for the detailed bug report. I'll take a look at fixing this.

[2016-01-12 15:27] JuanCaicedo commented on #6326
Awesome, gracias @halfdan!

[2016-01-12 15:34] justinvoelker commented on #6197
Another vote to fix this one.  It's either use utf8 or stick with sqlite, neither of which I'd like to do.

[2016-01-12 15:35] halfdan commented on #6326
This is a regression, introduced in https://github.com/TryGhost/Ghost/commit/87e54c0d54696af6361b8704de1049298f2ff935#diff-647be943e1d5223ba4d913e869b2ef12L14

[2016-01-12 18:03] ErisDS opened #6328 "Sprint Epic 12th - 26th January"
## New editor demo:

Over the next 2 weeks, we want to get the demo to a point where we can use it to determine our next steps. This will mostly be @kevinansfield:

- [ ] working in labs and allowing users to edit old & new content (old content via loading in a markdown card) - **Update:** partially completed
- [x] initial implementation of a markdown card
- [x] initial UI for adding and removing

[2016-01-12 18:05] ErisDS commented on #6191
Closing this in favour of https://github.com/TryGhost/Ghost/issues/6328

[2016-01-12 18:05] #6191 closed

[2016-01-12 18:10] ErisDS commented on #6191
Also... we got 2 more bug fix releases done than we expected... not bad :cookie: :doughnut:

[2016-01-12 18:53] halfdan commented on #5440
@novaugust Actually not that simple since we can have different users logged in on the same computer/browser. Not sure how ember-state-services helps as it doesn't persist state between reloads - it simply creates a private state.

[2016-01-12 19:03] halfdan commented on #6301
@kevinansfield @ErisDS It makes me slightly uneasy seeing `page`, `featured`, `hashtag` as booleans without the `is_` prefix and then `is_private`. I understand the reasoning - but it seems very inconsistent with the existing boolean flags. I realise it's difficult finding a fitting synonym that would work here - `secret` or `concealed` come to mind, but those aren't in line with the use of "priva

[2016-01-12 19:17] ErisDS commented on #6301
@halfdan The global setting for privacy is called 'isPrivate' too, so in that sense, it is consistent.

Chances are over time we'll replace page & featured with hashtags, so those fields will disappear from the DB. I understand the concern and quest for consistency, but using a synonym is just as bad in this instance, I think?

[2016-01-12 19:34] novaugust opened #6330 "Add preview link to "Post Saved" notification for drafts"
Saving a published post adds a "View Post" link to the notification. It'd be nice to do the same for drafts, but with "View Preview"

[2016-01-12 20:04] #5617 closed

[2016-01-12 20:06] novaugust commented on #5440
I'm not sure how it helps either. That was half a year ago! Everything was different! Stop pointing fingers at me!

Yeah, it seems like the PR to this would be the slow transition into more offline stuff. I think it would be reasonable to use user-based keys for the localstorage info, kind of like how you added that localstorage based on subdir for the different-blog problem you solved just recent

[2016-01-12 20:06] novaugust commented on #5440
Who knows, somewhere down the line, this same localstorage could be used to do offline editing ;)

[2016-01-12 20:08] halfdan commented on #5440
@novaugust The issue I see here is that it leaks user information - for now just a preference, but with an offline mode this might leak unpublished post content. Anyway, I'll try to come up with a solution.

[2016-01-12 20:26] ErisDS commented on #5713
Ok, let's close this and reopen it if we get a new reproduction case :+1:

[2016-01-12 20:26] #5713 closed

[2016-01-12 20:26] novaugust commented on #5440
Ah well, just solve the "now" issue for now eh ;)

[2016-01-12 20:36] ErisDS opened #6332 "Revisit post-i18n preinstall script"
Following on from #6070 and the [discussion here](https://github.com/TryGhost/Ghost/pull/6070#issuecomment-170977126) we need to consider whether it's the correct approach to have so many dependencies installed via the preinstall script.

The existing preinstall script has already lead to some interesting install issues, and I'd like to make installing Ghost easier rather than trickier :)

Additio

[2016-01-12 21:11] #5018 closed

[2016-01-12 21:22] #6326 closed

[2016-01-13 06:13] damsonn commented on #5489
@ErisDS happy to work on the tests, if that is ok ?

[2016-01-13 07:46] ErisDS commented on #5489
Cool 👍

[2016-01-13 13:31] Ballrock opened #6336 "Markdown Editor - New line and Lists"
Hi,

It seems that I found an issue on the markdown editor for lists and new line.

Explicit exemple :
![test](https://cloud.githubusercontent.com/assets/1423640/12294714/b679ca58-b9fc-11e5-8064-fd19d120bf26.gif)

I use the 0.7.4, so i dont know if it's reproducible on 0.7.5 out today. (I will upgrade this evening)

No issue at :
* showdownjs/showdown [demo](http://showdownjs.github.io/demo/)
* sp

[2016-01-13 13:33] halfdan commented on #6332
After looking into this I agree that, if the goal is to reduce the number of initial dependencies, i18n in the startup check is a no go. The i18n module depends on `lodash` (in multiple lines), `chalk` (one call) and completely on `intl` and `intl-messageformat`. While chalk can potentially be removed we're still left with the other three dependencies. I'm going to create a PR that reverts the i18

[2016-01-13 14:00] halfdan commented on #6332
I also agree with the point @kevinkucharczyk has raised in the discussion - debugging translated errors from the command line will become difficult - especially once we support some less often encountered languages. Here I definitely see the need to have clear error codes that can be looked up in the docs.

[2016-01-13 14:27] #6330 closed

[2016-01-13 15:31] jerryling315 opened #6338 "Different result of npm start --production & service ghost restart"
Wired enough, my blog runs well when starting with `npm start --production` but yielding `502 Bad Gateway` when starting with `service ghost restart`.

What do these two commands do differently?

[2016-01-13 15:31] jerryling315 commented on #6338
What do I need to paste here in order to make the issue solvable?

[2016-01-13 15:33] halfdan commented on #6338
Hi @jerryling315,
this sounds like an environment issue and not a bug within Ghost. We use Github for tracking bugs and for development. Please join our [Slack community](http://ghost.org/slack) where we are happy to provide help.

As for formatting an issue, we have a bug template at: https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md#reporting-an-issue

[2016-01-13 15:41] jerryling315 commented on #6338
@halfdan Thank you!

[2016-01-13 16:36] jerryling315 commented on #6338
The trick is that, I upgraded node to a newer version with `n` which changed location of node (can check by `which node`) to `/usr/local/bin/node` instead of what's for DAEMON: in `/etc/init.d/ghost`

[2016-01-13 16:36] #6338 closed

[2016-01-14 04:26] alexagui opened #6339 "Upgraded from 0.6.4 to 0.7.5 but still seeing the old admin"
http://www.screencast.com/t/vkfliVi1typf

Note that my database is Postgres
Though when I run `npm start --production`

I see `Migrations: Up to date at version 004`

[2016-01-14 04:42] alexagui commented on #6339
Please sisregard it appears like my automated deployment failed to upload correctly.

Manually removing core folder and updating I was able to get the new admin.

[2016-01-14 04:42] #6339 closed

[2016-01-14 04:56] Tyriar opened #6340 "Uploading jpg image with '\' in file name say it's not a supported file type"
I tried uploading an image named "3\.jpg" via drag and drop using Chrome v46 on Debian 8/Gnome 3.14.1 and I got the unsupported image type message:

The server itself I believe is Ghost 0.7.5 on Ubuntu 14.04 (month old DitigalOcean droplet without modification).

[2016-01-14 08:40] narayand4 commented on #6206
Hi I think this issue generated by wrong html code. we can view table tag not closing properly that's why rendering carriage returns. I was facing same issue but after change html code it's working fine.

[2016-01-14 09:02] halfdan commented on #6340
Hi @Tyriar,
Thanks for your report. I am able to reproduce the issue and will look into a solution. I would however advise against using filenames with '\' in them as this character is not valid in the path segment of a URL. The solution will probably involve catching this early and providing a better error message. An alternative would be to replace invalid characters after upload.

[2016-01-14 09:04] halfdan commented on #6340
What's interesting is that while the browser correctly sends the filename "nora\.jpg" it ends up getting passed to the upload.add api as:

[code]

[2016-01-14 09:05] #6332 closed

[2016-01-14 10:04] halfdan commented on #6340
I tracked this down to be caused by busboy: https://github.com/mscdex/busboy/blob/master/lib/types/multipart.js#L160-L161 and https://github.com/mscdex/busboy/blob/master/lib/utils.js#L180-L185

The above lines treat the filename as a windows path `nor` followed by a path separator and a file with the name `.jpg`. Since busboy is only giving us the filename and not the "path" we don't have an easy

[2016-01-14 16:56] Tyriar commented on #6340
So the right fix might be for busboy to sanitize file names based on the OS so they work for all OS'?

[2016-01-14 20:26] Tyriar opened #6342 "Pasting comma-separated list of tags into web UI is very slow"
Pasting a comma separated list, for example `"a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p"` is slow (5+ seconds) and does not scale. My guess as to why is that there is no bulk entry code that splits and adds the tags and instead for each bookmark entry (or character?) the dropdown is created, displayed and then destroyed.

I would expect pasting into the tag textbox to do something like this:

[2016-01-14 20:39] Tyriar opened #6343 "Markdown editor select line above on wrapped lines doesn't work"
Not sure if it's the hyphen character or something else that's causing this issue. (Ghost v0.7.5, Chrome v46)

**Steps to reproduce**

1. Open a new post and paste something like this:

[code]

2. Ensure that the line is wrapped such that the last line is longer than the line before the the line before ends with `-`. For example:

[code]

3. Place the cursor after the `)`
4. Hold shift and press u

[2016-01-15 00:47] zachguo opened #6344 "`/page/1` made available when `home.hbs` is presented?"
Current documentation said `home is a special context which is only set on the home page`. But, what's the difference between `home` and `index`? It seems right now (v.0.7.5) that `home` behaves exactly the same as `index`, only a naming difference.

I think `/page/1` should be, instead of a redirection to `/`, made accessible(and rendered by `index.hbs`) when `home.hbs` is presented, so that the

[2016-01-15 03:44] Tyriar commented on #4484
@ErisDS Any movement on this issue? Seems pretty essential for those who want to migrate from Blogger without losing their page rank.

[2016-01-15 10:03] johnny94 opened #6345 "Bug:Parse filter incorrectly"
### Issue Summary
I was trying to use filter attribute in get helper, and found it can't generate the correct query statement.
(Note: Maybe this issue is related to GQL )
### Steps to Reproduce
The following code will generate the expected query statement:
[code]
[code]

While this one will generate the wrong query statement:
[code]
[code]
[code]

But this work as expected:
[code]
[code]
I think t

[2016-01-15 10:09] halfdan commented on #6344
Hi @zachguo, as explained by @dbalders at http://stackoverflow.com/questions/34801107/how-can-i-get-access-to-index-hbs-if-i-had-home-hbs-set-up - `home` is only used on `/` while `index` is used on `/` (if `home.hbs` doesn't exist`) and on all subsequent pages. `/page/1`. Ghost deliberately does not support a static home page.

[2016-01-15 10:10] kevinansfield commented on #6343
@Tyriar the markdown editing area is a normal textarea and so any text selection abilities are provided by the browser/operating system, ie. not something that we want to mess with as it will break user expectations and be impossible to produce a consistent experience across all possible platforms.

On OSX/Safari you'll see the same behaviour here in the github message textarea.

[2016-01-15 10:10] #6343 closed

[2016-01-15 10:16] zachguo commented on #6344
@halfdan Thx for reply. After digging into source codes, I think I'd better serve ghost in a subdirectory. However, the docs & existence of `home.hbs` confused me and made me think that `home.hbs` can be used for a static homepage..

[2016-01-15 10:17] halfdan commented on #6344
I think that's the best course of action: Serve ghost in a subdirectory - this way you can use `/` for serving a static homepage that links to your blog.

[2016-01-15 10:36] kevinansfield commented on #6342
Thanks for the report. Which browser/operating system are you using?

Attached is a screen cap of pasting the full alphabet repeated twice on OS X/Safari (apologies for the watermark, I had to grab an app quickly to show when the keys were pressed). As you can see there is very little delay on that configuration.

There is an amount of processing that is needed for each tag that is added - checkin

[2016-01-15 11:33] johnny94 commented on #6158
After digging the code base I think there are two possible ways to fix the bug.

The first is to modify the implementation of GQL. The reason is that I found much of the query is constructed in
[code]
Before executing this line of the code, the raw query is something like `select * from "posts"`, then
it will become:
`select * from "posts" where ("posts"."status" = 'published' and "posts"."page" =

[2016-01-15 13:06] ErisDS commented on #4484
@Tyriar there are ways to work around the lack of UI. Custom permalinks are possible by editing the DB / emailing Ghost(Pro) support if you're a customer. The remaining bits that aren't supported like `.html` on the end of a URL can be mitigated with 301 redirects without loss of pagerank. If you need help migrating, pop into the #help channel on [slack](https://ghost.org/slack) and we can walk yo

[2016-01-15 14:28] #6344 closed

[2016-01-15 14:35] justinvoelker commented on #6197
Seems the best way to go about this would be to leave the field lengths as-is but set the index length to something smaller (since this only appears to be an issue with the unique index on those few fields).  Surely the first 191 (or even 150) characters of the tokens and email address would be unique even if the value is longer.

The only problem is that I don't see where knex has the ability to

[2016-01-15 14:54] aholbreich opened #6346 "Add possibility of template configuration"
Say i would like to build a tamplate that can accept some parameters
-  E.g General parameters for the whole blog
like "google analytics id" or DISQUS id.

-  Additionally per post parameters that template could react to.
   e.g switch color or with.

I there any workaround for this now?

[2016-01-15 14:59] ErisDS commented on #6346
Hi @aholbriech,

To request a feature for Ghost you can add your idea (or vote on a similar one) over on our [wishlist](http://ideas.ghost.org). We use this list to help determine what goes into the roadmap and how to prioritise features. You can also access the wishlist any time from inside the Ghost admin:
![](http://puu.sh/jXKwm.png)

The normal way to offer this sort of configuration in a them

[2016-01-15 14:59] #6346 closed

[2016-01-15 15:05] aholbreich commented on #6346
Thank you didn't know. But is there any workaround for this now?

[2016-01-15 15:16] zinyando opened #6347 "buildURL() is not passing all arguments into url"
[code]
buildURL() is not passing all arguments into the url in the base adapter. This makes it difficult to use ember data mixins like `urlForUpdateRecord` when extending from the application adapter.

[2016-01-15 15:25] halfdan commented on #6346
@aholbreich Those two exact use cases are covered by code injection as @ErisDS mentioned

[2016-01-15 15:59] aholbreich commented on #6346
@halfdan @ErisDS Oh sorry overlloked last part.

1)Does it mean i can somehow read variables of config.js? How?

2) How to wire code injectiron to varible? How to access it in the template?

[2016-01-15 16:06] Tyriar commented on #6342
Chrome v46 on Debian 8 on a ~6 year old laptop. It also happens on my desktop at home which is a lot faster running Ubuntu 15.04 and chrome v46. One my desktop I did not test it using single letter tags, so maybe the issue only shows for single letter tags on slow computers?

[2016-01-15 16:08] Tyriar commented on #6343
Maybe it's a webkit and blink bug then, will investigate and report if so. Thanks.

[2016-01-15 20:50] kevinansfield commented on #6343
Sorry if I wasn't clear, it's not a browser issue but an OS-level aspect of text selection. Here's an example of the behaviour inside Apple Mail:
![text selection bug example](https://cloud.githubusercontent.com/assets/415/12364946/96079aec-bbc9-11e5-8951-879f698609c6.gif)

[2016-01-16 10:20] ErisDS commented on #6345
Hey @johnny94, thanks for the thorough bug report. I'm pretty sure this is a bug in GQL, although a strange one.

[2016-01-16 10:22] ErisDS commented on #6158
This is definitely something that should be solved in GQL, not in Ghost. IMO GQL needs to become aware of relationship types, so that it is able to handle many-to-many relationships.

[2016-01-16 15:51] nybblr commented on #6125
:confetti_ball: :fireworks: I would love to be a part of this transition—the showdown fork has been my main barrier to entry in the codebase, but I would be incredibly excited to see Ghost move to CommonMark so I can keep preaching "One True Markdown" (said with slight troll accent).

[2016-01-16 16:19] kashev commented on #6125
Currently Commonmark doesn't have footnotes, so switching fully would cause some people to lose functionality.

[2016-01-16 16:22] nybblr commented on #6125
There's a pretty slick demo that includes the footnotes plugin: https://markdown-it.github.io/

[2016-01-16 16:47] nybblr commented on #6125
Just to take this for a spin, I've swapped out the markdown engine on my fork: https://github.com/TryGhost/Ghost/pull/6352

Would love to tease out this first part of the process!

[2016-01-16 18:40] #6347 closed

[2016-01-16 19:16] nybblr commented on #6125
This is looking really feasible. After the swap out, I'm down to 4 failing specs (all related to the image placeholder, which I'm writing a plugin for).

https://github.com/TryGhost/Ghost/pull/6352

:eyes: on the PR would be :+1:

[2016-01-17 01:21] jtwebman opened #6355 "Grunt validate running slow and timing out on Sata drives"
If you are building stuff for Ghost on an older or slow Sata hard drive the test begin loads a new database each time which is very slow and timeouts at 15 seconds giving errors like this:

[code]

[2016-01-17 01:32] acburdine commented on #6336
Hey @Ballrock! Ghost is currently using a fairly old version of showdown; however, there are currently things in the works to replace the current post editor and make it somewhat more configurable, meaning that in the future the markdown parser could be updated. @ErisDS is working on a writeup at the moment, and you can see more details in [this](https://youtu.be/qTsigi72avE?t=4m5s) video.

[2016-01-17 16:29] ErisDS commented on #6312
Hi @paragasu, I understand now why you only saw the first part of the message. We need to improve our UI messaging to also be clearer.

Browsers are all different, particularly in terms of how they manage security.

The documentation at http://support.ghost.org/config/#url should have explained how to fix the issue, if not let me know and I'll try to improve the documentation.

[2016-01-17 16:31] ErisDS commented on #6336
I think this particular bug is likely a duplicate of #2093.

[2016-01-17 16:31] #6336 closed

[2016-01-17 16:56] ErisDS commented on #6346
Both of these mechanisms use standard JavaScript - you can include your own js configuration file, and script blocks from code injection into your theme. Either or both can provide global variables which can then be accessed in your themes.

If you're looking for step-by-step help please checkout the #help & #themes channels on our [slack](https://ghost.org/slack) team.

[2016-01-18 04:30] cesarvargas00 opened #6357 "Can't change themes when NODE_ENV=production"
Basically, whenever I start my express server with ghost as a npm module using NODE_ENV=production, I'm unable to change the theme. If I just run it in developer environment, I have the option on the dropdown menu to change the theme to my own theme.What am I doing wrong?

[2016-01-18 09:27] aholbreich commented on #6346
@ErisDS Thank you very much

[2016-01-18 10:13] #6198 closed

[2016-01-18 11:14] kevinansfield opened #6359 "Changes to feature flags are never reflected across concurrent sessions"
### Issue Summary

If User A and User B are using the admin area simultaneously and User A changes a feature flag, that change is never reflected in User B's admin area unless they manually refresh/reload the admin page. This is also true if single user has multiple tabs open.
### Steps to Reproduce
1. Log in to the admin as usual
2. Open an incognito/private browser window and log in again, keepi

[2016-01-18 12:02] ErisDS commented on #6357
Hi @cesarvargas00, sorry to hear you're having trouble. It's not clear from what you've written what the problem is here (is the UI missing, is it the theme update that's not working, etc) but it sounds very much like an environment issue rather than a bug with Ghost.

As mentioned in the readme & contrib guide, if you need help, please head on over to slack - https://ghost.org/slack/ - and post i

[2016-01-18 12:02] #6357 closed

[2016-01-18 12:07] halfdan commented on #6359
May I suggest something like https://medium.com/all-about-feathersjs/using-feathersjs-as-an-open-source-alternative-to-firebase-b5d93c200cee#.aoxad8pgj

[2016-01-18 12:15] ErisDS commented on #6359
@halfdan Can you provide some context with that link? How do you think it will help?

[2016-01-18 12:21] halfdan commented on #6359
Apologies - I should've elaborated on that link. Firebase/Featherjs provides a real-time websocket based updating mechanism. Updates pushed to a resource - like `/features` would be automatically pushed to all other clients.

I've been working with Firebase and it's ember addon emberfire the past year at $dayJob. Emberfire provides an ember data adapter that allows you to interact with models (wha

[2016-01-18 12:32] kevinansfield commented on #6359
I've had a very quick look, feathers.js seems like more of framework to use in place of roll-your-own express that makes it easier to build REST APIs as well as having a sockets layer rather than just offering a sockets and messaging service to hook into.

In my opinion the holy grail would be a node.js version of phoenix's channels but I haven't seen anything in my casual searches so far. It seem

[2016-01-18 17:12] jessica-jordan opened #6360 "Cannot install node modules from an openshift/ghost git repo under node 0.12"
I had the issue that I wasn't able to install node modules in a freshly cloned git repo (featuring automatic deployment to openshift) under node 0.12. Although install of npm packages works fine under v0.10, I get the following error when running `npm install --production` in my project directory when using node 0.12:

[code]

[2016-01-18 17:36] ErisDS commented on #6360
Hi there @jessica-jordan, we have a [troubleshooting guide](http://support.ghost.org/troubleshooting/) with sections for both [npm install issues](http://support.ghost.org/troubleshooting/#npm-install-issues) and [specifically sqlite3 issues](http://support.ghost.org/troubleshooting/#sqlite3-errors).

The output you've pasted doesn't show the actual error, I recommend working through the troublesh

[2016-01-18 17:36] #6360 closed

[2016-01-18 17:45] jessica-jordan commented on #6360
Thanks for the quick feedback @ErisDS I'll troubleshoot that then!

[2016-01-19 00:46] ChrisRus commented on #5849
@sebgie would you please explain a bit further? I don't see how running out of memory on npm install related to #5107. Thanks.

[2016-01-19 08:01] halfdan commented on #5849
@ChrisRus https://github.com/TryGhost/Ghost/issues/5107#issuecomment-140910614 and the following comment. DigitalOcean has a one-click install for Ghost which might be easier for you to set up.

Ghost, at this point, usually takes 80-90mb of memory when run.

[2016-01-19 09:32] ErisDS opened #6361 "Update Bluebird dependency"
Ghost currently depends on bluebird v2.10.2. Bluebird has progressed on to v3.0.6, which has a number of fixes, improvements and deprecations.

See [What's new in 3.0](http://bluebirdjs.com/docs/new-in-bluebird-3.html) for a summary of the deprecations and breaking changes.

As part of the upgrade of the dependency, the codebase needs to be combed for breaking changes and deprecations, and these s

[2016-01-19 10:09] mike182uk commented on #5321
@ErisDS did the above clarify things?

[2016-01-19 10:49] ErisDS opened #6362 "Consider swapping busboy for multer"
It would be good to see an investigation into the viability of swapping [busboy](https://github.com/mscdex/busboy) for [multer](https://github.com/expressjs/multer). Busboy has a complex API and requires us to have quite a lot of our own code, multer is simpler to use.

Multer is also under the expressjs repo, which lends it some extra credence. However, I have no idea which is least buggy or most

[2016-01-19 11:55] ErisDS commented on #6301
@halfdan I updated the last 3 with further descriptions.

[2016-01-19 15:22] #6287 closed

[2016-01-19 16:38] #6355 closed

[2016-01-19 20:10] acburdine commented on #5173
@ErisDS if we want to go ahead with the "don't show users the new tour," I could get something working for #6302 -> although that might hold it back a bit.

Honestly, given the mockup, and the fact that just clicking "opt out of these tips" will not show any tips anymore, I don't think it's that big of a deal to just show them to everyone. Even some old users might learn something :smile:

[2016-01-20 07:03] jtwebman commented on #6186
@ErisDS I am close to done on the first phase for this one. This is the code so far. I still have about 8 more methods that need tests written for them. https://github.com/TryGhost/Ghost/compare/master...jtwebman:meta_data_to_functions

[2016-01-20 11:11] jessica-jordan commented on #2459
This issue happens to me with as well in this setup:

Ubuntu LTS 14.04
Kate 3.13.3 (based on KDE Dev Platform 4.13.3)
Ghost 0.7.0
Nodejs 0.10.0 || ~ 0.12.0

In the default config of the editor Kate, for every file that has been edited and deleted in the file browser, a temporary backup file with the extension ~ will be created and has to be deleted manually for changes in ghost to take effect.

[2016-01-20 16:07] mikebranski commented on #5777
Any more thoughts on a direction for this? I've never been completely satisfied with datetime combo pickers, but, from a UX perspective, I really like Bootstrap Datepicker (includes time): http://eonasdan.github.io/bootstrap-datetimepicker/

*Pros*
- You can click and type in the field.
- It supports both date and time.
- It has an inline version that works very well on mobile (texted on a Nexus 6

[2016-01-20 20:09] #5605 closed

[2016-01-21 12:06] sebgie commented on #5849
@ChrisRus I referred to the problem @halfdan linked to. According to the DO forum this is common problem with npm (https://www.digitalocean.com/community/questions/npm-gets-killed-no-matter-what) and adding swap space should hopefully solve the problem. Glad you got it working :-).

[2016-01-21 13:53] edsadr commented on #6362
Multer is just another layer on top of Busboy, the abstraction is way simpler, but the project will still depend on Busboy at the end.

Multer is pretty good shape and actively maintained: https://github.com/expressjs/multer/graphs/contributors

The switch in Ghost doesn't look hard to accomplish as far as I can see, is a matter of adding the dependency and implementing another middleware to repla

[2016-01-21 20:58] ErisDS opened #6368 "Regression: Admin should not error if active theme is not present"
This is a regression and recurring bug: https://github.com/TryGhost/Ghost/issues/5155, https://github.com/TryGhost/Ghost/issues/3694.

The bug is identical to https://github.com/TryGhost/Ghost/issues/5155 -  in master you get the `ERROR: Arguments to path.join must be strings` error when trying to load `/ghost/` if you delete the active theme.

### Steps to reproduce:

- stop ghost
- delete the ac

[2016-01-22 11:38] fergiemcdowall commented on #5321
Disclaimer: Maintainer of [search-index] here :)

Its great that a PoC has been made that includes search-index (and a few other cool search technologies). Search-index is a great choice for Ghost for the following reasons:

**Pros**

 * It has been tested and developed on smallish (0-50000) sets of articles, and has many of the features that make it blog-centric: filtering and faceting on metadat

[2016-01-22 11:54] fergiemcdowall commented on #5321
Oh, and search-index [is published under the MIT licence](https://github.com/fergiemcdowall/search-index/blob/master/LICENSE)

[2016-01-22 23:59] xetryj opened #6369 "Ghost {{@blog.url}} appends :2368"
Hello, I have set up a Ghost blog on nginx, which runs three more sites (on Digitalocean). Everything works fine, except the link to {{@blog.url}}.
It replaces from evgn.co to evgn.co:2368 and leads to error.
I just don't know where to watch a problem.

Maybe you have had such experience?

http://evgn.co

Just clic on logo in left top corner.

/etc/nginx/sites-available configured, as:

server {
l

[2016-01-23 08:39] jtwebman commented on #6270
@ErisDS Is this issue still open? I believed it was fixed.

[2016-01-23 09:02] uppfinnarn opened #6371 "node_modules + core/client/node_modules are enormous"
On my machine, `node_modules` is 309MB and `core/client/node_modules` is 331MB. This seems… rather excessive?

I'm not sure if this is by design on Node's end, but 700MB of disk space is *a lot*. Especially since we're running two Ghost blogs on the same machine, that's 1.5GB (of 30GB) right there…

Can anything be done to reduce this?

[2016-01-23 11:07] halfdan commented on #6371
Hi @uppfinnarn, we use Github for tracking bugs with Ghost. You seem to have questions about Ghosts disk usage - please come and join us in our Slack community over at http://ghost.org/slack where we're happy to discuss this further.

As quick feedback, it seems you are running Ghost in development / off of Github. Running Ghost as an npm module or even from the release zip gives me a node_modules

[2016-01-23 11:42] #6371 closed

[2016-01-23 11:59] ErisDS commented on #6371
If space is your primary concern, the [npm module](https://github.com/TryGhost/Ghost/wiki/Using-Ghost-as-an-NPM-module) is probably the way to go. Down side is you need to write your own start scripts, but 2 small scripts & 2 configs should be able to share the same npm module code.

[2016-01-23 12:00] ErisDS commented on #6369
Hi @xetryj, sorry to hear you're having trouble. As mentioned in the readme & contrib guide, if you have questions about Ghost or need help, please head on over to slack - https://ghost.org/slack/ - and post in the #help channel. There you can get help & support from the Ghost community, which we're not able to do here in the GitHub bug tracker.

[2016-01-23 12:00] #6369 closed

[2016-01-23 23:39] zsck opened #6375 "Words with the letters "fi" appearing as just "i" in a post page."
I noticed this bug while I was reading a blog post written by a friend of mine.  Words that contain the letters "f" and "i" in that order, such as "figure" and "horrific" are appearing without the "f".  That is, "figured" becomes "igured" and "horrific" becomes "horriic". Interestingly (perhaps unsurprisingly), the page actually does *contain* the letter "f", and the browser can find the words whe

[2016-01-23 23:59] rwboyer commented on #6375
I've noticed this too. I believe there's something wrong with the Merriweather font. Anyone else out there that can confirm

[2016-01-24 00:00] nuclearpengy commented on #6375
This was discussed on Slack earlier this evening.

[2016-01-24 00:03] nuclearpengy commented on #6375
https://ghost.slack.com/archives/atrium/p1453511622000004

[2016-01-24 01:33] LukeHostetler commented on #6375
My posts are acting in exactly the same manner, using the standard Ghost font.

Strangely enough, my blog tagline doesn't act quite the same. It only eliminates the letter "f" if it starts a word and is immediately followed by "i" or "l".

[2016-01-24 02:35] calekennedy commented on #6375
https://bug-demonstration.herokuapp.com/final-bug-demonstration/

[2016-01-24 09:03] nmhuy commented on #6375
Changing the font-family from Merriweather to Open Sans for the body selector in screen.css does not exhibit the problem :
[code]

[2016-01-24 10:35] k-j-kleist commented on #6375
Note the recent "improvement" of "Merriweather" mentioned here: https://www.google.com/fonts/specimen/Merriweather

[2016-01-24 12:19] Wonderfall commented on #6375
I had the same weird problem, thank you all for figuring out what the problem is and where it comes from.
I applied @nmhuy's suggestion.

[2016-01-24 13:33] ErisDS commented on #6375
This is a bug in the [merriweather font](https://github.com/EbenSorkin/Merriweather/issues/16) itself, which affects the [Casper theme](https://github.com/TryGhost/Casper/issues/235). The Merriweather team released an update to Google Fonts on Friday, which caused this.

If it is not going to be fixed tomorrow (Monday) we will push out a new release of Casper.

[2016-01-24 13:35] rwboyer commented on #6375
@ErisDS curious as to the "fix" you propose in Casper to deal with an issue in Merriweather ???

[2016-01-24 14:22] halfdan commented on #6375
A different font.
On Jan 24, 2016 2:35 PM, "Robert W Boyer" <notifications@github.com> wrote:

[2016-01-24 15:19] JohnONolan commented on #6375
https://github.com/google/fonts/issues/8 - Google are pushing a fix tomorrow. This is a Casper bug being tracked here: https://github.com/TryGhost/Casper/issues/235