[2022-05-02 19:12] Kerumen commented on #14634
Thanks @daniellockyer for the explanation.

Unfortunately there are some environments where MySQL is not supported ([Archlinux](https://wiki.archlinux.org/title/MySQL) for example) and we have to use MariaDB. MariaDB is supposed to be a drop-in replacement of MySQL so everything should work as expected (and was working until `v4.46`).

I know this is not totally in your control, I just wanted to n

[2022-05-03 16:31] yogeshbeniwal commented on #14446
IMO MariaDB support should be included, it's a popular database in use.

[2022-05-03 21:19] stefann42 commented on #14635
Looks like we were using an outdated information, thanks for the pointer to the latest SSL docs. That said, serializing the CA public cert as a config parameter is awfully complicated. Do you happen to have a sample config for when you're Ok to ignore SSL cert validation?
Our situation is further complicated because we're self-hosting in a Docker container and this config
is passed from the hostin

[2022-05-03 21:34] anaclumos commented on #14450
Unfortunately, I cannot provide info since I have destroyed the droplet and now use a 2GB droplet. Ghost uses ~1.2 GB of memory, which is more than I expected, but it is running stable. However, based on the reactions, it seems like other people are also experiencing the issue; I will keep the issue open so that anyone else who experiences the issue can contribute.

[2022-05-03 21:44] anaclumos opened #14662 "Lacking Proper Unicode/Multilingual Support for Post URL, HTML Tag ID"
### Issue Summary

Let's face it — This is a long-standing issue. I have seen multiple posts on Ghost Forum and GitHub Issue that complains about the lacking proper support for Unicodes. These are some examples:

- #3224
- https://forum.ghost.org/t/feed-unicode-non-alphabet-characters-through-a-romanizer/6765
- https://forum.ghost.org/t/unicode-support-for-url/15216

More than half of the world li

[2022-05-03 21:49] stefann42 commented on #14635
Nevermind, after some trial and error this seems to work `{ 'rejectUnauthorized': 'false' }`
This issue can be closed, but it would be useful if you could add this bit to the [SSL docs](https://ghost.org/docs/config/#ssl-1)

[2022-05-04 11:45] ErisDS commented on #14450
Thanks for coming back with some more info. The amount of memory that Ghost uses will be dependent on the number of posts, images and other resources that the site is handling, as there is a lot of in-memory caching.

As well as the droplet we fired up to test this, we obviously run a lot of other instances of Ghost and have no signs of a leak at present, meaning if there is one it must be obscure

[2022-05-04 11:45] #14450 closed

[2022-05-04 11:52] ErisDS commented on #14662
Hi @anaclumos, I hear that you are frustrated by this, however you're asking for significant new functionalities to be created by somebody and that constitutes a feature request.

I'd be more than happy to chat with contributors on the forum about how to get some of these things implemented.

[2022-05-04 11:52] #14662 closed

[2022-05-05 10:49] blaine07 commented on #14634
Is this issue fixed with 4.47?

[2022-05-05 10:54] ErisDS commented on #14634
The upstream issue hasn't been fixed yet - details in this comment: https://github.com/TryGhost/Ghost/issues/14634#issuecomment-1114989262

In the meantime, a friendly forum user has shared how he updated from MariaDB to MySQL8 on Ubuntu here: https://forum.ghost.org/t/how-to-migrate-from-mariadb-10-to-mysql-8/29575

[2022-05-05 22:12] chaddyc commented on #14634
Experiencing the same issue since updating to the latest MariaDB and ghost docker images.

[2022-05-07 15:31] Elrondo46 commented on #14634
Migrated to MySQL. Fortunately I'm in containers mode with Docker.
Just created a temporary container with a new docker volume... Imported my saved database.
Remanaged the old container (using now mysql8) to use the new docker volume. Restarted all.
All goods
There is now no more problems to use the last version of Ghost.

But I think it's stupid dropping mariaDB.

[2022-05-07 15:59] blaine07 commented on #14634
Elondro, is MariaDB actually being dropped? I thought issue itself was with MariaDB not Ghost?

[2022-05-07 16:10] acim commented on #14634
Even more stupid was dropping PostgreSQL some time ago. Ghost team is trying to get less and less people using this.

[2022-05-07 16:16] Elrondo46 commented on #14634
https://github.com/TryGhost/Ghost/issues/14446 > **MySQL 8 is supported in all environments & the only supported DB for production.**

[2022-05-07 16:18] blaine07 commented on #14634
Thanks, I also found the post on their forum too. Astoundingly stupid decision. I don’t even use the “newsletters” stuff. 😞

[2022-05-07 16:26] chaddyc commented on #14634
@Elrondo46 can we perhaps jump into a Discord chat or chat channel. Would you be able to give me a hand? I also run my blog in docker containers using MariaDB...

[2022-05-07 17:11] Elrondo46 commented on #14634
yeah why not I don't want to send my personal tag in public

[2022-05-08 08:31] gllmhyt commented on #14634
Solely relying in Oracle's solution (the same that thrashed OpenOffice, bribed african government officials in order to win business contracts, or made dangerous false claims of security...) despite an community-driven one is beyond me.

[2022-05-08 08:53] acim commented on #14634
The only explanation is that commercial version of Ghost probably runs on MySQL and they care just about that. We as users of open source Ghost are not important for them, we don't pay.

Why PostgreSQL is dropped some years ago if Ghost uses [knex](https://github.com/knex/knex) ORM, which supports PostgreSQL, MySQL, CockroachDB, MSSQL, SQLite3 and Oracle? And not they drop MariaDB which is the def

[2022-05-08 09:03] acim commented on #14446
Dropping MariaDB as main MySQL flavor on major Linux distributions is really bad idea, even worse than the idea to drop PostgreSQL few years ago. Your product should not depend on particular database as there is no good reason for that. I didn't analyze your code but if you use knex, why would you drop any database which they support? What's so specific about Ghost? Some super complex queries to f

[2022-05-08 15:09] Kerumen commented on #14634
Please, can we keep the discussion on this thread related to the migration bug and not about the MariaDB support.

@daniellockyer could you explain why is this migration required? Isn't it possible to rewrite it without the Knex bug? I've ran dozen of migrations successfully on my Ghost instance. I don't understand why this one, which seems fairly simple, has a bug and that is the first time we se

[2022-05-08 15:18] blaine07 commented on #14634
Sure seems we have a hard time keeping it related to migration bug because all the lights point in that dropping MariaDB is intentional?

[2022-05-08 15:25] acim commented on #14634
Instead of pushing on solving the knex bug "default 'NULL'" for datetime type, which is obviously wrong, 'NULL" is string and not datetime, Ghost team wants to drop MariaDB. Great guys, stick with enforcing bugs.

[2022-05-08 15:38] acim commented on #14634
My comment at this post was marked as [off-topic](https://github.com/TryGhost/Ghost/issues/14446). Why? Do you really want to make BC intentionally to drop MariaDB? And keep just MySQL with the wrong behavior? Datetime can't have default value of 'NULL', that's string guys.

[2022-05-08 15:47] acim commented on #14446
Do you really want to drop MariaDB just because it doesn't allow datetime columt to default to "NULL"? This is wrong, "NULL" is string and not of datetime type. You should go for type strict code and switch to TypeScript and not drop MariaDB. You should also introduce back PostgreSQL support, the reasons for dropping it were so stupid, it is the most powerfull database in the world. Both MySQL and

[2022-05-08 15:57] blaine07 commented on #14634
I'd just like to say...you made a comment about "non-commercial" users but...Don't THEY know those of us TINKERING with it are who will sell it for them if it's something we like? LOL sigh....

[2022-05-09 14:37] ErisDS commented on #14634
Hey all 👋, I've locked this bug to contributor comments only. It's caused by an upstream bug in knex. When a fix is pushed into knex, Ghost's renovate setup will automatically pull it into Ghost, meaning it will be included in the subsequent release.

If anyone needs or wants some support with migrating from MariaDB to MySQL, please use the [forum](https://forum.ghost.org/).

I understand there's

[2022-05-09 14:50] ErisDS commented on #14446
Hey all 👋 , I've locked this thread to contributor comments only and updated the original post with an explanation around DB support.

I understand there's a lot of frustration around the clarification that MariaDB is not an officially supported database. As a small team we've always provided a very narrow set of environments that are officially supported to keep our maintenance overhead manageabl

[2022-05-09 15:18] boycottseattle opened #14735 "Ignoring invalid configuration option passed to Connection: filename."
### Issue Summary

First off, I realize that the docker container isn't officially supported, but if you watch the log when connected to a MySQL database docker. You get this error again and again:

```Ignoring invalid configuration option passed to Connection: filename.```

The site appears to work fine, but unless you're watching the back end, you would never know. I'm certain the same thing hap

[2022-05-11 12:43] djbusstop opened #14785 "Can not paginate RSS feed"
### Issue Summary

I need to get access to all my posts via RSS. I would like to paginate my RSS feed so that I can import all my posts elsewhere. However, I have tried `mydomain.com/rss/2` to get the second page and it doesn't work. This is what I have found for how to paginate on ghost forums, so I'm filing a bug report.

### Steps to Reproduce

1. Navigate to Ghost URL + `/rss/2`
2. Redirects t

[2022-05-11 14:19] ErisDS commented on #14785
Hi there @djbusstop, the RSS pagination behaviour was deliberately removed a some major versions ago. Instead Ghost has an extensive API & related tooling that you can use to get all of your content. If you need some help using it, reach out via the [forums](https://forum.ghost.org) and we'll give you a hand.

[2022-05-11 14:19] #14785 closed

[2022-05-12 06:27] ceecko commented on #14640
@ErisDS when do you expect this could get into a release?

[2022-05-12 16:06] matthanley commented on #14640
Hey @ceecko 👋🏼 This is now bumped in main and the [4.x branch](https://github.com/TryGhost/Ghost/commit/43badac286dbf042af3f141791ae68491a70b350), so it'll go out in 5.0 when it's released as well as the next 4.x release. Thanks!

[2022-05-16 08:03] raccoonyy commented on #14735
I tried to upload an image to my ghost blog that runs on docker and I met this error also.
But there are other messages like below:

[code]

[2022-05-16 23:27] benjaminrancourt opened #14840 "Multiple accounts for members"
### Issue Summary

When the user use the same email address to login but with different case sensitivity, multiple accounts are created.

![image](https://user-images.githubusercontent.com/7907713/168697466-95f95d96-8508-4883-96c9-1abe70ce5c69.png)

### Steps to Reproduce

1. Sign in using your email (`Name@Google.com`)
2. Click on the sign up link you received
3. Logout
4. Sign in using your emai

[2022-05-17 11:58] jalberto commented on #8844
the link is dead

[2022-05-17 17:57] fabsau opened #14853 "Database error after upgrade to 4.44 also on Mysql"
### Issue Summary

Since I could not solve the issue I posted in the [forum](https://forum.ghost.org/t/er-too-big-rowsize-after-updating-to-4-44-alpine/29666), which also has been mentioned at #14516, I migrated my blog from mariadb to mysql. Unfortunately the issue persists.
For the migration from MariaDB to Mysql 8 I used this [guide](https://forum.ghost.org/t/how-to-migrate-from-mariadb-10-to-m

[2022-05-17 22:18] Emmanuel-Melon commented on #14365
Can I submit a PR to that repo?

[2022-05-17 22:44] 5factor opened #14854 "Cannot send emails"
### Issue Summary

I get the following error when attempting to publish a post + email subscribers:
`
InternalServerError: Unexpected visibility value "[object Promise]". Use one of the valid: "members", "paid".
`

The post is visible to all members with no additional settings applied.

<img width="368" alt="Screen Shot 2022-05-17 at 6 36 45 PM" src="https://user-images.githubusercontent.com/53883

[2022-05-18 06:23] ErisDS commented on #8844
Fixed.

[2022-05-18 06:24] ErisDS commented on #14854
Thanks for the report! This was already fixed and released in [4.47.4](https://github.com/TryGhost/Ghost/releases/tag/v4.47.4)

[2022-05-18 06:24] #14854 closed

[2022-05-18 06:24] #14853 closed

[2022-05-18 16:34] iamdoubz opened #14860 "Upgrade from 4.41.0 to 4.47.4, database upgrade fails"
### Issue Summary

When performing a standard upgrade, the database upgrade fails resulting in a 502 and infinite server restart.

### Steps to Reproduce

1. Upgrade using the standard `ghost upgrade`
2. Restart service `sudo service ghost restart`
3. Check log files `sudo journalctl -fu ghost`

### Ghost Version

4.47.4

### Node.js Version

14.19.1

### How did you install Ghost?

Ubuntu 20.04 a

[2022-05-18 17:16] #14860 closed

[2022-05-18 21:45] iamdoubz commented on #14860
Sorry I didn't look at open issues! That is my mistake.

[2022-05-19 10:25] nivekuil opened #14863 "Ghost URL cannot be set to an ipv6 address"
### Issue Summary

The URL cannot be set to an ipv6 address, because ghost percent encodes the bracketed portion of the host.

### Steps to Reproduce

Start a docker container with the url set to a properly formatted ipv6 address like `-e url='http://[ffff::]:2368'`. Notice that the Home and About links at the top are not clickable. Inspect them and see that the URL is badly formatted: the host po

[2022-05-21 10:32] aadilayub commented on #13715
I wouldn't consider this issue solved. Switching to Chromium is a workaround, but users shouldn't have to change their browsers to perform a common action like switching a theme.

[2022-05-22 19:42] johnrisby commented on #13451
Found this issue after having the same problem myself. Is there any update on it at all? Thanks.

[2022-05-22 22:17] johnrisby commented on #13451
I don't know enough about the code base to know why this is set like this but I've at least managed to get my local version returning the author - although only the primary author, not all authors - by commenting out:

delete attrs.author;

on line 125 of

4.48.0/core/server/api/canary/utils/serializers/output/utils/clean.js

I haven't found out why all authors aren't being returned or all tags, b

[2022-05-23 11:05] ErisDS commented on #14301
I think there are a couple of possible things going on here:
1. Tags which have no posts do not have a page - they 404
2. In rare cases there can be a race condition where Ghost returns a 404 as the URL has not been generated in time. This shouldn't happen, but it's hard to reproduce and is a problem with a system we're going to replace soon.

If there was a wide spread issue with tags 404ing we'd

[2022-05-23 11:05] #14301 closed

[2022-05-23 11:13] ErisDS commented on #10396
I actually have a WIP fix for this that didn't quite make it into code freeze. Will follow up soon.

[2022-05-23 11:27] ErisDS commented on #14840
Hey there @benjaminrancourt, this is due to sqlite3 not doing case sensitive unique constraints by default, and knex not handling the difference. It is therefore only an issue in development as we don't recommend running SQLite3 in production.

If anyone is really keen to get this fixed, it would be great to see knex get more love for things like this, so that operations like creating unique const

[2022-05-23 11:33] ErisDS commented on #14508
Hey there @guidefox. Ghost's magic links are based on JWTs, the tokens aren't stored and there's not really a concept of revocation here. What's happening is that the magic link has a fall back behaviour of creating a new account if no matching account is found.

I realise that's a little jarring, but it's a brand new account that is created, not an old one being restored.

I think it would make s

[2022-05-23 11:56] ErisDS commented on #14735
This is a pure warning, it _cannot_ cause an issue with your site. We've got it tracked to get rid of the warning, but if you're seeing an issue - it's nothing to do with tis.

[2022-05-23 12:09] ErisDS commented on #14365
The repo has PRs open - anyone is welcome to submit a PR. I cannot guarantee it will be merged but it will be reviewed.

[2022-05-23 12:11] ErisDS commented on #14633
Hey @hkrsmk, I can confirm this is the intended behaviour. Not sure what it was you had expected, but the sender address has to be set to something 🙂

[2022-05-23 12:11] #14633 closed

[2022-05-23 12:21] ErisDS commented on #14635
Hey, I realise this was annoying to figure out but it seems the upshot is, mysql2 is _really_ picky about configuration, and was throwing an error because of the `'secureProtocol': 'TLSv1_2_method'` part of your config.

If you are using SSL but are ok to skip certificate validation, you only need `ssl: { 'rejectUnauthorized': 'false' }` in your config.

I'm a little dubious about updating our own

[2022-05-23 12:21] #14635 closed

[2022-05-23 12:32] hkrsmk commented on #14633
Oh - I meant it as the sender being set to noreply@domain instead of the reply-to email, actually. Does that make sense?

[2022-05-23 12:39] ErisDS commented on #14446
Closing this now as the official documentation has been published https://ghost.org/docs/changes/

[2022-05-23 12:59] fueko opened #14881 "In Ghost 5.0 'benefits' has changed to a string"
### Issue Summary

Hi!

Using the syntax:

[code]

We get an empty list, in version 4.48.x this worked fine, have there been any changes in version 5.0?

### Steps to Reproduce

Use this code:
[code]
We get an empty list.

### Ghost Version

5.0.0

### Node.js Version

Ghost(Pro)

### How did you install Ghost?

Ghost(Pro)

### Database type

MySQL 8

### Browser & OS version

_No response_

### R

[2022-05-23 13:29] ErisDS commented on #14058
Thanks for sharing this 🙏 - I finally got around to updating the example 😬

[2022-05-23 13:29] #14058 closed

[2022-05-23 13:54] ErisDS opened #14882 "Remove the bluebird dependency from everywhere 🔥"
Now that there are native promises in Node.js _and_ with async/await, bluebird really is a blast from the past. However, it's embedded pretty hard across our dependencies and some of our code uses catch predicates, which means we have to be careful about the order in which we rip bluebird out, otherwise we could break our error handling in weird and unexpected ways.

Here's some notes on what we n

[2022-05-23 13:57] fueko commented on #14881
Hi! @ErisDS Thanks for the information! That is, the attribute `data-members-plan` like `data-members-plan="{{monthly_price.id}}"` also has it been withdrawn?

Because I see it's not working and in the documentation there is now an option with `data-portal="signup/{{id}}/monthly"` - is this now the only option to connect to Stripe checkout (for custom membership page)?

[2022-05-23 13:59] raccoonyy commented on #14735
I understand that you mentioned. Thank you.

But the image uploading is failing still.
I struggled for several days but I can't resolve it.

My environment: Synology + Docker (It works well on my M1 laptop.)
I tried some variations like the below:
- ghost 4.47 / 4.32.3
- MySQL 8 / Sqlite3

This is one of my settings for the Synology docker container.
[code]

[2022-05-23 14:49] ErisDS commented on #14881
We've cleaned up a _lot_ of legacy code and helpers that all focused around single monthly and yearly prices to try to simplify themes now that we have tiers. The newly documented method is correct. The `{{id}` is the id of the tier, and this attribute can be also be fetched from the Portal settings in Admin.

We're still improving the docs and gscan as fast as we can!

We also added new helpers s

[2022-05-23 14:59] fueko commented on #14881
Thank you so much for your reply @ErisDS!
The last question (so if the helper `{{monthly_price.*}}` is withdrawn now) if I want to have separate currencies and prices this usage is correct?

`{{#if monthly_price}}<sup>{{price currency=currency}}</sup>{{price monthly_price}}{{/if}}`

If I want it in one block:

`{{#if monthly_price}}{{price monthly_price currency=currency}}{{/if}}`

[2022-05-23 15:09] ErisDS commented on #14881
Yep exactly 🙂

[2022-05-23 18:58] ErisDS commented on #13700
There was a PR for this merged in [v4.35.0](https://github.com/TryGhost/Admin/releases/tag/v4.35.0), but Ghost v5 has a whole new publishing flow.

[2022-05-23 18:58] #13700 closed

[2022-05-24 02:16] fueko opened #14886 "The {{#is "post"}} helper produces a result on the 'post' and 'page'"
### Issue Summary

The {{#is "post"}} helper produces a result on the 'post' and 'page'. The result should be limited to the 'post' only.

### Steps to Reproduce

Paste this code to post.hbs and page.hbs:

[code]

Check the results on the 'page'.

### Ghost Version

5.0.0

### Node.js Version

Ghost(Pro)

### How did you install Ghost?

Ghost(Pro)

### Database type

MySQL 8

### Browser & OS vers

[2022-05-24 06:08] naz commented on #14886
Was able to reproduce this bug. There's an inconsistency somewhere in "context calculation" after [this change](https://github.com/naz/Ghost/commit/0c097f653289e197576381078cac56e8a6327b1d).

[2022-05-24 07:36] xdivby0 opened #14888 "redirects.yaml documentation link points to 404"
### Issue Summary

The page that's linked from ghost/#/settings/labs for redirects (anchor text "the docs") is nonexistent (anymore probably).

The url is https://ghost.org/tutorials/redirects-in-ghost/ and I also found that when searching on Google, so you better do a redirect to somewhere valid (probably https://ghost.org/tutorials/implementing-redirects) before Google starts de-ranking your 404

[2022-05-24 08:12] naz commented on #14886
Hey @fueko! Thanks for the report. You are extremely helpful, as always :heart: Dzięki!

[2022-05-24 08:20] fueko commented on #14886
Hi @naz! Glad I could help :)

[2022-05-24 10:02] Emmanuel-Melon commented on #14882
I can work with this, I had a similar task at my previous workplace 😁

[2022-05-24 11:33] #14888 closed

[2022-05-24 11:33] ErisDS commented on #14888
Thanks for the report, I've both updated the URL and fixed the 301.

[2022-05-24 17:47] ErisDS commented on #14206
@benjaminrancourt do you still see this on Ghost v5?

[2022-05-24 17:59] ErisDS commented on #14881
This is fixed in 5.0.1 along with improved rules for the removal of @price and a new standalone [price helper docs page](https://ghost.org/docs/themes/helpers/price/) with more example code.

Let us know if there's anything else we can clarify or improve

[2022-05-24 17:59] #14881 closed

[2022-05-24 23:50] stefann42 commented on #14635
@ErisDS There are many cases where it's warranted to use SSL but not validate the cert. Local development for example or if you must encrypt traffic but it's too costly/time consuming to maintain valid certificates for your own infrastructure. Sometimes you just need to get something up and running quickly. The purpose of your documentation is to be helpful not judgmental. Right now self-host docs

[2022-05-25 05:32] guidefox commented on #14508
Ah, that makes more sense. I think that the current behavior can be improved because it is a little bit jarring right now.

Perhaps a dedicated button for having impersonation tokens re-create the account instead of doing it automatically would be a better solution.

And maybe make the tokens one use only? or at least provide the option to have it expire after one use.

[2022-05-25 07:39] thecadams commented on #8969
Hi folks,
Possibly a new issue, but just had this again in Ghost 5.0!

[2022-05-25 07:50] Antonyrahul commented on #12802
I did that fix and restaeted the server and the mail is still being sent from noreply. Is there something i ma missing . I have cleared the cache and tried too but it does not work

[2022-05-25 09:15] #14365 closed

[2022-05-25 10:45] Elrondo46 opened #14916 "Unable to upgrade to Ghost 5 from 4.48"
### Issue Summary

Unable to upgrade from 4.48

### Steps to Reproduce

Just ghost update and... not functionnal

### Ghost Version

4.48

### Node.js Version

v14.19.1

### How did you install Ghost?

Docker

### Database type

MySQL 8

### Browser & OS version

Alpine Linux, v3.14.6 (container)

### Relevant log / error output

[code]

### Code of Conduct

- [X] I agree to be friendly and polite

[2022-05-25 10:51] #14916 closed

[2022-05-25 11:21] Elrondo46 commented on #14916
It's a bug from your tool, it upgrade all v4 versions and now it can't detect my database in settings.... It watch about SQLite... I'm in Mysql8 and I have active_theme key

[2022-05-25 11:22] Elrondo46 commented on #14916
That's YOUR docker image I use

[2022-05-25 11:46] ErisDS commented on #14916
The Docker image is Docker's official Ghost image, and is maintained by the community.

[2022-05-25 17:45] jaller94 opened #14920 "Website down due to "Invalid private key" (Capturing error for worker during execution of job: email-analytics-fetch-latest)"
### Issue Summary

I had upgraded to 5.0.0 and then noticed that my website was down, even when ghost-cli reported the page as being running.

In `journalctl` I found the issue. See the logs below.
In the logs I replaced the actual page name with `foobar`.

I fixed the issue by going to Mailgun, creating a new Sending Key and replacing the existing one in `config.production.json`.

I'm reporting t

[2022-05-25 19:34] ErisDS commented on #14920
Hey @jaller94, thanks for the report. We’ll look into improving the error handling in the job - it’s not expected that an error here is able to take the site offline.

Purely from curiosity, do you have any idea why the key became invalid?

[2022-05-25 22:33] dtgay commented on #12194
@ErisDS As far as I can tell, this issue is not resolved. I just downloaded the routes file in Ghost 5.0.1 and got it as `routes.yml`. I went to go submit a patch myself, but I'm not a node guy and a `grep` didn't reveal an obvious incorrect file name.

Can this be re-opened, or shall I open a new issue?

[2022-05-26 08:22] kevinansfield commented on #12194
@dtgay we provide the file with the right `.yaml` extension but some OS's will rename it themselves when saving

[2022-05-26 08:27] kevinansfield commented on #14920
It sounds like you've configured Mailgun with a sending key rather than a private key. Sending keys won't work with the analytics service because they only allow you to send mail, the analytics service needs to be able to fetch the event logs which requires a private key.

The analytics service doesn't use anything from `config.production.json. It sounds like maybe there was a different problem th

[2022-05-27 14:07] ErisDS commented on #14206
I checked and still see this in v5. It's essentially the same as this old chestnut: https://github.com/TryGhost/Ghost/issues/10042

I have found a little fix.

[2022-05-27 14:11] #14018 closed

[2022-05-27 14:11] #10042 closed

[2022-05-27 14:11] #14206 closed

[2022-05-27 14:36] #13319 closed

[2022-05-27 18:20] eba8 commented on #10396
Is there any update on this issue?

The workaround for `excerpt` defeats the purpose of the `fields` idea. I'm limiting the fields I want but still loading the entire post.

[2022-05-28 20:02] jdaviescoates commented on #14287
This is a mighty shame. I was hoping to start offering all sorts of people and project Ghost hosting, but with an unusable mobile editor in a mobile-first world it makes Ghost as good as useless for many :( such a shame :(

[2022-05-30 13:56] daniellockyer commented on #14634
Hey all 👋🏻 @iBotPeaches sent a PR with the fix to Knex and it's been merged + released: https://github.com/knex/knex/pull/5181

We've just released Ghost v4.48.1 with the updated Knex, so this issue should now be fixed.

Please update to v4.48.1 using Ghost-CLI 🙂

[2022-05-30 13:56] #14634 closed

[2022-05-30 14:43] jeandcc-gg commented on #8969
Just had this and I'm on Ghost 4.48

[2022-05-31 10:59] BirbEXE opened #14948 "[ghost admin] Inserting items doesn't work on mobile post/page editor"
### Issue Summary

On mobile, in either the post or page editor you cannot insert items suchas an image or web embed, without switching to the much less polished, disproportioned desktop site.

### Steps to Reproduce

on a new line, there is not a ➕ icon like the desktop editor, to add objects other than text.
also, typing a / on mobile, doesn't bring up a list like the plus button should.

### Gh

[2022-05-31 11:35] matthanley commented on #13715
@aadilayub could you provide some more info on your environment, along with reproduction steps? I'm unable to reproduce the issue in Safari/Firefox/Chrome on macOS.

[2022-05-31 14:08] Booteille opened #14951 "Systemd process manager has not been set up or is corrupted"
### Issue Summary

I updated Ghost from v3 to v4 to v5 and everything went smooth.
After I tried to change the configuration to setup the cache since I have waiting time issues with Ghost and am trying to figure out why.

Then, I restarted the server through `sudo -u ghostuser ghost restart` and the server told me `Systemd process manager has not been set up or is corrupted.`.

I tried to run `sud

[2022-05-31 14:41] Booteille commented on #14951
I finally succeed to fix it.

I ran `sudo -u ghostuser setup` and it worked.

[2022-05-31 14:41] #14951 closed

[2022-05-31 14:49] berayb commented on #14635
Hi @ErisDS, having the same problem. Fresh installation, trying to connect Azure MySQL managed service (v8).

Please see my config below:

`  "database": {
    "client": "mysql",
    "connection": {
      "host": "asd-mysql-blog.mysql.database.azure.com",
      "user": "asd@asd-mysql-blog",
      "password": "!!cdY*asd",
      "database": "asd_blog",
      "ssl": {
        "rejectUnauthorized": tr

[2022-06-02 10:28] ichitaka commented on #14323
Fun fact:
While you report the performance improvements for v5, for most users that use the Unsplash feature, implementing this quick change in the query of the image will have a far bigger impact on performance for them! And there is already a PR that implemented this, so this is quite the easy fix.

[2022-06-02 10:32] JPDevM commented on #9694
Link Down

[2022-06-02 10:33] JPDevM commented on #9694
link down

[2022-06-02 12:03] aadilayub commented on #13715
I was able to pinpoint the issue. Once I disabled the [ClearURLs](https://docs.clearurls.xyz/1.23.0/) extension, the error disappeared. Does changing themes require sending a querystring by any chance?

[2022-06-02 12:24] benjaminrancourt commented on #14206
Thanks @ErisDS, you were faster than me to test it!

I just get the latest Docker image available (v5.1.1) and I confirm that your commit fixed the bug!

Thanks again!

[2022-06-02 16:40] matthanley commented on #13715
Yes, a query param (`?ref=`) is required for theme installation in Admin - thanks for the feedback, and I'm pleased you resolved your issue.

I'll close this for now as the previous report was over 6 months ago, but happy to reopen if anyone else is still experiencing the same problem.

[2022-06-02 16:40] #13715 closed

[2022-06-03 13:04] ErisDS commented on #14882
I've updated the OP here to be clearer that we need to remove catch predicates first, and why as there have been a couple of PRs that missed that detail.

[2022-06-03 15:04] #14014 closed

[2022-06-03 20:50] valensto opened #14967 "Env variable with docker"

[2022-06-03 21:03] #14967 closed

[2022-06-05 13:57] hndrk-themer opened #14968 "Editor On Mobile (Android) is unusable"
### Issue Summary

I can't really use the Ghost Editor on my phone. It's limited like here [#14948](https://github.com/TryGhost/Ghost/issues/14948), but it also acts weird dependent on the Browser I'm using.

### Steps to Reproduce

Fennec Browser: (Firefox Mobile)
1. Open a new Post on your Phone.
2. Type # to create a new headline.
3. Type Headline

= Weird text gets multiplied everywhere. Even

[2022-06-05 14:17] hndrk-themer commented on #14968
its not so weird on different mobile browsers, it seems like the editor is also incompatible with mobile keyboards.

For example hitting the Enter Key on GBoard leads to just close the Keyboard, but not a new paragraph. The AOSP-Keyboard can create a new paragraph with the enter key, but when hitting the "back" key to remove a text the keyboard is closing.

[2022-06-07 15:10] #14020 closed

[2022-06-07 21:20] BirbEXE commented on #14968
there were so many bugs with the mobile editor that I couldn't include them in my issue (#14948)
the mobile experience needs a LOT of refining
honestly though, text editing on browsers is so hard to get right I think that a mobile app for ghost might be an overall better option

[2022-06-08 09:44] Emmanuel-Melon commented on #14882
Apologies for the delay, I've been away for a bit. Resuming working on this task today.

[2022-06-10 15:05] #14101 closed

[2022-06-10 15:15] jmaitrehenry commented on #14362
You can also use `ssl: {minVersion: 'TLSv1.2'}` if you do not want to put the CA.

[2022-06-11 21:44] vivgui commented on #12031
would love an update on this too

[2022-06-13 13:34] Majirefy opened #14973 "Error when parsing bookmark cards"
### Issue Summary

When I copy a URL to my post and it turns to Bookmark card automatically.
But for some site(e.g. some Chinese site), it fails to parse correct content with error encoding. Some fails to fetch icon and thumbnail preview. It’s not site problem, I am sure there is something wrong with Ghost cause I can get these correctly in other CMS system.

### Steps to Reproduce

Please try to

[2022-06-14 09:04] tsubasa-majid opened #14974 "The submission page for new themes not working"
### Issue Summary

Hi,
The submission page for new themes not working, even though I check all theme requirements, the button submit still not showing.

<img src="https://aws1.discourse-cdn.com/business4/uploads/ghost2/optimized/3X/a/5/a56cad8eacd3ca1bbdc80e4f26a3ba049b4485a7_2_260x500.jpeg" alt="">
Thanks.

### Steps to Reproduce

1. I expect that the submit button will apear when I check all the

[2022-06-14 13:46] luytendries opened #14975 "‘ copyError is not a function’ on request for new staff member password"
### Issue Summary

When requesting a new password via the “Forgot?” link on the backend login page /ghost staff users get the message ‘copyError is not a function’ and nothing else happens.

### Steps to Reproduce

1. Go to the admin login page
2. Click “Forgot?” after entering your password and Password (you thought you still remembered)
3. The message “copyError is not a function” appears beneat

[2022-06-14 14:40] #14975 closed

[2022-06-14 14:40] luytendries commented on #14975
I was the bug. Not Ghost. Sorry!

[2022-06-15 12:59] pelmers commented on #14948
just a heads-up I sent a pull request for this issue at https://github.com/TryGhost/Admin/pull/2417

[2022-06-15 21:43] biswajit-saha commented on #14278
I can see the files in the `content/public` folder on Linux but on Windows the folder is empty. These two files are not being created on Windows.

[2022-06-16 13:29] secondmanveran opened #14976 "Invalid database host"
### Issue Summary

Ghost will not connect to new MySQL 8 database server after updating DB host and password.

### Steps to Reproduce

1. Created new MySQL 8 freestanding DB server to facilitate upgrading to v5
2. Imported tables from MariaDB server.
3. Updated config.production.json fields db host and db password
4. Attempted to restart Ghost
5. Ghost fails with the following error:

Expectation

[2022-06-17 19:08] miloradb-podium opened #14978 "Meta tags missing on pages that are not the 1st page"
### Issue Summary

There are Twitter and OpenGraph tags missing when you go further from the first page.
I have {{ghost_head}} imported correctly in my .hbs file. On the fedault(1st page) everything works fine(you can see in the image below
![Screenshot_2](https://user-images.githubusercontent.com/105811684/174386459-18668e33-19ff-4e40-9fe7-8878634b1075.png)
)
But when I go to the second page of t

[2022-06-18 15:24] jaller94 commented on #14920
Every couple of months I have issues with the configuration of Mailgun in Ghost – where it seems to stop working all of a sudden. I likely changed the configuration, but I don't have a history of when which config was deployed.

[2022-06-18 15:32] jaller94 commented on #14920
A [private key](https://app.mailgun.com/app/account/security/api_keys)?
The Ghost documentation says to get an SMTP password from the Domain Settings.
https://ghost.org/docs/config/#create-a-mailgun-account

[2022-06-18 15:42] jaller94 opened #14979 "Secure connection to Mailgun fails: ssl3_get_record:wrong version number"
### Issue Summary

E-Mails cannot be sent via a secure connection on my Ubuntu 20.04 installation.

### Steps to Reproduce

1. Configure your `mail` setting like this:
[code]

2. Subscribe to get an e-mail or send a test newsletter.

### Ghost Version

5.2.3

### Node.js Version

v16.15.1

### How did you install Ghost?

Ubuntu 20.04

### Database type

MySQL 8

### Browser & OS version

_No respo

[2022-06-18 15:43] jaller94 commented on #14920
Ah, I though this was about the config.production.json.
I now found the field for a Mailgun Private API key at https://jenniferpfalzgraf.de/ghost/#/settings/newsletters

[2022-06-18 18:11] arsereg opened #14980 "Tenor V1 API has been decomissioned, unable to load Gifs from editor."
### Issue Summary

Whenever trying to insert a gif from Tenor on the editor, the error "Unable to connect to Tenor, please check your connection" intermittently appears. The reason for this is that Tenor V1 API has been deprecated and migrated to a Google Api.

### Steps to Reproduce

1. Start writing a Post or a new Page
2. on the editor enter the `/tenor` command to open the GIF Search card
3. T

[2022-06-18 19:09] benjaminrancourt opened #14981 "Empty sitemap if a taxonomy is removed"
### Issue Summary

By deleting a taxonomy from the `routes.yml` file, the deleted taxonomies pages are not generated, but their respective sitemap are. They are empty, but some tools like Google Search Console warn users that their sitemap is wrong because it's empty.

Example of my [website](https://www.benjaminrancourt.ca/sitemap.xml), where I've disabled the `authors` taxonomy.
[code]

![image]

[2022-06-19 01:45] brvnnghi commented on #13451
I faced this bug while using web-hook with Zapier and Algolia.

I use Ghost(Pro) and I can't modify server files. Is there any work-around?

I would like to keep updated on this bug. Added to notification.

Thanks.

[2022-06-22 20:03] jonashaefele commented on #14979
I'm having the same problem. I tried it with and without the `"secure" : true` flag in the options.

My mail config looks like this:
[code]

Ubuntu 20.04.4 LTS
Node 16.5
Ghost v5.2.3

[2022-06-24 18:00] benjaminrancourt opened #14983 "[Content API] Url set to 404 for tags when using multiple fields"
### Issue Summary

When using multiple [fields](https://ghost.org/docs/content-api/#fields) on the Content API, the tag URLs are set to `https://demo.ghost.io/404/` instead of their corresponding URL.

### Steps to Reproduce

✅ https://demo.ghost.io/ghost/api/content/tags/?key=22444f78447824223cefc48062&filter=visibility%3Apublic&fields=name

[code]

✅ https://demo.ghost.io/ghost/api/content/tags/

[2022-06-29 14:02] massix opened #14990 "ECONNRESET when connecting to Azure MySQL for Database"
### Issue Summary

Hello there,
we have been using ghost version 4.37-alpine deployed in an AKS (Azure Kubernetes Service) in our Azure's Environment for a while now. Ghost itself connects to an Azure MySQL Database version 8 and everything is fine and has been running for a while now (more than an year).

We would like to migrate to Ghost version 5 but we are facing a major issue, which seems to

[2022-06-29 17:57] tcmonster opened #14991 "Always failed when installing ghost locally with an error message: Cannot read properties of undefined (reading 'statusCode')"
### Issue Summary

✔ Checking system Node.js version - found v16.13.0
✔ Checking current folder permissions
✔ Checking memory availability
✔ Checking free space
✖ Checking for latest Ghost version
An error occurred.
Message: 'Cannot read properties of undefined (reading 'statusCode')'

Debug Information:
    OS: macOS, v12.4
    Node Version: v16.13.0
    Ghost-CLI Version: 1.21.0
    Environment:

[2022-06-29 20:05] vgrosdoy opened #14992 "Server installation fail: Command failed: yarn install --no-emoji --no-progress"
### Issue Summary

I have the same issue today as the issue #696 , whatever the ghost version (I tried 4.39.0 - 4.48.0 - 4.48.2 - 5.2.3)

docspriv@srv002:/var/www/docspriv/docs.priv$ ghost install 4.39.0

Love open source? We’re hiring Node.js Engineers to work on Ghost full-time.
https://careers.ghost.org/product-engineer-node-js

✔ Checking system Node.js version - found v16.15.1
✔ Checking logg

[2022-06-29 23:53] ben-clearhead commented on #14990
I'm running into the exact same issue and was about to open a ticket when I found this one.
I also tried enabling debug flags with the env variable `DEBUG=*` and by adding `debug: true` under `connection` in the json settings. I didn't find anything interesting this way.

The bit that crashes is under `boot.js`:
[code]
In my case it is crashing at `databaseInfo.init()`. What I found interesting is

[2022-06-30 16:37] dznicol opened #14993 "Unable to implement security advisory GHSA-7v28-g2pq-ggg8"
### Issue Summary

Due to the issue upgrading through 4.44 described here:

https://github.com/TryGhost/Ghost/issues/14516

Any site running MariaDB would appear not to be able to implement security advisory GHSA-7v28-g2pq-ggg8.

Security advisory GHSA-7v28-g2pq-ggg8 is resolved in version 4.48.2, but we are experiencing the same ER_TOO_BIG_ROWSIZE issue as is described in #14516

### Steps to Rep

[2022-07-02 03:54] tcmonster commented on #14991
I found that something error with my network connection
and i fixed this issue by configuring a proxy

[2022-07-02 03:54] #14991 closed

[2022-07-02 13:48] altyne opened #14995 "Cannot connect to database"
### Issue Summary

Stop after starting the image.

But you connect manually using CLI or any database clients I was able to connect.

MariaDB 10.5.16

### Steps to Reproduce

1. Install the image from Unraid community application - bitnami/latest
2. Start the image

### Ghost Version

bitnami/ghost:latest 5.2.3

### Node.js Version

14.19.3

### How did you install Ghost?

Thru Unraid community ap

[2022-07-02 22:14] doncabreraphone commented on #14278
That's the thing, right? They are not being created by windows for some reason, although the code to create them exists.

[2022-07-03 21:55] devnied commented on #14990
This issue is related to the new library (mysql2) used into Ghost since the version 4.38 to communicate with mysql. https://github.com/TryGhost/Ghost/pull/14258.

The latest version (2.3.3) of the library mysql2 still have an issue with Azure Database Single Server.
This issue is now fixed in the main branch of the library but not yet released (see https://github.com/sidorares/node-mysql2/pull/143

[2022-07-04 13:41] daniellockyer commented on #14993
Hey @dznicol - please see the docs here for the recommended fix to your database: https://ghost.org/docs/faq/troubleshooting-mysql-database/#error-er_too_big_rowsize

[2022-07-04 13:41] #14993 closed

[2022-07-04 13:47] daniellockyer commented on #14990
@devnied Thanks for the reference - I've pinged on that PR to see if we can get it released 🙂

[2022-07-04 13:52] daniellockyer commented on #14976
@secondmanveran This sounds like a configuration issue. What did you have in your `database.connection.host` config value and can you connect to it using those credentials?

[2022-07-04 13:58] daniellockyer commented on #14974
Hey @tsubasa-majid, thanks for the report - we'll take a look. I'll close this for now as it doesn't relate to Ghost-as-software.

In the mean time, could you tell us which browser and browser version you're using? 🙂

[2022-07-04 13:58] #14974 closed

[2022-07-04 14:07] tsubasa-majid commented on #14974
Hey @daniellockyer, I use Google Chrome and Firefox (Latest version)

[2022-07-04 14:09] tsubasa-majid commented on #14974
It's working now. Thanks

[2022-07-04 15:27] reraxe opened #14999 "[ERROR] "Schedule for later" on publishing does not work"
### Issue Summary

I scheduled a post, and it did not publish on the date/time of scheduling.

I have tried publishing 5 minutes advance and it did not work.

Regular publishing works, not scheduling.

### Steps to Reproduce

On Posts/Drafts/blog/editor

1. Publish
2. Schedule for later
3. In 5 minutes (In my case, I tried to schedule a week in advance)
4. Continue, final review
5. Publish post, o

[2022-07-05 05:54] dznicol commented on #14993
Hi @daniellockyer similar to OP from #14516 row format is already DYNAMIC:

[code]

David

[2022-07-05 07:30] ErisDS commented on #14999
The scheduling functionality works by Ghost sending an HTTPS request to itself to trigger the publish. Scheduling is working in general, therefore I assume this is related to your docker setup and the issue there (or posting on the forum) would be the best way to get useful support from other docker users 🙂

[2022-07-05 07:30] #14999 closed

[2022-07-05 07:31] ErisDS commented on #14995
This looks like something Bitnami specific. I recommend posting in the [Bitnami repo](https://github.com/bitnami/bitnami-docker-ghost/issues) (shown in the error logs you pasted) in order to get support from other Bitnami users who will more likely be able to help you.

[2022-07-05 07:32] #14995 closed

[2022-07-05 08:48] #14979 closed

[2022-07-05 11:51] matthanley commented on #14983
Closing as a dup of https://github.com/TryGhost/Ghost/issues/10396, because it's the same underlying issue.

[2022-07-05 11:51] #14983 closed

[2022-07-05 14:23] GrigoriySchetintsev opened #15000 "Custom pagination not work on next page, but default pagination worked on next page"
### Issue Summary

Custom pagination not work on next page, but default pagination worked on next page.

### Steps to Reproduce

Example FAQ page
[code]
1. Run on as default pagination template. First page - Ok, second page - Ok.
2. Create custom pagination.hbs like default
3. Run on custom pagination.hbs. First page - Ok, second page - not ok (blank #get)

### Ghost Version

5.2.4

### Node.js Ve

[2022-07-06 15:57] #10396 closed

[2022-07-07 12:49] ErisDS opened #15007 "Cannot get reading time from API via ?fields param"
### Issue Summary

When making a request to the Content API for posts and including `reading_time` as a field, it is not returned.

### Steps to Reproduce

Request the demo site with `reading_time`:

https://demo.ghost.io/ghost/api/canary/content/posts/?key=22444f78447824223cefc48062&fields=title,url,reading_time

Note that it does work if you include the `html` field, which reading time is calcul

[2022-07-07 15:23] JohnONolan opened #15008 "Update UI/UX for deleting staff users"
### Issue Summary

In 5.0 we changed the behaviour of what happens when staff users are deleted in admin.

Before: We downloaded a full site backup, then deleted the user and all their posts
Now: We transfer the posts of the deleted staff user to the owner user

However, there are still some left-over rough edges.

## 1. Messaging and copy is out of date

<img width="661" alt="Screenshot 2022-07-0

[2022-07-08 04:05] mahyarmirrashed commented on #13715
Had this problem but as mentioned, it came from the ClearURLs extension.

[2022-07-08 08:21] naz commented on #15008
Re `We no longer need to download a site backup`. Do we still want to run the backup of the site on the server before the transfer happens? My thinking it yes, to back us up from any errors during reassignment - we should not need it in 99.9% of the time, but still things could fail and then we'd be in a pickle. @ErisDS does this sound good?

[2022-07-08 09:04] naz commented on #15008
@JohnONolan re  tagging all transferred posts. What the behavior should be when the removed user is a co-author on the post? With the primary author it's pretty clear - adding a tag show's they used to be primary author, adding same tag for co-authors would make things confusing I think.

Possible solutions (speaking out loud):
- do nothing. do we care about someone being a co-author?
- add a uniq

[2022-07-08 09:29] prschulz commented on #15008
^ Re: the previous two comments -->

- Back up on the server is a great idea.
- Do nothing for co-authors.

Re: the copy -->
<img width="584" alt="CleanShot 2022-07-08 at 11 26 27@2x" src="https://user-images.githubusercontent.com/4165449/177962148-26e78c0c-37f4-4fb0-a051-a16770752db3.png">

I was editing in the inspector so posting the html.
[code]

@peterzimon - is going to come up with a light

[2022-07-08 18:18] secondmanveran commented on #14976
@daniellockyer

I use the internal network IP for my database server.

[code]

Same exact setup that was being used for version 4.32, but I had to turn up a new server since the version 5 only accepts MySQL 8, my previous server was MariaDB 10.6.

[2022-07-12 18:58] astab opened #15020 "Additional CSS in the Head tag which breaks theme CSS"
### Issue Summary

After upgrade to Ghost 5.3.0 I see that additional CSS has been added in the Head tag which breaks the theme style:

[code]
The demo of the theme I use: https://scriptor.justgoodthemes.com/

### Steps to Reproduce

1. Update to the latest Ghost version 5.3.0.
2. Use custom theme.

### Ghost Version

5.3.0

### Node.js Version

v14.19.0

### How did you install Ghost?

Digital Oc

[2022-07-12 19:51] VeloAddict commented on #15020
[code]
add this to your configuration and restart ghost

[2022-07-13 02:07] #15020 closed

[2022-07-13 02:19] rishabhgrg commented on #15020
@astab Thanks for reporting. This has been now patched and released in the bundled search script which was released in Ghost 5.3. The fix is auto applied on next page refresh, no action/change is needed from your side.

[2022-07-13 05:43] neilmfrench opened #15021 "No manifest for amd64 in 5.3 specific tags (Dockerhub)"
### Issue Summary

Only arm digests seem to be uploaded, but the latest tag seems to have the amd64 digest.

### Steps to Reproduce

1. Go to https://hub.docker.com/_/ghost?tab=tags
2. Look at the 5.3 specific images and check the digests

### Ghost Version

5.3.0

### Node.js Version

N/A

### How did you install Ghost?

Docker

### Database type

MySQL 8

### Browser & OS version

_No response_

[2022-07-13 08:06] daniellockyer commented on #15021
Hey @neilmfrench - the Ghost Docker image is a community effort and is not maintained by the Ghost Core team. You'll need to go and open an issue on their repo: https://github.com/docker-library/ghost

[2022-07-13 08:06] #15021 closed

[2022-07-13 09:55] emadotjar commented on #14450
@ErisDS I have the same problem using a Basic $6/mo droplet.
I'm adding some info to help you solve this issue, please, let me know if you need more investigation from my side.

Droplet
**CPU Type**: Shared CPU
**vCPU**: 1 vCPU
**Memory**: 1GB
**SSD**: 25GB
**Transfer**: 1TB

Ghost
**Ghost-CLI version**: 1.19.3
**Ghost version**: 5.2.3

As you can see attached to this message, a memory spike creat

[2022-07-13 11:05] #13451 closed

[2022-07-13 12:23] yannickcof opened #15025 "built-in site search functionality"
### Issue Summary

Doesn't seem to be working!
Do we need to enable something or ... ?

### Steps to Reproduce

upgrade to 5.3.1

### Ghost Version

5.3.1

### Node.js Version

1.21.0

### How did you install Ghost?

linux

### Database type

MySQL 8

### Browser & OS version

Chrome Version 103.0.5060.114

### Relevant log / error output

_No response_

### Code of Conduct

- [X] I agree to be fr

[2022-07-13 16:15] daniellockyer commented on #15025
Hi @yannickcof - the feature will work out-of-the-box if you've followed the docs: https://ghost.org/docs/themes/search/

If you need help setting it up, I'd suggest posting on the forum: https://forum.ghost.org/

[2022-07-13 16:15] #15025 closed

[2022-07-14 14:13] sanne-san commented on #15008
@naz styling of the internal tag is done ✅

[2022-07-15 23:50] mulander opened #15040 "Failed migration upgrading from 5.2.4<= to >=5.3.0"
### Issue Summary

I am upgrading several ghost installations from version 5.2.3 to the latest release 5.4.0.

First attempt failed:
[code]

I decided to roll release-to-release. Bumping from 5.2.3 to 5.2.4 worked fine, but whatever jump I try from 5.2.4 up it fails. Here is the log from 5.2.4 to 5.3.0 which is the next minimal jump:

[code]

Contents of the log file:

[code]

### Steps to Reprodu

[2022-07-16 11:26] AmreshSinha commented on #9565
Happened to me just today. I have 1 vCPU and 2 GB ram. CPU barely goes above 10%-15% but today the site hanged. I checked Htop, and it showed the node is using 100% CPU. I restarted the instance, and it got fixed.

But still, it's weird. I don't want my blog to just periodically hang.
I am running the latest Ghost version with MySQL on Ubuntu 20.04 (arm64).

[2022-07-16 22:25] Razzile commented on #12356
I am experiencing this on my blog. Were any solutions to this problem found?

[2022-07-18 00:43] girisreenivas commented on #15040
I'm having the exact same issue

[2022-07-18 08:27] ThomasArdal opened #15042 "Lazy loading images above the fold breaks CLS"
### Issue Summary

Lazy loading images in Ghost 4 is a nice improvement. But it looks to include a lazy loading attribute on all images and not just the images below the fold. Marking images shown above the fold with lazy makes Cumulative Layout Shift (CLS) in PageSpeed Insights break with the following message:

### Steps to Reproduce

1. Add a new image section in the top of a Ghost post.
2. The

[2022-07-19 07:45] daniellockyer commented on #15040
Hey @mulander & @girisreenivas 🙂

Given you have updated MySQL, I strongly suspect you're running into the same problem documented [here](https://ghost.org/docs/faq/troubleshooting-mysql-database/#error-er_cant_create_table-with-_foreign-key-constraint-is-incorrectly-formed_), although it's showing a slightly different error. Fixing the collation on the tables should fix it 🙂

[2022-07-19 10:26] PopChicken commented on #14662
I found all things about this feature are in a single file 'packages/string/slugify.js' under TryGhost/SDK repo. I believe simply changing its behavior into encodeURI should be a quick solution. In addition, it may be good to add some global config that enable some users using different languages to switch the behavior of slugify to encodeURI from default (as before), which also makes it transpare

[2022-07-19 22:44] wibed opened #15047 "EADDRINUSE https port is not available no matter where set"
### Issue Summary

i am currently using a reverse proxy to access ghost via https, but the installation runs on http.
it has been impossible to map a https port successfully for ghost as it returns the EADDRINUSE error and stops working.

this is a serious problem, because id like to use the portal feature.

i tried manually changing the port:
  which resulted in the same error as above

### Steps

[2022-07-20 06:07] girisreenivas commented on #15040
The more helpful link to resolve this issue is to follow the MySQL 5 to 8 upgrade steps here (which I found out too late): https://ghost.org/docs/faq/supported-databases/

[2022-07-20 07:16] #15047 closed

[2022-07-20 07:16] ErisDS commented on #15047
I recommend trying bitnami's own community to get help with this issue.

[2022-07-20 11:22] tonilampela opened #15049 "Post previews have unformatted markdown"
### Issue Summary

Not sure when this got broken, but after updating to 5.4.1 I noticed that on my blog's home page post preview texts display unformatted markdown - e.g. clickable URLs are not showing etc. Tried with different themes (including Casper) and the issue remains.

### Steps to Reproduce

1. Update to latest version of Ghost
2. Witness that your post previews display markdown unformatt

[2022-07-20 16:20] hkrsmk opened #15054 "Profile pictures with transparent background still shows picture-less background"
### Issue Summary

When I uploaded a profile picture to the author profile (in /author) with a transparent background, the original default picture for picture-less profiles still shows behind it.

This is my first time adding a picture for this profile, so I'm not sure which of the scenarios below will occur when changing a display picture:
1. Picture A gets swapped out for picture B that has som

[2022-07-21 10:42] tonilampela commented on #15049
Think I figured this out... At some point posts had been converted into markdown "blocks" when viewing them in the editor. Cutting the text, removing the markdown block and then pasting text back into editor fixed the issue.

[2022-07-21 22:35] raulmar0 commented on #15007
I have the exact problem. I've seen that when you request some specific fields you need to try with slightly different names than the ones marked on the fields from the GET/posts response. For example, in the GET/posts response it is marked "tags" in plural but when you add the "&fields" to the request you need to put "tag" in singular. Although I haven't found the correct name for reading_time.

[2022-07-22 06:09] emmanuelky opened #15062 "Adding new subscriber and sending email confirmation not working"
### Issue Summary

So i tried to add a new subscriber using this Ghost magic link endpoint ${process.env.NEXT_PUBLIC_URL}/members/api/send-magic-link/

The post status was success with (201) but no member was added and no email was sent.

<img width="559" alt="Screenshot 2022-07-22 at 09 25 19" src="https://user-images.githubusercontent.com/40471024/180386546-1eb372ce-3d07-4b2e-b303-4fb50d9a6e04.p

[2022-07-22 07:00] HaziFlorinMarian opened #15063 "Ghost process die once a few days at midnight"
### Issue Summary

Hello!

We have been using Ghost for several months and it has happened to us several times (in random periods as can be seen in the screenshot below), that we do wake up in the morning with the blog inaccessible until the process is restarted.

![Screenshot from 2022-07-22 09-54-00](https://user-images.githubusercontent.com/74735231/180381913-6b019119-1ef2-4a6a-aad7-093379b8c7d

[2022-07-22 11:23] rusty1281 opened #15066 "Potential Search (speed) problem"
### Issue Summary

Hello!

Just wanted to see if anyone has a similar experience with the new search functionality. It works great no problem at all, but I did notice that since moving to 5.3.1 the other day, all of my instances behave the same (regardless of the browser or device).

What happens is that if I invoke search over a keyboard shortcut or a button/link it can take up to 20-30 seconds f

[2022-07-23 01:21] AkkuratSoftware commented on #11129
Ghost 5.4.1
Ubuntu 20.04

Was receiving the same 502 Error.

Resolved it in the following way.

 cd var/www/blog/versions/5.4.1/node_modules <replace blog with your instance directory>
 rm -R sharp
 npm install sharp@0.24 --force <--force flag is needed as there is are dependency issues>

Did a ghost start and problem is resolved re: Image uploads. I will edit this post if I encounter any addition

[2022-07-23 14:06] #15062 closed

[2022-07-24 06:55] travisjroark opened #15086 "EVERY SINGLE FOLDER: Current directory is not empty, Ghost cannot be installed here."
### Issue Summary

Following your instruction https://ghost.org/docs/install/ubuntu/ for Ubuntu, when installing through the CLI I get the following message,

$ /home/ghost/web/blog.revrebel.io/node_modules/.bin/ghost install

A SystemError occurred.

Message: Current directory is not empty, Ghost cannot be installed here.

Debug Information:
    OS: Ubuntu, v20.04.4 LTS
    Node Version: v16.13.0

[2022-07-26 07:54] daniellockyer commented on #15066
Hey @rusty1281 👋🏻 I believe this issue was opened when unpkg, the CDN we use to serve the search JS script, was having issues. In Ghost v5.5.0, we've switched to jsDelivr, which is a much bigger CDN with more redundancy.

If you'd like to update Ghost to v5.5.0, downtime of the search script should now be much less likely. 🙂

[2022-07-26 07:54] #15066 closed

[2022-07-26 08:13] rusty1281 commented on #15066
Tnx for the info! Waiting for the docker image update!

[2022-07-26 12:56] ErisDS opened #15099 "🚧 Monorepo - disruption to install from source / development workflows"
Hey everyone 👋

A big heads up, we're actively working on changing Ghost into a monorepo - it's done but the cleanup and fallout is not handled yet.

As such, the documentation for [install from source](https://ghost.org/docs/install/source/) is out of date, and many of our tools don't work quite how they did a week ago.

If you urgently need a hand to get a source install working, let us know. Ot

[2022-07-26 14:23] #15086 closed

[2022-07-26 14:23] ErisDS commented on #15049
Glad you figured it out 🙂

[2022-07-26 14:23] #15049 closed

[2022-07-26 14:26] ErisDS commented on #14981
Hey there, thank you so much for the detailed bug report.

That does look like something that shouldn't happen! A PR to fix this issue would be very welcome 🙂

[2022-07-26 14:39] ErisDS commented on #15042
I am not sure how we would approach calculating what is/isn't above the fold, given that Ghost has custom theme support. This seems to me like it's really an issue with the browser's interpretation / implementation of lazy-load (after all - in a dynamic contact environment the browser has a more information than the server about how content is going to render).

However, I'd love to hear any ideas

[2022-07-26 14:41] ErisDS commented on #14973
Hey there, thank you so much for the detailed bug report.

That does look like something that shouldn't happen! A PR to fix this issue would be very welcome 🙂

[2022-07-26 14:43] ErisDS commented on #15063
Do you have multiple Ghost instances running on the same server, or anything other than Ghost working with the log files? I've seen issues like this but only in those two cases.

You've had this happen multiple times as well, is it always failing with the same error?

[2022-07-26 14:47] ErisDS commented on #14920
Have you managed to get to the bottom of this?

[2022-07-26 14:48] ErisDS commented on #14980
Thank you for reporting this, we'll take a look at the PRs ASAP.

[2022-07-26 14:49] ErisDS commented on #14978
Hi @miloradb-podium, thanks for the report. What you're describing is expected behaviour, as having duplicate meta on the subsequent pages would be bad for SEO.

[2022-07-26 14:49] #14978 closed

[2022-07-26 14:53] ErisDS commented on #15000
Hi @GrigoriySchetintsev thanks for the report.  Pagination applies to a set of pages at the routing level, the get helper fetches data to render inside a portion of a page. Therefore the pagination helper is not expected to work inside of a get helper call.

It sounds like what you're looking for is actually [dynamic routing](https://ghost.org/docs/themes/routing/) and probably a custom collection

[2022-07-26 14:53] #15000 closed

[2022-07-26 14:54] ErisDS commented on #12356
I am going to lock this for comments, as the last comment I wrote details what has happened, why and what the solution is.

[2022-07-26 14:58] ErisDS commented on #12031
I'm closing this, as we decided on a different direction for how to implement stats.

We now have two new helpers [`{{total_members}}`](https://ghost.org/docs/themes/helpers/total_members/) and [`{{total_paid_members}}`](https://ghost.org/docs/themes/helpers/total_paid_members/) which cover off the most important use-cases, and in a way that's more performance than the original plan.

[2022-07-26 14:58] #12031 closed

[2022-07-26 15:07] ThomasArdal commented on #15042
I totally understand why it is not possible to make this dynamic. Maybe a setting on the image when uploading it on Ghost and including it in the post.

[2022-07-26 15:12] ErisDS commented on #14990
I've pinged upstream again to see if we can get this resolved.

[2022-07-26 15:19] ErisDS commented on #14735
On second thoughts with this - I think this issue is specific to the docker setup.

It seems either the config file incorrectly has a mix of mysql & sqlite3 config, OR that the docker image is being run in development mode which pulls in the default sqlite3 config and then overriding that with a mysql DB.

If you're intentionally using docker for development that's fine, then you can simply ignore

[2022-07-26 15:19] #14735 closed

[2022-07-26 16:18] ErisDS commented on #15042
This is not the kind of thing we put into the UI because the majority of our users are non-technical and wouldn't know what to do with it.

[2022-07-26 19:32] ThomasArdal commented on #15042
Yeah, I guess you're right. Not sure how this could be done. Let's close.

[2022-07-27 07:00] GrigoriySchetintsev commented on #15000
Hi @ErisDS sounds very strange...
But the pagination helper works in the get helper, not the user one, but the base one!

Only the custom pagination does not work.

No, I'm not interested in dynamic routing or collections (this is just used in a collection), I need to page out a large amount of articles and use a custom **pagination.hbs** for this.

Perhaps you need to explain why basic pagination

[2022-07-27 09:39] ErisDS commented on #14948
Hey @pelmers - Thank you for the report and for your PR. The PR has been merged, hopefully this is fixed now :)

[2022-07-27 09:39] #14948 closed

[2022-07-27 09:39] GrigoriySchetintsev commented on #15000
@ErisDS Perhaps I will repeat myself, but why then does pagination work correctly in the get helper if I do not create a custom component pagination.hbs?

The paginator installed in the get works correctly if you do not create your own pagination.hbs!!! Page transitions work!

So far I don't see an answer to this question.

[2022-07-27 09:40] ErisDS commented on #15000
If you need further help with how Ghost works, please use the [forum](https://forum.ghost.org/).

[2022-07-27 09:42] ErisDS commented on #15042
Cool ok - I'm totally all ears for any suggestions anyone comes up with for how to solve this - but I am fairly sure this is one of those things that either requires additions to the spec for lazy loading or the browsers will have to sort amongst themselves.

[2022-07-27 09:42] #15042 closed

[2022-07-27 09:43] GrigoriySchetintsev commented on #15000
It is a pity that the developers themselves are not able to explain why the product they have created works the way they say it should not work and send it to the forum ... not very friendly.

Thanks to.

[2022-07-27 10:42] ErisDS commented on #15000
You raised a bug which is not a bug, and I have closed it with a clear explanation (twice) that it is not a bug and why. That is what GitHub is for - managing bug reports and contributions.

You're asking for support to understand how the product works and why, which is great, but that conversation belongs in the community of users on the forum. It does not belong here in GitHub where it is active

[2022-07-27 10:46] ErisDS commented on #14662
@PopChicken you're correct, if we're going to change the slugify package we need to be extremely careful, as it is fundamental to many parts of Ghost.

We'd need to test the changes everywhere it's used, making sure that standard Ghost setups with Ghost CLI can handle the changes to data stored in the DB and the characters in the URL.

It's not a small piece of work :)

That being said, I'm very k

[2022-07-27 10:57] ErisDS commented on #14968
For this reason, Ghost is not developed with mobile editing in mind - it does work fairly well on iOS devices, but that's almost by accident. There are no touch events in the editor for example.

There are also upstream issues with mobile editing that we'd need resolved, before the mobile editing experience could reach the desktop experience, for example [this one](https://github.com/bustle/mobile

[2022-07-27 11:27] ErisDS commented on #14635
@berayb that's a different issue, posted here: https://github.com/TryGhost/Ghost/issues/14990

[2022-07-27 11:46] ErisDS commented on #9565
Hey @AmreshSinha - maybe you could share some more details - ideally on the forum? This is very unlikely to be related to an issue in Ghost from 2018.

[2022-07-27 15:43] fueko opened #15104 "Confusing redirection to /signin/ and /signup/ after clicking on the magic link"
### Issue Summary

The idea of the change introduced in version 5.4.0 => https://github.com/TryGhost/Ghost/commit/e60806de45ddaff66c13e5806afd21ea6425c503 is very useful for Portal, but in certain situations it creates confusion among users.

If someone signs in or registers from a custom /signup/ or /signin/ page, after clicking on the magic link, they end up on the /signup/ and /signin/ page aga

[2022-07-27 17:17] hkrsmk commented on #15054
Got it, thanks! This was in Attila.

[2022-07-28 01:57] DillFrescott opened #15109 "Ghost docker container exits when trying to upload admin profile cover photo."
### Issue Summary

Ghost docker container exits when trying to upload admin profile cover photo.

### Steps to Reproduce

1. Try to upload cover photo as main admin.
2. Docker container exits

### Ghost Version

5.5.0 (I think) It's just the latest container as of this post.

### Node.js Version

I would assume 18 but I have no idea what version it runs internally. I'm sorry!

### How did you inst

[2022-07-28 02:00] DillFrescott commented on #15109
Update: No error in the docker container, just a clean exit

[2022-07-28 16:11] ErisDS commented on #15054
Ok great - Atilla is not an official theme, but I see you already found where to [post the issue](https://github.com/zutrinken/attila/issues/230) :)

[2022-07-28 16:31] ErisDS commented on #15109
Hi there @DillFrescott - the Ghost Docker image is a community effort and is not maintained by the Ghost Core team. You'll probably be better off opening an issue on their repo: [docker-library/ghost](https://github.com/docker-library/ghost).

[2022-07-28 16:31] #15109 closed

[2022-07-28 16:32] ErisDS commented on #15104
Hey @fueko I know we still have a few tickets open around this internally, so I'll talk to the team and see what we can do to alleviate this.

[2022-07-28 22:47] stuartpb commented on #13421
For comparison, the maximum length for alt text on Twitter is 1000 characters: https://help.twitter.com/en/using-twitter/picture-descriptions

[2022-07-29 09:20] anaclumos commented on #14662
Small side note, this was a dealbreaker for me and made me move away to other frameworks.
A much bigger global audience will feel this problem.
Alas, the global population is 6 times bigger than English sprachraums!
I am sure Ghost can tap into a much bigger international market if it properly supports i18n.

[2022-07-29 15:59] juanramollino commented on #14990
Thanks, @ErisDS. Happy to test out whatever we can. I tried debugging Knex and even mysql2 but it's becoming very complex. That said, I'm happy to guinea pig theories.

[2022-07-31 19:00] cathysarisky opened #15120 "FIlter=featured:true retrieves a 'bonus' item?"
### Issue Summary

Using   {{#get "posts" filter="featured:true" }} is getting one item that is not featured.

### Steps to Reproduce

This is a fresh today local install of Ghost.  Then I copied in the edge theme and made modifications.  I'm trying to create a front page that retrieves only featured posts.

Here's my home.hbs file:
[code]

loop is unchanged from the edge theme.

I thought perhaps

[2022-07-31 19:12] cathysarisky commented on #15120
Perhaps related, adding limit=3 gets me the three featured posts plus the 'bonus' post, so limit isn't being respected either?

[2022-07-31 19:24] cathysarisky commented on #15120
My apologies - I blew away the database (using the built in reset) and image files, and now the problem doesn't occur on new data.  Given this was a development server with imported data, I reckon this is too much of an edge case to pursue further.

[2022-07-31 19:24] #15120 closed

[2022-08-01 12:45] #14323 closed

[2022-08-03 06:30] anujdeshpande opened #15133 "Port should be 465 for secure emails in config.production"
### Issue Summary

https://ghost.org/docs/config/#mail

Above documentation says that after adding secure as true, and setting the port should be 587. That doesn't work and it throws a ssl version error in the logs.

### Steps to Reproduce

1. Set up new ghost instance
2. Connect mailgun
3. Configure mailgun with https://ghost.org/docs/config/#mail
4. Opt for secure connection

### Ghost Version

[2022-08-03 13:17] ErisDS commented on #14980
Hey @arsereg thank you for bringing this to our attention & taking the time to get the ball rolling on the changes required. !

@markstos thanks to you too for asking all the important questions about the changes, this made it easier for us to review the PR :)

The first part is merged, the second part will be merged later this week after we merge admin into the monorepo, and before Friday's autom

[2022-08-03 20:06] joseftw opened #15162 "Disable "sodo-search" (Premium Search)"
### Issue Summary

I updated my ghost instance and now the following javascript file are loaded:

[code]
I assume that this is related to the new search feature: https://forum.ghost.org/t/native-search-ghost-changelog/31303
I don't want to use this feature, how do I disable it so that Ghost doesn't load this JS file?

### Steps to Reproduce

- Update Ghost to the latest version
- Navigate to home

[2022-08-04 07:51] CSalih opened #15165 "Avatar overlaps with the initials"
### Issue Summary

The avatar overlaps with the initials when a Gravatar image is assigned to an email. This happens only in the members (`/ghost/#/members`) page.

![ghost-avatar](https://user-images.githubusercontent.com/17460013/182793601-bef1ed21-70d1-42db-a042-8c9bd99f2e52.png)

### Steps to Reproduce

1. `docker run --rm --name some-ghost -e url=http://localhost:3001 -p 3001:2368 ghost:5.7.0

[2022-08-04 11:56] paulcarroty opened #15171 "Broken npm dependency"
### Issue Summary

`tryghost-adapter-manager` is broken.

[code]

Working fine with ghost 5.4.

### Steps to Reproduce

^

### Ghost Version

5.7.0, 5.7.1, 5.6

### Node.js Version

16.16

### How did you install Ghost?

^

### Database type

SQLite3

### Browser & OS version

_No response_

### Relevant log / error output

_No response_

### Code of Conduct

- [X] I agree to be friendly and polit

[2022-08-04 12:47] daniellockyer commented on #15171
Hey @paulcarroty - installing Ghost as a package in this way is not a supported method. Please use Ghost-CLI to install it 🙂

[2022-08-04 12:47] #15171 closed

[2022-08-04 18:41] oxscience commented on #15104
+1. Would love to see a solution soon :-), thanks!

[2022-08-05 10:07] #15162 closed

[2022-08-05 10:11] ErisDS commented on #15162
Exact details can be found here: https://forum.ghost.org/t/is-it-possible-to-disable-jsdelivr-cdn/31761/6

[2022-08-05 11:13] #14980 closed

[2022-08-05 11:31] ErisDS commented on #14980
Thanks again for this @arseg & @markstos. These changes will be in the next release of Ghost & changes to docs will go live shortly.

[2022-08-05 11:33] joseftw commented on #15162
Thank you @ErisDS .
Going forward, it would be awesome if new features could be enabled/disabled in the admin, maybe in the Labs section? Thank you again! :)

[2022-08-05 12:57] #15165 closed

[2022-08-05 14:01] ItsIgnacioPortal opened #15188 ""toggle" sections don't render/work correctly"
### Issue Summary

When editing a post, there's an option to add a "Toggle" section. They don't seem to render correctly neither in Chromium nor in Firefox. They only look normal when viewed from the editor.

A "Toggle" section as viewed in the editor from Firefox 103.0.1
![2022-08-05 10_53_45-Window](https://user-images.githubusercontent.com/46269721/183091878-3ec1e38f-9728-4720-8326-6f80facaca04

[2022-08-05 15:07] ErisDS commented on #15099
Some updates:

The [install from source](https://ghost.org/docs/install/source/) documentation has now been updated.

We've now merged the previously-separate [Ghost-Admin](https://github.com/TryGhost/Admin) repo into this monorepo - it lives at `ghost/admin` instead of being a submodule.

This makes it significantly easier to get a source install off the ground and to [contribute to ghost](https:

[2022-08-05 23:29] aysark commented on #14990
Running into same issue :/

[2022-08-06 03:29] rbtnn commented on #15099
Excuse me. How we make a zip file from this Monorepo? I used following commands and installed the custom build.

[code]

[2022-08-06 12:26] anujdeshpande opened #15189 "Instance becomes unresponsive after `email-analytics-fetch-latest` uses up all the cpu"
### Issue Summary

2 days in a row, my ghost site became unresponsive. After checking the logs, I see that the there's a service that's being started again and again.

Happy to help figure what might be going on here!

### Steps to Reproduce

1. Create an AWS Lightsail instance
2. Configure mailgun keys
3. Check that everything works and let the site be for 2 days

![image](https://user-images.git

[2022-08-06 12:29] anujdeshpande commented on #15189
I pasted the logs before I reboot in the message above, the logs when this first started happening are below

[code]

[2022-08-06 12:32] anujdeshpande commented on #15189
On closer look, some of the logs in the middle have a ECONNREFUSED

[code]

[2022-08-06 12:36] anujdeshpande commented on #15189
Also, mailgun shows everythings working fine at their end
![image](https://user-images.githubusercontent.com/969376/183249177-bb9cde9f-ced8-44fa-b386-aa1d90b78a01.png)

[2022-08-06 15:04] #14123 closed

[2022-08-06 17:53] levee223 opened #15190 "Ghost log timestamps are always in UTC regardless of system timezone"
### Issue Summary

A typical Ghost use case is to configure the logging transports to stdout or file. These transports lack automatic timestamp conversion based on the operator's timezone. Even in this case, it would be nice to be able to view the logs in local time instead of UTC without the bunyan CLI. (e.g., use `journalctl`, `tail`, `grep`)

#### Share my workaround:
Changed [@tryghost/logger]

[2022-08-06 20:14] aronmal opened #15191 "Mail 'from' option shows no effect"
### Issue Summary

When I try to sign up I get an error "Failed to send magic link email" and looking in the log it shows an error.

I host the ghost blog at the subdomain blog.domain.de and want to send from ...@domain.de. I have added the "from" attribute to the config but it does not seem to be respected.

### Steps to Reproduce

1. install ghost docker container
2. map custom production json c

[2022-08-08 09:36] #15191 closed

[2022-08-08 09:37] ErisDS commented on #15190
Hey there, thank you so much for the detailed bug report.

That does look like something that shouldn't happen! A PR to fix this issue would be very welcome 🙂

[2022-08-08 09:40] ErisDS commented on #15189
3306 is usually the port for MySQL. This suggests that perhaps the job is unable to complete properly because it can't update the database?

[2022-08-08 10:31] anujdeshpande commented on #15189
@ErisDS I am running mysql on the same lightsail instance, and other than this there's been no issues with that. Do you think I should check mysql logs specifically?

[2022-08-08 11:01] ErisDS commented on #14990
I'm going to temporarily lock this thread. The issue is a bug in the [mysql2 package](https://github.com/sidorares/node-mysql2/pull/1438) which is fixed but hasn't been released. There's nothing we can do until mysql2 do a release - so adding comments here achieves nothing other than filling our inboxes with things we can't action.

If you want more information, it's the mysql2 team you need to sp

[2022-08-08 12:01] ErisDS commented on #15104
We recognise that this is an issue and are working on a plan for how to resolve it for all the various use cases. However, this is not being considered as a critical or blocking bug, and so will be tackled after the current inflight projects are completed in a couple of weeks time.

[2022-08-08 14:09] s00500 commented on #11541
This is neither stale nor fixed, I have the same issue on the latest 5.6.0

[2022-08-08 14:09] s00500 commented on #11541
Is there anyway one can reopen this or do I have to create the same issue again ?

[2022-08-08 16:16] fueko commented on #15104
Hi @ErisDS, I understand and thank you for the info! However, a really large number of buyers are asking me how to fix this problem because they don't understand why the login flow has been changed.

Maybe it would be possible to add a new attribute, e.g. `data-members-autoredirect="false"`, to disable this behavior for custom forms? Of course, this is just an idea, but it would give theme develop

[2022-08-08 16:32] s00500 commented on #11541
Hm I can take a look.... but if anybody has pointers it would be useful...

It seems to work just fine if I create the emoji in the ios notes app and then paste it over... could it be that ghosts editor truncates the second half of the unicode char when inserting? It is definitely a problem in the editor, display and storage work fine... and it really only happens on ios browsers

[2022-08-08 18:39] ErisDS commented on #11541
I've reopened the issue - but short of letting you know that the admin client lives in `ghost/admin` now I wouldn't know where to look for this issue. It may well be upstream in [mobiledoc-kit](https://github.com/bustle/mobiledoc-kit) maybe something similar to [this bug](https://github.com/bustle/mobiledoc-kit/issues/761).

Ghost doesn't officially support mobile editing at present - there's anot

[2022-08-08 19:18] ErisDS commented on #15189
I don't know what the root cause is here - this is a weird one. It's something we've seen before but never found a reliable reproduction case for and so haven't been able to solve.

I'm hoping your MySQL logs might turn up _some clue_ 🕵️‍♀️ so yeah. if you could dig through them and share anything interesting that would be great.

[2022-08-08 21:33] s00500 commented on #11541
Thanks for reopening @ErisDS
And thanks for the pointers, as it seems it is indeed an upstream bug, as it has the same behavior when trying on the official demo of the editor lib here:

https://bustle.github.io/mobiledoc-kit/demo/

I might take a look into this next week....

Generally I can confirm that the ios editing experience is pretty good, there are some glitches here and there but nothing

[2022-08-08 22:13] mkschreder opened #15199 "admin.pages.add ignores html"
### Issue Summary

Why is it that admin API is ignoring HTML? I passes through images and simple tags but anything more complex gets filtered.

`admin.pages.add(item, {source: 'html'});` should not filter out HTML.

Is there a fix?

### Steps to Reproduce

admin.pages.add(item, {source: 'html'});
item is a post object. html property contains string html.

### Ghost Version

5.2.2

### Node.js Vers

[2022-08-08 23:10] aronmal commented on #15191
Hello,

I already searched in the forum for an answer to my problem. I added the mail configuration to my config but got this error. So I kindly ask you if it could be a bug (what I don't hope, but my config is how it should be, according to the docs and forum posts). So how could that be?

Thanks for replies.

[2022-08-09 08:07] ugudango opened #15201 "Ghost cannot run under LiteSpeed Node on cPanel"
### Issue Summary

Although not recommended since probably 2018, I still have the need to install Ghost under cPanel. I've tracked down the issue to knex not being able to locate mysql2.

[Here](https://github.com/TryGhost/Ghost/compare/v4.37.0...v4.38.0#diff-a35c6d63e5c485e21f968fd6f05cafc8363f0600ce1480e0bd82a513cb2e557cL57) is the commit that _broke_ the installation.

[Here](https://forum.ghos

[2022-08-09 11:24] #15199 closed

[2022-08-10 05:52] cowang4 commented on #14975
@luytendries What was the issue? I'm having the same problem.

[2022-08-10 10:37] luytendries commented on #14975
It has been a while, but probably some incorrect smpt mail settings in the package.json file. ;)

Let me know if you've solved it, and if not what you've tried. We'll solve it. ;)

[2022-08-10 10:49] oxscience commented on #15104
Ok thanks for the update. Hope this will be fixed soon for that your default portal doesn't support the SEPA payment option from stripe (yet), which is the main reason why we use a custom login and tier pages. Cheers

[2022-08-10 12:24] daniellockyer commented on #15099
Hey @rbtnn 🙂 We're moving away from zip files in favor of .tgz file produced by `npm pack`. There's still a bit of friction, but the easiest solution is:

1. From the latest Ghost `main`, run `npm pack` inside `ghost/core` => this produces a ghost-X.X.X.tgz file in `ghost/core`
2. Ensure you have Ghost-CLI, which supports importing .tgz files
3. `ghost install local --archive path/to/archive.tgz`

[2022-08-10 13:09] rbtnn commented on #15099
@daniellockyer  Thank you so much for your advice! I'll wait until this Monorepo is stable becuase I customaize both TryGhost/Ghost and TryGhost/Admin.

[2022-08-10 13:11] daniellockyer commented on #15099
TryGhost/Admin has been merged into this repository under `ghost/admin` - https://github.com/TryGhost/Ghost/tree/main/ghost/admin 🙂

[2022-08-10 13:18] rbtnn commented on #15099
Are .tgz file and .zip file produced by `npm pack` in the same directory structure?

[2022-08-10 13:20] daniellockyer commented on #15099
They are not - the .zip has all of the files in the top-level, but the .tgz has them inside `package/` as `npm pack` and NPM packages expect. That said, `.zip` is deprecated and all tooling will focus on `.tgz` from now on

[2022-08-10 13:30] rbtnn commented on #15099
I see.

[2022-08-10 16:19] cowang4 commented on #14975
Thanks for replying, I did fix it, and the issue was SMTP settings in the config.production.json. By following https://ghost.org/docs/config/#mail and using secure SMTP settings I got it to work.

[2022-08-10 16:49] JuanDelgadillo commented on #15099
Hey folks!

I faced the same issue generating the custom `zip` file for my site after the Ghost migration into a monorepo.

I created a Github release action that helps me convert the build file from `tgz` to `zip`.

I will be using it till Ghost team finishes ironing out remaining issues from the monorepo, and `zip` to `tgz` transitions.

This is the Github action in case you are wondering how it

[2022-08-11 00:20] zdimension commented on #9841
Ghost 5.1.0, SQLite 3 on Debian 10, having this problem too. Open a post for too long, and you can't save anymore. Restarting Ghost doesn't fix, only way around this is to copy-paste the content in a notepad, refresh, and paste. Really annoying.

[2022-08-12 12:58] marnixhoh commented on #15191
I am running into the same issue.

The `from` email is used when inviting a new staff member, but not when someone subscribes...

Any help / guidance would be greatly appreciated

[2022-08-12 13:02] ErisDS commented on #15191
There is a forum thread here: https://forum.ghost.org/t/mail-from-option-shows-no-effect/31857

[2022-08-12 13:19] marnixhoh opened #15222 "`from` mail setting is ignored for signup emails"
### Issue Summary

My email setting in `config.production.json` looks like this:
[code]

This config works for the emails sent to invited staff members. For these emails the correct `from` email address as specified in the above config is used.

But when someone subscribes, the email with the signup link they receive is sent from `noreply@<blog-domain>`. I.e. the `from` as specified in the config,

[2022-08-12 15:42] ErisDS commented on #15222
Duplicate of https://github.com/TryGhost/Ghost/issues/15191

[2022-08-12 15:42] #15222 closed

[2022-08-12 15:44] #15201 closed

[2022-08-12 19:20] uPagge opened #15225 "Canonical URL don't save in description of tag."
### Issue Summary

When filling in the Canonical URL field in the tag description and then saving it, it is not saved. If you log out and log in, this field will be empty. Sometimes it is saved, but if you fill in the Canonical URL in another tag, then it will disappear in the previous one

### Steps to Reproduce

When filling in the Canonical URL field in the tag description and then saving it, i

[2022-08-13 06:27] mskian opened #15226 "Validation error, cannot edit setting. Please enter a valid email address"
### Issue Summary

`Validation error, cannot edit setting. Please enter a valid email address` - Getting this Warning Message while making any changes, Updates and Edits in Ghost admin settings page

Already someone Reported this error about in Forum - <https://forum.ghost.org/t/validation-error-cannot-edit-setting-please-enter-a-valid-email-address/31665>

![Screenshot from 2022-08-06 19-34-01](h

[2022-08-13 15:04] aalster commented on #8295
@MartynKeigher link is not available. Could you share your solution?

[2022-08-13 19:03] JBYoshi commented on #11541
A fix has been added to mobiledoc-kit v0.14.1. This should be fixed whenever that gets pulled into Ghost.

[2022-08-13 20:18] cathysarisky commented on #14279
This error is still present, and a specific problem with the ruby theme.  If someone has a moment, please point me at the right place to file this bug.

[2022-08-13 20:56] cathysarisky commented on #14279
I just downloaded the latest version of Ruby and this problem is no longer there.  Anyone seeing the same problem might want to download a NEW copy of Ruby.  My old copy did exactly the behavior described above.

[2022-08-14 15:04] #14383 closed

[2022-08-15 06:26] marnixhoh commented on #15222
Hi @ErisDS. Thank you for commenting. Yes it is a duplicate of #15191, but that one got closed. And I do still believe that this is unexpected behavior.

The signup email does use the `mail` config in `config.production.json`. I.e. my config, as pasted above, uses `AWS SES`, except the `from` field in the config is not used.

So the reason this is unexpected behavior, is because when inviting a st

[2022-08-15 06:41] marnixhoh commented on #15222
I also just noticed that when a subscriber is logged in, the `Contact support` button opens an email to `noreply@<domain>`. This seems related to this issue.

I think that the blog owner, should be able to set the support email address? Sending an email to a `noreply@` email address seems odd.

[2022-08-15 06:48] marnixhoh commented on #12802
Still running into the same issue. Related:
#15191
#15222

So many people must be impacted by this...

[2022-08-15 08:41] ErisDS commented on #15222
I closed the other issue as a support request and routed the opener to the forum. The same is true for you. You're asking for help on how to use a feature, and that request for help does not belong on GitHub.

[2022-08-15 08:44] ErisDS commented on #15226
Are you able to access your database and run the following query?

[code]

[2022-08-15 08:48] ErisDS commented on #15225
Hey @uPagge, thank you so much for the detailed bug report.

That does look like something that shouldn't happen! A PR to fix this issue would be very welcome 🙂

[2022-08-15 08:57] ErisDS commented on #15188
Hi @ItsIgnacioPortal, thanks for the detailed bug report. From what I can tell, this issue would be specific to the theme you are using - it is not reproducible in Casper (the default theme) on main. If this is an official theme, let us know which one - otherwise please contact the theme developer.

[2022-08-15 08:57] #15188 closed

[2022-08-15 09:28] ErisDS commented on #15099
Can you let us know what details you're waiting for us to fix? As far as we are concerned the transition to .tgz is done & everything is working.

[2022-08-15 09:56] ErisDS commented on #15133
I've submitted a patch to our docs internally, and this issue will auto-close once the patch is added to the site.

[2022-08-15 09:59] mskian commented on #15226
[code]

[2022-08-15 12:13] ErisDS commented on #15226
I don't know how you've reached this state (and I don't think it's worth looking into unless a lot of people experience it) but that value should be a string, not NULL.

The following will update the value back to the default:

[code]

[2022-08-15 12:19] mskian commented on #15226
yes, no clue how it happens maybe recent MYSQL 5.6 to 8 may causes this issue

Now if Fixed

[2022-08-15 12:40] ErisDS commented on #15226
Excellent, thanks for letting us know.

[2022-08-15 12:40] #15226 closed

[2022-08-15 13:13] #15133 closed

[2022-08-15 13:28] ErisDS commented on #11541
Oh cool cc @daniellockyer our fork of mobiledoc-kit needs to pull in this patch: https://github.com/bustle/mobiledoc-kit/commit/305b1a2f33c51abd910d6b8ac6ec072347f26eeb

[2022-08-15 14:49] ErisDS commented on #9841
The logic that determines this is the case, is if the post on the server has a newer updated_at timestamp than your local copy. So if you opened a new tab and edited a detail of the post, or if someone else has edited the post and closed it, then this error will occur.

The reason it happens is to prevent your save from overwriting the changes. You're correct that the only solution is to open a fr

[2022-08-15 15:01] zdimension commented on #9841
The logic is sound, however it doesn't handle the (rare, but possible) case where the server timeouts on the update request. What happens in my case is that the update is indeed saved, but the requests timeouts for the client, so the client doesn't get the updated timestamp. If this happens (and it happens), all the changes after the initial request (which, since it timed out, can be tens of secon

[2022-08-15 20:02] prschulz commented on #15104
@fueko - Thank you for the suggestion. As of now, using a new attribute `data-members-autoredirect="false"` is the planned course of action to address the issue since, as you said, it gives theme developers control over the behavior. Great idea.

As Hannah said, we're going to tackle this as soon as we're able to in a few weeks unless someone else in the community picks it up first.

[2022-08-15 20:40] ItsIgnacioPortal commented on #15188
Well, that's odd. I'm using Casper v5.2.2. I use the "HTML Injection" feature to add some CSS, but even after removing those modifications the "toggle sections" don't render correctly. I've also tried disabling all browser addons, but no change.

I've recently updated from Ghost from v4.47.0 to v5.7.0 through the ghost cli, could that have had any influence?

This is my casper folder: (I zipped Gh

[2022-08-16 05:20] anujdeshpande commented on #15189
Nothing interesting so far from the mysql logs .. Had the same issue happen once since the last time I reported it. So this issue hasn't disappeared, but the logs aren't helpful either

[code]

[2022-08-16 06:22] Emi94 commented on #15063
Hi, I'm Florin's colleague.

We have only one ghost instance running on the server. We do have promtail on that server that collects logs and sends them to a grafana server, but it is not set to grab the logs from ghost `/var/www/blog/content/logs/`, only from `/var/log/`.

And yes, the ghost service has broke multiple times because of this error, including last night. Always with the same error,

[2022-08-16 07:09] fueko commented on #15104
@prschulz, @ErisDS Thank you very much, this is great news!

[2022-08-16 09:25] #11541 closed

[2022-08-16 09:44] daniellockyer commented on #11541
Hey all 👋🏻 I've backported the patch into our mobiledoc-kit fork and bumped it in Ghost. The fix will be available with the next Ghost release 🙂

[2022-08-16 11:54] olivrg commented on #15226
I'm currently experiencing this exact issue after upgrading to the latest Ghost.
I'm also not able to access the database with this command:
`SELECT `key`, `value` from settings where `key` in ('members_support_address', 'members_from_address');`

Any help?

[2022-08-16 12:35] mskian commented on #15226
@olivrg

- Log into MYSQL Database

[code]

- Run this Query

[code]
- if the same output comes as i posted above then run this query to fix

[code]

[2022-08-16 18:34] blueinversion commented on #15099
After this change, what are the steps to deploy a custom fork **to production**?

I couldn't find any docs on this, they all refer to local or dev builds.

Should I run `yarn` before this? How do I install the dependencies?

I'm also confused whether `grunt release` to generate archives is still recommended/required.

What is the alternate command meant for production installations?

The [ghost-cl

[2022-08-16 20:08] JuanDelgadillo commented on #15099
Hi Hannah,

Actually, by the time of writing my previous message, I wasn't aware of this commit from Daniel: https://github.com/TryGhost/Ghost-CLI/commit/a079cdc051bd818e3dd3f53cfc8665f818f6e80e

That commit adds Ghost CLI support I was waiting for so that I could update my instances using the new `.tgz` package and Ghost CLI.

I was able to install my custom Ghost `v5.9.4` build after I updated m

[2022-08-17 05:07] edwardchenchen opened #15244 "Ghost Docker image 5.9.4 db connection issue"
### Issue Summary

I updated from ghost docker image 5.9 with an older version updated after 11th Aug 2022
(I cannot find which exact version of this, it seems the docker hub tags of old versions are actively removed)
to 5.9 with `sha256:3e3d6bbf18cd48db00f59ab10c3788738eae6014d22187644ba02125be8a7377` which is 5.9.4

I am using the default image with no db related related ENV, so SQLite setup

an

[2022-08-17 05:48] daniellockyer commented on #14976
Hey @secondmanveran - very odd. Are you sure your MySQL instance can be connected to from where you're running Ghost? Is there possibly a firewall in action?

[2022-08-17 06:42] ErisDS commented on #15244
Hi @edwardchenchen, Docker's official Ghost image is managed by them and their community [over in this repo](https://github.com/docker-library/ghost).

The info on the breaking change is [in this pr](https://github.com/docker-library/ghost/pull/323).

[2022-08-17 06:42] #15244 closed

[2022-08-17 08:06] #14920 closed

[2022-08-17 13:00] jaller94 commented on #14920
I have not been able to reproduce the issue.

[2022-08-17 14:48] ErisDS commented on #15188
I can't think of any way the update could have caused this. I've tested the latest casper (there are no relevant changes tho) on Firefox & chromium and do not see the artefacts.

My next step other than this would be to ask for the URL to review, but I assume as it's local that's not possible.

I guess this could be some sort of windows bug because the site is currently running on windows, that wo

[2022-08-18 03:40] ryansechrest opened #15251 "Manage your email preferences -> undefinedghost"
### Issue Summary

When I leave a comment on my blog, I get an email notification with the comment. In the footer of that email is a link to "Manage your email preferences". When I click on that link, it leads me to: http://undefinedghost/#/settings/staff/ryan

### Steps to Reproduce

1. Leave a comment on a blog post
2. Wait for email notification that a comment has been posted
3. Click on "Manag

[2022-08-18 04:19] ryansechrest opened #15252 "Unable to delete post with nested comment"
### Issue Summary

Whenever you try to delete a post that has a comment and a reply to that comment, an internal server error occurs:

`Internal server error, cannot delete post. Cannot set properties of undefined (setting 'message')`

### Steps to Reproduce

1. Create a new blog post and publish it
2. Leave a comment on that blog post
3. Reply to that comment
4. Attempt to delete the blog post

#

[2022-08-18 13:29] gartesi-n2g opened #15257 "Content API Filtering (Documentation?) Bug"
### Issue Summary

Hi everyone,

I was following the Content API documentation at the [filtering section](https://ghost.org/docs/content-api/#filtering). I was trying to filter tags with the operator "contains" defined as "\~=" in the documentation which didn't work. After a while, I found that "contains" works with "~" operator only.

I'm not sure if the docs are wrong or if it is an actual bug.

[2022-08-18 14:12] ErisDS commented on #15257
Hi @gartesi-n2g Thanks for raising this, it's a typo in the docs, I've submitted a fix and the site should update itself momentarily.

[2022-08-18 14:12] #15257 closed

[2022-08-18 20:47] markhillard commented on #15171
@paulcarroty, I ran into the same issue when upgrading my fork of https://github.com/cobyism/ghost-on-heroku. My automatic deploys to heroku were working fine up until some version after 5.4.1. Then when running `npm update` locally I started getting a ton of "tarball corrupted" errors and the upgrade would bomb out. Same errors showed up on my next heroku build when viewing the build console ther

[2022-08-19 09:39] zolbayars opened #15267 "Links with cyrillic characters are not being redirected"
### Issue Summary

I added some redirects through `Ghost admin panel → Settings → Labs → Redirects`. But the redirects with Cyrillic characters are not working - it just shows the 404 page. Here's the content of a YAML file I uploaded:

[code]
The first two works fine, but not the last two (I assume it's because they contain Cyrillic characters like `л, г, н`, etc)

### Steps to Reproduce

1. Uplo

[2022-08-19 10:41] ErisDS commented on #15267
Hey @zolbayars, thank you so much for the detailed bug report.

That does look like something that shouldn't happen! A PR to fix this issue would be very welcome 🙂

[2022-08-19 13:29] #15251 closed

[2022-08-19 13:45] ryansechrest commented on #15251
Thank you, @ErisDS

[2022-08-19 13:47] ErisDS commented on #15251
No worries, thanks for the bug report - this was an easy one to fix 😬

[2022-08-19 14:00] ErisDS commented on #15252
I have confirmed this bug. Replies are comments with a self-referencing `parent_id` and that foreign key is missing an ON DELETE directive.

As an aside, the error message shown here is utter BS 🙈 It's an error coming from Bookshelf's error handler, completely masking the underlying problem. I have a fix for this part prepared, but it changes the error so that the underlying SQL error is displayed

[2022-08-19 14:50] #15252 closed

[2022-08-19 14:50] ErisDS commented on #15252
Fix for the main bug is in - the fix for the error message is coming after the release.

[2022-08-19 15:17] ryansechrest commented on #15252
Wonderful! This beats me having to delete the comments in reverse order via SQL. 🙈 Thank you, @ErisDS

[2022-08-20 02:22] zolbayars commented on #15267
I'm gonna take a look 🙂

[2022-08-21 21:15] Backspaze opened #15272 "Native comments moderation doesn't work on local Windows installation"
### Issue Summary

When using [Ghost native comments](https://ghost.org/help/commenting/) you should be able to [moderate the comments](https://ghost.org/help/commenting/#moderating-comments) by hiding/unhiding them. This feature doesn't work on a [local Windows installation](https://ghost.org/docs/install/local/). The option for hiding/unhiding isn't available as the site doesn't recognize that y

[2022-08-22 02:05] DrDinosaur opened #15273 "Import of Ghost Content Failed"
### Issue Summary

I am migrating a Ghost instance to a new server. I exported the old content successfully as a json file, but I get an error when attempting to import it into the new instance.

![image](https://user-images.githubusercontent.com/4646697/185824551-aa44d91c-6bf3-464f-99fc-e4aed98df4ab.png)

### Steps to Reproduce

1. Log into Ghost Admin, navigate to the Labs view, and click Export

[2022-08-22 19:40] digitalWestie opened #15281 "The ld+json generated by {{ ghost_head }} doesn't use specified canonical url"
### Issue Summary

The ld+json generated by {{ ghost_head }} doesn't use the specified page canonical url.

I've set a canonical url in one of my pages. I can see this coming through in page source. However, the LD+JSON description doesn't use the canonical version in the article URL.

What is currently happening:

`<link rel="canonical" href="https://mysite.com/learn-stuff" />`

[code]

### Steps

[2022-08-23 12:41] niklasfyi opened #15287 "Unable to signup for the newsletter"
### Issue Summary

When you try to signup for a newsletter you'll get an error saying something went wrong. Try again later.

### Steps to Reproduce

1. Go to YOUR_URL/newsletter
2. Enter your email
3. Check log output of ghost installation

### Ghost Version

5.10.1

### Node.js Version

16.16.0

### How did you install Ghost?

Manual (hosted on uberspace)

### Database type

Other

### Browser &

[2022-08-23 12:55] #15287 closed

[2022-08-23 13:17] ErisDS commented on #15273
Are you able to share the export file, or at least the few lines related to unsplash settings? Without that, I'd be guessing at a reproduction case.

[2022-08-23 13:30] ErisDS commented on #15281
I believe this is the correct behaviour for the schema data. Do you have a reference that suggests otherwise?

[2022-08-23 13:31] ErisDS commented on #14278
Seems like there is a general issue where none of the assets get generated on windows for some reason. Would love to get a PR to fix this 😄

[2022-08-23 13:32] ErisDS commented on #15272
Hey @Backspaze thanks for the report. This looks like the same issue as https://github.com/TryGhost/Ghost/issues/14278 as you said. I've generalised the title on the other issue, and will close this issue in favour of that one.

[2022-08-23 13:32] #15272 closed

[2022-08-23 13:42] ErisDS opened #15290 "Hidden error in "Add tier" modal"
Try to add a tier but don’t fill the tier name field. There should be a field error that name is mandatory and the button should switch to “Retry. Instead, seems like nothing changes.

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/101513/186172011-1e17a647-e2db-4138-b09a-da79941dc0bb.png">

## Steps to reproduce

1. Visit Settings > Memberships > Premium > Add tier
2

[2022-08-23 14:06] ErisDS opened #15291 "Regression: Redirect to signin/re-authenticate modal not shown when logged out"
We've had a regression with how unauthenticated requests are handled by Admin. Unauthenticated requests could occur if you've logged out in another tab and didn't realise you'd gone back to editing on a tab that looked like it was still logged in.

## Steps to reproduce

1. Open Ghost admin and ensure you're logged in in two different tabs
2. In tab 1, open the editor
3. In tab 2, logout
4. In tab

[2022-08-23 14:18] ErisDS opened #15292 "Validation errors for duplicate members should be displayed inline"
Attempting to add a member that already exists (with duplicate email address), an error is displayed as a red banner which persists until manually dismissed.

## Steps to reproduce

1. Go to Ghost Admin > Members
2. Add a member with the email address test@test.com
3. Try to add a new member, also with the address test@test.com

![image](https://user-images.githubusercontent.com/3798302/110780660-

[2022-08-23 14:20] ErisDS commented on #13648
I'm going to close this until we have a bit more context about how to do it & can support the effort.

If there's anyone intimately familiar with moment -> luxon migrations that's interested to help, I'm all :ear:

[2022-08-23 14:20] #13648 closed

[2022-08-23 14:53] ErisDS opened #15293 "Links to archived tiers should be hidden in the Portal Links UI"
When viewing the links tab of the Portal UI settings in admin, links to archived tiers still appear (but don't work).

## Steps to reproduce

1. in Ghost Admin > Settings > Memberships > Premium
2. Add a tier called something like "Old tier (archived)"
3. Then click on the 3 dots and hit "archive"
4. Scroll up to "Customize Portal"
5. Choose "Links" from the preview dropdown
6. Attempt to find the

[2022-08-23 15:08] digitalWestie commented on #15281
Fair enough if this is the intended behaviour. I assumed you'd want to use the canonical URL.

[2022-08-23 15:08] #15281 closed

[2022-08-23 15:17] ErisDS commented on #15281
We follow the LD+JSON specification to the letter, if you find we are following it incorrectly we're happy to review.

[2022-08-23 15:23] ErisDS opened #15295 "Changing emoji in callout card causes page jump in Safari"
### Issue Summary

When trying to update an emoji in a callout card using Safari, it jumps to the top of the editor (and successfully changes the icon).

### Steps to Reproduce

1. Open Safari
2. Create a new post with several paragraphs of content, and insert a call out card after them
3. Try to change the emoji of the callout card, observe you're jumped up to the top of the editor

### Ghost Ver

[2022-08-23 15:49] olivrg commented on #15226
Thank you, @mskian 👍

[2022-08-23 15:53] digitalWestie commented on #15281
My understanding of it is this: there should only be one structured description of a resource for each resource.

I think this stack answer describes what I mean:  https://webmasters.stackexchange.com/questions/119078/how-to-define-an-url-in-article-schema-on-mobile-domain

In the stack-exchange answer, you've got a similar situation to mine: the same article sitting in two different places (in th

[2022-08-23 17:12] markhillard commented on #15171
@paulcarroty yeah my repo doesn't work right now. I have been testing some things out in heroku but no luck yet. I'll report back if I make any progress.

[2022-08-23 21:31] Joshuatanderson opened #15299 "Markdown blocks are all separated, breaking footnotes"
### Issue Summary

The documentation says that footnotes are possible, and can be achieved with some simple markdown.

This is not really the case.

Footnotes only work within a single block.

However, the natural use case for a footnote is to cite throughout the page, and to have all citations at the bottom.

This does not work.

### Steps to Reproduce

1. Create 2 MD blocks.

**The first block:*

[2022-08-24 09:22] daniellockyer commented on #15189
Hey @anujdeshpande - we've identified an issue with the email analytics job that can cause it to stall indefinitely if there's an issue contacting Mailgun. It's been fixed and will be out in the next release of Ghost.

Your error message does seem to be slightly different to the one I was seeing, but it could be a cascading effect from the bug we've found. I'd make sure MySQL is healthy on your ma

[2022-08-24 09:22] #15189 closed

[2022-08-24 12:16] ErisDS commented on #14882
Hey all 👋 this issue was blocked on needing to remove the catch predicates first, so I've just [merged a PR](https://github.com/TryGhost/Ghost/pull/15301) that removes all of them.

I've also updated the issue with the current state of things.

I'll go through the couple of blocked open PRs that remove some bits of bluebird asap. In the meantime, it'd be great to get some momentum on this and get

[2022-08-24 17:50] ErisDS commented on #15063
Sorry for taking a while to come back here, perhaps by now you've figured something out?

Ghost's built-in log rotation is clearly not working for you, and I've not seen this in the 8-ish years we've had the same tool (bunyan) power rotation.

I don't see anything that looks like a permission issues although that's the most likely cause.  Can't speak to anything OS related as that's not been share

[2022-08-24 17:50] #15063 closed

[2022-08-24 19:22] jostreff opened #15310 "upgrade not possible since v5.9.1"
### Issue Summary

It is not possible to be upgraded since version 5.9.1.
Missed packages can be installed via yarn add global in root environment.

### Steps to Reproduce

executing "GHOST_NODE_VERSION_CHECK=false ghost update" command

### Ghost Version

5.11.0

### Node.js Version

18.8.0

### How did you install Ghost?

FreeBSD stable/13.1

### Database type

MySQL 8

### Browser & OS version

[2022-08-25 03:14] DrDinosaur commented on #15273
```{"id":"59a22ce83b86f02460405846","key":"unsplash","value":"{\"errors\":{},\"hasValidated\":[]}","type":"blog","created_at":"2017-08-27T02:22:32.000Z","updated_at":"2017-09-17T23:13:21.000Z"}```

I could share the entire export file privately, but this was the only line I found with unsplash.

[2022-08-25 18:53] paulcarroty commented on #15171
@markhillard [figured it out](https://github.com/nixsanctuary/heroku-buildpack), happy blogging.

[2022-08-26 05:14] markhillard commented on #15171
@paulcarroty, nice work! I also tried running `ghost install` on the "heroku-postbuild" step in package.json, but it kept telling me that I couldn't install ghost because the directory wasn't empty. I didn't know about those additional flags after the command. Thanks very much for getting back to me.

[2022-08-26 06:38] paulcarroty commented on #15171
@markhillard Yeah, a bit dirty 'cause the node_modules merge, but my patient was out when Heroku pruned all `postinstall` changes there. Heroku free plans will be closed soon together with motivation to improve anything. Have fun!

[2022-08-26 17:53] yaizudamashii commented on #15099
With removal of `grunt release` is there any other comparable command added to yarn?  We need to build custom fork for our production and the dev build has problems with stripe webhooks.

[2022-08-26 18:56] VeloAddict opened #15324 "Adding a new member with Admin API does not trigger member email alerts"
### Issue Summary

When adding a new member with the Admin API endpoint the new member is added but the notification is not sent to the staff users and all staff users have notifications enabled.

### Steps to Reproduce

Enable new signup email alerts for staff users.
Create a new member using the Admin API.
The user is created, it is listed in the members page.
Staff users do not receive email ab

[2022-08-27 05:07] Tuinslak opened #15326 "Docker: connect ECONNREFUSED 127.0.0.1:3306 on docker.io/library/ghost:latest"
### Issue Summary

I usually pull the latest ghost image (docker.io/library/ghost:latest)

Latest couple of images have the following error:

[code]

### Steps to Reproduce

1. Download latest Docker Ghost image
2. run with `docker run -d --restart always --name shan-ghost -v /srv/shan-ghost/blog:/var/lib/ghost/content -e url=https://shanwong.design -p 3001:2368 ghost`

Using version 5.8 does not

[2022-08-27 19:30] BorisBrock commented on #15326
I can confirm this error. It occurs on my Synology NAS, too. Every image after 5.8 seems to be broken and produces the error mentioned above.

[2022-08-27 20:18] ErisDS commented on #15326
This is a duplicate of https://github.com/TryGhost/Ghost/issues/15244. The repo for the docker image (maintained by Docker, not Ghost) is here: https://github.com/docker-library

[2022-08-27 20:18] #15326 closed

[2022-08-28 04:23] blueinversion commented on #15099
I had the same concerns. I found [this Github action](https://github.com/TryGhost/actions/blob/main/.github/workflows/custom.yml) useful, haven't got around to testing it yet. But I think it should have all the steps necessary.

Still waiting for an official documentation on this.

[2022-08-28 18:47] shubhank008 commented on #12802
Anyone still facing this god forsaken issue, my fix still works except the location/file where you need to make the change has changed in latest ghost (v5) from
`core/server/services/members/settings.js`
to
`core/server/services/settings/settings-bread-service.js`

And don't forget to set the `from` field in your config's mail section

[code]

[2022-08-28 18:52] marnixhoh commented on #12802
I had this issue too, and I found the solution, but forgot to post it here...

Anyway, after having created multiple issues here on Github and on the Ghost Forum, someone from their staff gave the answer on [this forum thread](https://forum.ghost.org/t/mail-from-option-shows-no-effect/31857/24).

I hope it helps you and others :)

[2022-08-31 09:31] #15190 closed

[2022-08-31 17:32] ErisDS commented on #12802
@marnixhoh I think you are confusing a different issue. @shubhank008 If you have a fix for the original issue, please raise a PR.

[2022-08-31 17:55] ErisDS commented on #15299
Hi @Joshuatanderson, thanks for this detailed report.

The behaviour you describe is a known and expected limitation of the current Ghost editor. In order to use footnotes in the way you want, you would need to use a single markdown block for your post.

The reason for this lies within limitations of the underlying [mobiledoc format](https://github.com/bustle/mobiledoc-kit/blob/master/MOBILEDOC.md

[2022-08-31 17:55] #15299 closed

[2022-08-31 17:56] ErisDS commented on #14976
I'm going to close this as the lack of similar reports means it probably an environment issue, better suited to the forum if @secondmanveran wants to dig in further to what has happened.

[2022-08-31 17:57] #14976 closed

[2022-08-31 18:32] ErisDS commented on #15324
Hi @VeloAddict, thanks for the detailed report.

I can confirm this is a bug. The fix is known and we’re working on getting it shipped asap.

[2022-09-02 11:16] jleclanche opened #15354 "Search placeholder is not configurable"
### Issue Summary

Search placeholder in sodo-search is hardcoded to `"Search posts, tags and authors"`. This makes it impossible to localize the search in non-english publications.

I looked into implementing this and doing a PR against sodo-search but that repo doesn't have issues open so it looked pretty unfriendly to drive-by contributions, and it seems there's no way to pass configuration to

[2022-09-02 16:50] MattDHill commented on #12520
Hi @ErisDS , we are preparing to launch Ghost on the (EmbassyOS)[https://github.com/Start9Labs/embassy-os] and would be interested in taking this on. Can we set up a time to discuss. Tagging @k0gen

[2022-09-03 02:41] dogweather opened #15360 "Broken / wrong links when no paid plan is configured"
### Issue Summary

As a new Ghost user, setting up a blog, I'm not ready to connect to Stripe and configure the paid plans for members. Several UI bugs occur for site visitors in this state:

When a visitor signs up as unpaid member and there are no configured paid plans,

* They still see **Sign up** links (although signed up and logged in) Casper v5.3.1 and Journal v1.0.0 and probably others.
*

[2022-09-04 03:02] cathysarisky commented on #15360
It looks like there's an error in index.hbs for this theme - that text comes from lines 88-89, and results if the user is a member but not a paid member. The theme needs to be checking if there are paid tiers available and not rendering code here if there aren't..

[2022-09-04 05:25] dogweather commented on #15360
Yep, here's what a forum user found: https://forum.ghost.org/t/editon-theme-bug-on-home-page/32176/10

[2022-09-04 18:57] petemahon opened #15363 "Dark Mode - Code Injection - JavaScript unreadable (repeat of Issue 12774)"
### Issue Summary

In the Ghost/Settings/Code Injection screen, dark mode makes JavaScript extremely hard to read. Functions are displayed in black on a dark background

### Steps to Reproduce

Put any JavaScript into the box and switch on Dark Mode:

[code]
The syntax highlighting should display functions (and all other syntax types) in a readable colour when dark mode is switched on.

### Ghost

[2022-09-05 11:36] ErisDS commented on #15363
As stated in the title - this is a duplicate of #12774, which was a duplicate of https://github.com/TryGhost/Ghost/issues/12831. That issue was closed by stalebot - which steps in after 4 months of an issue not getting any followup or fixes.

Ghost is a large open source project, we aren't able to keep every single bug open indefinitely as it makes it impossible to prioritise issues or get any tra

[2022-09-05 11:36] #15363 closed

[2022-09-05 11:37] #15354 closed

[2022-09-05 16:26] petemahon commented on #15363
Hi @ErisDS , apologies as I thought this had actually received a fix previously and this was a regression issue. I will have a look and see if it's a straightforward fix but I am not a CSS expert by any means.

[2022-09-06 12:36] #15104 closed

[2022-09-07 00:38] h2akim commented on #15291
Hi @ErisDS

It seems that re-authentication modal is shown correctly - when attempting to save & auto save.
The alert message is shown when the user dismisses/close the modal without authenticating.

![Screenshot 2022-09-07 at 8 08 21 AM](https://user-images.githubusercontent.com/514048/188761860-2c132f8c-f87b-4dac-b606-183d68477063.png)

But, when user already dismiss the re-authenticate modal fo

[2022-09-07 20:16] nikitiys opened #15383 "No setting for post feature image"
### Issue Summary

There is no parameter for setting the blog preview image, so handlebars parameter **feature_image** is null, that causes my home page to look like this:

![image](https://user-images.githubusercontent.com/79282443/188967934-1a4e4d45-f815-4b36-9fe5-0343ffb846a7.png)

No parameter that allows setting the feature_image file

![image](https://user-images.githubusercontent.com/792824

[2022-09-07 20:45] #15383 closed

[2022-09-08 16:29] #15292 closed

[2022-09-09 10:09] marianstiehler commented on #14976
I have the same issue on Digital Ocean.

[2022-09-09 11:20] secondmanveran commented on #14976
@marianstiehler

I have access to the private IP since my ghost server and my db server are in the same network.

Prior to the change to MySQL 8 I could use that private 192.* IP

But for whatever reason Ghost won't recognize this as a valid host anymore. I can use these with other node apps and my Laravel apps, but Ghost blows up.

So I just switched to the public IP and made sure my firewall was

[2022-09-09 18:56] Banbeucmas opened #15391 "Editor Tags searching performance"
### Issue Summary

The Tag system is just straight out laggy non-responsive. Afterwards it is impossible to update or save the post. Refer to the video for more info

https://user-images.githubusercontent.com/10562127/189423443-491068e1-a1c6-4887-90fe-ccf6db8d82c7.mp4

### Steps to Reproduce

1. Try to save a tag

The tag searching function should be responsive and update the query accordingly

##

[2022-09-09 19:12] ErisDS commented on #15391
Hi @Banbeucmas. I can see the issue in the video, but it's not reproducible given the steps provided. How many tags have you got on your site, and how many posts?

[2022-09-09 19:35] ErisDS commented on #15291
Oh odd, I can't reproduce it now either!

I think not 🤔

Hmm that sounds like it needs fixing 😬 care to take a stab at it?

[2022-09-09 19:41] ErisDS commented on #12520
@MattDHill I'm about to take some leave, but a good way to move forward in the meantime might be to put together a more detailed problem statement and fix proposal and put it either here or in the contributing section on the forum?

[2022-09-09 19:45] kevinansfield commented on #15225
I believe was fixed in https://github.com/TryGhost/Ghost/commit/08b099e5274c3471724375924067381029b62220 that was included in  5.14.0.

Looking at the previous ["scratch tag" properties](https://github.com/TryGhost/Ghost/commit/08b099e5274c3471724375924067381029b62220#diff-4e94d60c9b1367944a5edc8dfe09fe358a24c3c7b655a3d0768dadd174ff9066L11) we were using, the `canonicalUrl` field was missing which

[2022-09-09 19:47] ErisDS commented on #8295
To provide an update here, we now control the DO image and the choice to not support the smallest droplet is deliberate. Although Ghost can run on the smallest droplet, it often fails with obscure memory errors when attempting to update.

It's possible to work around that with swap and advanced knowledge, but the point of the one-click installer is to create a Ghost install that can be managed by

[2022-09-09 19:49] ErisDS commented on #15225
Confirmed

[2022-09-09 19:49] #15225 closed

[2022-09-09 21:15] Banbeucmas commented on #15391
@ErisDS Thanks for the quick response.
While I cannot give an exact number (Since I don't know how to get the total count). You can safely assume the number of tags is over 360+
Post is well over 320+

This only starts to happen once I upgraded my blog from v5.14 from v3 2 weeks ago.

[2022-09-10 04:09] stromfeldt commented on #15391
Hello @ErisDS, I've had this happening for me on a self-installed, in-development site on Linode for about a month now. I just updated to 5.14.0 so I could try and reproduce it and yes it's still happening.

The site has 220 public tags, 26 internal tags, 588 posts, 10 pages.

When I try and add the internal tag `#external` I can't go beyond `#e`, if not just `#`, lest the drop-down options disapp

[2022-09-10 20:04] rkrueger11 opened #15392 "Can't migrate past v5.9.4 due to mysql error"
### Issue Summary

Attempting to migrate from 5.9.4 to 5.10.1 (or anything higher) and receiving the following error:

Message: Ghost was able to start, but errored during boot with: alter table `members_created_events` add constraint `members_created_events_member_id_foreign` foreign key (`member_id`) references `members` (`id`) on delete CASCADE - Referencing column 'member_id' and referenced co

[2022-09-10 20:59] rkrueger11 commented on #15392
Fixed. Due to collation issues.

[2022-09-10 20:59] #15392 closed

[2022-09-11 06:57] h2akim commented on #15291
Sure, will take a look at this bug.

[2022-09-12 13:58] kevinansfield commented on #15391
This issue has come up before and was [fixed by downgrading the `vertical-collection` library](https://github.com/TryGhost/Ghost/pull/15207).

The library has since been bumped again. I'll downgrade it now and add it to the renovate ignore list to help prevent it regressing.

[2022-09-12 14:53] aaronpartnerhacker opened #15396 "host error limit cannot edit post"
### Issue Summary

Newsletter won't go to subs. Can't schedule/post
![Screenshot 2022-09-12 8 05 14 AM](https://user-images.githubusercontent.com/113367391/189686069-35bc856f-fdc2-43ba-8eb2-1d692b49c972.png)

### Steps to Reproduce

Try scheduling post. Won't allow.

### Ghost Version

unsure

### Node.js Version

unsure

### How did you install Ghost?

pro

### Database type

Other

### Browser &

[2022-09-12 14:55] kevinansfield commented on #15396
Hey @aaronpartnerhacker  👋 Friendly reminder: help or support is not available on Github.

This is a Ghost(Pro) specific error related to your plan limits. Please contact support@ghost.org where they can give you personalised help.

[2022-09-12 14:55] #15396 closed

[2022-09-12 15:13] kevinansfield commented on #15391
@Banbeucmas, @stromfeldt could you please upgrade to 5.14.1 and test the tags input behaviour again? This should be fixed but please re-open if you're still seeing slow filtering.

[2022-09-12 17:31] Banbeucmas commented on #15391
Confirmed as solved in 5.14.1, thanks for the quick responses

[2022-09-13 05:43] rishabhgrg commented on #15324
Fixed in https://github.com/TryGhost/Ghost/commit/054833992eb46f7fa50ff4d4bfe2ee5345ed4eba

[2022-09-13 05:44] #15324 closed

[2022-09-13 08:23] #15290 closed

[2022-09-13 21:24] sixpixel opened #15405 "[London] Transition animations appear to be broken on the most recent release"
### Issue Summary

The page transition animations no longer work on the latest release of the London theme, instead it just instantly jumps between pages and the nice fade-in/fade-out doesn't happen. It stopped worked a couple of days ago on my install and I thought that maybe I had broken something, but I noticed the same behavior on the [demo site](https://london.ghost.io/). This happens regardl

[2022-09-16 14:02] naz opened #15424 "Cloned Ghost errors are loosing context"
[reference conversation](https://ghost.slack.com/archives/C02G9E68C/p1663251651227639)[
related changeset](https://github.com/TryGhost/framework/commit/9210ac7dc7c59dd9e5fd2621afd3164cbd9ded8e)
[related issue](https://github.com/kgryte/utils-copy-error/issues/2)

### Issue summary
Errors thrown in Ghost (tested in model layer) are served to the client with incorrect data.

###  Steps to Reproduce

[2022-09-17 10:38] nehalist opened #15426 "Can’t login with self domain mail"
### Issue Summary

Recently updated my blog to 5.12, but can’t sign in with any email that’s from my own domain (e.g. [foobar@nehalist.io](foobar@nehalist.io)). All other mails work well. I have no idea why.

### Steps to Reproduce

1. Sign in with foobar@nehalist.io
2. Error:

[code]

Works with my Gmail account though.

### Ghost Version

5.1.2

### Node.js Version

14.20.0

### How did you inst

[2022-09-18 02:52] ryansechrest opened #15427 "Sender in config not honored for comment email"
### Issue Summary

I'm torn on whether this is an issue or not, so feel free to close this if it's out of place.

When you receive an email that a new comment was posted on your website, I expected the sender to be set to whatever `from` was set to in `config.production.json` (e.g. `no-reply@example.org`) vs. it being the support email address (e.g. `support@example.org`) set in: Settings > Member

[2022-09-18 11:19] paulknulst opened #15428 "Getting JavaScript Syntax Error if Native Comments are enabled"
### Issue Summary

I have found a reproducible error that happens if I enable native comments on my blog.

For testing purposes I created a dev environment for my [blog](www.knulst.de) at [dev-www.knulst.de](https://dev-www.knulst.de) on which I try different features before I apply them.

If I enable native comments I got several JavaScript error within the Chrome/FireFox/Opera Dev console:
![ima

[2022-09-19 03:21] DrDinosaur commented on #15273
Do you have an update on this?

[2022-09-19 04:25] naz commented on #15424
I've gone down the rabbit hole of using [structuredClone](https://developer.mozilla.org/en-US/docs/Web/API/structuredClone) to find out with a bit more diligent test suite that the standard implementation [does not support copying of object properties](https://github.com/ungap/structured-clone/blob/e95ae4e171c10d81e4bc1cf2f4b09e7dfd2d36c6/esm/serialize.js#L139-L140) when the object is inheriting f

[2022-09-19 06:52] #15424 closed

[2022-09-19 12:12] paulknulst commented on #15428
One important addition:
- It only happens if I am logged in to Ghost not if I use a private tab,

[2022-09-19 13:18] #15426 closed

[2022-09-19 21:41] ltoinel opened #15437 "Mailgun : The server encountered an error whilst sending email"
### Issue Summary

Since I updated my blog and I changed my hosting, I'm not able to send new newsletters to the blog's members.
Maybe due to the latest updates on the mailgun client in august ?

### Steps to Reproduce

1. My server contains a SMTP parameter (config file) and a Mailgun config (filled in Ghost admin)
2. When I send a mail with curl from the my Server to Mailgun API with private key

[2022-09-20 18:25] ErisDS commented on #15428
I get the same, it's caused by the react dev tools extension for me - could be a different extension for you, but essentially something is posting non-JSON content to all the iframes.

This is just creating console noise, there's no actual problem. We need to stop logging this case to the console, if the message can't be parsed as JSON then it didn't come from Ghost :)

[2022-09-20 18:31] ErisDS commented on #15437
The error here is coming from mailgun, however the way Ghost is handling it is overwriting it and masking the underlying error. You may still be able to find the error in your mailgun logs to find out what's wrong, but it will be [one of these](https://documentation.mailgun.com/en/latest/api-intro.html#status-codes).

We need to update the code here to not totally overwrite the error, as it makes

[2022-09-20 20:45] ltoinel commented on #15437
In my case the mailgun response was a 403 error  : "Domain xxx is not allowed to send large batches yet"

[2022-09-20 21:48] ErisDS commented on #15437
Closed by https://github.com/TryGhost/Ghost/commit/79ffdd9b7e7f29db37940d7cfa92659aab03b069

[2022-09-20 21:48] #15437 closed

[2022-09-21 09:47] paulknulst commented on #15428
But there are also errors if you do a lighthouse test.

For example, this site: [https://www.knulst.de/7-tricks-to-improve-home-office-productivity/](https://www.knulst.de/7-tricks-to-improve-home-office-productivity/)

gives:
[code]

which is logged to the console. See lighthouse report: [https://googlechrome.github.io/lighthouse/viewer/?psiurl=https%3A%2F%2Fwww.knulst.de%2F7-tricks-to-improve-ho

[2022-09-21 10:13] ErisDS commented on #15428
Yes, that's the request to see if you are logged in returning "nope". Again it's showing a visible error but nothing is actually wrong. There is no broken functionality.

[2022-09-21 10:25] paulknulst commented on #15428
I know and understand that it is not broken. I only want to inform you that these "errors" are logged to the console which should normally not be the case. As I understand it is expected behavior as I am not currently logged in and cannot comment until I log into the website.
I only want to get rid of the console.log :)

Feel free to close this issue.

[2022-09-21 15:44] adamrhunter opened #15450 "Keyboard shortcut to save does not save data in admin members form"
### Issue Summary

When using the cmd+s keyboard shortcut while editing a Member _when the input field is focused_  the change not actually saved - When the page is reloaded, the data is not present.  *This only seems to happen if the input field is focused*.  If no field is focused (no green outline) then the save works as expected.

### Steps to Reproduce

1. default install of ghost 5.15
2. cre

[2022-09-21 20:48] ryansechrest commented on #15450
I can reproduce this. It looks like the value isn't updated in the DOM until that particular field is blurred, because it simply sends the existing value in the payload when the form is saved using the keyboard shortcut. I tested this on Staff, Tags, and Navigation, and everything works as expected there.

[2022-09-22 21:34] ltoinel commented on #15437
To fix the 403 error, you have to open a ticket on the Mailgun portal.
Then a person contacts you and asks you what service you want to provide with Mailgun (what domain, how many mails .... etc).

[2022-09-23 14:03] brunogeronimo commented on #12090
Hello @ErisDS,
Would it be possible to reconsider it?

Right now, I'm considering the option to migrate my blog to Ghost, and I am having a problem with shared URLs.

After changing the routes settings and setting up collections properly, I was able to almost mimic that structure, with a small issue.

Currently, I have two posts on my blog:
* `https://bruno.ge/trezor/`: The original version of it

[2022-09-24 18:18] imylomylo opened #15469 "permalink: '{globals.permalinks}' invalid, trailing slash required error - default fails from docker hub download"
### Issue Summary

I downloaded the docker image from docker hub, put it into a docker-compose with mysql 8, and had error on install about permalinks. (My journey of yesterday started off in mariadb running under easy engine, so i knew i was in for some software masochism)

[code]
I'm new to ghost, exploring it from other web stuff and it took me a couple of hours to find out what to do.

I ended

[2022-09-25 05:38] MohdMusharraf commented on #15099
I followed install from Source doc but my Casper theme is not activating.

[2022-09-26 09:16] kevinansfield opened #15470 "Saving different settings screens open in different tabs can overwrite with old values"
### Issue Summary

If you open two settings screens in different tabs, make changes in the first and save, make changes in the second and save, then the second save will have overwritten your changes from the first save with the old values.

Related forum discussion: https://forum.ghost.org/t/editing-code-injection-and-navigation-at-the-same-time-does-not-work/32984/7

### Steps to Reproduce

1. O

[2022-09-26 09:20] kevinansfield commented on #15470
This can potentially be fixed by only saving changed attributes of the Setting model via [its serialializer](https://github.com/TryGhost/Ghost/blob/main/ghost/admin/app/serializers/setting.js).

There's some example code at the end of the discussion here https://discuss.emberjs.com/t/dirt-tracking-with-ember-data-only-save-dirty-properties/4191/36?u=lookingsideways

[2022-09-26 15:04] ErisDS commented on #15469
If this is truly reproducible with the docker image from docker hub, then it'd be best to raise the issue with them: https://github.com/docker-library/ghost/issues however I suspect that isn't the case (else we'd have heard about this before).

When it comes to the unintelligible error, could you please clarify the contents of the `routes.yaml` file when the error message was triggered?

[2022-09-26 16:14] imylomylo commented on #15469
Sure, i will be working through this later this week. Thanks for replying - it wasn't my best bug report :)

[2022-09-26 18:29] ErisDS commented on #15427
Hey @ryansechrest I just want to ack this as something we're investigating. There's a few different ways in which transactional vs bulk mail in Ghost has gotten confusing, particularly around what the from address is and we're planning an overhaul that will likely hoover this issue up.

[2022-09-26 20:53] ryansechrest commented on #15427
Hi @ErisDS That all makes sense, thank you!

[2022-09-27 01:11] daniellockyer commented on #15099
Hello all 🙂 Thank you for your patience whilst we've been converting the repo to a monorepo. Hopefully you're finding the experience a lot easier now all the code is in one place.

To make some of the processes smoother, I've added a `yarn build` command, which outputs a .tgz file. This file is in the same format as the one we publish to npm, so it can be installed with `ghost install --archive gh

[2022-09-27 01:11] #15099 closed

[2022-09-27 15:06] #14840 closed

[2022-09-28 16:22] ErisDS commented on #14508
This has cropped up in other forms recently, and is something we want to prioritise fixing.

[2022-09-28 17:38] moreofmorris opened #15496 "🎨 What happens with older newsletter when there are no clicks available"
How do we handler newsletters where there are no clicks available? See the Slack thread [here](https://ghost.slack.com/archives/C019B1K4FAM/p1664380134714709).

[2022-09-28 18:23] ErisDS opened #15497 "Post settings menu date picker doesn't use site timezone"
### Issue Summary

The timezone of post settings menu date picker doesn't match the site's timezone. This prevents a user from editing the publication date of a post when the publication date is published the following day relative to the user's current timezone.

### Steps to Reproduce

- Set the site's timezone to one that is a day ahead of your current timezone
- Start a new draft
- Open the po

[2022-09-29 12:45] ErisDS opened #15500 "Incorrect quotes in translate helper causes 500 error"
### Issue Summary

Using smart quotes in the translate helper causes page visits to throw 500 errors. Mac OS for example will auto-convert quotes by default, and this a common and VERY hard to spot issue for people new to code.

Smart quotes example: `{{t “This causes an error”}}`
Straight quotes example: `{{t "This causes an error"}}`

As handlebars would always expect straight quotes, I suspect

[2022-09-29 14:50] ErisDS opened #15502 "i18n Milestone 2: Framework and build tools"
_This issue represents a single milestone within our i18n project. The full project is documented [on the Ghost forum](https://forum.ghost.org/t/hacktoberfest-project-i18n-for-portal-member-emails-comments-ui-sodosearch/33062)._

---

**Expected structure**

- A new `ghost/locales` folder in the monorepo contains namespaced JSON files e.g. `locales/es/common.json`, `/ocales/es/portal.json`, `local

[2022-09-29 14:54] ErisDS opened #15503 "Hacktoberfest 2022"
Ghost is participating in [Hacktoberfest](https://hacktoberfest.com/) this year, as we did last year 🎉

We have recently switched to using a monorepo setup, so most of the Hacktoberfest suitable issues apply to this repository.

There are two other main repositories you might end up in:

- Framework: https://github.com/TryGhost/framework
- SDK: https://github.com/TryGhost/SDK

All 3 have the `hack

[2022-09-29 18:50] ErisDS opened #15505 "Starting Ghost with missing active theme breaks Design Settings screen"
### Issue Summary

If the selected active theme does not exist in the filesystem the Design Settings screen errors and is unusable.

The problem occurs because Ghost's API is returning an unexpected state - when requesting a list of themes none of them has the active: true flag.

The preferred solution is to cater for this state in Admin somehow

e.g. have a blank-slate state for the design settin

[2022-09-29 19:24] ErisDS opened #15506 "Menu items lose active state when "New ..." modal is open"
### Issue Summary

The relevant item in the left-hand menu should remain bold when the "New X" modal is open

<img width="1181" alt="image" src="https://user-images.githubusercontent.com/101513/193123657-99e81c05-7ffb-4e72-b4bc-2f9a35b818c5.png">

<img width="1191" alt="image" src="https://user-images.githubusercontent.com/101513/193123751-738decd0-19bb-4ab5-b1e0-907f01f2f947.png">

### Steps to R

[2022-09-29 19:28] ErisDS opened #15507 "Unsaved changes modal not shown in member newsletter subscriptions"
### Issue Summary

When leaving the member details screen, the unsaved changes confirmation modal is not shown when there are unsaved changes to newsletter subscriptions.

### Steps to Reproduce

1. Set up some newsletters
2. Open the details screen for a member
3. Toggle on/off a newsletter subscription
4. Navigate away from the member details screen
5. No unsaved changes modal is shown

### Ghos

[2022-09-29 22:07] SerpentBytes commented on #15507
I would like to work on this issue. Please assign it to me.

[2022-09-30 03:25] kogir commented on #15392
Hello @rkrueger11,

I'm also experiencing this same error. Would you be willing to give a high level description of how you addressed it, so I can read the right MySQL docs and figure out a fix?

Cheers!

[2022-09-30 10:57] Walexero commented on #15505
Do i have to have a NodeJS knowledge to work on the issue or having a plain JS knowledge woulod suffice, if it would, i would like to work on the issue.

[2022-09-30 11:04] Walexero commented on #15470
Hi, would be willing to work on this issue but do i have to have a framwork knowledge or plain JS would suffice

[2022-09-30 16:16] satyamraghuwanshi136 commented on #15506
Hi @ErisDS, I would like to work on this issue.

[2022-09-30 19:50] parulgupta26 commented on #15506
Hey can I work on this issue?

[2022-09-30 19:52] parulgupta26 commented on #15506
Hi @ErisDS  I would like to work on this issue. Please assign to me.

[2022-09-30 20:00] parulgupta26 commented on #15497
Hi @ErisDS  I would like to work on this issue. Please assign to me.

[2022-09-30 20:07] shivamchourasia4 commented on #15500
I would like to work on this. Can you assign this to me?

[2022-10-02 08:47] ErisDS commented on #15497
@parulgupta26 we only assign issues to regular contributors. There is no open PR for this issue so it's free to work on.

[2022-10-02 08:47] ErisDS commented on #15500
@shivamchourasia4 we only assign issues to regular contributors. There is no open PR for this issue so it's free to work on.

[2022-10-02 08:48] ErisDS commented on #15506
Hi @parulgupta26 we only assign issues to regular contributors. There is already an open PR for this now, so I suggest choosing something else.

[2022-10-02 08:49] ErisDS commented on #15470
This is a bug in Ember.js, Kevin has already posted some directions for how to fix it. If you're able to understand the directions and implement the fix then you have enough knowledge :)

[2022-10-02 08:50] ErisDS commented on #15505
Hi @Walexero, this is a bug in our Ember.js admin client. If you understand the code enough to fix the issue, then you have enough knowledge... the only person who knows if you have enough knowledge is you!

[2022-10-02 08:51] ErisDS commented on #15507
@shivamchourasia4 we only assign issues to https://github.com/TryGhost/Ghost/issues/15503. There is no open PR for this issue so it's free to work on.

[2022-10-02 11:38] ATH42 commented on #15470
Hey Peeps, are you assigning or should i just work on it and open a PR.

happy hacktoberfest to you :)

[2022-10-02 15:29] ozanuslan commented on #15497
Hi, I have a question regarding the intended behavior of this component. Similar to the example you've given above, what should happen when the site's timezone is earlier than the user's timezone? Should the component always enforce the site's timezone?

[2022-10-02 16:26] Walexero commented on #15505
Hello @ErisDS, i already pulled ghost and trying to work on it locally, i first starteed the server with `yarn dev` but just gave the home page and didn't provide the theme option, tried signing up locally but doesn't provide options beyond those provided before signing up. Then i stopped the server and ran it with `yarn dev:admin` but the server errored out with deprecation issues. I had ghost se

[2022-10-02 19:45] rbtnn opened #15515 "An error occurs when display Member activity"
### Issue Summary

It seems that e.data.link may not always have a "to" property.

![image](https://user-images.githubusercontent.com/1595779/193472912-6da462e8-2675-4c0c-82b6-1b5047e49982.png)
![image](https://user-images.githubusercontent.com/1595779/193472923-f6fff7c0-d26d-4419-b5a6-3308e667e7c7.png)

https://github.com/TryGhost/Ghost/blob/0b41fbf102a77893667d265478a150753ae5c004/ghost/admin/ap

[2022-10-02 21:01] rbtnn commented on #15515
I can at least confirm that it works correctly with the following modifications.
![image](https://user-images.githubusercontent.com/1595779/193476043-e4915254-f824-47e9-8dfd-494c601b1bbc.png)

[2022-10-03 06:15] hey24sheep commented on #15507
I just tested it, Isn't it correct though? The form might be touched but the state didn't change. Meaning, if the newsletter toggle was 'on' before and it was toggled to 'off' then 'on' again. It should not show the "unsaved" modal because the changes never happend, the form is back to default. User doesn't need to save something which already is same in the database.

The same thing happens, if y

[2022-10-03 08:02] ErisDS commented on #15505
Doesn't sound like there was anything wrong with your setup. This is a bug in Ghost's admin panel, which lives at `/ghost/`.

[2022-10-03 08:15] ErisDS commented on #15507
You are correct that if the state doesn't change, then the modal shouldn't appear. But this bug is very specific:

The modal is not appearing when there _are_ unsaved changes.

[2022-10-03 08:16] ErisDS commented on #15497
Correct, the component should be enforcing the site's timezone, not the users.

[2022-10-03 08:42] #15515 closed

[2022-10-03 08:48] daniellockyer commented on #15515
This was fixed and released in v5.17.1 🙂

[2022-10-03 08:57] rbtnn commented on #15515
Thanks you for fixing

[2022-10-03 09:05] Walexero commented on #15505
do you have a way to figure this out so i can work on this open issue

[2022-10-03 10:58] ErisDS commented on #15505
I have updated the [source install docs](https://ghost.org/docs/install/source/) to include the location of Ghost Admin when using `yarn dev`. I am not sure that there is anything else to figure out?

Beyond framework knowledge there are certain product concepts in Ghost that you need to understand to fix this bug: that Ghost Admin exists and how to access it, and what a theme is and how to use on

[2022-10-03 11:00] ErisDS commented on #15470
We are [not assigning](https://github.com/TryGhost/Ghost/issues/15503) PRs very welcome though :)

[2022-10-03 11:15] iBotPeaches commented on #15500
[code]

This looks good on 5.17.x

![image](https://user-images.githubusercontent.com/611784/193564038-04034f60-e8be-47a2-88e1-7bb453703c8b.png)

However, I just realized this ticket called out 4.x as the affected version. So I'll revisit this when I checkout 4.x.

[2022-10-03 11:48] Walexero commented on #15505
Apart from being able to review the source code for the theme implementation and accessing it through the Ghost Admin to make changes, do you think the code readability would be an issue for me based off the fact you said its a large project and is there a way to get in touch with you whilst making the change implementation

[2022-10-03 12:33] ozanuslan commented on #15497
I seem to have located the lines that cause this behavior. In the source file [`ghost/admin/app/components/gh-date-time-picker.js`](https://github.com/ozanuslan/Ghost/blob/ee40c9275841e82c46cebce389094d5e536f9038/ghost/admin/app/components/gh-date-time-picker.js) there's the [code block](https://github.com/ozanuslan/Ghost/blob/ee40c9275841e82c46cebce389094d5e536f9038/ghost/admin/app/components/gh-

[2022-10-03 15:06] #14287 closed

[2022-10-03 18:49] #15506 closed

[2022-10-03 21:26] ltoinel commented on #15437
Thank-you @ErisDS !
I'm developping quickly Mailknife to replace Mailgun : https://github.com/ltoinel/Mailknife

[2022-10-03 23:59] ASAMedia opened #15523 "yarn build produces non compliant output .tgz"
### Issue Summary

The output tgz file when after running `yarn build` is not compliant with the requested compressed file when running `ghost update --zip path/to/file.zip`.
The packages.yml file has the wrong name tag as well as the wrong version tag.
Besides that, the compressed file should directly include the main directory not a directory wich includes the main.

Am I the first one discoveri

[2022-10-04 01:07] ASAMedia opened #15524 "Update command breaks docker from working"
### Issue Summary

Created a custom zip/tgz file with`yarn build` and tried to upgrade a docker install of ghost(5.14.2) to it (5.15.0) with `ghost update --zip .../../` to the custom one.
It upgrades without a problem, but when trying to start ghost back up I get some weird errors as shown further down.
Why is the directory structure on the docker instances still the same as in the older 4. versi

[2022-10-04 02:13] jasham commented on #15507
So I have created one post.

![image](https://user-images.githubusercontent.com/23471755/193718811-bc31010b-0f3b-41fb-80d6-b3a39aa0667a.png)

Now going to the existing member page.

![image](https://user-images.githubusercontent.com/23471755/193718904-b8910c3f-e302-442d-915b-348bbe035cb6.png)

Opened existing member detail

![image](https://user-images.githubusercontent.com/23471755/193718976-6f5e

[2022-10-04 03:35] h2akim commented on #15507
Hey, some heads up for those who want to work on this issue.

This issue also affects `Labels` changes - when added new delete labels.

Both labels and newsletter changes should expect the page to show below popup when trying to navigate to other page `WITHOUT` saving

![Screenshot 2022-10-04 at 11 18 18 AM](https://user-images.githubusercontent.com/514048/193727084-7f2d96ac-3f48-45bf-973e-3d6bda2

[2022-10-04 03:51] daniellockyer commented on #15523
Hey @ASAMedia 👋🏻 The functionality of `yarn build` was fixed shortly before [this comment](https://github.com/TryGhost/Ghost/issues/15099#issuecomment-1258842099), which was just over a week ago. You'll need a more recent copy of the Ghost repo in order for it to work.

That being said, running `npm pack` from `ghost/core` should still work on the revision of the repo you likely have 🙂

[2022-10-04 03:51] #15523 closed

[2022-10-04 03:53] daniellockyer commented on #15524
Hello again 🙂 I believe this problem arises from the .tgz you're building. I've posted some workarounds in https://github.com/TryGhost/Ghost/issues/15523#issuecomment-1266362936

[2022-10-04 03:53] #15524 closed

[2022-10-04 08:34] kevinansfield commented on #15507
Correct. Changes to relationships are not currently tracked by Ember Data's built-in dirty property tracking.

In this case we'd need to manually track that newsletters/labels have been changed and use that alongside `hasDirtyAttributes` for showing the unsaved changes modal.

[2022-10-04 11:54] brunogeronimo commented on #12090
Hello @ErisDS,
Maybe I wasn't clear on the explanation. Sorry for that.

I currently have this URL problem when moving to Ghost **due to** not having a coupling between `routes.yaml` and the admin panel.

If the route defined on the custom `routes.yaml` was considered as part of the slug, I would not have this issue when moving my content to GhostCMS since one slug would be `/trezor` and the other

[2022-10-04 18:08] vishnu-kyatannawar commented on #15470
Hi @kevinansfield

I recently switched from wordpress to ghost for my personal blog. I love how simple the application is to use. Thanks for building such a great application.

I also wanted to contribute to this application, so started looking at the code. I have never done any coding using ember but I can make some sense of the code.

I tried the potential solution mentioned here https://github.

[2022-10-04 19:18] javierencalada opened #15528 "Disable border or change template for Native Comments"
### Issue Summary

Hello!, i'm Javier from EstudioPatagon themes.

When using Native Comments, the border colors do not looks good: https://prnt.sc/JVTJ_xEU4jwH depending of the container color. The current solution works very nice for White or Black background, but not so well for other kind of colors.

Live example: https://ghost.estudiopatagon.com/groovy/far-far-away/

It could be really good a

[2022-10-05 10:42] #14508 closed

[2022-10-05 12:14] peterzimon commented on #15528
Hey @javierencalada, thank you for your report we've added it to our bug backlog.

[2022-10-05 13:56] JohnGrisham commented on #15470
I was trying to look at this one but I can't get the admin UI to load. The splash screen just shows up and nothing else.

[2022-10-05 15:03] ErisDS commented on #15497
Please raise a PR 🙂

[2022-10-05 15:12] ErisDS commented on #15470
Hey @JohnGrisham - if you need a hand getting a dev environment setup, please use the [contributor section of the forum](https://forum.ghost.org/c/contributing/27) so that the conversation here needs can focus on how to solve the bug 🙂

[2022-10-06 04:30] naz opened #15537 "Webhook test coverage"
Webhooks have been a part of Ghost since very first versions. This area has been constantly lagging behind with solid test coverage. Having tests would add confidence to webhooks stability. Snapshot tests would be a great source of example data webhooks deliver to external integrations.

To improve this situation, Ghost has introduced a special purpose Webhooks snapshot tests. These are snapshot-b

[2022-10-06 05:24] dshubhadeep commented on #15537
hi @naz
I would like to work on `tag.*` events

[2022-10-06 06:06] naz commented on #15537
Hey @dshubhadeep 👋  Feel free to pick one event at a time, will try my best to review ASAP. And feel free to ask questions if anything is unclear!

[2022-10-06 06:37] dshubhadeep commented on #15537
Thanks, I'll start with `tag.added` event.

[2022-10-06 14:19] ashak opened #15542 "Custom theme settings (Site Design settings) not restored from import"
### Issue Summary

(Probably not too relevant, but worth mentioning just in case) I upgraded an ancient < v1 by exporting its data into a fresh v1.26.2 (I think), I then exported the data from the v1.26.2 instance and imported it into the latest version v5.17.2. All was well.

Its using the default theme casper (v5.3.1), I fiddled with the admin ui a little including changing some of the things un

[2022-10-06 15:26] illiteratewriter commented on #15537
I'd like to work on `member.added` event

[2022-10-06 17:24] ASAMedia commented on #15524
Hi @daniellockyer ,
thanks for your quick response.
I migrated to the newest version and re-build the .tgz archive.
[Here](https://we.tl/t-CZwYphLJYB) is a link to the .tgz in case you want to take a look at it (was to big for attachment).
When I run the update command as node user in docker after copying the archive I get the following output:

[code]

[2022-10-06 18:09] #15497 closed

[2022-10-06 18:53] JohnGrisham commented on #15537
I'll try my hand at page.added

[2022-10-06 21:48] kristophesankar commented on #15505
Hi @ErisDS, I took a quick look at this issue and came up with this.

![gh](https://user-images.githubusercontent.com/33190221/194423019-af697e49-dd85-4cd2-8c26-612a514acf2b.png)

I've added a "none selected" to the change theme button and the section in the middle informing the user that there isn't any active theme. I do have one question though. Should the Brand dropdown in the menu be hidden,

[2022-10-07 07:33] illiteratewriter commented on #15542
@ErisDS Can I take a shot at this?

[2022-10-07 08:22] jennyxchang commented on #15537
I can work on `post.scheduled` event.

[2022-10-07 08:24] ashak commented on #15542
Something else I noticed in relation to this is that if I switch theme the same settings mentioned above also seem to get reset.

I don't know if that's intentional or also needs fixing.

[2022-10-07 08:31] illiteratewriter commented on #15542
I think that's because that setting is actually applied to the theme rather than as an overall setting change in Ghost. I believe this is intentional, but I might be wrong. But if you put Casper as the theme again, the settings in Casper should still be there.

[2022-10-07 09:50] jbenezech opened #15558 "Some tests fail depending on system timezone"
### Issue Summary

On a PC set to a UTC+7 timezone, the following tests fail:
- filter-test (sometimes)
- gh-date-picker-test
- gh-date-time-picker-test.js

### Steps to Reproduce

1. Change your system timezone to Asia/Bangkok
2. Run `yarn test`

### Ghost Version

main

### Node.js Version

v16.17.1

### How did you install Ghost?

From source

### Database type

SQLite3

### Browser & OS versio

[2022-10-07 10:52] jbenezech commented on #15558
@kevinansfield arf indeed, this seems to cover the same bugs. Couldn't see any existing issue in the list so thought I'd give it a go.

[2022-10-07 10:52] #15558 closed

[2022-10-07 14:29] AlexRoar opened #15563 "Unexpected behaviour with Cmd+C keybinding on post page"
### Issue Summary

When trying to copy text from an article using the Cmd+C key combination, the scroll goes straight to the comments section. When your blog provides code snippets that are frequently copied, this is really bad behaviour

### Steps to Reproduce

If it makes difference, the Journal theme activated

1. Visit any post page
2. Press Cmd+C

### Ghost Version

5.17.2

### Node.js Versio

[2022-10-07 19:17] ErisDS commented on #15502
Portal is now officially part of the monorepo and the dev workflow is working really well.

By default `yarn dev` will pull the latest release of portal from jsDelivr. If you're actively working on Portal, you can run `yarn dev --portal` and you'll get your live local version of portal as well as Ghost & Ghost Admin 🙌

Would love to get some volunteers to start wiring up i18next.

[2022-10-07 19:34] ErisDS commented on #15563
Good catch, that should only be happening for the `c` key, not when used in combo with meta keys. We'll get it fixed up asap.

[2022-10-07 22:48] LivioGama opened #15569 "Crash on the unpkg version"
### Issue Summary

When using:
`<script defer src="https://unpkg.com/@tryghost/portal@latest/umd/portal.min.js" data-ghost="https://<site>.ghost.io"></script>
`it crashes at this line:
![CleanShot 2022-10-08 at 00 44 48](https://user-images.githubusercontent.com/6930498/194672413-79547483-af1f-4e7e-97e0-a74cd17d67a0.png)
It should be:
`if (site.portal_plans?.includes('free')) {`

### Steps to Repr

[2022-10-08 05:09] jbenezech commented on #14981
@ErisDS I'm submitting a PR for this one **however**
1. Generating a taxonomy entry in the index sitemap even when it doesn't have any urls was done on purpose in this PR https://github.com/TryGhost/Ghost/pull/13698/files#diff-47edb0d155714257c72a2993b7480f660de663942214ed29002e4715ffcd1e2eR34
2. Generating an empty sitemap for that taxonomy was also done on purpose in the same PR https://github.c

[2022-10-08 08:54] astuanax commented on #10477
This is actually the other way around in many cases.
Forcing these absolute URLs will definitely make sure images are not showing up in a secure production environment.

In a production environment, you surely do not want any of the admin sections available,
so they are most likely on a protected or internal domain or even a localhost domain.

Absolute URLs, as a result, will point to a protected

[2022-10-09 05:21] kritikash18 commented on #15537
working on post.deleted event

[2022-10-09 11:30] Prathamesh010 commented on #15537
Working on `post.unpublished` event

[2022-10-09 17:24] h2akim commented on #14973
Hi @Majirefy,

I might need your help to verify the parsing result. I saw that there are like repetition of `锟斤` characters. Is it normal and correct is render correctly or at least readable?

<img width="766" alt="Screenshot 2022-10-10 at 1 03 42 AM" src="https://user-images.githubusercontent.com/514048/194770003-2c5cbb20-55d3-4613-95e1-493bd66cc0d6.png">

Thanks

[2022-10-10 04:56] kritikash18 commented on #15537
working on `post.tag.attached` event

[2022-10-10 09:44] #15563 closed

[2022-10-10 09:51] SimonBackx commented on #15563
This has been fixed. You don't need to update your Ghost install as long as you are running at least v5.18.0 😊

[2022-10-10 09:53] AlexRoar commented on #15563
Great!
Thanks for the fast issue resolving and for creating a fantastic product

[2022-10-10 12:18] ErisDS commented on #12090
Hey @brunogeronimo I understand what you're saying, but again - your problem is not the same as this issue and is also nothing to do with your `routes.yaml`.

This issue is reporting that the help text under the "Slug" field in the post settings menu is not correct. The help text shows the expected URL based on the given slug, but doesn't take `routes.yaml` into account - so it can be wrong.

The

[2022-10-10 12:33] ErisDS commented on #15569
@LivioGama could you please provide the actual error you're seeing and also share what your portal settings are under `/ghost/#/settings/members?showPortalSettings=true` ?

[2022-10-10 12:59] #15450 closed

[2022-10-10 14:45] illiteratewriter commented on #15542
@ErisDS I have created an importer which imports but right now it is not editing the existing entries but creating new entries. So I created an `edit` method in `ghost/core/core/server/models/custom-theme-settings.js` but it is still using the default edit method from `crud.js`. Any idea what I might be doing wrong?

[2022-10-10 16:28] LivioGama commented on #15569
Stacktrace:
[code]

[2022-10-10 18:02] ErisDS commented on #15569
Hi there again @LivioGama. Thanks for providing an update, however I cannot see the settings you have configured (the menu on the left is closed in the screenshot) and I cannot reproduce your issue.

`site.portal_plans` should never be undefined - if nothing is set it should be an empty array.

I also can't see the error by opening your site - when does it happen?

[2022-10-11 03:11] UncannyValle commented on #15537
Hi there! I'll start working on `page.deleted`!

[2022-10-11 11:20] ASAMedia opened #15591 "Update command not working with .tgz file"
### Issue Summary

Issue Summary

Created a custom zip/tgz file with `yarn build` and tried to upgrade a docker install of ghost(5.17.1) to it (5.17.2) with `ghost update --zip .../../` to the custom one.
I'm thinking the package.json has wrong parameters https://github.com/TryGhost/Ghost/issues/15523.
When I run the update command as node user in docker after copying the archive I get the output

[2022-10-12 02:16] halldorbjarni commented on #15537
Hi all! I can work on the `site.changed` event.

[2022-10-12 05:11] illiteratewriter commented on #15542
@ErisDS I didn't have to create an edit method. I misunderstood some functionality. I've created a PR.

There is one issue; even though the DB is getting updated, the UI doesn't seem to reflect the changes immediately. It is taking some time after importing to reflect the changes. If I restart the server, the changes get reflected.

[2022-10-12 11:51] Taxick opened #15600 "Failed to send email. Reason: Can not use IPv4 addresses with current network."
### Issue Summary

I can't log in to my site (Front end) - I get this error: "Failed to log in, please try again"

If I restart ghost, the site works again for 1-2 days! Then the same error shows up again!

- I have tried to use the default Casper theme, and it's the same error!

- I have also tried to reinstall my server (Ubuntu 22.04) and install ghost again! But still the same error!

- Newslet

[2022-10-12 13:11] #14981 closed

[2022-10-12 13:28] #15591 closed

[2022-10-12 13:45] ErisDS commented on #15542
Hey @illiteratewriter Thanks for the PR, I'll leave some comments about this problem over there 🙂

[2022-10-12 13:52] #15600 closed

[2022-10-12 14:42] #15569 closed

[2022-10-12 16:07] ASAMedia commented on #15591
Hi @ErisDS ,
as written in #15523 , I already build the tgz file by running the build command.
I now want to update a already working Ghost install to my version with the `ghost update --zip .../../` command as written over [here](https://ghost.org/docs/ghost-cli/).
When I use the before mentioned command with my tgz file it fails with the error log I posted at the beginning of this issue.
There w

[2022-10-12 18:38] ErisDS commented on #15591
You've raised a bug report claiming that `ghost update` doesn't work, but the command is not failing to work, it's telling you your build is not a valid build.

[2022-10-12 19:09] ASAMedia commented on #15591
Its not working with the tgz build from the ghost client.
And thats because the package.json inside the tgz is not where the update command expects it to be.
When I move the package.json one directory up and change the name and version tag inside it gets detected but afterwards the whole ghost install fails.
And thats because the tgz filestructure is different from the one the ghost update command

[2022-10-12 19:24] ErisDS commented on #15591
Can you provide the full reproduction steps including _exactly_ how you run `yarn build` and the .tgz file you end up with? It sounds like you're not running `yarn build` in the right place.

[2022-10-12 19:35] ErisDS commented on #15505
@kristophesankar sorry for missing this question and thanks for opening a PR 🙏

[2022-10-12 20:14] #15500 closed

[2022-10-12 20:24] akp111 commented on #15295
I want to take this up @ErisDS

[2022-10-12 21:03] LivioGama commented on #15569
This forces to upgrade the plan from 9$ to 25$ per month...

[2022-10-13 04:19] kritikash18 commented on #15537
working on `post.tag.detached` event

[2022-10-13 04:46] dshubhadeep commented on #15537
Will start working on `page.scheduled` event

[2022-10-13 05:30] jimz-yucolab opened #15608 "new tag, link = 404"
### Issue Summary

1. create a new post with content ;
2. add a new tag alongside the new post ;
3. the new tag will appear in the site, but the link to that tag is 404 ;
4. can only be fixed by restarting ghost.

### Steps to Reproduce

1. create a new post with content ;
2. add a new tag alongside the new post ;

### Ghost Version

5.18.0

### Node.js Version

v18.10.0

### How did you install G

[2022-10-13 05:31] jimz-yucolab commented on #10433
the bug is still there, even when i create a new tag alongside a new post :
https://github.com/TryGhost/Ghost/issues/15608

[2022-10-13 05:34] jimz-yucolab commented on #15608
not exactly a new issue, some related reports :

https://github.com/TryGhost/Ghost/issues/10433
https://forum.ghost.org/t/new-tag-404-this-happens-on-a-new-fresh-install-or-docker/23824/2

[2022-10-13 08:20] ErisDS commented on #15608
We've seen a few reports of this and have an internal issue & investigation going on, but thanks for raising this with such a detailed report so we know it's affecting self-hosters too 🙏 really helpful.

The workaround we know atm is to go to the tag page, find the 404ing tag, edit any field and save it. The save refreshes the internal cache that's gotten out of sync.

We're looking into it - but

[2022-10-13 08:23] ErisDS commented on #10433
@jimz-yucolab to be super clear the bug you've raised is totally different - it's an actual bug with tags that should have URLs 404ing incorrectly. Whereas this issue is about a breaking change we made based on feedback we got from our users where tags (and authors) that had zero associated posts were not given URLs until they had at least one post associated with them.

[2022-10-13 10:41] #15267 closed

[2022-10-13 11:19] #14973 closed

[2022-10-13 14:25] halldorbjarni commented on #15537
Taking a stab at the `page.unpublished` event next!

[2022-10-13 15:37] ErisDS commented on #15569
Yes that is correct, as you're depending on using the API from an external site & custom integrations are not supported on the Starter plan 🙂

In general, if you're having any issue with your **Ghost(Pro)** site, please drop us an email on support@ghost.org and we'll be more than happy to give you a hand directly :slight_smile:

[2022-10-13 16:04] ASAMedia commented on #15591
I forked version 5.17.1 and made some custom changes according its apearance.
I ran `yarn setup` to install all dependencies.
Afterwards I tested it with `yarn dev`.
Everything seems to be working fine at this point.
Now I run `yarn build` in the root directory which includes `ghost  LICENSE  node_modules  package.json  PRIVACY.md  README.md  SECURITY.md  yarn-error.log  yarn.lock`.
The generated

[2022-10-15 14:13] dshubhadeep commented on #15537
will work on `post.edited` event

[2022-10-16 02:07] shngt commented on #15537
Taking a stab at page.edited, if that's okay

[2022-10-16 04:08] kritikash18 commented on #15537
working on `post.published.edited` event

[2022-10-17 10:52] daniellockyer commented on #15608
This has been fixed and released in v5.19.1 🙂

[2022-10-18 04:40] leonyangela commented on #15537
Hi, can I work on 'page.tag.attached'. Thank you.

[2022-10-18 05:25] Banbeucmas opened #15645 "post URL will show preview link if it gets filtered in collection and not included in any other"
### Issue Summary
Like the title suggest.

I put two versions here since it seems to happen with both versions. The odd thing is that the problem didn't occur during 5.17.2 when  I installed it the first time. It happened after I upgraded it to 5.19.1.

Downgrading to 5.17.2 doesn't fix the issue
I am not sure if this is intended behavior or not as well as I can't see why the bug doesn't occurred

[2022-10-18 15:50] Dark-Knight11 commented on #15537
I would like to work on `page.tag.detached` event

[2022-10-18 23:49] ASAMedia commented on #15591
Hi @ErisDS,
are there any updates on this topic?

[2022-10-19 02:56] naz commented on #15645
Hey @Banbeucmas 👋  I've followed the steps you've described and was not able to reproduce this on neither SQLite nor MySQL 8 databases. The link for posts with `/azre-0` slug and `hash-works` tag do redirect correctly to `/projects/azre-0` page. When the post is unpublished it no longer is shown on the frontend - this is the only case when the post would have a preview URL formed with `/p/{uuid}`

[2022-10-19 05:19] Banbeucmas commented on #15645
Indeed there is
[code]
This is happening on the `home.hbs` template. Which has 2 sections that involves the `#get` and `#forEach` helper. Before the `#get` helper mentioned on the top above was used. This was the other `#get` helper

[code]

Beyond this, there is no other section in this file that use any other helper.

As for testing against the latest version, I will try to replicate it when I h

[2022-10-19 07:25] ErisDS commented on #15591
This isn't the behaviour on an up-to-date and unmodified version of the monorepo. I suggest trying to run `yarn build` without any modifications applied first, to see if that build works for you.

[2022-10-19 15:02] Dark-Knight11 commented on #15537
I would like to work on `page.published` event

[2022-10-20 04:32] Banbeucmas commented on #15645
@naz Getting back to the Issue since I just tested it in a different machine. Seem like the issue is not machine independant. On the latest version as well

I will also provide the log of me trying to replicate the issue with timestamp comments to aid
[ghost.log](https://github.com/TryGhost/Ghost/files/9826250/ghost.log)

I would also provide the full redirect.yaml (With external URL redacted) sin

[2022-10-21 11:25] ErisDS commented on #15591
It seems like you're trying to run `yarn build` on the already built downloads. It only works on the source code... You need to follow https://ghost.org/docs/install/source/

[2022-10-21 12:10] ASAMedia commented on #15591
First of all, I followed the instructions from [https://ghost.org/docs/install/source/](https://ghost.org/docs/install/source/), but foked the latest release from here [https://github.com/TryGhost/Ghost/tree/v5.19.3](https://github.com/TryGhost/Ghost/tree/v5.19.3).
Second of all, it would be very kind of you, if you could try it out yourself by following my instructions from the last [comment](htt

[2022-10-21 13:19] ErisDS commented on #15591
I did try it out. I tried running `yarn build` on multiple versions both in the root directory and in the `ghost/core` directory.

I get a file called `ghost-5.x.x.tgz` output in the root directory, not the weirdly named file you get in `ghost/core`.

After trying it out, I said:

I also know that the issues you had yesterday with grunt were fixed in the main branch already.

If I cannot reproduce

[2022-10-21 14:04] ErisDS commented on #15542
Thanks to @illiteratewriter the fix for this will go out in today's release 🎉

[2022-10-21 15:46] ayyilmaz opened #15674 "Ghost CMS main root folder and Nginx configuration for HestiaCP problem"
### Issue Summary

`root /var/www/ghost/system/nginx-root`

there is no folder like this and I cant get assets etc.

my main folder at `/home/user/web/domain/public_html/` not at the var folder.

I installed with ghost install local without using mysql

[code]

[code]
***

[code]

***

![image](https://global.discourse-cdn.com/business4/uploads/ghost2/original/3X/d/c/dc0dec1d809d8c544f04d1d7405bec

[2022-10-21 18:04] #15674 closed

[2022-10-21 18:30] ayyilmaz commented on #15674
I used ghost cms 3.0 before with HestiaCP and I think this problem is not just about environment.

[2022-10-21 20:03] #15291 closed

[2022-10-21 20:05] #15507 closed

[2022-10-22 19:03] mlc-mlapis commented on #11844
@ErisDS It's a warning, OK, but how to eliminate it? Is there a known reason why it appears? And what to do to correct it?

[2022-10-22 20:53] ErisDS commented on #11844
It’s a warning from npm saying that the engines value “appears incorrect” because it’s something npm doesn’t & isn’t supposed to recognise - it’s for Ghost-CLI.

Nothing is wrong, there’s nothing to correct, just ignore it.

[2022-10-23 09:12] yahya-cloud commented on #15537
I'd like to work on  post.unscheduled event

[2022-10-23 18:22] Jaya-sys commented on #15537
Hey can you assign this issue to me?

[2022-10-23 19:49] dom96 commented on #15537
@yahya-cloud I've already got a PR out for that here: https://github.com/TryGhost/Ghost/pull/15675

[2022-10-24 05:36] naz commented on #15537
@Jaya-sys hey-hey 👋  There is no need to assign anything, just pick one of the event's you'd like to cover and submit a PR. This issue is designed to be shared 😄

[2022-10-24 09:10] Banbeucmas commented on #15645
May I have an update to this issue?

[2022-10-24 10:28] mlc-mlapis opened #15683 "Security vulnerabilities in dependencies"
### Issue Summary

GitHub reports: We found potential security vulnerabilities in your dependencies.

### Steps to Reproduce

![image](https://user-images.githubusercontent.com/5693835/197505732-b9dc9d5e-662f-4d4f-ade2-33b7073cb110.png)

### Ghost Version

5.20.0

### Node.js Version

14.x, 16.x, ...

### How did you install Ghost?

Standard way

### Database type

MySQL 8

### Browser & OS versio

[2022-10-24 11:54] debmalya37 commented on #15537
Hey !! Can I do it ??

[2022-10-24 13:07] ErisDS commented on #15683
Hi there again @mlc-mlapis,

We have internal policies and process for monitoring and reviewing vulnerability reports from npm & GitHub, and in the majority of cases the warnings aren't relevant to the security of Ghost. You can read more about why this is the case [here](https://overreacted.io/npm-audit-broken-by-design/).

If there’s a specific package that you believe does compromise the securi

[2022-10-24 13:07] #15683 closed

[2022-10-24 19:04] ErisDS commented on #15591
It's this file here:

https://github.com/TryGhost/Ghost/blob/main/package.json

What OS are you on? What version of git &  npm etc?

[2022-10-25 05:14] naz commented on #15537
@debmalya37 sure you can!

[2022-10-25 21:09] ASAMedia commented on #15591
Im on Ubuntu 22.04 with git 2.38.1 and npm 6.14.17
It looks like the `npm pack` command from the [/ghost/core/package.json](https://github.com/TryGhost/Ghost/blob/main/ghost/core/package.json) uses the wrong package.json as reference for packing the tarball file. When I change the name and version of the root [package.json](https://github.com/TryGhost/Ghost/blob/main/package.json), the tgz file ha

[2022-10-26 00:57] cathysarisky commented on #14278
I'd like to fix this one, because it messes with my ability to develop on Windows, but I'm stumped.  I've dug through the repository, but am not sure where the code that should generate these assets is.  I'd love to help, but I need someone who isn't as much of a newbie to point me at the right code, if you have a moment. :)

[2022-10-26 05:00] TomGranot opened #15692 "Update flow requires double update between v4 and v5"
### Issue Summary

When trying to update from v3 to v5 (latest), I came across a situation in which I need to double-update v4 in order to get the truly latest v4, before being able to finally upgrade to v5. I think this flow is a bit weird -

### Steps to Reproduce

1. Update from v3 using `ghost update`
2. Get asked to update to v4 first, run `ghost update v4`
3. Try running `ghost update v5` an

[2022-10-26 05:21] vikaspotluri123 commented on #14278
@cathysarisky the card asset generation service is here: https://github.com/TryGhost/Ghost/blob/857dacbf16e73d72730b859fab4ea478d63c2a4f/ghost/core/core/frontend/services/card-assets/service.js

But the root cause might be the minifier, which is here:
https://github.com/TryGhost/Ghost/tree/857dacbf16e73d72730b859fab4ea478d63c2a4f/ghost/minifier

[2022-10-26 05:39] Banbeucmas commented on #15645
@naz Have you found a way to replicate this issue now? Because if not I am willing to try and provide more details.

[2022-10-26 16:50] ErisDS commented on #15591
Can you try updating npm? I'm on 8.19.2

[2022-10-27 02:13] naz commented on #15645
Will be having a look at the issue with the details you've provided @Banbeucmas. Thanks for following up and patience 🙏

[2022-10-27 02:18] naz commented on #15645
This bit is quite interesting. Wonder what is causing this error.
[code]

Will try replicating with the redirects config from above:
[code]

[2022-10-27 03:07] naz commented on #15645
I was not able to reproduce the case on my machine. I suspect it has something to do with the posts or pages present on the instance, base on the log review and not being able to get the bug working locally. The error present in the logs happens when the post's url is being generated [here](https://github.com/TryGhost/Ghost/blob/409377476d5107190b774cd1ee28e9ab1d89a03a/ghost/core/core/server/servi

[2022-10-27 04:01] naz commented on #15645
Also, would be great if you could come up with a state that reproduces this issue on someone else's environment  🙌

[2022-10-27 04:45] Banbeucmas commented on #15645
@naz Thanks for the insight, I have decided to look further more into the issue. It just gets weirder however but seem like I also have found the trigger to this issue on my machine.
Can you try to see if using the filter in `routes.yml` while also using the same filter in {#get} would cause the issue?
Commenting it seem to resolve the issue for me.

[code]

[2022-10-27 05:21] Banbeucmas commented on #15645
@naz In case you haven't seen it yet, I have included more edits to the above comments. I think this is the crux of the issue we are having where collections need to have all of the post mentioned to work.

[2022-10-29 05:54] yeshwantthota commented on #15692
@TomGranot hey I am a beginner to open source can I contribute to this issue?

[2022-10-29 14:03] keakarsu commented on #14278
Same problem is still going on. I'm not able to create some cards on windows.

[2022-10-30 00:00] ltoinel opened #15725 "Mailgun BATCH_SIZE with a fix value of 1000 is incompatible with new users"
### Issue Summary

Hi,

When you want to use Mailgun with the flex offer, they block your account to a maximum BATCH_SIZE to 10.
This value is currently to defined to 1000 and cannot be overide with settings by the end user.

in bulk-email-processor.js :
`
module.exports = {
    BATCH_SIZE: MailgunClient.BATCH_SIZE,
`

Could be  :
`
module.exports = {
    BATCH_SIZE: bulkEmailConfig?.mailgun?.batc

[2022-10-30 11:00] Vadimkin opened #15726 "Ghost code snippet doesn't work with nginx code listing"
### Issue Summary

I want to show some nginx-code example in code snippet, but ghost will not highlight it. I am using `nginx` as code language.

In the editor, it looks like:
![CleanShot 2022-10-30 at 12 48 59](https://user-images.githubusercontent.com/2240404/198874661-d342e6d9-c7a7-4b60-944d-27113a90f2dd.png)

In the post page:
![CleanShot 2022-10-30 at 12 49 21](https://user-images.githubuserc

[2022-10-30 14:12] #15505 closed

[2022-10-30 15:07] iBotPeaches opened #15727 "Crash on Upgrade to 5.21.0"
### Issue Summary

Vising any page in Admin that results in listing posts, crashes.

### Steps to Reproduce

1. Upgraded to 5.21.0 (MariaDB)
2. Visited Admin Panel

### Ghost Version

5.21.0

### Node.js Version

16.x

### How did you install Ghost?

Source

### Database type

Other

### Browser & OS version

Chrome

### Relevant log / error output

[code]

### Code of Conduct

- [X] I agree to be

[2022-10-30 15:07] iBotPeaches commented on #15727
Wait. This is my fault for using MariaDB.

This is not an issue when I moved to mysql8.

[2022-10-30 15:07] #15727 closed

[2022-10-30 15:26] Ex10si0n opened #15728 "Search Function does not work due to CORS access control"
### Issue Summary

I use docker ghost 5.17.2 version from [https://hub.docker.com/_/ghost](https://hub.docker.com/_/ghost). The built-in search is not work due to CORS access control checks. I do not use ghost as a CMS. Instead, I use the casper theme. I think that this bug is caused due to CORS access control policy, so where could I specify the Access-Control-Allow-Origin in HTTP request in the

[2022-10-30 16:19] dest4 commented on #15725
The new setting is probably the best idea.

Other, probably worse, approaches:
- start with batch size of 1000 but if Mailgun account limitation is detected, retry with 10 (no config needed, but more complex to implement?).
- set the batch size to 10 by default for all users (trivial to implement, but slow delivery for big publishers?)

[2022-10-30 17:54] ngreve opened #15729 "MariaDB no longer supported - admin post screen 400"
### Issue Summary

I cannot access my posts. When I try to access my Posts (Drafts/Scheduled/Published) , I get the error message  "Request not understood error, cannot list posts. Could not understand request. "

![image](https://user-images.githubusercontent.com/18660100/198893571-5da62219-3522-413b-8ee9-d69a45a3b7b7.png)

For example when I try to access the `Drafts` tab, the call to
`https://n

[2022-10-30 18:23] ltoinel commented on #15725
@dest4  : Overwise use a dynamic batch size regarding your members count ? This allows you to start your blog with the mailgun restrictions.

`if (nb_members < 100)
     batch_size =10;
else {
      batch_size =1000;
}`

[2022-10-30 19:16] iBotPeaches commented on #15729
@ngreve - Are you using Maria? I had that and reported here #15727, but then I realized it was because of Maria and finally did the swap over to mysql8 and it went away.

[2022-10-30 20:05] ngreve commented on #15729
Yes, I am using MariaDB. Unfortunately switching to Mysql is not an option. My distro does not have an official package for mysql. If this is not fixable by the Ghost dev team, please close this issue and I will have to switch to another CMS

[2022-10-31 05:33] ikarus-dhruv opened #15732 "Dropdown from header is hiding behind the featured posts."
### Issue Summary

I tried using a custom built header with code injection. Everything works fine except the dropdown menu of the header gets concealed by the featured posts carousel as if the carousel in the "Alto" theme.

### Steps to Reproduce

1. Use the "Alto" theme.
2. Remove the header portion.
3. Using code injection inject the provided code in the header section.
4. Toggle the dropdown an

[2022-10-31 07:14] UsmanAhmadSaeed commented on #14278
I'll take a go at it

[2022-11-01 03:45] #15732 closed

[2022-11-01 06:52] ericalli opened #15740 "Cannot update membership tier descriptions"
### Issue Summary

I can't seem to add/update the description for any membership tiers. Entering a description and then saving clears out whatever value was entered. The database also does not get the updated value either.

https://user-images.githubusercontent.com/13506/199175848-c10bb422-68ff-4622-86c2-1b9ece1ae716.mov

I've tested this with fresh installs of Ghost both locally and on a DO dropl

[2022-11-01 09:59] nik-nazarov opened #15743 "Migration failed update from 5.19.3 to 5.22.1"
### Issue Summary

Can't update ghost from 5.19.3 to 5.22.1.
Migration failed.

### Steps to Reproduce

1. Change docker image to new version 5.22.1
2. Trying to start ghost with new version and get the error.

### Ghost Version

5.19.3

### Node.js Version

v16.18.0

### How did you install Ghost?

helm chart

### Database type

MySQL 8 (AWS RDS)

### Browser & OS version

_No response_

### Rele

[2022-11-01 11:25] #15740 closed

[2022-11-01 12:19] ErisDS commented on #15740
This has been fixed and released. Please update to 5.22.2 :)

[2022-11-01 12:32] ASAMedia commented on #15591
Well thats kind of interesting.
I updated npm with `npm install -g npm@latest` to version 8.19.2.
I run again `yarn build` and **now it works as expected**.
The tgz file is generated in the root directory.
This is a very interesting behaviour.🤔
How can the `npm pack` command work in a different way on different versions?

I will try the `ghost update` command with the tgz of my fork later in the d

[2022-11-01 19:48] b-turchyn commented on #15729
This impacted me as well.

The issue occurs in the subquery for counting conversions. MariaDB seems to struggle with referencing a table that is the more than the "parent" of the subquery. If the post WHERE clause is done more than one child down, the issue occurs.

[This Gist](https://gist.github.com/b-turchyn/38bd50d881c0bd8f9d5c9c6c16dd8af4) has the original query and a manually updated one tha

[2022-11-01 22:14] alfarhan opened #15752 "Comments section does not support RTL languages (Arabic, Hebrew, ..)"
### Issue Summary

In case the Publication Language setting is ar language, it should align text to be rtl (from right to left). I can help in translating the labels.

### Steps to Reproduce

Make Publication Language "ar" like on my website alfarhan.ws.
The comment section on post pages will ignore this setting.

### Ghost Version

latest

### Node.js Version

latest

### How did you install Ghos

[2022-11-01 22:14] ErisDS commented on #15729
Sorry for taking a couple of days to get to this. As of Ghost v5 the Ghost team are no longer maintaining support for any database in production other than MySQL 8.

I've explained this a few times on the forum, but I'll also explain here:

For MySQL5, MariaDB was a 100% compatible drop in replacement. Since then, the MariaDB team have opted to diverge and not keep compatibility with MySQL. Along

[2022-11-01 22:18] ErisDS commented on #15692
@TomGranot this is certainly not expected but I'm missing a few details to reproduce:

1. What exact version of Ghost v3 did you start on?
2. Which exact version of Ghost v4 did you upgrade to, and when?
3. When did you upgrade to v5 / how long was there between the two upgrades?

My best guess is that a new version of v4 was released in the middle of your upgrade process.

[2022-11-01 22:21] ErisDS commented on #15743
Please can you connect to your DB and run `SELECT @@sql_mode` and share the output?

[2022-11-01 22:22] ErisDS commented on #15728
The search function is working as expected on all standard setups.

I couldn't make sense of what you mean by this. Can you explain more about your setup? Particularly everything to do with your domain/url configuration.

[2022-11-01 22:26] ErisDS commented on #15726
Hey @Vadimkin, can you confirm what theme you're using? This seems like a theme specific issue.

[2022-11-02 03:38] Unreal1david opened #15753 "Nginx unable to read member-ssr cookie"
### Issue Summary

Looking to setup caching behavior with Nginx . When trying to read the value of the member-ssr cookies Nginx isn't able to read them. Strange since they are included in the request header.

### Steps to Reproduce

Looking through the member-ssr code I tested displaying the value of the cookies "member-ssr" and "ghost-members-ssr" in the response header and it responds with whate

[2022-11-02 03:51] Ex10si0n commented on #15728
I deployed Ghost using docker deploy command: `docker run -d --name some-ghost -e NODE_ENV=development -p 80:2368 -v /var/www/aspires:/var/lib/ghost/content -e url=https://aspires.cc ghost` with nothing changed inside the docker container. However, the search function does not work. The error log (from web debugger) is displayed below.

- PS. I use Cloudflare to proxy my domain's DNS server, I don

[2022-11-02 05:15] mackenly opened #15754 "Feature Post Update Bug"
### Issue Summary

When you go to make a change to a published post and only toggle the "Feature this post" checkbox, the Update button isn't activated. You can get around this by going and adding and removing a space to the post content (which makes it think there's been a change made).

### Steps to Reproduce

1. Go edit a post in the dashboard
2. Don't make any changes other than step 3
3. Togg

[2022-11-02 05:36] aaronweihe opened #15755 "Ghost was able to start, but errored during boot with: Unable to run migrations"
### Issue Summary

I'm upgrading a ghost instance from 3.x to the latest. From the guide, it looks like the best way is to backup the content and reinstall ghost, but then ran into this during the last step of the installation. And now I can consistently reproduce this by running `ghost start`

### Steps to Reproduce

`ghost start`

### Ghost Version

5.22.4

### Node.js Version

16.18.0

### How

[2022-11-02 06:01] aaronweihe commented on #15755
reinstalled ghost again with a different mysql db name `ghost_prod2` and restored a backup and the site is running okay. but when I try to click on Posts/Drafts/Scheduled or Published, it always give me 404. And when I try to write a new post, there's an internal server error:

[code]

[2022-11-02 08:23] nik-nazarov commented on #15743
Hi @ErisDS, sure

[code]

[2022-11-02 10:17] ErisDS commented on #15743
- From https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html

Ghost expects the default sql mode, and **requires** NO_STRICT_TRANS_TABLES

I'll leave this open for the time being to:

1. Get this documented
2. Look at catching these errors and instead throwing something more specific like "Incorrect SQL Mode, STRICT_TRANS_TABLES is required.

If anyone would like to take on 2 that would be awesome

[2022-11-02 10:39] nik-nazarov commented on #15743
@ErisDS thank you for your reply, I've just update sql_mode to default value and now it works!

[2022-11-02 10:51] TomGranot commented on #15692
@yeshwantthota stay tuned, let's see what gives. Thank you for offering!!

@ErisDS Everything happened in the span of a few hours, so I assume that might be what happened.

Can't recall which v3 or v4 unfortunately. Feel free to close if this contains too little info

[2022-11-02 11:05] ErisDS commented on #15692
OK great - I will close this for now and move it over to the Ghost CLI repo. If we get more reports we can reopen and investigate further.

[2022-11-02 11:05] #15692 closed

[2022-11-02 11:31] #15755 closed

[2022-11-02 11:32] #15753 closed

[2022-11-02 14:34] ErisDS commented on #15752
Hey there, thank you so much for the bug report.

That does sound like something that shouldn't happen! A PR to fix this issue would be very welcome 🙂

[2022-11-02 14:35] ErisDS commented on #15725
We are actively talking to mailgun about how to make the onboarding process work more smoothly. I've raised this to them as, as far as I know, there is no way for us to auto-detect when the account is limited.

[2022-11-02 15:49] ASAMedia commented on #15591
Everything works now!
Thanks for your help nailing down the problem.

[2022-11-02 17:03] ErisDS commented on #15728
This doesn't seem like a bug in Ghost. You shouldn't be deploying Ghost in development onto a production site - although I doubt that's the problem. You can get help with docker from the docker community that maintains the [docker image for Ghost](https://github.com/docker-library/ghost/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) or from our [forum](https://ghost.org). Forum is probably bes

[2022-11-02 17:03] #15728 closed

[2022-11-02 17:28] ErisDS commented on #15537
We now have either a merged or open PR for every single webhook. Thank you to everyone who contributed ❤️ this is incredible - you've all helped us to make a sea-change in our test coverage and ability to support webhooks and zapier going forward.

Thank you 🙏

[2022-11-02 17:29] #15537 closed

[2022-11-02 17:30] ErisDS commented on #15469
Did you ever get to the bottom of this?

[2022-11-02 17:58] alfarhan commented on #15752
Thanks @ErisDS
I uploaded 2 screenshots above to view the current and how it should look.

[2022-11-02 18:07] #15469 closed

[2022-11-02 18:43] imylomylo commented on #15469
Sorry I did not try again in recent weeks.
If I do web stuff and encounter it i will re-open and reference this ticket.
Cheers

On Thu, Nov 3, 2022 at 12:30 AM Hannah Wolfe ***@***.***>
wrote:

[2022-11-02 19:34] samrap commented on #15743
@ErisDS @nik-nazarov  can you clarify what actually needs to be done here?

Our database is on RDS and I can't set the global sql mode. Have to pin to version 5.19.3 for the time being.

[2022-11-02 19:35] fueko opened #15759 "Ghost shows unconfigured paid tier with filter="visibility:public+type=paid""
### Issue Summary

Ghost shows an unconfigured paid tier $5/$50 with `filter="visibility:public+type:paid"` and an unconnected Stripe also this tier cannot be removed in the Portal options.

![Zrzut ekranu 2022-11-2 o 20 24 19](https://user-images.githubusercontent.com/23366922/199584171-e1afb2f3-a265-4d8f-bbb1-9373291d75b5.png)

### Steps to Reproduce

Test the setting for `{{#get}}` helper with

[2022-11-02 21:29] dest4 commented on #15725
Knowing before trying that the account is limited is probably not possible. But once the call to Mailgun API fails, it seems to be possible to infer it.

Here are a couple of lines of log when sending fails due to account limitation

[code]

The `is not allowed to send large batches yet` seems specific-enough. Though I don't know how stable over time this heuristic can be.

[2022-11-02 22:57] nik-nazarov commented on #15743
@samrap sure, you need to update sql_mode parameter in parameters groups that is attached to your RDS instance.
![image](https://user-images.githubusercontent.com/86673860/199617886-3695fc37-4901-4ea6-aeee-57736ba950f4.png)

[2022-11-03 05:49] aaronweihe commented on #15755
I'm curious why this isn't classified as a bug? clearly something went wrong that the migration wasn't successful?

[2022-11-03 06:19] naz commented on #15645
Just had some time to have another look and was able to reproduce the bug with the `routes.yaml` modification [described above](https://github.com/TryGhost/Ghost/issues/15645#issuecomment-1292989916) 🎉

[2022-11-03 06:23] naz commented on #15645
To be very clear,the issue has nothing to do with redirects. It's has to do only with the "filter" configuration in the `routes.yaml`

[2022-11-03 06:56] Banbeucmas commented on #15645
I think the correct title here is that "posts will show preview link if it gets filtered in collection". Pretty sure this situation happens with `routes:` as well.

[2022-11-03 07:20] naz commented on #15645
Have figured out the issue... so the correct behavior in this case should be a `/404/` link. This is because if we exclude all of the posts from the "collection" they should not have _any url_ assigned at all. Current behavior where we server a preview link as a [fix for very old Discus bug](https://github.com/TryGhost/Ghost/blob/6c5553d059f64785a189b5217070eedc67875a61/ghost/core/core/frontend/me

[2022-11-03 07:25] Banbeucmas commented on #15645
So if I am understanding this correctly, the intended behavior is that routes.yml `collection` should include all of the post that is filtered into right?

[2022-11-03 07:49] naz commented on #15645
Yes, for the post to have a correct URL it should always be included at least in one of the collections. Otherwise there's no way for it to calculate the URL.

[2022-11-03 07:50] naz commented on #15645
The reproduction of this bug collides with a fix to a [Disqus comments bug](https://github.com/TryGhost/Ghost/issues/9727).

[2022-11-03 08:29] Banbeucmas commented on #15645
I see, it seems like it is also a bit on my part for not knowing it (Since I didn't aware of the collection has to document the post needed). Though glad that this also accidentally activate a reproducible bug

Cheers

[2022-11-03 08:32] naz commented on #15645
@Banbeucmas thanks for helping out debugging it and staying patient 😅 In your case I think the "fix" would be to have a collection with posts having "hash-" slug. The underlying issue itself might be fixed in the future, but I don't see it as a super high priority bug atm.

[2022-11-03 08:38] Banbeucmas commented on #15645
Yeah, I figured it out when I found out how to reproduce it.

In the meantime, I think this issue will be left open (I might see if I can do a PR if I have time). Thanks for the support :+1:

[2022-11-03 15:39] JasonCEC commented on #12219
This seems to remain an open problem, using the `normal~subscript~` syntax renders subscript in the editor but not the published page.

[2022-11-03 16:06] Zagur opened #15766 "Migration update from 5.17.1 to 5.22.4 failed"
### Issue Summary

Can't update from 5.17.1 to 5.22.4

### Steps to Reproduce

1. ghost update
2. It is successfully updated to version 5.22.4, but some links in the administrative part do not work correctly.
3. Click on Post - Published. (Error: "Request not understood error, cannot list posts. Could not understand request.")

### Ghost Version

5.17.1

### Node.js Version

v16.18.0

### How did

[2022-11-03 16:58] ErisDS commented on #15766
Duplicate of https://github.com/TryGhost/Ghost/issues/15743 - you also need to upgrade mysql to v8 as Ghost v5 does not support mysql 5.

[2022-11-03 16:58] #15766 closed

[2022-11-03 17:36] lnlclay commented on #12802
I thought my postfix box was broken until I find this issue here, 18 months later still not fixed.