[2018-10-09 20:27] turekj commented on #9972
@kevinansfield I can confirm that rolling back to 2.2.0 by using `ghost update --rollback` solved the issue.

[2018-10-09 20:57] olivierlambert commented on #9972
I'm experiencing the same issue on a fresh `v2.2.1` install here (behind a Nginx reverse). Trying `v2.2.0` now.

[2018-10-09 20:59] olivierlambert commented on #9972
… and I confirm it works perfectly in `v2.2.0`!

[2018-10-10 02:01] allouis commented on #9972
@turekj The new authentication for ghost checks that a request is made from the same origin as the session was initiated from. We determine the origin via the `Origin` header or the `Referrer` if that is missing. It's possible that cloudflare is messing with that. What's strange is that upon login, an error should occur if neither of those headers are present. So it seems that the value of the hea

[2018-10-10 02:47] mskian opened #9975 "Failed to load resource: the server 401 Status Error in V2.2.1"
After updating the Ghost to Latest Version
I got this Below error on Browser Console while login to the Admin Dashboard

[code]

[2018-10-10 02:50] mskian commented on #9975
Rollback to Previous Version `ghost update --rollback` Not Getting this Error

[2018-10-10 02:50] allouis commented on #9975
Hi @mskian could you share any server logs for this error?

[2018-10-10 02:58] mskian commented on #9975
@allouis

[code]

[2018-10-10 03:00] allouis commented on #9975
Thanks :) Do you get this error _after_ you attempt to login? Or just when you visit the login page?

Would you be able to give me some steps to take to try and reproduce this - that way i'll be able to helper much quicker! Thank you!

[2018-10-10 03:01] mskian commented on #9975
@allouis  Just visit a Login page

[2018-10-10 03:02] allouis commented on #9975
@mskian This is expected behaviour :relaxed: We make a request in order to know if you're logged in or not, if it fails then we prompt for a login :+1:

[2018-10-10 03:02] mskian commented on #9975
@allouis After Successfully Login to the Admin dashboard Spot this error on Browser console

[code]

[2018-10-10 03:10] allouis commented on #9975
@mskian could you check the timestamp on that request? It might be left over from before?

Alternatively you can visit the login page, clear the network logs and then log in - you shouldn't see any errors.

[2018-10-10 03:17] allouis commented on #9972
@turekj @olivierlambert It would be really useful if you can provide the `Origin` and `Referrer` headers from your browsers network console for both the 200 request to `/session/` and the 400's afterwards.

[2018-10-10 04:16] mskian commented on #9975
My Development Site

[code]

[2018-10-10 04:28] mskian commented on #9975
Got this Error log While open a Login Page

[code]

[2018-10-10 04:37] allouis commented on #9975
Importantly what is happening, and what do you think should be happening? Not just in the console, but when interfacing with the application!

I can't help with this issue until you give me some more information - sorry!

[2018-10-10 04:40] mskian commented on #9975
✅ No Login Issue
✅ No Error in Dashboard
❌ but got that console error & ghost log error while opening an admin login page

[2018-10-10 04:43] allouis commented on #9975
Aha - thanks :relaxed:

So there's nothing to worry about here, as I mentioned before this is expected behaviour :+1:

Hope you have fun with your new install :ghost:

[2018-10-10 04:43] #9975 closed

[2018-10-10 06:00] allouis commented on #9972
@turekj @olivierlambert I was able to replicate this locally when using an nginx configuration that supported both `https:` and `http:` logging in on one protocol and accessing the admin on the other caused the issue. Does this match how either of your blogs are configured?

[2018-10-10 07:36] olivierlambert commented on #9972
I have a very similar configuration and same results than @turekj

[2018-10-10 07:46] allouis commented on #9972
@turekj @olivierlambert Thanks so much for your input - I believe the bug is caused by a misspelling of the "Referer" header in ghost - which I only noticed after reading through your comment! I've raised a PR for it now :relaxed:

[2018-10-10 07:52] turekj commented on #9972
You guys rock! 12 hours passed since the report and there’s already a PR to fix the issue :heart:

Will be happy to test the new release and see whether the issue is gone, but it sounds very reasonable. Once again, thank you, you’re doing an amazing job with Ghost!

[2018-10-10 08:59] allouis commented on #9972
Thanks for the love! <3

I haven't merged that PR yet, because looking at the express source code, they handle misspellings of the Referer/Referrer header - which means it's unlikely to be the cause. I am still trying to replicate this locally though.

Would you be okay to help us debug this some more by adding some logs on your end?

Specifically in `<ghost-install>/current/core/server/services/a

[2018-10-10 09:33] turekj commented on #9972
@allouis The output is:

`Expected https://jakubturek.com, got null`.

I think that it's not terribly useful to you, so I've copy pasted bunch of `getOrigin(req)` method, too:

[code]

And it printed out: `origin: null referrer: https://jakubturek.com/ghost/`. Still not terribly useful

[2018-10-10 09:35] turekj commented on #9972
But I think this might be the interesting part for you:

[code]

The `referrerOrg` part I took from `getOrigin` method. Now I get server error 500 with: `URL is not a constructor` stack trace, which might explain why it's impossible to extract origin from the referrer only!

[2018-10-10 09:40] turekj commented on #9972
This would mean that node v6 is the issue in here.

[2018-10-10 09:50] olivierlambert commented on #9972
FYI I'm running `v6.14.3`

[2018-10-10 10:34] allouis commented on #9972
@turekj Wow that's really useful! Thanks - i'll write a breaking test and get a patch out for this a$ap :+1:

[2018-10-10 13:07] #9972 closed

[2018-10-10 13:09] allouis commented on #9972
@turekj Thank very much for the bug report and the debugging - couldn't have solved this without that!

@olivierlambert Thanks for helping out :+1:

A fix for this has landed on master, I will release tomorrow morning as v2.2.2

:ghost:

[2018-10-10 15:19] kirrg001 commented on #7299
@herkyl No progress on this. The issue is labeled with `help wanted`. We are happy about any help.

[2018-10-10 18:48] onavascuez opened #9982 "500 error during setup with api v2 (on a subdirectory)"
This issue is very similar to #9952 , but I already have a clean install, from now, and I have this error in first admin page initial setup:

[code]

### To Reproduce

- Debian 9, clean install.
- NGINX 1.10.3
- PHP 7.2
- MySQL 5.7

I have initial setup to this domain in order to: https://mysite.com, and inside this https://mysite.com/blog resides Ghost.

### Technical details:

* Ghost-CLI versio

[2018-10-10 19:24] kirrg001 opened #9983 "Migration from v1 to v2 is broken with 2.2.1"
Was reported in the forum: https://forum.ghost.org/t/er-no-such-table-on-upgrade-to-2-0/3502/7

Currently you are getting a migration error when migrating from 1.25.5 to 2.2.1, because of mobiledoc revisions. The Ghost-CLI will show the error and tells you to rollback. Nothing should be broken. The major migration just doesn't work currently.

There are even two problems:

1. There is a function i

[2018-10-10 20:06] olivierlambert commented on #9972
Thanks!

[2018-10-11 01:42] leewill0211 commented on #9982
![image](https://user-images.githubusercontent.com/16256642/46775449-f14d3900-cd39-11e8-95dd-ba1367d1782f.png)

[code]

[2018-10-11 02:16] TonnyORG commented on #9775
@JohnONolan Fixing this one here: TryGhost/Ghost-Admin#1052 😄

[2018-10-11 05:28] VickyKoblinski commented on #9982
I'm experiencing the exact same issue. This is also a clean install.

**To Reproduce**
Ubuntu 16.04
Apache/2.4.18 (Ubuntu)
MySQL 5.7
Ghost is also running off of https://mysite.com/blog/

Technical details:
Ghost-CLI version: 1.9.6
Ghost version: 2.2.1
Node Version: v8.12.0
Browser/OS: Chrome / Win10
Database: Mysql 5.7

My logs:
[code]
After submitting form to registration page:

[code]

[2018-10-11 05:50] VickyKoblinski commented on #9982
I uninstalled ghost 2.2.1 (and dropped the ghost_prod database from mysql, not sure if this was necessary) and reinstalled ghost with 2.2.0, and that is working. Kept the same CLI.

[code]

[2018-10-11 06:35] onavascuez commented on #9982
Ok, I already tried and confirm that if I update the version from 2.2.0 to 2.2.1 the problem is the same. I go to reinstall 2.2.0 and waiting.

[2018-10-11 06:51] allouis commented on #9982
Hi @onavascuez I'm taking a look at this now :+1:

[2018-10-11 07:04] #9983 closed

[2018-10-11 09:06] onavascuez commented on #9982
Hi @allouis ,

Trying the new installation, when I register works fine, I can edit all thing I needed from admin panel... but when I need to reopen Admin panel, and sign in to second time... surprise! I copy the log:

[code]

[2018-10-11 09:31] onavascuez commented on #9982
Ouch! I did not see that you had changed another version a while ago. Updated and working!

[2018-10-11 09:38] allouis commented on #9982
Good to hear :dancer: :ghost:

[2018-10-11 14:02] gargol opened #9987 "Not correct 'invalid' field count when importing subscribers through csv"
### Issue Summary

When importing subscribers through csv upload meta stat `invalid` always has at least 1 invalid count.

### To Reproduce

The test case from subscribers_spec clearly shows the problem:
[code]

The problem seems to be in csv importer that is also trying to import a 'header' row with a value of `email`.

### Technical details:

* Ghost Version: 2.2.2
* Node Version: 8.11.4
* Brows

[2018-10-11 15:09] VickyKoblinski commented on #9982
I just ran `ghost update` from a working 2.2.0 and now I'm on 2.2.2, but I'm getting the original issue again :cry:  `ghost ls` shows 2.2.2 running. `/var/www/ghost/versions` has 2.2.0 and 2.2.2.

Is there a way to downgrade other than reinstalling?

[2018-10-11 15:56] herkyl commented on #7299
@kirrg001 might look into it when I have some time!

[2018-10-12 04:36] JohnONolan opened #9991 "Optimise performance of ghost-sdk.js in themes"
Currently we inject ghost-sdk.js into themes as follows:

[code]

and Google Pagespeed doesn't like it

![image](https://user-images.githubusercontent.com/120485/46848106-3775cb80-ce12-11e8-84ae-a4e0850c4641.png)

---

## Question 1:

Can we add `async` to the script? or, preferably:

## Question 2:

Could we not just inline the whole thing? It's tiny anyway, and would actually be a reduction of 2

[2018-10-12 05:49] allouis opened #9993 "Edit and Destroy should reject if the model does not exist."
Currently they will silently fail to edit/destroy.

Discussed a little bit here: https://github.com/TryGhost/Ghost/pull/9954#issuecomment-429119364

[2018-10-12 11:01] kirrg001 commented on #9991
This was initially raised [here](https://github.com/TryGhost/Ghost/issues/8918) and looks like a duplicate of [this issue](https://github.com/TryGhost/Ghost/issues/7299).

[2018-10-12 17:13] kirrg001 commented on #9914
@allouis Can we close this issue?

[2018-10-12 17:53] eunicode commented on #9925
I'm also interested in contributing, but can't reproduce this, perhaps because I'm on a laptop with dimensions where the PSM is always longer than the browser viewport (or alternatively, the viewport is always shorter than the PSM).

Or, like lunaticmonk said, is the problem that we should still be able to scroll down the _blog post_ even if the PSM is open?

[2018-10-12 19:56] kevinansfield commented on #9925
The problem is that the post settings menu isn’t scrollable. Reproduction isn’t consistent, I found that it was necessary to have a window that was shorter than the default height of the PSM for the problem to present itself. Again the problem inly presents itself in Safari rather than Chrome or Firefox.

[2018-10-12 22:02] eunicode commented on #9925
@kevinansfield I'm sorry, perhaps I'm missing something here. I am on Safari, and my window is shorter than the default height of the post settings menu. However, the post settings menu scrolls just fine for me. I have included a link of a [screen recording](http://recordit.co/RK8UHQwmCN) displaying my experience.

[2018-10-13 18:04] alexgleason commented on #6111
I too would like to see this feature. ideas.ghost.org linked above redirects to the Ghost homepage.

I think it's a reasonable argument that file uploads are out of scope, but I also think there are legitimate use cases for it that make sense. Ghost is not a file storage tool, it's a publishing platform; but what if file uploads are part of the narrative? Ghost *does* do a good job of offering emb

[2018-10-14 16:46] jbfriedrich opened #10007 "Markdown card and new editor render <blockquote> differently"
### Issue Summary

When I use blockquote inside the new editor, the HTML output is rendered as follows:

[code]

When the Markdown card is used, then the same content has a different HTML output:

[code]

This messes with the CSS of my theme, so that blockquote looks "broken" when the Markdown card is used.

<img width="941" alt="screen shot 2018-10-14 at 18 10 18" src="https://user-images.githubu

[2018-10-15 09:16] kevinansfield commented on #10007
@jbfriedrich this is expected behaviour. The markdown output has not changed between 1.x and 2.x and can't change for backwards-compatibility as it's how 1.x content is "migrated" to 2.x (in reality there's no real migration happening because 1.x already used the 2.x mobiledoc format).

If you are writing themes then your CSS should handle all valid forms of blockquote markup. The Markdown, Embed,

[2018-10-15 09:16] #10007 closed

[2018-10-15 09:33] kevinansfield commented on #9991
I've closed the other issue in favour of this one because we can't get rid of the script injection completely just yet.

Unfortunately this would be a breaking change because it means there's no longer a guarantee for on-page scripts (in-post, code injection, theme header/footer) that the API is available/has been initialised when they run.

This should be doable 🤔 It would keep behaviour the same

[2018-10-15 10:38] kevinansfield opened #10011 "Theme download links return 404"
### Issue Summary

Clicking on the download links for themes in the admin area results in a 404 from the v2 API.

### To Reproduce

1. Log in to the admin area as an owner/administrator
2. Navigate to the "Design" screen
3. Click the "Download" link for a theme
4. Note the console error: `GET http://ghost.blog/ghost/api/v2/admin/themes/Blog 404 (Not Found)`

Themes should be downloadable via the v

[2018-10-15 11:18] #10011 closed

[2018-10-15 11:56] Mindsers commented on #10007
@kevinansfield So, how can we handle the fact we have to add quotes on `blockquotes` tag only if there aren't `p` tags inside of it? If there are `p` tags into the `blockquotes` tag we have to add the quotes on the `p` tag to avoid the behavior exposed above and maintain the same behavior between 1.x content and 2.x content. This is not possible in CSS.

Also, semantically, when I want to quote ma

[2018-10-15 12:47] #9962 closed

[2018-10-15 20:37] migolovanov commented on #9972
Expirienced same issue on 2.2.2, which was related to nginx configuration, so had to change it with additional headers. Not sure, if that is optimal solution, but at least working one:
[code]

[2018-10-16 04:00] allouis commented on #9972
@migolovanov What issue were you seeing? Was nginx not forwarding the `Origin` or `Referer` headers?

[2018-10-16 05:47] migolovanov commented on #9972
I saw 400 response code on login attempt with same message in logs: `BadRequestError: Request made from incorrect origin. Expected 'https://www.hostname.com' received ''.`
There was missing `Origin` header in requests sent from browser, so upstream hasn't received them either.

[2018-10-16 08:02] allouis commented on #9972
@migolovanov Yeah the authentication needs either an `Origin` or `Referer` header to work. I'm interested as to why these CORS headers make it work for you though?

What browser are you using?

[2018-10-16 11:25] allouis opened #10020 "GET /ghost/api/v3/admin redirects to /ghost#"
This is due to how the routers are mounted, if we don't exactly match the path of an api, we redirect to the admin, this is unexpected behaviour!

We should create router for the `/api` mount point and 404 any unmatched paths!

[2018-10-17 15:51] kevinansfield opened #10023 "Unable to edit links if they wrap lines"
### Issue Summary

If you try to edit a link that's been wrapped onto two lines you get an error:

[code]

### To Reproduce

1. Create a new post or edit an existing one to add a long link that can be wrapped
2. Adjust the window size so that the link gets wrapped onto two lines
    <img width="777" alt="screenshot 2018-10-17 at 16 47 02" src="https://user-images.githubusercontent.com/415/47098998

[2018-10-17 15:57] Leandros opened #10024 "`primary_author.profile_image` returns unsecure url"
Starting with 2.0, the `primary_author.profile_image` returns an unsecure URL on a secure site, resulting in mixed-content warnings. This was working in 1.x.

[2018-10-17 16:16] kevinansfield commented on #9868
Re-opening. Attempted signup in latest Safari and two passwords were saved - one with my e-mail (wrong password) and one with my name (right password) so auto login didn't work later on because it's the e-mail one which is used.

Possibly related to the old code related to Chrome's broken auto-fill here https://github.com/TryGhost/Ghost-Admin/blob/master/app/templates/signup.hbs#L10-L12

Also need

[2018-10-17 16:20] kevinansfield commented on #10024
@Leandros further information would be useful to help pin this down as this hasn't been observable on any other sites so far.

- what is the url in your `config.production.json` file, does it start with `https://`?
- is it all profile images or only some of them?
- what's stored in the DB for the profile image in question?
- are you using any storage adapter?

[2018-10-17 16:29] Leandros commented on #10024
- The url in `config.production.json` is `https://arvid.io`
- It's a profile image which still exists from an upgrade
- The absolute url, including the `http` is stored in the database.
- I'm not using any storage adapter.

I gave it a try to simply reupload the images, which does indeed update the urls to a `https://` prefix, and therefore fixes the issue.
Even though I could fix it, I'd still co

[2018-10-17 16:35] kevinansfield commented on #10024
I've tested and I'm only seeing relative URLs stored in the database. I think this may have something to do with a recent change to return absolute URLs via the API - /cc @kirrg001

[2018-10-17 16:37] kevinansfield commented on #10024
@Leandros can you confirm you're seeing absolute URLs in the database itself rather than what's returned in the theme or via the API?

[2018-10-17 16:42] kirrg001 commented on #10024
@Leandros

Which version of Ghost 2.x are you on?

Do you still have the 1.0 backup JSON? If yes, could you please share the target post from your JSON backup file?

[2018-10-17 16:49] Leandros commented on #10024
@kevinansfield

[code]

[2018-10-17 16:52] Leandros commented on #10024
For some reason, my authors are also duplicated after the 2.0 upgrade.
<img width="1086" alt="screen shot 2018-10-17 at 18 52 35" src="https://user-images.githubusercontent.com/396475/47102756-d567fc80-d23d-11e8-8fcc-4800a5b29bec.png">

[2018-10-17 16:54] Leandros commented on #10024
And I also just noticed that the posts are duplicated when scrolling through the post list.

[2018-10-17 16:59] kirrg001 commented on #10024
@Leandros And where exactly do you get mixed content?

---

There is definitely a bug introduced by API v2.

1. Ghost stores images without domain
2. API V2 returns e.g. users with absolute urls
3. Ghost-Admin sends absolute urls back on any save e.g. update user
4. This will override the relative image path to absolute

[2018-10-17 17:02] kirrg001 commented on #10024
That sounds like a different issue. Can you please either report it in our [forum](https://forum.ghost.org) and ask for help or raise a new bug issue if you think it's a bug (**Please put steps to reproduce and as much as possible information**!).

[2018-10-17 17:04] kevinansfield commented on #10024
Hmm, that's an interesting one. We probably have a few places where that will be the case 🤔 I'm not sure there's too much we can do about it on the client-side, maybe there's some checks we can do server-side to strip the base URL from image fields if it matches the configured URL?

[2018-10-17 17:05] kirrg001 commented on #10024
This needs protection on the server side 👍

[2018-10-17 17:08] kirrg001 commented on #10024
I am not really sure how big the outcome of this bug is 🤔I guess it's only a problem if you change your domain or your protocol. Not sure it's super critical, but we should look into the fix and a migration file asap.

I need steps to reproduce to get the mixed content issue, because obviously the profile image is stored correctly with https.

[2018-10-17 18:40] Leandros commented on #10024
@kirrg001 I got the mixed content in places where my profile picture was displayed, for example on a post.

I'm guessing you could reproduce it by creating an instance on HTTP, uploading a profile picture (which will write the absolute URL to the database), and than changing to HTTPS.

[2018-10-18 02:57] cchatfield opened #10026 "Enable MySQL SSL"
I use an external cloud hosted mySQL DB for local development after verifying with sqlite.

I didn't see any documentation on how to enable via configuration.

I added
[code]
to core/server/data/connection.js

Is this the correct way to enable ssl for mySQL

[2018-10-18 03:39] PhoenixPeca opened #10027 "Koenig Renderer "b" tag not rendered"
Hi Dev Team,

While publishing a post, I found an issue where the "b" html tag is not rendered just like the "strong" html tag in the rendered koenig editor.

Insert this HTML in the editor:
![image](https://user-images.githubusercontent.com/9730242/47129819-7bad1400-d2c9-11e8-9b77-6dec83aae395.png)

Then you'll get this result:
![image](https://user-images.githubusercontent.com/9730242/47129857-a

[2018-10-18 05:17] cshawaus opened #10028 "Unable to log in after upgrading"
Hi,

After upgrading to the latest version today I'm no longer able to authenticate with the admin panel, I simply get the below error which makes me think a breaking change was made to the API layer.

Below is the error in question.
[code]

Rolling back to my previous 2.1.3 install fixes the issue.

### System Details
- Ubuntu 16.04.5 LTS
- nginx 1.14.0
- Ghost-CLI version: 1.9.6

[2018-10-18 05:21] PFre888437 opened #10029 "Duplicate AJAX records"
2.2.3 doesnt work well -> ajax calls for extra stories or team lists are returning duplicate records. Downgraded to 2.2.2 and problem was fixed

[2018-10-18 05:36] allouis commented on #10028
Hey :wave: Is that error _after_ you enter your username and password into the admin panel?

[2018-10-18 05:43] allouis commented on #10029
Hi there! Thanks for the report :memo:

Would you be able to provide us some more information, so we can easier fix/find the problem? :relaxed:

What database are you using?
What version did you upgrade from?
Is this just in the ajax calls, or is it visible in the UI?

Danke!

[2018-10-18 05:56] PFre888437 commented on #10029
Greetings!
Mysql 5.7
Ghost 2.2.2 -> 2.3.1 through the cli
It is visible in the UI
I just did a clean install -> if you put 31 posts in and get to the point of ajax loading more posts in the stories section you will see the issue

[2018-10-18 05:58] cshawaus commented on #10028
Yes, immediately upon hitting the Sign in button it redirects back to the login screen with that 401 message in the console.

[2018-10-18 06:38] allouis commented on #10028
What does the request to the `/session` endpoint look like when signing in? Is that successful? Can you see the session cookie in the developer tools?

[2018-10-18 06:46] allouis commented on #10029
:+1: Thanks! Replicated - working on a fix now.

[2018-10-18 06:57] cshawaus commented on #10028
`/ghost/api/v2/admin/session` responds with a 201 code but the body in chrome is:

[2018-10-18 07:01] allouis commented on #10028
That's strange - the response data should be the string `'Created'`..

Any more data you could give would be appreciated!

Are you seeing the `Set-Cookie` header in the response?
Are you able to see the session cookie in the developer tools?
Are you able to see the cookie sent in the `Cookie` header on the request to `/ghost/api/v2/admin/users/me/?include=roles`?

[2018-10-18 08:04] cshawaus commented on #10028
Once I'm back in front of my Mac I'll let you know about the headers. As for cookies, they are on and work since rolling back yields a successful result.

[2018-10-18 08:15] kevinansfield commented on #10028
2.1.3 doesn't use cookies so that's not an indication that cookies are working.

"Failed to load response data" in Chrome suggests you may be using the preserve log function? It won't show you the response data for requests after you navigate away so it may be a red herring. Could you try again? Do you see any redirects happening?

Do you get any errors in the DevTools console when trying to log i

[2018-10-18 08:54] kevinansfield commented on #8969
Unfortunately this is one of the known cases that we can't handle at the moment. We'll be opening other issues later that deal with more advanced diffing and comparisons to help with the dropped connection situations.

You didn't need to do quite that many steps. Recovery should be as follows:

1. Copy the article contents
2. Click "Stories" in the top left then the "Leave" button
3. Click back on

[2018-10-18 09:05] #10029 closed

[2018-10-18 11:18] #10024 closed

[2018-10-18 11:32] cshawaus commented on #10028
I don't see any cookies being sent back from the server, upon just loading the sign in page it fails with a 401 error code.

I'm using my MacBook at home whereas I was on my iMac at work earlier and the issue is persistent so it's not a browser issue on my end.

For quicker debugging from your end, below is the URL for my sign in page.

https://cshaw.tech/ghost/#/signin

[2018-10-18 11:35] kevinansfield commented on #10028
@cshawaus the 401 error is expected on initial load because you won't be logged in after upgrading to 2.2.3, the 401 is what tells the admin area to show the signin screen.

Can you clarify that you're unable to log in with your username/password?

[2018-10-18 11:37] cshawaus commented on #10028
Yep, same username and password that works if I rollback fails with 2.2.3.

[2018-10-18 11:49] PhoenixPeca opened #10032 "The Infinite Scroll of Articles in "Stories" are looping Twice... Then Halts."
Hi,

The first 30 articles in the "Stories" page are being repeated the second time by the infinite-scroll feature.
Then, the infinite-scroll feature stops completely even when scrolled to the last article.

I can confirmed this issue with Google Chrome and Microsoft Edge.

### Here's my Ghost Instace Details:
**Version** 2.2.3
**Environment** production
**Database** mysql
**Mail** SMTP

[2018-10-18 11:52] allouis commented on #10032
Hey! Thanks for raising the issue :relaxed: This has literally _just_ been fixed in version 2.2.4! https://github.com/TryGhost/Ghost/commit/e865d2218c1b6e392831db67552fa397ccd31eac

[2018-10-18 11:52] #10032 closed

[2018-10-18 11:58] kevinansfield commented on #10028
Your sign in page is behaving as expected but we're not able to test the login because we don't have the username/password (please don't share that!)

Can you share the exact reproduction steps you are trying? This is what is expected after upgrading even if you were logged in on 2.1:

1. Load you admin page https://cshaw.tech/ghost/
    - you'll see a 401 in the network requests for `/ghost/api/v

[2018-10-18 12:01] kevinansfield commented on #10026
Hey @cchatfield  👋 Friendly reminder: help or support is not available on Github. Our default issue templates pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our [the

[2018-10-18 12:01] #10026 closed

[2018-10-18 12:03] cshawaus commented on #10028
Here are the request headers.

[code]

Looking at the response for `/session`, there is no `set-cookie` header attached to it. Below is the complete headers I get back from nginx.

[code]

[2018-10-18 12:08] allouis commented on #10028
This is the problem, maybe your nginx is not configured to forward `Set-Cookie` headers? Can you think of anything else between the node process and your browser that might remove that header?

Maybe you could share your nginx config here?

[2018-10-18 12:17] cshawaus commented on #10028
Now I feel dumb, turns out I had `proxy_hide_header Set-Cookie;` set for the `ghost` and `signout` paths. Not sure if I put it there a year or so ago or I copied the vhost from something else but all is good now.

🤦‍♂️

[2018-10-18 12:17] #10028 closed

[2018-10-18 12:18] allouis commented on #10028
:dancer: Glad you can sign in now!

[2018-10-18 17:34] kirrg001 commented on #9326
Closing this issue. API version V2 does not return the location header and it returns consistent status codes for adding + destroying resources.

[2018-10-18 17:34] #9326 closed

[2018-10-18 20:29] FeroVolar commented on #9256
This issue is also in version 2.x
Is somehow hack how to change it, for example over browser Inspect tool? Directly in DB?

I waiting with 2k posts (from years 2008-2012), clicking 100x for setting date is pain  :(

[2018-10-18 23:31] oshibka404 commented on #9375
@kirrg001 I see there a test explicitly checking that only allowed properties are exposed to `@config`.
Why is it needed at all? Why don't let a developer list any properties in `"config"`?
Can it be kinda dangerous?

[2018-10-19 05:28] PFre888437 commented on #10029
👍 🥇

[2018-10-19 07:16] kirrg001 commented on #9256
@FeroVolar Yeah you could use the DB. I'd suggest to ask in the [forum](https://forum.ghost.org) :)

[2018-10-19 13:12] fallerOfFalls opened #10037 "[Feature] relative links update automatically"
Every time I change the URL of a post, I have to find all the other posts that link to it and change them. The problem is I can't always remember which posts I've linked from, so I'm probably leaving a bunch of broken links around my blog.

Is there any reason why relative links can't update themselves whenever the URL of their target is changed?

[2018-10-19 13:16] kevinansfield commented on #10037
Hey @fallerOfFalls 👋 Friendly reminder: we don't track feature requests on GitHub. Our default issue templates pointed you to our [forum](https://forum.ghost.org) for this type of question - the [Ideas](https://forum.ghost.org/c/Ideas/l/votes) topic will let you propose features and let others vote on them 😄. We use GitHub solely for bug-tracking and on-going feature development so we try to keep

[2018-10-19 13:16] #10037 closed

[2018-10-19 13:19] kevinansfield commented on #10027
@PhoenixPeca thanks for reporting!

The relevant CSS is in our Spirit CSS framework which is not currently public. We'll get it sorted 😄

[2018-10-19 13:55] fallerOfFalls commented on #10037
Ah thanks. The mobile version of GitHub doesn't show anything. Now I tried creating an issue with the desktop version and I see what you mean.

[2018-10-19 16:21] pouta commented on #9866
Not sure if this is the right place to ask.

When we should expect the /admin endpoint to be ready for usage? (not production ready)

[2018-10-19 16:29] pouta commented on #9866
How can I help you guys speed it up?

[2018-10-19 17:53] kirrg001 commented on #9866
You could ask for help in our [forum](https://forum.ghost.org).

Thanks for your offer 😇. The work here is almost done and will get announced as soon as we are ready 👍

[2018-10-19 19:00] kirrg001 commented on #9127
Closing this issue in favor of #9866.

[2018-10-19 19:00] #9127 closed

[2018-10-19 20:09] kirrg001 commented on #9942
@rishabhgrg Can we close this issue?

[2018-10-19 20:09] kirrg001 commented on #9914
@allouis

[2018-10-19 20:10] kirrg001 commented on #9902
If Ignition normalises the data type, why do we have to update the usages? 🤔

[2018-10-20 11:41] kolbma opened #10038 "Public API link to developer guide goes to 404"
### Issue Summary

The link to the developer guide is to https://help.ghost.org/hc/en-us/articles/115000301672-Public-API-Beta which returns a 404-page.

### To Reproduce

Go to admin -> Settings -> Labs -> Public API
There is a link.

### Technical details:

* Ghost Version: 2.2.3
* Node Version: v8.12.0
* Browser/OS:Firefox Windows
* Database:SQlite3

[2018-10-20 12:02] kolbma opened #10039 "/ghost/api/v0.1/schedules/posts/... schedule request HTTP status 404"
### Issue Summary

The scheduling of posts doesn't work.
The only thing I see in logs is that there is a GET request to /ghost/api/v0.1/schedules/posts/5bc89644f2572d7e9bdb13ea?client_id=ghost-scheduler&client_secret=xxxxxxxxxxx which has HTTP status 404.
Always 404 for these requests.

### To Reproduce

Create a post and activate schedule for later.
Scheduled posts are never published.

### Techn

[2018-10-20 12:13] kirrg001 commented on #10039
Please use our [forum](https://forum.ghost.org) for help.

e.g. [see this thread](https://forum.ghost.org/t/scheduled-posts-dont-publish/1179/33?u=kate)

[2018-10-20 12:13] #10039 closed

[2018-10-20 12:36] kolbma commented on #10039
@kirrg001 Why you are closing immediately? What's up with fixing your scheduler to follow Redirects which is HTTP standard?!

I don't like to put the Reverse Proxy up to port 80. And I don't want to listen Ghost on port 443. So I need to configure Ghost config url to http:// and set proxy forward protocol to https so that the links in Ghost work.

So why your scheduler is not using the same proced

[2018-10-20 12:52] kolbma commented on #10039
Also if I think something more about it, it would be better to fix the server setup. So that you can really specify the correct external url in the config, but say something in the server config to not use ssl setup.

[2018-10-20 14:29] kolbma commented on #10039
Ok. Sorry. Partly my fault. I've got SSL handshake failures and logs about missing cert and key and info about LetsEncrypt during setup when using https in config.url.

But after looking through your code, there is no way to start express with ssl by config.
So seems to be only a setup and first run problem.

I've switched config.url to https and it uses correct urls over the place.

Because it wo

[2018-10-21 12:53] zersiax opened #10040 "Accessibility: screen reader does not read results after typing / in editor"
### Issue Summary

On pretty much any browser and using the free, open-source screen reader NVDA, the screen reader is unable to read the results when typing / in the editor in order to go through insertable cards.
Rather, the screen reader simply reads the inserted / character, making it seem the cursor is trapped while the arrow keys are actually cycling through the cards.

### To Reproduce

1.

[2018-10-21 17:19] dnguneratne commented on #9584
I'd like to work on this. Any tips on where to get started?

[2018-10-21 19:18] pascalandy commented on #9900
RE-OPENING

In this case:

- the blog was updated from 1.25.4 to 2.2.4
- the blog does not run on 2.2.4 after trying to migrate :((
- Tried the restart the container without success.
- See logs here: https://gist.github.com/pascalandy/0492231e4c88f0b5e742d868c94d0b41

I'm so curious about all these warnings
![screen shot 2018-10-21 at 3 15 14 pm](https://user-images.githubusercontent.com/6694151/4

[2018-10-22 03:06] pascalandy commented on #9900
I upgraded another blog successfully.

Here are the warning from the container:

[code]

[2018-10-22 05:15] #9914 closed

[2018-10-22 08:49] rishabhgrg commented on #9942
@kirrg001 Keeping it open till the UI is enabled for this, will close after.

[2018-10-22 09:05] gargol opened #10041 "Correct handling of 'Content-Length' header"
The issue is based on https://github.com/TryGhost/Ghost/pull/10019#discussion_r226306369 .

(https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)

Places that use `String.prototype.length` (e.g: [here](https://github.com/TryGhost/Ghost/blob/959912eca316e12715808b1cbaa7bc55ebfb81cb/core/server/api/shared/headers.js#L24)) to calculate Content-Length should switch to [Buffer.byteLength](https://n

[2018-10-22 09:19] kirrg001 commented on #9900
@pascalandy

Thanks for sharing. You can ignore the warning. We will release Ghost `2.3.0` today 👍

[2018-10-22 09:34] kirrg001 commented on #9584
@dnguneratne

This is a good small use case to start with.
You can easily reproduce this, if you

1. Create a draft post
2. Export your database in labs
3. Delete all your content
4. Import the file
5. You should see the warning from above. But it should not throw a warning, because `published_by` is null.

The importer should  not try to resolve `published_by` in this case.

[2018-10-22 10:10] kirrg001 opened #10042 "Static pages accessibility in theme (inconsistency)"
With [dynamic routing](https://github.com/TryGhost/Ghost/issues/9601) you can do the following:

[code]

A static page with the slug `about` exists and you want this page to live on `/about/`.
You can access the data with `{{#page}}...{{/page}}` in your template. This is because Ghost automatically takes the resource type (=== page) as target template name.

**But** any other static route, which i

[2018-10-22 10:18] kirrg001 commented on #10038
Thanks for the report 👻We will add a redirect asap 👍

[2018-10-22 10:39] kirrg001 commented on #10038
The redirect is in place 🙊

[2018-10-22 10:39] #10038 closed

[2018-10-22 10:45] kirrg001 commented on #10038
The redirect is in place 🙊

[2018-10-22 11:02] pascalandy commented on #9900
**EDIT**, I was using Ghost 1.25.5 and 2.2.4. From Travis:

- devmtl/ghostfire:2.2.4-ff50fdc-20181022_03H0121
- devmtl/ghostfire:1.25.5-9e38cf2-20180820_20H0205

[2018-10-22 13:23] utrenkner opened #10043 "Import error message for slug too long even though it is below 191 characters"
I am currently test-importing almost 30 000 articles from an old CMS. I already included a shortening routine, cutting long slugs to 190 characters at most (defensively staying 1 character *below* the stated limit of 191).

However, the slug ``photovoltaik-gebaeudeintegration-heliatek-und-reckli-unterzeichnen-entwicklungsvereinbarung-zur-integration-organischer-solarmodule-in-gebaeudefassaden-aus-

[2018-10-22 18:45] utrenkner commented on #10043
OK, I found the cause of the problem. And I don't think it's an important issue and I therefore close this issue: I had problems with the massive upload. That led me to re-importing parts of the import. But Ghost automatically adds ``-2``, ``-3`` etc. to the slug of the second, third etc. version of the same slug. Of course, this adds at least two characters.

Issue #9251 kind of solves the same i

[2018-10-22 18:45] #10043 closed

[2018-10-23 05:26] azariah001 opened #10044 "Ghost forcing trailing slash on asset directories"
### Issue Summary
I'm migrating a clients site from Ghost 0.x to 2.0 and so far everything has gone smoothly with one exception. I built the site in 2016 and utilised a handful of web-components for both stylistic and maintainability reasons.

Those were naturally installed using Bower and I've still got all of the original files under the `/assets/bower_components/` directory.

The issue appears

[2018-10-23 06:42] allouis commented on #10044
Hey! Sorry to hear you're having trouble with this.

Would you be able to store the `bower_components` directory in the `assets/js` directory? e.g `assets/js/bower_components/paper-tabs/paper-tabs.html`

That should work for now :relaxed:

[2018-10-23 06:48] allouis commented on #7220
I can't replicate this

[2018-10-23 06:52] azariah001 commented on #10044
that's possible... Manually uploading the theme has bypassed the engine stripping the `bower_components` directory so it should just be a matter of `cp`'ing and changing links.

Thanks for the suggestion.

[2018-10-23 08:38] kevinansfield commented on #7220
This is still a problem, it's just not 100% as per the original gif. It changed a bit when we switched to #hash URLs a while back.

![redirect-sign-in-issue](https://user-images.githubusercontent.com/415/47347540-58a6a980-d6a7-11e8-8cb3-78599d983b90.gif)

[2018-10-23 08:39] allouis commented on #7220
oops :flushed: sorry

[2018-10-23 18:37] dnguneratne commented on #10041
I took a shot at this in [PR 10046](https://github.com/TryGhost/Ghost/pull/10046)

[2018-10-23 21:29] kevinansfield commented on #8735
As of Ghost 2.0 this is in relation the the markdown card rather than the primary editor. For reference the code block shortcut is <kbd>Cmd+Alt+C</kbd>

[2018-10-24 06:33] allouis opened #10047 "Cannot invite users when running locally"
Inviting new users currently fails on the v2 endpoints because `notificationsAPI.add` is not a function, this is due to the new api controllers exporting objects, and needing to be wrapped by the pipeline.

[2018-10-24 06:38] allouis commented on #10047
This isn't as bad as it seems, it's only for local when using `directMailer`

[2018-10-24 07:00] kevinansfield opened #10049 "Undo after deleting a card can lose card contents"
### Issue Summary

After deleting a card, performing an undo can return the card with its contents missing.

### To Reproduce

No reliable reproduction steps so far.

1. Create an image card and upload an image
2. Select the card and press <kbd>Backspace</kbd>
3. Press <kbd>Cmd+Z</kbd>

Sometimes the card will re-appear in it's empty state rather than with the uploaded image. We also have reports

[2018-10-24 07:48] #10047 closed

[2018-10-24 14:54] #10044 closed

[2018-10-24 18:02] maxime1992 opened #10052 "Ghost timeout when uploading huge theme (20mb)"
### Issue Summary

We've been creating a Ghost theme and it includes several pictures which are quite heavy.

The total zip file is ~20mb. When uploading the theme to `ghost.io` we often get a timeout...

Could that timeout be increased? It's really inconvenient to upload large file. Maybe only increase the timeout for the theme upload and not the rest of the API?

### To Reproduce

Any other info

[2018-10-24 18:05] kevinansfield commented on #10052
Hey @maxime1992 👋 For any Ghost(Pro) issues please e-mail support@ghost.org

[2018-10-24 18:05] #10052 closed

[2018-10-24 19:19] joakimkm opened #10054 "Dynamic routing and data longform structure"
**Issue Summary**

Data property in routes.yaml do not work correctly.
I would like data to be fetched and than use it in my handlebars template as {{customData}}.
To accomplish this I use the longform structure [documentation](https://docs.ghost.org/concepts/routing)

**To Reproduce:**

My routes.yaml file:

[code]

Template for /crossword/ is loaded correctly but {{customData}} is undefined in t

[2018-10-25 02:18] #10041 closed

[2018-10-25 06:51] #10054 closed

[2018-10-25 10:18] kirrg001 opened #10059 "Dynamic Routing: prev/next helper should take collections into account"
Reported here: https://forum.ghost.org/t/hiding-content-collection-in-suggested-posts/3716

## Summary

If you define more than one collection, the prev/next helper shows posts from another collection.
The helper should take the collection configuration into account. That basically means, it has to use the filter from the target collection.

## Steps to reproduce

1. Add two collections.
2. Filter

[2018-10-25 12:20] kirrg001 commented on #9375
No, not dangerous. The Ghost team uses this `@config` object to create common config keys (e.g. posts_per_page). If we now allow defining any key in this config object, the Ghost team has no chance to add a new key, because it could be used from a theme developer already. IMO there needs to be a **clear differentiation between theme developer specific/custom config and Ghost config properties.**

[2018-10-25 13:36] kirrg001 opened #10060 "API V2 complete controller set"
_(refs #9866)_

There are some controllers missing in V2.

- [x] configuration @rishabhgrg (https://github.com/TryGhost/Ghost/pull/10056)
- [x] db @gargol (https://github.com/TryGhost/Ghost/pull/10051)
- [x] redirects @gargol  (https://github.com/TryGhost/Ghost/pull/10053) <-- ~blocked by #10051~)
- [x] oemed @rishabhgrg https://github.com/TryGhost/Ghost/pull/10057
  - [ ] Move generic checks to v

[2018-10-25 13:42] kirrg001 opened #10061 "Content API V2: change /users to /authors"
_(refs #9866)_

This is a change for **API v2** only.
The **Content API** should change /users/ to /authors/.

This implicitly makes this possible in V2:

routes.yaml
[code]

theme helper
[code]

[2018-10-25 14:04] myleskilos commented on #9735
@kirrg001 FYI - I'm taking a shot at this as my first issue ever :) I'll probably have a PR up tonight.

[2018-10-25 14:10] kirrg001 opened #10062 "Content API V2: always return a post excerpt (calculated field)"
_(refs #9866)_

The `custom_excerpt` is a field in the post resource. But it's null by default.

We offer a handlebars helper to return an excerpt based on the html content if the `custom_excerpt` field is null.

**But if you use the Content V2 API directly,** you won't get this extra feature.

@ErisDS is working on making this easily possible. What we basically have to do is, we have to extract t

[2018-10-25 14:29] kirrg001 opened #10063 "Base Model: use transactions by default"
We are using database transactions in a lot of places in Ghost already.

IMO the most important resources in Ghost are:
- posts
- users
- tags

**These are the reasons** i can think of right now, why we should use transactions for add/update/delete by default:
- a resource has relations, we need multiple queries for an update action (if one of those queries fails, we need to undo all queries, othe

[2018-10-25 15:21] kirrg001 opened #10064 "API Frame: Research API schema for resources"
_(refs #9866)_

The new API Frame already **supports validation and serialization.**

**This is super useful:**
- to validate the structure of the incoming resources (e.g. posts: [Object])
- to serialize certain properties/values to prepare it for the generic model layer
- we can already require properties in the resource object

**But** we currently have no concept of API schemas. A schema which

[2018-10-25 15:31] kirrg001 commented on #9866
Closing. The work is done here. We've raised some more cleanup/optimisation issues for API V2.
See issue references above 👍

[2018-10-25 15:31] #9866 closed

[2018-10-25 17:13] gargol opened #10065 "Content API V2: Date formatting"
refs #9866

### Why do we need yet another way of date format in our API?

We want to avoid unnecessary work on the client doing date conversions. At the moment steps would be:

1. Make a request to another endpoint to get the time zone
2. Load utilities like `moment-timezone` (which is big overhead compared to just loading `moment`)
3. Know how to use that to format the date correctly

All these

[2018-10-25 18:07] ljgrohn opened #10066 "Wrong Link Destination"
On this page https://docs.ghost.org/faq/using-custom-domains/, the Namecheap link goes to the GoDaddy tutorial.

Here is the correct Namecheap link: https://docs.ghost.org/faq/namecheap-domain-setup-guide/

[2018-10-25 20:30] ashleysommer commented on #9375
That is why this proposal specifically calls for "namespaced configs", that is, there will be no collisions of keys because each config set will exist in its own namespace under `config`.

[2018-10-25 20:52] m1guelpf commented on #10060
Need help with this? What steps should I take to migrate a controller to the v2 API?

[2018-10-25 21:08] pascalandy commented on #9900
I still can't re-create the issue :-(
Closing

[2018-10-25 21:08] #9900 closed

[2018-10-25 21:21] ErisDS commented on #10066
Hi @ljgrohn - I've fixed that link. FYI our docs site is also open source and lives at https://github.com/TryGhost/docs, so you can raise issues directly there.

[2018-10-25 21:21] #10066 closed

[2018-10-25 21:28] kirrg001 commented on #9900
@pascalandy urgh frustrating :( Would love to help, but not sure how!

[2018-10-25 21:30] ErisDS commented on #10042
It's a bit weird and inconsistent, but not _really_. What was really weird was that by default pages were returned as posts :)

Need to review what the get helper does as well here - although for both the get helper and the data key you _have_ the option to override the name of the data key that's returned, i.e. these should both work:

[code]

and

[code]

It's only the default data that you can'

[2018-10-26 08:58] kevinansfield commented on #10040
This may be on interest to anyone looking to pick this issue up https://engineering.linkedin.com/blog/2018/10/making-ember-applications--ui-transitions-screen-reader-friendly

[2018-10-26 09:09] zersiax commented on #10040
I'm afraid I don't speak Ember at all, or I'd like to help. Generally though, what you'll likely need to do is populate an invisible div of some kind with an aria-live role with the results of the / command as you arrow up and down through them, this will make the screen reader read them ouut loud automatically. However, if interactions get more tricky than just a list you select an option from, y

[2018-10-26 10:43] anaplian commented on #10020
I'd like to take a look at this :slightly_smiling_face:

[2018-10-26 10:45] yetzt opened #10069 "script url path issue in rss feed"
### Issue Summary

when using a script tag `<script src="/some/javascript.js"></script>` on a blog with config__url `https://example.com/blog/` in the rss feed the script is pointing to `<script src="https://example.com/blog/some/javascript.js"></script>` instead of `<script src="https://example.com/some/javascript.js"></script>` while working just fine in the regular article view.

### Technical

[2018-10-26 13:00] din-gi opened #10071 "Can't send invitation email to team member"
### Issue Summary
On Ubuntu Xenial, can't send invitation email to my team.
Because I get the following:
<img width="1680" alt="screen shot 2018-10-26 at 3 57 06 pm" src="https://user-images.githubusercontent.com/29832557/47567654-d254c680-d937-11e8-8739-8733e3f52cd6.png">

### To Reproduce

1. Tried sending invitation to a team member with following different mail configuration in the config file

[2018-10-26 14:08] nehalist opened #10072 "Incorrect origin when using mysql"
### Issue Summary

When using mySQL for database Ghost doesn't work in the latest version. Admin shows 500 page throws console errors:

[code]

When trying to call `ghost/api/v2/admin/roles` the following error is returned:

Everything works fine when using sqlite.

### To Reproduce

1. Fresh 2.3.0 install
2. Run with mySQL

### Technical details:

* Ghost Version: 2.3.0
* Node Version: 8.12
* Bro

[2018-10-27 13:41] mcoms opened #10073 "Privacy config not respected when configured using environment variables"
### Issue Summary

Ghost ignores the privacy settings you supply via environment variables when using `ghost:latest` from the Docker Hub.

### To Reproduce

1. Launch ghost, disabling gravatar and the other privacy features:

[code]
Note: Same behaviour regardless of whether you enable debug, or only set `useTinfoil`.

2. Start the setup wizard (http://localhost:34567/ghost/) and register

![image

[2018-10-27 14:48] PhoenixPeca opened #10074 "Subscribers Page Infinitescroll/Pagination NOT WORKING"
Hi,

As the title suggests, the infinite scroll in "Subscribers" page in ghost admin panel does not work..

![image](https://user-images.githubusercontent.com/9730242/47605536-6c9d3300-da3a-11e8-8960-f0db9da0f361.png)

[2018-10-27 14:57] PhoenixPeca opened #10075 "Subscribers Page Should Have a Filename on Exported CSV Files"
Hi,

Clicking the "Export CSV" button in Subscribers Page does not generates a well named CSV file as shown in the picture below:

![image](https://user-images.githubusercontent.com/9730242/47605612-6065a580-da3b-11e8-8952-96bff3c5e055.png)

![image](https://user-images.githubusercontent.com/9730242/47605564-d74e6e80-da3a-11e8-9bd8-8037aee63436.png)

---

I am expecting a well-named files just lik

[2018-10-27 14:57] isaac-philip commented on #9581
Should this issue be closed ?

[2018-10-27 15:43] PhoenixPeca opened #10076 "Ghost Vulnerability: Email Subscription Bomb by Spambots"
Hi,

**I was just checking on my ghost instance then suddenly "BOOM" 💥💥 I had 700 subscribers, then 1000, then 2000, then now 2500+ subscribers in just a few freaking minutes..**

I had traced the IP of the spambot and blocked it right in front of my webserver's config.. Then, disabled subscription feature for now.

While investigating, I found out that ghost do not have some kind of anti-spam pre

[2018-10-27 15:52] PhoenixPeca commented on #10076
Sorry, Duplicate #9418

[2018-10-27 15:52] #10076 closed

[2018-10-27 16:28] kirrg001 commented on #10074
Confirmed. Will be released on Tuesday 👍

[2018-10-27 16:34] #10074 closed

[2018-10-27 16:40] kirrg001 commented on #10075
Confirmed. Will be released on Tuesday 👍

[2018-10-27 16:47] #10075 closed

[2018-10-27 16:55] kirrg001 commented on #10073
@mcoms Thanks for the detailed report 👍

Yeah this is the reason.

This issue refs https://github.com/TryGhost/Ghost/issues/8940 (see [comment](https://github.com/TryGhost/Ghost/issues/8940#issuecomment-418302189)). It's the same underlying problem.

`nconf` now supports `parseValues`:

[code]

PR is welcome and should close this issue and #8940.

[2018-10-27 17:00] kirrg001 commented on #10072
I can't reproduce your report. A fresh installation with Ghost 2.3.0 and MySQL works fine.

The error looks to me that the admin client receives a broken JSON string from the server.
Which MySQL version are you using?

@allouis Any idea? What does this error message mean?

[2018-10-27 17:14] kirrg001 commented on #10071
I can't reproduce this. Invites work fine with Ghost 2.3.0 on my production blog.

It looks like the admin client sends `role_id=undefined|null` and then it fails [here](https://github.com/TryGhost/Ghost/blob/2.3.0/core/server/models/invite.js#L64).

@kevinansfield Any idea how this is possible? 🤔 Is that a timing issue, because the admin client first need to fetch the roles? I saw an empty dropdo

[2018-10-27 19:09] din-gi commented on #10071
Just I need to make sure of something..
I am not really sure what does direct means but it seems like it sends through NodeMailer which in turn sends through SendMail which seems to be built in in Ubuntu.
I also tried to install PostFix but decided to let you guys try to help me first with more information that I might be missing.
Do I need to do some setups before I can send a mail for invite? Al

[2018-10-28 10:48] nehalist commented on #10072
SQL version is `5.1.73`

[2018-10-28 11:19] nehalist opened #10078 "Unable to migrate from 1.24.4 to 2.3.0"
### Issue Summary

Upgrading from 1.24.4 to 2.3.0 fails due to multiple errors (mostly related to `knex-migrator`) when used as an npm module:

[code]

### To Reproduce

1. `npm i ghost@1.24.4 --save`
2. Create config file:

[code]

3. Create index.js:

[code]
4. Execute migrations `NODE_ENV=production knex-migrator init --mgpath node_modules/ghost`
5. Test `NODE_ENV=production node index.js` -> E

[2018-10-28 19:05] kirrg001 commented on #10078
You need to upgrade to the latest 1.0 version first (1.25.5).

[2018-10-28 19:05] #10078 closed

[2018-10-28 19:06] #8940 closed

[2018-10-28 19:06] #10073 closed

[2018-10-28 20:07] m1guelpf commented on #7131
@kevinansfield https://github.com/TryGhost/Ghost-Admin/pull/1020 was merged, can this be closed?

[2018-10-28 20:08] m1guelpf commented on #7132
@kevinansfield https://github.com/TryGhost/Ghost-Admin/pull/1020 was merged, can this be closed?

[2018-10-28 20:14] m1guelpf commented on #9581
@JohnONolan Now that https://github.com/tomkr/Ghost-Admin/commit/167636587a216b14cba14ba5bc38e11ac610638c was pulled in, can we close this?

[2018-10-28 20:31] m1guelpf commented on #9589
s the migration complete? The checkboxes seem outdated...

[2018-10-28 20:32] vikaspotluri123 commented on #9589
I think with the exception of API everything should be up to date 🤔

[2018-10-28 20:36] m1guelpf commented on #9436
Is this fixed?

[2018-10-28 20:40] m1guelpf commented on #8933
Is this fixed now?

[2018-10-28 21:37] tierpinho commented on #8442
yes

[2018-10-28 23:45] gloomy-ghost commented on #8442
The feed generator is allowing illegal characters to enter the feed. Requiring human to remove invisible characters sounds like a workaround rather than a fix.

[2018-10-29 04:43] #9581 closed

[2018-10-29 04:49] allouis opened #10080 "Cleaning up permissions"
# Permissions Issue

The permissions service in ghost is not as good as it could be.

One of the biggest issues is that it has a lot of work offloaded to the model layer in `permissible` functions, this makes the logic for permissions scattered and hard to determine/audit from a single place. But there are some smaller issues we can tackle to help make fixin that easier.

## What could be done

##

[2018-10-29 05:01] allouis commented on #10072
Ghost stores the origin of the session you signed in with in the session store - it validates that the origin is the same for each request made with that session. This is to protect against CSRF attacks.

Are you switching between databases, but using the same login session?

This error suggests that you logged in with the origin 'domain', but the request was made with an origin of '.'.

This is r

[2018-10-29 08:50] alexellis commented on #8442
Sounds like no, it can't be closed. Issue is still prevalent and super hard to fix manually.

[2018-10-29 09:47] kirrg001 commented on #9905
@allouis This issue sounds like a duplicate of https://github.com/TryGhost/Ghost/issues/8442

[2018-10-29 09:48] kirrg001 commented on #9589
It's not finished. e.g. the `data/` folder was not transformed into ES6.

[2018-10-29 09:52] kirrg001 commented on #10080
@allouis Did you see https://github.com/TryGhost/Ghost/issues/9043?
I am not sure we need to issues for this topic?

[2018-10-29 09:54] kirrg001 commented on #9436
@m1guelpf No. It's still open and tracked in our backlog.

[2018-10-29 09:55] kevinansfield commented on #10040
Cards are insertable by using the `/` command, eg. you can type `/embed` and press <kbd>Enter</kbd> to create an embed card.

[2018-10-29 09:56] kirrg001 commented on #10060
@m1guelpf Thanks for your interest. The Ghost team is working on this issue.
I'd suggest you choose an issue from this [list](https://github.com/TryGhost/Ghost/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22+label%3A%22good+first+issue%22) (issues which are labelled with "help wanted" and/or "good-first-issue".

[2018-10-29 09:58] kirrg001 commented on #8933
@m1guelpf No. The issue is still open.

[2018-10-29 10:29] zersiax commented on #10040
That already helps a lot, actually. I just tested the embed example, and the edit field to paste your embed URL seems to be accessible. Is there a list of accepted / commands/

[2018-10-29 12:10] kirrg001 commented on #9418
https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)

CSRF does not prevent spam.

Some techniques for spam protection:
1) email validation - in place
2) enable double opt in (email confirmation) - possible using Zapier
3) brute force protection for the ip address (but it won't avoid spam completely, it just reduces spam)
4) captcha for the form (proof human, ux downside)
5) honeypot

[2018-10-29 12:16] kevinansfield commented on #9418
Token-based CSRF and possibly Captcha will require a fairly large change to how the subscriber form works because it's typically included on every page and will be heavily cached (meaning no dynamically generated token).

If we want to use such techniques it's likely we would need to have an endpoint that only serves the form so that it can be included on cached pages via JS.

[2018-10-29 12:31] kirrg001 commented on #10042
Yeah this is exactly what i mean to avoid breaking themes, because any `page.hbs` is using `{{#post}}` right now. I agree, we should return both keys and update our docs to use `{{#page}}` if this improvement was applied. We could even deprecate the usage of `{{#post}}` in `page.hbs`.

The only thing we have to double check is our context usages/comparisons e.g. [see body class helper](https://git

[2018-10-29 12:46] kirrg001 opened #10082 "Dynamic Routing: custom meta title & body_class output for static routes using data key"
Reported in the forum: https://forum.ghost.org/t/when-using-dynamic-routes-meta-title-and-body-class-are-empty/3765

## Custom Meta Title

[code]

If you use

[code]

It always outputs the blog meta title and not the custom page meta title.

I see two problems:

1. the StaticRoutesRouter does not forward the correct context, [see](https://github.com/TryGhost/Ghost/blob/2.3.0/core/server/services/r

[2018-10-29 15:50] kirrg001 opened #10083 "Content API V2: return relative paths in content by default"
The **Content API V2** returns absolute urls for everything

- asset urls
- paths in content (html)
- asset urls in content (html)
- resource urls

## Why should paths in the content be relative by default?

As a writer, you add links to your content e.g. you add a relative link `/about/`. Ghost should not touch relative links you have added because otherwise, **we are transforming user input with

[2018-10-29 17:20] godofredoninja commented on #10082
In the dynamic routes also the following fields are empty

— Meta Data
—  Twitter Card
— Facebook Card

**For example, I have these data added**

![dos](https://user-images.githubusercontent.com/10253167/47667525-306ded80-db74-11e8-9aaf-4ace3dcd5b3b.png)

**But he answers me with this data.**

![uno](https://user-images.githubusercontent.com/10253167/47667578-55faf700-db74-11e8-996a-cfde007b1490.p

[2018-10-29 18:49] kirrg001 commented on #10082
@godofredoninja Thanks. It's for sure the same underlying problem 👍 The helpers should respect the page context object.

[2018-10-30 03:36] JohnONolan commented on #8442
@m1guelpf There is no need for you to comment "can this be closed now" on every open issue, please stop doing it.

[2018-10-30 03:36] JohnONolan commented on #9905
Agreed

[2018-10-30 03:36] #9905 closed

[2018-10-30 04:00] allouis commented on #10080
:+1:

[2018-10-30 04:00] #10080 closed

[2018-10-30 06:45] dmitrycy commented on #9239
Hey, I'm new to contributing to OSS projects, but this looks like something I can handle technically. Is this issue still up for grabs?

[2018-10-30 07:06] m1guelpf commented on #8442
Sorry :(

[2018-10-30 09:59] kevinansfield opened #10087 "Display spinner whilst Codemirror inputs are loading assets"
### Issue Summary

CodeMirror inputs (used in the editor HTML card and code injection fields) load the CodeMirror assets asynchronously to keep the main bundle size smaller. Whilst the assets are loading we display a plain textarea which on poor connections can make it look like the input is broken.

### To Reproduce

1. Open the admin area in Chrome
2. Open Chrome's DevTools and check the disable

[2018-10-30 10:18] kevinansfield commented on #9239
I'm going to close this issue for now. There needs to be design input for the mobile version of post filters and the editor header design has diverged since the scheduled post screenshot. If appropriate separate issues will be opened with the desired mobile designs.

[2018-10-30 10:18] #9239 closed

[2018-10-30 11:29] JohnONolan opened #10088 "Use post title for editor title"
I'm editing 3 different posts, but I don't know which tab is which
![image](https://user-images.githubusercontent.com/120485/47715178-8bd1d580-dc71-11e8-9aa8-e239736225cc.png)

I think it would be useful if the post title was the first thing in the `<title>` ?

[2018-10-30 20:31] foleman opened #10089 "Maybe Bug?->Failed to send email. Reason: Can't send mail - all recipients were rejected."
I'm running ghost in a docker with my own mail server (docker too). Everything works great, till today, when I wanted to send an invitation. I got the error of the title, and digging down I get this error in postfix

`NOQUEUE: reject: RCPT from unknown[192.168.128.1]: 553 5.7.1 <ghost@notanengineer.com>: Sender address rejected: not owned by user test@notanengineer.com; from=<ghost@notanengineer.c

[2018-10-30 20:36] kevinansfield commented on #10089
Hey @foleman 👋 You can configure the from address - https://docs.ghost.org/concepts/config/#from-address

For any future help requests please use [the forum](https://forum.ghost.org) as suggested in the issue template 😉

[2018-10-30 20:36] #10089 closed

[2018-10-30 22:36] velobarplus commented on #10082
Is there a chance this will be fixed in the next release? :)

[2018-10-30 22:58] gargol commented on #10082
@velobarplus if there's somebody from the community to pick it up and contribute a PR we'd definitely help and merge it asap ;)

[2018-10-31 00:15] Jgriebel1990 commented on #10088
I can try and take this one on

[2018-10-31 00:31] vikaspotluri123 commented on #9589
@Jgriebel1990 feel free to pick something from the checklist and let us know! I'll probably update the list w/ a more in depth status next week

[2018-10-31 08:49] kirrg001 commented on #10080
@allouis Wanne merge your ideas into #9043? :)

[2018-10-31 09:15] JohnONolan opened #10090 "Editor scrolljump when pasting a link"
When pasting a URL over the top of highlighted text to create a link, the editor scroll position jumps by a large amount, which can be very disorienting.

Example in Chrome 70, Ghost on latest Pro:
![ex](https://user-images.githubusercontent.com/120485/47777832-2c82cc80-dd28-11e8-9398-49f93a633722.gif)

[2018-10-31 09:22] kevinansfield commented on #9836
Closing as duplicate of https://github.com/TryGhost/Ghost/issues/10049

[2018-10-31 09:22] #9836 closed

[2018-10-31 09:35] allouis commented on #10080
aw yis i would love to @kirrg001

[2018-10-31 09:35] allouis commented on #9043
Copied from #10080

# Permissions Issue

The permissions service in ghost is not as good as it could be.

One of the biggest issues is that it has a lot of work offloaded to the model layer in `permissible` functions, this makes the logic for permissions scattered and hard to determine/audit from a single place. But there are some smaller issues we can tackle to help make fixin that easier.

## Wh

[2018-10-31 10:23] kevinansfield commented on #10071
Correct, it's possible to submit the invite form before the roles have been fetched from the API. There's some client-side validation we can add for that but I think it still needs similar validation server-side?

[2018-10-31 10:40] kirrg001 commented on #10071
Yeah.

[2018-10-31 16:02] galopin commented on #10061
@kirrg001 I think there is _another_ use case besides the Content API…

I'm a fairly new Ghost(Pro) user and submitted today a support request where I asked if it was possible to not list authors with no posts in the XML sitemap:

https://github.com/kirrg001/Ghost/blob/9b10f1d39c55a44072c92dc61f4462345f25b035/core/server/data/xml/sitemap/user-generator.js#L7-L26

[2018-10-31 17:16] ErisDS commented on #10061
There's a subtle difference to the intention of this change, which I think got lost in my documentation - sorry. The intention is that instead of having users available from the Content API, we will have authors.

The definition of authors is "users who have written at least one post".

So we also want to change the endpoints to be /authors/.

[2018-11-01 21:20] kirrg001 commented on #10061
Prio 1: /authors/
Prio 2: Don't return tags/authors with no posts

[2018-11-02 11:16] kirrg001 commented on #10042
https://github.com/TryGhost/Ghost/issues/10061 takes care of this on the Content API level.

We probably need another issue for the "inconsistency" on the routing level e.g.

[code]

vs.

[code]

[2018-11-02 14:15] kirrg001 commented on #10061
That is not easy to fix, because `filter=count.posts:>0` is not supported by GQL.

[2018-11-05 08:16] rishabhgrg opened #10097 "Content API V2: does not return mobiledoc"
_(refs #9866)_

### Why do we remove mobileodoc from Content API v2?

Going forward, we want Content API to be very stable and dependable read-only API. Currently there is no usecase which justifies the need for sending `mobiledoc` as a default field on resource, so unless a clear use case or need appears, we remove `mobiledoc` from response of Content API.

This serializsation will happen in the

[2018-11-05 11:43] kirrg001 commented on #10083
@ErisDS

Do you have any opinion on that statement? Or do you have a preference?
e.g. if you run Ghost on a subdirectory and you add a link `/about/` to your post, then the link is wrong. This is the only use case i can think of.

[2018-11-05 17:05] kirrg001 opened #10099 "Permission stage overrides the whole context object"
For the new API frame we pass values from the authentication layer:

- the user who is logged in
- or the content key object (if available)

You can access these information by using `frame.options.context`. That is cool, **but** as soon as the request enters the permission stage, the permission layer overrides this object, [see](https://github.com/TryGhost/Ghost/blob/2.4.0/core/server/api/v2/util

[2018-11-05 17:07] #10083 closed

[2018-11-05 21:46] gargol opened #10102 "Reconsider decoration logic usage in API v2"
**API v2** is using inconsistent logic in output serializer decorators. We are using both by reference modification and return values that get assigned later. Logic should be consistent in both input and output serializers.

Related discussion - https://github.com/TryGhost/Ghost/pull/10095/files#r230870712

[2018-11-06 04:20] allouis commented on #10099
[code]
That line is only used to determine if the public permissions stuff should run, and it should be removed eventually (see [here](https://github.com/TryGhost/Ghost/blob/master/core/server/services/permissions/index.js#L21)) when we have less fragmented permission system

To clean this up for now we could just do
[code]

[2018-11-06 07:48] kirrg001 commented on #10099
Not really. This line ensures that we transform auth context to permission context.

`frame.options.context.internal`
`frame.options.context.public`
`frame.options.context.user`

[2018-11-06 07:49] kirrg001 commented on #10099
I think the context parsing needs to happen earlier in the API frame.

[2018-11-06 08:54] kirrg001 commented on #10099
FYI: the permission stage runs after the validation+serialization because the stage accesses the incoming body structure.

[2018-11-06 10:59] #9942 closed

[2018-11-06 11:12] kirrg001 opened #10105 "Replace GQL with NQL (filter plugin)"
As soon as [NQL](https://github.com/NexesJS/NQL) is feature complete, we would like to replace GQL with NQL in the model layer.

NQL needs to
- [ ] [support relations](https://github.com/NexesJS/NQL/issues/1)
- [ ] fix all known bugs in GQL ([negation](https://github.com/TryGhost/Ghost/issues/9950), [and conjunction](https://github.com/TryGhost/GQL/issues/16), [counting](https://github.com/TryGhos

[2018-11-06 11:27] kirrg001 opened #10106 "API V2 content controller separation"
I see some **good reasons** why we should **separate the controllers** for the content API.

1. You don't have a limited access if the controllers are generic. For example: the V2 content API allows the theme developer to fetch "authors" `{{#get "authors"}}`. The `get` helper requires the target API version (`require(.../api/).v2`), but we require all of the controllers. That means we either need

[2018-11-06 13:39] #10097 closed

[2018-11-06 14:44] kevinansfield commented on #10049
Closed by https://github.com/TryGhost/Ghost-Admin/pull/1064. Opening a separate issue for the gallery card undo.

[2018-11-06 14:44] #10049 closed

[2018-11-06 15:12] #10065 closed

[2018-11-06 15:58] kevinansfield opened #10107 "Gallery card doesn't work well with undo states"
### Issue Summary

The gallery card does not currently create undo states when images are added or removed. When attempting to implement undo states it's become apparent that mobiledoc-kit is having issues with payloads containing non-primitive values.

TODO:
- [ ] confirm the problem is definitely non-primitive values
- [ ] open PR to mobiledoc-kit if necessary

[2018-11-06 17:25] kirrg001 opened #10108 "Better error handling for incorrect sql"
If you pass a wrong GQL/NQL filter, Ghost should catch this error and return a proper bad request error.

The error handling should probably happen in the model layer.

e.g. you send an invalid filter syntax, you get a 500

Ghost :master

[2018-11-07 08:32] allouis opened #10110 "Create members token auth middleware"
It should read credentials from the `Authorization` header with the `GhostMembers` scheme
It should validate JWT's with the NONE algorithm, attaching the claims to `req.member` or 401ing

[2018-11-07 08:33] allouis opened #10111 "Update content api authorization middleware"
The content api authorization middleware needs to work with `req.member` being present.

[2018-11-07 08:36] allouis opened #10112 "Include req.member in the context object"
The context object should include the `req.member` so that access control can use `context`

[2018-11-07 08:37] allouis opened #10113 "Wire up the members token auth middleware to the content api"
This'll allow access to the content api via members tokens

[2018-11-07 08:38] allouis opened #10114 "Create labs setting for members"
This should enable/disable the use of the members auth middleware

[2018-11-07 08:39] allouis opened #10115 "Create UI for switching the members labs setting on/off"
We should put this behind the `enableDeveloperExperiments` flag for now?

[2018-11-07 08:40] allouis opened #10116 "Create '#members' tag when members is switched on"
We should check for existence of the tag already etc...

[2018-11-07 08:41] allouis commented on #10116
@peterzimon We need to confirm the name/spelling of the tag :relaxed:

[2018-11-07 08:42] allouis opened #10117 "The rendering of posts should not include content if the post is private"
We determine private in the same way that the content api does - via a tag for now

[2018-11-07 08:43] allouis opened #10118 "Remove the formats property from posts in content api"
Unless the request is made with a member context, we should remove the formats of any post deemed private

[2018-11-07 10:24] allouis opened #10120 "Standarize API vs Api in auth service"
We currently use a mix of `API` and `Api`.

The admin api stuff that hasn't been merged conflicts with what we have too.

I think `Api` is better?

[2018-11-07 11:57] kirrg001 opened #10124 "Content API V2: Don't return authors and tags without posts"
_(refs #9866)_

This is a change for API v2 only.
The Content API should not return authors or tags with no posts.

### Use Case
You have an administrator which organises the blog, but does not write posts.

### Things to take care of

- sitemaps service should not return these urls for v2
- sitemaps service should return these urls for v0.1

### Requirements/Underlying problem

GQL does not suppo

[2018-11-07 12:01] kirrg001 commented on #10061
We've created a new issue for "do not return authors/tags without posts" - [see](https://github.com/TryGhost/Ghost/issues/10124). This has a much bigger underlying architecture problem now that we support multiple api versions. Have a read.

[2018-11-07 14:39] kevinansfield commented on #10120
I had tried to settle on `Api` in the now-closed admin key auth PR, I think that's the easiest route to consistency.

[2018-11-07 14:45] kirrg001 commented on #10061
Closed via https://github.com/TryGhost/Ghost/commit/ff6bf5f318aec6446a7bc741d39da7a6664a38f1

[2018-11-07 14:45] #10061 closed

[2018-11-07 17:41] kirrg001 opened #10128 "Replace custom knex filtering with NQL filtering"
## Problem

We have a couple of places in our model layer which are using hardcoded/custom knex filtering.
But instead, we should use NQL filtering.

This makes it hard to maintain the model layer and it's hard to read/follow the code.

We already have a useful strategy, which allows a model to [define default and enforced filters](https://github.com/TryGhost/Ghost/blob/2.5.0/core/server/models/us

[2018-11-08 06:32] #10110 closed

[2018-11-08 06:32] #10112 closed

[2018-11-08 06:34] #10111 closed

[2018-11-08 06:59] rodvay opened #10130 "360 Degree Panoramic Photo Viewer ?"
Hello
Very good ghost platform

im need added projets 360 degree panoramic photo viewer

Sample:  https://photo-sphere-viewer.js.org/
Sample: https://revolution.themepunch.com/360-degree-real-estate-virtual-tour/

as possible

this feature is available ? ghost platform
Thank you

[2018-11-08 07:08] allouis commented on #10130
Hey @rodvay :wave: Friendly reminder: we don't track feature requests on GitHub. Our default issue templates pointed you to our forum for this type of question - the Ideas topic will let you propose features and let others vote on them :smile:. We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

FYI: Many projects have their own support guidelin

[2018-11-08 07:08] #10130 closed

[2018-11-08 09:17] JohnONolan opened #10131 "Admin search/autocomplete stuttering"
This happens to me so often it's becoming a really noticeable stumbling block to working with a large content archive:

![image](https://user-images.githubusercontent.com/120485/48188936-7fd0cc80-e371-11e8-8235-99586e219bb9.png)

then backspace 1 char and type it again:

![image](https://user-images.githubusercontent.com/120485/48189022-b7d80f80-e371-11e8-9a71-659adccfa850.png)

Chrome / Latest Pr

[2018-11-08 09:57] #10113 closed

[2018-11-09 09:27] RomanBelkov opened #10133 "Scheduled posts do not post"
### Issue Summary

A summary of the issue and the browser/OS environment in which it occurs.
All computers. Tested on Chrome 70.0.3538.77

### To Reproduce

1. Create a post and schedule it to be published in the future.
2. Wait a bit.
3. Post is not posted, admin shows message about post being scheduled n minutes ago.

<img width="1042" alt="screen shot 2018-11-09 at 12 23 53" src="https://user-i

[2018-11-09 09:35] kirrg001 commented on #10133
Hey @RomanBelkov!

Can't reproduce.

Could you please read through https://forum.ghost.org/t/scheduled-posts-dont-publish/1179/33?

The forum helps create a central location for searching problems/solutions.

[2018-11-09 09:35] #10133 closed

[2018-11-09 11:42] #10114 closed

[2018-11-09 21:48] gbourne1 opened #10134 "Thumbnail on Reddit"
On Reddit, it seems Ghost posting thumbnails aren't showing.

For example: https://www.reddit.com/r/retirement/comments/9uszqj/who_are_your_midterm_candidates/ doesn't show the thumbnail. Reddit uses og:image, so everything should be ok, but seems all posts I've done have had an issue.

Using Ghost 2.4.0, Node 10.13.0

[2018-11-11 07:44] JohnONolan opened #10135 "Cancelling webhook modal does not cancel"
Latest master / Chrome:

- Add a new integration
- Add a new webhook
- Click "cancel" on the webhook details modal

Expected: Modal closes
Actual: Form validation is triggered, requires 2nd click to close the modal

![image](https://user-images.githubusercontent.com/120485/48310326-3629f100-e5c0-11e8-901d-7cfb103b99b2.png)

[2018-11-11 08:56] JohnONolan opened #10136 "Custom integration view missing active nav state"
When creating/editing a custom navigation, the global Ghost navigation menu should highlight the "Integrations" item - but currently the blue highlight is missing

![image](https://user-images.githubusercontent.com/120485/48310959-49da5500-e5ca-11e8-9b31-9d323b5c2e68.png)

[2018-11-11 10:01] JohnONolan opened #10137 "Can't edit webhook"
Chrome / latest pro

- Create an integration + webhook
- Go and edit a post to trigger it
- Return to integration and edit webhook
- No matter what is entered, I get the following error:

![image](https://user-images.githubusercontent.com/120485/48311507-6333cf00-e5d3-11e8-8df8-7402177e5461.png)

[2018-11-11 10:02] JohnONolan commented on #10137
Aside: Shouldn't the title of the modal be "Edit webhook" ?

[2018-11-11 15:04] JohnONolan opened #10138 "Team member "last seen" no longer updating"
Latest Chrome / Pro

I am currently logged in, and several people on this list have also been logged in more recently than indicated. Marking this as critical because we have several critical external systems which depend on this info being up to date. (Actually think that's a strong case for this feature having tests)

![image](https://user-images.githubusercontent.com/120485/48314524-6643b500-e5

[2018-11-11 15:16] allouis commented on #10138
This is because the logic for updating a users `last_seen` property is handled when `edit`ing the user, which was happening implicitly in the previous auth flow.

AFAICT - this was only updated when a user logged in, which doesn't entirely reflect the name of this property.

If we want this property to reflect the last time a user logs in, we should update the `last_seen` property after any succes

[2018-11-11 15:39] JohnONolan commented on #10138
It's definitely intended as last-seen/active, and _not_ last login

[2018-11-11 19:21] m1guelpf opened #10139 "Subscriber webhooks fail"
After setting a webhook for subscriber deletion, I get this when triggering it:
[code]

Same for the subscriber added webhook

[2018-11-11 21:57] foleman opened #10140 "Using Data Helper 'primary_tag' returns empty"
### Issue Summary
Using Data Helper 'primary_tag' inside page with a post returns empty instead of url (neither relative nor absolute work).

### To Reproduce
1. Added this code to header template (After <\/header>):
[code]

2. Renders:
[code]
3. Added the #post data helper:

[code]
4. Exact same result. All the other code I have works, just the primary_tag.url syntax loads empty.

I forgot to men

[2018-11-12 07:18] allouis commented on #10099
Yeah it does that, but that is unnecessary right? The only reason we transform that is so we can make that switch? Any permissions that aren't in the public stuff are handled by the permissions service and the permissible methods? Unless we're fragmenting the permissions even more, I don't see why the parsed context needs to be on the frame at all?

[2018-11-12 08:08] allouis commented on #10099
I'm thinking about this for the members stuff for example, we have the option of doing something like this in the post output serializer (or the `mapper.mapPost` stuff)
[code]

But if we were to keep permissions central, we could do something like

[code]

Or in more in the style of what we have already

[code]

This has the benefit of being able to write generic logic in the output serializer lay

[2018-11-12 08:41] kirrg001 commented on #10099
e.g. because the whole model layer uses the values from this parsed object. The controllers forward this parsed context object to the model layer. _This is how it works currently._

---

This issue is about that we have two different context objects currently. This issue is about inconsistenty. We receive information from auth layer (e.g. member, api_key, user) and the permission layer creates a n

[2018-11-12 09:29] kevinansfield commented on #10134
Hey @gbourne1  👋 Friendly reminder: help or support is not available on Github. Our default issue templates pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our [theme

[2018-11-12 09:29] #10134 closed

[2018-11-12 09:45] rishabhgrg commented on #10139
Hey @m1guelpf 👋, the reason webhooks fail here is because the target URL(https://m1guelpf.me) isn't configured to handle `POST` requests sent by the server. Updating it to a valid target URL should work without any errors: [Setting up a webhook](https://docs.ghost.org/api/webhooks/#setting-up-a-webhook)

That being said, the error here definitely needs update to reflect this correctly as a warning

[2018-11-12 10:18] cotko commented on #10082
@kirrg001 I'm wiling to do this, but what's up with the missing resourceType in the StaticRoutesRouter, where shuold that be used?
Also you say that `key` should be used for that: *`page` if the data `key` was provided* - what about when there is more than one data key:
[code]
what should the implementation of `StaticRoutesRouter.getResourceType()` return in this case?

[2018-11-12 10:22] lengerrong commented on #5321
just an idea.

use sqlite3 as database for your ghost.
then there will be a database file.
open the database file via sqlite3.

$sqlite3  content/data/ghost-dev.db
SQLite version 3.11.0 2016-02-15 17:29:24
Enter ".help" for usage hints.
sqlite> .tables
accesstokens            migrations              refreshtokens
api_keys                migrations_lock         roles
app_fields              mobiled

[2018-11-12 10:35] kirrg001 commented on #10082
Nice 👍

We have to push the resource type into the `context` object.

e.g. resource type is "page" => context = [this.routerName, resourceType]

[2018-11-12 10:39] kirrg001 commented on #10082
If there is more than one data definition, the target url does not represent a single resource. I'd not do anything in this case and don't push the resource type.

[2018-11-12 10:47] allouis commented on #10099
Ah, I see, I didn't notice at first it did that - I couldn't see where it happened in v0.1!

Though - v0.1 has slightly different functionality to what we have with the new stuff, v0.1 would only forward the parsed context object from the `browse` and `read` controllers (because those called the `handlePublicPermissions`, which is where the context got parsed and overwritten). I'm guessing that wa

[2018-11-12 11:06] m1guelpf commented on #10139
@rishabhgrg actually I changed the URL from the logs, the real URL should handle POST requests perfectly ([see source](https://github.com/m1guelpf/ghostletter))

[2018-11-12 11:55] kirrg001 commented on #10099
👍 I think the one who works on that, needs to play with it a little and post here what makes sense and what doesn't :)

[2018-11-12 12:00] cotko commented on #10082
@kirrg001 ok so if a post is turned into a page, then [`data.page`](https://github.com/TryGhost/Ghost/blob/2.3.0/core/server/data/meta/schema.js#L176) is present here in the schema meta helper.

This in turns calls [getPostSchema](https://github.com/TryGhost/Ghost/blob/2.3.0/core/server/data/meta/schema.js#L66) method, but the `page` only contains partial data about the post; missing are
 - tags

[2018-11-12 12:04] #8936 closed

[2018-11-12 12:07] kirrg001 commented on #10082
The [static controller](https://github.com/TryGhost/Ghost/blob/2.3.0/core/server/services/routing/controllers/static.js#L6) should probably auto include tags and authors if the resource is post | page.

But i'd suggest to create separate and small pull requests per problem 👍
Thanks for your help!

[2018-11-12 13:10] #10136 closed

[2018-11-12 13:15] gargol opened #10144 "Pre-optimized image size increases after upload"
### Issue Summary

When uploading a pre-optimized image to Ghost, its size is sometimes increased. Samples:
- The image is being uploaded: https://d.pr/i/76ZVry
- Output, higher size image: https://d.pr/i/FPGvW2

### To Reproduce

1. Upload the image that had its quality set to lower than the default (80%)
2. Check the processed image size, in this case, increase from ~120kB to ~650kB

### Technic

[2018-11-12 13:50] rishabhgrg commented on #10139
@m1guelpf The above logs indicate the request to the actual URL was sent by server, but server did not receive any response back and so timed out on request. It could be the case where URL is able to perfectly handle requests but is not sending any response back, I'd suggest if possible to use `curl` or similar external tool to test `POST` request/response flow for the actual target URL to make su

[2018-11-12 14:54] m1guelpf commented on #10139
@rishabhgrg I was testing it with an exactly identical copy of the blog locally (the only different setting is that it has the developer flag on) and it worked 🤷‍♂️ . Will try to deploy a test URL when I get home

[2018-11-12 16:19] rishabhgrg opened #10145 "Clean up error handling of webhook request failure to target URL"
## Problem

The [webhook trigger service](https://github.com/TryGhost/Ghost/blob/master/core/server/services/webhooks/trigger.js#) currently throws `InternalServerError` as well as a `RequestError` stack if the triggered `POST` request fails due to incorrectly configured `targetURL` endpoint.
These  error logs can be misleading/confusing about the nature of failure on server, as they were [here](h

[2018-11-12 20:04] kirrg001 commented on #10140
Hey @foleman!

[code]

---

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our [theme API](https://themes.ghost.org), or our [public API](https://api.ghost.org). If you can't find an answer then our [forum](https://forum.ghost.org) is a great place to get community support, plus it helps create a central location for searching problems/solutions.

[2018-11-12 20:04] #10140 closed

[2018-11-12 20:15] foleman commented on #10140
@kirrg001 Yes, I've read them.
So you are telling me that all the data helpers work just fine (**post.title**, **post.primary_tag.name**, **author.name**,... etc) but accessing **post.primary_tag.url** not? Why can I not access **post.primary_tag.url** with that syntax, but can access **post.primary_tag.name** and every other object (as I said, **post.author**, **post.title**, **post.slug**, ....)

[2018-11-12 21:04] zicklag commented on #5321
[GhostSearch](https://github.com/HauntedThemes/ghost-search) by HauntedThemes looks like it works for my small blog.

[2018-11-12 22:00] kevinansfield opened #10152 "Administrators are unable to edit webhooks"
When logged in as an administrator it's possible to create and delete webhooks but it's not possible to edit webhooks. This is because the [migration adding the edit webhook permission](https://github.com/TryGhost/Ghost/blob/master/core/server/data/migrations/versions/2.3/2-add-webhook-edit-permission.js) adds the `permissions` record but doesn't add the `permissions_role` relation record.

[2018-11-12 22:51] kirrg001 commented on #10152
@rishabhgrg I've assigned you. This issue is required for the release 👍

[2018-11-13 09:05] #10152 closed

[2018-11-13 10:35] kirrg001 opened #10155 "TypeError: argument sql must be a string"
**This only happens with a very very specific situation!**

## Error

[code]

## Steps to reproduce

`knex-migrator reset`
`knex-migrator init`

-> cancel the process after the tables were created
-> release the migration lock

`knex-migrator migrate`

Ghost: master
knex-migrator: latest
db: mysql

[2018-11-13 10:55] #10155 closed

[2018-11-13 11:01] kirrg001 commented on #10155
https://github.com/TryGhost/knex-migrator/commit/75011038fd832c1b2e510a34ef182691e93c2832s should help to avoid this situation.

[2018-11-13 11:06] JohnONolan opened #10156 "API key length review"
Can we review our provided API key lengths? At the moment it feels extremely long compared to what is expected / normal amongst other services doing similar things (requiring equal, or more, security)

[code]

This is user-facing, so it's a detail which will be noticed.

[2018-11-13 11:45] zce opened #10157 "Apps: AppSandbox require proxy function bug"
### Issue Summary

I tried to add a new custom App.

Unfortunately, I got an `unsafeAppRequire` error.

[code]

### To Reproduce

1. Add a new custom app

[code]

2. Restart ghost application

3. An error has occurred

[code]

#### The location of the problem in the code

https://github.com/TryGhost/Ghost/blob/master/core/server/services/apps/sandbox.js#L57-L68

[code]

output

[code]

I think the

[2018-11-13 12:19] #10144 closed

[2018-11-13 12:29] b166ar commented on #10144
Is it live now? Or I need to wait Ghost Pro update?

[2018-11-13 12:31] kevinansfield commented on #10144
@b166ar no, you need to wait for the next release to be cut (Ghost 2.6.0, should be cut today) and then for it to roll out on Ghost(Pro) if you are a customer, Ghost(Pro) rollouts usually happen a day or two after the release.

[2018-11-13 16:30] kirrg001 commented on #10105
Started with this task. It's very important to get rid of `options.where`, because Ghost inserts GQL statements. The functions should generate filters. String filters are independent from the implementation details.

[2018-11-13 18:35] kirrg001 commented on #10105
[code]

Just analysed [this custom filter logic.](https://github.com/TryGhost/Ghost/blob/2.6.0/core/server/models/plugins/filter.js#L88) - pre processed filter logic.

1. `tag` -> `tags.slug` is an alias. Will be covered by supporting/using alias config.
2. `{prop: 'tags.visibility', op: '=', value: 'public'}`. This is GQL statement format, which anyway doesn't work with NQL. This belongs to the d

[2018-11-13 18:53] kirrg001 commented on #10105
[code]

Looking [at this piece.](https://github.com/TryGhost/Ghost/blob/2.6.0/core/server/models/plugins/filter.js#L131)

## Meaning

Is only used when using `IN` operator e.g. `tags:[x,y]`.
Any post which matches **both** tags should be returned first.

## NQL?

This is nothing NQL should handle, because NQL only applies queries based on the filter string.
e.g. you can filter data. It does not ha

[2018-11-14 00:20] jloh opened #10161 "New Integrations highlight is white in dark mode"
### Issue Summary

The new integration highlight portion on the Integrations tab in Ghost Admin is still white when switching to dark mode.

### To Reproduce

1. Switch Ghost Admin to Dark mode
2. Go to integrations tab

![image](https://user-images.githubusercontent.com/3689532/48451595-2f3cf180-e7ff-11e8-978e-9dd462b12ee4.png)

### Technical details:

* Ghost Version: 2.6.0
* Node Version: N/A
*

[2018-11-14 06:36] allouis commented on #10156
Any key we're using for signing the JWT I think we should keep at 512 bits. The main authentication as a service provider use keys of this size too.

https://auth0.com/blog/brute-forcing-hs256-is-possible-the-importance-of-using-strong-keys-to-sign-jwts/

tbf the key sizes in the example above are stupidly small, e.g. 32 and 48 bits.

base64 encoding is around 66% smaller than hex, but makes for h

[2018-11-14 07:20] allouis commented on #10117
This is achievable once https://github.com/TryGhost/Ghost/pull/10154 is merged and a theme sets it's package.json like so
[code]

[2018-11-14 07:32] #10118 closed

[2018-11-14 09:28] velobarplus opened #10164 "Ghost changes URL to lowercase (with a redirect)"
I'm using dynamic routing, and i have something like this:
[code]
The url is this: `/about/team/Z2lkOi8vdGVhbS9tZW1iZXIvMTcwMTg5Nzg5NjAyNQ==/`
Notice the :id has upper and lower case.
When loading the page it is transformed to: `/about/team/z2lkoi8vdgvhbs9tzw1izxivmtcwmtg5nzg5njaynq==/`

For whatever reason the pathname gets all lowercase. Is there a way to not make it lowercase?

To answer my own

[2018-11-14 09:51] kevinansfield commented on #10164
Hey @velobarplus 👋 There is already on-going support discussion on [your forum topic](https://forum.ghost.org/t/is-ghost-lower-casing-the-url/3952), if it's determined there is a bug in Ghost then an issue can be opened.

[2018-11-14 09:51] #10164 closed

[2018-11-14 11:33] kirrg001 commented on #10156
100%. This example is not realistic IMO.

Agree to that. The content key can be very short. IMO there is no security risk, we serve the content on the site anyway (not talking about member protected content, different topic).

On top of the short content key, proper brute force configuration protects floating the public/content endpoints. We can also deny keys which trigger too many requests.

The

[2018-11-14 11:58] allouis opened #10165 "Check internal tags are present for all types of post fetches (inc. taxonomies)"
RE: https://github.com/TryGhost/Ghost/commit/b2201d4179438eddaa5dcb9609efd29c838cc04f#r31294108

We need to correctly fetch the internal tags.

Make sure to speak w/ @kirrg001 about solution

[2018-11-14 13:53] gargol opened #10167 "Relplace enforced/default/custom/extra filter merging logic"
### Goal

Write a simple utility that would combine string based filters based on their priority `enforced->custom->extra->default`. This is an attempt to achieve current filter merging logic with string based filters. More complex statement based (mongo-json) utility might be created later as an expansion on this utility.

### Strategy

Cover all existing combinations of enforced/default/custom f

[2018-11-14 17:41] rishabhgrg commented on #10117
Closed with https://github.com/TryGhost/Ghost/pull/10154

[2018-11-14 17:41] #10117 closed

[2018-11-14 17:44] rishabhgrg commented on #10139
@m1guelpf Closing this for now.

[2018-11-14 17:44] #10139 closed

[2018-11-14 19:47] vasanthdeveloper commented on #7292
This issue still persists today!
https://forum.ghost.org/t/ghost-says-invalid-zip-when-upload-my-theme/4001/2

[2018-11-14 22:43] antony commented on #8754
Still getting this issue. Can't load themes, storage adapters or anything. Always looking in `/node_modules/ghost...`

[2018-11-15 00:56] pkail opened #10170 "Cannot find partials"
### Issue Summary
{{> header}} doesn't work, even after restart.  I have header.hbs in /partials/ directory.
I get error 500 The partial header could not be found.
I have tried files with multiple different types of content.  Nothing works.
Windows 10.  Node 10.13.0 Ghost 2.5.0

A summary of the issue and the browser/OS environment in which it occurs.

### To Reproduce

1. This is the first step
2

[2018-11-15 06:02] allouis commented on #10170
Hello @pkail :sun_with_face:

I think you might have missed some information from our bug report template..

Could you help us help you, by including some more information? What theme is it, did you upload a new theme, or change it locally on the server etc...?

Just a list of steps you took to find this bug, would be really helpful!

Thanks :relaxed:

[2018-11-15 09:02] allouis commented on #10116
Closing as we are not automating this yet.

[2018-11-15 09:02] #10116 closed

[2018-11-15 11:18] kirrg001 commented on #10157
Hey @zce 👋

Sorry for late response.

First of all: apps are not a thing yet. The purpose of the existing app code is that people can build smaller demo post. You might know this already.

---

To your question: The sandbox does not allow to require modules outside of your app scope. That's why it's a sandbox. I'd suggest to wait till Apps are officially supported. The Ghost team needs to spend ti

[2018-11-15 11:18] #10157 closed

[2018-11-15 12:02] zce commented on #10157
👋 Thanks for response

I understand the purpose of sandbox design. But I think this problem is not related to sandbox.

[code]

https://github.com/TryGhost/Ghost/blob/master/core/server/services/apps/sandbox.js#L59

The original function of the sandbox was not removed from my pull request.

Maybe you should try to add a custom app to find out the problem.

[2018-11-15 12:31] pkail commented on #10170
I'm not sure what else you need: I've mentioned the operating system and the versions of Node and Ghost.  As I said, I get the same error regardless of the contents of the handlebars file.  The handlebars file is in the /partials directory, which is a subdirectory of my theme name.

This is a theme I am writing myself.  The error comes either when I try to activate it in the Ghost control panel or

[2018-11-15 15:34] kirrg001 commented on #10167
Attempt was added via https://github.com/TryGhost/Ghost/pull/10159/commits/9443bed93013f47c97c7c75d3617021e1d5ae9e7. Can this be closed now? I know the PR is still open, but i think it will be kept open for another while.

[2018-11-15 17:47] mossmoss commented on #8966
I was stumped by the localhost:2368 issue running Ghost within Rancher and Docker. I could register a user and access the blog, but was unable to upload images. I think I was able to resolve taking a clue from this [comment](https://github.com/TryGhost/Ghost/issues/8966#issuecomment-326746476) -- I cloned the Ghost container in Rancher, and there you can set the "url" environment variable, I set i

[2018-11-16 03:41] notanengineercom commented on #10170
Hey @pkail
It would be helpful if you shared maybe a bit of the code. Just with OS and versions no one can really help you!

[2018-11-16 05:30] allouis commented on #10120
This should have been closed with the above commit :thinking:

[2018-11-16 05:49] allouis commented on #10170
Hey sorry if I wasn't clear enough @pkail, what we're looking for is a way to easily reproduce this, or some more information so that we can help you fix this issue.

Maybe sharing some of the code as @notanengineercom says would be the most useful right now!

Locally I've created a `header.hbs` file in the partial directory and successfully imported it using both
`{{> header}}` and `{{> "header"}

[2018-11-16 06:03] allouis commented on #10072
@nehalist Is this still an issue?

[2018-11-16 07:49] kirrg001 commented on #10120
@allouis The PR is still open - https://github.com/TryGhost/Ghost/pull/10142.

[2018-11-16 08:17] nehalist commented on #10072
Will give you more information within the next days, had no time to investigate any further on this the last weeks.

[2018-11-16 09:32] kevinansfield commented on #10170
Hey @pkail 👋 All community support is handled on [our forum](https://forum.ghost.org) rather than on Github so I would suggest moving this discussion there - if there's a genuine, reproducible bug found then we can re-open this or open a new issue with proper details of the problem.

When creating your forum topic I would suggest providing sufficient information for someone to be able to help you

[2018-11-16 09:32] #10170 closed

[2018-11-16 11:07] kirrg001 commented on #10167
@gargol

[2018-11-16 11:12] macchie commented on #9739
I found this solution:
https://netslum.it/dealing-with-ghost-econnreset-errors-on-docker-swarm/

[2018-11-16 11:12] macchie commented on #9694
I found this solution:
https://netslum.it/dealing-with-ghost-econnreset-errors-on-docker-swarm/

[2018-11-16 11:17] allouis commented on #10120
fucking hell :joy: what is wrong with me

[2018-11-16 12:45] va3093 commented on #7220
Any ideas how to work around this other than telling the users they should refresh?

[2018-11-16 12:51] kevinansfield commented on #7220
That's the only workaround at the moment. PRs fixing the problem are always welcome!

[2018-11-16 13:42] kevinansfield commented on #10156
A 64 char key was deemed acceptable from a UX perspective. As mentioned above that would be a 256bit value and we're generating the key from random bytes so there's no dictionary or rainbow table attack vectors and it's not possible to restrict the problem space to ascii chars.

SHA256 is not a broken hash function, so with a 256bit secret you're still better off attacking the hash algorithm itsel

[2018-11-16 15:39] gargol commented on #10167
yup. agree, we can close this as this whole functionality is 'done' :+1:

[2018-11-16 15:39] #10167 closed

[2018-11-17 15:10] pkail opened #10172 "Unused page-***.hbs file crashes Ghost unless it is in /partials"
### Issue Summary
Unused hbs file needs to be present, or Ghost crashes.

A summary of the issue and the browser/OS environment in which it occurs.
A file named "page-causes.hbs" needs to be present either in the main theme directory or in /partials, even though it is not referenced anywhere in the code.  If this file is removed or put into a different sub-directory Ghost crashes with the followin

[2018-11-17 15:27] pkail opened #10173 "Ghost cannot find template in /partials"
### Issue Summary

A summary of the issue and the browser/OS environment in which it occurs.
Ghost cannot find template in /partials directory.

### To Reproduce
1. This is the first step:

[code]
In index.hbs

Blank file frontpage.hbs in /partials

N.B. Github appears to have replace my HTML with {{blog.title}} for some unknown reason.

2. This is the second step, etc.
ghost restart
I get error:

[2018-11-17 21:10] notanengineercom commented on #10173
Hey @pkail
I just tried your setup. I have no troubles. Was frontpage.hbs created before declaring it in your index file?
When I declared it before creating, I got the 500 code, with this error:

I then created the file (frontpage.hbs) in my partials folder, restarted ghost and it worked like it's supposed to. You need to restart ghost to rebuild the theme. If you are developing a theme I really r

[2018-11-17 21:29] pkail commented on #10173
Thanks for your help.

Yes, it was.

I got a different error message (see my original post).

I do restart it after adding any new file to partials.

[2018-11-17 22:02] pkail commented on #10173
What operating system are you using?

Most probably this is a problem caused by Ghost's inability to find the right path.  It returns the correct value from {{asset}}, so it's not totally confused.  But it can't find a new file in /partials.

There are some suggestions online that you need to run Ghost on Ubuntu using the Windows Subsystem for Linux.  However, the fact that it does actually partia

[2018-11-17 22:10] notanengineercom commented on #10173
Could you paste the console output of the error?

[2018-11-17 22:54] notanengineercom opened #10174 "Images, themes and other files not being deleted from cache after upload"
When uploading an image to your profile pic with wrong dimensions (rectangular), it stays in the cache.
It isn't a big issue, but it shouldn't have that behaviour. If using a container based setup (like docker) and you restart the container, the cache gets cleared. But in a regular setting it would stay until reboot.
I tested it on my localhost setup, macOS Mojave, with and without docker.

### To

[2018-11-18 12:50] msacar opened #10176 "Building from source wrong documented also keeps failing"
I trying to build ghost from source

i followed steps https://docs.ghost.org/install/source/

[code]
also did it same things for casper and admin

then i install yarn setup

[BABEL] ember-component-inbound-actions/helpers/send.js: Unknown option: /home/mstk/Desktop/.babelrc.presets

![screenshot from 2018-11-18 13-36-49](https://user-images.githubusercontent.com/22613730/48672647-a816b300-eb49-11e

[2018-11-18 15:05] pkail opened #10177 "Formatting in editor not refelcted in HTML"
### Issue Summary
A summary of the issue and the browser/OS environment in which it occurs.
When text is made italic in the editor this is inconsistently reflected in <em> tags in the HTML.

### To Reproduce
I have no idea.  It worked at first but now it's obviously broken.  See screen-shots.
![2018-11-18 07_02_01-localhost_2368_symptoms_](https://user-images.githubusercontent.com/32025933/4867438

[2018-11-18 15:06] #10177 closed

[2018-11-18 18:04] pkail opened #10178 "Ghost can only find one page template when several are available"
### Issue Summary
A summary of the issue and the browser/OS environment in which it occurs.
According to the documentation, Ghost will pick up a template of the form page-[whatever].hbs and use this instead of the default page for slug [whatever].  It does this for one of several such templates, but not for the others.  In other words, one slug gets its template from page-whatever.hbs, whereas the

[2018-11-19 04:44] allouis commented on #10178
Following the steps you've given I couldn't replicate this issue unfortunately.

What do you mean by this? Slugs are created in the settings sidebar of the editor - do you think it's possible you've used tags, rather than changing the slugs?

[2018-11-19 04:47] allouis commented on #10165
Update - internal tags _should_ always be available in the content API.

[2018-11-19 05:50] JohnONolan opened #10180 "Perf: Longer max-age on asset cache"
The most reliable source of truth these days for pagespeed test seems to be google developer tools (lighthouse) which is now the same tool used as a basis for Google pagespeed insights.

`Developer tools > Audit > Run`

Something which is complained about consistently across all speed-test tools is the length of Ghost's asset cache (1day), visible here when testing against https://demo.ghost.io

!

[2018-11-19 05:55] JohnONolan commented on #10180
Just realised this is actually nothing to do with Ghost. These are static fixture assets which we serve from Github pages, for which there is already a long-open issue which nobody seems to be interested in https://github.com/taskcluster/unified-logviewer/issues/27

Because both demo.ghost.io and our fixtures in general are a highly visible "first impression" of Ghost - I still think this is worth

[2018-11-19 06:31] JohnONolan commented on #10180
Updating CF browser cache control settings for *.ghost.org seems to have solved

[2018-11-19 06:31] #10180 closed

[2018-11-19 07:59] JohnONolan opened #10181 "Image Sizes"
A couple of months ago we implemented basic image resizing and compression support with Sharp, the second half of the work that needed doing was supporting multiple image sizes in Ghost.

For example: You upload a 5,000px wide feature_image to a post.

- Step 1: Resize to max 2,000px and enable basic compression to load image on `post.hbs` ✅
- Step 2: Generate smaller thumbnails to be used elsewhe

[2018-11-19 08:00] JohnONolan commented on #10181
This issues should close https://github.com/TryGhost/Ghost/issues/4453

[2018-11-19 08:20] allouis commented on #10181
Initial go at the `img_url` helper - it uses `.` to delimit the filename and the size e.g. `img.jpg` and `img.small.jpg`

[2018-11-19 09:10] notanengineercom commented on #10181
@JohnONolan I worked this weekend on the same feature. #10183
Maybe it could be useful

[2018-11-19 10:21] gargol commented on #10176
@msacar the problem seems to be within the `ember-component-inbound-actions` and it's babel preset options. I'd suggest having a look into linked `Stack Trace and Error Report` log, that might provide more insight into what's causing the issue exactly. Would appreciate if you could post it here. Did you try building on a newer version of node?

[2018-11-19 10:36] kevinansfield commented on #10176
`ember-component-inbound-actions` doesn't have any specific babel presets so I think that may be leading you down the wrong path in that it just happens to be the first entry point that triggers an error.

@msacar does this file exist `/home/mstk/Desktop/.babelrc.presets`? If so can you try renaming it so that it doesn't get picked up by babel then re-running `yarn setup`?

[2018-11-19 11:05] JohnONolan commented on #10181
@notanengineercom Thanks! We'll definitely take a look. Image handling is sort of the third-rail of Ghost at the moment, so there's a lot of nuance to implementing this in a way which is broadly compatible for all users. Appreciate the PR either way though!

[2018-11-19 12:31] notanengineercom commented on #10181
Yes I'm aware and I agree that it has to be more compatible/flexible. I just made the change to process the images on upload, and without changing the image ratio. I also changed some of the image processing in the image manipulator in lib/images/ (enabled cache for unix, changed the processing kernel and added imagemin which helps alot with the compression problem that sharp sometimes gives #1014

[2018-11-19 13:49] pkail commented on #10178
I know the difference between tags and slugs, obviously.

What operating system are you using?

[2018-11-19 14:00] allouis commented on #10178
Cool :relaxed: I'm trying to replicate it on Linux! What are you running?

What is the contents of your `page-1.hbs`, `page-2.hbs` etc..? Have you run the theme through gscan?

[2018-11-19 14:15] pkail commented on #10178
Sorry, this should have been at the top.  I'm running Windows 10 Pro 64bit.

There are a number of apparently related issues, all to do with no finding files.  Is Ghost supposed to be able to run directly on Windows, or does it need the WSL?

[2018-11-19 14:44] allouis commented on #10178
You shouldn't need WSL, no.

As far as this issues goes, it can't be reproduced so I'd suggest going to the [community forums](https://forum.ghost.org/) and asking for help building themes there - if you do manage to find a reproducible bug, feel free to raise an issue with everything we need to replicate it!

I'm going to close this issue now - I hope you get your problem fixed through the forum

[2018-11-19 14:44] #10178 closed

[2018-11-19 14:56] pkail commented on #10178
It can't be reproduced on Linux, but it can on Windows.

[2018-11-19 14:57] pkail opened #10185 "Ghost cannot find templates **in Windows**"
Issue Summary
Reposting, because issue has ***not*** been tested.  It obviously occurs in Windows but not in Linux.

A summary of the issue and the browser/OS environment in which it occurs.
According to the documentation, Ghost will pick up a template of the form page-[whatever].hbs and use this instead of the default page for slug [whatever]. It does this for one of several such templates, but n

[2018-11-19 15:10] ErisDS commented on #10185
@pkail if this is in reference to an earlier issue that you raised, please update that issue with the missing info rather than opening a new one, the very reason that we close bugs that aren't reproducible is to reduce clutter and noise so that our devs can see what needs their attention.

[2018-11-19 15:10] #10185 closed

[2018-11-19 16:16] msacar commented on #10176
i pulled master up to date and tried again  and then error gone :+1:

[2018-11-19 16:50] #10176 closed

[2018-11-19 21:02] art1fa commented on #8829
After upgrading from `1.25.6` to `2.6.0` I get exactly this error after trying to access the admin page. The `current/core/server/admin/views/` is actually empty and copying a `default.html` from a previous version didn't help.

[2018-11-19 21:52] notanengineercom commented on #10174
@gargol I thought I had a fix, but I now uploaded a zipped file as a theme with an 250mb file inside, and the problem is when it unzips the path changes! And the 250mb stays in the cache 😥I'm going to see how the file unzip is handled. Is there any kind of limit when uploading a zipped theme?

[2018-11-20 06:43] #10145 closed

[2018-11-20 06:51] allouis opened #10187 "Create initial members app/service"
Should expose a function - so that we can pass in deps in the future.
Function should return something to handle Node.js http requests

https://github.com/jfhbrook/node-ecstatic is nice example

[2018-11-20 06:52] allouis opened #10188 "Mount/wireup members app/service to the Ghost api"
Currently thinking to mount it on `/ghost/members`

This would be the url that members pages and apis live on.

[2018-11-20 06:53] allouis commented on #10188
@kevinansfield We were interested in your opinion on where to mount it

[2018-11-20 06:54] allouis opened #10189 "Members `/secure/token` initial endpoint"
Should not have CORS enabled
Should return JWT signed with `none` algorithm

[2018-11-20 06:55] allouis opened #10190 "Create the members "store" page"
This can be hardcoded html/js page
It will listen to the ‘message’ event on the window.
It will communicate with layer0 of the members SDK.
It will handle fetching of tokens. from the `/secure/token` endpoint
Must be served on `/secure` to have access to cookie

[2018-11-20 06:57] rishabhgrg opened #10191 "Set and read members lab setting from db"
Update members lab setting to be set and read from db, works with #10115. Currently members lab setting is hardcoded to be true with `enableDeveloperExperiments`. Possible migration needed.

[2018-11-20 06:57] allouis opened #10192 "Members `/signin` initial endpoint"
Should not have CORS enabled
Should create session using `Set-Cookie` using `HttpOnly;` `Path=/secure/token`

[2018-11-20 06:58] allouis opened #10193 "Members `/secure/token` should validate cookie"
Should validate cookie set via signin

[2018-11-20 06:59] allouis opened #10194 "Members `/signout` endpoint"
Requires Cookie to work - Should just SetCookie MaxAge=0;
Should not error if cookie missing (maybe OK rather than No-Content)?

[2018-11-20 06:59] allouis opened #10195 "Members `/signin` should validate user/pass"
Should accept `{username, password}`
Validate that username=member & password=member

[2018-11-20 07:00] allouis opened #10196 "Members `/secure/token` should set audience of token"
Should accept `{audience, origin}` where audience is the “requested” audience, (default to origin) and origin is the origin of the page iframing the store
To begin with `audience` MUST be equal to `origin`
Sets token audience to audience param

[2018-11-20 07:02] allouis opened #10197 "Members `/secure/token` sets issuer of token"
Should use the "url" config property

[2018-11-20 07:02] allouis commented on #10197
@kevinansfield Do you have any thoughts on this?

[2018-11-20 07:03] allouis opened #10198 "Members API Service accepts an RSA keypair as config"
With openssl?
via a node module?

[2018-11-20 07:04] allouis commented on #10198
@kevinansfield Another one you might be interested in :+1:

Thinking is accept a path to the keypair, and if they're not there, then it can generate them. https://www.npmjs.com/package/keypair is a nice module to do so

[2018-11-20 07:06] allouis opened #10199 "Members generates a JWKS object to hold its public key"
This is a web standard for sharing public keys.

Should expose it on `/.well-known/jwks.json`?

[2018-11-20 07:07] rishabhgrg opened #10200 "Members table and migrations"
tablename `members`

id | email
------ | --------
 123  | member@website.com

[2018-11-20 07:07] allouis opened #10201 "Members `/secure/token` signs tokens with RS512 algorithm"
Uses private key passed to it
sets `kid` (key id) for token, so consumer can correctly lookup key from JWKS

[2018-11-20 07:08] allouis opened #10202 "Members auth middleware validates signature using JWKS"
Should validate the audience and the issuer are what is expected too

[2018-11-20 07:11] rishabhgrg opened #10203 "credentials table and migrations"
Table to store different types of credentials for users(member users)

tablename: `credentials`

- `id` column
- `secret` column
- `expires` column

[2018-11-20 07:12] allouis opened #10204 "Create model for members$users table"
Should set up the `hasOne` and `hasMany` relationships using the pivot tables correctly

[2018-11-20 07:13] allouis opened #10205 "Create model for credentials table"
This should use the correct `belongsToOne` for the pivot tables.
This should have a method for validating the secret

[2018-11-20 07:15] allouis opened #10206 "Members `/signup` endpoint"
Should not have CORS enabled.
Should accept an email address.
Will need a `nodemailer` instance passed into the members api/service to use.

Will have need speccing out more based on @peterzimon designs for the signup flow

[2018-11-20 07:15] rishabhgrg opened #10207 "members_passwords table and migrations"
Table to store password-credential relation for member users

tablename: `members_passwords`

Columns:
 - `member_id`
 - `credential_id`

[2018-11-20 07:24] rishabhgrg opened #10208 "members_tokens table and migrations"
Table for member token for user and token credential relation
Tablename: `members_tokens`
Columns:
 - `member_id`
 - `credential_id`

[2018-11-20 07:29] rishabhgrg opened #10209 "Create the initial auth pages"
Mocking out visuals for auth pages (login/signup) etc for a quick feedback loop and rendering

[2018-11-20 09:53] murilobd commented on #6309
I know it's closed but this bug still persists! Example:
[code]
If the post has multiple tags, that includes the someTag, the post will return in the search query

[2018-11-20 10:30] gargol commented on #6309
@murilobd we are aware of the issue but it has been closed due to migration in progress from GQL (where the bug is present) to NQL (where we aim to have the bug fixed). The progress can be tracked [here](https://github.com/TryGhost/Ghost/issues/10105)

[2018-11-20 10:32] allouis commented on #10188
@peterzimon Can you have a look at this please? :smile:

[2018-11-20 11:13] kevinansfield commented on #10198
Other discussion outcomes:

- use pure js key generation solution for now to minimise any potential installation problems where openssl is assumed to exist
- auto generation of keys happens as part of the default settings generation but the impact needs measuring in case it has a detrimental effect on initial boot time

[2018-11-20 11:57] kevinansfield commented on #10197
I think keeping the issuer the same as the config `url` value should be 👍 With versioned APIs we want to avoid storing version-relative paths if we're validating the `issuer` so that JWTs are still valid after major version upgrades?

[2018-11-21 04:42] allouis commented on #10197
Great point yeah :+1:

[2018-11-21 05:58] allouis commented on #9982
Hi @art1fa What is the "url' set to for your blogs config?

It looks like the express-session middleware is exiting early here https://github.com/expressjs/session/blob/master/index.js#L194-L196 which is a result of the cookies `Path` not being equal to the request.

This _could_ be caused by mismatched config.

If you added some logs to try and see what the values of the originalPath and the cook

[2018-11-21 09:38] kevinansfield commented on #9982
@art1fa could you share your full Apache configuration? The line you provided isn't sufficient for Ghost to work unless you also have [`ProxyPreserveHost`](http://httpd.apache.org/docs/2.2/mod/mod_proxy.html#proxypreservehost) enabled. It's also recommended to use `ProxyPass` rather than `RewriteRule` so that Apache can use a connection pool.

[2018-11-21 11:04] cpwc opened #10211 "Embedded card iframe fixed at 600px"
Welcome to Ghost's GitHub repo! 👋🎉

We use GitHub only for bug reports 🐛

Anything else should be posted to https://forum.ghost.org 👫

🚨For support, help & questions use https://forum.ghost.org/c/help
💡For feature requests & ideas you can post and vote on https://forum.ghost.org/c/Ideas

If your issue is with Ghost CLI, please report it on the CLI repo ➡️ https://github.com/TryGhost/Ghost-CLI/issu

[2018-11-21 11:11] kevinansfield commented on #10211
@cpwc if you want responsive iframes you need to handle that in your theme. For an example the [default Casper theme](https://github.com/TryGhost/Casper) uses [fitvidsjs](http://fitvidsjs.com) for this but there are other options such as [reframe.js/noframe.js](https://dollarshaveclub.github.io/reframe.js/) that do not require jquery.

[2018-11-21 11:11] #10211 closed

[2018-11-21 11:12] kevinansfield commented on #10211
Friendly reminder: help or support is not available on Github. Our default issue templates pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our [theme API](https://the

[2018-11-21 11:15] cpwc commented on #10211
@kevinansfield I am using the default Casper theme and that's happening tho.

[2018-11-21 13:00] allouis commented on #10211
@cpwc Casper uses [fitvidsjs](http://fitvidsjs.com/) which supports these video players: https://github.com/davatron5000/FitVids.js#currently-supported-players

[2018-11-21 13:07] cpwc commented on #10211
@allouis Yeah. I understand that however those embed are not video player but links embeds.

[2018-11-21 13:09] kevinansfield commented on #10211
@cpwc Casper covers the typical use-case of video embeds, if you are using particular embeds that need a different solution it's up to you to handle those as you see fit in your theme. If you need help doing that please [ask on our forum](https://forum.ghost.org).

[2018-11-21 13:10] cpwc commented on #10211
Noted. Thanks for the heads up.

[2018-11-21 19:29] kacperduras opened #10212 "Multiple editors with access can't edit the common article"
### To Reproduce

1. Create new article
2. Add 2+ people
3. Try edit:
![obraz](https://user-images.githubusercontent.com/20678785/48864056-b5db6b00-edcb-11e8-84f6-ff03e3db0ee2.png)

Only the first person on the list can edit the content (any time).
**Editing by single person, never more in one moment.**

### Technical details:

* Ghost Version: latest (2.6.1)
* Node Version: 10.13.0 LTS
* Browser/

[2018-11-22 00:32] Memphizzz commented on #10072
I just started to have the same Issue but only after login. I can see the blog just fine https://blog.x-toolz.com but after I enter the correct credentials I get: Request made from incorrect origin. Expected 'https://blog.x-toolz.com' received ''.

I did do an update lately but I'm pretty sure I edited some articles after that so I can't tell why this starts happening now. Is there any external re

[2018-11-22 06:43] allouis commented on #9982
@art1fa So this issue is fixed when you updated your Apache config? That's good to hear - if so :relaxed:

The double slash would have caused the cookie not to be read because it wouldn't match the `Path` property set on it.

I'm not sure if we want to add path rewriting to the ghost core, to me it seems like something that should be handled by the reverse proxy, `nginx` for example does this auto

[2018-11-22 09:19] allouis commented on #10188
We will be mounting the members service in two different places.
### `/ghost/api/v2/members`
For the endpoints
### `/members`
For the pages

@peterzimon Can you confirm this?

[2018-11-22 09:45] peterzimon commented on #10187
Moving to a note

[2018-11-22 09:45] #10187 closed

[2018-11-22 09:46] peterzimon commented on #10189
Moving issue to a note

[2018-11-22 09:46] #10189 closed

[2018-11-22 09:46] peterzimon commented on #10188
Moving issue to a note

[2018-11-22 09:46] #10188 closed

[2018-11-22 09:46] peterzimon commented on #10190
Moving issue to a note

[2018-11-22 09:46] #10190 closed

[2018-11-22 09:50] peterzimon commented on #10203
Moving issue to a note

[2018-11-22 09:50] #10203 closed

[2018-11-22 09:50] peterzimon commented on #10200
Moving issue to a note

[2018-11-22 09:50] #10200 closed

[2018-11-22 09:50] peterzimon commented on #10207
Moving issue to a note

[2018-11-22 09:50] #10207 closed

[2018-11-22 09:50] peterzimon commented on #10208
Moving issue to a note

[2018-11-22 09:50] #10208 closed

[2018-11-22 09:57] peterzimon opened #10213 "Members: Auth Flow"
WIP

[2018-11-22 10:09] gargol commented on #10212
Hi @kacperduras :wave: Could you please add more details about which roles those 2+ people are assigned to, what's the role of the user who is trying to edit the post?

[2018-11-22 10:16] gargol commented on #10173
ping @pkail. would be very helpful to see the the console output as @notanengineercom suggested :smiley:

[2018-11-22 10:31] kacperduras commented on #10212
Hi @gargol, they have permissions from `Author` template.

[2018-11-22 10:44] gargol commented on #10172
Hey @pkail , from the error message you've shared it seems like the theme you are trying to modify doesn't have the `engine` property specified in 'package.json' of the theme you are trying to modify. It should be something like [here](https://github.com/TryGhost/Casper/blob/master/package.json#L6-L8).

 Where did `page-***.hbs` come from, what were you trying to accomplish?

[2018-11-22 10:52] gargol commented on #10212
Thanks, @kacperduras. Just to make sure I understand this correctly: when having multiple authors (all having roles of `Author`) assigned to a post, only the first author in the list is able to edit the post, correct?

[2018-11-22 11:50] kacperduras commented on #10212
@gargor yes

[2018-11-22 13:10] kacperduras commented on #10212
IMHO, one method is better option than separate function - we check author permissions for users, but we have the order not because of the access level, but the addition list.

I will create PR soon, maybe today.

[2018-11-22 14:08] pkail commented on #10172
If you mean 'engines', it does.  It doesn't have 'engine', though.

[2018-11-22 14:13] pkail commented on #10173
There's no error message: as I mentioned, Ghost takes its output from the page.hbs template for these other pages, it doesn't crash.  On the other hand, it does crash if these unused templates are removed.

[2018-11-22 18:06] ErisDS commented on #10173
@pkail I'm going to close both your issues. The 3-4 issues & forum topics you've raised that are new, unreproducible issues indicate either an environment issue or a misunderstanding.

It may also be that there's a windows-specific bug to do with themes somewhere, but we're not going to be able to get to the bottom of it without simple, clear reproduction steps.

I recommend you [read this](https:

[2018-11-22 18:06] #10173 closed

[2018-11-22 18:06] ErisDS commented on #10172
Closed as explained inhttps://github.com/TryGhost/Ghost/issues/10173

[2018-11-22 18:06] #10172 closed

[2018-11-24 18:34] msacar opened #10215 "Source Code build keep failed"
Hello ;
I tried to built source code and i was failed
https://docs.ghost.org/install/source/#ghost-core
first  documentation  is insufficient :  example  ghost working with submodules  but there is no telling  any info about submodules..
my node version is v8.12.0
using yarn via npm global module

nvm i cloned ghost into a directory with
[code]

yarn run v1.12.3
$ yarn install && knex-migrator ini

[2018-11-25 04:17] lunaticmonk commented on #10215
@msacar Did you run `yarn global add knex-migrator grunt-cli ember-cli bower` before running all of the above commands that you mentioned? Also, the above screenshot seems vague, can you paste the logs here or the screenshot which includes which command did you run there?

[2018-11-25 08:00] msacar commented on #10215
`yarn global add knex-migrator grunt-cli ember-cli bower`

[2018-11-25 17:04] coopereric commented on #9735
Is this issue still up for grabs, or has it been completed?

[2018-11-26 07:11] rishabhgrg commented on #10215
Hi @msacar 👋

We're sorry to hear you're having problems, however this looks like a problem with how you're using Ghost rather than a bug. We only keep Github issues open for bugs and in-progress feature work, please read our [support guide](https://github.com/TryGhost/Ghost/blob/master/.github/SUPPORT.md). You can always use our [forum](https://forum.ghost.org/) - https://forum.ghost.org, if you'

[2018-11-26 07:11] #10215 closed

[2018-11-26 09:35] #10020 closed

[2018-11-26 10:31] #9840 closed

[2018-11-26 10:58] Neatoro commented on #10088
I created a pull request of that multiple days ago, but after the first review, nothing happened yet.

[2018-11-26 11:01] kevinansfield commented on #10088
@Neatoro we generally have Mondays available for bug fixes, PR reviews, etc, but sometimes there are higher priority items that need addressing. Please be patient, the changes haven't gone unnoticed 🙂

[2018-11-26 11:05] Neatoro commented on #10088
Okay thank you for your notification :) Did not know that and since there wasn't a reaction for roughly two weeks, I was curious.

[2018-11-26 11:30] allouis opened #10216 "Pretty URL middleware should be more specific."
Currently the pretty url middleware can do some pretty crazy things - when registering a static file router with `registerRouter` you will get `/file.ext/` which results in unexpected result - not good! It is also applied to the api urls, which means that when testing api locally, it's very easy to run into a redirect rather than the correct response.

We should update the middleware so that
- it

[2018-11-26 11:44] ErisDS commented on #10216
@allouis our URLs have _always_ forced trailing slashes absolutely everywhere, for consistency. This behaviour is deliberate and spec'd by John since day -100.

When registering a static file router that you don't want to fallback to trailing, the fallback false option should be specified.

There is already an open issue here: https://github.com/TryGhost/Ghost/issues/8868 to fix some of the remain

[2018-11-26 12:12] allouis commented on #10216
Ah okay - I didn't realise it was necessary/specced outside of the actual pages like the api for example.

So this is fine if the router _only_ has static files on it, but then you would lose the pretty urls for other stuff - I still think it would be useful for the middleware to not redirect if this url ends with `something.ext` - happy to close this if you think neither case is relevant tho

[2018-11-26 14:32] #9775 closed

[2018-11-26 15:57] JohnONolan commented on #10216
Very in favour of trailing slashes on pages/routes

I have seen/tripped over trailing slashes on resources 100000x and would love to see that die. It's very safe to spot a handful of extensions and never add a slash to then, like images, css, and svg in particular

I have no strong opinion on how this applies to API routes

[2018-11-27 03:10] #10209 closed

[2018-11-27 03:11] #10193 closed

[2018-11-27 03:15] #10192 closed

[2018-11-27 03:15] #10194 closed

[2018-11-27 03:16] #10195 closed

[2018-11-27 03:18] #10191 closed

[2018-11-27 03:18] #10115 closed

[2018-11-27 03:19] #10196 closed

[2018-11-27 03:20] #10205 closed

[2018-11-28 13:23] NCHydr4 commented on #10088
Hi @Neatoro, are you still working on this issue? because we are a student crew interested by it, and maybe could work with you on.

[2018-11-28 14:06] kevinansfield commented on #10088
@NCHydr4 the PR is open for it here https://github.com/TryGhost/Ghost-Admin/pull/1072, it's just waiting for review by the Ghost team

[2018-11-29 08:21] PierreBrisorgueil opened #10225 "update add one hour to publish date"
### Issue Summary

Update a post changes its publication date to one more hour

### To Reproduce

1. Open an old blog post
2. Edit it or not
3. Quick check the publish date in post settings (for example 06:30)
4. Close the panel and update
5. Check the publish date again, in my case their is an hour more  (07:30)

<img width="347" alt="screenshot 2018-11-29 at 09 11 12" src="https://user-images.gi

[2018-11-29 08:31] DaZiYuan commented on #10082
still can repro this in v 2.6.2
sad story

[2018-11-29 08:34] PierreBrisorgueil commented on #10225
Hello, thanks for the quick response, Unfortunately I do not think so.
<img width="208" alt="screenshot 2018-11-29 at 09 29 43" src="https://user-images.githubusercontent.com/6069599/49208895-57a91c00-f3b9-11e8-8928-63f678292c71.png">

It's ok, from France.

If this is not reproduced on your side, I can try a new test installation in parallel.

It's not an installation by the cli, i downloaded the

[2018-11-29 08:41] allouis commented on #10225
Hmmm, I can't think what that would be!

I can take a look at trying to replicate this next Monday. In the meantime, maybe see if you can get some exact steps for replication? (e.g. config, knex file, any custom stuff)

Out of interest, is there a reason you're not using the cli to install ghost?

Thanks :)

[2018-11-29 09:19] PierreBrisorgueil commented on #10225
Okok, thx.

Yes, nothing special on Knex, default cone, this is the ghost conf :

[code]

Everything is behind a reverse proxy apache with let's encrypt, but it seems to be ok, no error and access.log ok.

Nothing else, everything is like a default install. A single line is changed in the casper theme to call a different background every hour of the day to make it dynamic, but nothing can impact.

[2018-11-29 13:35] Memphizzz commented on #10072
Anyone?

[2018-11-29 14:43] PierreBrisorgueil commented on #10225
Ok, I realised two fresh install behind Nginx on another server, with and without cli, I don't have this issue.

can't be a problem with apache, i try on the server with the problem now.

[2018-11-29 18:49] nprail commented on #9982
I am having this same issue on v2.6.2.

[code]

I'm using Ghost in a subdirectory `/blog/`, using Fly.io as a proxy.

[2018-11-29 22:07] necevil commented on #8754
Having this issue also.
Generally I am trying to use one of (any one at this point hah!) the custom storage adapters — ie. S3 or GCloud — built into a custom docker file.

Will post back if I come up with a solution.

[2018-11-30 00:52] m1guelpf opened #10226 "Site changed webhook not triggered on scheduled content"
### Issue Summary

I scheduled an article and, on publish, the webhook didn't get triggered.

### To Reproduce

1. Setup a site-changed webhook
2. Publish/edit an article to make sure it triggers
3. Schedule an article
4. Check the last triggered timestamp on Ghost, or the webhook destination

### Technical details:

* Ghost Version: 2.6.1
* Node Version: v8.9.4
* Browser/OS: Ubuntu 16.04.5 LTS
*

[2018-11-30 14:10] PierreBrisorgueil commented on #10225
@allouis

Ok that's really strange, try to help with some feedback :  (ok = no bug)

- fresh install without cli on new server : ok
- fresh install with cli on new server : ok
- fresh install with cli on the same server : ok
- fresh install with cli on the same server, with old db, same theme, behind apache and let's encrypt, : ok

the only difference beetween the two instances (old with bug and n

[2018-11-30 14:10] #10225 closed

[2018-11-30 19:35] fadeevab opened #10227 "Broken URL in Markdown Info"
Edit post -> Markdown Guide -> Markdown Documentation ->https://help.ghost.org/hc/en-us/articles/224410728-Markdown-Guide -> Error 404

URL doesn't exist. Need to fix. Thank you!

[2018-11-30 19:52] kolybasov opened #10228 "Dynamic routing data prop return 404 for all posts"
Thanks for the Ghost, it is awesome!

### Issue Summary

Sorry if it was already reported, I've tried to search but didn't find the same issue.

I've created theme that uses dynamic routing with featured posts always at the top but featured posts have 404 url's. Main page posts have correct urls.

https://youtu.be/8Qp01ehiins

### To Reproduce

There is a repo with default Ghost setup and changes

[2018-12-01 05:09] jacobsimon commented on #9982
Hey all - same issue as everyone else. Any idea how/when this will be fixed? I've rolled back to v2.2.0 for now

[2018-12-01 20:36] pascalandy opened #10230 "[route] collection filters do not apply correctly on /:"
Hello folks!

I'm following [from this conversation in the forum](https://forum.ghost.org/t/collection-filters-works-well-on-the-homepage-but-breaks-under-tags-section/4273/3?u=pascalandy). My goal is to filter out some tags from the Ghost’s homepage.

### EDIT: Little hack

[For now, this works](https://github.com/TryGhost/Ghost/issues/10230#issuecomment-444264911)

### Issue
I’m applying this ya

[2018-12-01 20:39] pascalandy commented on #10230
Look similar to https://github.com/TryGhost/Ghost/issues/9950 but not sure.

[2018-12-01 22:29] owner opened #10231 "White Navbar Block"
After install, I open any page on Ghost and found a CSS bug. Check an attached photo.

![welcome to ghost - mozilla firefox 2018-12-02 01 26 46](https://user-images.githubusercontent.com/24358937/49333548-ceb8fd00-f5d1-11e8-9209-bffe88d681dd.png)

* Ghost Version: Latest (2.6.2)
* Node Version: Ubuntu 16.04 LTS (Final / Latest Version)
* Browser/OS: Mozilla Firefox (Latest)
* Database: MySQL (Late

[2018-12-02 23:32] m1guelpf commented on #9716
The PR was merged! 🎉

[2018-12-03 10:33] allouis commented on #10231
I think this issue would be more approprate in the https://github.com/TryGhost/Casper repo! Could you also make sure you can replicate this in an incognito session, to ensure it is nothing to do with extensions?

FWIW - I run ghost daily in firefox for linux and have never seen this.

[2018-12-03 10:33] #10231 closed

[2018-12-03 10:40] #10227 closed

[2018-12-03 10:59] kirrg001 commented on #10072
@allouis ping

[2018-12-03 11:01] kirrg001 commented on #9982
@allouis ping. Furthermore, this issue is labeled and assigned to you, but was not added to the board.

[2018-12-03 11:05] kirrg001 commented on #9560
@kevinansfield ping

[2018-12-03 11:08] kirrg001 commented on #9841
I am closing this issue. It's 3 months old.

Feel free to re-open or leave a comment here if it's still a problem.

[2018-12-03 11:08] #9841 closed

[2018-12-03 11:18] kirrg001 commented on #10216
@allouis I'd suggest closing this issue, as mentioned, it's covered in #8868. Feel free to extend the issue or leave a comment?

I have not understood from this issue what the problem with API urls and traiing slahes is.

Agree.

[2018-12-03 12:19] allouis commented on #9982
Hi @nprail and @jacobsimon - as far as I'm aware the fact that `req.session` does not exist, and so is throwing this error, is because the path requested does not match the path passed into the express-session middleware here: https://github.com/TryGhost/Ghost/blob/b4096f412c4bf60913a460b5f08077cf2dd0f57d/core/server/services/auth/session/middleware.js#L42

This _can_ be caused by incorrect config

[2018-12-03 12:21] kirrg001 commented on #10230
Hey 👋

Correct 👍 I guess you are running into this bug. Inverse tag (relation) filtering is broken in Ghost.

This [comment](https://github.com/TryGhost/Ghost/issues/9950#issuecomment-427650084) might help you to understand what exactly does not work.

We are currently working on #10105 to get rid of the known filter bugs.

---

Just double checking.

Could you please expand what you mean by "no f

[2018-12-03 12:30] kirrg001 commented on #10228
Hey 👋

Your featured posts don't live in any collection. That's why these posts show the 404 path. You have created one collection, which owns all posts which are flagged with featured. All the other posts don't live anywhere.

You need to create two collections - one for featured and one for none featured posts.

I'd suggest to read our [dynamic routing docs](https://docs.ghost.org/concepts/routi

[2018-12-03 12:30] #10228 closed

[2018-12-03 12:35] kolybasov commented on #10228
@kirrg001 thank you very much! Sorry for the "not issue" post :)

[2018-12-03 14:03] ErisDS commented on #10124
We discussed an alternative solution to this in [slack](https://ghost.slack.com/archives/CCHNC72UX/p1542378038000500): model splitting.

Pre API versioning, Ghost used a single 1:1:1 table:model:api for each of Posts, Tags and Users.
We no longer have a single API, and there is no reason why a table must only have one model. Bookshelf will allow us to have multiple models, have models that extend

[2018-12-03 15:22] pascalandy commented on #10230
I mean the posts with those tag ([how-to, about, under-the-hood]) still appears in Ghost’s homepage.

[2018-12-03 15:36] kirrg001 commented on #10230
But i guess each of these posts, who still appear, have multiple tags attached e.g. `how-to` and `something-else`?

ME2 🤩

[2018-12-03 16:44] #10212 closed

[2018-12-03 16:49] kirrg001 commented on #9584
This is not resolved yet.

[2018-12-03 16:50] gargol opened #10234 "Permissions for author and contributor need a review and unit test coverage"
This issue is a follow up for https://github.com/TryGhost/Ghost/pull/10214#issuecomment-443719237

We need to review and cover with unit tests the differences between Author and Contributor roles permissions in authors models permissions: https://github.com/TryGhost/Ghost/blob/master/core/server/models/relations/authors.js#L321-L333. Specifically there should be a clarification on whether there's

[2018-12-03 17:06] kirrg001 commented on #10234
FYI: We have many, many [unit tests in the `post_spec`](https://github.com/TryGhost/Ghost/blob/2.6.2/core/test/unit/models/post_spec.js#L1524).

[2018-12-03 17:09] #10120 closed

[2018-12-03 18:22] pascalandy opened #10235 "SQLITE_ERROR: no such table: sessions"
### Issue Summary

Main error: SQLITE_ERROR: no such table: sessions

To my knowledge, there was never a 'sessions' table in the Ghost's DB.

### Surfing on the website

go to mysite.com/blog/website

[code]

Everything looks normal here. Good.

### Go to admin panel

I go on mysite.com/blog/ghost/

[code]

Weird.
Now it's time to enter my user + pass

### Click sign in

[code]

Here is the big er

[2018-12-03 19:31] #9791 closed

[2018-12-03 19:45] #9987 closed

[2018-12-03 21:07] kirrg001 opened #10236 "Add a mechanisms to detect a Ghost upgrade"
### What?

It would be great if we could detect if Ghost was upgraded (on bootstrap).
What does that mean? 🤔

As soon as your Ghost blog was updated to a new Ghost version e.g. from 2.1.2 to 2.1.3.

### Why?

We could offer a new webhook/action to users, which they can react to e.g. `site.upgraded`.

We have the ability to share which version your blog was updated from. This could be helpful for a

[2018-12-04 02:33] #10216 closed

[2018-12-04 02:34] allouis commented on #10072
@Memphizzz could you include some more information - as detailing here: https://github.com/TryGhost/Ghost/issues/10072#issuecomment-433788886

[2018-12-04 02:39] #10226 closed

[2018-12-04 04:02] pascalandy commented on #10235
Hey Fabien!,

It is `[2018-12-03 04:00:50] INFO Creating table: sessions `
See here -> https://travis-ci.org/firepress-org/ghostfire/jobs/462637480#L1069

Also, it's mentioning that I at some point, [I was running Ghost v2.2.2](https://github.com/firepress-org/ghostfire/blob/2.2.2/Dockerfile#L12).

[2018-12-04 04:11] allouis commented on #10235
Hmm, I notice you have the content dir set as a volume here: https://github.com/firepress-org/ghostfire/blob/2.2.2/Dockerfile#L60

Is it possible that you've mounted a volume that has a previous version of the database, which would override any locally created files such as in travis? :thinking:

[2018-12-04 11:17] gargol opened #10238 "Contributor should not be allowed to edit a post when not being a primary author"
This issue is a follow up to this [fix](https://github.com/TryGhost/Ghost/pull/10214) and this [conversation](https://github.com/TryGhost/Ghost/commit/7c1840f0253be175df492396df5de0a815e689ca#r31539514).

For now we only allow editing to **primary authors** for 'Contributors' and allow editing as a **co-author** for 'Authors'. More cleanup and test coverage is to come in https://github.com/TryGhos

[2018-12-04 12:31] #10238 closed

[2018-12-04 13:49] woodardj commented on #8652
That is not a solution for production software.

[2018-12-04 13:52] Memphizzz commented on #10072
As I don't know what you exactly need, here is the last 3 request from Opera's Developer Menu.

https://gist.github.com/Memphizzz/9bf19bf7a377a7c92f96e56af489d812

"session" seems to be last OK response. And here is the relevant part of nginx conf:

	location / {
		proxy_hide_header X-Powered-By;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $s

[2018-12-04 14:02] Memphizzz commented on #10072
I just found a fix. This issue might be related to an nginx update?
The following post works: https://github.com/TryGhost/Ghost/issues/9972#issuecomment-430004131

Basically you have to add:

		add_header 'Access-Control-Allow-Origin' 'https://www.x-toolz.com';
		add_header 'Access-Control-Allow_Credentials' 'true';
		add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
		add_header 'Ac

[2018-12-04 14:04] Memphizzz commented on #10072
And I've narrowed that down to:

add_header 'Access-Control-Allow-Headers' 'Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';

This is what I needed to add.

[2018-12-04 14:10] allouis commented on #10072
Hey @Memphizzz Thanks for the extra info!

Can I ask what browser you were having this error with? Was it just opera?

The middleware is crapping out because there is no `Origin` or `Referer` header you *might* be able to just do
[code]

This doesn't feel like the correct fix as really CORS headers should be set by the API itself, i'd be interested to know if it's just an issue with opera :crossed

[2018-12-04 14:22] Memphizzz commented on #10072
I've tried all browsers I have installed. Same Result on: Edge, Firefox and Opera.

[2018-12-04 14:33] Memphizzz commented on #10072
From the other Issue I now also tested: `add_header Referrer-Policy "origin";` which might be safer? What would you say is the recommended way?

[2018-12-04 14:35] allouis commented on #10072
`add_header Referrer-Policy "origin"` Is deffo preferred as you're not modifying cors headers :relaxed: Thanks for all your info - I'll have another dig into this and see if i can replicate

[2018-12-04 14:41] Memphizzz commented on #10072
Sure, you're welcome. nginx version was: nginx/1.14.0 (Ubuntu) in case you need it.
Thanks and keep up the great work (except for the android app -.- )!

[2018-12-04 18:15] pascalandy commented on #10235
On my server, I see
[code]

For me, there is no other version than the one that is running (2.6.2).

Also, this Ghost website is running normally but... I can't log in into it anymore.
This docker image drives more than 30 websites at the moment. It's following the release from the official docker team.

I could share my ghost.db if you want. Thanks!

[2018-12-04 18:35] pascalandy commented on #10235
When I open the DB with Tableplus, how can I see the « version » of this DB ?
![screen shot 2018-12-04 at 1 35 01 pm](https://user-images.githubusercontent.com/6694151/49464633-6df41500-f7c9-11e8-9dcb-96cb7db5aa9c.jpg)

[2018-12-04 21:39] kirrg001 commented on #10230
Thanks for coming back 🙂 Happy you found a workaround for now 👍

I'd suggest to close this issue for now in favour of #9950. We are actively working on this problem currently. Won't take very long till it get shipped 👻

[2018-12-04 21:39] #10230 closed

[2018-12-05 00:58] vikaspotluri123 commented on #10161
This was fixed in TryGhost/Ghost-Admin#1078 😄

[2018-12-05 01:41] pascalandy commented on #10235
Reporting back. I updated to 2.7.0 and restarted the service. Everything runs normally now.
I can't prove it, but IMHO there was a bug with v2.6.2

Thanks for everything!

[2018-12-05 01:41] #10235 closed

[2018-12-05 05:06] novaugust opened #10240 "(mac) ctrl+d explodes images"
### Issue Summary
I often use emacs bindings to do text editing (as far as I can tell, all macs have this built into their editors). Much to my chagrin, ctrl-d doesn't delete text in the ghost editor but my muscle memory forgets that that's the case.
Recently, doing that made all my images be replaced with the text "Upload" surrounded by a lot of nbsp's. I think I've got the repro nailed.

### To

[2018-12-05 06:48] allouis commented on #10240
@rishabhgrg I can't replicate this on linux - ctrl-d adds a new bookmark - can you take a look?

[2018-12-05 06:49] allouis commented on #10235
@pascalandy Glad you got everything working - very strange though. 2.7.0 didn't change any DB stuff :confused:

[2018-12-05 08:50] lunaticmonk commented on #10240
I couldn't reproduce this too.

[2018-12-05 08:52] allouis commented on #10240
Hrrr! Are you on linux @lunaticmonk?

@novaugust are you able to replicate this in an incognito window? (browser extensions could be messing with stuff)

[2018-12-05 09:48] kevinansfield commented on #10240
@novaugust what command do you have <kbd>Ctrl+d</kbd> bound to? I've had a quick look into emacs bindings and there were some references to "delete next character" which would be <kbd>Fn+Backspace</kbd> on macOS but I'm unable to replicate with that.

The "Upload" with whitespace suggests that the browser is deleting outside of the editor's keyboard handling and causing the Ember card to crash 🤔

[2018-12-05 10:21] sakulstra commented on #8509
hello, was just looking at this and found: https://forum.ghost.org/t/multi-lingual-content-publishing/1413 which seems to be closed, but the feature isn't implemented yet, is it? As i get the linked ghost 2.0 release post we can now localize the theme, but the content itself is still mono lingual or did i get this wrong?

[2018-12-05 11:03] dexterleng commented on #8843
I would like to work on this!

[2018-12-05 11:37] kirrg001 commented on #8843
@dexterleng Thanks 🤩 If you need any help, let us know here!

[2018-12-05 13:19] #10128 closed

[2018-12-05 14:01] kevinansfield commented on #9560
Mobile browsers are not currently supported so I'll close this for now. That said, we're always open to PRs for this type of issue.

[2018-12-05 14:01] #9560 closed

[2018-12-05 14:34] juan-g commented on #8509
@sakulstra Currently, there are a couple of ways to have multilingual sites, both with limitations:

1. The old workaround of installing several Ghost sites, one for each language (e.g. example.com/es, example.com/fr, etc.). See [Set Up Multilingual Ghost.org Blog](https://irensaltali.com/en/set-up-multilingual-ghost-org-blog/) (this link has a recently expired https certificate right now).
2. The

[2018-12-05 15:09] pascalandy commented on #10235
I know very strange :-p

[2018-12-05 16:02] dexterleng commented on #10071
I am encountering the same issue as well.

[2018-12-05 16:04] dexterleng commented on #10071
Quick `console.log` in `add` shows that `roles_id` is defined:

data:
[code]

options
[code]

[2018-12-05 16:49] dexterleng commented on #10071
Interesting, I'm was Mailgun's sandbox domain, and adding and resending caused an error on their side (you have to add authorised recipients first). So I added authorized recipients, deleted and created the invitation again and no problems now.

[2018-12-05 17:55] novaugust commented on #10240
Sorry @kevinansfield, I don't actually have it bound to anything. It's just the OS - works here in the github text box for example (all text boxes on my os actually, even my terminal). I just meant, I first encountered "ctrl+f" -> forward cursor, "ctrl-b" -> back cursor, "ctrl-d" -> delete in front of cursor in emacs, so I think of them as emacs bindings.

I could spin up a dev env and watch for l

[2018-12-05 18:07] kevinansfield commented on #10240
@novaugust unlikely to be any other logs available unless you see errors in the DevTools console when the card gets deleted? One thing that might help is the event log from https://unixpapa.com/js/testkey.html when you press the key combo - perhaps there's something particular about that keyboard shortcut that the editor isn't picking up on.

It does sound like the browser is performing manipulati

[2018-12-05 18:08] kevinansfield commented on #10240
Oh, if you do try https://unixpapa.com/js/testkey.html, please check the "modifiers" and "DOM 3" checkboxes so the full info is shown 🙂

[2018-12-05 18:11] novaugust commented on #10240
[code]

[2018-12-05 18:21] kevinansfield commented on #10240
Interesting, thanks 😄 So it doesn't show itself as a special key like <kbd>Fn+Backspace</kbd>==<kbd>Delete</kbd>.

That probably means we need to add a key handler in `mobiledoc-kit` for <kbd>Ctrl+d</kbd> on Linux. Although, it's interesting that @allouis didn't see the same behaviour, from a little research it seems that <kbd>Ctrl+d</kbd> is the default bookmark manager shortcut for many people s

[2018-12-05 19:09] novaugust commented on #10240
You saw I'm on macosx 10.13?

[2018-12-05 19:15] kevinansfield commented on #10240
🙈 sorry, I got completely sidetracked by the first comments talking about Linux! A quick test shows an error when pressing <kbd>Ctrl+d</kbd> on macOS/Chrome on a blank paragraph after a gallery card:

<img width="438" alt="screenshot 2018-12-05 at 19 13 05" src="https://user-images.githubusercontent.com/415/49537857-fce45880-f8c1-11e8-9834-1844f7495a7d.png">

Definitely enough to go on I think. Th

[2018-12-05 19:22] novaugust commented on #10240
Ha, glad we're onto something now! good luck chief 👍

[2018-12-05 20:29] hwdsl2 opened #10244 "Ghost 0.11.14 install failure"
### Issue Summary

Ghost 0.11.14 depends on har-validator 5.1.2, which has been unpublished.

### To Reproduce

Install Ghost 0.11.14. You'll likely encounter failures like:
[code]

This is because npm-shrinkwrap.json specifies har-validator 5.1.2, which has been unpublished. See:
https://github.com/ahmadnassri/node-har-validator/issues/112

To make the problem worse, the NPM registry returns inco

[2018-12-06 06:51] allouis commented on #10244
![why](https://user-images.githubusercontent.com/3218915/49566590-bb08f000-f95d-11e8-92ca-37dec5a557bd.gif)

Thanks for the report - i can sort out a fix on monday, but if you can put together a PR it would be appreciated :relaxed:

The 0.11.14 release is on the [lts branch](https://github.com/TryGhost/Ghost/tree/lts)

[2018-12-06 07:15] dexterleng commented on #10063
I would like to work on this!

[2018-12-06 08:54] ErisDS commented on #10244
Support for the LTS version of Ghost ends on Dec 31st - so in 25 days - this will probably be the last fix.

[2018-12-06 12:16] dexterleng commented on #9826
I can't replicate this :/

[2018-12-06 12:45] kevinansfield commented on #9826
If you're on macOS it's possible to replicate by using the Character Viewer (https://stackoverflow.com/a/4946245/1163866 - slightly different on recent macOS versions but the principle is the same) to insert the control characters.

[2018-12-06 19:07] hwdsl2 commented on #10244
@allouis @ErisDS I tried to search for `har-validator` in the `lts` branch but could not find any reference. So I'm unable to make a pull request for this. Maybe we simply need a repackage of Ghost 0.11.14 (which will generate a new `npm-shrinkwrap.json`?

[2018-12-07 05:51] allouis commented on #10244
Repackage of shrinkwrap could work! Give it a go :)

If you run `npm ls` you should see where `har-validator` is in the dep tree, spoiler:

[code]

So you _might_ find that the sqlite dep has had a patch version since that that could fix the issue!

Thanks for taking a look :nerd_face:

[2018-12-07 15:14] kirrg001 commented on #9290
This is still an issue in [NQL](https://github.com/NexesJS/NQL).

If #10105 get's merged & released, we will ensure that the outstanding bugs are tracked on the NQL repository.

[2018-12-07 15:15] kirrg001 commented on #9173
This is still an issue in [NQL](https://github.com/NexesJS/NQL) and [it's already tracked.](https://github.com/NexesJS/NQL-Lang/issues/2)

[2018-12-07 15:16] kirrg001 commented on #9290
It's already tracked, [see](https://github.com/NexesJS/NQL-Lang/issues/1).

[2018-12-08 16:58] dexterleng commented on #10063
Is the end goal being able to do something like this?

From:
https://github.com/TryGhost/Ghost/blob/3d7b4dc0f52b4cd3c9f1cc9ece4d2ef781b2a001/core/test/integration/model/model_posts_spec.js#L419

[code]

[2018-12-08 21:51] ThomasGravekamp opened #10255 "Ghost's frontent fails silently when uploading an image goes wrong with NGINX proxy"
### Issue Summary

From a users point of view: When I try to upload an image, Ghost lets me select an image and then exactly nothing happens.

What actually happens: Ghost is served via an NGINX instance configured as reverse proxy on my server. When I upload an image that is considered too large (file size) by NGINX, it returns an HTTP error page. The frontend of Ghost expects a JSON file to be r

[2018-12-08 22:03] hwdsl2 commented on #10244
@allouis @ErisDS I've run `npm ls` on my Ghost 0.11.14 install. Here's the location of `har-validator` in the output:
[code]
I think that instead to fix it, your team might need to release a new version of `gscan` or `ghost-ignition`, which bumps up the dependency version of `har-validator`.

Alternatively, as I said above, maybe a simple repackaging of Ghost 0.11.14 will suffice, because there is

[2018-12-08 22:17] kevinansfield commented on #10255
Where in the admin area were you uploading the image? Eg, was it a feature image? If so was it a tag or post feature image? Somewhere in the settings? In the editor? We need full reproduction steps because each area is handled differently.

Also, you say nginx was returning a html page, what the response code?

[2018-12-08 22:30] ThomasGravekamp commented on #10255
It happend while inserting an image in a post in a markdown field/block. So you would create a markdown block, then insert an image that would be too large and then, well, nothing happens. I will add this to the issue reproduction steps.

The HTTP code was 412:

[code]

[2018-12-09 03:57] dexterleng commented on #10063
I'm not sure what you meant by "use transactions by default" in the base model.

[2018-12-10 07:46] TJYSunset opened #10258 "{{slug}} attribute in navigation.hbs skips most if not all non-ascii characters"
### Issue Summary

`{{slug}}` attribute in navigation.hbs ignores non-ascii characters such as `À` (Latin-1 Supplement), `А` (Cyrillic) and `文` (CJK Unified Idegraphs).

### To Reproduce

1. Add an entry with the label "ÀА文" in Settings > Design > Navigation.
2. Set theme to Casper so the `{{slug}}` attribute will be added to the html tag's `class`.
3. Inspect source in your browser - the html tag

[2018-12-10 09:19] #10197 closed

[2018-12-10 09:19] #10198 closed

[2018-12-10 09:19] #10199 closed

[2018-12-10 09:19] #10201 closed

[2018-12-10 09:19] #10206 closed

[2018-12-10 09:19] #10202 closed

[2018-12-10 09:51] kirrg001 commented on #10255
Hey @ThomasGravekamp   👋 Friendly reminder: help or support is not available on Github. Our default issue templates pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), ou

[2018-12-10 09:51] #10255 closed

[2018-12-10 10:15] ThomasGravekamp commented on #10255
Well, I wasn't here to get any help or support, which you may have noticed if you read the issue. I stumbled upon this issue while using Ghost and considered this to be at least something that could use some better UX. There is nothing in Ghost that tells you that something goes wrong while uploading the image this way (!).

I honestly don't care what you do with this issue, it's just a heads up t

[2018-12-10 10:18] kirrg001 commented on #10258
Hey 👋 Thanks for your report.

Can confirm the bug report. The [slugify function](https://github.com/TryGhost/Ghost/blob/2.7.1/core/server/helpers/navigation.js#L43) probably can just use our [safe string utility.
](https://github.com/TryGhost/Ghost/blob/2.7.1/core/server/lib/security/string.js)
PR is welcome 👍

[2018-12-10 11:02] kirrg001 commented on #10063
So currently, the post model is the only model which runs database requests by default through a transaction. See reasoning on top.

Any model should use the **base model** for the main actions: edit, add, destroy.
Not all of the models use the base model currently - that's why the first tasks exist (see tasks on top). This needs solving first.

The base model should run any query through a transa

[2018-12-10 14:05] hwdsl2 commented on #10244
@JohnONolan Thanks for the recommendation. This issue may also affect existing users who upgrade to 0.11.14 because `har-validator@5.1.2` is in `npm-shrinkwrap.json` which now 404s.

However I am good with whichever way the Ghost blog team decides. Thank you for the awesome product.

[2018-12-10 15:23] belforto commented on #5227
I had same problem so this is what I did
1. first login to mysql change to ghos-prod database and describe table users
It will show all the neccessery fields by stating NULL to NO
For me those were the following

insert into users (id,
                     name,
                     slug,
                     password,
                     email,
                     status,
                     v

[2018-12-10 15:37] din-gi commented on #10071
thanks.. when is that supposed to go live? I will update my production and try sending invitations

[2018-12-10 15:38] kirrg001 commented on #10071
@din-gi tomorrow 👍

[2018-12-10 16:22] ErisDS opened #10265 "Submodule config results in mixed protocols after cloning"
We're having some difficulty [documenting](https://docs.ghost.org/install/source/) the best way to setup the Ghost repo & submodules for contributing, as cloning the top-level repo results in a mix of https and ssl URLs in the git config for submodules.

What we want is for there to be a clear and minimal set of commands that result in a correctly setup environment. This environment should be opti

[2018-12-10 16:47] ErisDS commented on #10265
OK that broke travis - trying option 3

[2018-12-10 16:57] #10265 closed

[2018-12-10 17:08] ErisDS opened #10266 "Get helper should still work with v2 Content API when v0.1 API is disabled"
The `{{#get}}` helper is a labs enabled helper based off of the Public API flag.

With the new v2 API coming, it will be desirable to be able to turn off the old v0.1 API.

When this happens, the `{{#get}}` helper should still work.

We need to either decouple the helper from the labs helper, or make it so that the labs flag doesn't disable the helper if the theme is using the v2 API, whatever res

[2018-12-11 08:58] kirrg001 opened #10268 "Optimise handling for enforced v2 filters"
The PR https://github.com/TryGhost/Ghost/pull/10159 [optimised](https://github.com/TryGhost/Ghost/pull/10159/commits/9c35b32f96f9118641f51a0e4409e4d0c7b55b38) the v2 input serializer handling to ensure we don't serve static pages on the posts api endpoint. This optimisation was needed because the string detection for passing `page:true` was too naive and doesn't really work good. We should not man

[2018-12-11 10:53] #10108 closed

[2018-12-11 10:53] #9950 closed

[2018-12-11 10:55] kirrg001 commented on #10105
FYI: 5 tasks are left, which are post cleanup tasks

[2018-12-11 15:17] Windyo commented on #5321
Quick ping here : does it make sense to continue maintaining GhostHunter ? With the V2 having been just released, I'm wondering if you guys are closer to releasing the Apps API, or maybe your own search, or if I should keep maintaining the package.

[2018-12-11 15:52] ErisDS commented on #5321
@Windyo we are not really closer to implementing search or any sort of apps into Ghost itself, instead we are focusing on providing extensibility through the API & Webhooks.

The new v2 API will offer two relevant things:

1) an easier integration point with something like Algolia through webhooks, although it will still require a separate service to be running to, for example process the webhooks

[2018-12-11 15:54] ErisDS opened #10272 "Update Notifications 3.0 😅"
I originally wrote the spec for [Notifications 2.0](https://github.com/TryGhost/Ghost/issues/5071) in 2015, but it wasn't implemented until late 2017, early 2018. As a result, the spec was kinda out-of-date.

A key part of the work was moving version notifications from banners at the top of Ghost Admin to be displayed on the about page. This spec was written pre 1.0, way before we started shipping

[2018-12-11 16:06] Windyo commented on #5321
Alright @ErisDS I'll keep GH up to date at least then - May have ideas for minor improvements yet.
Let me know if the latest changes make it better for your server load.

[2018-12-12 07:56] ollejacobsen opened #10273 "Webhooks isn't imported when using an export .json"
### To Reproduce

1. Export data from a site that has an active webhook
2. Verify in the `export.json` file that a webhook is included
3. Import the `export.json` to an empty site.
4. Check that the `webhooks` table is empty in the DB.

If I just add the row manually in the db my webhook start working again.

### Technical details:

* Ghost Version: 1.25.6
* Database: MySQL

[2018-12-12 10:51] kirrg001 commented on #9950
This bug was fixed in [Ghost 2.8.0.](https://github.com/TryGhost/Ghost/releases/tag/2.8.0)

[2018-12-12 10:51] kirrg001 commented on #9923
This bug was fixed in [Ghost 2.8.0.](https://github.com/TryGhost/Ghost/releases/tag/2.8.0)

[2018-12-12 10:52] kirrg001 commented on #9916
This bug was fixed in [Ghost 2.8.0.](https://github.com/TryGhost/Ghost/releases/tag/2.8.0)

[2018-12-12 10:52] kirrg001 commented on #9574
This bug was fixed in [Ghost 2.8.0.](https://github.com/TryGhost/Ghost/releases/tag/2.8.0)

[2018-12-12 10:52] kirrg001 commented on #6309
This bug was fixed in [Ghost 2.8.0.](https://github.com/TryGhost/Ghost/releases/tag/2.8.0)

[2018-12-12 15:16] hiddletian opened #10275 "config.js配置问题"
"version": "2.6.1"
  为什么修改config.js对应的url配置，重启后日志输出的还是之前的url配置信息呢？

[2018-12-12 15:21] #10275 closed

[2018-12-12 15:38] #10266 closed

[2018-12-12 18:02] ErisDS opened #10276 "Ability to import from any version"
In the build up to the release of 2.0 we decided on a policy of supporting the current major Ghost version, and one previous version, across the various areas of our product. That included imports, gscan, and a few other things.

Since the release of 2.0, the pain that has created for users still on LTS has been apparent, as they have had to upgrade to 1.0 first. Moving forward, we will continue t

[2018-12-13 08:21] lzcdev opened #10278 "I can't login my ghost website"
![6521544684463_ pic_hd](https://user-images.githubusercontent.com/16014249/49925123-fb82e380-fef2-11e8-9bb6-ebbd93515d8a.jpg)

what's wrong with this?what should I do?

[2018-12-13 08:22] kevinansfield commented on #10278
Hey @lzxdev 👋 Friendly reminder: help or support is not available on Github. Our default issue templates pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our [theme AP

[2018-12-13 08:22] #10278 closed

[2018-12-13 10:12] dexterleng commented on #10063
@kirrg001

I've done this [here](https://github.com/dexterleng/Ghost/blob/75d198901f319db420c888a78f1069e38d24a69b/core/server/models/base/index.js#L774).

I'm not sure starting a transaction from the base model method would do anything, since you cannot pull the created `options.transacting` out of it, which means in the `edit` method of the post model still needs to create a transaction.

And th

[2018-12-13 10:32] kirrg001 opened #10280 "Travis is broken 🤨"
A couple of days ago we've re-opened https://github.com/TryGhost/Ghost/issues/7470, because we suffer from a test, which fails in Travis, but not locally.

It's always the same test:

[code]

[See example build.](https://travis-ci.org/TryGhost/Ghost/jobs/467055340)

**It looks like this is no longer random**, [any commit in master is red at the moment.](https://github.com/TryGhost/Ghost/commits/ma

[2018-12-13 11:44] #10280 closed

[2018-12-13 11:47] kirrg001 commented on #7470
Closed via #10281

[2018-12-13 11:47] #7470 closed

[2018-12-13 11:57] gargol commented on #9826
As the non-printable characters in **slugs** issue is being addressed in https://github.com/TryGhost/Ghost/pull/10252, are we also to do the change to strip these characters in post titles or leaving them as is?

[2018-12-13 12:30] #10258 closed

[2018-12-13 12:46] ErisDS commented on #7131
We're dropping LTS support on 31st December. The only fixes that will happen between now and then are any major security issues. Closing this as wontfix.

[2018-12-13 12:46] #7131 closed

[2018-12-13 12:46] ErisDS commented on #8736
We're dropping LTS support on 31st December. The only fixes that will happen between now and then are any major security issues. Closing this as wontfix.

[2018-12-13 12:46] #8736 closed

[2018-12-13 12:49] ErisDS commented on #10244
Agree w/ John. I've just gone through and closed all remaining LTS bugs.

There is no need to upgrade to 0.11.14 before doing a major upgrade. At the moment the best course of action is a fresh 1.0 install. We will be introducing a mechanism for upgrading straight from LTS -> 2.0 soon as per #10276.

Closing this as a wontfix.

[2018-12-13 12:49] #10244 closed

[2018-12-13 13:09] kirrg001 commented on #9178
If I look at the last passed 10 builds, _the total time to wait is between 11-13mins._

This is not brilliant, absolutely, but:

I just picked two random commits from 2017 ([build1](https://travis-ci.org/TryGhost/Ghost/builds/388406170?utm_source=github_status&utm_medium=notification), [build2](https://travis-ci.org/TryGhost/Ghost/builds/264825180?utm_source=github_status&utm_medium=notification
)

[2018-12-13 14:16] allouis opened #10283 "Dynamic images should attempt to resize uncompressed "original" images"
When images are uploaded to ghost, we automatically optimize them, and store the original as `filename_o.ext`

To avoid double compression, we should be using these optimized images when resizing for dynamic images.

But! It is a little easier said than done, because the `_o` suffix, isn't always a suffix :ghost:

### Image optimization

The image optimization we have is a piece of middleware that

[2018-12-13 17:17] owner commented on #9807
1. Create first 5 tags
2. Let`s write a post
3. Choose a tag, and view a uploaded files.

[2018-12-14 02:03] greghart commented on #9735
Added pull requests for server and client at https://github.com/TryGhost/Ghost/pull/10285 and https://github.com/TryGhost/Ghost-Admin/pull/1084 respectively.

Let me know if there are any issues, and again most credit goes to i8ramin, but figured it'd be a simple chance to get familiar with the contrib guidelines and all that.

Also as an aside, going to consistently stick to using actual Unicode

[2018-12-14 07:31] rishabhgrg commented on #10273
Hey @ollejacobsen 👋 Webhooks(and Integrations) are currently not in of the list of supported content and data handled by import/export, you can check the full supported list here - https://docs.ghost.org/faq/the-importer/.  A PR is welcome to add them to supported list. 😄

Closing this issue as it's not a bug in Ghost. Please use our forum -https://forum.ghost.org - if you have any further questio

[2018-12-14 07:31] #10273 closed

[2018-12-14 11:58] kirrg001 commented on #10283
Very nice write up 👍

IMO it's correct that Ghost simply asks the storage adapter:

- store image x (size w)
- store image y (size k)

Why should the storage adapter know about image optimisation? 🤔The adapter is only a directive to save and get images. But other opinions are welcome 👍 😇

---

Is there a way to achieve this:

- `already-exists-1.jpg`
- `already-exists-1_o.jpg`

e.g. call `getUniqu

[2018-12-14 16:48] kirrg001 opened #10286 "Do not return `x_by` fields for v2 API"
## What

We decided to burn the `x_by` fields in API v2.

Instead, we will introduce a new concept/feature for v2, coming soon. I will link the issue here as soon as it's fully written down.

## Why

- we are currently working on integrations (https://github.com/TryGhost/Ghost/issues/9865)
- integrations will have the permissions to update/create resources
- we need to find a way that multiple mod

[2018-12-14 17:16] gargol commented on #10106
As model separation is introduced with https://github.com/TryGhost/Ghost/issues/10124, there has surfaced a need to separate `tags` controller for tags model used in public context. Wanted to discuss a folder structure for new controllers that are only meant to be used by the Content API.

Would it make sense to divide v2 controllers to a structure similar to the one used in routes `/web/api/v2/(a

[2018-12-14 17:21] kirrg001 commented on #10106
Yes makes sense to me 👍

[2018-12-14 18:37] kirrg001 opened #10287 "TypeError: URL is not a constructor (Node v6)"
Reported in the forum: https://forum.ghost.org/t/updated-to-ghost-2-8-get-url-error/4522/5

[code]

This syntax is not supported in Node v6. We had a similar [case](https://github.com/allouis/Ghost/commit/20334e75834d35f786a9c0622b0cf0ec6847e13d) in the past.

Caused by: https://github.com/TryGhost/Ghost/commit/0b58f4cf6226ac1fa31046e4411bad29ee4abc57#diff-459fd032db1b611a543ddb5af8d7d3b4R64

[2018-12-15 21:36] kirrg001 commented on #9735
TryGhost/Ghost-Admin#1084 was not merged yet

[2018-12-15 22:15] simonbernard opened #10290 "Not able to redirect to Angular url using #"
### Issue Summary

Using redirects.json I try to redirect to `https://someurl.com/#/login`. Ghost encodes the URL to `https://someurl.com/%23/login` so it is not recognized by Angular anymore.

### To Reproduce

1. Upload this redirects.json:

[code]

2. Test the redirected URL, it forwards to encoded URL `https://someurl.com/%23/login`

I understand it can be useful or even neccessarry to encode

[2018-12-16 05:47] greghart commented on #5162
From my understanding, the issue is basically that the navigation helper is itself a function of `@blog.navigation` *and* some extra logic concerning what page user is on. So just using the former isn't enough.

The current workaround is to put logic in `navigation.hbs` that will conditionally render depending on its' context, by using `{{#is}}`.

----

To avoid the workaround, the proposed use ca

[2018-12-17 06:13] dexterleng commented on #9787
Should the grouping be done only on the client side?
Or should a hash table be used where `message` key maps to a list of `entries`?

[2018-12-17 07:35] dexterleng commented on #9787
Should we ignore the `problem.help` when grouping?

[2018-12-17 11:53] #10287 closed

[2018-12-17 14:00] kirrg001 commented on #10290
Hey @simonbernard!

Thanks for your report.

`/#/login` is a hash. Ghost currently uses `url.format` which assumes that `to` is a path.
`url.format` [auto encodes](https://github.com/nodejs/node-v0.x-archive/issues/4082) path delimiters like `#` or `?`.

To support your use case, i think we should detect `^/#/...` and forward it as `hash` option to `url.format`.

PR is welcome 👍

[2018-12-17 14:08] kirrg001 commented on #9787
Yeah i think so. But maybe we can achieve this? 🤔

e.g.

[code]

[2018-12-19 08:25] SarthakAdhikari opened #10297 "Cannot install ghost on Ubuntu server 18.04 LTS"
### Issue Summary

Cannot install ghost according to the documentation because of permission errors.

### To Reproduce

// server and user setup
1. Launch an Ubuntu Server 18.04 LTS (HVM), SSD Volume Type - ami-0bbe6b35405ecebdb (64-bit x86) / ami-0db180c518750ee4f (64-bit Arm) instance on AWS.
2. SSH into the instance.
3. sudo adduser sarthak
4. sudo usermod -aG sudo sarthak
5. sudo ufw allow Ope

[2018-12-19 09:40] kevinansfield commented on #10297
Hey @SarthakAdhikari  👋 Friendly reminder: help or support is not available on Github. Our default issue templates pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our

[2018-12-19 09:40] #10297 closed

[2018-12-19 12:42] maxime1992 commented on #10052
In case anyone has the same problem, bottom line of this issue was that we are pushing the new theme as part of our CI/CD pipeline and forgot to exclude... the node_modules folder :sweat_smile: So we were uploading nearly 1gb on CI (not locally...) and then our Ghost instance was dead.

[2018-12-19 16:40] ronny35 opened #10298 "Embedded JS is parsed as a html content"
### Issue Summary

During creation one story, Post-embedded JS scripts in html content are being recognized by the editor, but after publishing, javascript is rendering like a simple text

### To Reproduce

[code]
And the result :

[code]

### Technical details:

* Ghost Version: Docker ghost:2.7-alpine

[2018-12-20 22:32] necevil commented on #8754
OK So the absolute path fixed this for me.
Since I am running Ghost inside of an official docker container (https://hub.docker.com/_/ghost/) my paths look like this:

[code]

I am still having a problem with S3 Storage Adapter (path to  but that's a discussion for another time).

[2018-12-20 22:55] antony commented on #8754
I also found an absolute path fixes this issue, but it's an annoying workaround. It would be great to get the root cause fixed, absolute paths should be optional at best.

[2018-12-21 03:52] greghart commented on #10290
I was going to tackle this thinking it'd be simple, but now I've gone and gotten confused!

I think the issue with special casing `#` (or `?`, it's a similar issue), is how one should coalesce hash or search params in the incoming URL with hash or search params in the `to` property of `redirects.json`.

## Current Scenario
Eg. as it works right now, with no hash or search params in the `to`
[code]

[2018-12-22 02:56] nendonerd commented on #8966
setting docker-compose environment as url=\<your site\> works, but mind that it's <b>CASE-SENSITIVE</b>, only 'url' works but not 'URL'
[code]

[2018-12-22 17:23] arifzeeshan opened #10300 "301 Redirect"
I have hosted Ghost on Heroku platform and I want to redirect all traffic from appname.herokuapp.com to my custom domain. I read about the docs here [https://docs.ghost.org/concepts/redirects/](https://docs.ghost.org/concepts/redirects/).

This is my redirect.json file -

[code]
It fails to redirect.

[2018-12-22 18:12] ErisDS commented on #10300
Hey @arifzeeshan   👋 We ask that you please do not use GitHub for help or support, the default issue template pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our [the

[2018-12-22 18:12] #10300 closed

[2018-12-22 18:20] ErisDS opened #10301 "Animated GIFs don't work with responsive images"
Anyone using Ghost's brand-new responsive image feature will notice that their gifs stop animating when served at reduced sizes.

This is because Sharp doesn't support [resizing gifs](http://sharp.pixelplumbing.com/en/stable/api-output/#tobuffer). We need to skip the feature for gif filetypes.

Ghost keeps the original uploaded image around, and therefore once we fix this, anyone experiencing issu

[2018-12-23 02:54] zce commented on #10181
Maybe Ghost Content API also needs size parameters.

[2018-12-25 23:34] runia1 opened #10302 "blockquote is italicized in koenig editor but not in actual blog post"
### Issue Summary

When using the koenig editor to add a blockquote the font is italicized, but the actual blog post's blockquote is not.

### To Reproduce

1. Add a blockquote to a post you are writing.
2. Publish the post.
3. See that the blockquote looks the same except that it is not italicized.

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

[2018-12-26 01:16] Bellusterra commented on #8966
@DwijadasDey Thank you for your response. I had a difficult time finding the file you described, I think now it was because I was not in the container itself, so what you suggested may have very well worked for me, so thank you... I ended up when starting the docker container just adding the “-e url=https://my.website.com” to the list of variables which as @nendonerd also suggested is the same as

[2018-12-26 14:49] ahmadpn opened #10303 "No support for persian language in editor and reading time helper."
### Issue Summary

The editor could not count words in Persian language.

### To Reproduce

1. When typing in editor, the word count shows 0 and editor can not calculate number of words.
2. So the reading time helper because of above issue always shows 1 min read.

### Technical details:

* Ghost Version: 2.9
* Node Version: 10
* Browser/OS:
* Database:

[2018-12-28 04:44] grevory commented on #7988
@Cahl-Dee For someone new to both Handlebars and Ghost what exactly does that mean in context to your original issue, which is the issue I am having. I have no idea where `{{navigation}}` goes in this template.

[2018-12-29 16:23] euri10 opened #10305 "Docker container restart fails after theme was modified"
Welcome to Ghost's GitHub repo! 👋🎉

We use GitHub only for bug reports 🐛

Anything else should be posted to https://forum.ghost.org 👫

🚨For support, help & questions use https://forum.ghost.org/c/help
💡For feature requests & ideas you can post and vote on https://forum.ghost.org/c/Ideas

If your issue is with Ghost CLI, please report it on the CLI repo ➡️ https://github.com/TryGhost/Ghost-CLI/issu

[2018-12-29 23:12] acburdine commented on #10305
@euri10 this isn't an issue with Ghost specifically - it has to do with how you're using Docker.

When you run `docker-compose down`, any volumes associated with the stack that aren't marked as "external" are deleted. (see the [docs](https://docs.docker.com/compose/reference/down/)). Because the volume gets deleted, the installed `ghostium` theme also gets removed. You'll need to mark the volume a

[2018-12-29 23:12] #10305 closed

[2018-12-31 00:16] stefanovazzocell opened #10306 "Images (with size) 404"
### Issue Summary

After updating from 2.8.0 to 2.9.1, all the blog images were 404. I had to roll back.
Although the images were there, the image generation `/size/...` was not working for me.

### To Reproduce

1. Update from 2.8.0 to 2.9.1
2. (Maybe this was it) Fully restart the server
3. All the images on the blog should not give 404

Any other info e.g. Why do you consider this to be a bug?

[2019-01-02 10:14] kevinansfield commented on #10298
@ronny35 the excerpt helper is unable to parse the content properly. I would suggest using the [custom excerpt](https://docs.ghost.org/faq/publishing-options/#add-a-custom-excerpt) feature to provide a human readable excerpt.

[2019-01-02 10:32] ErisDS opened #10307 "Infinite Scroll is broken on the Team screen"
When you have a very large number of team members, you cannot access them all via the infinite scroll list. An infinite loading spinner is shown at the bottom of the page.

### To Reproduce

1. Have at least 31 people
2. Scroll down on the team page
3. Witness the infinite loading spinner

### Technical details:

* Ghost Version: 2.9.1
* Node Version:

[2019-01-02 10:53] kevinansfield commented on #8805
Closing in favour of a new issue with more relevant details as the tests and ember versions have now changed.

[2019-01-02 10:53] #8805 closed

[2019-01-02 11:04] kevinansfield opened #10308 "Random Ghost-Admin Travis failures"
Collecting a list of random failures on Travis so that we can make the test suite more reliable. If you see any random failure on Travis please add it here or bump the number of times seen so that we can prioritise.

As for cleaning these up, if no easy solution presents itself it will probably be a case of making a judgement call as to whether the test needs to exist.

x7 (skipped as of https://g

[2019-01-02 11:21] kirrg001 opened #10309 "Incorrect redirect on subdirectory collides with same post slug"
Reported in the forum: https://forum.ghost.org/t/problem-with-path-redirects/4652

## Reproduce

1. Set up your blog on a subdirectory /blog
2. Create a post with a slug called "blog-something"
3. Try to navigate that post
4. You are getting redirected from /blog/blog-something/ to /blog-something

## Why?

I guess there is a logic bug in the entry controller, [see line.](https://github.com/TryGho

[2019-01-02 11:22] kevinansfield opened #10310 "Fix Ember deprecation warnings"
Since upgrading Ember in https://github.com/TryGhost/Ghost-Admin/pull/1044 we have quite a few deprecation warnings. These need to be resolved before the next major Ember version bump.

TODO:
- [ ] outline deprecation process using https://github.com/mixonic/ember-cli-deprecation-workflow
- [ ] generate list of deprecations that need handling
- [x] bump all dependencies to leave deprecations arisi

[2019-01-02 13:42] gargol commented on #10306
Hi @stefanovazzocell! I wasn't able to reproduce the bug you are describing locally and we didn't have any similar issues reported, so would need to get some more information to check if it's a bug :smiley:

Would be good to know more about what kinds of images are returning 404 for you, ideally would be great to have a reproducible example. The images are being resized on the fly when a request c

[2019-01-02 13:56] kirrg001 commented on #9807
@owner I am also unable to reproduce. Are you able to share a screencast? Could you please update to the latest Ghost version and report back if the problem still exists?

[2019-01-02 14:21] #4453 closed

[2019-01-02 14:40] kirrg001 commented on #9670
I can't see dates being in timestamp format for SQLite3 🤔

Any insert/update/fetch in the test env [runs through our model layer](https://github.com/TryGhost/Ghost/commit/e23fd511eb34f741dfdf9c4b8866f41671f5366a#diff-085888ce4e458820a35b19844ba3d990). And the model layer formats any dates [from and to the database.](https://github.com/TryGhost/Ghost/blob/2.9.1/core/server/models/base/index.js#L320

[2019-01-02 14:40] #9670 closed

[2019-01-02 14:41] kirrg001 commented on #10309
This issue might suffer from the same underlying problem described in https://github.com/TryGhost/Ghost/issues/9687. Needs investigation. Any help is very appreciated 🙂

[2019-01-02 14:41] kirrg001 commented on #9687
Similar report: https://github.com/TryGhost/Ghost/issues/10309

[2019-01-02 14:47] kirrg001 commented on #9826
@gargol I think this depends what happens if we don't do it? This report is about posts can't be served, because the slug was not correctly stripped. It looks to me this was fixed via https://github.com/TryGhost/Ghost/commit/8c3d29edb2a0a7e8d86e064796ca52ad2de780d3.

[2019-01-02 14:52] kirrg001 commented on #10069
@gargol Could you please re-triage this issue? Thanks 👍

[2019-01-02 14:54] kirrg001 commented on #10181
@allouis Can we close this issue?

[2019-01-02 14:56] allouis commented on #10181
@kirrg001 Looks like " Validate image sizes in gscan" hasn't been completed - should we leave it open until that's done?

[2019-01-02 15:00] kirrg001 commented on #10181
I'd suggest to track this task in GScan as a separate issue, leave a comment here and close this one.

If we track this in GScan separately, maybe we get some help/attraction from the community.

[2019-01-02 15:03] kirrg001 opened #10312 "Dynamic Routing: All hard-coded public routes (e.g. page) are configurable inc homepage"
**Extracted from https://github.com/TryGhost/Ghost/issues/9601. Dynamic Routing is currently in Beta and was shipped in Ghost 1.24.0.**

This is one missing sub feature which we weren't able to put into Ghost yet.
Leaving this here as a placeholder, so we won't forget about it.

[2019-01-02 15:07] kirrg001 opened #10313 "Dynamic Routing: disable sitemaps, disable pagination"
**Extracted from https://github.com/TryGhost/Ghost/issues/9601. Dynamic Routing is currently in Beta and was shipped in Ghost 1.24.0.**

This is one missing sub feature which we weren't able to put into Ghost yet.
Leaving this here as a placeholder, so we won't forget about it.

**This issue needs more info.**

[2019-01-02 15:08] kirrg001 commented on #9601
Dynamic Routing Beta was shipped in Ghost [1.24.0](https://github.com/TryGhost/Ghost/releases/tag/1.24.0). I am closing this issue for now. I extracted two sub features, which we aren't able to achieve yet.

Any further improvement or bug should be tracked separately 👻

[2019-01-02 15:08] #9601 closed

[2019-01-02 15:20] gargol commented on #9826
@kirrg001 I think the problem with these characters in titles/content might surface when we try serving them in XML (for example as a part of sitemaps). Would need to investigate this specific use-case, but I remember that's the place I had a problem at.

The original issue is fixed, so I think it could be closed. We'd raise a new one if XML suspicion is confirmed :+1:

[2019-01-02 15:20] #9826 closed

[2019-01-02 15:51] gargol commented on #10303
@kevinansfield was able to reproduced this bug when using 'فارسی' word (taken from [wikipedia](https://en.wikipedia.org/wiki/Persian_language))

[2019-01-02 16:23] allouis commented on #10181
Closing - the gscan issue can be tracked here https://github.com/TryGhost/gscan/issues/173

[2019-01-02 16:23] #10181 closed

[2019-01-02 16:38] kirrg001 commented on #10306
Are you using a custom storage adapter?

[2019-01-02 16:38] gargol opened #10316 "Non-printable characters break RSS feed"
When using non-printable characters in posts title or content RSS feed breaks. For following post content (used `0x07` here):
[code]
rss returns:
[code]

refs https://github.com/TryGhost/Ghost/issues/9826

[2019-01-02 16:39] ErisDS commented on #10316
Duplicate of https://github.com/TryGhost/Ghost/issues/8442 ?

[2019-01-02 16:42] ErisDS commented on #6384
@allouis / @kevinansfield With the new authentication methods on the v2 API, does this become easier to implement?

I suggest we close this as it was suggested by the community 3 years ago.

[2019-01-02 16:43] ErisDS commented on #10165
@allouis was this just a misunderstanding or is there some work to do here?

[2019-01-02 16:44] ErisDS commented on #5947
The current work to split models should resolve this issue.

[2019-01-02 16:45] ErisDS commented on #8458
Is this still only fixed in LTS?!

[2019-01-02 16:45] ErisDS commented on #8549
Closing this due to age and lack of traction.

[2019-01-02 16:45] #8549 closed

[2019-01-02 16:45] gargol commented on #10316
Good catch @ErisDS . Looks like we keep running into the same issue in multiple places. https://github.com/dylang/node-rss/issues/49 needs a little bit of :dash: and :heart:

[2019-01-02 16:45] #10316 closed

[2019-01-02 16:46] ErisDS commented on #8557
Closing due to age and lack of traction.

[2019-01-02 16:46] #8557 closed

[2019-01-02 16:47] ErisDS commented on #8264
Suggest this is closed as it's now almost 2 years old.

[2019-01-02 16:49] ErisDS commented on #8509
Closing this as there are now ways to achieve multilingual content. We're interested in any new proposals for making this easier at the API level, or improvements to dynamic routing.

Note that we intend to add Nested Tags and custom taxonomies to dynamic routing, and those will provide more avenues for structured content like multilingual content.

[2019-01-02 16:49] #8509 closed

[2019-01-02 16:50] kevinansfield commented on #8264
@JohnONolan asked me about this just before the christmas break. It sounds like this is still desired but it needs prioritising if so.

[2019-01-02 16:50] ErisDS commented on #7696
@kirrg001 is this still relevant given the new authentication methods? Should it be prioritised or closed?

[2019-01-02 16:50] ErisDS commented on #7627
I don't see this ever happening or really being useful, @kirrg001 suggest we close?

[2019-01-02 16:51] #7132 closed

[2019-01-02 16:51] ErisDS commented on #7141
Is this also only fixed in LTS?

[2019-01-02 16:52] stefanovazzocell commented on #10306
@kirrg001 No, I'm not.

(@)gargol, I'm going to check some logs now, I'll get back to you

[2019-01-02 16:54] kevinansfield commented on #8458
I don't think so, I can't replicate on master.

[2019-01-02 16:54] #8458 closed

[2019-01-02 16:55] stefanovazzocell commented on #10306
Oh actually... my nginx config might be trying to redirect the request and access directly the file from the directory... I'll try to fix that, I'll get back on that.

... I really should check this things first...

[2019-01-02 16:55] kirrg001 commented on #7627
Yeah let's close it 👍It might be useful for some cases e.g. return a set of validation errors, but i doubt somebody will work on it in the future 😁

[2019-01-02 16:55] #7627 closed

[2019-01-02 16:56] ErisDS commented on #8602
We now have support for attribute based permissions, so it should be possible to fix this. This issue needs a review, if it's now possible and straightforward to fix (i.e. will take < 1/2 day) we should fix it.

Else we should close due to lack of traction.

[2019-01-02 16:57] #8652 closed

[2019-01-02 16:58] ErisDS commented on #8652
Locked accounts are intended to be unlocked via password reset. There's some suggestion that there's a bug but no reproduction case here that we can use to track it down.

[2019-01-02 17:02] ErisDS commented on #8714
Closing due to age & lack of traction

[2019-01-02 17:02] #8714 closed

[2019-01-02 17:02] ErisDS commented on #8734
Closing because Edge is dead 😬

[2019-01-02 17:02] #8734 closed

[2019-01-02 17:03] kirrg001 commented on #7696
The new authentication methods and the v2 API still use the reset password controller logic. You can still login with username/password and you can still reset a password.

IMO yes, this is still relevant. And a refactoring would be very useful, because if we support multiple API versions, we don't want to copy [this code](https://github.com/TryGhost/Ghost/blob/2.9.1/core/server/api/v0.1/authentic

[2019-01-02 17:04] ErisDS commented on #8754
Closing due to age and lack of traction. We're no longer actively supporting installing Ghost as an npm module. PRs are still always welcome.

[2019-01-02 17:04] #8754 closed

[2019-01-02 17:05] ErisDS commented on #8766
Closing due to age & lack of traction.

[2019-01-02 17:05] #8766 closed

[2019-01-02 17:09] stefanovazzocell commented on #10306
Ok, I verified the issue. So sorry @gargol @kirrg001 for taking your time. It was quite 'unclever' on my side not to double check the nginx configuration.

Just in case somebody elses comes across this:

What to look for?
- All the custom images in the sites fail to show
- The images still show up on the admin `/ghost/` page
How to solve?
- Check nginx configuration for any custom rules for the `l

[2019-01-02 17:10] kevinansfield commented on #7141
Yes, it looks like it was only "fixed" in LTS but the fix wasn't great. It removes the error on the model but doesn't do anything to resolve the UX problem where it looks like a save occurred when it didn't.

There are two options here:
1. Implement a proper fix for the current UI
2. Resolve this as part of the tags screen overhaul that is underway for nested tags

[2019-01-02 17:12] ErisDS commented on #8961
Closing as ghost-sdk.js is being deprecated along with the v0.1 of the API in favour of the new v2 content API and content-sdk tools.

More info about this coming soon 😬

[2019-01-02 17:12] #8961 closed

[2019-01-02 17:14] ErisDS commented on #9260
@kevinansfield is there any realistic way to solve this or should we close as wontfix?

[2019-01-02 17:17] kirrg001 commented on #9436
@ErisDS I guess we can close this issue too, because of the new Ghost SDK.

[2019-01-02 17:18] ErisDS commented on #9991
Closing this as ghost-sdk.js is being deprecated with the old v0.1 api, and we've got a whole new approach in the v2 API.

[2019-01-02 17:18] #9991 closed

[2019-01-02 17:18] ErisDS commented on #9436
Yep

[2019-01-02 17:18] #9436 closed

[2019-01-02 17:20] kirrg001 commented on #10063
Could you expand this statement? I am not sure i understand what you mean :) Sorry for late response!

[2019-01-02 17:25] kirrg001 commented on #9544
As the [upcoming members feature](https://github.com/TryGhost/Ghost/issues/10213) will and should replace subscribers, i think there is no longer the need to fix this bug. If you encounter this problem, i'd suggest to import many smaller CSV files.

[2019-01-02 17:25] #9544 closed

[2019-01-02 17:26] gargol commented on #10306
No worries @stefanovazzocell :) Happy the problem is resolved! As for `.svg`, could be something that will be resolved with https://github.com/TryGhost/Ghost/pull/10315