[2021-08-30 09:34] renovate[bot] opened #13265 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] Lock file maintenance

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all commits

[2021-08-31 04:19] johlym commented on #13159
Two notes:

First, JSON support is likely to be pulled at some point. `YAML` is the de facto format for redirects, now. ([link](https://ghost.org/docs/tutorials/implementing-redirects/))

Second, with the first bullet in mind, something like:

[code]

Should do the trick. The `^` indicates the match should start at the beginning of the URI.

[2021-08-31 08:03] ErisDS commented on #13159
This is intended behaviour - not everyone's site lives at the root url. You can force the start using regex syntax as explained above.

[2021-08-31 08:03] #13159 closed

[2021-08-31 21:20] websitehelperuk opened #13268 "Multiple Segment Labels Frontend Do Not Work"
Assigning more than one selected label at signup does not work.

As of now the HTTP request contains all of the labels, not just the checked ones.

This is because Portal doesn’t follow regular form behavior, and takes the value attribute of the checkboxes with no regard to its checked status.

[Thread](https://forum.ghost.org/t/adding-labels-to-members-on-signup-isnt-working/21583/19)

[2021-09-02 15:49] kerberjg opened #13277 "Can't fetch Members from API when email contains plus symbol"
### Issue Summary

When fetching Members through the Admin API (as suggested here: https://forum.ghost.org/t/query-member-by-email-with-admin-api/21941), and the email contains the '+' symbol (which is a standard subaddress marker), the API responds with an error:

[code]

This is a huge problem, as it means that certain users will experience usage issues due to their email address just having tha

[2021-09-02 15:54] JAKAMI99 commented on #10356
I have this exact issue after messing around with tags :/

[2021-09-03 05:45] JPrasad21 opened #13278 "HTML file size too big as images are converted to base64 by default."
Preview Link: [https://www.botminds.ai/release/botminds-v10-5](https://www.botminds.ai/release/botminds-v10-5)

**To Reproduce**

1. Create a new post in ghost.
2. Upload 4-5 images.
3. Check the preview of the post.

Images are converted to base64 by default and causing big HTML file size.
In my case 1.5Mb which is too large.

**Expected Behaviour**
Uploaded images to be in url format
like this `

[2021-09-03 07:54] kevinansfield commented on #11424
I've found a reproduction of this issue that occurs when the caption is left with a trailing space.

[2021-09-03 08:00] #11424 closed

[2021-09-03 09:12] frisodubach commented on #13261
I have the same exact issue, and sadly no idea how to fix it. I've tried to migrate even on the same hardware, using the same Ghost version, but it doesn't help.

[2021-09-03 13:37] themaster567 commented on #12967
Same here, getting a crash when trying to upload any image.

[2021-09-04 10:58] hkrsmk opened #13280 ""From" field in emails are not rendering correctly"
### Issue Summary

The 'From' field of sent emails are not rendering correctly. Relevant

### To Reproduce

1. Set desired email name in production.config.json
2. Send an email by publishing a test post that sends out to newsletter subscribers.
3. The 'From' field takes the blog title as the sender name.

### Technical details:

* Ghost Version: 4.12.1
* Node Version: 14.17.2
* Browser/OS: Firefox

[2021-09-05 22:18] lfuelling commented on #12967
@nolo14. @themaster567 you can make sure you have `libvips-dev` installed and you can run `npm i -g sharp` without errors.

I think there might be something else missing as well but you should be able to solve it by following the logged errors when installing sharp fails with something else than libvips.

[2021-09-05 23:50] themaster567 commented on #12967
I'm using the official docker image, so unfortunately I don't think this is related. In addition, the error logs contain zero useful information: https://pastebin.com/VkVLpVFW

[2021-09-06 07:59] tidyui opened #13283 "Page settings says "Post access""
Opening settings on a page the title is **Page settings** and URL is labeled **Page URL**, but the access level is still labeled **Post access**. See provided screenshot.

![ghost_page_settings](https://user-images.githubusercontent.com/781266/132181472-659f678e-3e49-42dd-8365-9d237584651a.jpg)

[2021-09-06 10:39] #13283 closed

[2021-09-08 19:51] matthanley commented on #13261
I believe this should have been fixed in 4.13.0 via https://github.com/TryGhost/Ghost/pull/13284

[2021-09-08 19:51] #13261 closed

[2021-09-09 13:23] preslavrachev commented on #11673
@SeanWrightSec thank you so much! This solution solved my embed issues as well. The funny thing was that I had Node v14.x set globally, and v12.x used by Ghost. According to @kevinansfield, this should not have been an issue after v10.x.

Anyway, I am glad that it worked. Hopefully, this helps others too.

[2021-09-11 16:33] yirenlu92 opened #13297 "Images are rendering incorrectly on Microsoft Outlook"
The images look abnormally large, and the bullet points for some reason are not appearing...
Do I need to make sure that the images are a certain size, or is there some issue with responsiveness settings?

https://www.loom.com/share/ddd56f8935af4d618d1c193765ca6a11

[2021-09-11 23:14] fadyosman commented on #12947
If anyone reached this page when trying to fix their ghost installation, it's not easy as it requires changing the collation and will result in some conflicts if done manually.

The quickest way I was able to use is to export the database using PHP my admin as a SQL file, then replace all the collations with `utf8mb4_0900_ai_ci`, I used find and replace all in my text editor to replace the conflic

[2021-09-13 17:25] lesbaa commented on #13261
Unfortunately this is still happening for me on 4.13.0...

[2021-09-14 06:30] clokam13 commented on #10396
Currently the workarounds are,

For reading_time -> include `html` in `formats`
For excerpt -> include 'plaintext' in formats

I am using the Client Side Content API JavaScript SDK and this is my code,

`api.posts
    .browse({
      limit: "all",
      fields: "id, title, url, excerpt, published_at, reading_time",
      formats: ["html", "plaintext"],
    })
    .then((posts) => {
      posts.for

[2021-09-14 06:39] milgradesec commented on #13225
Having the same issue running Ghost on Docker

[2021-09-14 09:49] qdupuy opened #13300 "Upgrade ghost failed - migration migration is into error state"
Hello,

I am trying to do a ghost migration from the version 4.8.3 to the 4.9.3 version. However, I get the following error :

[code]

Looking on the web, I can’t necessarily find anything about my problem. Some people talk about a knex problem.

Did I miss a step?

[2021-09-14 15:43] mhelf opened #13309 "Public previews + admin api upload not working with source html"
Hi I found a possible bug related to the admin-api upload of posts with a public-preview configured.

I opened the original issue in the Koenig repo and already created a **pull request** with a possible fix.

Please have a look:
https://github.com/TryGhost/Koenig/issues/267

[2021-09-14 18:32] jkirkpatrick opened #13310 "Ghost 4.14.0 contains critical vulnerability"
### Issue Summary
Install or update to ghost 4.14.0 contains one critical vulnerability: https://www.npmjs.com/advisories/1708

"nodemailer before version 6.4.16 is vulnerable to command injection. Use of crafted recipient email addresses may result in arbitrary command flag injection in sendmail transport for sending mails."

### To Reproduce

1. Install  / update latest version of ghost
2. `npm

[2021-09-14 18:37] jkirkpatrick commented on #13310
PR is WIP here: https://github.com/TryGhost/Ghost/pull/13301

[2021-09-15 11:43] ErisDS commented on #13310
Please follow our responsible disclosure guidelines when reporting vulnerabilitie

https://github.com/TryGhost/Ghost/security/policy

Most GitHub repos have these front and center.

As you can see, the problem is being worked on.

This issue will be deleted from our repo.

[2021-09-15 11:43] #13310 closed

[2021-09-15 14:58] qdupuy commented on #13300
up

[2021-09-16 17:47] matthanley commented on #13261
@lesbaa the original issue is related to content imports, which based on your logs is not the same problem you have. If you believe you've run into a different bug, please create a new issue using the template provided - thanks!

[2021-09-17 00:58] OutpostRyan opened #13316 "Locking a Post to Multiple (BETA) Subscription Tiers makes post uneditable"
Welcome 👋
Please keep in mind that GitHub is our office. We invite you to share any bug reports here 🐛..
For anything else please use https://forum.ghost.org 👫

### Issue Summary

Using the new beta Tiers feature, if you set access for a post to a number of tiers, the post becomes undeditable and you get the error message: "Validation error, cannot edit post. Value in [posts.visibility] exceeds ma

[2021-09-17 13:11] yaroslavvb opened #13319 "Support animated webp images"
Animated webp become static when adding them to Ghost. To reproduce.

0. Create new post
1. drag animated webp (like [this](https://aws1.discourse-cdn.com/business4/uploads/ghost2/original/2X/e/e06710da861f0e7d91f383c9c9bfe755df18fac0.webp)), into editor
2. Click Preview

The preview webp is static (example [page](https://machine-learning-etc.ghost.io/p/0b4618c3-2989-4e8d-9f5c-0199b6a831ac/)). Rel

[2021-09-18 10:11] newschapmj1 commented on #10772
How do we get the docs updated?  (assuming it has been wrong from 2+ years)

How to convert post to a page

https://ghost.org/docs/publishing/
Inside Ghost-Admin, any post can be turned into a page by checking the relevant box at the bottom of the Post Settings Menu. Equally, within the Content API, a page is just a post with a parameter of "page": true.

[2021-09-18 10:20] newschapmj1 opened #13322 "Documentation out of date - is this the location to report it?"
Welcome 👋
Please keep in mind that GitHub is our office. We invite you to share any bug reports here 🐛..
For anything else please use https://forum.ghost.org 👫

### Issue Summary

How to convert a post to a page

### To Reproduce

https://ghost.org/docs/publishing/
Inside Ghost-Admin, any post can be turned into a page by checking the relevant box at the bottom of the Post Settings Menu. Equally,

[2021-09-20 11:00] lifehome opened #13325 "macOS Non-Latin IME input issue"
### Issue Summary
When you tries to input non-latin glyphs(e.g., Chinese characters) into the editor, either plain text or with addon like Markdown block or HTML block, it always breaks.

Not only cannot type properly, but typing with IME also breaks the entire blog post...
It is very frustrating to "undo" and "redo" all the typings and things...

### Security concerns
I am aware that Ghost probab

[2021-09-21 12:13] rickdonato opened #13328 "Membership Bug. Expired Members Still Permitted Access"
Welcome 👋
Please keep in mind that GitHub is our office. We invite you to share any bug reports here 🐛..
For anything else please use https://forum.ghost.org 👫

### Issue Summary

Previously paid members that now do not have a paid subscription are still considered as a paid members and have full access to the paid content etc.

### To Reproduce

1. User subscribes to a paid membership.
2. They ca

[2021-09-21 17:02] prschulz commented on #13328
Hi @rickdonato - Members will continue to have access for the remainder of the period that they paid for. This should be reflected in their subscription on the Member show page.

![image](https://user-images.githubusercontent.com/4165449/134215165-e0e654df-f8e1-42fc-a1dc-36da23eeecde.png)

[2021-09-21 19:00] rickdonato commented on #13328
Thanks. But this isnt the case here. I have users that have exceeded their access until and still have access.
For example, I have a user which had a monthly subscription expire on 21 July. I can impersonate their account and get access to all content.
Their subscription shows empty.
![image](https://user-images.githubusercontent.com/4304301/134231053-7ab36828-fd3d-4c98-9957-c2d32e11542d.png)
Howe

[2021-09-21 19:48] rickdonato commented on #13328
I upgraded to 4.15.0. And this resolved the issue. Which is great. But cannot see anything in the releases about this as an issue. Might be worth updating folks about this problem. Thanks.

[2021-09-22 08:12] #13328 closed

[2021-09-22 08:18] #13322 closed

[2021-09-22 15:42] avimanyu786 opened #13353 "Login/Signup via email fails after updating to v4.15: "Sorry, something went wrong. Please try again.""
### Issue Summary

Since updating to Ghost 4.15 from 4.13, login/signup via email no longer works. Possibly on v4.14 too. We're using Mailgun. The only workaround we had was to revert to 4.13 to make it work again.

### To Reproduce

1. Update Ghost from version 4.13 to 4.15.
2. Enter email to log in to Ghost blog.
3. Click on "SEND LOGIN LINK".

The issue is similar to https://github.com/TryGhost

[2021-09-22 15:48] aprosvetova commented on #13353
I confirm this. We also use mailgun and get these errors on Ghost v4.15.0.

[2021-09-22 15:50] aprosvetova commented on #13353
I'm pretty sure [this commit](https://github.com/TryGhost/Ghost/commit/93e4b2eafd18bc8e4c17924e0824e73617e7940c) is the reason.

[2021-09-22 16:07] avimanyu786 commented on #13353
Thanks @aprosvetova! Hope it gets resolved soon.

[2021-09-23 11:11] daniellockyer commented on #13353
Hey all! 👋🏻 I believe this would be fixed with [a commit](https://github.com/TryGhost/Ghost/commit/20870aa2faaef57526daa3eb15e429fef3739cf6) in 4.15.1, so please update using Ghost-CLI. If the issue still persists, provide your logs and we'll do our best to fix it. 🙂

[2021-09-23 11:11] #13353 closed

[2021-09-24 17:39] ruhrscholz commented on #13225
On my servers, while this bug still persists after the latest update for the container (4.15), it doesn't lead to the container crashing anymore. Only the log message is still there.

[2021-09-26 13:30] tbhaxor opened #13366 "Security banner not being removed after successfull upgrade"
### Issue Summary

From the official documentation I have tried the forceful upgrade of ghost to latest version but even after successful upgrade, it's still showing the Upgrade banner in the ghost admin

![image](https://user-images.githubusercontent.com/28386721/134810117-167ead4c-6b98-4e96-bacc-8333dfe447f1.png)

### To Reproduce

1. sudo -i -u ghost-mgr
2. cd /path/to/ghost
3. ghost update -f

[2021-09-26 18:17] justathoughtor2 commented on #13366
Yeah, a self-hosted instance that I manage is suffering from the same problem. We still have the security vulnerability warning present after upgrading (without force in our case) to 4.16.0.

[2021-09-26 18:50] tbhaxor commented on #13366
The banner is not a problem right now. I believe the team will fix it asap. I want to know whether my website is secure or not. If I manually have to fix some package, plz let me know

[2021-09-27 13:26] benbrandt opened #13368 "Can't upgrade to 4.11 and beyond"
### Issue Summary

When running `ghost update` I've gotten the same error after several attempts

### To Reproduce

1. run `ghost update`
2. Get the following output:

[code]

### Technical details:

    OS: Ubuntu, v20.04.3 LTS
    Node Version: v14.17.6
    Ghost Version: 4.16.0
    Ghost-CLI Version: 1.17.3
    Environment: production
    Command: 'ghost update'

[2021-09-27 17:29] gavranha commented on #13366
same here, same latest version

[2021-09-28 08:40] mazard commented on #5998
Same problem here, I had to change:

./web/api/canary/content/app.js:15:    apiApp.use(bodyParser.json({limit: '200mb'}));
./web/api/canary/admin/app.js:16:    apiApp.use(bodyParser.json({limit: '200mb'}));
./web/api/canary/admin/app.js:17:    apiApp.use(bodyParser.urlencoded({extended: true, limit: '200mb'}));

[2021-09-28 09:45] ErisDS commented on #13366
The upgrade banner in Ghost admin is not currently being automatically dismissed. We realise that doesn't inspire confidence and are tracking getting that fixed ASAP.

In the meantime:

If `ghost -v` and/or the "What's new" page in Ghost admin say that you are on 4.15.1 or higher, then your site is patched and secure.

If you are on 4.15.1 or higher then you are safe to dismiss the banner by click

[2021-09-28 09:48] ErisDS commented on #13297
Please can you fill out the following details?

### Technical details:

* Ghost Version:
* Node Version:
* Browser/OS:
* Database:

[2021-09-28 09:52] #13300 closed

[2021-09-28 09:52] #13368 closed

[2021-09-28 09:54] qdupuy commented on #13300
/reopen

I'm opening an issue because nobody is answering me on the forum.

[2021-09-28 10:03] benbrandt commented on #13368
This seems like a bug in the migration,which is why I posted it.

[2021-09-28 12:51] Kylotan commented on #13366
I found that `ghost -v` doesn't always work - for example, I just get this output `Ghost-CLI version: 1.17.3` and nothing about Ghost itself.

Also, the "✖️ on the right hand side." isn't easy to see if you're in dark mode. Got it now though!

[2021-09-29 11:17] ThomasArdal commented on #12793
@ErisDS I feel the need to get out some frustrations here that I hope in return will help you when developing new features going forward. Introducing Membership is a great addition to the product but not something that we as a company are planning to use. My guess is that most companies won't since they earn their revenue elsewhere and the blog is there to support their business only and not be re

[2021-09-30 16:51] ErisDS opened #13380 "Replace i18n.t() with tpl() everywhere"
Our internal, server-side i18n package is deprecated, and so is the use of `i18n.t()`.

Instead we have a new package [@tryghost/tpl](https://www.npmjs.com/package/@tryghost/tpl) that does string interpolation and makes refactoring i18n out of the codebase easier.  

We have successfully removed `i18n.t()` from core/frontend, but the rest of the codebase has many many references that need to be up

[2021-10-01 01:56] uniqmuz commented on #13319
It seems optimize when upload. It's 400k but it has 40k after upload.

[2021-10-01 16:28] neverett8fr commented on #13380
Hey!
I had a look at the code - In the issue you mentioned the `i18n` package is deprecated and to replace the `i18n.t` files.
Out of interest does that mean the `i18n.test.js` unit test file should be removed?

Potentially a new issue, for after this one's closed?

![image](https://user-images.githubusercontent.com/43852724/135655233-2c33396c-ad53-43bd-936b-d5ecbe533157.png)

[2021-10-02 02:26] mhansen opened #13421 "Saving failed: Feature image alt text cannot be longer than 125 characters."
### Issue Summary

Ghost(Pro) on Chrome.

### To Reproduce

1. Add a feature image
2. Add alt text, e.g. for me "Profilers measure the OS/Hardware/Runtime, outputting Profile Data Formats. Converters can convert one Profile Data Format to another. Analysis UIs read Profile Data Formats."

![image](https://user-images.githubusercontent.com/105529/135700972-974be781-66b1-4773-a77e-e7303b07053a.png)

[2021-10-02 02:45] mhansen opened #13422 "SVG Images are really small"
### Issue Summary

Chrome on macOS, this shows what it looks like when I add a PNG and a SVG image, the SVG is at the bottom:

![image](https://user-images.githubusercontent.com/105529/135701336-4f074b4c-7739-4d86-ade1-261011b99b95.png)

### To Reproduce

1. Add a /image with PNG: ![Profilepedia (3)](https://user-images.githubusercontent.com/105529/135701343-412c3c6f-ef2d-40b3-9ff8-d435cdc22ff9.pn

[2021-10-02 02:48] mhansen commented on #13422
I'd rather have smooth images on every resolution but this is pushing me to use PNG which will give me jagged text resizing. It's a shame.

[2021-10-02 03:29] mhansen commented on #13422
Theme is alto Version 1.0.0

[2021-10-02 03:31] mhansen opened #13423 "Feature image has sides cropped, can I stop this?"
### Issue Summary

macOS Chrome on Ghost(Pro) them: alto Version 1.0.0. Not sure if a theme problem or an editor problem.

### To Reproduce

Try to set this image as the feature image
![Copy of Profilepedia](https://user-images.githubusercontent.com/105529/135702252-bd7d3f6a-a4be-4795-9f5c-0ec001d586b3.png)

It looks good in the editor:

Preview the blog:

Any other info e.g. Why do you consider t

[2021-10-02 03:34] mhansen commented on #13423
Please move this to the alto theme repo if it's an alto theme problem, I'm just not sure.

[2021-10-02 10:59] ErisDS commented on #13380
@neverett8fr no - removing the test file would not be a valid change as the library is used as the basis for theme i18n.

Thank you to everyone who has contributed towards this effort so far! It's greatly appreciated.

I would love it if we could prioritise getting the `core/server/web` folder cleaned up first. Thank you 🙏

[2021-10-02 13:54] BenJenkinson opened #13426 "Ghost update 3.42.6 -> 4.17.0 failed with "Cannot remove permission(Add offers) with role(Administrator)""
### Issue Summary

An update of ghost **3.42.6** to **4.17.0** failed with the following error:

After the update, ghost will not start:

[code]

### To Reproduce

1. Be on Ghost 3.42.6 (current latest version of previous major, as recommended by https://ghost.org/docs/update/#update-to-the-latest-minor-version)
1. Run `ghost update` (current latest version is 4.17.0)

### Technical details:

* Gh

[2021-10-02 20:52] BenJenkinson commented on #13426
It seems that several other people have reported similar issues with database migration with `ghost update` and have had their issues closed:
- #13368
- #13300
- #13218
- #12947
- #12897
- #12825

To pre-empt the bot message here, I do not regard this as a "help or support" question.

I regard this as a bug report for the update process or the database migration, performed by the `ghost update` CL

[2021-10-03 16:51] magicgg91 commented on #13423
Hello, Same issue for me with tons of images.
It's not a theme issue (tried with several to confirm), but a Ghost one.

[2021-10-03 16:57] magicgg91 opened #13430 "Feature image doesn't support transparency"
Hello,
Ghost supports transparency through different extensions (png or webp) for images in posts, but not for Feature Image !
That’s really weird and I don’t understand why :frowning: …
It should support it to allow us to have nice reading in posts with light/dark theme.

Thanks

[2021-10-04 05:52] stromfeldt opened #13432 "Delete post popup has incorrect colours in dark mode"
### Issue Summary

The background shade (and possibly more) is incorrect for the Delete post popup while in dark mode.

### To Reproduce

1. Place the admin in dark mode
2. Click on Delete post
3. See the incorrectly shaded popup

<img width="587" alt="Screen Shot 2021-10-04 at 4 46 38 pm" src="https://user-images.githubusercontent.com/27488257/135800540-75cef172-db04-401a-b335-30601fc3737b.png">

[2021-10-04 11:09] ErisDS commented on #13380
Thank you to everyone who has submitted a PR so far. I've officially added the hacktoberfest topic & labels so all PRs should automatically get accepted once merged.

I've also just updated the issue to provide more details about how to check your work. Many PRs are failing the build atm with minor linting issues.

[2021-10-04 15:02] tq-bit commented on #13432
This appears to be an issue with the CSS specificity in the ghost-dark.css file.

![image](https://user-images.githubusercontent.com/69204418/135874880-899d8c04-8d1e-4c09-9f9b-3e109d79d6da.png)

If you remove both of the `background-color` props as in the screenshot, the modal shows the correct coloring

![image](https://user-images.githubusercontent.com/69204418/135875240-ee29b904-64ab-44fa-b384-

[2021-10-04 15:22] tq-bit commented on #13225
Hi @Strit

I'd like to reproduce this issue. Could you please tell me on which page exactly you're receiving this error?

[2021-10-04 17:40] antonstech opened #13440 "Email Sending does not work in newer Version"
### Issue Summary

So i am trying to invite some people to my Blog and i cant send out any Emails because of `queryA EREFUSED smtp.web.de`

This is the Full Error:
`{"name":"Log","hostname":"vServer-5r6Z6","pid":2468556,"level":40,"msg":"Error sending email: Failed to send email. Reason: queryA EREFUSED smtp.web.de. Please check your email settings and resend the invitation.","time":"2021-10-04T15

[2021-10-05 00:33] samrap opened #13444 "Users cannot unsubscribe from newsletter: "could not find member""
### Issue Summary

Users subscribed to the email newsletter cannot unsubscribe using the link at the bottom of emails.

When clicking on "unsubscribe", users are directed to `/unsubscribe/?uuid=xxx`. Despite the correct UUID in the query string, users see the following error message: `Unsubscribe failed! Could not find member`.

There is no info in either of log files that could help debug further

[2021-10-05 00:55] samrap commented on #13444
Ah, looks like it was an issue with CloudFront. Had to explicitly forward query strings for the `/unsubscribe` endpoint!

[2021-10-05 00:55] #13444 closed

[2021-10-05 05:25] aniketh-varma commented on #13380
Hi, is this issue still open? If it is I can help with a few files.

[2021-10-05 06:38] deepto98 commented on #13216
@ErisDS If this issue is still open, can I pick it up?

[2021-10-05 08:35] Strit commented on #13225
The error is in my log `docker log <container-id>`.

I haven't had it happen in a while though (now running 4.16). When it does happen, the main page will not be loading any pictures properly. And hitting F5 just after that, results in a Bad Gateway error, because the container is rebooting.
When the container is done rebooting, everything works fine.

[2021-10-05 09:41] ErisDS commented on #13380
Thank you again to everyone who has helped out so far. We are getting there 🙏

There are still over 300 references to update though! 😅

Please keep the PRs coming!

[2021-10-05 11:27] arduano opened #13451 "Author not included in `post.published` webhook event"
### Issue Summary

I was attempting to connect Ghost to Integromat via a webhook integration triggered by Post Published event.
Everything seems to work fine, but it appears that the packet is missing an "authors" field, which seems strange considering Integromat expects there to be an authors field, and the packet does still contain other trivial metadata such as tags.

### To Reproduce

1. Creat

[2021-10-05 11:42] antonstech commented on #13440
I would not consider this a "support-request" because i have another Ghost installation running on Version 4.13 and there the Email sending works (1 to 1 same Settings)

[2021-10-06 13:35] larrysalibra commented on #13426
I experienced the same problem with `ghost update` from 4.7.x to 4.17.1.

The issue seems to be that the mysql table collation needs to be updated to `utf8mb4_0900_ai_ci`, but `ghost update` doesn't seem to do this consistently.

The work around is to update collation on all tables to manually to `utf8mb4_0900_ai_ci`.

This is the SQL I used:

[code]

Credit goes to author of this thread: https://

[2021-10-06 15:16] qdupuy commented on #13426
Hello,

As a matter of fact, I looked at my encoding and I'm good. However, I still have the same error :

[code]

[2021-10-06 20:15] avimanyu786 opened #13481 "Site no longer loads and results in a timeout error after updating to v4.17.1"
### Issue Summary

Since updating to Ghost 4.17.1 from 4.16.0, our site no longer loads and results in a timeout error. Reverted to 4.16.0 to make it work again. We're using an Nginx reverse proxy based Docker configuration based on [this deployment guide](https://linuxhandbook.com/deploy-ghost-docker/).

### To Reproduce

1. Update Ghost from version 4.16.0 to 4.17.1 (4.17.0 is not available on D

[2021-10-06 21:45] avimanyu786 commented on #13440
I've just updated to v4.17.1 and logins & signups via email seem to work fine. You're using web.de for SMTP. Perhaps the other installation uses a different SMTP service/configuration? Here are some related references that could help:

- [AWS SES Setup Correctly - Email Working but can’t invite staff](https://forum.ghost.org/t/aws-ses-setup-correctly-email-working-but-cant-invite-staff)

- [Why Gh

[2021-10-07 04:24] avimanyu786 commented on #13440
It indeed looks like your email settings are  incorrect somewhere. I just confirmed that staff email invitations are also working fine on our updated setup.

[2021-10-07 08:41] sideeffectdk commented on #13319
+1
I've also bumped into the related discussion you linked. It seems to be related to the way Ghost uses the sharp image processing library when uploading images.

Adding options for how the imageOptimizer works would be handy as well. The sharp library seems very capable, and having options in the [ghost config file](https://ghost.org/docs/config/#image-optimisation) (or maybe even in the admin p

[2021-10-09 08:09] mhansen opened #13547 "Redirect loop when trying to redirect from /foo.bar/ to /foo-bar/"
Hi there, in #13493 I reported that I wanted to capture traffic to https://www.markhansen.co.nz/scatter.fm/ (with a dot, not a dash), and it was suggested to use redirects.

So I made a redirects.yaml:
[code]

But this gives me a redirect loop from `/scatter-fm/` to `/scatter-fm/`: note the `location: /scatter-fm/` header and the `Request URL: https://www.markhansen.co.nz/scatter.fm/`.

![image](h

[2021-10-09 08:11] mhansen commented on #13547
The first redirects work fine:

- from /scatter.fm to /scatter.fm/
- from /scatter.fm/ to /scatter-fm/
- then it loops

[2021-10-09 08:13] mhansen commented on #13547
I have reverted it now but should be easy to reproduce. Try to redirect any blogpost URL from the dot.version to the dashed-version.

BTW when trying to upload an empty redirects file I got an error: can't read property 302 of undefined, so I had to upload this file to clear out the redirect:

[code]

[2021-10-09 15:12] vikaspotluri123 commented on #13547
I'm guessing your redirect is interpreted as a regex - can you try this: `/scatter\.fm/: /scatter-fm`

[2021-10-09 21:14] mhansen commented on #13547
d'oh. Thanks, that worked.

[2021-10-09 21:14] #13547 closed

[2021-10-10 00:02] underthehoodlearning commented on #12356
I'm unable to preview a draft post that has not been published before. Does any one know of a solution?

[2021-10-10 17:15] antonstech commented on #13440
@avimanyu786

[2021-10-11 14:15] antonstech commented on #13440
@avimanyu786 So i am running a Private VPS with no Restrictions so this shouldnt be the Problem

[2021-10-12 08:39] rickdonato opened #13582 "Spam Filter Randomly Triggering"
### Issue Summary
Login for random members keeps showing the following:
[code]
However, this happens randomly even if folks have not signup for a while.

### To Reproduce

1. Try and login.
2. Randomly this error is produced.

### Technical details:

* Ghost Version: 4.17.1
* Node Version: TBC
* Browser/OS: All
* Database: mySQL

[2021-10-12 14:13] jeffphi commented on #13426
Good advice unless you've already upgraded directly to 4.18 (like me) and now can't rollback due to the same migration error.

[2021-10-12 19:32] magnolialogic commented on #13426
Hit this after updating from 4.2.2 → 4.18, thankfully I was able to recover by restoring from a backup then updating from 4.2.2 → 4.16 → 4.18.

[2021-10-13 00:26] stromfeldt commented on #13432
Hey @velocity23, thanks for the fix. As you apparently know your way around this stuff, and as I don't, I thought I'd mention that just a few minutes ago I found the same issue appearing elsewhere -- the currency dropdown in the Edit tier section:

![Screen Shot 2021-10-13 at 11 12 17 am](https://user-images.githubusercontent.com/27488257/137046329-966f3bef-aabe-4d71-b498-320b7b1becac.png)

Intere

[2021-10-13 05:35] stromfeldt commented on #13432
No worries, no need to be sorry. I'll open up a separate issue, cheers.

[2021-10-13 05:42] stromfeldt opened #13598 "Currency dropdown has incorrect background shade in dark mode"
### Issue Summary

The background shade is incorrect for the currency dropdown in the edit tier section while in dark mode.

### To Reproduce

1. Place the admin in dark mode
2. Navigate to Membership, Expand the Premium section and then edit a tier
3. Click on the currency next to Prices to reveal the dropdown.

![137046329-966f3bef-aabe-4d71-b498-320b7b1becac](https://user-images.githubuserconte

[2021-10-13 12:50] paz commented on #13426
every time i go to update ghost, some stupid error like this comes. how come the upgrade system is still this broken?

[2021-10-15 03:42] codyogden opened #13611 "Dates displayed in Members table not using the Site timezone"
### Issue Summary
When viewing the members view (`example.com/ghost/#/members`), it seems the timestamp in the database is being stored as UTC, but the date is not being adjusted to the timezone that is set in `Settings > General > Site timezone`. I suspect this  issue is the same as what was observed and attempted to be reported in regard to the webhook times/timezones being incorrect in #12993.

[2021-10-15 18:48] JohnONolan opened #13613 "Remove "The team at X" from transactional emails"
Several site owners have complained about the language used in our transactional emails, which have a sign-off that reads:

[code]

This is a confusing message coming from solo-creators who have no team, and publish under their own name.

The sign-off is non-essential, so we'd like to just remove this line completely from the emails where it appears:

https://github.com/TryGhost/Ghost/search?q=%22

[2021-10-15 18:52] fcoiuri commented on #13613
Hi, can I work on this issue?

[2021-10-16 00:31] mascali33 commented on #12802
This is still a problem, using Ghost 4.18 with a custom SMTP server, ghost is not using the from adress specified in config and uses noreply@domain.tld instead of mail.user@mailhost.tld like said in config.
Ghost should only use the noreply@domain.tld when no "mail__from" value is set

[2021-10-16 00:33] mascali33 commented on #12802
Its also in the docs [https://ghost.org/docs/config/#from-address](https://ghost.org/docs/config/#from-address)

Ping @ErisDS

[2021-10-16 14:27] gaurav879 commented on #13611
Can I work on this issue ?

[2021-10-17 09:24] mascali33 commented on #12802
Sometime it seems they don't see the issues :\
Can you try to open a pull request fix and reference this issue? Maybe they will see the problem :\

[2021-10-17 10:01] artemkovalyov opened #13616 "KBD tag colors are incorrect when switching to dark mode"
### Issue Summary

KBD macro doesn't look correct with inverse colors (dark mode)

### To Reproduce

1. Switch to dark mode in admin
2. Add MD snippet with <kbd> tag
3. Here's how it looks like
![image](https://user-images.githubusercontent.com/10460752/137622223-3fb668fb-536c-440b-86a0-f1ac1eeb9aa3.png)

### Technical details:

* Ghost Version: irrelevant for CSS issue
* Node Version: irrelevant

[2021-10-18 12:50] qdupuy commented on #13300
up

[2021-10-20 04:05] avimanyu786 commented on #13353
It was indeed Mailgun relevant (subscription renewal). Everything's working again now on the latest version.

[2021-10-20 06:24] Sen-442b commented on #13613
Though I haven't been assigned this issue but I submitted a pull request regardless, kindly consider checking that out .

[2021-10-20 13:22] kuba-orlik opened #13631 "[GDPR] Unecessary Twitter scripts added to tweet embeds"
### Issue Summary

When pasting a link to a tweet, Ghost editor creates an embedded version of that tweet.

That unfortunately causes Twitter JS scripts to be added to the page with that embed, sending PII to Twitter, which is against GDPR unless there's a valid consent for that.

Because of that, we had to remove all Twitter embeds from all our articles.

The embed should be static and not includ

[2021-10-21 06:11] joemcgee4151986 commented on #13613
Mind if I can work on this?

[2021-10-21 12:58] #13613 closed

[2021-10-21 15:28] VanillaSpoon opened #13646 "Hey, I could clean up all of the 'or' statements similar to this one if you'd like?"
###### Hey, not sure if this would be of interest but:

https://github.com/TryGhost/Ghost/blob/28283b54acd7f3797ed3e0b854d0aea993f0f584/core/frontend/meta/twitter-image.js#L15

[code]

[2021-10-21 22:54] jlengrand opened #13647 "ER_NO_SUCH_TABLE: Table 'ghost_production.offers' doesn't exist when upgrading v2->v4"
Welcome 👋
Please keep in mind that GitHub is our office. We invite you to share any bug reports here 🐛..
For anything else please use https://forum.ghost.org 👫

### Issue Summary

Trying to upgrade from v2.38.3 to v4 fails due to 4.19.1 . Impossible to rollback, site is down :).

### To Reproduce

1. This is the first step
2. This is the second step, etc.

Create a ghost install on latest v2, run

[2021-10-21 22:57] jlengrand commented on #13647
This is what happens when I try to rollback :

[code]

and

[code]

[2021-10-21 23:01] jlengrand commented on #13647
Well, after following the documentation and doing a `ghost upgrade --force` all previous installs seem to have been removed sooooo I am open for advice over here :)

[code]

and no more option to rollback :)

[code]

[2021-10-21 23:13] jlengrand commented on #13647
Ok, interestingly, I decided to do a fresh install and try to sort myself out of this problem.

HOWEVER, even with a fresh install I meet the very same error!

What I did :

[code]

The result :

[code]

[2021-10-22 09:04] ErisDS opened #13648 "Replace moment with luxon in core/frontend"
Ghost makes heavy use of the moment and moment-timezone libraries all over our code bases. However, it's an extremely heavy dependency, we have difficulties getting the timezone to "stick" and the project itself essentially recommends not using it anymore: https://momentjs.com/docs/#/-project-status/

Instead of using Moment, we want to change to using [Luxon](https://www.npmjs.com/package/luxon).

[2021-10-29 03:48] stromfeldt opened #13700 "Publish & send button has incorrect background colour in dark mode on hover"
### Issue Summary

The background colour is incorrect when hovering over the "Publish & send" button while in dark mode.

### To Reproduce

1. Place the admin in dark mode
2. Click on "Publish" to open the "Ready to publish and send this post?" box
3. Hover over the white on green "Publish & send" button
4. The button turns to white on very light grey

![Screen Shot 2021-10-29 at 2 13 32 pm](https

[2021-10-29 05:10] niharsawant opened #13701 "Unable to run Ghost using `ghost start` on production but `ghost run` works"
### Issue Summary

I recently upgraded Ghost instance from v3.40.* to v3.42.6 to 4.20.4. The whole migration process went well without any issues. But starting the instance using `ghost start | restart` does not work. It either throws 502 issues from Nginx or 503 from Ghost. However, running `ghost run` works without any problems.

### To Reproduce

Unfortunately, I can't provide steps to reproduc

[2021-10-29 17:50] peledies opened #13702 "Add ability to filter posts with partial matches"
### Issue Summary
As per the documentation on the Ghost API:
NQL does not support filtering base on `like` or `partial matches` yet.
https://ghost.org/docs/content-api/#filtering

Is there any indication as to when this functionality will be added?

We are trying to switch from wordpress to ghost and this is the only blocker for us at the moment :(

[2021-10-31 10:43] scolear commented on #13225
Hey, I have figured it out! Well, a cloud architect friend of mine did. **Its the images.**

Ghost does not warn about it, but it appears to be related to the image sizes. Upon reload, it works probably due to some internal caching, or something. But all I had to do was remove my profile picture, and now there is no errors.

Still have to see if only the profile pictures, or if the same will happe

[2021-10-31 14:56] Strit commented on #13225
While image size does sound like a likely symptom, the pictures I use in my blog posts are usually around 100 kb in size and my profile picture is 160 kb.

[2021-11-01 17:10] brainandbrain opened #13704 "Error Setting Page Access to Tiers"
### Issue Summary

When a new or existing page's access is set to "Specific Tiers," an error appears:

`Internal server error, cannot edit page. Query Error: unexpected character in filter at char 1 filter ^ Expecting 'LPAREN', 'PROP', got 'LITERAL'`

The page can't be published while access is set to tiers.

### To Reproduce

1. Create a tier.
2. Create a page.
3. Set page access to tier.

### Te

[2021-11-02 08:07] #13704 closed

[2021-11-03 17:21] #13440 closed

[2021-11-03 21:50] jesders commented on #13702
This is very much needed for us as well.

[2021-11-04 18:49] RubyAquaMarine commented on #11971
Email service is currently unavailable - please try again!

What would cause this error when using mailgun bulk email when publish & send emails

[2021-11-05 10:47] ruhrscholz commented on #13225
Thanks to this comment I removed my profile picture (which was not big, as it is just a redownloaded Twitter profile picture). This was 5 days ago and the server appears to be running smoothly so far. This applies to both the Casper and the Alto theme.

[2021-11-05 10:53] Strit commented on #13225
So the issue seems to be related to just having a profile picture set?

[2021-11-05 22:38] NicolaGenesin opened #13715 "New instance - Error prevents Theme change (Validation (FieldIsRequired) failed for ref)"
### Issue Summary

New installation on a brand new server. Error appears while trying to apply a (any) theme.

<img width="648" alt="Screenshot 2021-11-05 at 23 30 15" src="https://user-images.githubusercontent.com/3284778/140585984-1891428c-4d6a-4256-ba77-993ce0119f49.png">

[code]

### To Reproduce

Goto {hostname}/ghost/#/settings/design/change-theme/Journal then click on "Use Journal" at the t

[2021-11-06 16:52] milgradesec commented on #13225
Tested with and without a profile image, i can see crashes with both.

[2021-11-08 07:29] mainawycliffe commented on #13222
I can confirm this is an issue I have experienced as well. Maybe this is because the membership API is still in canary.

[2021-11-08 09:25] allouis commented on #13222
Fixed here https://github.com/TryGhost/Ghost/commit/c45afc7f2614483b40b467d47f9bc484ebe37281

[2021-11-08 09:25] #13222 closed

[2021-11-11 12:31] matthanley commented on #13426
Thanks for everyone's patience while we've worked through this issue.

There are two underlying issues here:
* Attempting to create a new table with a foreign key [fails due to a mismatch of collation](https://ghost.org/docs/faq/troubleshooting-mysql-database/#error-er_cant_create_table-with-_foreign-key-constraint-is-incorrectly-formed_) on the tables, which usually happens when MySQL has been up

[2021-11-11 12:31] #13426 closed

[2021-11-11 13:19] mkyos commented on #13325
The problem of typing CJK texts with initials seems to have been solved in the current version. Do you mean such an issue?

[2021-11-12 10:00] qdupuy commented on #13426
Despite your return, the error persists :

[code]

Version : 4.8.4 to 4.9.3

[2021-11-12 10:04] qdupuy opened #13736 "Upgrade ghost failed - migration migration is into error state"
Hello,

I am trying to do a ghost migration from the version 4.8.3 to the 4.9.3 version. However, I get the following error :

[code]

Looking on the web, I can’t necessarily find anything about my problem. Some people talk about a knex problem.

Did I miss a step?

Despite my research and the outcome #13426 I still have the problem and it bothers me greatly that I am not up to date

[2021-11-12 12:06] #13297 closed

[2021-11-12 12:06] #12993 closed

[2021-11-12 12:06] #12989 closed

[2021-11-12 12:06] #12962 closed

[2021-11-12 15:05] #12902 closed

[2021-11-12 15:17] rkingett commented on #11871
This should still be orked on.

[2021-11-12 15:39] hey24sheep commented on #12945
This issue isn't stale as there is an updated PR referecning it.

[2021-11-12 19:25] Lastofthefirst opened #13739 "Error due to asset file permissions when booting"
### Issue Summary

DO one click did not work. ghost doesnt start, web page shows 502 bad gateway.

### Steps to Reproduce

1. start digital ocean one click droplet
2. enter url and email

### Ghost Version

current

### Node.js Version

current

### How did you install Ghost?

DO one click

### Database type

MySQL 8

### Browser & OS version

_No response_

### Relevant log / error output

[code]

[2021-11-12 19:37] luvncoco commented on #13739
same for me, on the exact same file, was trying a second dropplet and i have the same issue

[2021-11-12 20:21] mrtrombley commented on #13739
Same here, unable to upgrade from 4.22.1 because of this issue

[2021-11-12 20:32] ceylon23 commented on #13739
I'm also having this same issue. I started from 4.18.0 and updated each minor version and subversion all the way to 4.22.1. Each time I installed a new version I tried to force update to 4.22.2 and each time I got the same error and had to roll back.

[2021-11-12 21:05] Lastofthefirst commented on #13739
The same issue occurs when you try to install manually following installation instructions in docs.

[2021-11-12 21:05] katoitalia commented on #13739
same here, haven't seen ghost failing this spectacularly in a very long time

[2021-11-12 21:06] Lastofthefirst commented on #13739
Is there a way to force a fresh installation to 4.18.0? 😁

[2021-11-12 21:07] katoitalia commented on #13739
`/path/to/ghost/versions/4.22.2/core/frontend/public/cards.min.css`

doesn't even exist

[2021-11-12 21:12] ceylon23 commented on #13739
I do not think there is a downgrade option for the ghost-cli command. There is only a rollback option to previous install. If you wanted to do a clean install you could use the ghost-cli command: ghost install 4.18.0

[2021-11-12 21:14] katoitalia commented on #13739
that probably should be added in cases like this.....this is gonna impact hundreds of thousands of blogs in the next few hours if not fixed quickly and a downgrade option would mitigate this kind of issues in the future

[2021-11-12 22:11] katoitalia commented on #13739
I would also like to point out that timing is perfect: friday night
this is [r/ProgrammerHumor](https://www.reddit.com/r/ProgrammerHumor/comments/qi7wlt/deploy_on_a_friday_itll_be_fine_they_said/) material

[2021-11-12 22:54] yannickcof commented on #13739
Same here !!!

[2021-11-12 23:04] daniellockyer commented on #13739
Hey all 👋🏻 Apologies for the bug. 4.22.2 has been deprecated in NPM so Ghost-CLI shouldn't update to it.

If you're already on 4.22.2 and stuck, you should be able to run `ghost update --force` to re-download 4.22.1 and switch to that version.

[2021-11-13 04:05] akshaybabloo commented on #12861
Any update on this?

[2021-11-13 10:56] sidemt opened #13740 "Typing Japanese characters at the end/beginning of a link text duplicates input"
### Issue Summary

When you type at the end or beginning of a link text with Japanese IME it does not work properly.
It may happen with other non-Latin languages too such as Chinese or Korean.

### Steps to Reproduce

1. Create a new post
2. Type some text and convert it into a link
3. Place the cursor at the end of the link text
4. Turn on Japanese IME and start typing Japanese
   Example: Type "

[2021-11-13 12:05] jackdanielux commented on #13739
That's why all DO people, keep 2 working snapshots (images) of the droplet :)

[2021-11-13 16:31] mnlttt opened #13741 "Cannot read property 'product' of undefined"
### Issue Summary

Cannot get member list when accessing `/ghost/#/members` after upgrading from a previous 4.x version (I'm really sorry but I do not remember which one).

### Steps to Reproduce

1. Go into `https://example.com/ghost/#/members`

### Ghost Version

4.22.1

### Node.js Version

14.18.1

### How did you install Ghost?

ghost-cli un ubuntu 20

### Database type

MySQL 5.7

### Browse

[2021-11-14 05:11] Nazaire commented on #12286
This issue still doesn't seem to be resolved. Some MySQL managed databases require sql_require_primary_key=1 (for example Digital Ocean). It seems like a simple fix from the outside... just add a primary key to the migrations_lock table.
Is there any workaround in the meantime?

[2021-11-14 11:26] baptiste00001 commented on #13740
Did a bit of digging and I see that when the cursor is placed at the end of a link, every key input creates a new text node instead of grouping the text as one unique text node.
The result is that each character is taken separately and "い" "n"　is input instead of "に"
(you can reproduce it by opening the developer tools in Brave or Chrome)

I noticed that there is no such problem in the wordpress e

[2021-11-14 12:44] baptiste00001 commented on #13740
OK
Forget about the Zero Width No-Break Space.
I think that this actually unrelated to the problem.

What would be an easy fix though would be to change the behavior such that when inputing text at the end of a link text it adds text inside the `<a></a>` tags instead of outside, so that no new text node is created.

so for example a text like this
<a>some text</a>
would become
<a>some textに</a>
in

[2021-11-14 13:11] baptiste00001 commented on #13740
Here is some code found in core/client/lib/koenig-editor/addon/components/koenig-basic-html-textarea.js

[code]

Looks like this could be the place to check.

[2021-11-14 17:44] slavaGanzin opened #13742 "Nginx detection"
### Issue Summary

Hello, I don't know how you detect nginx, but ghost doesn't detect it on my setup.

You probably can just make `which nginx` or `nginx -v` for that.

[code]

Nice product, thanks for that.

### Steps to Reproduce

1. run `ghost install` on any non-debian based linux

### Ghost Version

Ghost-CLI version: 1.18.0 Ghost version: 4.22.1

### Node.js Version

v16.13.0

### How did yo

[2021-11-14 17:44] slavaGanzin opened #13743 "Nginx detection"
### Issue Summary

Hello, I don't know how ghost is trying to detect nginx, but it doesn't detect on my setup.

Probably, it can be done simply `which nginx` or `nginx -v`

[code]

Nice product, thanks for that.

### Steps to Reproduce

1. run `ghost install` on any non-debian based linux

### Ghost Version

Ghost-CLI version: 1.18.0 Ghost version: 4.22.1

### Node.js Version

v16.13.0

### How di

[2021-11-15 02:20] baptiste00001 commented on #13740
The problem seems to be that in some areas (bullet lists, link text) the HTML in the editor is refreshed for every key input.

Therefore languages that require several consecutive key inputs to write one character are broken (Japanese, French accents, German special characters,...)

This issue is actually related to those two other issues concerning dead keys: #13058 and #11316

I don't see any si

[2021-11-15 12:34] matthanley commented on #12286
We already have the required primary keys defined in `knex-migrator` but the [issue is in the upstream](https://github.com/knex/knex/issues/4141) `knex` library.

[2021-11-15 22:54] olehomelchenko opened #13748 "Editor area doesn't follow CMD+Backspace behavior on MacOS"
### Issue Summary

On MacOS, I have a habit of using  CMD+Backspace keyboard shortcut whenever I want to delete a whole line of text in the editor up to the beginning of the line.

As far as I know, this is a default behavior in any edit field in any app that I use on MacOS.

However, in Ghost editor mode, when I press CMD+Backspace, only the last character gets deleted.

This behavior can be obse

[2021-11-16 09:04] ErisDS commented on #13739
4.22.3 has a fix so this issue won't prevent Ghost from booting. Further fixes are coming.

Some clarity on the commands because there seems to be some confusion:

If you upgrade Ghost and it doesn't work, `ghost update --rollback` will take you safely back to the last working version.

If you're installing Ghost and it fails, then you don't have a previous version to rollback to and therefore a f

[2021-11-16 09:05] ErisDS commented on #13743
Closing as a duplicate of https://github.com/TryGhost/Ghost/issues/13742

[2021-11-16 09:05] #13743 closed

[2021-11-16 21:57] snird opened #13756 "Handlebars can't handle nested <a> tags"
### Issue Summary

If I have an <a> tag that has another <a> within it, in a theme, handlebars duplicate the first <a> under every nested tag.

### Steps to Reproduce

So for example if I have:
[code]

the output will be:
[code]

### Ghost Version

4.22

### Node.js Version

14

### How did you install Ghost?

managed

### Database type

MySQL 5.7

### Browser & OS version

any

### Relevant log /

[2021-11-16 22:34] kevinansfield commented on #13756
Nested anchor tags are not valid HTML. There’s no right/wrong/expected output in this case because you’re trying to do something that isn’t allowed within the HTML specification with no defined behaviour for when the spec is broken.

https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-a-element

[2021-11-16 23:18] milgradesec commented on #13225
`GET /content/images/size/w2000/2021/10/image.webp`

This type of requests asking ghost for an image with specific size triggers the crash.
I configured my proxy to respond directly to requests like above and redirect to `/content/images/2021/10/image.webp`.
The issue is mitigated and the container never crashes.

[2021-11-17 05:03] AndrewRayCode commented on #11023
FWIW, I found this issue when searching for ghost blog content api excerpt links. My issue is that when using the content API to get the excerpt, and rendering that into my site, long links inside of brackets, which at first glance look like unescaped markdown, are part of the excerpt. For long links, this makes the unbroken text overflow the center column. I didn't realize this was intentional be

[2021-11-17 10:50] #13756 closed

[2021-11-18 12:13] hyvyys opened #13761 "Cannot activate default theme Casper after activating another theme"
### Issue Summary

Cannot activate default theme Casper after installing another theme from zip. I see an error popup saying:

[code]

Changing to any other theme from the listed ones works fine.

### Steps to Reproduce

1. Install ghost locally.
2. Change theme (either to one of the default ones or from zip).
3. Try changing back to Casper.

### Ghost Version

4.22.3

### Node.js Version

16.13.0

[2021-11-18 12:38] matthanley commented on #13761
Hey @hyvyys! Thanks for the report. This is already fixed in https://github.com/TryGhost/Admin/commit/2373d3c8acd59bd47cea47446af197a0f71e75cd, which will be in the next release (tomorrow).

[2021-11-18 12:38] #13761 closed

[2021-11-18 12:44] matthanley commented on #13761
ℹ️ The workaround until the next release is to activate Casper from the "Advanced" theme table dropdown.

<img width="968" alt="image" src="https://user-images.githubusercontent.com/3798302/142417512-9eedf486-b6c3-4bfa-aa81-1d12913ac518.png">

[2021-11-19 11:36] #13739 closed

[2021-11-19 12:20] inductor opened #13768 "Update pac-resolver due to CVE-2021-23406"
### Issue Summary

nodejs-pac-resolver: remote code execution when used with untrusted input

Ref. https://nvd.nist.gov/vuln/detail/CVE-2021-23406

### Steps to Reproduce

Install Ghost

### Ghost Version

4.22.3

### Node.js Version

16.13.0

### How did you install Ghost?

yarn

### Database type

SQLite3

### Browser & OS version

_No response_

### Relevant log / error output

_No response_

#

[2021-11-19 15:06] #13141 closed

[2021-11-19 15:06] #13058 closed

[2021-11-19 15:06] #12933 closed

[2021-11-19 15:06] #12957 closed

[2021-11-19 15:06] #12918 closed

[2021-11-19 15:06] #12857 closed

[2021-11-19 15:06] #12114 closed

[2021-11-20 15:05] #12113 closed

[2021-11-20 15:05] #11923 closed

[2021-11-20 18:34] mkyos opened #13773 "A browser back issue caused by the .gh-subsribe component"
### Issue Summary

Once  open`.gh-subsribe`, it keeps **popping up** when the browser goes **BACK**.

I show this problem in the demo of the official Journal theme. I have this problem on my own website.

![2021-11-21_02-23-57 (1)](https://user-images.githubusercontent.com/72077265/142737277-c24b9c91-7145-44bf-a6b0-1c307130522f.gif)

### Steps to Reproduce

1. Once you open `.gh-subsribe`；
2.  the

[2021-11-20 19:45] ShivanS93 commented on #13715
Yes, I'm getting this problem as well. Stuck on Casper for now.

[2021-11-20 21:23] GhostSlayer commented on #13742
![image](https://user-images.githubusercontent.com/51095261/142741307-ccb87b5c-4f89-4a62-9b99-0cb1a0c70562.png)
getting same stuff on debian based system.

[2021-11-20 21:57] nfteco opened #13774 "Recent Update Leads To 404 Errors On All Posts"

[2021-11-21 01:16] nfteco commented on #13774
NVM

[2021-11-21 01:16] #13774 closed

[2021-11-21 10:31] ericmaxwell commented on #13715
Having similar issue in two different blogs.

`ghost-mgr@ghost-ubuntu:/var/www/ghost$ ghost log
+ sudo systemctl is-active ghost_blog-ericmaxwell-com
[2021-11-21 10:28:33] INFO "GET /ghost/api/canary/admin/config/" 200 17ms
[2021-11-21 10:28:33] INFO "GET /ghost/api/canary/admin/settings/?group=site%2Ctheme%2Cprivate%2Cmembers%2Cportal%2Cnewsletter%2Cemail%2Camp%2Clabs%2Cslack%2Cunsplash%2Cviews%2

[2021-11-21 10:36] ericmaxwell commented on #13715
Yes, same issue here on two different blogs. Same error:

ghost-mgr@ghost-ubuntu:/var/www/ghost$ ghost log
+ sudo systemctl is-active ghost_blog-xxxxxxx-com
[2021-11-21 10:28:33] INFO "GET /ghost/api/canary/admin/config/" 200 17ms
[2021-11-21 10:28:33] INFO "GET /ghost/api/canary/admin/settings/?group=site%2Ctheme%2Cprivate%2Cmembers%2Cportal%2Cnewsletter%2Cemail%2Camp%2Clabs%2Cslack%2Cunsplash%2C

[2021-11-21 11:31] ericmaxwell commented on #13715
@ShivanS93 FYI you can download other Themes from the internet and upload them. Then, under Advanced in the Theme selection area you can switch between the themes you have uploaded yourself. That way you won't be stuck on Casper if you don't want to be.

[2021-11-21 19:39] ShivanS93 commented on #13715
Ahh, you are a lifesaver. Thank you!

[2021-11-22 13:23] ErisDS commented on #13225
Hey everyone 👋 ,

Really sorry for the radio silence here, we got a bit behind with triaging.
There's a lot of people reporting this but without a lot of information. The original report states that Ghost is being run on Manjaro ARM, which is not our official [recommended stack](https://ghost.org/docs/install/ubuntu/).

As far as I know, the problem you're running into is the same as these two:

h

[2021-11-22 13:23] #13225 closed

[2021-11-22 13:25] ErisDS commented on #13309
Closing as there's already an issue & PR open in the relevant repo - will take a look soon.

[2021-11-22 13:25] #13309 closed

[2021-11-22 13:57] ErisDS commented on #13366
This bug was closed by https://github.com/naz/Ghost/commit/c0d59db5bee2643b8b1ab7ec36797be51f62b965

[2021-11-22 13:57] #13366 closed

[2021-11-22 13:58] #13702 closed

[2021-11-22 14:52] ErisDS commented on #13422
Hi there! If you're having any issue with a **Ghost(Pro)** site, please drop us an email on support@ghost.org and we'll be more than happy to give you a hand directly :slight_smile:

[2021-11-22 14:52] #13422 closed

[2021-11-22 16:34] matthanley commented on #13715
Thanks for the report! I've been unable to reproduce this on the latest version of Ghost. In order to troubleshoot further, I'd be grateful if you could:

- Upgrade to the latest Ghost version and verify that the issue still exists
- Confirm the issue still exists in a different browser without any plugins or extensions enabled (it may be that a privacy plugin is stripping the `ref=` query paramet

[2021-11-22 20:25] Strit commented on #13225
I thought docker was suppose to get around the Operating System dependency issues.

Guess I was wrong there. No worries.

[2021-11-22 21:19] daniellockyer commented on #13736
@qdupuy Have you followed the [documentation](https://ghost.org/docs/faq/troubleshooting-mysql-database/#error-er_cant_create_table-with-_foreign-key-constraint-is-incorrectly-formed_) we gave in the [final comment](https://github.com/TryGhost/Ghost/issues/13426#issuecomment-966264799) of #13426? I suspect that your `products` table has a different collation than the default of your DB, so any new

[2021-11-22 21:34] daniellockyer commented on #13647
@jlengrand Can you try updating to the latest version of Ghost (4.22.4)?

We recently [fixed an issue](https://github.com/TryGhost/Ghost/issues/13426#issuecomment-966264799) where the rollback function of migrations would run even if the migration had not been executed yet. When we've seen this happen, unexpected actions would happen. The problem is that this has been hiding the actual error that

[2021-11-23 08:48] #13701 closed

[2021-11-23 08:50] #13598 closed

[2021-11-23 08:51] #13768 closed

[2021-11-23 08:53] ErisDS commented on #10870
We're going to switch to luxon instead, see https://github.com/TryGhost/Ghost/issues/13648

[2021-11-23 08:53] #10870 closed

[2021-11-23 09:37] allouis commented on #13741
@mnlttt Could you please share the output of `select * from migrations;` run on your Ghost database? That should help us determine which version you migrated from, and will hopefully help us to replicate the issue!

[2021-11-23 10:16] madusankapremaratne opened #13776 "A way to remove tag and author pages from sitemap"
### Issue Summary

There is no way to add or remove pages or tags from the default sitemap.

### Steps to Reproduce

1. Create a post/page
2. Mark it as nofollow noindex using code injection
3. Sitemap still shows the page in sitemap

### Ghost Version

4.x.x

### Node.js Version

14

### How did you install Ghost?

Digital Ocean 1 Click Install

### Database type

MySQL 5.7

### Browser & OS vers

[2021-11-23 10:38] mnlttt commented on #13741
@allouis sadly I can't because I deleted the whole server, but I can tell you that I ran an update with the `--force` flag, most likely it was that the reason for these missed migrations. Is there a cli command to run unstarted migrations?

[2021-11-23 14:45] matthanley commented on #13773
Hey @Pathsis 👋🏼

This is expected behaviour when you use Portal links to open Portal. If you want to avoid this in a custom theme, you can use the data-attributes method of opening Portal instead of links.

We'll look into updating our official themes to use the most relevant method to avoid this unexpected behaviour.

[2021-11-23 15:51] #13776 closed

[2021-11-23 16:18] matthanley commented on #13451
Hey @arduano 👋🏼

We've tested internally and the authors relation had loaded for both variations of publish / publish & send.

Theoretically this is issue may occur if the model did not have the authors relation loaded when the event was emitted. Could you provide some more information on how you're able to reproduce the error?

[2021-11-24 02:20] arduano commented on #13451
Hi, I have just reproduced it by doing the following:

1. Use this docker-compose.yml config
[code]

[2021-11-24 02:22] arduano commented on #13451
I have also reproduced it with:
[code]
and
[code]

So far I haven't found a single configuration that does show the authors field.

[2021-11-24 02:57] arduano commented on #13451
Oh and here's an example webhook payload:

[code]

[2021-11-25 15:06] #13165 closed

[2021-11-25 15:25] allouis commented on #13741
Ah okay - that's a shame - so have you completely erased your database?

I don't think this error is due to missing migrations, but with incorrect Stripe data in the database - I'm looking at a fix for it, but we'd like to try and replicate the issue to determine the exact cause.

[2021-11-25 17:21] ErisDS commented on #13740
Hi there 👋

I suspect this is an upstream issue in [mobiledoc-kit](https://github.com/bustle/mobiledoc-kit). So that we can be sure would you be able to test out the same key strokes in the mobiledoc kit demo here:

https://bustle.github.io/mobiledoc-kit/demo/

Please let us know if you can see the same issue when typing there or not.

Also, in terms of us being able to reproduce the issue, it wou

[2021-11-25 17:22] ErisDS commented on #13325
Hi there 👋

I suspect this is an upstream issue in [mobiledoc-kit](https://github.com/bustle/mobiledoc-kit). So that we can be sure would you be able to test out the same key strokes in the mobiledoc kit demo here:

https://bustle.github.io/mobiledoc-kit/demo/

Please let us know if you can see the same issue when typing there or not.

Also, in terms of us being able to reproduce the issue, it wou

[2021-11-25 17:27] ErisDS commented on #13748
Hi there 👋

This is an upstream issue in [mobiledoc-kit](https://github.com/bustle/mobiledoc-kit).

There's quite an old spike into getting it working here: https://github.com/bustle/mobiledoc-kit/pull/636

PRS resolving this issue would be very welcome :)

[2021-11-25 19:56] #13430 closed

[2021-11-25 19:58] ErisDS commented on #13611
@gaurav879 sure thing!

[2021-11-25 20:05] #13582 closed

[2021-11-26 06:07] baptiste00001 commented on #13740
Hello,

I can confirm that in the mobiledoc kit demo, Japanese words are duplicated.

Unfortunately, the issue has already been reported since 2019 on their github, including in [this thread ](https://github.com/bustle/mobiledoc-kit/pull/661), but was never fixed.

Concerning the keys pressed to reproduce the problem, I see the behavior in the mobiledoc kit demo and in Ghost editor to be a little

[2021-11-26 08:13] mnlttt commented on #13741
Are migrations included when you export your data? That's everything that's left.

<img width="439" alt="CleanShot 2021-11-26 at 09 11 22@2x" src="https://user-images.githubusercontent.com/37709016/143548232-f5f65814-502d-4d78-8d77-6ac65d6765ef.png">

[2021-11-26 11:52] fahadshery opened #13785 "can't create casper symlink error when mounting cifs share drive"
### Issue Summary

I have a cifs share that I mount to ubuntu server so that I could save blog data.
It works fine when mount the local drive but errors out when creating symlink:
[code]

### Steps to Reproduce

1. mount a cifs share by editing the `/etc/fstab` with the following parameters: `//your_nas_ip_address/blog_examplecom /mnt/truenas/blog_examplecom cifs rw,dir_mode=0777,file_mode=0666,ui

[2021-11-26 15:04] #13168 closed

[2021-11-26 16:10] fahadshery commented on #13785
I think we shouldn't be using `symlinks` specially when we mount an smb share. Here is more info: https://unix.stackexchange.com/questions/254678/why-cant-i-copy-symbolic-links

[2021-11-26 16:33] fahadshery commented on #13785
I found a workaround by adding the `mfsymlinks` option in the `/etc/fstab`. It can create symlinks now but I think we should avoid working with symlinks when creating docker images

[2021-11-27 13:43] Chetan11-dev opened #13787 "Feature: Signup suggestion"
### Issue Summary

You are losing business when you ask customers to login in through credit card (https://account.ghost.org/signup) due to spammers attacking your servers.
Why don't you simply ask them to login via google to prevent spammer attack.

### Steps to Reproduce

-

### Ghost Version

-

### Node.js Version

-

### How did you install Ghost?

-

### Database type

MySQL 5.7

### Browser

[2021-11-27 16:33] #13787 closed

[2021-11-27 18:55] qdupuy commented on #13736
output for collation :

[code]

products output :

[code]

And yes, before posting, I did some research and testing to correct myself. I don't make an issue as soon as I encounter an error and don't look for a solution first

[2021-11-28 12:24] Chetan11-dev opened #13788 "Increase Ghost Revenue"
### Issue Summary

Sorry If I am posting it at the wrong place. This is the most comfortable space to me. Hence I am posting it here.
You could increase your revenue if you could give efforts to your marketing. What I am coming at is Inbound Marketing(see https://www.google.co.in/books/edition/Inbound_Marketing/VKwD8lKzeEoC?hl=en).
Some concrete suggestion as per me:

   * Contact youtubers and of

[2021-11-28 14:18] MikeRossXYZ commented on #13715
Your tip about a vanilla browser worked for me! I'm a Firefox user and it wasn't working. I disabled all my extensions and the built-in tracking protection, but still no luck. Installed Chromium (shudder) and everything works fine. Not a solution, per se, but a good workaround while the Ghost team investigates.

[2021-11-28 16:20] #13788 closed

[2021-11-29 09:15] ErisDS commented on #13423
The cropping is not reproducible in Casper, which is the default theme. This clearly shows it's not a Ghost issue. Will move this to the Alto repo, but it may be a stylistic choice rather than a bug, in which case you may need to choose a different theme.

[2021-11-29 09:27] ErisDS commented on #13421
Reference material for the 125 character limit: https://moz.com/learn/seo/alt-text
Full discussion can be seen here: https://github.com/TryGhost/Ghost/pull/13030#pullrequestreview-680572215

We've followed accessibility guidelines and best practice here to the best of our ability.

I'm going to close as this is not a bug. We carefully consider data limitations before implementing them, not least b

[2021-11-29 09:27] #13421 closed

[2021-11-29 09:30] ErisDS commented on #13646
Thank you for the offer, although I think this kind of change is very subjective.

If you'd like to discuss contributing to Ghost there is a section on the forum for this: https://forum.ghost.org/c/contributing/27, There is much work that we'd love to have help with, and you'll see those tasks marked `help wanted` here in GitHub.

[2021-11-29 09:30] #13646 closed

[2021-11-29 10:29] mhansen commented on #13421
While many sites reference a 100/125 character limit, I think they're based on ancient folklore that no longer applies in 2021. None of them really cite their sources, except a few that reference JAWS 6.0.

e.g. JAWS 6.0, a 16-year-old version of the screen reader, is documented as having this 125-character limit: https://terrillthompson.com/tests/altlength.html.

Current versions of screen reader

[2021-11-29 15:09] #13177 closed

[2021-11-29 15:21] ErisDS commented on #13631
Ghost embeds use the oembed standard, therefore we are presenting Twitter embeds the way Twitter intends them to be presented.

Ghost does not set any cookies for Twitter. Twitter can only interact with its own cookies.

We've developed Ghost such that it can be used in a GDPR-compliant way, however anyone using Ghost will want to make their own decisions and should take the advice of their own le

[2021-11-29 15:21] #13631 closed

[2021-11-29 16:52] ErisDS commented on #13740
Ok great, thanks for providing this information. It seems to me that there may be a Ghost-specific bug around links.

A PR fixing this would be greatly appreciated by those using IME.

[2021-11-29 16:53] #13785 closed

[2021-11-30 15:09] #12861 closed

[2021-11-30 15:09] #12801 closed

[2021-11-30 15:09] #11871 closed

[2021-11-30 15:14] ibandim123 commented on #13700
Hi, let's me see... the color button his must by like that??
![image](https://user-images.githubusercontent.com/59544620/144073645-534569fb-eaf8-49a9-9cb7-b0ae0b7198b3.png)

[2021-12-01 05:20] rcmangnale commented on #8787
How can I Install the Liebling theme instead of Casper in local?

[2021-12-01 09:25] allouis commented on #13741
Closed via https://github.com/TryGhost/Members/commit/7f872adb0f8bd085b36039131599de067aef2dd0 and https://github.com/TryGhost/Ghost/commit/c55a138a58937d912b74747aa54abef1b724f536

[2021-12-01 12:16] tbhaxor opened #13810 "Add an option to ghost CLI to refactor unused image"
_Originally posted by @ErisDS in https://github.com/TryGhost/Ghost/issues/4311#issuecomment-59792273_

I see the images are not getting deleted when you delete them from the POST. There should be some feature in the CLI to find the unused images in the POST and allow us to delete them to free space. In my blog images folder is taking around 1 GB space which is a lot for 47 posts

[2021-12-01 12:45] Maxszik commented on #13810
@tbhaxor I just want to let you know there's another solution if you need to delete unused images: [ghost-purge-images](https://github.com/ghostboard/ghost-purge-images)

[2021-12-01 15:19] rkafp opened #13813 "Redirects Error"
### Issue Summary

URL redirects doesn't work properly if it has a structure like this

`/category/article/`
or
`/category/subcategory/article/`

------------------------------------------------
If You want to redirect the URL:
`/article/` to `/category/subcategory/article/`
or
`/article/` to `/category/article/`

the system will loop, so that it gives the wrong address which result is:

/category

[2021-12-01 16:41] matthanley commented on #13813
@rkafp this isn't a bug - you just need to use regular expressions to define your redirects as documented [here](https://ghost.org/docs/tutorials/implementing-redirects/#using-regular-expressions).

[2021-12-01 16:42] #13813 closed

[2021-12-01 16:47] #13810 closed

[2021-12-01 19:36] hyvyys opened #13821 "`#get` helper hides post context despite using `as |x|` clause"
### Issue Summary

I'm trying to conditionally display a related posts section based on the current post's primary tag, but `primary_tag` is unavailable once inside `get` (though not inside `foreach` yet):

[code]

Outside `{{#post}}` the problem persists too:

[code]

### Steps to Reproduce

1. Insert this snippet at the top of `post.hbs`:
[code]

2. Visit a post page

Result:
[code]
Desired beha

[2021-12-02 16:46] #13821 closed

[2021-12-02 18:18] frnode opened #13832 "RSS RFC-822 standard not valid for "fr" locale"
### Issue Summary

Hello,

I use Ghost CMS with the "French" ("fr") language, I wanted to implement the RSS feed available here: https://ghost.org/integrations/custom-rss/

But in French language it does not respect the "[RFC-822](https://www.rssboard.org/rss-validator/docs/error/InvalidRFC2822Date.html)" standard, because it translates the date into the defined language and there is no way to for

[2021-12-03 03:47] jyoung0519 commented on #13616
Hi @ErisDS  we'd like to give it a try to resolve this bug! We are a group of students currently in a software course, and were assigned a task of help contributing to an open-source project!

[2021-12-03 13:34] kuba-orlik commented on #13631
That's true, although this kind of data processing is not GDPR compliant. See [Judgement of the EU Court in Case C‑40/17](https://curia.europa.eu/juris/document/document.jsf?text=&docid=216555&pageIndex=0&doclang=EN&mode=lst&dir=&occ=first&part=1&cid=1254905), aka "Fashion ID", which shows that even embedding a "like" button makes the website admin responsible for properly gathering consent.

So t

[2021-12-03 16:55] Lucifer1590 opened #13837 "ghost restart Error on v4.25.1"
### Issue Summary

After updating ghost installation with ghost update it started getting updated but in the process of "ghost restart," it throws an error and exits. After manually running "ghost restart" error still persists ,

### Steps to Reproduce

1- Update to the latest version v4.25.1 through CLI by running ghost update
2- observe error while updating

### Ghost Version

Ghost-CLI version:

[2021-12-03 21:43] snird commented on #13837
I tried printing the object of `message` by `JSON.stringify()` the result was a Info log (and not an error, thus the rejection) - but nothing in this log was useful to understand the issue.

[2021-12-03 21:45] snird opened #13840 "Ghost downgrade?"
### Issue Summary

Version 4.25.1 is broken. It's the weekend, and there is no easy way to go back to 4.25.0.
As long as previous versions doesn't have db migrations, maybe we should be able to downgrade?

### Steps to Reproduce

Do "ghost update" on a version released on the weekend

### Ghost Version

4.25.1

### Node.js Version

14

### How did you install Ghost?

ubuntu at DO

### Database typ

[2021-12-03 22:08] snird commented on #13840
To get around the CLI stopping you from "downgrading" by `ghost update 4.25.0` (when you are at a broken 4.25.1 for example)
What can be done is to edit the `update.js` file on the GhostCLI directly:
`sudo nano /usr/lib/node_modules/ghost-cli/lib/commands/update.js`
then change the line here: https://github.com/TryGhost/Ghost-CLI/blob/56f9b6fb6f9da881ccc5d9fc32ca4850d84d33d5/packages/ghost-cli/lib

[2021-12-03 22:08] snird commented on #13837
@Lucifer1590 temporary solution if you have your site down right now: https://github.com/TryGhost/Ghost/issues/13840

[2021-12-04 10:56] JustroX commented on #13837
+1

[2021-12-04 11:02] Lucifer1590 commented on #13837
are you also facing the same issue?

[2021-12-04 11:03] JustroX commented on #13837
yes. I temporarily follow this #13840

[2021-12-04 11:25] daivdchau2021 commented on #13837
+1

[2021-12-04 12:10] yannickcof commented on #13837
+1 🤒🤕

[2021-12-04 20:37] yannickcof opened #13842 "Unable to add feature image"
### Issue Summary

After updating ghost from  4.25.0 to 4.25.1

### Steps to Reproduce

After updating ghost from  4.25.0 to 4.25.1

### Ghost Version

4.25.1

### Node.js Version

14.18.1

### How did you install Ghost?

ghost update

### Database type

Other

### Browser & OS version

_No response_

### Relevant log / error output

_No response_

### Code of Conduct

- [X] I agree to be friendly

[2021-12-04 22:08] #13842 closed

[2021-12-05 00:05] philheijkoop commented on #13837
Just want to add I am seeing this happening on new sites built through the DigitalOcean Marketplace's Ghost listing.

[2021-12-05 00:37] philheijkoop commented on #13840
From a fresh install (no db migrations) that suffered from #13837 , this allows me to "downgrade" the version, and no errors return for `ghost doctor`, but site is still down.

[2021-12-05 01:13] gonzolively opened #13843 "Cannot destructure property 'message' of 'message.error' as it is undefined."
### Issue Summary

After a fresh install of ghost 4.25.1 on Ubuntu 20.04 I get the following error message:

"TypeError: Cannot destructure property 'message' of 'message.error' as it is undefined."

This does not seem to prevent Ghost from starting, though I spent quite a while thinking it did as it looks more severe than it is.

### Steps to Reproduce

1. Install ghost 4.25.1
2. run 'ghost start

[2021-12-05 09:55] nt-nguyencse commented on #13843
I got the same problem.

[2021-12-05 10:14] LevTramana commented on #13843
Same issue

[2021-12-05 10:17] LevTramana commented on #13837
+1

[2021-12-05 23:08] gnimmelf opened #13844 "Inline Partials stopped working sometime after v3.42.5"
### Issue Summary

[Inline Partials](https://handlebarsjs.com/guide/partials.html#inline-partials) stopped working somtime after v3.42.5.

### Steps to Reproduce

Define inline partial slots in `partials/_templates/cards.hbs` like this

[code]

Use the slots in a file like this:
[code]

### Ghost Version

4.9.4

### Node.js Version

14.x (Node v14 Fermium LTS)

### How did you install Ghost?

Offi

[2021-12-06 06:52] Lucifer1590 commented on #13843
yah there is some bug in 4.25.1 just downgrade as mentioned in #13840

[2021-12-06 08:10] daniellockyer commented on #13843
Closing as duplicate of https://github.com/TryGhost/Ghost/issues/13837.

[2021-12-06 08:10] #13843 closed

[2021-12-06 08:25] daniellockyer commented on #13837
Hey all 👋🏻 Apologies for this. A fix has been pushed to Ghost and it will be released soon. 4.25.1 has been deprecated in NPM so it should no longer be installed.

If you've upgraded from <4.25.1, you should still have your old version in the `versions/` folder, so you can run `ghost update --rollback`.

If you freshly installed 4.25.1, or the above command doesn't work, you can run `ghost update

[2021-12-06 08:26] daniellockyer commented on #13840
Please see https://github.com/TryGhost/Ghost/issues/13837#issuecomment-986544022 for instructions for the issue this relates to. We'll be reviewing tooling and documentation on rollbacks shortly 🙂

[2021-12-06 08:26] #13840 closed

[2021-12-06 08:49] Lucifer1590 commented on #13837
after doing this my ghost rolled back to v4.24.0 not v4.25.0 was that intentional 🤔🤔

[2021-12-06 11:27] hyvyys commented on #5162
Is there a way to get current route/path from the navigation and use it to conditionally render something else? E.g. a featured posts section based on a tag.

[2021-12-06 13:39] daniellockyer commented on #13837
This is resolved in v4.26.0 so please update with Ghost-CLI 🙂

[2021-12-06 13:39] #13837 closed

[2021-12-06 19:50] danimajo commented on #13616
I tried to reproduce this, but failed. Could you please explain each step to reproduce this behavior?

[2021-12-06 22:05] #13647 closed

[2021-12-07 19:52] danimajo commented on #13280
In server services/mega/mega.js

In getfromadress:

`const siteTitle = settingsCache.get('title') ? settingsCache.get('title').replace(/"/g, '\\"') : '';`
`return siteTitle ? '"${siteTitle}"<${fromAddress}>' : fromAddress;`

So it's always the siteTitle as name from (if siteTitle is set).
In my opinion we would need a new setting (members_from_name) for that

I can work on it, if needed.

[2021-12-09 16:42] JBYoshi commented on #13097
This is reproducible with just mobiledoc-kit, so I'm moving the issue there.

[2021-12-09 16:42] #13097 closed

[2021-12-09 18:05] #13325 closed

[2021-12-09 18:41] Gymnae commented on #11843
I am also suffering from this bug, please reopne

[2021-12-10 12:41] fueko opened #13874 "Global css setting causes problems for new cards"
### Issue Summary

New cards like NFT, for example, use the global setting (present in official Ghost themes):

[code]

However, not all themes have this setting defined, which causes content problems:

![Zrzut ekranu 2021-12-10 o 13 26 12](https://user-images.githubusercontent.com/23366922/145574672-2557474f-64e6-4c68-9161-b8137ca6a315.png)

A solution could be to add code but only for editor car

[2021-12-11 02:12] nag opened #13876 "Slugify heading IDs instead of escaping?"
### Issue Summary

This is how the IDs look now in Cyrillic (russian):

![image](https://user-images.githubusercontent.com/35629662/145660197-8f6f25e8-4bc7-446b-9f53-45e63f7f0d6a.png)

They should look something like this:

![image](https://user-images.githubusercontent.com/35629662/145660270-0c0bfe43-0fd7-45ef-b758-d9c224e1a6da.png)

Is this the correct behavior? I expected IDs to be generated in

[2021-12-11 11:16] justin-carver commented on #13616
Was able to reproduce this following these steps:

1. Install Ghost
2. Select night-shift toggle on bottom-left of home page after account creation.
3. Create post, enter markdown block, begin `<kbd>` tag.
4. `<kbd>` tag unfortunately has `ghost-dark...` css color property set to: `#e8ebed`, should be something darker, like `#394047`, which is default for light theme.

Was able to correct issue lo

[2021-12-11 19:16] HujinoKun commented on #13736
Already answered with informations

[2021-12-11 19:33] danimajo commented on #13616
I fixed this in admin - Here is the PR: https://github.com/TryGhost/Admin/pull/2176

[2021-12-12 17:10] jyoung0519 commented on #13700
We are a group of 3 students looking to contribute to an open-source project for a university assignment. We would like to give this one a shot!

[2021-12-12 20:01] aq1 commented on #13832
True, true. Hoped there is solution but I guess there isn't

[2021-12-13 08:25] qdupuy commented on #13736
@daniellockyer Re-open this issue plz

[2021-12-13 19:06] vednig opened #13882 "Can't install a ghost instance"
### Issue Summary

Running 'ghost install local' causes error
OS: Debian 11/Raspberry Pi OS and Windows 10
### Steps to Reproduce

After installing ghost-cli via npm
run ghost install local

### Ghost Version

1.18.1

### Node.js Version

16.13.x / 14.7.1

### How did you install Ghost?

Windows 10 and  Linux

### Database type

SQLite3

### Browser & OS version

_No response_

### Relevant log /

[2021-12-14 13:46] daniellockyer commented on #13882
Hey @vednig! 👋🏻 The logs you've pasted seem to show it's an internet connection issue. Can you check your internet and try `ping registry.npmjs.org`?

Closing as this is not a issue with Ghost 🙂

[2021-12-14 13:46] #13882 closed

[2021-12-14 17:13] temabu opened #13891 "Adding button - text on button not showing when in preview or published."
### Issue Summary

Adding button - text on button not showing when in preview or published.  Using the new button feature the text added to the button does not show when the button is displayed.

Version: 4.27.2 (Docker version)
Environment: Production
Database: sqlite3
Mail: Direct
Ubuntu 18.04.5 LTS

### Steps to Reproduce

1. In post - add a button and text and a URL
2. Preview post or publish

[2021-12-15 07:32] stromfeldt opened #13894 "Audio file duration missing digit in editor"
### Issue Summary

Although the length of a particular audio file appears correct in the preview of a post:
<img width="761" alt="Screen Shot 2021-12-15 at 6 10 58 pm" src="https://user-images.githubusercontent.com/27488257/146140685-9649aea6-95ef-4a1d-83e0-d3069a4a601b.png">

When looking at the audio card of that same audio file in the editor it is missing the first digit in the seconds column,

[2021-12-15 09:21] temabu commented on #13891
apologies - you can ignore this - I suspect the theme I was using wasnt updated.  With Casper (and now the latest version) this doesnt occur.

[2021-12-15 09:21] #13891 closed

[2021-12-15 14:25] artem-zinnatullin opened #13896 "Docker Hub releases are always out of sync with Ghost NPM/GitHub releases"
### Issue Summary

I use Ghost Docker Hub images and track [releases on GitHub](https://github.com/TryGhost/Ghost/releases), however I've noticed that Docker Hub releases seem to always be out of sync usually by couple days.

Are Docker image releases manual?

If so — I can make a PR to add [Docker image publishing](https://docs.github.com/en/actions/publishing-packages/publishing-docker-images) t

[2021-12-15 14:29] #13896 closed

[2021-12-16 02:29] thebertian opened #13900 "MySQL Queries Not Using Indexes"
### Issue Summary

This is not a bug report but a MySQL diagnostic warning that potentially indicates less-than-optimal MySQL performance in Ghost.

I run a self-hosted instance of Ghost with all dependencies installed in the same virtual machine. [MySQLTuner-perl](https://github.com/major/MySQLTuner-perl) continually (since installation 4 months ago, through multiple versions of each Ghost compon

[2021-12-16 08:17] #13894 closed

[2021-12-16 10:37] daniellockyer commented on #13894
Hey @stromfeldt! 👋🏻 This was fixed and released in v4.31.0 🙂

[2021-12-16 14:40] sampathcredid opened #13905 "Admin API feature_image_alt in posts not working as expected"
### Issue Summary

<img width="202" alt="Screenshot 2021-12-16 at 7 56 41 PM" src="https://user-images.githubusercontent.com/96100760/146390483-9bca5f48-e7cf-4bb6-8d08-810e90a38d34.png">

Can't set or read feature_image_alt on admin API.
when set it from admin API it return an error
 status: 422,
    statusText: 'Unprocessable Entity',

### Steps to Reproduce

Just set feature_image_alt. on post o

[2021-12-17 14:33] peterzimon commented on #13874
Fixed with https://github.com/TryGhost/Ghost/commit/25748f420ce60a4fd498df58a2834293b015a2b5

[2021-12-17 14:33] #13874 closed

[2021-12-17 16:51] Nimw29 opened #13910 "Delete ACC"
https://github.com/ghost

[2021-12-17 18:55] danimajo commented on #13648
@ErisDS @matthanley any feedback on my PRs?

[2021-12-18 13:38] Aditya99111 opened #13911 "The currently active theme "casper" is missing."
### Issue Summary

i recently hosted ghost cms on heroku. but when i try to reach the url it shows me this message "The currently active theme "casper" is missing."
URL -- https://guild-masters-den.herokuapp.com/
i hosted it there by clicking on deploy on heroku on this url - https://miguelpiedrafita.com/ghost-heroku
Please help me!!

### Steps to Reproduce

open the blogs page

### Ghost Version

[2021-12-18 19:49] yannickcof opened #13913 "unable to upload/add new video card"
### Issue Summary

.../unable to upload/add new video card

### Steps to Reproduce

since 4.30.0

### Ghost Version

4.32.0

### Node.js Version

14.18.2

### How did you install Ghost?

linux

### Database type

Other

### Browser & OS version

_No response_

### Relevant log / error output

[code]

### Code of Conduct

- [X] I agree to be friendly and polite to people in this repository

[2021-12-19 16:15] jorisbontje opened #13914 "AMP: Google Search Console > AMP page is invalid"
### Issue Summary

Google Search Console reports

**AMP page is invalid**
**It won't appear in Google Search results.**

<img width="774" alt="Screenshot 2021-12-19 at 17 13 10" src="https://user-images.githubusercontent.com/620959/146682163-e161916a-be2c-4dd4-af61-e7be6eba5bb5.png">

Issues (4x)
Usage of the !important CSS qualifier is not allowed.
Issue documentation: https://amp.dev/documentati

[2021-12-19 22:49] jorisbontje commented on #13914
See PR #13912 for a fix.

[2021-12-20 03:57] ever-blogger opened #13915 "Product Card bug"
### Issue Summary

Browser crush when exit from Product card

### Steps to Reproduce

1. Call product card
2. Exit exit product card edit

### Ghost Version

Latest 4.32

### Node.js Version

Latest

### How did you install Ghost?

Digital Ocean one click install

### Database type

MySQL 8

### Browser & OS version

Firefox windows 11

### Relevant log / error output

_No response_

### Code of C

[2021-12-20 10:38] DevSchmidtchen opened #13916 "Error while executing migration 01-add-oauth-user-data.js"
### Issue Summary

I wanted to update my Ghost installation from version 4.10.0 to the latest version (4.32.0). Doing that I encountered an issue with the database migration (`01-add-oauth-user-data.js`), which says `Referencing column 'user_id' and referenced column 'id' in foreign key constraint 'oauth_user_id_foreign' are incompatible`. The error also occurred when trying to update to version 4

[2021-12-20 14:00] qdupuy commented on #13736
Up

@daniellockyer

If you are missing information, don't hesitate to contact me

[2021-12-20 17:41] ilyazub commented on #13914
Experiencing the same.

![image](https://user-images.githubusercontent.com/282605/146808807-6a103f5b-67f1-46b3-9350-b8692e689af1.png)

Those CSS rules were added in 5dc30ba6a9e64da19a61a4f65fdec8640a1792a2.

@moreofmorris can you take a look?

[2021-12-20 20:39] pesla opened #13918 "Gateway timeout (504) when signing up using an offer"
### Issue Summary

Whenever a user signs up using an offer, the endpoint `members/api/create-stripe-checkout-session` times out (`504` response code). The user is presented with a generic error message (`Failed to sign up, please try again`).

We’re running Ghost `4.27.2` on a Digital Ocean droplet (`Ubuntu 18.04.4 LTS`). The following payload is posted to the API endpoint mentioned above:

[code]

[2021-12-21 11:17] limosin commented on #10396
There is some difference between the `reading_time` returned by this and the reading time we get when we request for all the fields.

[2021-12-21 17:34] ilyazub commented on #13914
ghost.org itself has invalid AMP pages for now.

https://validator.ampproject.org/#url=https%3A%2F%2Fghost.org%2Fchangelog%2Fheaders%2Famp%2F
https://search.google.com/test/amp/result?id=kzpnUIU7WLmCK7fT7Ef_Tg

![invalid AMP page on ghost.org](https://user-images.githubusercontent.com/282605/146973699-586bf912-a286-4f20-b2d0-93332c72cfbb.png)

[2021-12-21 17:53] danimajo opened #13919 "yarn setup fails on windows"
### Issue Summary

When setting up a dev env on windows, `yarn setup` fails

[code]

Error is in grunt symlink when creating symlinks for githooks

This works in wsl, but not in native windows - maybe the solution is to use only wsl.

### Steps to Reproduce

On Windows (not wsl!)

Follow: https://ghost.org/docs/install/source/

Fails on yarn setup

### Ghost Version

4.32.0

### Node.js Version

1

[2021-12-21 20:08] philipschilling opened #13920 "Meta description is not shown when empty but excerpt is available"
### Issue Summary

I assume that the behaviour for the meta description shall be the same like for the Facebook Opengraph or Twitter Card description: When it is empty take as fallback the description from the excerpt field.
<img width="452" alt="Screenshot 2021-12-21 at 20 56 27" src="https://user-images.githubusercontent.com/4956295/146990577-cbc853af-94f9-4637-ba47-11f6de1c3058.png">

While it

[2021-12-22 17:03] danimajo commented on #13216
See https://github.com/TryGhost/Members/pull/355

[2021-12-26 03:17] ecda909 opened #13921 "Ghost “View site” Page Not Updating With Gatsby Front-End"
### Issue Summary

I’m currently trying to build a Gatsby front-end and Ghost CMS backend deployment locally (Mac OS). I’ve spun-up the Ghost instance and I’ve also configured everything on the Gatsby side of things using instructions from here: **GitHub - TryGhost/gatsby-starter-ghost: A starter template to build lightning fast websites with Ghost & Gatsby**. Everything is running fine on the fro

[2021-12-29 05:55] mackenly opened #13923 "Product Card Title Dark Mode Styling Bug"
### Issue Summary

When in dark mode the title field of the product card takes on the styles of this class: `.kg-product-card-title h4` which makes it impossible to read.

When editing:
![Screenshot 2021-12-29 003150](https://user-images.githubusercontent.com/53151058/147631400-0d1d8c4d-a4da-483f-a88e-309470c2be2b.jpg)

When not editing:
![Screenshot 2021-12-29 003208](https://user-images.githubus

[2021-12-29 15:04] #13174 closed

[2021-12-30 11:54] xilou31 commented on #13914
I have the same problem with 4.32.0, how can I fix it, is it "ghost update" or something?

[2021-12-31 01:29] seanhamlin commented on #13914
Looks like the fix was committed to main in https://github.com/TryGhost/Ghost/commit/76cde7918687304af21b3f89c8ca51399f9d3bea, we just need a release of ghost now (4.33 anyone?)

[2022-01-03 02:31] resistor opened #13925 "RSS feed leaks members-only content"
### Issue Summary

I am bringing up a blog (http://tiam.at), and noticed that a members-only post ("Members test") is visible in the RSS feed (http://tiam.at/rss/).

This seems like a significant privacy issue, since members-only posts can potentially contain sensitive information that should not be visible to non-members.

### Steps to Reproduce

* Visit https://tiam.at and observe that member si

[2022-01-03 05:48] #13925 closed

[2022-01-03 08:56] #13911 closed

[2022-01-03 09:00] matthanley commented on #13913
Hey @yannickcof - I've been unable to reproduce this issue with the few details you've given. Feel free to comment with a full reproduction case on a fresh install.

[2022-01-03 09:00] #13913 closed

[2022-01-03 09:03] #13914 closed

[2022-01-03 09:51] #13921 closed

[2022-01-03 09:53] matthanley commented on #13919
Ghost is primarily written for & tested on unix/linux/mac based environments but we're happy to accept PRs fixing this.

[2022-01-03 10:09] #13918 closed

[2022-01-03 10:13] matthanley commented on #13916
Hey @DevSchmidtchen - see [this comment](https://github.com/TryGhost/Ghost/issues/13426#issuecomment-966264799) for the resolution.

[2022-01-03 10:13] #13916 closed

[2022-01-03 10:16] matthanley commented on #13915
Hey @ever-blogger - I've been unable to reproduce this issue. Please add a more detailed reproduction case so we can investigate further.

[2022-01-03 14:40] ErisDS commented on #13278
Hi @JPrasad21, apologies for the slow reply here.

Ghost is designed to upload any image, not convert it to base64. I've never heard a report of it doing this before, nor can I reproduce it. I've tried dragging and dropping from file, from apple photos and using both the image and gallery cards.

Could you please provide the exact reproduction steps you used to create this effect, including how yo

[2022-01-03 14:43] ErisDS commented on #13905
The Ghost editor uses the Admin API to set the feature image alt and it is working just fine. Therefore this must be an issue with your code. Please provide the full reproduction steps for how you are setting the value & sending it to the server... the more code and details the better.

[2022-01-03 19:09] #13920 closed

[2022-01-04 10:10] daniellockyer commented on #13736
@qdupuy Can you confirm you have tried updating to the latest Ghost version?

[2022-01-04 13:35] qdupuy commented on #13736
@daniellockyer  Yes,

Trying with 4.32.0

Error :

[code]

[2022-01-04 20:52] luckymayokashi commented on #13905
Hello! I am going to hijack this post a bit and also include some more details as I am running into the same issue.

I am using the out-of-the-box content-api in a NextJS project, using it as a headless API. Here are the steps I am going through.

[code]

This is the function that I am using to grab the content from the API for blog post pages.

[code]

This is the function I'm using within getSta

[2022-01-05 03:47] kumarrus commented on #13700
Hi, I would like to fix this issue. Can I take this bug?

I've looked into this issue and its because of conflicting CSS styling rules on hover for the two classes associated with the button `gh-btn-black` and `gh-publishmenu-button`:

[code]

The text color can be changed from `#fff` to something darker like `#394047` or `var(--white)`. But that will be inconsistent behavior with similar green bu

[2022-01-05 04:31] pehunter commented on #13919
Don't know if you tried this yet, but running command prompt as an administrator worked for some reason.

[2022-01-05 06:42] touzoku commented on #13832
@ErisDS any chance to get #13892 merged? Our RSS is a mess 😿

[2022-01-05 15:37] qdupuy commented on #13736
Of course,

Output :

[code]

[2022-01-05 17:21] matthanley commented on #13905
Hey @luckymayokashi - the fields referenced in the original issue above aren't available in the `v3` API - updating your code to use the `v4` API version should fix it for you.

[2022-01-05 17:50] luckymayokashi commented on #13905
@matthanley Ah, and just like that, it's working. Should have checked that first. Thank you for the help!

[2022-01-06 19:50] alexbaileyuk commented on #13900
MySQL indexes have benefits and drawbacks like most relational DB's. Not everything needs an index and it won't solve every problem. On instances with low memory allocation, it might not help at all. You have to be especially careful about tools and articles online because they can suggest blankey solutions which may not be relevant in all cases.

@thebertian Does the tool give you any examples of

[2022-01-06 21:43] dichotommy opened #13931 "Docs: MarkDown rendering problem"
### Issue Summary

Hey there 👋🏻 I found a trivial MarkDown rendering problem in your documentation. I would normally open a PR for this kind of thing, but I see that your docs are closed-source, so I'm instead creating an issue here (in **explicitly the wrong place** 😬 ). I hope it's not a problem, and feel free to close this issue if it is.

There is a small MarkDown rendering problem in [this tu

[2022-01-07 13:53] matthanley commented on #13319
The animation is stripped by the sharp optimisation, which we don't want to skip right now. We'd be happy to review a PR that adds support for animated webp images while retaining optimisations for static images though.

For now, we've recently released native editor support for [inserting gifs](https://ghost.org/changelog/gifs/) into posts which is the best alternative.

[2022-01-07 14:00] matthanley commented on #13931
Thanks for the report - this has now been fixed 🎉

[2022-01-07 14:00] #13931 closed

[2022-01-07 16:51] matthanley commented on #13876
Hey @nag - this behaviour is [by design](https://github.com/TryGhost/Koenig/commit/5f0c2fb8bc22042caf9948781ccc26d003e22533), so that

[2022-01-07 16:51] #13876 closed

[2022-01-07 17:37] matthanley commented on #13268
Hey @websitehelperuk - this doesn't appear to be a bug in Ghost but an issue with a custom theme, and we ask that you please do not use GitHub for help or support 😄. We use GitHub solely for bug-tracking and on-going feature development.

Thanks!

[2022-01-07 17:37] #13268 closed

[2022-01-07 17:48] websitehelperuk commented on #13268
I reported a bug, if it’s not a bug that is all you need to say.

I didn’t come to request support.

[2022-01-07 18:28] moreofmorris commented on #13616
Thanks for this @danimajo! This has now been merged into main. https://github.com/TryGhost/Admin/commit/8591f893bc27cbdffdb88e2e7d9ac37a0bb86ffc

[2022-01-07 18:28] #13616 closed

[2022-01-08 20:25] martinszy opened #13939 "Debian compatibility"
### Issue Summary

Hi, I'm attempting to install Ghost in a Debian GNU/Linux 9.13 (stretch) -- yes, I know it's not supported. There are errors with MariaDB.

My MariaDB version is 10.1.

### Steps to Reproduce

Setup run fine. Except the part where a new mysql user needed to be create for Ghost but the documentation assumes Ghost will run as root in mysql.

So a few extra steps were involved:
`Ma

[2022-01-08 22:16] nscalf561 commented on #12871
Can we reopen this issue?  I'm still seeing this issue, and it is impacting email deliverability for all users.

[2022-01-09 19:34] kumarrus commented on #13923
Hi, I'm a new contributor. Can I take this bug?

[2022-01-09 19:42] kumarrus commented on #11084
@naz Is this issue still relevant? If yes, can I take up this issue?

[2022-01-09 20:58] buarle opened #13940 "Cannot edit pages with metadata set"
### Issue Summary

Environment
Version: 4.32.0
Environment: Production
Database: mysql (MariaDB 10.4)
Mail: SMTP

In general updating and creating pages is possible as long as the page has no metadata fields modified and you are not modifing them currently.
When there is metadata set, no modifiation is possilbe anymore.

Please advice how to proceed.

Thanks a lot,

Markus

### Steps to Reproduce

[2022-01-10 02:02] ever-blogger commented on #13915
I also couldn't reproduce the same issue from my end recently, maybe it has fixed after several updates.

[2022-01-10 03:29] adamhenson opened #13941 "AMP disallowed `!important` CSS qualifier"
### Issue Summary

I received a notification from Google Search Console explaining that a problem with my page could cause it to not show up in search results.

<img width="357" alt="Screen Shot 2022-01-09 at 10 18 02 PM" src="https://user-images.githubusercontent.com/747743/148715125-a1fe05e8-5f92-49de-aebf-c581c03f6851.png">

When viewing source of `/amp` pages... I do see the `!important` CSS q

[2022-01-10 08:12] qdupuy commented on #13736
Hello @matthanley

Re-open this issue please.

ghost migration from the version 4.8.3 to the 4.9.3 version,

Kubernetes version : 1.20

Mariadb version : 10.5.11

if you have the sql query to reproduce the creation of the products_benefits table, i would like to have it in order to do a new migration test

[2022-01-10 10:21] daniellockyer commented on #13941
Hey @adamhenson! 👋🏻 This was [fixed](https://github.com/TryGhost/Ghost/commit/76cde7918687304af21b3f89c8ca51399f9d3bea) and released in 4.32.1 so please update using Ghost-CLI 🙂

[2022-01-10 10:21] #13941 closed

[2022-01-10 10:45] djordjevlais commented on #13923
Hey @kumarrus, this has already been fixed [here](https://github.com/TryGhost/Admin/commit/3bea5825921c71f26e20c7abfa8516a4d2f43d63) and it will be included in the next release. Hope you find something else that looks interesting to you :)

[2022-01-10 10:45] #13923 closed

[2022-01-10 10:50] xdivby0 opened #13942 "/edit url suffix for authors redirects to wrong admin url"
### Issue Summary

When you are viewing an author page e.g. `/author/ghost`  and add `/edit` to it, the redirect goes to `/ghost/#/staff/ghost`, but should go to `/ghost/#/settings/staff/ghost`.

### Steps to Reproduce

1. Navigate to an author page
2. Add  `/edit` to the url

Result: Page not Found

### Ghost Version

4.32.0

### Node.js Version

14.18.2

### How did you install Ghost?

Dockerize

[2022-01-10 11:49] adamhenson commented on #13941
Thanks @daniellockyer

[2022-01-10 13:13] buarle commented on #13940
FYI:
As a workaround you can delete the metadata within the database. After that editing is possible. Re-creating the metadata to re-importing it into the database does not work.

[2022-01-10 13:51] adamhenson commented on #13941
@daniellockyer - do you know when Docker versions are published? It would be great to publish this one. Even though it's a patch - the negative impact is pretty severe.

I tried with the `latest` tag and it installed `4.32.0`.

I also tried to install directly with Ghost-CLI within the container and I got the error seen below.

[code]

[2022-01-10 16:58] #13942 closed

[2022-01-10 17:00] matthanley commented on #13942
Hey @xdivby0 thanks for the report - this has now been resolved.

[2022-01-10 17:01] #13915 closed

[2022-01-10 17:21] #13939 closed

[2022-01-10 22:34] richtaur opened #13951 "Product Card button text color same as background color"
### Issue Summary

The text inside a Product Card button is the same color as the background, making it invisible. This only happens when viewing the site, not editing it. (This happens in 3 different themes I tested, but not in Casper.)

When editing:
![product_card_1_editor](https://user-images.githubusercontent.com/24601/148848169-8746a51c-af56-4e01-b4c3-2c155b3355df.png)

When not logged in:
!

[2022-01-11 08:47] daniellockyer commented on #13941
@adamhenson The Docker images for Ghost are unofficial, but it seems they've already been published: https://github.com/docker-library/ghost/commit/a710352ab58e65982bc7e1abaa2ae06d5eb068bb

[2022-01-11 13:46] apodimi opened #13956 "ghost install local fail on windows 11"
### Issue Summary

I tried to download ghost on local but I get this error

[code]

I am not sure if this is a bug or I do something wrong but I tried to downgrade yarn and also tried to download an older version of ghost but everytime i take the same error.

### Steps to Reproduce

1. Run `ghost install local `
2. Success

### Ghost Version

4.32.1

### Node.js Version

16.13.1

### How did you i

[2022-01-11 13:55] apodimi commented on #13956
Sorry but I just realise there is another repository for the Ghost-CLI.

[2022-01-11 13:55] #13956 closed

[2022-01-11 15:28] adamhenson commented on #13941
Awesome - thanks @daniellockyer! And sorry - didn't realize the Ghost Docker official image isn't truly official :D Yes, I noticed that in GitHub yesterday too, but DockerHub was only reflecting `4.32.0`. But, today - sure enough DockerHub is reflecting `4.32.1` 🙌

I just had to recreate with the latest and all good! (`kubectl rollout restart ...`)

<img width="413" alt="Screen Shot 2022-01-11 at

[2022-01-11 15:39] matthanley commented on #13940
Hey @buarle - I've been unable to reproduce this with arbitrary metadata. Could you provide more information on which fields you're updating that are causing the error?

[2022-01-11 16:33] buarle commented on #13940
Hi Matt,

in that stage I am unable to do any changes to the page. The condition is that the page needs to have metadata.

Also creating a fresh page and setting any kind of metadata prohibits me from publishing / saving anything.

I do not have any further logs than states unless somebody advises me how to gather them.

Best,
Buarle

[2022-01-12 04:47] minimaluminium commented on #13951
Hey @richtaur, I've just checked your site and found that the Edition theme installed on your site isn't up-to-date. If you're seeing the issue on other official themes as well, make sure you're using the latest copy of the themes.

[This](https://edition.ghost.io/p/f369fdf6-24c3-40cd-b50f-b94fb62fdb50/) is how it looks on Edition theme demo site.

[2022-01-12 04:47] #13951 closed

[2022-01-12 05:05] richtaur commented on #13951
Ahh yes that was it, thanks!

[2022-01-12 18:18] tpatel commented on #13844
On a second read, the issue is a special case that isn't supported yet by gscan, it's the next thing on my todo-list.
Sorry for the false hope, although it will be much easier now that I've release the basic support for inline partials.

[2022-01-13 08:45] torstenzander opened #13971 "AssetHelper not working with svg"
### Issue Summary

The asset helper does not work with svg images using # because it adds a query param.

### Steps to Reproduce

[code]

Using this does not show the svg images it renders to:
xlink:href="/assets/images/solid.svg#minus?v=094ca0c660"

When I remove the param it works fine and also of cource if  I don't use the helper but this raises a gscan error

### Ghost Version

4.32.0

### Nod

[2022-01-13 10:55] ZsharE opened #13973 "No metadata on author's articles pages"
### Issue Summary

The metadata are not generated on the author's article pages, except the first page.

### Steps to Reproduce

1. Go to an author page, for example: https://alto.ghost.io/author/kelly/ .  I choosed Alto theme because is _Powered by Ghost_.
2. View source this page. The metas are generated.
[code]
3. Next, go to the second page of the author's articles: https://alto.ghost.io/autho

[2022-01-13 20:12] zsid opened #13975 "Invite new staff user scroll is broken"
### Issue Summary

Hi. I am just starting with ghost and playing around the dashboard. I have discovered that when you want to invite new staff members, the scroll behaviour of the modal/popup is broken - not scrolling at all.

### Steps to Reproduce

Open Settings -> Staff -> Invite people

<img width="1275" alt="Screen Shot 2022-01-13 at 22 09 25" src="https://user-images.githubusercontent.com/1

[2022-01-14 13:32] tpatel commented on #13844
The inline partials are now marked as valid again in gscan `v4.22.0` and in the Ghost main branch ✅  It will be in the next Ghost release.

[2022-01-14 13:32] #13844 closed

[2022-01-14 17:26] ErisDS commented on #13973
Hi @ZsharE thanks for the report.

This is expected behaviour for subsequent results pages, we stop outputting metadata to prevent having lots of duplicate pages with the same metadata, which doesn't look great to search engines.

[2022-01-14 17:26] #13973 closed

[2022-01-14 17:27] ErisDS commented on #13971
Hi @torstenzander thanks for the report. A PR that fixes this issue would be very welcome :)

[2022-01-14 18:43] ThomasArdal commented on #13973
I totally understand why you wouldn't want to include duplicate meta tags which would cause warnings in various website validators too. Having no meta description on page 2, etc. also creates warnings. So, with the current solution, you cannot avoid getting these warnings. I believe I have seen other tools mark page 2 and forward on a paginated result with a `nofollow` meta robots element. Would b

[2022-01-15 11:05] gnimmelf commented on #13844
Excellent! Thanks for picking this up!

[2022-01-15 21:22] SamHasler opened #13979 "Audio Card does not render once published"
### Issue Summary

Audio cards render like this and cannot be interacted with:
![image](https://user-images.githubusercontent.com/54277/149637926-59c77453-6b54-4cbd-8230-9fb0c9046648.png)

### Steps to Reproduce

1. Insert and Audio card into a post
2. Publish the post
3. View the post

### Ghost Version

4.32.3

### Node.js Version

v14.17.0

### How did you install Ghost?

npm install -g ghost-c

[2022-01-16 14:40] foolioo opened #13981 "adsense integration"
### Issue Summary

I have followed [Display ads in specific areas of your site using Ad units](https://ghost.org/integrations/google-adsense/#display-ads-in-specific-areas-of-your-site-using-ad-units) on ghost.org.

![image](https://user-images.githubusercontent.com/28758375/149662681-c2a65bb3-0fd5-4112-ba3b-2b557348a9f5.png)

although I did just that, there are no ads (attached a screenshot) and

[2022-01-16 16:55] spirosag opened #13982 "Pasted markdown text does not render properly"
### Issue Summary

When text containing markdown is pasted into the editor, the markdown is not parsed. I don't mean in a markdown box, but in the regular editor. If you write the markdown by hand it renders correctly.

### Steps to Reproduce

1. Open the ghost editor
2. Write `HH some text`
3. Observe that as you press the space after `HH` the editor parses the markdown and changes the format acc

[2022-01-17 01:40] tiendq opened #13983 "Metadata is not populated with ghost_head tag"
### Issue Summary

Metadata is not populated with `ghost_head` tag e.g. `og` tags.

### Steps to Reproduce

1. `ghost install local`, default configuration
2. View a pre-created post e.g. http://localhost:2368/design/
3. No `og` tag
4. Add Facebook title, description manually for this post
5. View again, still no `og` tag

### Ghost Version

4.31.0

### Node.js Version

v14.17.0

### How did you i

[2022-01-17 14:11] idmacdonald opened #13986 "invalid opcode in libvips-cpp.so.42 when resizing images crashes Ghost"
### Issue Summary

I am having problems similar to what has been reported in #12967 when uploading images to Ghost. It seems there is still some sort of problem with the sharp module and libvips on Ubuntu focal. The kernel reports `traps: node[189195] trap invalid opcode ip:7fa9b6137dfb sp:7ffe10b72c70 error:0 in libvips-cpp.so.42[7fa9b5e2a000+aac000]` and then Ghost dies and respawns, if being ru

[2022-01-17 14:17] idmacdonald commented on #13986
This seems very similar to the problems that have been reported in #12967 and #13225, I am seeing it on Debian and Ubuntu, with a manual installation of Ghost as well as when running the official Docker image.

[2022-01-17 14:50] ErisDS commented on #13981
The 400 is coming from adsense, not Ghost. I'd hazzard a guess that it's a domain mismatch, but I don't know enough. Either way, definitely not a Ghost bug so the best place to get help would be our [community](https://forum.ghost.org/).

[2022-01-17 14:50] #13981 closed

[2022-01-17 14:57] ErisDS commented on #13986
I hear that this is very frustrating, but the most useful thing to do here would be to raise this on the [sharp](https://github.com/lovell/sharp) repo, making sure to provide sample images as all the relevant codepaths are in their module and not ours :)

Sharp is totally optional, so the best way around it short term would be to do `yarn remove sharp` in your install and remove it. Then Ghost won

[2022-01-17 14:57] #13986 closed

[2022-01-17 15:07] #13278 closed

[2022-01-17 15:19] #13983 closed

[2022-01-17 15:25] ErisDS commented on #13986
Also to followup - whilst I don't doubt you're experiencing this issue, it is not a generally reproducible issue nor the same as the previous issues, so it is something you need to raise and provide lots of detail around if you want help getting to the bottom of it!

Our DigitalOcean 1-click app runs on Ubuntu 20.04 and it's not reproducible there :)

[2022-01-17 17:48] thebertian commented on #13900
@alexbaileyuk - [MySQLTuner-perl](https://github.com/major/MySQLTuner-perl) doesn't report which queries aren't using indexes. It just gives a count:
`[!!] Joins performed without indexes: 13648`

My website has an HTTP ping monitor on it but otherwise receives very little traffic. I assume the large count is being triggered by a query that runs every time the homepage is loaded.

I opened the tic

[2022-01-17 20:01] zsid commented on #13975
Hi. I have found the problem and fixed it locally. I will have a look this week into the contribution guidelines and raise a PR.

[2022-01-17 22:32] CicoZhang opened #13987 "Chinese characters in the file name are replaced by "-" when stored in the server"
### Issue Summary

When uploading files with Chinese Characters via File card, audio card or video card, the name of the files stored in server has Chinese characters replace by "-".

It might not be an big issue, but it is not convenient to manage the media files on the server, with all those "-"s.

![image](https://user-images.githubusercontent.com/11710225/149843895-728a6077-63a6-4ad1-82eb-e4f1

[2022-01-18 02:21] tiendq commented on #13983
I don't agree with environment specific assumption. It works if I manually add `og` tags, post's metadata is available, `ghost_head` tag just doesn't work.

[2022-01-18 09:05] ErisDS commented on #13987
Please can you provide an example file or filename that we can use to reproduce?

[2022-01-18 09:06] ErisDS commented on #13982
This is currently the expected behaviour - the Ghost editor understands markdown as you type it but is not a markdown based editor.

If you want to copy from a markdown based editor you would need to paste into a markdown card to get your desired effect.

[2022-01-18 09:06] #13982 closed

[2022-01-18 11:29] #13975 closed

[2022-01-18 11:31] sanne-san commented on #13975
Hey @zsid, the issue has just been fixed in [this commit](https://github.com/TryGhost/Admin/commit/33fb1c51cdde4e63151a6ffdc77b1d6d2eac390b) – thanks a lot for creating the issue and helping out!

[2022-01-18 12:48] sunknudsen commented on #10996
Using following worked for me (port: `587`, requireTLS: `true` and secure: `false`).

[code]

[2022-01-18 13:32] qdupuy opened #14012 "Ghost - knex-migration failed from 4.9.4 to 4.32.3"
### Issue Summary

Hello,

I am trying to do a ghost migration from the version 4.9.4 to the 4.32.3 version. However, I get the following error :

[code]

 Kubernetes version : 1.20

Mariadb version : 10.5.11

Here are the contents of the 01-add-oauth-user-data.js file :

[code]

Is it possible to have the associated SQL queries?

### Steps to Reproduce

Install this environment :

Kubernetes vers

[2022-01-18 14:55] matthanley commented on #14012
Hey @qdupuy - as explained in [this comment](https://github.com/TryGhost/Ghost/issues/13736#issuecomment-1007590446) we'll need accurate reproduction steps in order to diagnose these issues. Until we have a reproduction case, I'll close this as a duplicate of https://github.com/TryGhost/Ghost/issues/13736

[2022-01-18 14:55] #14012 closed

[2022-01-18 15:06] qdupuy commented on #14012
Could you at least provide me with the expected SQL queries instead of having a javascript script?

[2022-01-18 21:25] uPagge opened #14014 "Webhook URL validation is too strict"
### Issue Summary

The problem is that when I try to use the name of the container as a url in docker-compose, it shows that the url is not valid

<img width="581" alt="Снимок экрана 2022-01-19 в 00 24 15" src="https://user-images.githubusercontent.com/40397740/150021021-e4c7cf13-3823-4d1d-b231-140729424484.png">

<img width="340" alt="Снимок экрана 2022-01-19 в 00 25 55" src="https://user-images.

[2022-01-18 21:28] uPagge commented on #14014
In general, I easily got around the problem, but perhaps this is excessive validation

<img width="530" alt="Снимок экрана 2022-01-19 в 00 28 18" src="https://user-images.githubusercontent.com/40397740/150021541-4b180b12-76df-4806-b151-1944ab73a194.png">

<img width="328" alt="Снимок экрана 2022-01-19 в 00 28 29" src="https://user-images.githubusercontent.com/40397740/150021569-87ea2825-498f-4d10-

[2022-01-19 11:26] ramrami commented on #10396
@ErisDS Can I work on this one ?

[2022-01-19 14:09] matthanley commented on #13919
@iswarmondal Sure, feel free to submit a PR for review 👍🏼

[2022-01-19 14:31] ErisDS commented on #13983
I've tested your repro steps on a few different envs including `ghost install local` on mac and on a DO one-click install and I cannot reproduce what you're saying.

Here's a fresh local install /write/ page that I've not edited anything yet:

![image](https://user-images.githubusercontent.com/101513/150150852-a0fd003f-5759-491e-a7e9-00025a975053.png)

Same install, /design/ page where I have edit

[2022-01-19 14:33] ErisDS commented on #14014
This is a duplicate of https://github.com/TryGhost/Ghost/issues/12933, although sadly I never got around to triaging this issue.

I can see that it's annoying, although it's also fairly trivial to work around.

Would happily accept a PR that fixes it though :)

[2022-01-19 14:39] ErisDS commented on #10396
Of course if you have a solution by all means send a PR - you don't need permission :)

[2022-01-19 14:44] #13832 closed

[2022-01-19 14:45] ErisDS commented on #13832
This has been fixed by @touzoku in PR #13892. The fix will go out in the next release, which is currently our standard Friday afternoon automated release.

[2022-01-19 16:40] matthanley commented on #13979
Hey @SamHasler 👋🏼 I'm unable to reproduce this, but I don't have a Windows PC available to test with in case it's a Windows-specific issue. Is the site available anywhere publicly so that we can see the rendered page? Is the issue reproducible on multiple Ghost installs?

[2022-01-19 18:06] #13905 closed

[2022-01-19 23:15] JohnONolan opened #14018 "Pasting text into product card description doesn't strip formatting"
### Issue Summary

When pasting text into a product card, formatting is included which can lead to unexpected results

<img width="903" alt="CleanShot 2022-01-19 at 19 12 36@2x" src="https://user-images.githubusercontent.com/120485/150233410-f089de69-37f5-42b5-9f42-10f733e060ea.png">

### Steps to Reproduce

1. Copy a product title from an Amazon product page
2. Paste into the description field of

[2022-01-19 23:26] sunknudsen opened #14019 "Magic links creates member even if subscription access is set to “Only people I invite”"
### Issue Summary

Clicking magic link creates member even if member has been deleted and subscription access is set to “Only people I invite”.

As a result, banned member (for example) can recreate him/herself within a 24-hour window.

### Steps to Reproduce

1. Set subscription access to “Only people I invite” on `/ghost/#/settings/members`
2. Create new member on `/ghost/#/members`
3. Log in as

[2022-01-20 12:41] rubalv96 opened #14020 "AMP YouTube video looks too small"
### Issue Summary

When you insert a YouTube video into a post and view it with AMP the video looks very small. The <amp-youtube> element that Ghost generates contains fixed width and height sizes.
There is no solution to view those YouTube videos with a proper size in the AMP version.

![image](https://user-images.githubusercontent.com/36295331/150339812-3697bfb6-e909-4910-ad0e-7a7ce3cad4c3.png)

[2022-01-20 18:12] rosano opened #14035 "api.members.add seems to activate member without opt-in from magic link"
### Issue Summary

Not sure if this is intended but when adding an email via the JavaScript API, there is a member created and it seems I can even send email without waiting for the opt-in. This happens whether `email_type` is `subscribe` or `signup`.

### Steps to Reproduce

I ran the following code via node.js:

[code]

I was expecting that the member would not be visible in the admin UI until t

[2022-01-20 18:30] rosano commented on #14035
Seems to have the same issue via cURL too:

[code]

[2022-01-21 11:09] matthanley commented on #14035
Hey @rosano 👋🏼 It's expected behaviour that members are added immediately when added via the API. You can POST to the `/members/api/send-magic-link/` endpoint to trigger the magic link signup mechanism, but the links expire after 24h and it's intended to be used for member self signup.

Could you provide more details on your use-case and what you're hoping to achieve?

[2022-01-21 17:16] #14035 closed

[2022-01-21 17:24] rosano opened #14045 "Magic link has "Signup error" when created by node-fetch"
### Issue Summary

Clicking either the button and link from the activation email results in the following error message:

<img width="404" alt="Screen Shot 2022-01-21 at 12 17 30" src="https://user-images.githubusercontent.com/1680612/150571289-a9bd9224-7f1c-4957-8e68-b748518aafa8.png">

It's odd because if I try with cURL the link activates successfully.

[code]

### Steps to Reproduce

[code]

#

[2022-01-21 17:26] rosano commented on #14035
Posting to that endpoint seems to work, but I'm somehow not able to activate when making the request server-side via node.js—see #14045.

[2022-01-21 19:57] ErisDS commented on #14020
Thanks for the bug report. We'd love a Pr to fix this :)

[2022-01-22 15:00] KitaPDev commented on #14014
@ErisDS Hi, I would like to work on this issue. Could you please assign this to me?

[2022-01-22 15:32] KitaPDev commented on #13611
@ErisDS Has this issue been resolved? If not, could you assign this issue to me as I would like to resolve this.

[2022-01-22 15:48] wildan3105 commented on #13918
Hi, I'm experiencing the same here. But after trying your link, apparently it's resolved? Can you share what you did to resolve that please @pesla ? Thanks a bunch!

[2022-01-22 16:02] wildan3105 opened #14046 "Gateway timeout when user tries to sign up using subscribe button"
### Issue Summary

Hi, I just installed ghost v4.33.0 on my site (https://wildan.us). But I'm running into problem in which whenever I try to register myself as a member, it's always getting timeout after couple of seconds (I can see from the api response it's giving `504 GATEWAY TIMEOUT`). Can you help to check what's the issue please? Thanks!

### Steps to Reproduce

1. For example go to my site

[2022-01-23 02:30] joeljfischer opened #14047 "API returns incorrect excerpt"
### Issue Summary

The API is not returning my custom excerpt but is instead returning the first lines of the text (in markdown?).

### Steps to Reproduce

1. Create a post with a custom excerpt.
2. Retrieve the post via the API.
3. The JSON value of key "excerpt" does not contain the custom excerpt.

### Ghost Version

4.32.3

### Node.js Version

n/a - hosted by Ghost

### How did you install Gh

[2022-01-24 05:53] denik1981 commented on #14020
Seems the problem is that Amp is trying to parse an already defined iframe with fixed set widths and heights. And to be non-obtrusive I believe it is extracting those and using them as their own attributes giving the wrong expected behavior of having a tiny video.

The width and height are already present from the model and I don't think they are necessary because in non-amp pages there is a proce

[2022-01-24 09:17] #14046 closed

[2022-01-24 09:18] ErisDS commented on #14047
Hi there @joeljfischer. This is expected behaviour. The custom excerpt is returned in the field `custom_excerpt`.

[2022-01-24 09:18] #14047 closed

[2022-01-24 10:00] ErisDS commented on #14014
Hi @KitaPDev you are welcome to work on this issue and submit a PR, however we are unable to assign issues to people who do not have a history of contributing to the project. Thanks!

[2022-01-24 10:00] ErisDS commented on #13611
Hi @KitaPDev you are welcome to work on this issue and submit a PR, however we are unable to assign issues to people who do not have a history of contributing to the project. Thanks!

[2022-01-24 10:37] sunknudsen commented on #9258
Hey @ErisDS,

I just encountered issue in edition theme.

[code]

I see your issue is still open on https://github.com/NexesJS/NQL-Lang/issues/3.

Adding tag to all posts fixes issue, but feels like a hack.

Is there an official workaround?

Thanks!

[2022-01-24 12:29] matthanley commented on #13277
Hey @kerberjg - the comment from @velocity23 [above](https://github.com/TryGhost/Ghost/issues/13277#issuecomment-941723731) is correct in that the `+` is a special character in NQL, and you'll need to wrap the email in quotes.

[2022-01-24 12:29] #13277 closed

[2022-01-24 14:00] idmacdonald commented on #13986
Hi @ErisDS,

Here is the issue that I filed for `sharp`: https://github.com/lovell/sharp/issues/3047

It looks like the root cause was that the default builds of sharp for amd64 platforms require a CPU with SSE4.2. So, sharp will crash on older or simpler CPU platforms that don't support SSE4.2. In that case, the only option would be to custom compile `sharp` and related libraries.

Perhaps it wou

[2022-01-24 18:16] matthanley commented on #14019
Hey @sunknudsen 👋🏼

Signup links are currently implemented as signed URLs so that Ghost doesn't store any member information (such as email address) until they've explicitly opted-in from the email. As Ghost doesn't store any state related to the signup, it means we're unable to revoke the signup URL, and once a member has been deleted we have no record of that member ever existing so they're able

[2022-01-24 18:16] #14019 closed

[2022-01-24 19:27] fueko opened #14056 "Blank 'custom settings' after renaming theme archive name"
### Issue Summary

I noticed that 'custom settings' are assigned to the zip archive name: e.g. casper-v1.zip and casper-v2.zip and will be treated by Ghost as different themes, even though in the package.json file the theme name is "casper" (currently additional new fields are created in the database for each new theme archive name).

Is the current behavior intentional or a bug?

### Steps to Rep

[2022-01-25 05:16] kumarrus commented on #13700
@ErisDS , Any updates on this?

[2022-01-25 11:30] DeoluA opened #14058 "Python Example Code (in Admin API website) Has Bug"
### Issue Summary

Wasn't sure where exactly to raise this, so trying here:
On your [Admin API explainer website](https://ghost.org/docs/admin-api/), on the _Token Generation Examples_ section, the code in the Python tab produces an error:

[code]

**The fix was removing** `.decode()` **from** `token` **in line** `26`:
[code]

### Steps to Reproduce

1. Copy code from `python` section in website
2

[2022-01-25 17:12] #13940 closed

[2022-01-26 14:52] buarle commented on #13940
Hi all,

this issue still exists in version 4.33.1 in all three blogs I'm hosting.
All within docker and all with separate databases mariadb:10.4

Please come bak to me and I will provide all requested information / logs /...

Best
Markus

[2022-01-26 15:11] Wonderfall commented on #12880
Still an issue.

[2022-01-26 15:23] thestinger commented on #12880
Yeah, but bug reports don't really seem wanted.

[2022-01-27 03:24] jcomo commented on #11989
A (not ideal, but good enough) potential workaround for those who stumble across this in the meantime:

You can create a mount path like `/ghost-proxy/` on _your_ server, where everything proxies to your ghost blog. Then, any crawlers will use the robots.txt from your domain instead of ghost.io

For example, if your ghost blog is at my-blog.ghost.io and your site is my-site.com, when you are gener

[2022-01-27 14:44] KitaPDev commented on #13611
Thank you @ErisDS ! I'll get started working on it.

[2022-01-27 14:44] KitaPDev commented on #14014
Alright @ErisDS . I'll get started working on this.

[2022-01-27 18:30] jakobgreenfeld opened #14079 ""Internal server error, cannot edit member. Cannot read property 'find' of undefined""
### Issue Summary

When I try to give a member a complimentary subscription I get the error message

`Internal server error, cannot edit member. Cannot read property 'find' of undefined`

I already disconnected and reconnected Stripe but the problem still persists.

In my Stripe dashboard I can see that a new customer is added whenever I click on the "Add complimentary subscription" button. But cu

[2022-01-29 07:06] l0u1sg opened #14081 "Unable to load responsive images"
### Issue Summary

Hello to all,

I installed my Ghost but I have a problem, the images don’t load, it concerns the “responsive” images apparently, with the URL “[…]/content/images/size/w2000/[…]”, when I copy and paste the direct link of the image that doesn’t load, I get the error "We’ll be right back. Here are the technical details of my installation:

Direct Link: https://blog.louisgallet.ga/c

[2022-01-29 07:33] sahyrlelyaams commented on #14020
Wanted to try my hand at fixing this...
Any pointers on how to view the post in AMP?

[2022-01-30 07:41] realandrew opened #14082 "Member subscription checkout fails due to stripe request missing parameter success_url"
### Issue Summary

When a user tries to upgrade to a paid plan from portal, an error pops up saying "Failed to process checkout, please try again" and the console logs a 400 request `POST https://<mysite>.com/members/api/create-stripe-checkout-session/ 400`. Possibly related I had a similar error when trying to give a complimentary subscription, however, I solved that by enabling tiered subscripti

[2022-01-30 07:50] realandrew commented on #14082
I should also note, I checked my Stripe account to make sure it's fine, turns out Ghost created 31 Stripe customers for 1 account. Seems each time the error appears it creates another customer. (The customer is my test account so it's not a big deal for me to delete them, but it's related so I figured I'd mention it).

[2022-01-30 08:17] realandrew commented on #14082
Looking at my Stripe logs I just noticed a "400 POST ERROR /v1/checkout/sessions" due to `parameter_missing - success_url`. I didn't have a welcome page set in my membership settings so I tried setting one and it won't actually save even though the save button says it has. So this is likely the problem, the welcome page isn't being saved (and isn't set as required) so Stripe is sending a 400 due t

[2022-01-30 20:10] realandrew commented on #14079
I had the same problem. Enabling tiered subscriptions fixed it for me but that resulted in another issue (#14082).

[2022-01-31 05:33] jakobgreenfeld commented on #14079
This worked, thanks!

[2022-01-31 09:36] matthanley commented on #14020
@sahyrlelyaams you can add `/amp` to the end of the URL for a published post to view the AMP rendered version.

[2022-01-31 10:17] matthanley commented on #14079
Hey @jakobgreenfeld 👋🏼 Thanks for the report! I've reopened this one because Tiers is a beta feature, and this issue is a regression in current functionality.

[2022-01-31 11:33] jaller94 commented on #14045
I'm seeing an HTTP 500 being returned.

Check out the logs files in `content/logs/`.
Mine includes the lines: "Failed to send email. Reason: Email has been temporarily rejected."

[2022-01-31 11:58] allouis commented on #14082
I'm not able to replicate this - would you be able to share the full errors logs?

[2022-01-31 16:09] realandrew commented on #14082
I'll share the relevant piece of the log, the whole log file is very long (it shows up in the standard log, not the errors log) but if you want the full log file too I'm willing to share it.

[code]

[2022-01-31 18:10] #13900 closed

[2022-02-01 00:42] ekrister commented on #10942
Hi, I'm having this problem too. It is possible to save any other url like `http://myserver:1234/example`, but I cannot save the URL with the correct server name and port number that I'm actually using. If I try to do that, the value keeps resetting to the previous value that was saved.

Using the Docker installation, Ghost version 4.34.0. Tested on Chrome and Firefox.

[2022-02-01 09:00] daniellockyer commented on #14079
Hey @jakobgreenfeld! This is fixed and released in v4.34.1, so please update using Ghost-CLI 🙂

[2022-02-01 09:00] #14079 closed

[2022-02-01 09:05] #13987 closed

[2022-02-01 10:40] buarle commented on #13940
Hi @matthanley,

i found a similar looking error with deleting users that was fixed with 3.40.3 according to that post:

https://gitanswer.com/trying-to-delete-a-member-through-ghost-admin-fails-with-2-critical-errors-javascript-ghost-770825647

How can we move on here?

Best
buarle

[2022-02-01 11:29] #12871 closed

[2022-02-01 11:49] ErisDS commented on #11181
The /admin/site url is a great workaround for this short term, however as Ghost is upgraded the API version in the url changes (and is currently slated to go away entirely) so it's a slight ballache to manage.

There's a PR open to address this issue here: https://github.com/TryGhost/Ghost/pull/13117 but as I've mentioned here, the thing that held me back from merging it is the lack of precedent a

[2022-02-01 23:24] rosano opened #14096 "Custom `content-cta` should show free public preview"
### Issue Summary

When I create a custom view for `content-cta` it seems to not respect the free preview divider in the Ghost.

### Steps to Reproduce

1. Create a page or post with content before and after a `Public preview` block, set post access to members only, and publish to confirm that the preview content displays.
2. Create a custom CTA in `./partials/content-cta.hbs` as per the [document

[2022-02-02 07:19] realandrew commented on #14082
I updated to Ghost 4.34.2 and still have the same error. I was able to set welcome URLs, but still get the 400 error when trying to upgrade to a paid member.

[2022-02-02 11:14] #14096 closed

[2022-02-02 11:51] matthanley commented on #14082
@realandrew could you provide the request body for the failing network request from your browser's dev tools network tab?

[2022-02-02 12:07] matthanley commented on #14081
Hey @l0u1sg - I'm unable to reproduce this, and can't see any issues on your site other than missing images (they're responding 404 Not Found). Could you provide a clear reproduction case?

[2022-02-02 15:10] realandrew commented on #14082
Headers
[code]

Payload
[code]
I'm fairly sure the problem is there is no success URL being supplied, my Stripe logs tell me that is the problem.

[2022-02-02 15:28] realandrew commented on #14082
Doing some quick debugging, I can see in the browser dev tools, api.js has a checkoutPlan method which takes a successUrl as one of its options, but checkoutPlan in actions.js is calling it without giving it a successUrl. So as I mentioned this issue is almost certainly due to Stripe not getting a successUrl passed to it (which is a required parameter).

[2022-02-02 15:44] realandrew commented on #14082
An easy fix would be to copy what is done with cancelUrl. Which is
[code]
Basically, if a successUrl isn't being passed in we could set it to baseUrl/?stripe=success. It's still worth investigating why successUrl isn't being passed as it should, but this is a good fallback to prevent errors.

[2022-02-02 17:11] #13979 closed

[2022-02-02 18:55] sirredbeard opened #14100 "ghost install local fails with `EBUSY: resource busy or locked, rmdir 'versions\4.34.3`"
### Issue Summary

`versions\4.34.3` is still busy or locked when Ghost CLI attempts to remove it when installing with 'ghost install local --no-prompt' causing the installation to fail.

### Steps to Reproduce

1. Install Docker on Windows, either Docker Desktop or manually downloading dockerd.exe and installing as a Windows service.
2. Create a Dockerfile:
[code]
3. In the directory of your Dock

[2022-02-02 19:26] sirredbeard commented on #14100
I can no longer reproduce. (ㆆ_ㆆ)

[2022-02-02 19:26] #14100 closed

[2022-02-02 22:05] rosano commented on #14096
@matthanley Ok thanks for letting me know, and I can confirm that it works. I would suggest adding this to the documentation page as it isn't written anywhere.

[2022-02-02 22:56] gabrielcsapo opened #14101 "[admin] tracking octane migration"
## Issue Summary

Tracking the octane migration to be on the latest version of ember-source. (https://guides.emberjs.com/release/upgrading/current-edition/glimmer-components/)

## Success criteria

- Merge https://github.com/TryGhost/Admin/pull/2226
- Merge ember@4 upgrade to remove all deprecations

## Status By Day

### 01/31/2022

[code]

### 02/02/2022

[code]

### Code of Conduct

- [X] I agr

[2022-02-03 00:13] realandrew commented on #14082
I did a clean install of Ghost Docker today (which meant tiered membership wasn't enabled as it was before) and the bug doesn't appear. So seems it has to do with tiered membership.

[2022-02-03 01:44] gabrielcsapo commented on #14101
@kevinansfield let me know if there anything else you want to add to this in terms of required work or sequencing.

[2022-02-04 03:05] luisda0 commented on #14082
Yes, it seems that it has to do with the tiered memberships
I reproduced the bug by:
- doing a clean install
- Activating stripe test account
- activating tiered memberships
- creating a new member
- trying to upgrade the free member to a paid membership.

[2022-02-05 19:03] KitaPDev commented on #13611
@ErisDS I'm using the same pull request on this issue as this (issue)[https://github.com/TryGhost/Ghost/issues/14014#issuecomment-1023283799] because I forgot to branch out and make separate pull requests. Is this okay? Will not forget to branch out for separate issues next time.

[2022-02-06 00:51] ever-blogger opened #14123 "Duplicate views cannot be deleted"
### Issue Summary

Unable to delete '得到' filter view which is same filter as Draft, but there is not issue to create the new filter view and delete.
When I select '得到' it will link me to Draft view.

![image](https://user-images.githubusercontent.com/63139255/152663900-81e2907e-a071-4414-95cc-57dd15d9682c.png)

### Steps to Reproduce

NA

### Ghost Version

4.5.0

### Node.js Version

14.19

### H

[2022-02-07 13:21] touzoku commented on #13451
@matthanley I am happy to contribute a fix to this bug if you could point which area of the code I should start looking at.

[2022-02-07 13:59] matthanley commented on #13316
This has now been resolved 🎉

[2022-02-07 13:59] #13316 closed

[2022-02-07 15:07] #13971 closed

[2022-02-10 10:37] alevals commented on #8509
That article is misleading.
There are many essential multilanguage features that are not supported by Ghost and that are not even mentionend in that article.
Just a few:
- translating theme labels in a decent way (via j.son file, or po file) for multiple languages
- different navigation for each language
- language attribute for tags and authors
.....

[2022-02-10 10:37] alevals commented on #8509
That article is misleading.
There are many essential multilanguage features that are not supported by Ghost and that are not even mentionend in that article.
Just a few:
- translating theme labels in a decent way (via j.son file, or po file) for multiple languages
- different navigation for each language
- language attribute for tags and authors
.....

[2022-02-10 10:38] alevals commented on #8509
That article is misleading.
There are many essential multilanguage features that are not supported by Ghost and that are not even mentionend in that article.
Just a few:
- translating theme labels in a decent way (via j.son file, or po file) for multiple languages
- different navigation for each language
- language attribute for tags and authors
.....

[2022-02-10 11:09] matthanley commented on #11758
This is now resolved with the introduction of new designs for authors and contributors.

[2022-02-10 11:09] #11758 closed

[2022-02-12 11:52] velobarplus opened #14144 "Error occurred while executing the following migration: 2022-01-20-05-55-add-post-products-table.js"
### Issue Summary

While executing the following migration `2022-01-20-05-55-add-post-products-table.js` there is an error.

### Steps to Reproduce

Update ghost to 4.35.0 or 4.36.0 from an earlier version.

### Ghost Version

4.34.3

### Node.js Version

16.14.0

### How did you install Ghost?

ubuntu 20.04

### Database type

MySQL 8

### Browser & OS version

_No response_

### Relevant log / e

[2022-02-13 18:38] KitaPDev commented on #13611
Hi @ErisDS , just a friendly reminder that I've already implemented the required fixes for both this issue and this [issue](https://github.com/TryGhost/Ghost/issues/14014#issuecomment-1023283799). Please review my contribution. Thank you!

[2022-02-14 19:22] ochronus opened #14146 "Cannot format text to "heading two""
### Issue Summary

When I select some text and try to convert it to "heading two" using the popup controls, nothing happens. I tried 3 different browser engines.
Worked perfectly before the latest update.

Uploading 20220214_201657.mp4…

.

### Steps to Reproduce

1. Select text in the post editor
2. Press "heading two" in the popup
3. Nothing happens

### Ghost Version

4.36.0

### Node.js Versio

[2022-02-15 10:51] allouis commented on #14082
Thanks for the report and the repro case - this has been fixed here https://github.com/TryGhost/Ghost/commit/f88b6bd02f30f7616690963768360fd93f222b06 and will be in the next release.

For now if you are still experiencing the issue, a work around is to stop and restart Ghost once you've connected to Stripe

[2022-02-15 10:51] #14082 closed

[2022-02-15 13:23] #14146 closed

[2022-02-16 13:06] #14081 closed

[2022-02-16 15:35] craigbloodworth opened #14154 "Google OAuth authentication error"
### Issue Summary

When logging in via the alpha Google OAuth feature the login fails after coming back from Google login pages with the 400 error in Ghost logs:

`Request made from incorrect origin. Expected 'https://accounts.google.co.uk' received 'https://www.thedataschool.co.uk'`

Looking at issue #9972 I've checked for the `Origin` or `Referer` headers.

When redirected back from Google Auth

[2022-02-16 23:46] csolellis opened #14156 "Buttons on Published Pages"
### Issue Summary

Text in buttons on published page is **not** being shown.

(Text in buttons on emailed published page is being shown.)

### Steps to Reproduce

I expected text to be shown in the button. No text is showing up on the published post but it is showing up in the emailed post.

### Ghost Version

Ghost hosts

### Node.js Version

n/a

### How did you install Ghost?

Ghost hosts

###

[2022-02-17 15:29] Kerumen commented on #14146
This was fixed in https://github.com/TryGhost/Admin/commit/9c9b55c7274734bc40dc7b32059a59aaee028d85 but it looks like the release that was supposed to include this was created empty.
See the diff between the `v4.36.0` and `v4.36.1` here: https://github.com/TryGhost/Admin/compare/v4.36.0...v4.36.1

@kevinansfield Do you think you can resolve this? Thanks!

[2022-02-17 16:11] kevinansfield commented on #14146
4.36.1 was a patch release for a specific issue. The fix for this issue will be included in the next full Ghost release that's currently scheduled for tomorrow.

[2022-02-17 21:01] niklevenets opened #14173 "Navigation.hbs (and other partials) not loading, seeing defaults instead ( ._.)"
### Issue Summary

Hello!
I am currently building my new Ghost theme with a local ghost installation (`4.35.0`) and I have faced a very upsetting problem. I created a directory with all necessary files and a `./partials` folder with` navigation.hbs` that was meant to override default Ghost navigation.

And no matter how I tried to include it in my `default.hbs` (and other files), I keep getting st

[2022-02-17 22:17] #14173 closed

[2022-02-17 22:18] niklevenets commented on #14173
Go to [https://forum.ghost.org/t/trouble-getting-navigation-hbs-to-get-recognized/24656](Ghost Forum)

[2022-02-17 22:19] niklevenets commented on #14173
[Check this](https://forum.ghost.org/t/trouble-getting-navigation-hbs-to-get-recognized/24656)

[2022-02-18 02:57] HenryTrang opened #14175 "Ghost CLI refuses to start when installed through Node Version Manager (nvm)"
### Issue Summary

I need to be able to start Ghost on a local instance using nvm because I work with multiple codebases that ask for different version of node. However, Ghost isn't letting me start Ghost local because of the permissions errors from the CLI.

There should be a way to override this for people know understand the consequences of having their files in a user directory (this is local

[2022-02-18 03:17] HenryTrang commented on #14175
My apologies, I should've placed this in the Ghost-cli repo, I'll do so now.

[2022-02-18 03:17] #14175 closed

[2022-02-18 03:17] HenryTrang commented on #14175
https://github.com/TryGhost/Ghost-CLI/issues/1606

Here is the new issue

[2022-02-18 08:36] ochronus commented on #14146
Thank you for the quick turnaround and for keeping us updated 🙏

[2022-02-18 15:14] tryfan commented on #12802
This is still an issue.

Supplying `mail__from` as an env var does not change the email from address in a container.  Just tested on 4.36.1.

[2022-02-19 21:09] cultureclap opened #14178 "Cannot update Premium Price"
### Issue Summary

When I try to update the monthly price for subscriptions, I am not able to do so; when I click save, I am told to retry;

![GhostMembershipForms](https://user-images.githubusercontent.com/4434370/154819105-8f89e439-c606-4c94-be67-6e5104c9a197.png)

 and here is the error:

![GhostError](https://user-images.githubusercontent.com/4434370/154819083-18823830-bfc6-4d74-807a-81fe7ac19

[2022-02-20 19:51] testtest0121 opened #14179 ""¿" and "special/accented characters" in post-content h2 & h3 id# urls are showing enconded"
### Issue Summary

While the Post URL sanitizes any special characters and converts them to "A-Z","a-z","0-9" or removes them altogether for vanity purposes, the URLs containing "¿" and "special/accented characters" in **post-content** h2 & h3 id# URLs are enconded. While only "?" is properly removed from the generated URL.

You end up with pretty ugly URLs like id="%C2%BF%C3%A9-this-is-a-post"

A

[2022-02-21 10:25] matthanley commented on #14179
Closing as a duplicate of https://github.com/TryGhost/Ghost/issues/13876 - see [this comment](https://github.com/TryGhost/Ghost/issues/13876#issuecomment-1007563922) for more info.

[2022-02-21 10:25] #14179 closed

[2022-02-21 10:27] matthanley commented on #14154
Hey @craigbloodworth 👋🏼 Google OAuth is an alpha feature, and isn't expected to work right now. Keep an eye on the release notes for when the feature becomes available.

[2022-02-21 10:27] #14154 closed

[2022-02-21 10:41] matthanley commented on #13451
Hey @touzoku - we're grateful for community contributions, but unfortunately we're unable to coach people through them. A good place to start is our [contribution guidelines](https://github.com/TryGhost/Ghost/blob/main/.github/CONTRIBUTING.md).

[2022-02-21 10:47] matthanley commented on #14144
This is due to your database requiring a primary key on all tables, and [this](https://github.com/knex/knex/issues/4141) upstream knex issue which requires backporting. For now the workaround is to disable the primary key constraint in your database config.

[2022-02-21 10:47] #14144 closed

[2022-02-21 12:18] testtest0121 commented on #13876
I can confirm this issue. While using accented characters I get some ugly IDs which break the use of for example a TOC.

Looking at ? for example, they are actually removed from the generated IDs but not ¿¡!= %C2%A1%C2%BF

Why not keep it like the Post Url slugs? All special characters are removed and accented ones are turned into A-Z, a-z.

It's been almost a decade and Ghost's still lacking in m

[2022-02-21 14:23] naz opened #14180 "Homepage is missing from sitemaps.xml"
### Issue Summary

Homepage used to be included in the sitemaps served under `/sitemap-pages.xml`. In the latest version of Ghost (4.36.0) we have noticed the homepage is not showing up anymore. I've narrowed the regression down to somewhere between versions 4.15.0 and 4.25.0.

Homepage included in the sitemap on version 4.3.3:
![Screenshot from 2022-02-21 21-06-23](https://user-images.githubuserc

[2022-02-21 16:20] ErisDS commented on #14123
The issue here is with creating a filter that matches the draft view. It is possible to delete it from your console something like this:

[code]

I think the only way to solve this is to prevent the creation of views that mirror built-in functionality.

A PR that prevents this would be very welcome!

[2022-02-21 16:21] ErisDS commented on #14156
Please can you provide full reproduction steps? I am not sure what you mean...

[2022-02-21 16:25] ErisDS commented on #14056
Hi there!

If you upload a different archive, it'll land in a new folder in `content/themes` called casper-v1, casper-v2 etc. As it's a new folder, it's a new theme!

This is intended behaviour as any alternative path e.g. trying to create a folder name based on the theme's package.json name, or overwriting a theme based on just them having the same package.json name leads to even harder to unders

[2022-02-21 16:25] #14056 closed

[2022-02-21 16:35] matthanley commented on #14178
Hey @cultureclap 👋🏼

I've been unable to replicate this on the latest Ghost version. So we can continue to look into this, could you provide the response from the `ghost/api/canary/admin/products/` endpoint from your browser's network tab when you load Ghost Admin, as well as the request triggered by the save action (this should be a PUT request to e.g. `/ghost/api/canary/admin/products/6213bd772f

[2022-02-21 16:41] matthanley commented on #14156
If you're using an official theme, you may need to update to the latest version of that theme following the fix for [this issue](https://github.com/TryGhost/Themes/issues/66).

[2022-02-21 17:01] chibiribiri opened #14181 "Cannot apply change on Custom Integrations"
### Issue Summary

Save does nothing

### Steps to Reproduce

1. Create custom integration
2. While configuring type a description
3. Maybe upload an icon too
4. Try to save the changes
5. Nothing happens

### Ghost Version

4.36.2

### Node.js Version

14.19.0

### How did you install Ghost?

CentOS 7

### Database type

Other

### Browser & OS version

Safari 15.2, Edge 98.0.1108.56

### Relevan

[2022-02-21 17:57] kevinansfield commented on #14181
Fixed via https://github.com/TryGhost/Admin/commit/f4dce9f47961a99a16bfc956013a25c24ba131c0

[2022-02-21 17:57] #14181 closed

[2022-02-22 10:11] testtest0121 opened #14195 "New header id behaviour generates invalid CSS selectors"
### Issue Summary

The new header id behaviour [here](https://github.com/TryGhost/Koenig/commit/5f0c2fb8bc22042caf9948781ccc26d003e22533) while the generated urls display by browsers appear as native characters making all languages supported, it also turns them into invalid CSS selectors for non A-z, a-z.

### Steps to Reproduce

1. Create a post.
2. Write down some text with a language like spani

[2022-02-22 11:18] daniellockyer commented on #14181
@chibiribiri Thanks for the report! The fix for this was released in v4.36.3 so please update using Ghost-CLI 🙂

[2022-02-22 14:04] matthanley commented on #14178
Note that this can also occur if you've made changes directly in the Stripe account, such as deleting the product or price.

[2022-02-22 14:26] testtest0121 commented on #14195
While anchor links work OK, for the purpose of targeting the headings for styling purposes the generated ids are invalid on a CSS sheet, for example, a TOC with multiple anchor links and selectors with the likes of CSS :active. Most of the encoded content is generated with % which is invalid.

The anchor links work but the styling is not.

#%C2%BFpero-en-qu%C3%A9 {
    color: red
}

#%C2%BFpero-en

[2022-02-22 14:29] ever-blogger commented on #14123
How can I use it the console ? I pasted the commend below, but it return error as **syntax error near unexpected token `'service:customViews''**

`let view = GhostAdmin.__container__.lookup('service:customViews').viewList.findBy('name', '得到');`

`GhostAdmin.__container__.lookup('service:customViews').deleteViewTask.perform(view)`

[2022-02-22 16:04] testtest0121 commented on #14195
Yes, they work but it is a workaround same with backslashes (\), not to mention some browsers might error correct and cope. For example, if using a script there's the need to escape the square brackets too so regardless of any workaround you might use you end up with pretty ugly id selectors.

[2022-02-22 18:02] #14195 closed

[2022-02-22 18:30] testtest0121 commented on #14195
I believe this is a bug.

Using brackets on selectors should be avoided as they have their own purposes.

In my opinion, the implementation of [Improved header ids in mobiledoc and markdown renderers](https://github.com/TryGhost/Koenig/commit/5f0c2fb8bc22042caf9948781ccc26d003e22533) should be the same as with the slugs, remove special characters and/or convert to A-Z, a-z, IMO.

[2022-02-22 21:03] ErminMerdanovic commented on #12802
I encounter the issue today as well. Still an issue

[2022-02-23 12:35] cultureclap commented on #14178
I get a 404 error when I got to the  "ghost/api/canary/admin/products/" ... I've never changed the original settings ... perhaps the product page was added in since Sept 2021 ?? which is when I first created the Ghost instance ?

[2022-02-23 18:25] benjaminrancourt opened #14206 "Missing data when using dynamic routing"
### Issue Summary

Hi,

First, thank you for developing Ghost, it's one of my favourite applications!

When using **dynamic routing**, some data seems missing from the page, like the Ghost header or Ghost footer.

### Steps to Reproduce

1. Create (or use) a new page. like `/about/`.
2. Fill all fields that Ghost provides inside the settings of the page (metadata, Twitter, Facebook, Code injection

[2022-02-23 18:29] benjaminrancourt commented on #14206
Here are screenshots of the 3 outputs from my steps.

## OUTPUT_1
![1](https://user-images.githubusercontent.com/7907713/155383618-d0cc42e9-efa7-4c7d-86c0-6d1ab0b0b0e9.jpg)

## OUTPUT_2
![2](https://user-images.githubusercontent.com/7907713/155383629-cf0591f9-40c2-4c9d-8724-17e7e8e3af4a.jpg)

## OUTPUT_3
![3](https://user-images.githubusercontent.com/7907713/155383640-8bacdbd2-bf08-4d17-9e9c-d676d

[2022-02-23 18:34] benjaminrancourt commented on #14206
And finally, here are the differences in the HTML between the output.

## Between OUTPUT_1 and OUTPUT_2
https://www.diffchecker.com/NklejbuD

![image](https://user-images.githubusercontent.com/7907713/155384336-27fd65c9-3803-4a40-a9ac-fed69972ac1a.png)
![image](https://user-images.githubusercontent.com/7907713/155384388-edff6c9d-8067-4fbc-8a4c-14d7667685b9.png)
![image](https://user-images.githubu

[2022-02-24 05:54] naz commented on #14180
Narrowed down the problem to be in [4.20.0..4.19.1 changeset](https://github.com/TryGhost/Ghost/compare/v4.19.1...v4.20.0)

[2022-02-24 08:59] naz commented on #14180
This commit was identified as a source of the bug https://github.com/TryGhost/Ghost/commit/597ec51afb9edb7e15090f6bc63d656c570a855b

[2022-02-25 10:05] sneko commented on #13316
Just for record, I was trying to publish to specific tiers and was getting:
[code]

It seems your fix in the last releases made it, it works after upgrading!

[2022-02-26 10:59] Bammede opened #14211 "Ghost Update not working"
### Issue Summary

$ ghost update -V
$ Checking for Ghost-CLI updates [started]

and then nothing happens. CTRL+C to stop the process

Ghost-CLI version: 1.18.1
Ghost version: 4.36.0

### Steps to Reproduce

ghost update

### Ghost Version

4.36.0

### Node.js Version

14.19.0

### How did you install Ghost?

Ubuntu 20.04, ghost install. Mysql Ver 15.1 Distrib 10.3.32-MariaDB

### Database type

O

[2022-02-27 09:45] yuuk opened #14212 "local install stop at downloading step"
### Issue Summary

![Snipaste_2022-02-27_17-34-13](https://user-images.githubusercontent.com/9426456/155877022-aba8f0a1-941e-4b41-acba-eed2ec603987.jpg)

### Steps to Reproduce

`npm install ghost-cli@latest -g`

`ghost install local`

Then the step is always keep in downloading and lasted a long time,I've tried many times but get the same result.

### Ghost Version

Ghost-CLI version: 1.18.1

###

[2022-02-27 12:15] #14212 closed

[2022-02-27 12:15] yuuk commented on #14212
Maybe it`s my network problem

[2022-02-28 09:29] yogurtpops opened #14214 "Can't scroll subscription page on mobile browser"
### Issue Summary

Can't scroll the subscription page using mobile browser, the screen recording is attached below

https://user-images.githubusercontent.com/30436755/155955803-0dc0a526-a656-4ae6-a6df-a1cf8a861e04.mov

### Steps to Reproduce

Open the page then go to the subscription page by click on the subscribe button. On the subscription page, we can't scroll farther than the first plan.

###

[2022-02-28 09:42] matthanley commented on #14214
Hey @yogurtpops 👋🏼 Could you confirm which mobile browser this is in? The answer was omitted from our issue template, but is essential info for troubleshooting this specific issue. Thanks!

[2022-02-28 09:50] #14211 closed

[2022-02-28 09:51] GV3 commented on #14214
I have experienced this bug on Firefox, Safari and Chrome on iOS 14.3 (iPhone 12 Pro Max)

[2022-02-28 10:16] Bammede commented on #14211
I have no response via forum.

[2022-02-28 10:36] yogurtpops commented on #14214
@matthanley as mentioned by @GV3 in any browser on iphone 12 . I checked that its fine on android and iphone 7 plus. Could it be os based problem?

[2022-02-28 10:55] matthanley commented on #14214
I'm unable to reproduce this in Safari on iOS 15.3.1 so it may be a browser bug. Could you confirm what version of iOS you're using, and try updating to the latest to see if the issue persists?

[2022-02-28 12:46] naz commented on #14180
Found the faulty line:
https://github.com/TryGhost/Ghost/blob/83a54eeb99ae164d0c85efb9e0459a19d4611b53/core/frontend/services/routing/router-manager.js#L38

`this` in the call should be `router`. Next working on tests and landing the fix in main

[2022-02-28 13:17] matthanley commented on #12047
Ghost now has a restructured interface for contributors, which addresses all of the points raised in this issue. @QuincyLarson thanks for the feedback!

[2022-02-28 13:17] #12047 closed

[2022-02-28 15:23] #14180 closed

[2022-02-28 21:24] Ash-KODES commented on #13919
I think this this needs to be "Run as Administrator." when using cmd or gitbash.
Reference-https://github.com/gruntjs/grunt-contrib-symlink/issues/1
Solution-just need to documented in readme.
can I do this?

[2022-03-01 01:33] Bammede opened #14219 ""Header two" formatting toolbar button is as H3"
### Issue Summary

"Header two" formatting toolbar button is as H3

### Steps to Reproduce

select text in post and choose heading Two

### Ghost Version

4.37

### Node.js Version

14.x

### How did you install Ghost?

localhost

### Database type

MySQL 8

### Browser & OS version

_No response_

### Relevant log / error output

_No response_

### Code of Conduct

- [X] I agree to be friendly an

[2022-03-01 01:58] stromfeldt commented on #14214
@matthanley I had this occur on an iPhone 7 Plus, using iOS 13.3.1, as [reported on the forum](https://forum.ghost.org/t/membership-tiers-beta-feedback-issues/25681/70) a few months ago. The problem occurs in portrait mode but not landscape mode. I too have a video if you'd like, if you have a method in which I can privately share it with you.

[2022-03-01 12:28] matthanley commented on #14219
This is expected behaviour - the post title will usually be rendered as a top-level heading (`h1`), with the in-content headers expected taking lower-level headings `h2` and `h3`.

[2022-03-01 12:28] #14219 closed

[2022-03-01 12:54] Bammede commented on #14219
Toolbar displays ALT title: "Heading One" which is H2 and "Headin Two" which is H3. Is it normal?

[2022-03-02 14:00] Marky-Gee opened #14255 "Excerpt and plaintext fields add extra new lines"
### Issue Summary

When a post is created, the excerpt and plaintext fields in the content API and webhooks add extra newlines where they are not needed.

Typing the sentence "For creators and aspiring entrepreneurs looking to generate a sustainable recurring revenue stream from their creative work, Ghost has built-in payments allowing you to create a subscription commerce business." in the editor

[2022-03-03 00:05] Marky-Gee commented on #14255
Actually I've found the file https://github.com/TryGhost/Ghost/blob/main/core/shared/html-to-plaintext.js which includes the wordwrap: 80 that was causing my issue.

So this isn't really a bug, just something I didn't think was done on purpose.

You can close this if you wish.

[2022-03-03 16:16] #13611 closed

[2022-03-04 13:51] victor-sopot commented on #7812
This is still an issue

[2022-03-07 05:56] nobita0522 opened #14272 "How to run two ghost instances on the same server"
### Issue Summary

How to run two ghost instances on the same server.the two ghost have diffrent mysql shema and domain and background,i seach all document for the issue,but i didn't find document to help me for running muti instances on the same server. i need help,thank you!

### Steps to Reproduce

How to run two ghost instances on the same server

### Ghost Version

the latest

### Node.js Ver

[2022-03-07 10:55] nobita0522 commented on #14272
there is a solution: make a new folder in another directory which is diffrent from blog work file.then just execute 'install ghost' in this new folder,follow the commond to set mysql,nginx,ssl,it's import to set a available domain. this way s work.the ideas is install ghost in another directory.thanks

[2022-03-07 10:56] #14272 closed

[2022-03-07 16:51] okcoker commented on #10097
Sorry it's been a while but I'm following up here with the [iOS](https://github.com/okcoker/mobiledoc-ios-renderer) and [Android](https://github.com/okcoker/mobiledoc-android-renderer) mobiledoc renderers. They still need work in terms of styling flexibility but we sort of went a different direction at work that put this project on pause. We may pick things back up in the future but feel free to c

[2022-03-07 20:23] doncabreraphone opened #14278 "Cannot generate assets (cards, admin-auth, etc) on local windows install"
### Issue Summary

Installed ghost ( Node.js version - found v16.14.0 | npm: '8.3.1' | Ghost-CLI version: 1.18.1
| Ghost version: 4.38.0 ) on my Windows 10 machine. ``cards.min.css`` don't seem to load on my local dev site, but it does on the editor.

Editor:
![image](https://user-images.githubusercontent.com/45015326/157111770-55a06794-d91b-42dd-926d-3fe3b507d264.png)

Published:
![image](https:/

[2022-03-08 07:08] reinismu opened #14279 "Query Error: unexpected character in filter at char 7"
### Issue Summary

Updated my blog from v3.{most up to date} to v4.37.0 and now this error shows up in logs. Blog itself still works fine.

I use MariaDB

### Steps to Reproduce

Take v3 blog and update to v4.37.0

### Ghost Version

v4.37.0

### Node.js Version

Using docker. so same as there

### How did you install Ghost?

Docker

### Database type

Other

### Browser & OS version

_No response

[2022-03-08 07:51] ErisDS commented on #14279
What theme are you using? Did you also update the theme to a v4 compatible version?

[2022-03-08 14:47] reinismu commented on #14279
I used the Casper before, but I switched to Ruby.

Ye now that I check my other blog that is using liebling it doesn't produce such error.

Seems like the issue is in Ruby theme

[2022-03-08 16:29] ErisDS commented on #14279
Definitely a Ruby theme issue.

`(tags:[]+id:-)+type:post` is not a valid filter as there are no values. Seems like they've done this in the wrong place.

[2022-03-08 16:29] #14279 closed

[2022-03-08 16:33] ErisDS commented on #14255
The original intention for the plaintext field was as the text version of the post in an email. It ended up being used for excerpts, and actually we generate the email text elsewhere.

This is one of many problems which can be summarised as "our automatic excerpts are rubbish" 😬  but it's not yet reached the point where anyone cares enough to come up with a smarter version... not least because cha

[2022-03-09 11:05] GregFdz opened #14287 "Editor's toolbar is hidden under android's text menu."
### Issue Summary

Hi
When I use the post editor on my android phone, the "copy/cut/past" pops over ghost's text toolbar.
As android's is set to display on the upper side of the selected text, I suggest that ghost's should be updated to appear downer at leat for smartphones.

Thanks !

### Steps to Reproduce

1. Go in ghost's post editor with an android 11 smartphone
2. Select a piece of text

###

[2022-03-09 17:05] mackenly opened #14296 "Scheduling inputs not selectable from the preview window"
### Issue Summary

When previewing a post there is a publish button much like when on the regular post editor, however, the time select and data select text fields aren't editable. The data select popup still works, but there's no way to change the time and in the regular schedule drop down you're also able to manually edit the text on the date.

### Steps to Reproduce

1. Go into a post.
2. Click

[2022-03-11 08:15] d0u9 opened #14301 "For Ghost using mysql backend, Tag link on post page points to 404 page if the tag contains only one post."
### Issue Summary

<img width="337" alt="image" src="https://user-images.githubusercontent.com/7038479/157827791-0a253b39-048d-49ce-82ec-3e5920b89ac1.png">

The red `WEB` tag should point to `/tag/web` if everything works as expected. However, for my ghost setup in which mysql8 is used as database, this tag links to 404 page instead.

<img width="89" alt="image" src="https://user-images.githubuser

[2022-03-11 17:58] #14296 closed

[2022-03-12 21:48] rudxde commented on #12785
For me, the issue was that i had configured `url` and `urlSSL` but used a nginx reverse proxy. In the line `https://github.com/TryGhost/Ghost/blob/62ee693310af076cefbb2e8c87cb6d5f8e42ebdd/core/server/services/auth/session/express-session.js#L27` only the `url` is checked if the site is https, therefore i put the https address in the `url` and removed the `urlSSL`. Afterwards i had the TOO_MANY_RED

[2022-03-12 21:51] rudxde commented on #11578
For me adding the `X-Forwarded-Proto` header helped as described in this issue comment:
https://github.com/TryGhost/Ghost/issues/7907#issuecomment-276918176

Example nginx config:
[code]

[2022-03-14 05:14] ichitaka opened #14323 "Resize unsplash image width query to reduce download for smaller devices"
### Issue Summary

This issue is referencing the wrongfully closed issue #12245 that still persists. As the Unsplash feature is integrated by default, one would expect that the images are served responsively. The Unsplash API supports such queries, but Ghost returns the images independent of device screen size.

Given that images that are too big are impacting UX as well as SEO, this is a critical

[2022-03-15 02:25] #14214 closed

[2022-03-16 18:06] #14178 closed

[2022-03-17 07:50] chrishornmem opened #14332 "Invite new members as contributor does not work on starter plan"
### Issue Summary

No invitation email is received for contributors on the starter plan

### Steps to Reproduce

Using hosted version  v.4.35.0 (I believe).

**Steps to reproduce:**

1. Sign up for starter plan
2. Select settings -> staff
3. Invite a new member as contributor

**Actual result:**
Message is shown indicating invitation is sent, and the invitation is visible under invited users
No in

[2022-03-17 11:57] #14332 closed

[2022-03-18 19:15] GSY-PI opened #14341 "Ghost Application Doesn't Save Any Settings Once Saved, then Reentering Page"
### Issue Summary

When applying settings text or uploading an asset like logo, it displays on the page after clicking save. Once entering the page the change is lost.

### Steps to Reproduce

Change any setting, click and reload the page.

### Ghost Version

4.39.1

### Node.js Version

v16.14.0

### How did you install Ghost?

Self Hosted, Ubuntu 20 with Openlitespeed Proxy

### Database type

M

[2022-03-19 00:45] leifurhauks opened #14343 "Failed migration on update to 4.40.0"
### Issue Summary

On updating to version 4.40.0, this database migration failed: https://github.com/TryGhost/Ghost/blob/main/core/server/data/migrations/versions/4.40/2022-03-07-14-37-add-members-cancel-events-table.js

Log output is below.

This occurred initially on an update from 4.36.2 to 4.40.0. I had run `ghost doctor` before the update. After the update failed, I instead updated, successfu

[2022-03-19 00:50] leifurhauks commented on #14343
I just noticed that there is a more recent version of Ghost-CLI. I will try with the latest Ghost-CLI and report back.

[2022-03-19 00:57] leifurhauks commented on #14343
Repeated the update with Ghost-CLI version 1.18.2, the result was the same.

[2022-03-19 01:08] leifurhauks commented on #14343
Also, in case it helps, this is the output for `SHOW CREATE TABLE members` in MySQL:
[code]

[2022-03-20 19:43] fueko opened #14344 "Issue with address ‚localhost' for Product and Video card instead of __GHOST_URL__"
### Issue Summary

Product and Video card thumbnails have the address `http://localhost:2368` when exported, which causes thumbnail location issues when importing json file.

![Zrzut ekranu 2022-03-20 o 20 36 42](https://user-images.githubusercontent.com/23366922/159179658-36e0cb82-485d-41bf-b842-13fdb8341540.png)

### Steps to Reproduce

1. Add thumbnail to Product card and export json file from

[2022-03-21 11:33] ErisDS commented on #14344
@naz could you take a little look at this one please?

[2022-03-21 11:34] #14343 closed

[2022-03-21 11:34] ErisDS commented on #14343
This is due to your ubuntu upgrade also upgrading you from mysql 5 -> 8.

Please check out our FAQ page: https://ghost.org/docs/faq/troubleshooting-mysql-database/

If you have further questions about resolving the problem please ask on the forum :)

[2022-03-21 15:09] #12945 closed

[2022-03-22 04:12] GSY-PI commented on #14341
The issue seems to be with the remote SQL server, when I use a local SQL server with the same settings except localhost there are no issues. But when using a remote sql connection the issue reappears.

[2022-03-22 09:39] coderecruit opened #14354 "Ghost changes "send-only" posts to "post and send" after rescheduling"
### Issue Summary

Hello, I want to report a bug with Ghost.

As the title says, this issue happens when I reschedule a send-only post to members.

Context, I use Ghost as a blog and send my newsletter without publishing on the blog. But I found a strange behavior when I click on reschedule for those send-only posts.

So, when I go back to edit a post that was already scheduled to only send by ema

[2022-03-22 14:20] fisheyemh opened #14362 "SSL profile must be an object, instead it's a boolean."
### Issue Summary

Hi,
i'm running ghost on a docker image on azure, we updated to the latest image from ghost docker hub, and i get this error:

**SSL profile must be an object, instead it's a boolean**

[code]

On my development.config.json the ssl is set to true like it's told in the ghost docs under database configuration, but it seems this option is no longer valid, i already tried to pass th

[2022-03-22 17:36] #14362 closed

[2022-03-22 18:27] fisheyemh commented on #14362
Hey @ErisDS I'm quite sure this is a bug, i followed your documentation, it says that azure database for mysql is in Mozilla RDS trusted sources and to use a boolean value true. But that isn't working it looks like a bug to me, if it's not then maybe there's something missing in the docs. May you please take a second to reconsider?

[2022-03-22 21:17] alfarhan opened #14365 "Wordcount in editor does not work for RTL Languages (Arabic, or Hebrew)"
### Issue Summary

If i type Arabic words, the wordcounter in editor bottom does not work. I think this applies to RTL Languages. For your testing, i suggest you copy text from https://ar.lipsum.com/
this javascript works for RTL languages
https://www.javascripttutorial.net/javascript-dom/javascript-word-counter/
![CleanShot 2022-03-23 at 00 10 15@2x](https://user-images.githubusercontent.com/2324

[2022-03-23 03:25] naz commented on #14344
Hey @fueko :wave:  Thanks for the report. I've tried reproducing it on the latest 4.41.0 and wasn't able to. The export file seems to have correctly put `__GHOST_URL__` in place of the url's. Example from an export of mobiledoc field for the post I did:
[code]

Import worked just fine too. Can you please add more details on how this could be reproduced? I might be missing some steps to get the bug

[2022-03-23 09:35] fueko commented on #14344
Hi @naz!

I see you have checked "mobiledoc" and the problem is only in "html" as below:

![Zrzut ekranu 2022-03-23 o 10 26 54](https://user-images.githubusercontent.com/23366922/159667758-0436790a-1802-418c-83ef-5abeb33606a2.png)

For me, the problem occurs in both localhost and production installations. I am not making any changes to the Ghost core.

[2022-03-27 19:37] AndrewSerra commented on #14123
Is anyone working on this? If not, can I take a shot at it? How urgent is it?

[2022-03-28 03:50] naz commented on #14344
Yup! Confirming a bug. Will dig slightly deeper while in the context to find the cause.

From my local installation:
![Screenshot from 2022-03-28 11-48-16](https://user-images.githubusercontent.com/675397/160323330-6044e740-b447-4190-9637-20b3a4e6f6f9.png)

Something's up transforming `"customThumbnailSrc":"__GHOST_URL__/content/images/2022/03/68omdg.png"` into `transparent url('http://localhost:2

[2022-03-28 08:51] fisheyemh commented on #14362
@daniellockyer Glad to be helpful, thanks for the help.

[2022-03-29 09:48] MrAtiebatie opened #14383 "MacOS text replacements get inserted automatically."
### Issue Summary

I have a lot of text replacements for my Mac to replace a shortcode with a longer word/sentence. For example; eg gets replaced by e.g.

However, the Ghost editor always inserts this text replacement no matter what. Normally it's after a space. The Medium editor handles this well though.

For me, it's not possible to write my blog posts in the Ghost editor because of my text repl

[2022-03-30 10:57] mgk1231 commented on #12802
This is still a valid bug. As of today this issue is not yet resolved

[2022-03-31 11:25] naz commented on #14344
![Screenshot from 2022-03-31 19-24-37](https://user-images.githubusercontent.com/675397/161044444-18cb4aee-8d24-4f56-8b57-5d27e6c2abd2.png)

nice

[2022-03-31 11:30] naz commented on #14344
The product card is also broken. Investigating that now

[2022-03-31 12:49] naz commented on #14344
For the product card we have been generating an invalid HTML markup - used unqouted `src` attribute. @kevinansfield pointed out two places where the card has to start using qoutes:
- https://github.com/TryGhost/Koenig/blob/main/packages/kg-default-cards/lib/cards/product.js#L27
- https://github.com/TryGhost/Koenig/blob/main/packages/kg-default-cards/lib/cards/product.js#L43

[2022-03-31 14:55] daniellockyer commented on #14354
Thank you for the report! I can reproduce this so we shall take a look internally 🙂

[2022-03-31 16:11] #14354 closed

[2022-04-01 00:59] naz commented on #14344
Tracking the cleanup migrations in https://github.com/TryGhost/Team/issues/449. As a workaround, the html should be regenerated once a buggy post is opened and save again.

[2022-04-01 00:59] #14344 closed

[2022-04-01 22:06] tobiasboyd opened #14413 "4.42.0 update erred out on ghost-cli/sqlite/knex (vscode?) deps"
### Issue Summary

Doing a routine upgrade from 4.41.3 to 4.42 I got a node dep error.

### Steps to Reproduce

As root I updated npm to 8.6, and ghost-cli@latest. I switched to my ghost user, and did `ghost update` which erred out, saying `Cannot find module '@vscode/sqlite3'\n"` from the knex node package. It offered to roll back to the last version, but failed, and then the site wasn't able to

[2022-04-02 10:55] grndng commented on #14413
Same here plus I can't even clean install on another server due to some dependency mismatch and a yarn error.

[2022-04-02 23:06] mateja176 opened #14414 "Cannot fetch assets when path other than root"
### Issue Summary

## nginx.conf - proxy

[code]

## docker-compose - ghost service

[code]

When ghost is served at `/`, everything works correctly. However, when ghost is served at `/blog`, assets such as `.css` and `.js` files cannot be found because the requests are rooted in `/`. For example:

[code]

### Steps to Reproduce

- Set up `docker-compose.yml` with `nginx` and `ghost` services
- Co

[2022-04-03 03:44] SergeyTsalkov opened #14415 "Unable to Install Theme"
### Issue Summary

When I go to Change Theme and preview a free theme, the page looks distorted (like the top of the page is cut off) and the button to install the theme is missing. Screenshot attached.
![ghost](https://user-images.githubusercontent.com/3589642/161410397-9ae55da1-679c-443c-910c-80fd10aefd6d.png)

### Steps to Reproduce

1. Go to settings
2. Click on Design
3. Click on Change Theme

[2022-04-03 07:15] helpme1 commented on #14413
I encounter exactly the same problem. Can't even revert back to old version with "ghost update --rollback"

[2022-04-03 15:04] #13748 closed

[2022-04-03 15:04] #13263 closed

[2022-04-03 23:06] timurguseynov opened #14416 "Broken preview inside the admin UI"
### Issue Summary

The preview modal is zoomed in and only a part of it visible on the screen.

Which resolves by removing this line:
`./versions/4.42.0/core/built/assets/vendor.min-ba66b98f7c24fa40e061c7ffc94f4e23.css:1279:  transform: translate(0, -30vh) scale(1.1);`
And adding `height: 100%`

I tried to find this line in the source code but couldn't.

### Steps to Reproduce

Installed the lates

[2022-04-04 07:00] #14413 closed

[2022-04-04 07:00] daniellockyer commented on #14413
Please see [this comment](https://forum.ghost.org/t/ghost-local-installation-fail-because-of-sqlite3/29363/2) on the forum for the reason and fix 🙂

[2022-04-04 07:07] daniellockyer commented on #14416
@timurguseynov Thank you for the report! I'm closing it as a duplicate of https://github.com/TryGhost/Ghost/issues/14415, so please follow progress in there 🙂

[2022-04-04 07:07] #14416 closed

[2022-04-04 07:10] daniellockyer commented on #14415
Thank you for the report 🙂 I can reproduce this so we shall investigate internally.

[2022-04-04 08:44] #14415 closed

[2022-04-04 13:14] daniellockyer commented on #14416
This was fixed and released in Ghost v4.42.1 🙂

[2022-04-04 13:14] daniellockyer commented on #14415
This was fixed and released in Ghost 4.42.1 🙂

[2022-04-04 13:49] timurguseynov commented on #14416
Thanks, Daniel :)

[2022-04-05 00:32] cultureclap commented on #14178
all good; thank you - I just deleted the account and made a new Strip connection :)

[2022-04-05 22:31] alfarhan commented on #14365
as mentioned above, you can find other javascript codes which calculate RTL words (Arabic, Hebrew, etc..) correctly. For example here
https://www.javascripttutorial.net/javascript-dom/javascript-word-counter/

[2022-04-06 15:09] #13740 closed

[2022-04-07 17:56] tbhaxor opened #14439 "Twitter card is not showing for the blog posts"
### Issue Summary

I am trying to post the link on Twitter and it is working. Here are the examples

**Working**
- https://twitter.com/tbhaxor/status/1509879525525823489?s=20&t=Wtymn5RV0LYsOWSHMH2FXg

**Not Working**
- https://twitter.com/tbhaxor/status/1512122487198601216?s=20&t=Wtymn5RV0LYsOWSHMH2FXg
- https://twitter.com/tbhaxor/status/1510929118451613697?s=20&t=Wtymn5RV0LYsOWSHMH2FXg
- https:/

[2022-04-07 21:36] nlaughton opened #14440 "AMP pages have no alt text on images"
### Issue Summary

This issue was reported by SEMRush. None of the /amp/ versions of the pages on our Ghost blog have alt text on the images.

It looks like <amp-img> supports the alt tag. Is there a reason it doesn't get set in the amp pages?

Thanks.

### Steps to Reproduce

1. Create a post with image
2. look at /amp page for that post

### Ghost Version

4

### Node.js Version

unknown

### Ho

[2022-04-08 11:29] ErisDS opened #14446 "Ghost 5.0: Breaking Changes"
The Ghost team has started working on preparations for 5.0, which will involve several breaking changes. There is no ETA or release date as yet, so please do not ask 😬

This issue serves as a living doc with all the known breaking changes as we decide on them. It is unlikely to be exhaustive until 5.0 actually drops.

---

## Known Breaking Changes So Far

### Database support changes:
- MySQL5 is

[2022-04-08 11:33] ErisDS commented on #14440
We'd welcome a PR to improve this feature.

[2022-04-08 19:34] #14439 closed

[2022-04-08 19:36] ErisDS commented on #14287
Ghost's editor isn't at all optimised for mobile. There are many much deeper issues that this. If you'd like to submit a PR to fix this particular problem, we'd be happy to merge it.

[2022-04-08 19:49] ErisDS commented on #14365
This has been raised many times before and not been fixed. We're very happy to accept PRs improving this behaviour 😄

[2022-04-08 19:49] #14341 closed

[2022-04-08 19:50] #14414 closed

[2022-04-08 19:51] ErisDS commented on #14383
I've not seen this crop up before. Would be happy to accept a PR improving the behaviour :)

[2022-04-08 19:52] ErisDS commented on #14278
Sounds like there's likely a windows path bug somewhere, would be fab if someone would PR a fix for it :)

[2022-04-08 20:02] alfarhan commented on #14365
well.. unfortunately, the last code i wrote was 20 years ago 🙃

[2022-04-08 21:06] anaclumos opened #14450 "Memory Leak"
### Issue Summary

Ghost 4.42 on Ubuntu 20.04 LTS has a memory leak.

<img width="998" alt="image" src="https://user-images.githubusercontent.com/31657298/162530153-72b8b44a-c54c-4187-a359-204fc2093f17.png">

### Steps to Reproduce

Just run the Ghost for a couple of days, and the ram usage will choke the server.

### Ghost Version

4.42

### Node.js Version

v16.14.0

### How did you install Ghos

[2022-04-09 10:11] snird opened #14451 "Ghost local install errors with "Cannot find module '@vscode/sqlite3'""
### Issue Summary

I tried upgrading an existing local install to 4.43.0 and ran into the issue
I assumed something is messed up with existing setup, so I deleted all and started from scratch with `ghost install local`.

But the same error occurs:
[code]

### Steps to Reproduce

Install ghost local or upgrade an existing setup to 4.43.0

### Ghost Version

4.43.0

### Node.js Version

v14.17.0

##

[2022-04-09 13:19] #14451 closed

[2022-04-09 13:19] daniellockyer commented on #14451
Please see [this](https://forum.ghost.org/t/ghost-local-installation-fail-because-of-sqlite3/29363/2) forum comment for the solution 🙂

[2022-04-09 14:52] snird commented on #14451
That worked!
Thank you @daniellockyer !
It's crazy appreciated you took the time to answer, especially on the weekend!

[2022-04-09 20:07] JoshStrobl commented on #14446
Why is the sqlite3 support being removed?

[2022-04-09 22:06] fueko opened #14452 "{{tiers}} helper with custom prefix, separator, last separator, and/or suffix does not pass GScan"
### Issue Summary

A theme includes `{{tiers}}` helper with custom prefix, separator, last separator, and/or suffix does not pass GScan.

E.g. using `{{tiers prefix="Access with:"}}` we receive an error during activation:
![Zrzut ekranu 2022-04-9 o 22 43 32](https://user-images.githubusercontent.com/23366922/162592830-7359fec0-1843-4e7f-b17f-fa892e9f0573.png)

Custom prefix, separator, last separa

[2022-04-11 01:56] naz commented on #14446
@JoshStrobl it is not being removed. SQLite3 will not be supported **in production**.

[2022-04-11 06:39] naz commented on #14452
Confirming the bug. Needs a fix in [gscan](https://github.com/TryGhost/gscan)

[2022-04-11 08:19] #14452 closed

[2022-04-11 15:59] behoyh opened #14461 "/content/* url undercases id's"
### Issue Summary

A content ID like `1e8bCHOJlGrr53HPLli4ApF-KMqdBuJtu` (especially if it looks like a slug) is converted to all lowercase once the request is processed. This is problematic because image plugins that are case-sensitive read the request / path data and are unable to remove the content from external providers. See [#36](https://github.com/robincsamuel/ghost-google-drive/issues/36)

[2022-04-11 16:35] daniellockyer commented on #14452
@fueko Thanks for the report 🙂 This was fixed in Ghost v4.43.1

[2022-04-11 17:39] behoyh commented on #14461
Apologies, looks like the problem was on my end.

[2022-04-11 17:39] #14461 closed

[2022-04-12 01:38] naz commented on #14452
Dzięki @fueko :pray:

[2022-04-13 10:09] saleheenkhan commented on #12031
Any Update on this feature?

[2022-04-14 07:11] 5factor commented on #14446
Are there any plans for better member/user support? Would love to be able to add custom attributes and data for members (bookmarks, bio, etc) without having to edit the core. And perhaps some sort of authentication or oAuth integration for using ghost accounts on another platform (eg. Mobile app for blog or custom site using content API)

[2022-04-15 18:56] avinasha commented on #14365
@ErisDS to work on this issue, the `countWords` helper here needs to be updated.
https://github.com/TryGhost/SDK/blob/main/packages/helpers/lib/utils/count-words.js#L20

Can I send a PR to that repo? How can I proceed?

[2022-04-16 16:56] stamepicmorg opened #14492 "Can not run any ghost4 images under linux docker"
### Issue Summary

## My compose config

[code]

## Error log
[code]

### Steps to Reproduce

1. `docker -v` is `Docker version 20.10.10, build b485636`
2. `Debian GNU/Linux 11 (bullseye)`
3. `docker-compose -v` is `Docker Compose version v2.4.1`
4. apply my config

### Ghost Version

any 4

### Node.js Version

bundled in docker image

### How did you install Ghost?

cause ghost is cool

### Data

[2022-04-16 17:00] stamepicmorg commented on #14492
help please...

a tried some versions of `4` ghost. and `-alpine` versions too. Now, I'am using `ghost3` but i want to use `v4` or `v5` after release.

thank you.

[2022-04-18 11:21] #14492 closed

[2022-04-18 11:26] stamepicmorg commented on #14492
very strange support. seriously? i cant to run your engine in docker. and you answered that it is not a bug?

a cant install any 4.x versions. come on.

[2022-04-18 11:35] stamepicmorg commented on #14492
@matthanley help please?

[2022-04-18 13:09] ErisDS commented on #14492
@stamepicmorg The docker images are provided by docker & the docker community, they are not provided or maintained by us. See https://hub.docker.com/_/ghost. Meanwhile, we do not provide support via GitHub, please use our [forum](https://forum.ghost.org).

[2022-04-18 22:17] Johnnyyyy1234 opened #14508 "Impersonation tokens do signup action if no account is found"
### Issue Summary

When a user is deleted it is expected that all tokens associated with that account are revoked. This is currently not the case.

Creating a token before deleting a user creates the account again when pasted into the browser.

### Steps to Reproduce

1. Create an access token for an account.
2. Delete that account.
3. Paste that token into your browser.
4. User is created again.

[2022-04-20 06:15] ksga opened #14516 "Database error after upgrade to 4.44"
### Issue Summary

Site runs fine on official docker image 4.41.3, but after upgrading to 4.44 fails migrating DB.
Using MariaDB 10.6

### Steps to Reproduce

1. Pull latest docker image 4.44-alpine
2. docker-compose up --build -d

### Ghost Version

4.44

### Node.js Version

? Included in docker image I guess

### How did you install Ghost?

Debian 11.1_ x86_64, Docker 20.10.12, Docker-compose 1

[2022-04-20 08:35] #14516 closed

[2022-04-20 08:35] matthanley commented on #14516
You'll need to make sure your row format is set to `dynamic`: https://ghost.org/docs/faq/troubleshooting-mysql-database/#error-er_too_big_rowsize

[2022-04-20 10:12] ksga commented on #14516
That does not seem to be the problem:

`MariaDB [blog]> show table status;
+----------------------------------------+--------+---------+------------+------+----------------+-------------+-----------------+--------------+-----------+----------------+---------------------+---------------------+------------+--------------------+----------+----------------+---------+------------------+-----------+
| N

[2022-04-20 13:56] fabsau commented on #14516
I have literally the same issue as @ksga and opened a topic in the ghost-forum which was flagged as spam by Akismet and therefore hidden.
My row format is also dynamic, I am also using docker and downgrading fixed the issue for me. The only difference from ksga setup is that I am using MariaDB version 10.5.15.

[2022-04-20 14:00] ksga commented on #14516
Upgraded to MariaDB 10.7 - same problem.

[2022-04-20 14:04] ErisDS commented on #13648
Hey @danimajo I still really want to get this done, but it turned out to require a lot more knowledge & context than I hoped. I don't think our tests are going to do a good job of picking up if formats change slightly. I also think we need more context of exactly which luxon functions to use where and why.

I know a couple of your PRs have now been closed by the stale bot, that's my bad. I need to

[2022-04-20 19:11] ErisDS commented on #14516
Matt's response that this is an environment issue and belonging on the forum is IMO correct as it is specific to MariaDB, and we have no explicit or official support for MariaDB. The [relevant topic](https://forum.ghost.org/t/er-too-big-rowsize-after-updating-to-4-44-alpine/29666/1) that got flagged by akismet has been approved and I suggest the conversation continue there 🙂

If debugging finds th

[2022-04-21 16:10] p-sims opened #14549 "Setting Publication Language to 'en_GB' rather than 'en' doesn't change spell check in editor"
### Issue Summary

We are publishing a website using Ghost in British English. We have set the Publication Language to 'en_GB' rather than 'en'. However even after doing so spell check in post editor still put red lines under words spelt correctly for English (UK), and then proposed US English spellings.
![Screenshot 2022-04-21 at 16 59 08](https://user-images.githubusercontent.com/64636731/164502

[2022-04-22 21:44] buarle commented on #14516
same issue here. thats annoying and the "solution" is no real help.

downgrading to ghost:4.41 worked around for the momemt...

[2022-04-26 11:30] ErisDS commented on #14549
To the best of my knowledge modern browsers do not provide a consistent, reliable API to set the language on a content editable field, instead the user's language choice in the browser is always preferred.

If it was even possible, we'd then need to discuss whether changing the language in the editor is a desired impact of the language setting, as the current intention of the setting is to do with

[2022-04-26 11:30] #14549 closed

[2022-04-27 17:40] RiddMa commented on #14301
Ubuntu local install, same problem.

[2022-04-27 17:46] RiddMa commented on #14301
I tried editing the tag in `<your-site>.com/ghost/#/tags/<the 404 tag>`, changing the slug and save. Then the problem is solved.

[2022-04-28 10:33] #14440 closed

[2022-04-28 11:42] #13280 closed

[2022-04-28 12:11] daniellockyer commented on #14450
Hey @anaclumos 👋🏻 Would you be able to provide more info on your server setup? How much RAM does your system have? If you have `htop` installed, can you post a screenshot of the output so we can see the RAM breakdown across processes 🙂

I spun up a $5 DigitalOcean 1-click instance running Ubuntu 20.04, Node v16.14.0, MySQL 8 and Ghost 4.44.0 about 10 days ago and I'm not seeing any similar issues.

[2022-04-28 12:44] hkrsmk commented on #13280
That's great news!

2022年4月28日(木) 19:43 Hannah Wolfe ***@***.***>:

[2022-04-29 06:06] AbhinavS96 opened #14632 "invited staff can signup using a different email id"
### Issue Summary

Staff members are invited using email ids but they can still signup using a different email id than the one with which they were invited.

### Steps to Reproduce

1. Invite a staff member via email
2. Staff member can signup using a different email id

### Ghost Version

4.41.0

### Node.js Version

16.13.1

### How did you install Ghost?

Ghost Docker with database connected ex

[2022-04-29 15:09] #13216 closed

[2022-04-30 05:04] hkrsmk opened #14633 "Sender email address gets set to Reply-to email when left blank"
### Issue Summary

If the sender email address is not set but the reply-to email is set, the sending is still from the reply-to email.

### Steps to Reproduce

1. Set a reply-to email
2. Leave sender email blank
3. Publish a test blog post
4. Observe that the sender email is the same as the reply-to email in the email header

### Ghost Version

4.46.0

### Node.js Version

14.19.1

### How did you

[2022-04-30 11:16] Kerumen opened #14634 "Migration error on newsletter when upgrading past v4.46.0 [MariaDB]"
### Issue Summary

When I tried to upgrade my Ghost from `v4.44.0` to `v4.46.0` I got this error message upon launch:

I must add, my `newsletters` table has no data:

<img width="901" alt="Screenshot 2022-04-30 at 13 15 12" src="https://user-images.githubusercontent.com/5436545/166103277-f0f4cfc8-2d12-40b6-931a-edbcadf87443.png">

### Steps to Reproduce

1. Upgrade Ghost to `v4.46.0`
2. Launch Gh

[2022-04-30 12:16] yannickcof commented on #14634
same here !!!!

[2022-04-30 23:15] thatfleminggent commented on #14634
I can confirm this issue , exact same issue as Kerumen with the following differences in environment:

* Running on CentOS 7 (7,9.2009)
* Nodejs 16.15.0
* Installed locally
* Upgraded from 4,42,1
* Database is MariaDB 1.4.22 (AWS RDS)
* Browser is Chrome 101.0.4951.41 on Windows 11

Hope that info helps

[2022-05-01 19:52] stefann42 opened #14635 ""Unknown SSL profile" for self-host using MySQL with SSL after mysql2 package update (v4.38+)"
### Issue Summary

Prior to this change https://github.com/TryGhost/Ghost/commit/bf6f607f424106c1973b09dd47f62c1b972b2ae6 self-hosters who connect to MySQL 5.7 using SSL were able to use this config as as discussed at https://forum.ghost.org/t/configure-mysql-over-tls-ssl/2297/8

[code]

Upgrading past v4.37 breaks Ghost (node app cannot start) with the error
`Unknown SSL profile "{ 'rejectUnautho

[2022-05-02 08:10] SimonBackx commented on #14634
Hi! Thank you for reporting this error 😊
- Could you post the full log output?
- Post the result of this SQL query: `SHOW VARIABLES LIKE 'sql_mode'`

[2022-05-02 10:16] Kerumen commented on #14634
Here is the full log output:

[code]

And here is the query result:

[code]

[2022-05-02 11:14] ceecko opened #14640 "Email stats don't work with Mailgun EU domain"
### Issue Summary

Email stats are updated only for the first fetched page of stats from Mailgun due to a missing EU domain in the code.
This is resolved in https://github.com/TryGhost/Publishing/pull/73

Opening a ticket here just in case the PR gets missed.

### Steps to Reproduce

1. Send a lot of emails through EU Mailgun account
2. Wait until email stats are updated

They will be updated only

[2022-05-02 11:44] ErisDS commented on #14640
Hey @ceecko nice catch, thanks for the great bug report and PR - I've dropped a review there.

[2022-05-02 13:10] ptpittman commented on #14634
Still getting this issue with 4.46.1, sadly! Running MariaDB on Debian, 10.5.15-MariaDB-0+deb11u1 Debian 11, also have not ever actually sent a newsletter so this table will be empty.

Here's output of above requested items:
+---------------+-------------------------------------------------------------------------------------------+
| Variable_name | Value

[2022-05-02 13:47] ceecko commented on #14640
@ErisDS should be resolved in the PR

[2022-05-02 14:47] Elrondo46 commented on #14634
Same problem here, rollbacked with a save to 4.45.0. I'm in mariadb

[2022-05-02 14:47] daniellockyer commented on #14634
Hi all - this seems to be an issue with Knex and MariaDB. I've opened the issue linked above, so hopefully it can be fixed soon 🙂

Just to point out, MariaDB is not an officially supported database for Ghost. It just happens to work given the similarities with MySQL, but we optimize and test for MySQL 5 and 8.

Ghost v5 [will](https://github.com/TryGhost/Ghost/issues/14446) **only** support MySQL

[2022-05-02 18:08] #14640 closed

[2022-05-02 18:19] #14632 closed

[2022-05-02 18:37] daniellockyer commented on #14635
@stefann42 I can't seem to reproduce it from your config example. If I replace the smart quotes with double quotes, it functions as expected (ie. it errors because I don't provide the CA certificate). Both our `mysql2` and `knex` dependencies are on the latest version, so I don't think we're missing anything there.

Can you have a look again and check the config you see breaking your site? Also no